﻿@model List<CompatibilityOptionModel>

<table class="table">
    <thead>
        <tr>
            <th colspan="3">Compatibility Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var compatibilityOption in Model)
        {
            <tr>
                <td>
                    @compatibilityOption.Name
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs editCompatibilityDialog" data-id="@compatibilityOption.Id" data-name="@compatibilityOption.Name" data-toggle="modal" data-target="#EditCompatibility-Modal">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button class="btn btn-danger btn-xs deleteCompatibilityOption" data-id="@compatibilityOption.Id" data-toggle="modal">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
