﻿@model List<CompetitorModel>

<table class="table" id="competitorTable">
    <thead>
        <tr>
            <th colspan="3">Competitors</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var competitor in Model)
        {
            <tr>
                <td>
                    @competitor.Name
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs openUpdCompetitorDialog" data-id="@competitor.Id" data-name="@competitor.Name" data-target="#EditCompetitor-Modal" data-toggle="modal">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button class="btn btn-danger btn-xs deleteCompetitor" data-toggle="modal" data-id="@competitor.Id">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>