﻿@{
    ViewBag.Title = "CrossReference";
}

<section class="content-header">
    <h1>
        Playbook
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs">
                    <li><a href="/CrossReference/CrossReference/ValidCompetitors">Valid Competitors</a></li>
                    <li><a href="/CrossReference/CrossReference/ValidCompatibility">Valid Compatibility</a></li>
                    <li><a href="/CrossReference/CrossReference/UserSubmittedCrossReferences">User Submitted Cross References</a></li>
                    <li><a href="/CrossReference/CrossReference/BulkImport">Bulk Import</a></li>
                    @if (User.IsInRole("admin"))
                    {
                        <li><a href="/CrossReference/CrossReference/ExportAllRecords">Export all Records</a></li>
                        <li class="active"><a href="/CrossReference/CrossReference/Admin">Admin</a></li>
                    }
                </ul>
                <div class="tab-content">
                    <div class="col-md-12">
                        <h3>Admin</h3>
                        <p>Change the password of the x-ref file if neccessary.</p>
                        <p>The current password is: <strong>FHAJFSAD!!@@#</strong></p>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">Password for X-ref export file:</label>
                            <div class="col-md-2">
                                <input type="password" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>

</section>

@section styles {
    <style type="text/css">
        /*Some customer styles for this page*/
    </style>
}

@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuCrossReference","menuCrossReferenceToolsPlaybook"]; // List all menus that should be activated when this page is opened

        // Document Ready
        $(document).ready(function () {

        });

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {

        }(window.page = window.page || {}, jQuery));
    </script>
}
