﻿@{
    ViewBag.Title = "CrossReference";
}

<section class="content-header">
    <h1>
        Playbook
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs">
                    <li><a href="/CrossReference/CrossReference/ValidCompetitors">Valid Competitors</a></li>
                    <li><a href="/CrossReference/CrossReference/ValidCompatibility">Valid Compatibility</a></li>
                    <li><a href="/CrossReference/CrossReference/UserSubmittedCrossReferences">User Submitted Cross References</a></li>
                    <li class="active"><a href="/CrossReference/CrossReference/BulkImport">Bulk Import</a></li>
                    @if (User.IsInRole("admin"))
                    {
                        <li><a href="/CrossReference/CrossReference/ExportAllRecords">Export all Records</a></li>
                        <li><a href="/CrossReference/CrossReference/Admin">Admin</a></li>
                    }
                </ul>
                <div class="tab-content">
                    <div class="col-md-12">
                        <h3>Bulk Import</h3>
                        <p>Please use if you have multiple cross reference you would like to add onto the table.</p>
                        <p>Please note that if you want to completely overwrite all of the records in the table, you will need to contact <strong>help@@profitoptics.com</strong> for assistence with this.</p>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="form-horizontal">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h3 class="playbook-h3">Step 1. Upload and Review Cross Reference Items</h3>
                                <ul class="playbook-ul">
                                    <li>When you download template file and populate with data, please keep file format (XLSX) the same.</li>
                                    <li>Do not change header name.</li>
                                    <li>Press <strong>Browse and Upload file</strong> button to select and upload file with populated data.</li>
                                </ul>
                                <div class="col-md-4">
                                    <button class="btn btn-default">1. Download Template</button>
                                    <button class="btn btn-primary">2. Browse and Upload file</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-horizontal">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h3 class="playbook-h3" style="margin-top:30px">Step 2. Review and Validate Data</h3>
                                <div class="col-md-12">
                                    <div class="pull-left"><label><input type="checkbox" /> Show rows with errors</label></div>
                                    <div class="pull-right"><a href="#">Exclude All Rows With Errors</a></div>
                                    <div class="clearfix"></div>

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="4">Competitor</th>
                                                <th colspan="2">Performance Health X-ref item</th>
                                            </tr>
                                            <tr>
                                                <th>Row</th>
                                                <th>Name</th>
                                                <th>Item No</th>
                                                <th>Item Description</th>
                                                <th>Item No (08 or Legacy)</th>
                                                <th>Compatibility</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-horizontal">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h3 class="playbook-h3">Step 3. Import Cross Reference Items</h3>
                                <ul class="playbook-ul">
                                    <li>When import is executed, previously imported records are <strong>retained</strong> in the database.</li>
                                </ul>
                                <div class="col-md-4">
                                    <button class="btn btn-primary">3. Import Cross Reference Items</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>

</section>

@section styles {
    <style type="text/css">
        /*Some customer styles for this page*/
    </style>
}

@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuCrossReference","menuCrossReferenceToolsPlaybook"]; // List all menus that should be activated when this page is opened

        // Document Ready
        $(document).ready(function () {

        });

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {

        }(window.page = window.page || {}, jQuery));
    </script>
}
