﻿@model CrossReferenceIndexModel
@{
    ViewBag.Title = "CrossReference";
}

<section class="content-header">
    <h1 class="pull-left">
        Cross Reference Item
    </h1>
    <div class="box-tools pull-right" style="margin-bottom: 5px; margin-top: -5px;">
        <button class="btn btn-primary createExportList" style="display: none">Create Export List</button>
        <button class="btn btn-primary startExporting">Start Exporting Item List</button>
        <button class="btn btn-primary cancelExporting" style="display: none">Cancel</button>
    </div>
</section>
<section class="content Filters">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Filter</h3>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Competitor</label>
                            <div class="col-md-3">
                                <select class="CompetitorIdFilter form-control CompetitorIdFilter" name="CompetitorIdFilter" style="width:100%;" id="CompetitorIdFilter">
                                    <option selected=""></option>
                                    @foreach (var competitor in Model.Competitors)
                                    {
                                        if (!competitor.Deleted)
                                        {
                                            <option value="@competitor.Id">@competitor.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <label class="col-md-2 control-label">Compatibility</label>
                            <div class="col-md-2">
                                <select class="CompatibilityOptionIdFilter form-control" name="CompatibilityOptionIdFilter" style="width:100%;" id="CompatibilityOptionIdFilter">
                                    <option selected=""></option>
                                    @foreach (var compatibilityOption in Model.CompatibilityOptions)
                                    {
                                        if (!compatibilityOption.Deleted)
                                        {
                                            <option value="@compatibilityOption.Id">@compatibilityOption.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Competitor Item</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control competitorItem" id="competitorItem" />
                            </div>
                            @*<div class="col-md-5">
                                    <label class="col-md-3 control-label">Where stars < </label>
                                    <div class="col-md-3" style="padding-top:7px">
                                        <div class='starrr'></div>
                                    </div>
                                    <label class="col-md-3 control-label">Where stars ></label>
                                    <div class="col-md-3"style="padding-top:7px">
                                        <div class='starrr'></div>
                                    </div>
                                </div>*@
                            <div class="col-md-4 text-right">
                                <button class="btn btn-primary applyFilter">Apply Filter</button>
                                <button class="btn btn-default clearFilter">Clear Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Item</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#CrossRefIntel-Modal">Add Cross Ref Intel</button>
                        <button class="btn btn-primary btn-sm clearSelection" style="display: none">Clear Selection</button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table" id="crossReference">
                        <thead>
                            <tr>
                                <th colspan="3" style="background:#f56954; color:white">Competitor</th>
                                <th colspan="7" style="background:#00c0ef; color:white">Cross Reference Item</th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th>Item #</th>
                                <th>Item Desc</th>
                                <th>Item #</th>
                                <th>Alt #</th>
                                <th>Item Desc</th>
                                <th>UOM</th>
                                <th style="width:210px">Compatibility</th>
                                <th><i class="fa fa-thumbs-o-up"></i></th>
                                <th><i class="fa fa-thumbs-o-down"></i></th>
                                <th style="width:100px">Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
            </div>
        </div>
    </div>
</section>



@*Modal ADD/EDIT CRT ITEM*@

<div class="modal fade" id="CrossRefIntel-Modal" role="dialog" aria-labelledby="CrossRefIntel-Modal">
    <div class="modal-dialog" role="document" style="width:850px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title addItemTitle" id="myModalLabel" display="none">Add Cross Ref Item</h4>
                <h4 class="modal-title editItemTitle" id="myModalLabel" display="none">Edit Existing Cross Reference Item</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <form id="addItemForm">
                        <input type="hidden" name="Id" id="Id" class="Id" />
                        <h4>Competitor Item <small>(Enter the Competitor item information below)</small></h4><br />
                        <div class="form-group">
                            <label class="col-md-4 control-label">Competitor Name:</label>
                            <div class="col-md-7">
                                <select class="CompetitorId form-control CompetitorId" name="CompetitorId" style="width:100%;">
                                    @foreach (var competitor in Model.Competitors)
                                    {
                                        if (@competitor.Deleted)
                                        {
                                            <option value="@competitor.Id" disabled>@competitor.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@competitor.Id">@competitor.Name</option>
                                        }
                                    }
                                </select>
                                <span class="field-validation-valid text-danger"
                                      data-valmsg-for="CompetitorId"
                                      data-valmsg-replace="true">
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Competitor Item:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control CompetitorItemNumber" name="CompetitorItemNumber" />
                                <span class="field-validation-valid text-danger"
                                      data-valmsg-for="CompetitorItemNumber"
                                      data-valmsg-replace="true">
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Competitor Item Desc:</label>
                            <div class="col-md-7">
                                <textarea cols="3" rows="3" class="form-control CompetitorItemDescription" name="CompetitorItemDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Competitor Item Web URL:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control CompetitorWebsiteUrl" name="CompetitorWebsiteUrl" />
                            </div>
                        </div>
                        <hr />
                        <h4>Item <small>(Enter the Item Number below)</small></h4><br />
                        <div class="form-group">
                            <label class="col-md-4 control-label">Item Number/MPN:</label>
                            <div class="col-md-7">
                                <select class="ItemId form-control ItemId" name="ItemId" style="width:100%;"></select>
                                <span class="field-validation-valid text-danger"
                                      data-valmsg-for="ItemId"
                                      data-valmsg-replace="true">
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Item Desc:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control ItemDescription" name="ItemDescription" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Alt Item:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control AlternativeItemId" name="AlternativeItemId" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Compatibility:</label>
                            <div class="col-md-7">
                                <select class="CompatibilityOptionId form-control" name="CompatibilityOptionId" style="width:100%;">
                                    @foreach (var compatibilityOption in Model.CompatibilityOptions)
                                    {
                                        if (compatibilityOption.Deleted)
                                        {
                                            <option value="@compatibilityOption.Id" disabled>@compatibilityOption.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@compatibilityOption.Id">@compatibilityOption.Name</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Note:</label>
                            <div class="col-md-7">
                                <textarea cols="3" rows="3" class="form-control Notes" name="Notes"></textarea>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary addRecord" display="none">Submit for Review</button>
                <button type="button" class="btn btn-primary editRecord" display="none">Save Changes</button>
            </div>
        </div>
    </div>
</div>

@*Modal DELETE*@

<div class="modal fade" id="DeleteCrossRefIntel-Modal" tabindex="-1" role="dialog" aria-labelledby="DeleteCrossRefIntel-Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Deleted Record</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-center">Are you sure you wish to delete this record?<br />This is not recoverable.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger deleteRecord">Delete</button>
            </div>
        </div>
    </div>
</div>

@*Modal Thumbs*@

<div class="modal fade" id="ThumbsCrossRefIntel-Modal" tabindex="-1" role="dialog" aria-labelledby="ThumbsCrossRefIntel-Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Deleted Record</h4>
                </div>*@
            <div class="modal-body">
                <div class="col-md-12">
                    <!-- Custom Tabs -->
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-thumbs-o-up"></i> (120)</a></li>
                            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><i class="fa fa-thumbs-o-down"></i> (15)</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div class="box-body chat" style="width: auto; height: 250px; overflow-y:scroll">
                                    <div class="item">
                                        <a href="#" class="name">Alexander Pierce</a>
                                        <span class="pull-right">1/12/2018 10:41 PM</span>
                                    </div>
                                </div>

                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                TBD
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- nav-tabs-custom -->
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@section styles {
    <style type="text/css">
        .radius100perc {
            border-radius: 100% !important;
            margin-right: 10px
        }

        .like-thumbsUp {
            background: #afe9a9 !important
        }

        .like-thumbsDown {
            background: #f5b8b8 !important
        }

        .item {
            border-bottom: 1px dotted #3c8dbc;
            padding-bottom: 10px;
        }

        .name {
            font-size: 16px;
            margin: 10px;
        }

        .field-validation-error {
            color: #e9111b;
        }

        span.select2-selection.form-control.select2-selection--single {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #555555;
            vertical-align: middle;
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }

        span.select2-selection.form-control:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }
    </style>
}

<script type="text/javascript">
    app.activeMenus = ["menuCrossReference","menuCrossReferenceToolsItem"]; // List all menus that should be activated when this page is opened

    var crossReferenceTable = $("#crossReference")
        .on('preXhr.dt', function (e, settings, data) {
            // callback before ajax call
            $('.table-overlay').show();
        }).on('xhr.dt', function (e, settings, json, xhr) {
            // callback after ajax call
            $('.table-overlay').hide();
        }).DataTable({
            lengthChange: true,
            autoWidth: false,
            processing: true,
            serverSide: true,
            searching: true,
            ordering: true,
            paging: true,
            pageLength: 10,
            //dom: "rtiSp",
            info: true,
            //scrollY: 500,
            //scrollCollapse: true,
            deferRender: true,
            scroller: {
                "loadingIndicator": true,
                "trace": true,
                "displayBuffer": 50,
                "boundaryScale": 0.5,
                "autoHeight": true,
                "serverWait": 0
            },
            order: [[0, "desc"]],
            drawCallback: function (settings) {
                crossReferenceRecord.attachCommentHandler();
                crossReferenceRecord.attachVoteHandlers();
                crossReferenceRecord.attachAddEditEventHandlers();
                crossReferenceRecord.attachDeleteEventHandler();
                crossReferenceRecord.attachFilterEventHandlers();
            },
            rowCallback: function (row, data, index) {
            },
            initComplete: function (settings, json) {

            },
            ajax: {
                url: '@Url.Action("GetCrossReferenceRecords", "CrossReference", new { area = "CrossReference" })',
                data: function (d) {
                    d.competitorId = $("#CompetitorIdFilter").val();
                    d.compatibilityId = $("#CompatibilityOptionIdFilter").val();
                    d.competitorItem = $("#competitorItem").val();
                    d.searchTerm = $("#crossReference_filter input[type='search']").val();
                },
                type: "POST"
            },
            language: {
                processing: ''
            },
            columns: [
                {
                    data: "CompetitorName",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left",
                    width: 120
                },
                {
                    data: "CompetitorItemNumber",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left",
                    width: 180
                },
                {
                    data: "CompetitorItemDescription",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left",
                    width: 100
                },
                {
                    data: "ItemId",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left",
                    width: 100
                },
                {
                    data: "AlternativeItemNumber",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left",
                    width: 100
                },
                {
                    data: "ItemDescription",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left"
                },
                {
                    data: "ItemUom",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left"
                },
                {
                    data: "CompatibilityOptionName",
                    //ordering: false,
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left"
                },
                {
                    data: "ThumbsUpCount",
                    render: function (data, type, full, meta) {
                        var userThumbsUpVote = full["CurrentUserThumbsUp"];
                        var res = '<span style="white-space: nowrap;" class="' + (userThumbsUpVote ? "like-thumbsUp" : "") + '">';
                        res += '<button title="" data-id="' + full.Id +'" class="btn btn-default btn-xs thumbs-up-vote"><i class="fa fa-thumbs-o-up" ></i></button>';
                        res += '<button title="" data-id="' + full.Id +'" class="btn btn-default btn-xs thumbs-up-vote-list">' + data + '</button></span>';
                        return res;
                    },
                    className: "text-left"
                },
                {
                    data: "ThumbsDownCount",
                    render: function (data, type, full, meta) {
                        var userThumbsDownVote = full["CurrentUserThumbsDown"];
                        var res = '<span style="white-space: nowrap;" class="' + (userThumbsDownVote ? "like-thumbsDown" : "") + '">';
                        res += '<button title="" data-id="' + full.Id +'" class="btn btn-default btn-xs thumbs-down-vote"><i class="fa fa-thumbs-o-down" ></i></button>';
                        res += '<button title="" data-id="' + full.Id +'" class="btn btn-default btn-xs thumbs-down-vote-list">' + data + '</button></span>';
                        return res;
                    },
                    className: "text-left"
                },
                {
                    data: null,
                    render: function (data, type, full, meta) {
                        return generateButtons(data) || "";
                    },
                    className: "text-left"
                }]
        });

    var generateButtons = function (data) {
        var commentVisible = (data.Notes == null || data.Notes == "") ? "none" : "";
        var editButton = '<button class="btn btn-default btn-xs actionBtn" data-toggle="modal" data-id="' + data.Id + '" data-target="#CrossRefIntel-Modal"><span class="glyphicon glyphicon-pencil"></span></button>';
        var deleteButton = '<button class="btn btn-default btn-xs actionBtn" data-toggle="modal" data-id="' + data.Id + '" data-target="#DeleteCrossRefIntel-Modal"><span class="glyphicon glyphicon-trash"></span></button>';
        var commentButton = '<button class="btn btn-default btn-xs actionBtn" data-container="body" data-toggle="popover" data-placement="auto" data-content=' + data.Notes + ' style = display:' + commentVisible + ' > <span class="glyphicon glyphicon-comment"></span></button >';

        var checkbox = '<input type="checkbox" style="display: none;" class="isItemSelected" onchange="onAddItemsCheckBoxClicked(' + data.Id + ')" data-value="' + data.Id + '" />';

        var buttons = commentButton + checkbox;


        if (showEditDeleteBtn()){
            buttons = buttons + editButton + deleteButton;
        }
        return buttons;
    };


    var onAddItemsCheckBoxClicked = function(itemId) {
        var found = crossReferenceRecord.itemsList.find(function (e) {
            return e.ItemId === itemId;
        });
        if (!found) {
            crossReferenceRecord.itemsList.push(itemId);
        }
    }

    var showEditDeleteBtn = function () {
        return @User.IsInRole("admin").ToString().ToLower() || @User.IsInRole("crossreferencemanager").ToString().ToLower();
    }



    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({ trigger: "hover" });
        crossReferenceRecord.initSelectLists();
    });

    (function (page, $, undefined) {
    }(window.page = window.page || {}, jQuery));
</script>

<script type="text/javascript" src="~/Modules/ProfitOptics.Modules.CrossReference/Content/js/crossReferenceRecord.js"></script>

