﻿@model CrossReferenceIndexModel
@{
    ViewBag.Title = "CrossReference";
}

<section class="content-header">
    <h1>
        Playbook
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs">
                    <li><a href="/CrossReference/CrossReference/ValidCompetitors">Valid Competitors</a></li>
                    <li><a href="/CrossReference/CrossReference/ValidCompatibility">Valid Compatibility</a></li>
                    <li class="active"><a href="/CrossReference/CrossReference/UserSubmittedCrossReferences">User Submitted Cross References</a></li>
                    <li><a href="/CrossReference/CrossReference/BulkImport">Bulk Import</a></li>
                    @if (User.IsInRole("admin"))
                    {
                        <li><a href="/CrossReference/CrossReference/ExportAllRecords">Export all Records</a></li>
                        <li><a href="/CrossReference/CrossReference/Admin">Admin</a></li>
                    }
                </ul>
                <div class="tab-content">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <h3>User Submitted Cross References</h3>
                            <p>Please see all user Submitted References below. Please review, and then modify, approve/reject.</p>
                            <div class="clearfix"></div>
                            <div class="box-body">
                                <table class="table" id="crossReferenceForApproval" style="margin-top:20px">
                                    <thead>
                                        <tr>
                                            <th colspan="2" style="background:white">&nbsp;</th>
                                            <th colspan="3" style="background:#f56954; color:white">Competitor</th>
                                            <th colspan="5" style="background:#00c0ef; color:white">Cross Reference Item</th>
                                            <th style="background:white">&nbsp;</th>
                                        </tr>
                                        <tr>
                                            <th>Submitted by</th>
                                            <th>Date/Time</th>
                                            <th>Name</th>
                                            <th>Item #</th>
                                            <th>Item Desc</th>
                                            <th>Item #</th>
                                            <th>Alt #</th>
                                            <th>Item Desc</th>
                                            <th>UOM</th>
                                            <th>Compatability</th>
                                            <th style="width:130px">Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>

</section>


@*Modal EDIT*@

<div class="modal fade" id="EditCrossRefIntel-Modal" role="dialog" aria-labelledby="EditCrossRefIntel-Modal">
    <div class="modal-dialog" role="document" style="width:850px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Existing Cross Reference Item</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <form id="editUserSubmittedRecord">
                        <h4>Competitor Item <small>(Enter the Competitor item information below)</small></h4><br />
                        <div class="form-group">
                            <label class="col-md-4 control-label">Competitor Name:</label>
                            <div class="col-md-7">
                                <select class="CompetitorId form-control CompetitorId" name="CompetitorId" style="width:100%;">
                                    @foreach (var competitor in Model.Competitors)
                                    {
                                        if (@competitor.Deleted)
                                        {
                                            <option value="@competitor.Id" disabled>@competitor.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@competitor.Id">@competitor.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Competitor Item:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control CompetitorItemNumber" name="CompetitorItemNumber" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Competitor Item Desc:</label>
                            <div class="col-md-7">
                                <textarea cols="3" rows="3" class="form-control CompetitorItemDescription" name="CompetitorItemDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Competitor Item Web URL:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control competitorWebsiteUrl" name="CompetitorWebsiteUrl" />
                            </div>
                        </div>
                        <hr />
                        <h4>Item <small>(Enter the Item Number below)</small></h4><br />
                        <div class="form-group">
                            <label class="col-md-4 control-label">Item Number/MPN:</label>
                            <div class="col-md-7">
                                <select class="ItemId form-control ItemId" name="ItemId" style="width:100%;"></select>
                                <span class="field-validation-valid text-danger"
                                      data-valmsg-for="ItemId"
                                      data-valmsg-replace="true">
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Item Desc:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control ItemDescription" name="ItemDescription" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Alt Item:</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control AlternativeItemId" name="AlternativeItemId" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Compatibility:</label>
                            <div class="col-md-7">
                                <select class="CompatibilityOptionId form-control" name="CompatibilityOptionId" style="width:100%;">
                                    @foreach (var compatibilityOption in Model.CompatibilityOptions)
                                    {
                                        if (compatibilityOption.Deleted)
                                        {
                                            <option value="@compatibilityOption.Id" disabled>@compatibilityOption.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@compatibilityOption.Id">@compatibilityOption.Name</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Note:</label>
                            <div class="col-md-7">
                                <textarea cols="3" rows="3" class="form-control Notes" name="Notes"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <hr />
                <h3><small>Who Submitted This: <strong>Jon Doe - 1/20/2017 5:40 PM</strong></small></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary editRecord">Save Changes</button>
            </div>
        </div>
    </div>
</div>

@*Modal DELETE*@

<div class="modal fade" id="DeleteCrossRefIntel-Modal" tabindex="-1" role="dialog" aria-labelledby="DeleteCrossRefIntel-Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Deleted Record</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-center">Are you sure you wish to delete this record?<br />This is not recoverable.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger deleteRecord">Delete</button>
            </div>
        </div>
    </div>
</div>


@section styles {
    <style type="text/css">
        /*Some customer styles for this page*/
    </style>
}

<script type="text/javascript">
        app.activeMenus = ["menuCrossReference","menuCrossReferenceToolsPlaybook"]; // List all menus that should be activated when this page is opened



        var crossReferenceTable = $("#crossReferenceForApproval")
            .on('preXhr.dt', function (e, settings, data) {
                // callback before ajax call
                $('.table-overlay').show();
            })
            .on('xhr.dt', function (e, settings, json, xhr) {
                // callback after ajax call
                $('.table-overlay').hide();
            }).DataTable({
            lengthChange: true,
            autoWidth: false,
            processing: true,
            pageLength: 10,
            serverSide: true,
            searching: true,
            ordering: true,
            paging: true,
            //dom: "rtiSp",
            info: true,
            //scrollY: 500,
            //scrollCollapse: true,
            deferRender: true,
            scroller: {
                "loadingIndicator": true,
                "trace": true,
                "displayBuffer": 50,
                "boundaryScale": 0.5,
                "autoHeight": true,
                "serverWait": 0
            },
            order: [[0, "desc"]],
            drawCallback: function (settings) {
                attachApproveHandler();
                //attachCommentHandler();
            },
            rowCallback: function (row, data, index) {
            },
            initComplete: function (settings, json) {
                attachApproveHandler();
                attachCommentHandler();
            },
            ajax: {
                url: '@Url.Action("GetCrossReferenceRecordsForApproval", "CrossReference", new { area = "CrossReference" })',
                data: function (d) {
                    d.searchTerm = $("#crossReferenceForApproval_filter input[type='search']").val();
                },
                type: "POST"
            },
            language: {
                processing: ''
            },
            columns: [
                {
                    data: "SubmittedByName",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left"
                },
                {
                    data: "StartDate",
                    render: function (data, type, full, meta) {
                        return full.StartDateString;
                    },
                    className: "text-left"
                },
                {
                    data: "CompetitorName",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left",
                    width: 120
                },
                {
                    data: "CompetitorItemNumber",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left",
                    width: 180
                },
                {
                    data: "CompetitorItemDescription",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left",
                    width: 100
                },
                {
                    data: "ItemId",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left",
                    width: 100
                },
                {
                    data: "AlternativeItemNumber",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left",
                    width: 100
                },
                {
                    data: "ItemDescription",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left"
                },
                {
                    data: "ItemUom",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left"
                },
                {
                    data: "CompatibilityOptionName",
                    render: function (data, type, full, meta) {
                        return data;
                    },
                    className: "text-left"
                },
                {
                    data: null,
                    render: function (data, type, full, meta) {
                        var commentVisible = (data.Notes == null || data.Notes == "") ? "none" : "";
                        return '<button class="btn btn-default btn-xs" data-toggle="modal" data-target="#EditCrossRefIntel-Modal"><span class="glyphicon glyphicon-pencil"></span></button>' +
                            '<button class="btn btn-default btn-xs" data-container="body" data-toggle="popover" data-placement="auto" data-content=' + data.Notes + ' style = display:' + commentVisible + '><span class="glyphicon glyphicon-comment"></span></button>' +
                                        '<button class="btn btn-default btn-xs " data-toggle="modal" data-target="#DeleteCrossRefIntel-Modal"><span class="glyphicon glyphicon-trash"></span></button>'+
                                        '<button class="btn btn-success btn-xs approveItem"><span class="glyphicon glyphicon-ok"></span></button>';
                    },
                    className: "text-left"
                }]
        });

    var attachApproveHandler = function () {
        $(".approveItem").on("click", function (e) {
            var row = $(this).closest('tr');
            var rowId = crossReferenceTable.row(row).data().Id;
            crossReference.approveCrossReferenceRecord(rowId, function () {
                app.unblockUI();
                bootbox.hideAll();
                crossReferenceTable.ajax.reload(attachEventHandlers, false);
            });
        });
    };

    var initSelectList = function () {
        $(".CompetitorId").select2({
            placeholder: "Any(select a competitor to view only their products)"
        });

        $(".CompatibilityOptionId").select2({
            placeholder: "Any(select compatibility)"
        });

        $(".ItemId").select2({
            placeholder: "Search for Medco Item Number/Description /MPN",
            ajax: {
                url: '/CrossReference/CrossReference/ItemLookupAutocomplete',
                dataType: 'json',
                type: "POST",
                quietMillis: 50,
                data: function (term) {
                    return {
                        term: term.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    };
                },
                dropdownParent: $('#EditCrossRefIntel-Modal'),
                cache: true
            },
            minimumInputLength: 1,
            dropdownCssClass: 'bigdrop',
            templateResult: formatResult,
            templateSelection: formatResultSelection,
            escapeMarkup: function (t) { return t; }
        });

        $(".ItemId").on("change", function () {
            $(".ItemDescription").val($(".select2-results__option--highlighted .row .col-sm-8").text());
        });

    };

    var attachEditRowHandler = function () {

        $("#EditCrossRefIntel-Modal").on('shown.bs.modal', function (e) {
            var row = e.relatedTarget.closest('tr');
            var data = crossReferenceTable.row(row).data();
            var rowId = data.Id;
            var thisModal = $(this);

            populateModal(data, thisModal);

            $(".editRecord").on("click", function () {
                var editForm = $('#editUserSubmittedRecord');
                var userData = editForm.serializeObject();
                userData.Id = rowId;

                crossReference.editCrossReferenceRecordForApproval(userData, function () {
                    app.unblockUI();
                    crossReferenceTable.ajax.reload(attachEventHandlers, false);
                    thisModal.modal("hide");
                });
            });
        });

        function populateModal(data, modal) {
            for (attr in data) {
                if (attr == "ItemId") {
                    modal.find('.' + attr + '').empty().append("<option value = " + data.ItemId + ">" + data.ItemNumber + "/MPN</option>").trigger("change");
                } else {
                    modal.find('.' + attr + '').val(data[attr]).trigger("change");
                }
            };
        }

    };

    var attachEventHandlers = function () {
        attachApproveHandler();
        attachCommentHandler();
    };
    var attachCommentHandler = function () {
        $("#crossReferenceForApproval").find('[data-toggle="popover"]').on("click", function () {
            var row = $(this).closest('tr');
            var notes = crossReferenceTable.row(row).data().Notes;
            bootbox.alert(notes);
        });
    }

    var attachDeleteRowHandler = function () {
        $("#DeleteCrossRefIntel-Modal").on('shown.bs.modal', function (e) {
            var row = e.relatedTarget.closest('tr');
            var rowId = crossReferenceTable.row(row).data().Id;
            var thisModal = $(this);

            $(".deleteRecord").on("click", function () {
                crossReference.removeCrossReferenceRecordForApproval(rowId, function (data) {
                    app.unblockUI();
                    crossReferenceTable.ajax.reload(attachEventHandlers, false);
                    thisModal.modal("hide");
                });
            })
        });
    };

    function formatResult(result) {
        if (result.loading != true) {
            result = "<div class='row'><div class='col-sm-4'><b>" + result.id + "</b></div><div class='col-sm-8'>"
                + result.itemDescription + "</div></div><div class='row'><div class='col-sm-6'>AltItemMedco: "
                + (result.alternateItemNumberMedco != null ? result.alternateItemNumberMedco : "N\A") + "</div>"
                + "<div class='col-sm-6'>MPN: " + (result.mpn != null ? result.mpn : "N\A") + "</div></div>";
            return result;
        }
        return result.text;
    }

    function formatResultSelection(result) {
        return result.text;
    }


    // Document Ready
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({ trigger: "hover" });

        initSelectList();
        attachDeleteRowHandler();
        attachEditRowHandler();

    });

    // Encapsulate page logic. Check out page.js for example of public and private methods and properties
    (function (page, $, undefined) {

    }(window.page = window.page || {}, jQuery));
</script>
