﻿@model List<CompetitorModel>
@{
    ViewBag.Title = "CrossReference";
}

<section class="content-header">
    <h1>
        Playbook
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="/CrossReference/CrossReference/ValidCompetitors">Valid Competitors</a></li>
                    <li><a href="/CrossReference/CrossReference/ValidCompatibility">Valid Compatibility</a></li>
                    <li><a href="/CrossReference/CrossReference/UserSubmittedCrossReferences">User Submitted Cross References</a></li>
                    <li><a href="/CrossReference/CrossReference/BulkImport">Bulk Import</a></li>
                    @if (User.IsInRole("admin"))
                    {
                        <li><a href="/CrossReference/CrossReference/ExportAllRecords">Export all Records</a></li>
                        <li><a href="/CrossReference/CrossReference/Admin">Admin</a></li>
                    }
                </ul>
                <div class="tab-content">
                    <div class="col-md-12">
                        <h3>Valid Competitors</h3>
                        <p>Please enter in the valid competitors that you will have cross reference for in the tool</p>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-block openAddCompetitorDialog" data-toggle="modal" data-target="#AddCompetitor-Modal"><span class="glyphicon glyphicon-plus"></span> Add New Record </button>
                        </div>
                        <div class="col-md-3 competitors">
                            @await Html.PartialAsync("_CompetitorTable", Model)
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
        </div>
    </div>
</section>

<!-- Modal AddCompetitor -->
<div class="modal fade" id="AddCompetitor-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Competitor</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-horizontal">
                        <label class="col-md-4 control-label">Competitor Name</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeItemWindow" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="addCompetitor" class="btn btn-primary addCompetitor">Add Competitor</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal EditCompetitor -->
<div class="modal fade" id="EditCompetitor-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Competitor</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-horizontal">
                        <label class="col-md-4 control-label">Competitor Name</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeItemWindow" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="updateCompetitor" class="btn btn-primary updateCompetitor">Update Competitor</button>
            </div>
        </div>
    </div>
</div>

@section styles {
    <style type="text/css">
        /*Some customer styles for this page*/
    </style>
}

<script type="text/javascript">
    app.activeMenus = ["menuCrossReference", "menuCrossReferenceToolsPlaybook"]; // List all menus that should be activated when this page is opened

    var table = null;
    // Document Ready
    $(document).ready(function () {
        registerEvents();
    });

    function registerEvents() {
        attachDeleteCompetitorEvent();
        attachAddCompetitorEvent();
        attachEditCompetitorEvent();
    }

    function attachDeleteCompetitorEvent() {
        $(".deleteCompetitor").on("click", function () {
            var id = $(this).data("id");
            crossReference.removeCompetitor(id, function (data) {
                app.unblockUI();
                $(".competitors").html(data);
                attachDeleteCompetitorEvent();
            });
        });
    }

    function attachAddCompetitorEvent() {
        var competitorModal = $("#AddCompetitor-Modal");

        competitorModal.on("show.bs.modal", function () {
            $(this).find("input").val('');
        });

        $(".addCompetitor").on("click", function () {
            var competitorName = competitorModal.find('input').val();
            crossReference.addCompetitor(competitorName, function (data) {
                app.unblockUI();
                $(".competitors").html(data);
                $("#AddCompetitor-Modal").modal('toggle');
                attachDeleteCompetitorEvent();
            });
        });
    }

    function attachEditCompetitorEvent() {
        var competitorModal = $("#EditCompetitor-Modal");
        var competitorId = 0;
        var competitorName = "";

        competitorModal.on('show.bs.modal', function (e) {
            competitorId = $(e.relatedTarget).data("id");
            competitorName = $(e.relatedTarget).data("name");
            competitorModal.find('input').val(competitorName);
        });

        $(".updateCompetitor").on("click", function () {
            var newCompetitorName = competitorModal.find('input').val();
            crossReference.updateCompetitor(competitorId, newCompetitorName, function (data) {
                app.unblockUI();
                $(".competitors").html(data);
                $("#EditCompetitor-Modal").modal('toggle');
                attachDeleteCompetitorEvent();
            });
        });
    }

    // Encapsulate page logic. Check out page.js for example of public and private methods and properties
    (function (page, $, undefined) {

    }(window.page = window.page || {}, jQuery));
</script>