﻿@model List<CompatibilityOptionModel>
@{
    ViewBag.Title = "CrossReference";
}

<section class="content-header">
    <h1>
        Playbook
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs">
                    <li><a href="/CrossReference/CrossReference/ValidCompetitors">Valid Competitors</a></li>
                    <li class="active"><a href="/CrossReference/CrossReference/ValidCompatibility">Valid Compatibility</a></li>
                    <li><a href="/CrossReference/CrossReference/UserSubmittedCrossReferences">User Submitted Cross References</a></li>
                    <li><a href="/CrossReference/CrossReference/BulkImport">Bulk Import</a></li>
                    @if (User.IsInRole("admin"))
                    {
                        <li><a href="/CrossReference/CrossReference/ExportAllRecords">Export all Records</a></li>
                        <li><a href="/CrossReference/CrossReference/Admin">Admin</a></li>
                    }
                </ul>
                <div class="tab-content">
                    <div class="col-md-12">
                        <h3>Valid Compatibility</h3>
                        <p>Please enter the valid compatibility measures that you would like to use to compare competitor products to your own.</p>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="col-md-3">
                            <button class="btn btn-primary btn-block " data-target="#AddCompatibility-Modal" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Add New Record</button>
                        </div>
                        <div class="col-md-3 compatibilityOptions">
                            @await Html.PartialAsync("_CompatibilityOptionsTable", Model)
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
</section>

<!-- Modal Compatibility -->
<div class="modal fade" id="AddCompatibility-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Compatibility</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-horizontal">
                        <label class="col-md-4 control-label">Compatibility Option</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeItemWindow" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="addCompatibility" class="btn btn-primary addCompatibility">Add Compatibility</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Compatibility -->
<div class="modal fade" id="EditCompatibility-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Compatibility</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-horizontal">
                        <label class="col-md-4 control-label">Compatibility Option </label>
                        <div class="col-md-7">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeItemWindow" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="editCompatibility" class="btn btn-primary editCompatibility">Edit Compatibility</button>
            </div>
        </div>
    </div>
</div>

@section styles {
    <style type="text/css">
        /*Some customer styles for this page*/
    </style>
}

<script type="text/javascript">
    app.activeMenus = ["menuCrossReference", "menuCrossReferenceToolsPlaybook"]; // List all menus that should be activated when this page is opened

    // Document Ready
    $(document).ready(function () {
        attachDeleteEvent();
        attachAddEvent();
        attachEditEvent();
    });

    function attachDeleteEvent() {

        $(".deleteCompatibilityOption").on("click", function () {
            var id = $(this).data("id");
            crossReference.removeCompatibilityOption($(this).data("id"), function (data) {
                app.unblockUI();
                $(".compatibilityOptions").html(data);
                attachDeleteEvent();
            });
        });
    }

    function attachAddEvent() {
        var competitorModal = $("#AddCompatibility-Modal");

        competitorModal.on("show.bs.modal", function () {
            $(this).find("input").val('');
        });

        $(".addCompatibility").on("click", function () {
            var compatibilityName = competitorModal.find('input').val();
            crossReference.addCompatibilityOption(compatibilityName, function (data) {
                app.unblockUI();
                $(".compatibilityOptions").html(data);
                $("#AddCompatibility-Modal").modal('toggle');
                attachDeleteEvent();
            });
        });
    }

    function attachEditEvent() {
        var competitorModal = $("#EditCompatibility-Modal");
        var compatibilityName = "";
        var compatibilityOptionId = 0;

        competitorModal.on('show.bs.modal', function (e) {
            compatibilityOptionId = $(e.relatedTarget).data("id");
            compatibilityName = $(e.relatedTarget).data("name");
            $(this).find('input').val(compatibilityName);
        });

        $(".editCompatibility").on("click", function () {
            newCompatibilityOptionName = competitorModal.find('input').val();
            crossReference.updateCompatibilityOption(compatibilityOptionId, newCompatibilityOptionName, function (data) {
                app.unblockUI();
                $(".compatibilityOptions").html(data);
                $("#EditCompatibility-Modal").modal('toggle');
                attachDeleteEvent();
            });
        });
    }

    // Encapsulate page logic. Check out page.js for example of public and private methods and properties
    (function (page, $, undefined) {

    }(window.page = window.page || {}, jQuery));
</script>