﻿@{
    ViewBag.Title = "Showcase - DataTables";
}

<section class="content-header">
    <h1>
        Data Tables
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Table Header Section</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="dt-table" class="table table-bordered table-striped table-hover font-condensed">
                        <thead>
                            <tr>
                                <th>Text</th>
                                <th>Date</th>
                                <th>Percent</th>
                                <th>Notes</th>
                                <th>Currency</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Table Header Section - with scroll</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="dt-table-2" class="table table-bordered table-striped table-hover font-condensed">
                        <thead>
                            <tr>
                                <th>Text</th>
                                <th>Date</th>
                                <th>Percent</th>
                                <th>Notes</th>
                                <th>Currency</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Table Header Section - with double header</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="dt-table-3" class="table table-bordered table-striped table-hover font-condensed">
                        <thead>
                            <tr>
                                <th colspan="5">Title 1</th>
                                <th>Title 2</th>
                            </tr>
                            <tr>
                                <th>Text</th>
                                <th>Date</th>
                                <th>Percent</th>
                                <th>Notes</th>
                                <th>Currency</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4" style="text-align:right !important">Total</th>
                                <th style="text-align:right !important">$122,355</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

</section>

@section styles {
    <style type="text/css">
    </style>
}

@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuShowcase", "menuShowcaseDataTables"]; // List all menus that should be activated when this page is opened

        var dataTableShowcase = {};
        var dataTable = null;       

        $(function () {
            dataTable = $('#dt-table').on('preXhr.dt', function (e, settings, data) {
                // callback before ajax call
                $('.table-overlay').show();
            }).on('xhr.dt', function (e, settings, json, xhr) {
                // callback after ajax call
                $('.table-overlay').hide();
            }).DataTable({
                lengthChange: true,
                autoWidth: false,
                processing: true,
                serverSide: true,
                searching: true,
                ordering: true,
                paging: true,
                info: true,
                pageLength: 10,
                lengthMenu: [10, 25, 50, 100, 250, 500],
                searchDelay: 1500,
                ajax: {
                    url: '@Url.Action("GetDataTableExample", "DataTables")',
                    data: function (d) {
                        // attach additional arguments like this:
                        // d.someArgument = "value";
                    },
                    type: "POST"
                },
                language: {
                    processing: ''
                },
                columns: [{
                    data: "TextValue",
                    orderable: true,
                    width: "150",
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + (full.TextValue != null ? full.TextValue : "") + "</span>";
                    }
                }, {
                    data: "DateValue",
                    orderable: true,
                    width: "50",
                    className: "text-right",
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + full.DateString + "</span>";
                    }
                }, {
                    data: "PercentValue",
                    orderable: true,
                    width: "50",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + (full.PercentValue != null ? full.PercentValue.formatPercent(1) : "") + "</span>";
                    }
                }, {
                    data: "Notes",
                    orderable: true,
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + (full.Notes != null ? full.Notes : "") + "</span>";
                    }
                }, {
                    data: "CurrencyValue",
                    orderable: true,
                    width: "80",
                    className: "text-right",
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + (full.CurrencyValue != null ? full.CurrencyValue.formatMoney(0, '.', ',') : "") + "</span>";
                    }
                }, {
                    data: null,
                    orderable: false,
                    width: "100",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<div class="btn-group btn-group-xs">' +
                               '    <button type="button" class="btn btn-default" data-id="' + full.Id + '" data-tableid ="dt-table" onclick="onAddClicked(this);"><span class="glyphicon glyphicon-plus"></span></button>' +
                               '    <button type="button" class="btn btn-default" data-id="' + full.Id + '" data-tableid ="dt-table" onclick="onEditClicked(this);"><span class="glyphicon glyphicon-pencil"></span></button>' +
                               '    <button type="button" class="btn btn-default" data-id="' + full.Id + '" data-tableid ="dt-table" onclick="onDeleteClicked(this);"><span class="glyphicon glyphicon-remove"></span></button>' +
                               '</div>';
                    }
                }]
            });
        });

        $(function () {
            dataTable = $('#dt-table-2').on('preXhr.dt', function (e, settings, data) {
                // callback before ajax call
                $('.table-overlay').show();
            }).on('xhr.dt', function (e, settings, json, xhr) {
                // callback after ajax call
                $('.table-overlay').hide();
            }).DataTable({
                lengthChange: true,
                autoWidth: false,
                processing: true,
                serverSide: true,
                searching: true,
                ordering: true,
                paging: true,
                info: true,
                pageLength: 25,
                lengthMenu: [10, 25, 50, 100, 250, 500],
                scrollY: "100px",
                searchDelay: 1500,
                ajax: {
                    url: '@Url.Action("GetDataTableExample", "DataTables")',
                    data: function (d) {
                        // attach additional arguments like this:
                        // d.someArgument = "value";
                    },
                    type: "POST"
                },
                language: {
                    processing: ''
                },
                columns: [{
                    data: "TextValue",
                    orderable: true,
                    width: "150",
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + (full.TextValue != null ? full.TextValue : "") + "</span>";
                    }
                }, {
                    data: "DateValue",
                    orderable: true,
                    width: "50",
                    className: "text-right",
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + full.DateString + "</span>";
                    }
                }, {
                    data: "PercentValue",
                    orderable: true,
                    width: "50",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + (full.PercentValue != null ? full.PercentValue.formatPercent(1) : "") + "</span>";
                    }
                }, {
                    data: "Notes",
                    orderable: true,
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + (full.Notes != null ? full.Notes : "") + "</span>";
                    }
                }, {
                    data: "CurrencyValue",
                    orderable: true,
                    width: "80",
                    className: "text-right",
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + (full.CurrencyValue != null ? full.CurrencyValue.formatMoney(0, '.', ',') : "") + "</span>";
                    }
                }, {
                    data: null,
                    orderable: false,
                    width: "100",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<div class="btn-group btn-group-xs">' +
                               '    <button type="button" class="btn btn-default" data-id="' + full.Id + '" data-tableid ="dt-table-2" onclick="onAddClicked(this);"><span class="glyphicon glyphicon-plus"></span></button>' +
                               '    <button type="button" class="btn btn-default" data-id="' + full.Id + '" data-tableid ="dt-table-2"onclick="onEditClicked(this);"><span class="glyphicon glyphicon-pencil"></span></button>' +
                               '    <button type="button" class="btn btn-default" data-id="' + full.Id + '" data-tableid ="dt-table-2"onclick="onDeleteClicked(this);"><span class="glyphicon glyphicon-remove"></span></button>' +
                               '</div>';
                    }
                }]
            });
        });

        $(function () {
            dataTable = $('#dt-table-3').on('preXhr.dt', function (e, settings, data) {
                // callback before ajax call
                $('.table-overlay').show();
            }).on('xhr.dt', function (e, settings, json, xhr) {
                // callback after ajax call
                $('.table-overlay').hide();
            }).DataTable({
                lengthChange: true,
                autoWidth: false,
                processing: true,
                serverSide: true,
                searching: true,
                ordering: true,
                paging: true,
                info: true,
                pageLength: 10,
                lengthMenu: [10, 25, 50, 100, 250, 500],
                searchDelay: 1500,
                ajax: {
                    url: '@Url.Action("GetDataTableExample", "DataTables")',
                    data: function (d) {
                        // attach additional arguments like this:
                        // d.someArgument = "value";
                    },
                    type: "POST"
                },
                language: {
                    processing: ''
                },
                columns: [{
                    data: "TextValue",
                    orderable: true,
                    width: "150",
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + (full.TextValue != null ? full.TextValue : "") + "</span>";
                    }
                }, {
                    data: "DateValue",
                    orderable: true,
                    width: "50",
                    className: "text-right",
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + full.DateString + "</span>";
                    }
                }, {
                    data: "PercentValue",
                    orderable: true,
                    width: "50",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + (full.PercentValue != null ? full.PercentValue.formatPercent(1) : "") + "</span>";
                    }
                }, {
                    data: "Notes",
                    orderable: true,
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + (full.Notes != null ? full.Notes : "") + "</span>";
                    }
                }, {
                    data: "CurrencyValue",
                    orderable: true,
                    width: "80",
                    className: "text-right",
                    render: function (data, type, full, meta) {
                        return "<span class='datacell'>" + (full.CurrencyValue != null ? full.CurrencyValue.formatMoney(0, '.', ',') : "") + "</span>";
                    }
                }, {
                    data: null,
                    orderable: false,
                    width: "100",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return '<div class="btn-group btn-group-xs">' +
                               '    <button type="button" class="btn btn-default" data-id="' + full.Id + '" data-tableid ="dt-table-3" onclick="onAddClicked(this);"><span class="glyphicon glyphicon-plus"></span></button>' +
                               '    <button type="button" class="btn btn-default" data-id="' + full.Id + '" data-tableid ="dt-table-3"onclick="onEditClicked(this);"><span class="glyphicon glyphicon-pencil"></span></button>' +
                               '    <button type="button" class="btn btn-default" data-id="' + full.Id + '" data-tableid ="dt-table-3"onclick="onDeleteClicked(this);"><span class="glyphicon glyphicon-remove"></span></button>' +
                               '</div>';
                    }
                }]
            });
        });


        var onAddClicked = function (el) {
            var id = $(el).data("id");
            var tableId = $(el).data("tableid");
            var row = findRow(id, tableId);

            var trace = [row.data.Id, row.data.TextValue, row.data.PercentValue, row.data.Notes, row.data.CurrencyValue];
            bootbox.alert({
                message: trace,
                title:  "Add",
                size: 'small'
            });
        };

        var onEditClicked = function (el) {
            var id = $(el).data("id");
            var tableId = $(el).data("tableid");
            var row = findRow(id, tableId);

            var trace = [row.data.Id, row.data.TextValue, row.data.PercentValue, row.data.Notes, row.data.CurrencyValue];
            bootbox.alert({
                message: trace,
                title: "Edit",
                size: 'small'
            });
        };

        var onDeleteClicked = function (el) {
            var id = $(el).data("id");
            var tableId = $(el).data("tableid");
            var row = findRow(id, tableId);

            var trace = [row.data.Id, row.data.TextValue, row.data.PercentValue, row.data.Notes, row.data.CurrencyValue];
            bootbox.alert({
                message: trace,
                title: "Delete",
                size: 'small'
            });
        };

        var findRow = function (id, tableId) {
            var table = $("#" + tableId).DataTable();
            var rows = table.rows().data();
            for (var i = 0; i < rows.length; i++)
                if (rows[i].Id == id)
                    return { index: i, data: rows[i] };
            return null;
        };

    </script>
}
