﻿@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.font-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}
table {
    font-family: 'Roboto Condensed', sans-serif;
    border:1px solid #cecece !important
}
th,
td {
    padding-top:1px !important;
    padding-bottom:1px !important;
    border-left:1px solid #cecece !important
    }
    th:first-child,
    td:first-child {
        border-left:0px solid #cecece !important
    }
thead {
    background:#eeeeee !important;
    color:#03377a !important
}
td {
    font-size:13px !important
}
tfoot tr th,
thead tr th {
  background: #eeeeee none repeat scroll 0 0;
  border-bottom: 1px solid #cecece !important;
  font-size:14px;
  font-weight:bold !important
  
}
.table.dataTable thead .sorting_asc::after {
  
  content: url(/img/sort-up.png) !important;
}
table.dataTable thead .sorting_desc::after {
    content: url(/img/sort-down.png) !important;
}
table.dataTable thead .sorting::after {
    content: url(/img/sort-both.png) !important;
}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
  top: -3px !important;
  opacity:1 !important
}
.pagination > li > a, .pagination > li > span {
  padding: 2px 8px !important;
}
div.dataTables_info {
  padding-top: 0 !important;
}
.dataTables_length select {
    padding:0 !important;
    height: 24px;
    line-height: 24px;
}
.dataTables_length {
    margin-top:0px !important;

}
.dataTables_filter input {
    width:120px !important;
        height: 24px;
    line-height: 24px;

}
table.dataTable thead > tr > th {
  padding-left: 17px !important;
  padding-right: 17px !important;
}

.js_componentButton {
    width: 117px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1px 10px;
}

p {
    font-size: 12px;
    color: gray !important;
}

label {
    color: #428bca !important;
}

td, th {
    vertical-align: middle !important;
}

td {
    padding: 2px !important
}

th {
    text-align: center !important
}

.component-holder {
    background: #fafafa;
    height: 210px;
    overflow-y: scroll;
    border: 1px dashed #c4c4c4;
}

    .component-holder .col-md-2 {
        padding: 5px 10px;
    }

.ddrop-box {
    width: 100%;
    height: 75px;
    background: #fff;
    cursor: -webkit-grab;
    cursor: grab;
    position: relative;
    border: 1px solid #ebebeb;
}

    .ddrop-box:hover {
        width: 100%;
        height: 75px;
        background: #afeeaf;
        cursor: -webkit-grab;
        cursor: grab;
    }

.ddrop-task {
    font-weight: bold;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ddrop-creator {
    font-weight: normal;
    font-size: 12px;
    text-align: right;
    position: absolute;
    top: 4px;
    right: 35px;
    width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #c4c4c4;
}

.ddrop-summary {
    font-weight: normal;
    font-size: 12px;
    position: absolute;
    top: 30px;
    left: 4px;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ddrop-name {
    font-weight: normal;
    font-size: 12px;
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #c4c4c4;
}

.ddrop-status {
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.ddrop-action {
    position: absolute;
    top: 4px;
    right: 4px;
}

.ddrop-box:hover .ddrop-name,
.ddrop-box:hover .ddrop-task {
    color: white
}

.pagination {
    font-size: 11px;
}

    .pagination > li > a, .pagination > li > span {
        padding: 3px 7px;
    }

.field-validation-error {
    color: red;
}