﻿@using ProfitOptics.Framework.Web.Services
@using ProfitOptics.Framework.Web.Helpers
@inject BreadcrumbService BreadcrumbService

@foreach (var breadcrumb in BreadcrumbService.GetBreadcrumbs())
{
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="@breadcrumb.Area">@breadcrumb.Area.SplitCamelCase()</a></li>
    <li class="breadcrumb-item"><a asp-controller="@breadcrumb.Controller">@breadcrumb.Controller.SplitCamelCase()</a></li>
    <li class="breadcrumb-item active"><a asp-area="@breadcrumb.Area" asp-controller="@breadcrumb.Controller" asp-action="@breadcrumb.Action" asp-route-id="@breadcrumb.Id">@breadcrumb.Title.SplitCamelCase()</a></li>
    </ol>
}

