﻿@model string
<div style="font-family: sans-serif">
    <div style="font-family: sans-serif; text-align: center;">
        <img src="/img/loginlogo.jpg" style="height:140px; margin-top:30px">
        <h2 style="color: #017397;">VestedMedical Password Reset</h2>
        <p style="font-size: 20px">
            To reset your VestedMedical password, please click on the button below.
        </p>
        <a style="color: white;
                  text-decoration:none;
                  background-color: #017397;
                  cursor: pointer;
                  font-size: 20px;
                  width: 220px;
                  text-align: center;
                  border-radius: 5px;
                  padding: 5px 15px;
                  height: 25px;"
           href="@Model">
            RESET PASSWORD
        </a>
        <p style="font-size: 12px; margin-top: 25px;">
            Please do not reply to this email. This message was sent from a notification-only address that is not monitored.
        </p>
    </div>
</div>