﻿@using System.Reflection
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      

        Version: <a href="@Url.Action("Index", "ReleaseNotes", new { Area = "" })">@ProfitOptics.Framework.Core.System.AssemblyHelper.GetVersion()</a>, 
        Core version: <strong>@ProfitOptics.Framework.Core.System.AssemblyHelper.GetAssemblyVersion()</strong>
    </div>
    <!-- Default to the left -->
    Copyright &copy; @DateTime.UtcNow.Year <a href="https://profitoptics.com" target="_blank">ProfitOptics Inc</a>. All rights reserved.
</footer>