﻿<a href="~/" class="logo hidden-xs">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><img src="~/img/small-logo.png" style="height:30px" /></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><img src="~/img/main-logo.png" style="height:40px" /></span>
</a>