﻿@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

<header class="main-header">
    @await Html.PartialAsync("_HeaderLogo")
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Content Header (Page header) -->
        @*<section class="content-header">
                <h1 class="pull-left">
                    @ViewBag.Title
                    <small>@ViewBag.PageDescription</small>
                </h1>
                @await Html.PartialAsync("_Breadcrumb")
            </section>*@
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu hidden">
            <header-widgets></header-widgets>
        </div>
    </nav>
</header>