﻿@using ProfitOptics.Framework.Core.Settings
@inject Common Settings
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - @(Settings.ClientName)</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
    @RenderSection("master_styles", required: false)
<style>
        .main-footer {
            margin: 0 !important;
            text-align: left;
            background: none !important;
            color: white !important;
            border: 0 !important;
            position: fixed;
            bottom: 0;
            width: 100%
        }

@@media (max-width: 600px) {
    .main-footer{
        background:black !important
    }
}


            .main-footer a {
                color: white !important;
            }

        h2, h4, h4 a {
            color: white !important
        }

        .text-danger {
            color: #a7ff35 !important;
            font-weight: bold !important;
        }

        .loginline {
            border-radius: 0 !important;
            background-color: rgba(0,0,0,.3) !important;
            border: 0 !important;
            border-bottom: 1px solid rgba(0,0,0,.6) !important;
            color: white !important;
        }

        #browsercheck {
            display: none !important
        }
</style>
</head>
<body style="background-image: url('/img/sox-background-login.png'); background-size:cover">
    <div style="background:rgba(0,0,0,.4); text-align:center;">
        <a href="/">
            <img src="~/img/sox-logo-login.png" alt="" style="margin:20px" class="logo-sox" />
        </a>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <section class="content" style="padding:30px; background:rgba(0,0,0,.4); margin-top:40px; border-radius:30px; border:1px solid rgba(0,0,0,0.1)">
            @RenderBody()
        </section>
    </div>
    <div class="row">
        <div class="col-md-12 text-center" >
            @{await Html.RenderPartialAsync("_Footer");}
        </div>
    </div>
    <script type="text/javascript" src="/js/site.already-minified.js"></script>
    <script type="text/javascript" src="~/AdminLTE/plugins/ckeditor/ckeditor.js"></script>
    <environment include="Development">
        <link href="/css/site.css" rel="stylesheet" type="text/css" />
            
        <script type="text/javascript" src="/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <link href="/css/site.min.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="/js/site.min.js"></script>
    </environment>
    @RenderSection("master_scripts", required: false)
</body>
@{await Html.RenderPartialAsync("_GoogleAnalytics");}
</html>

<script src="/js/components/browserCheck.js?v2"></script>

