﻿@using Microsoft.AspNetCore.Http;
@using ProfitOptics.Framework.Web.Areas.Account.Models
@using ProfitOptics.Framework.Core.Settings;
@using ProfitOptics.Framework.Web.Framework
@using ProfitOptics.Framework.Web.Framework.Helpers.Extensions
@using ProfitOptics.Framework.Web.Framework.Helpers.Notification
@using ProfitOptics.Framework.Web.Framework.Services
@using ProfitOptics.Framework.Web.Services
@using  ProfitOptics.Framework.Web.Framework.Identity
@inject BreadcrumbService BreadcrumbService
@inject IHttpContextAccessor HttpContextAccessor
@inject NotificationService NotificationService
@inject Auth Auth
@inject Common  Settings

<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>@Settings.ClientName - @ViewBag.Title</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="shortcut icon" href="/img/favicon.ico?1" type="image/x-icon">
	<link rel="icon" href="/img/favicon.ico?1" type="image/x-icon">

	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap" rel="stylesheet">

	<script type="text/javascript" src="/js/site.already-minified.js"></script>
	<script type="text/javascript" src="~/AdminLTE/plugins/ckeditor/ckeditor.js"></script>
	<environment include="Development">
		<link href="/css/site.css?1" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="/js/site.js"></script>
	</environment>
	<environment exclude="Development">
		<link href="/css/site.min.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="/js/site.min.js"></script>
	</environment>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,700italic,500italic,400italic,300,300italic&subset=latin,cyrillic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700,700italic,400italic&subset=latin,cyrillic" rel="stylesheet">

	<link href="/AdminLTE/dist/css/skins/skin-profitoptics.css" rel="stylesheet" />
	@*<link href="/AdminLTE/dist/css/skins/skin-profitoptics-dark.css" rel="stylesheet" />*@
	<link href="/css/app.css?3" rel="stylesheet" type="text/css" />


	@*CSS DARK MODE
		<link href="/AdminLTE/dist/css/skins/skin-profitoptics-dark.css" rel="stylesheet" />*@


	@RenderSection("master_styles", required: false)
	<script>
        window.CKEDITOR_BASEPATH = '@Settings.CKEditorRelativePath';
	</script>
	@RenderSection("master_scripts", required: false)
	<script src="/Modules/ProfitOptics.Modules.Sox/Content/js/quaggaJS/quagga.min.js"></script>
	<script src="/Modules/ProfitOptics.Modules.Sox/Content/js/ScanningSearchModal.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=@Settings.GoogleMapAPIKEY"></script>

	@Html.RenderAjaxActions()
	<style>
		#slideout {
			background: white;
			position: fixed;
			width: 280px;
			height: 80px;
			top: 45%;
			right: -263px;
			padding-left: 20px;
			z-index: 99;
			box-shadow: 0 0 10px #b3b3b3
		}

		#clickme {
			position: absolute;
			top: 0;
			left: 0;
			height: 17px;
			width: 17px;
			text-align: center;
			background: #13336a;
			cursor: pointer;
		}

			#clickme i {
				color: white
			}

		#slidecontent {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}

			#slidecontent .btn {
				display: flex;
				border: 1px solid #ccc;
				padding: 11px;
				border-radius: 4px;
			}

				#slidecontent .btn:hover {
					text-decoration: none;
					border: 1px solid #13336a;
					background: #13336a;
					color: white
				}
	</style>
</head>

@if (Context.Session.GetObject<string>(SessionKeys.EnabledSidebar) == null)
{
	Context.Session.SetObject(SessionKeys.EnabledSidebar, "");
}

<body class="hold-transition skin-profitoptics sidebar-mini @(Context.Session.GetObject<string>(SessionKeys.EnabledSidebar))">
	<div class="wrapper">
		<div class="visible-xs">
			@await Html.PartialAsync("_Header")
		</div>
		@await Component.InvokeAsync("SideBar")

		<div class="content-wrapper">

			@if (NotificationService.HasNotification())
			{
@if (NotificationService.GetNotificationType().Equals(NotificationType.Success))
{
<div class="alert alert-success fade in">
	<span class="close" data-dismiss="alert" aria-label="close">&times;</span>

	@foreach (var message in NotificationService.GetNotificationMessages())
	{
@message
						<br />}
</div> }
else if (NotificationService.GetNotificationType().Equals(NotificationType.Error))
{
<div class="alert alert-danger fade in">
	<span class="close" data-dismiss="alert" aria-label="close">&times;</span>
	@foreach (var message in NotificationService.GetNotificationMessages())
	{
@message
						<br />}
</div>}}

			@if (BreadcrumbService.enabled)
			{
<div id="breadcrumb-wrapper">
	@await Html.PartialAsync("_Breadcrumbs");
</div>}
			<!-- Warning when browser is not fully supported -->
			<!-- <div class="alert alert-warning alert-dismissible browser-alert" hidden>-->
			<div class="alert alert-warning alert-dismissible" hidden>
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<i class="icon fa fa-warning"></i> For better performance and user experience, please use <strong>Google Chrome</strong> or <strong>Mozilla Firefox</strong> or any other desktop browser.
			</div>

			<section class="content">
				@if (User.IsInRole(ApplicationRoleNames.VendorUser) || User.IsInRole(ApplicationRoleNames.CustomerUser))
				{
					{ await Html.RenderPartialAsync("/Modules/ProfitOptics.Modules.Sox/Views/Sox/_SlideoutButtonsPV.cshtml"); }
				}


				@RenderBody()
			</section>
		</div>
		@await Html.PartialAsync("_Alert")
		@await Html.PartialAsync("_Footer")
		<input type="hidden" id="GetGoogleMapInfoUrl" value="@Url.Action("GetGoogleMapInfo","Sox")" />
	</div>

	<div id="AnnouncementDialogHolder"></div>
	@{ var lockscreenModel = new LoginModel
		{
			Username = User.Identity.Name,
			ReturnUrl = Url.ActionContext.HttpContext.Request.Path,
			FullName = User.GetFullName()
		}; }
	@await Html.PartialAsync("_Lockscreen", lockscreenModel)
</body>
@await Html.PartialAsync("_GoogleAnalytics")
</html>
@if (User.Identity.IsAuthenticated)
{
<script>
			$(document).ready(function () {
				let timeout = @Auth.SessionTimeout * 60 * 1000;
				let refreshSessionUrl = '@Url.Action("RefreshSession", "Session", new { Area = "" })';
				let expiredUrl = '@Url.Action("Timeout", "Account", new { Area = "Account", returnUrl = Context.Request.Host + Context.Request.Path })';
				let lockscreenLoginUrl = '@Url.Action("Login", "Account", new { Area = "Account"})';
				let loginPageUrl = '@Url.Action("Login", "Account", new { Area = "Account", returnUrl = Context.Request.Host + Context.Request.Path })';
				SessionManager.Init(timeout, refreshSessionUrl, expiredUrl, lockscreenLoginUrl, loginPageUrl);
			})
</script>
}

<script>
		var isAdminOrSuperAdmin = "@(User.IsInRole("admin")) || @(User.IsInRole("superadmin"))";

		$(document).ready(function () {
			if (isAdminOrSuperAdmin === "True") {
				if ($("#textarea-editor").length) {
					CKEDITOR.replace('textarea-editor',
					{
						allowedContent: true,
						//Removing this line will break video embedding.
						extraAllowedContent: 'iframe[*]'
					});
				}
			};

			MenuFilter.Init();

			$("#help-content-toggle").on("click", function(e) {
				if ($(".control-sidebar-open").length === 0) {
					return;
				}
				HelpArticle.Init(isAdminOrSuperAdmin);
			});

			$(".sidebar-toggle").click(function() {
				$.ajax({
					url: "@Url.Action("ToggleSidebar", "Home", new { Area = "" })",
					type: "POST",
					success: function (result) {
						console.log(result.Success);
				}});
			});
		});
</script>

<script>
		//collapse menu for small screen resolution
		(function ($) {
			var $window = $(window),
				$body = $('body');

			function resize() {
				if ($window.width() < 1440) {
					return $body.addClass('sidebar-collapse');
				}

				if ('@(Context.Session.GetObject<string>(SessionKeys.EnabledSidebar))' == '') {
					$body.removeClass('sidebar-collapse');
				}
			}

			$window
				.resize(resize)
				.trigger('resize');
		})(jQuery);
</script>
<script>
	//Bootstrap Issue - Scrolling issues with multiple bootstrap modals
	$('.modal').on("hidden.bs.modal", function (e) {
		if ($('.modal:visible').length) {
			$('body').addClass('modal-open');
		}
	});
</script>
<script>
	$(function () {
		$("#clickme").click(function () {
			if ($(this).parent().hasClass("popped")) {
				$(this).parent().animate({ right: '-263px' }, { queue: false, duration: 500 }).removeClass("popped");
			} else {
				$(this).parent().animate({ right: "0px" }, { queue: false, duration: 500 }).addClass("popped");
			}
		});
	});
</script>