﻿@using ProfitOptics.Framework.Web.Models.LayoutModels
@using ProfitOptics.Framework.Web.Areas.Account.Models
@model LoginModel

@if (User.Identity.IsAuthenticated)
{
    <style>
        .lockscreen-wrapper {
            display: none;
        }

        .lockscreen > * {
            display: none;
        }

        .lockscreen .lockscreen-wrapper {
            display: block;
        }
    </style>
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <img class="img-responsive" src="/img/main-logo.png" style="display:inline-block;" />
        </div>
        <!-- User name -->
        <div class="lockscreen-name">@Model.FullName</div>
        <!-- START LOCK SCREEN ITEM -->
        <div class="lockscreen-item">
            <!-- lockscreen image -->
            <div class="lockscreen-image">
                <img src="/img/loginpic.jpg" alt="User Image">
            </div>
            <!-- lockscreen credentials (contains the form) -->
            <form asp-action="Login" asp-controller="Account" asp-area="Account" method="post" class="lockscreen-credentials">
                <input asp-for="Username" type="hidden" />        
                <input asp-for="ReturnUrl" type="hidden" />
                <div class="input-group">
                    <input asp-for="Password" class="form-control" placeholder="password" />                    
                    <div class="input-group-btn">
                        <button type="submit" class="btn">
                            <i class="fa fa-arrow-right text-muted"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- /.lockscreen credentials -->
        </div>
        <!-- /.lockscreen-item -->
        <div class="lockscreen-login-error text-center text-danger"></div>
        <div class="help-block text-center">
            You were logged out because your session expired.<br>
            Enter your password to retrieve your session.
        </div>
        <div class="text-center">
            <a href="@Url.Action("Login", "Account", new { Area = "Account"})">Or go to the login page</a>
        </div>
        <div class="lockscreen-footer text-center">
            Copyright &copy; @DateTime.UtcNow.Year <a href="https://profitoptics.com" target="_blank">ProfitOptics Inc</a>. All rights reserved.
        </div>
    </div>
}
