﻿@using Microsoft.AspNetCore.Mvc
@using ProfitOptics.Framework.Core.Settings
@using ProfitOptics.Framework.Web.Framework.Helpers.HtmlHelpers
@using ProfitOptics.Framework.Web.Framework.Infrastructure
@using ProfitOptics.Framework.Web.Infrastructure
@inject Common Settings
@inject IMenuFragmentRendererFactory MenuFragmentRendererFactory

@if (User.Identity.IsAuthenticated)
{
    using (Html.MenuHolder())
    {
        @*@Html.ActionItem("menuDashboard", "Dashboard", "fa-dashboard",
            Url.Action("Index", "Dashboard", new { Area = "Dashboard" }))*@

        @*foreach (IMenuFragmentRenderer menuFragmentRenderer in MenuFragmentRendererFactory.CreateMenuFragmentRenderers())
            {
                if (!menuFragmentRenderer.Validate(Settings, User))
                {
                    continue;
                }

                @:@(await menuFragmentRenderer.RenderMenuFragmentAsync(Html))
            }*@

        @*<li class="active"><a href="javascript:void(0)">Dashboard</a></li>
            <li><a href="javascript:void(0)">Inventory</a></li>
            <li>
                <a href="javascript:void(0)">
                    Set
                    <span class="pull-right-container">
                        <small class="label pull-right bg-gray"><span class="text-black">234</span></small>
                    </span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Trays
                    <span class="pull-right-container">
                        <small class="label pull-right bg-gray"><span class="text-black">2348</span></small>
                    </span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Component
                    <span class="pull-right-container">
                        <small class="label pull-right bg-gray"><span class="text-black">15877</span></small>
                    </span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Implants
                    <span class="pull-right-container">
                        <small class="label pull-right bg-gray"><span class="text-black">15877</span></small>
                    </span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    Replenishment
                    <span class="pull-right-container">
                        <small class="label pull-right bg-gray"><span class="text-black">23</span></small>
                    </span>
                </a>
            </li>
            <br />
            <li>
                <a href="javascript:void(0)">
                    User Management
                </a>
            </li>
            <br />
            <li>
                <a href="javascript:void(0)">
                    Notification
                    <span class="pull-right-container">
                        <svg width="20" height="20" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 402 512"><path d="M320,432a64,64,0,0,1-128,0H320Z" transform="translate(-64)" style="fill:#fff" /><path d="M400,298.67V208c0-62.56-40.16-115.78-96-135.6V48a48,48,0,0,0-96,0V72.4c-55.84,19.84-96,73.06-96,135.7v90.56l-48,64V432H176a80,80,0,0,0,160,0H448V362.67ZM240,64V48a16,16,0,0,1,32,0V64H240Zm16,416a48.06,48.06,0,0,1-48-48h96A48.06,48.06,0,0,1,256,480Zm160-80H96V373.33l42.14-56.19C144,312.46,144,302.35,144,289V223c0-5.62,0-10.67-.43-15H144a112,112,0,0,1,224,0V309.33l48,64V400Z" transform="translate(-64)" style="fill:#00384e" /><circle cx="316" cy="176" r="80" style="fill:#c90623;stroke:#fff;stroke-miterlimit:10;stroke-width:12px" /></svg>
                    </span>
                </a>
            </li>
            <br />
            <li>
                <a href="javascript:void(0)">
                    Settings
                </a>
            </li>*@

        foreach (IMenuFragmentRenderer menuFragmentRenderer in MenuFragmentRendererFactory.CreateMenuFragmentRenderers())
        {
            if (!menuFragmentRenderer.Validate(Settings, User))
            {
                continue;
            }

            @:@(await menuFragmentRenderer.RenderMenuFragmentAsync(Html))
        }
        @Html.ActionItem("menuUserSignOut", "Sign out", " fa-power-off", Url.Action("LogOff", "Account", new { Area = "Account" }))
    }
}