﻿<div class="pull-right" style="margin-top:15px;">
    <div class="dataTables_paginate paging_simple_numbers" id="tbl_paginate">
        <ul class="pagination">
            <li class="paginate_button previous disabled" id="tbl_previous">
                <a href="#" aria-controls="tbl" data-dt-idx="0" tabindex="0">Previous</a>
            </li>
            <li class="paginate_button active">
                <a href="#" aria-controls="tbl" data-dt-idx="1" tabindex="0">1</a>
            </li>
            <li class="paginate_button next" id="tbl_next">
                <a href="#" aria-controls="tbl" data-dt-idx="3" tabindex="0">Next</a>
            </li>
        </ul>
    </div>
</div>