﻿/* GENERAL TABLE CSS*/
* {
    outline: none;
}

.font-condensed {
    font-family: Arial, sans-serif;
}

table {
    font-family: Arial, sans-serif;
    border: 1px solid #cecece !important
}

/*th,
td {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    border-left: 1px solid #cecece !important
}

    th:first-child,
    td:first-child {
        border-left: 0px solid #cecece !important
    }
*/
thead {
    background: #eeeeee !important;
    color: #03377a !important
}

td {
    font-size: 13px !important
}

/*tfoot tr th,
thead tr th {
    background: #eeeeee none repeat scroll 0 0;
    border-bottom: 1px solid #cecece !important;
    font-size: 14px;
    font-weight: bold !important
}
*/
.table.dataTable thead .sorting_asc::after {
    content: url(/img/sort-up.png) !important;
}

table.dataTable thead .sorting_desc::after {
    content: url(/img/sort-down.png) !important;
}

table.dataTable thead .sorting::after {
    content: url(/img/sort-both.png) !important;
}

table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
    top: -3px !important;
    opacity: 1 !important
}

.pagination > li > a, .pagination > li > span {
    padding: 2px 8px !important;
}

div.dataTables_info {
    padding-top: 0 !important;
}

.dataTables_length select {
    padding: 0 !important;
    height: 24px;
    line-height: 24px;
}

.dataTables_length {
    margin-top: 0px !important;
}

.dataTables_filter input {
    width: 120px !important;
    height: 24px;
    line-height: 24px;
}

table.dataTable thead > tr > th {
    padding-left: 17px !important;
    padding-right: 17px !important;
}
/* /.GENERAL TABLE CSS*/


.content-header > .breadcrumb {
    top: 0
}

.content-header {
    padding-top: 0px !important
}
/*section.content-header h1 {
    padding-top:5px !important;
    color:white !important
}
.content-header > h1 > small {
    color:white !important
}
.content-header > .breadcrumb > li > a,
.content-header > .breadcrumb > li {
    color:white
}*/
.main-footer {
    padding: 5px 15px !important;
}

.loginline {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #a0a9b4 #a0a9b4 -moz-use-text-color;
    border-image: none;
    border-radius: 0 !important;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #868e97;
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
}

.fixed-alert {
    width: 300px;
    top: 70px;
    right: 10px;
    opacity: 0.9;
    position: fixed;
    z-index: 99999999 !important
}

th {
    text-align: center !important
}

th, td {
    vertical-align: middle !important
}

tfoot td {
    font-weight: bold
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    white-space: normal !important;
}


.control-sidebar-menu .menu-icon {
    border-radius: 50%;
    float: left;
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    text-align: center;
    width: 25px;
}

.control-sidebar-menu .menu-info {
    margin-left: 35px;
    margin-top: 3px;
}

/*.sorting_disabled {
    padding: 0 !important
}
*/
.ann-check-label {
    margin-left: 5px;
    margin-right: 10px;
}

.error-validation {
    border: 2px solid red;
}

.edit-gear-help {
    color: #c4c4c4;
    cursor: pointer;
    float: right;
    font-size: 15px;
    margin-right: 6px;
    padding: 2px;
}

    .edit-gear-help:hover {
        color: #8d8d8d;
    }

.related-url-container {
    float: left;
    margin: 5px 5px;
    background-color: #cbced3;
    color: black;
    font-size: 15px;
    cursor: pointer;
    padding-left: 8px;
    line-height: 35px;
    text-align: center;
    word-break: break-all;
    border-radius: 5px;
}

    .related-url-container:hover {
        background-color: #dee4ed;
    }

.tag-container {
    font-size: 20px;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none !important;
}

/*SELECT 2 General*/
.select2-selection__choice {
    color: #333 !important
}

.select2-selection--single {
    border-radius: 0 !important
}

.select2-container--default .select2-selection--multiple {
    border-radius: 0 !important;
    border-color: #ccc !important;
}

.select2.select2-container.select2-container--default {
    margin-top: 2px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -6px;
    font-size: 15px;
    margin-left: -5px;
}

@media (max-width: 1024px) {
    #browsercheck {
        display: none;
    }
}
/*for small resolution, sidebar not push page*/
@media (max-width: 1450px) {
    .content-wrapper, .right-side, .main-footer,
    .content-wrapper {
        margin-left: 50px !important
    }
}
/*fix for small resolution and datatable issues*/
@media (max-width: 1366px) {
    .add-scroll-small-res {
        overflow-x: scroll;
    }

    .dt-bootstrap > .row {
        margin: 0 !important
    }
}

.xPosition {
    position: absolute;
    top: 5px;
    right: 5px;
}

@media (max-width:768px) {
    .content-wrapper, .right-side, .main-footer, .content-wrapper {
        margin-left: 0px !important;
    }

    .control-sidebar-bg, .control-sidebar {
        width: 100%;
    }

    .xPosition {
        position: absolute;
        top: 67px;
        right: 5px;
    }

    .content {
        padding: 8px;
    }
}

/*SOX*/
.h1, h1 {
    font-size: 23px;
    font-weight: 700;
    margin: 5px 5px 15px;
}

.btn-primary {
    background: #4ec3fd;
    border-color: #4ec3fd;
}

.box-primary {
    border: 0;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #dcdcdc;
    padding: 10px;
}

.box-header h3 {
    font-family: Arial, sans-serif;
    color: black;
    font-weight: 700
}

table.tableIssues {
    border: 0 !important
}

.tableIssues th {
    font-family: Arial, sans-serif;
    color: black;
    font-weight: 700;
    background: white;
    font-size: 13px;
    border: 0 !important
}

.tableIssues tfoot tr th,
.tableIssues thead tr th,
.tableIssues thead {
    background: white;
    font-size: 13px;
    border: 0 !important;
    text-align: left !important;
    padding: 10px 5px !important;
}

.tableIssues th,
.tableIssues td {
    border: 0 !important;
    font-family: Arial, sans-serif;
}

.tableIssues tr {
    border-bottom: 3px solid white !important
}

.main-sidebar, .left-side {
    padding-top: 10px;
}

.box-header small {
    display: block;
    font-weight: 400;
    font-size: 13px;
    margin-top: 10px;
}

.trBlue td {
    padding: 6px !important;
    font-weight: 400 !important;
    color: white;
    font-size: 12px !important
}

    .trBlue td:first-child {
        background: #3c79fa !important;
        border-radius: 4px 0 0 4px;
    }

    .trBlue td:last-child {
        background: #3c79fa !important;
        border-radius: 0 4px 4px 0;
    }

.trRed td {
    padding: 6px !important;
    font-weight: 400 !important;
    color: white;
    font-size: 12px !important
}

    .trRed td:first-child {
        background: #fd7585 !important;
        border-radius: 4px 0 0 4px;
    }

    .trRed td:last-child {
        background: #fd7585 !important;
        border-radius: 0 4px 4px 0;
    }

.btn-outline {
    border: 2px solid black !important;
    font-weight: bold !important;
}

.issueBlue {
    background: #3c79fa !important;
    color: white;
    display: inline-block;
    border-radius: 16px;
    padding: 3px 10px;
    font-size: 11px;
    font-weight: 400;
}

.issueRed {
    background: #fd7585 !important;
    color: white;
    display: inline-block;
    border-radius: 16px;
    padding: 3px 10px;
    font-size: 11px;
    font-weight: 400;
}
/*caledar*/
.fc-view-container th {
    border: 0 !important;
    font-family: Arial, sans-serif;
}

.fc-row.fc-widget-header {
    border: 0 !important;
    background: white
}

    .fc-row.fc-widget-header table,
    .fc-row.fc-widget-header table thead {
        border: 0 !important;
        background: white
    }

.fc-widget-header {
    background: white
}

.fc-custom-title {
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: block;
}

/*.fc-custom-more {
    font-family: Arial, sans-serif;
    display: block;*/
/*color: #9c9c9c;*/
/*text-align: center;
    font-weight: 600;
    font-size: 12px;
}*/

.fc-custom-content {
    border: 1px solid #1b1b1b;
    background: white;
    color: #1b1b1b;
    border-radius: 4px;
    padding: 2px 5px;
}

.skin-profitoptics .sidebar-menu > li > a {
    color: #1e282c !important;
    background: white !important;
    border-left-color: transparent !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fc-custom-notify {
    /*  display: block;*/
    background: #1b1b1b;
    border-radius: 100%;
    color: white;
    text-align: center;
    font-size: 9px;
    margin-bottom: 1px;
    line-height: 11px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    padding: 2px;
    min-width: 12px;
}


/*.skin-profitoptics .sidebar-menu > li.active > a {
    color: #1e282c !important;
    background: white !important;
    border-left-color: transparent !important;
    box-shadow: 0 0 10px #acacac !important;
    padding-top: 10px;
    padding-bottom: 10px;
}*/
.modalClock {
    color: white;
    font-weight: 100;
    font-size: 70px;
    text-align: center;
    line-height: 1;
    margin-top: 10px
}

.modalDate {
    font-size: 29px;
    color: white;
    text-align: center;
    font-weight: 500;
}

.modalDesc {
    font-size: 11px;
    font-weight: normal;
    color: white;
    position: absolute;
    bottom: 10px;
    padding-right: 14px;
    opacity: .8;
}

.smallLabel {
    color: #3c79fa
}

.col-gray {
    background: #f4f4f4;
    padding-top: 50px;
    min-height: 500px;
    font-weight: normal
}

.modalCaseTabs a {
    font-weight: normal !important;
    padding: 5px !important;
}

.active.blueCase a,
.modalCaseTabs .blueCase {
    background: #3c79fa !important;
    border: 0 !important
}

.active.redCase a,
.modalCaseTabs .redCase {
    background: #fd7585 !important;
    border: 0 !important
}

.modalCaseTabs > li > a:focus, .modalCaseTabs > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    outline: none !important
}


/* Timeline */
.timeline,
.timeline-horizontal {
    list-style: none;
    padding: 20px;
    position: relative;
}

    .timeline:before {
        top: 40px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline .timeline-item {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline .timeline-item:before,
        .timeline .timeline-item:after {
            content: "";
            display: table;
        }

        .timeline .timeline-item:after {
            clear: both;
        }

        .timeline .timeline-item .timeline-badge {
            color: #fff;
            width: 44px;
            height: 44px;
            line-height: 39px;
            font-size: 12px;
            text-align: center;
            position: absolute;
            top: 18px;
            left: 50%;
            margin-left: -25px;
            background-color: #7c7c7c;
            border: 3px solid #ffffff;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

            .timeline .timeline-item .timeline-badge i,
            .timeline .timeline-item .timeline-badge .fa,
            .timeline .timeline-item .timeline-badge .glyphicon {
                top: 2px;
                left: 0px;
            }

            .timeline .timeline-item .timeline-badge.primary {
                background-color: #1f9eba;
            }

            .timeline .timeline-item .timeline-badge.info {
                background-color: #5bc0de;
            }

            .timeline .timeline-item .timeline-badge.success {
                background-color: #59ba1f;
            }

            .timeline .timeline-item .timeline-badge.warning {
                background-color: #d1bd10;
            }

            .timeline .timeline-item .timeline-badge.danger {
                background-color: #ba1f1f;
            }

        .timeline .timeline-item .timeline-panel {
            position: relative;
            width: 46%;
            float: left;
            right: 16px;
            border: 1px solid #c0c0c0;
            background: #ffffff;
            border-radius: 2px;
            padding: 6px;
            box-shadow: none;
        }

            .timeline .timeline-item .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -16px;
                display: inline-block;
                border-top: 16px solid transparent;
                border-left: 16px solid #c0c0c0;
                border-right: 0 solid #c0c0c0;
                border-bottom: 16px solid transparent;
                content: " ";
            }

            .timeline .timeline-item .timeline-panel .timeline-title {
                margin-top: 0;
                color: inherit;
            }

            .timeline .timeline-item .timeline-panel .timeline-body > p,
            .timeline .timeline-item .timeline-panel .timeline-body > ul {
                margin-bottom: 0;
            }

                .timeline .timeline-item .timeline-panel .timeline-body > p + p {
                    margin-top: 5px;
                }

        .timeline .timeline-item:last-child:nth-child(even) {
            float: right;
        }

        .timeline .timeline-item:nth-child(even) .timeline-panel {
            float: right;
            left: 16px;
        }

            .timeline .timeline-item:nth-child(even) .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-horizontal {
    list-style: none;
    position: relative;
    padding: 20px 0px 20px 0px;
    display: inline-block;
}

    .timeline-horizontal:before {
        height: 3px;
        top: auto;
        bottom: 19px;
        left: 0px;
        right: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .timeline-horizontal .timeline-item {
        position: relative;
        display: table-cell;
        height: 110px;
        min-width: 175px;
        float: none !important;
        padding-left: 0px;
        padding-right: 10px;
        margin: 0 auto;
        vertical-align: bottom;
        text-align: center !important;
    }

        .timeline-horizontal .timeline-item .timeline-panel {
            top: auto;
            bottom: 34px;
            display: inline-block;
            float: none !important;
            left: 0 !important;
            right: 0 !important;
            width: 100%;
            margin-bottom: 20px;
        }

            .timeline-horizontal .timeline-item .timeline-panel:before {
                top: auto;
                bottom: -11px;
                left: 45% !important;
                right: auto;
                border-right: 10px solid transparent !important;
                border-top: 10px solid #c0c0c0;
                border-bottom: 0 solid #c0c0c0;
                border-left: 10px solid transparent !important;
            }

        .timeline-horizontal .timeline-item:before,
        .timeline-horizontal .timeline-item:after {
            display: none;
        }

        .timeline-horizontal .timeline-item .timeline-badge {
            top: auto;
            bottom: 0px;
            left: 50%;
            cursor: pointer;
        }

.timeline-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 7px;
}

.timeline .timeline-item .timeline-badge.info {
    background-color: #5bc0de;
}

.timeline-heading p {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
}

.smallCircles {
    list-style: none;
    padding: 0
}

    .smallCircles li {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #b9b9b9;
        border-radius: 25px;
        font-weight: 500;
        font-size: 11px;
        line-height: 19px;
        text-align: center !important;
    }

.smallCirclesActive li {
    background: #3c79fa;
    color: white !important
}

.timeline-subBox {
    background: #fbfbfb;
    line-height: 1;
    position: absolute;
    min-width: 380px;
    height: 220px;
    z-index: 9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #acacac;
    color: black;
    padding: 0 10px 0 15px;
    margin-top: 10px;
}

    .timeline-subBox h1 {
        border-bottom: 1px dotted #ccc;
        font-size: 18px;
        text-align: left;
        padding-top: 8px;
        padding-bottom: 6px;
    }

.popUpCloseButton {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 20px;
    line-height: 16px;
    border: 1px solid #C4C4C4;
    font-size: 10px;
    text-align: center;
    color: #747474;
    cursor: pointer;
}

    .popUpCloseButton:hover {
        background: #ccc;
    }

.timeline-activeItem {
}

li.timeline-item:last-child > .timeline-subBox,
li.timeline-item:nth-last-child(-n+2) > .timeline-subBox,
li.timeline-item:nth-last-child(-n+3) > .timeline-subBox,
li.timeline-item:nth-last-child(-n+4) > .timeline-subBox {
    right: 0
}

.timeline-badgeActive,
.timeline-panelActive {
    background: #afe9b1 !important;
    color: #1b1b1b !important
}

.timeline-panelActive {
    border: 1px solid #afe9b1 !important;
}

    .timeline-panelActive::before {
        border-top: 10px solid #afe9b1 !important;
        border-bottom: 0 solid #afe9b1 !important;
    }

.timeline-badgeAdditional:focus {
    background: black !important
}

.timeline-badgeDisabled,
.timeline-panelDisabled {
    background: #a7a6a6 !important;
    color: #1b1b1b !important;
    pointer-events: none;
}

.timeline-steps::before {
    top: 108px !important;
    width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
    height: 1px !important;
}



.color-status-container .caseColorStatus {
    background: #3c79fa;
    display: inline-block;
    border-radius: 25px;
    vertical-align: top;
    padding: 3px 15px;
    color: white;
}

.color-status-container .Blue {
    background: #3c79fa !important;
}

.color-status-container .Purple {
    background: #d178d8 !important;
}

.color-status-container .Red {
    background: #fd7585 !important;
}

.color-status-container .Orange {
    background: #FF8C00 !important;
}

.color-status-container .Yellow {
    background: #d8d800 !important;
}

.color-status-container .Green {
    background: #59ba1f !important;
}

.color-status-container .Gray {
    background: #D3D3D3 !important;
}

.timeline > li > .fa, .timeline > li > .glyphicon, .timeline > li > .ion {
    color: white;
}

/*fix for small devices*/
@media screen and (max-width: 1700px) {
    .scrollFix {
        overflow-x: scroll !important;
        z-index: 1
    }

    .timeline-subBox {
        position: fixed;
    }

    li.timeline-item:last-child > .timeline-subBox,
    li.timeline-item:nth-last-child(-n+2) > .timeline-subBox,
    li.timeline-item:nth-last-child(-n+3) > .timeline-subBox,
    li.timeline-item:nth-last-child(-n+4) > .timeline-subBox {
        right: 10%
    }
}


.fc-status-1,
.fc-status-2,
.fc-status-3,
.fc-status-4,
.fc-status-5,
.fc-status-6,
.fc-status-7 {
    width: 16px;
    height: 16px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 2px;
    border-radius: 5px;
}

.fc-status-1 {
    background: #3c79fa
}

.fc-status-2 {
    background: #fd7585
}

.fc-status-3 {
    background: #d178d8
}

.fc-status-4 {
    background: #FF8C00
}

.fc-status-5 {
    color: black;
    background: #ffff00
}

.fc-status-6 {
    background: #59ba1f
}

.fc-status-7 {
    background: #D3D3D3
}

    .fc-status-7

    .fc-status-1:hover, .fc-status-2:hover, .fc-status-3:hover, .fc-status-4:hover, .fc-status-5:hover, .fc-status-6:hover, .fc-status-7:hover {
        opacity: .6
    }

@media (max-width: 1699px) {
    .fc-status-1,
    .fc-status-2,
    .fc-status-3,
    .fc-status-4,
    .fc-status-5,
    .fc-status-6,
    .fc-status-7 {
        width: 13px;
        height: 13px;
        font-size: 12px;
        line-height: 12px;
    }
}

@media (max-width: 1510px) {
    .fc-status-1,
    .fc-status-2,
    .fc-status-3,
    .fc-status-4,
    .fc-status-5,
    .fc-status-6,
    .fc-status-7 {
        width: 12px;
        height: 12px;
        font-size: 11px;
        line-height: 12px;
    }
}


.control-sidebar .panel-body {
    max-height: 500px;
    overflow-y: auto;
}

.panel-h4header {
    margin-top: 0 !important;
    font-size: 14px !important;
    padding-bottom: 10px !important;
}

.tray-image-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 3px;
}

    .tray-image-container > .tray-image-item {
        display: inline-block;
        float: none;
    }

.tray-image-subtext-container {
    display: table;
    margin: 0 auto;
}

.tray-image-subtext {
    margin: 0 5px;
}

.case-comment-box {
    min-height: 120px;
}

    .case-comment-box .timeline {
        max-height: 500px;
        overflow-y: scroll;
        z-index: 0
    }

.blockMsg {
    padding-top: 10px !important;
}

.table-responsive .row {
    margin: 0 !important
}

.table-responsive {
    position: relative;
    z-index: 0
}

.customer-billing-type {
    margin-right: 20px;
}

    .customer-billing-type input {
        margin-top: 10px;
    }


@media screen and (max-width: 768px) and (min-width: 100px) {
    .small-device-left-align {
        text-align: left !important;
        float: left !important;
        margin: 0 !important;
    }

    .fc-right,
    .fc-myCustomButton-button.fc-button.fc-button-primary {
        display: none;
    }

    .mobileFixDatePickerControl {
        width: 100% !important;
        margin: 10px 0 !important;
    }

    .fc-button-group.mobileFixDatePickerControl input {
        text-align: center;
    }

    .fc-center {
        position: relative;
        float: right;
        text-align: right;
    }

        .fc-center h2 {
            font-size: 17px !important;
        }

    .mobileFixBoxFooterButtons {
        text-align: center;
        margin-top: 10px;
    }

        .mobileFixBoxFooterButtons button {
            margin: 5px;
        }
}

.barcodes-holder {
    text-align: left;
    background: #ececec;
    margin: 10px 0;
    padding: 11px;
}

    .barcodes-holder img {
        float: left;
        position: relative;
        top: -5px;
        opacity: .7;
        margin-right: 9px;
    }

.callout.callout-gray {
    background-color: #b1b1b1 !important;
    border-color: #676767;
}


@media (max-width: 600px) {
    .logo-sox{
        width:80%
    }
    .main-footer{
        background:black !important
    }
}

.iconBoxContainer {
    position: relative
}
.numberLabelInventory {
    position: absolute;
    bottom: 20px;
    right: -5px;
    background: #337ab7;
    color: white;
    border: 2px solid white;
    padding: 2px 5px;
    border-radius: 10px;
    line-height: 1;
    font-weight: 500 !important;
}
.modal {
    z-index: 99999 !important;
}

.hover_pointer:hover{
    cursor:pointer;
}