﻿* {
    outline: none !important
}

.skin-profitoptics .wrapper, .skin-profitoptics .main-sidebar, .skin-profitoptics .left-side {
    background-image: url('/img/menu-background.jpg');
    background-size: cover;
    background-position: -290px -220px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px !important;
}

.sidebar-menu .treeview-menu > li > a {
    font-size: 12px !important;
}

.skin-profitoptics .sidebar-menu > li > a {
    color: #fff !important;
    background: rgba(0,0,0,0.4) !important
}

.skin-profitoptics .sidebar-menu > li:hover > a, .skin-profitoptics .sidebar-menu > li.active > a {
    color: #ffffff;
    background: rgba(0,0,0,0.4) !important
}

.skin-profitoptics .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: rgba(0,0,0,0.4) !important
}

.skin-profitoptics .treeview-menu > li > a {
    color: white;
    background: rgba(0,0,0,0.4) !important
}

.sidebar-menu .treeview-menu {
    padding-left: 0px !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    padding: 0 !important;
    margin-top: -4px !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
    left: 214px !important;
    background: transparent;
}
/*
	ul.sidebar-menu {
		background: rgba(0,0,0,0.3)
	}*/
.box-primary {
    border-radius: 0;
    box-shadow: 0px 0px 8px #dcdcdc;
    padding: 10px;
    border-top: 3px solid #13336a !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    padding: 6px 10px;
}

    .flex-row:hover {
        background: #dfe3e3;
        border-radius: 16px;
        box-shadow: 0 0 5px #ccc;
        cursor: pointer;
    }

.flex-row-selected-case, .flex-row-selected {
    background: #dfe3e3 !important;
    border-radius: 16px;
    box-shadow: 0 0 5px #ccc;
    color: black;
}

.time-numbers {
    margin-right: 15px;
    color: #a5acbd;
    text-align: center;
    width: 50px;
}

.time-labelCircle {
    margin-left: 15px;
    font-size: 11px;
    color: #808080;
}

.time-labelText {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin: -6px 7px -3px;
}

.fc-status-1, .fc-status-2, .fc-status-3, .fc-status-4, .fc-status-5, .fc-status-6, .fc-status-7,
.colorLabel {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
}

.color1Label {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    background: #fd7585;
    margin-right: 3px;
}

.color2Label {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    background: #d178d8;
    margin-right: 3px;
}

.cld-day:hover {
    cursor: pointer;
}

.cld-day.calendarSelectedDay .cld-number {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: #337ab7 !important;
    color: #fff;
}

h3.box-title {
    font-family: 'Montserrat', sans-serif;
}

.circleDetails .color1Label, .circleDetails .color2Label {
    margin: 6px 10px 0 0;
}

.label-small, .label-details {
    display: block
}

.label-small {
    color: #a5acbd;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 15px;
}

.label-details {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.form-control {
    border-radius: 0px;
}

.btn-custom {
    color: white;
    background-color: #103068;
    border-color: #103068;
    font-family: 'Montserrat', sans-serif;
    border-radius: 60px;
    font-weight: 600;
    padding: 8px 30px;
}

    .btn-custom:hover,
    .btn-custom:focus,
    .btn-custom:active,
    .btn-custom.active,
    .open .dropdown-toggle.btn-custom {
        color: white;
        background-color: #1c4386;
        border-color: #1c4386;
        font-family: 'Montserrat', sans-serif;
        border-radius: 60px;
        font-weight: 600;
        padding: 8px 30px;
    }

.btn-link {
    color: #a4a6a9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 8px 0px;
    text-decoration: none;
}

#DashboardCaseDetailsPlaceholder .ellipsis {
    font-size: 18px !important;
    color: black;
}
