﻿/*body {
    font-family:sans-serif;
}
.span-releaseDate {

    font-size:18px;
    color:darkgrey;
    font-weight:normal;
}

.versionNumber {
    color: #3D9A72;
    font-weight: bold;
    font-family: sans-serif;
    border-bottom-width: 1px;
    border-bottom-style: inset;
    border-bottom-color: darkgrey;
    padding-bottom: 10px;
}

.releaseNotesTittle {
    font-weight: bold;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: darkgrey;
    padding-bottom: 10px;
    margin-bottom: 40px;
    font-family:sans-serif !important;
    color:#4D4447;
}

.releaseNotesContent {
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-bottom-color: darkgrey;
    padding-bottom:30px;
    
}*/