﻿.flyers-progress-bar {
    display: inline-block;
     list-style-type: none;
}
.flyers-progress-bar-step {
    float: left;
    background: #bababa;
    padding: 2px 10px;
}
.flyers-progress-bar-step-done {
    background: #98ca47 none repeat scroll 0 0 !important;
}
.flyers-progress-bar-step {
  margin-right: 14px;
}
.flyers-progress-bar {
  margin-bottom: 0;
  position: relative;
  top: 3px;
  padding-left:0;
}
.flyers-progress-bar-step {
  color: #ffffff;
  display: block;
  float: left;
  padding: 4px 7px 4px 9px !important;
  position: relative !important;
  text-decoration: none;
}
.flyers-progress-bar-step::after {
  border-bottom: 14px solid rgba(0, 0, 0, 0);
  border-left: 12px solid #bababa !important;
  border-top: 14px solid rgba(0, 0, 0, 0);
  content: " ";
  display: block;
  height: 0;
  left: 100%;
  margin-top: -14px;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 2;
}
.flyers-progress-bar-step::before {
  border-bottom: 14px solid rgba(0, 0, 0, 0);
  border-left: 12px solid #ffffff;
  border-top: 14px solid rgba(0, 0, 0, 0);
  content: " ";
  display: block;
  height: 0;
  left: 100%;
  margin-left: 1px;
  margin-top: -14px;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 1;
}
.flyers-progress-bar-step-current {
    background: #007cc2 !important;
}
.flyers-progress-bar-step-current::after {
  border-bottom: 14px solid rgba(0, 0, 0, 0);
  border-left: 12px solid #007cc2 !important;
  border-top: 14px solid rgba(0, 0, 0, 0);
  content: " ";
  display: block;
  height: 0;
  left: 100%;
  margin-top: -14px;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 2;
}
.flyers-progress-bar-step.flyers-progress-bar-step-done.flyers-progress-bar-step-current::after {
  border-bottom: 14px solid rgba(0, 0, 0, 0);
  border-left: 12px solid #007cc2 !important;
  border-top: 14px solid rgba(0, 0, 0, 0);
  content: " ";
  display: block;
  height: 0;
  left: 100%;
  margin-top: -14px;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 2;
}
.flyers-progress-bar-step-done::after {
  border-bottom: 14px solid rgba(0, 0, 0, 0);
  border-left: 12px solid #98ca47 !important;
  border-top: 14px solid rgba(0, 0, 0, 0);
  content: " ";
  display: block;
  height: 0;
  left: 100%;
  margin-top: -14px;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 2;
}

.flyers-progress-bar-step a {
    color: white;
    text-decoration: none;
}
.flyers-progress-bar-step ul {
  background: #bababa none repeat scroll 0 0;
  float: left;
  padding: 2px 10px;
}

.diss-link {
    pointer-events: none;
    cursor: default;
}

.flyers-progress-bar-step-current ul {
   background: #007cc2 none repeat scroll 0 0 !important;
 }
.flyers-progress-bar-step-done ul{
  background: #98ca47;
}

#primary_nav_wrap ul {
                list-style: none;
                position: relative;
                /*float: left;*/

            }

            #primary_nav_wrap ul a {
                display: block;
            }

            #primary_nav_wrap ul li {
                position: relative;
                float: left;

            }

            #primary_nav_wrap ul ul {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                padding: 0;
                z-index:9999
            }

            #primary_nav_wrap ul ul li {
                float: none;
                width: 65px;
                cursor:pointer
            }

            #primary_nav_wrap ul ul a {
              line-height: 120%;
              padding: 8px 5px !important;
              text-align: left;
            }
#primary_nav_wrap ul ul ul {
 top: 0;
 left: 100%;
}

 #primary_nav_wrap ul li:hover > ul {
 display: block;

}

#primary_nav_wrap ul ul li:hover {
    background-color:rgba(0,0,0,0.1)
}