﻿<style>
    .text-valitate {
        color: white !important;
        font-weight: normal;
        font-size: 12px;
    }
    .text-success {
        color: white !important;
        opacity: 0.3 !important;
    }
    @@media (max-width: 600px) {
        .validation-summary-errors{
            padding:20px;
        }
        .validation-summary-errors ul{
            padding:0 !important
        }
    }
</style>

    <div id="password-validations" style="display: none" class="validation-summary-errors text-valitate">
        <ul>
            <li id="password-length-error">Passwords must be at least 8 characters long. &nbsp;<span class="glyphicon glyphicon-remove"></span></li>
            <li id="password-regex-error-uppercaselowercase">Passwords must have at least one uppercase or at least one lowercase letter. &nbsp;<span class="glyphicon glyphicon-remove"></span></li>
            <li id="password-regex-error-number">Passwords must have at least one number. &nbsp;<span class="glyphicon glyphicon-remove"></span></li>
            <li id="password-regex-error-special">Passwords must have at least one special character. &nbsp;<span class="glyphicon glyphicon-remove"></span></li>
            <li id="password-match-error">Passwords must match. &nbsp;<span class="glyphicon glyphicon-remove"></span></li>
        </ul>
    </div>
