﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section master_styles{
    <link href="~/Modules/ProfitOptics.Modules.Showcase/Content/css/main.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", false)
}

@section master_scripts{
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Showcase/Content/js/main.js"></script>
    @RenderSection("scripts", false)
}


@RenderBody()