﻿@{
    ViewBag.Title = "AlternateItems - Index";
}

<section class="content-header">
    <h1>
        Alternate Items
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Filter</h3>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="col-md-4">
                            <h3 class="AltItemSubHeader">From Item Filters</h3>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Vendor</label>
                                <div class="col-md-8">
                                    <select class="form-control"><option>-</option></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Major Category</label>
                                <div class="col-md-8">
                                    <select class="form-control"><option>-</option></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Minor Category</label>
                                <div class="col-md-8">
                                    <select class="form-control"><option>-</option></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Subminor Category</label>
                                <div class="col-md-8">
                                    <select class="form-control"><option>-</option></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="border-left:1px solid #dbdbdb; border-right:1px solid #dbdbdb">
                            <h3 class="AltItemSubHeader">To Item Filters</h3>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Vendor</label>
                                <div class="col-md-8">
                                    <select class="form-control"><option>-</option></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Major Category</label>
                                <div class="col-md-8">
                                    <select class="form-control"><option>-</option></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Minor Category</label>
                                <div class="col-md-8">
                                    <select class="form-control"><option>-</option></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Subminor Category</label>
                                <div class="col-md-8">
                                    <select class="form-control"><option>-</option></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3 class="AltItemSubHeader">General Filters</h3>
                            <div class="form-group">
                                <label class="col-md-4 control-label" style="padding-top:0; line-height:1.3">Alternate Item Initiative</label>
                                <div class="col-md-8">
                                    <select class="form-control"><option>-</option></select>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top:110px">
                                <div class="text-right col-md-12">
                                    <button class="btn btn-primary">Apply Filter</button>
                                    <button class="btn btn-default">Clear Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Alternate Items</h3>
                    @*<div class="box-tools pull-right"><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#AddCrossRefIntel-Modal">Add Cross Ref Intel</button></div>*@
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:20%;background:white"></th>
                                <th colspan="2" style="width:25%; background:white">FROM ITEM</th>
                                <th colspan="2" style="width:25%; background:white">TO ITEM</th>
                                <th colspan="2" style="width:30%; background:white"></th>
                            </tr>
                            <tr>
                                <th>Alternate Item Initiative</th>
                                <th>Item Number<br /><div class="divider"></div>Alternate Number</th>
                                <th>Item Description<br /><div class="divider"></div>Vendor Description</th>
                                <th>Item Number<br /><div class="divider"></div>Alternate Number</th>
                                <th>Item Description<br /><div class="divider"></div>Vendor Description</th>
                                <th>Why</th>
                                <th style="width:150px"># of times subbed in a quote</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr-repeat">
                                <td>Alternate Item Initiative</td>
                                <td>23924<br /><div class="divider"></div><span style="color:#a5a4a4">257171</span></td>
                                <td>Item Description<br /><div class="divider"></div><span style="color:#a5a4a4">Vendor Description</span></td>
                                <td>23924<br /><div class="divider"></div><span style="color:#a5a4a4">257171</span></td>
                                <td>Item Description<br /><div class="divider"></div><span style="color:#a5a4a4">Vendor Description</span></td>
                                <td>Lorem Ipsum sit dolor est.</td>
                                <td>1234</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section styles {
    <style type="text/css">
        .AltItemSubHeader {
            margin-top: 0;
            font-size: 20px;
            color: #3c8dbc;
            text-align: center
        }

        .divider {
            height: 1px;
            background: #b6b6b6;
            box-shadow: 1px 1px 0 white
        }

        td > .divider {
            height: 1px;
            background: #efefef;
            box-shadow: 1px 1px 0 white
        }
    </style>
}

<script type="text/javascript">
    app.activeMenus = ["menuAlternateItems", "menuAlternateItemsMain"]; // List all menus that should be activated when this page is opened

    // ONLY FOR DESIGN - JS Repeater by Medenica - remove this when start coding
    function multiplyNode(node, count, deep) {
        for (var i = 0, copy; i < count - 1; i++) {
            copy = node.cloneNode(deep);
            node.parentNode.insertBefore(copy, node);
        }
    }
    multiplyNode(document.querySelector('.tr-repeat'), 15, true);
    // END JS Repeater- remove this when start coding

    // Document Ready
    $(document).ready(function () {

    });

    // Encapsulate page logic. Check out page.js for example of public and private methods and properties
    (function (page, $, undefined) {

    }(window.page = window.page || {}, jQuery));
</script>