﻿@{
    ViewBag.Title = "Update / Upload";
}

<section class="content-header">
    <h1>
        Playbook
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Update/Upload</a></li>
                    <li><a href="#">Customer Rules</a></li>
                </ul>
                <div class="tab-content">
                    <div class="col-md-12">
                        <h3>Update by Initiative</h3>
                        <p>If you'd like to update or add an initiative, you can do that here. Simple download the exsiting records, and upload back all records you want in the system. Please note that upon upload you will overwrite everything in the system.</p>
                        <button data-toggle="modal" data-target="#AddNewModal" class="btn btn-primary" style="margin:15px 0"><span class="glyphicon glyphicon-plus"></span> Add New Record</button>
                        <div class="row">
                            <div class="col-md-8">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Initiative Name</th>
                                            <th># of Items</th>
                                            <th>Date/Time Created</th>
                                            <th>Date/Time Last Updated</th>
                                            <th>Download</th>
                                            <th>Upload</th>
                                            <th>History</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Big Ticket Items</td>
                                            <td>50</td>
                                            <td>1/19/2018 2:29 AM</td>
                                            <td>1/19/2018 2:29 AM</td>
                                            <td class="text-center"><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cloud-download"></span></button></td>
                                            <td class="text-center"><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cloud-upload"></span></button></td>
                                            <td class="text-center"><button data-toggle="modal" data-target="#HistoryModal" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-time"></span></button></td>
                                        </tr>
                                        <tr>
                                            <td>Big Ticket Items</td>
                                            <td>50</td>
                                            <td>1/19/2018 2:29 AM</td>
                                            <td>1/19/2018 2:29 AM</td>
                                            <td class="text-center"><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cloud-download"></span></button></td>
                                            <td class="text-center"><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cloud-upload"></span></button></td>
                                            <td class="text-center"><button data-toggle="modal" data-target="#HistoryModal" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-time"></span></button></td>
                                        </tr>
                                        <tr>
                                            <td>Big Ticket Items</td>
                                            <td>50</td>
                                            <td>1/19/2018 2:29 AM</td>
                                            <td>1/19/2018 2:29 AM</td>
                                            <td class="text-center"><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cloud-download"></span></button></td>
                                            <td class="text-center"><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cloud-upload"></span></button></td>
                                            <td class="text-center"><button data-toggle="modal" data-target="#HistoryModal" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-time"></span></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr />
                        <h3>Mass Update</h3>
                        <div class="row">
                            <div class="col-md-1">
                                <button class="btn btn-primary btn-block"><span class="glyphicon glyphicon-cloud-download"></span></button>
                            </div>
                            <div class="col-md-11">
                                <p>Please download all records in the system.<br />Make any modifications in the Excel template, and you can do  a mass upload back into the system.</p>
                            </div>
                            <div class="clearfix" style="margin:15px 0"></div>
                            <div class="col-md-1">
                                <button class="btn btn-primary btn-block"><span class="glyphicon glyphicon-cloud-upload"></span></button>
                            </div>
                            <div class="col-md-11">
                                <p>
                                    You can upload your mass update. Please note that if you are adding an initiative through the mass update,
                                    you will need to add if first to the list of possible initiatives above.<br />Please note that this will overwrite all records in the system,
                                    so make sure that you are including all records you want.
                                </p>
                            </div>

                        </div>
                        <h3>Mass Update History</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Update Type</th>
                                            <th>Date/Time Uploaded</th>
                                            <th>User</th>
                                            <th>Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Lorem Ipsum</td>
                                            <td>1/19/2018 2:29 AM</td>
                                            <td>Jon Doe</td>
                                            <td class="text-center"><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cloud-download"></span></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>

</section>

<!-- Add New Modal -->
<div class="modal fade" id="AddNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:500px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Alternate Item Initiative</h4>
            </div>
            <div class="modal-body">
                <p>Enter a new Alternate Item Initiative option below</p>
                <input type="text" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- History Modal -->
<div class="modal fade" id="HistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">History</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Update type</th>
                            <th>Date/Time Uploaded</th>
                            <th>User</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section styles {
    <style type="text/css">
        /*Some customer styles for this page*/
    </style>
}

@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuAlternateItems", "menuAlternateItemsPlaybook"]; // List all menus that should be activated when this page is opened

        // Document Ready
        $(document).ready(function () {

        });

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {

        }(window.page = window.page || {}, jQuery));
    </script>
}