﻿@model ProfitOptics.Framework.Web.Framework.Models.Components.HierarchyChartModel

<link rel="stylesheet" type="text/css" href="~/AdminLTE/plugins/hierarchyChart/tree.css">

<div style="padding-bottom:25px">
    <div class="col-md-4">
        <div class="form-group">
            <h4>Add new node</h4>
            <hr>
            <label>Parent node:</label>
            <input class="form-control" id="addTxtParent" type="text" name="LastName" placeholder="Parent node">
            <label>Children nodes:</label>
            <input class="form-control" id="addTxtChild" type="text" name="LastName" placeholder="Children nodes">
            <button style="width:150px; margin-top:15px" class="btn btn-primary pull-right" id="addBtn" type="button">Add node</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <h4>Update node</h4>
            <hr>
            <label>Node name:</label>
            <input class="form-control" id="editTxt" type="text" name="LastName" placeholder="Node name">
            <button style="width:150px; margin-top:15px" class="btn btn-success pull-right" id="editBtn" type="button">Update node</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <h4>Remove node</h4>
            <hr>
            <label>Node name:</label>
            <input class="form-control" id="removeTxt" type="text" name="LastName" placeholder="Node name">
            <button style="width:150px; margin-top:15px" class="btn btn-warning pull-right" id="removeBtn" type="button">Remove node</button>
        </div>
    </div>

</div>

<br>
<script src="~/AdminLTE/plugins/hierarchyChart/d3.min.js"></script>
<script src="~/AdminLTE/plugins/hierarchyChart/hierarchyChart.js"></script>
<script>
    var tree =  @Html.Raw(Json.Serialize(Model));
    HierarchyChart.Init(tree);
    //window["functionName"](arguments);
    $(document).ready(function () {
        $("#addBtn").click(function () {
            addNode();
        });

        $("#editBtn").click(function () {
            editNode();
        });

        $("#removeBtn").click(function () {
            removeNode();
        });
    });

    function editNode() {
        console.log("edit node");
        var nodeName = $("#editTxt").val();
        HierarchyChart.Node.EditNode(nodeName, nodeName+"_updated", nodeName+"_updated");
    }

    function removeNode() {
        console.log("remove node");
        var nodeName = $("#removeTxt").val();
        HierarchyChart.Node.RemoveNode(nodeName);
    }

    function addNode() {
        console.log("add new node");
        var parent = $("#addTxtParent").val();
        var childNodes = $("#addTxtChild").val();
        var children = childNodes.split(" ");
        HierarchyChart.Node.AddNode(parent, children, HierarchyChart.Node.NewNode());
    }
</script>
