﻿@{
    ViewBag.Title = "Home Page";
}

<section class="content-header">
    <h1>
        Hierarchy charts
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add new node</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Parent Node EntityId:
                            </label>
                            <div class="col-md-8">
                                <input class="form-control" id="addTxtParent" type="text" placeholder="Click on '+' button on some node to populate this field">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Child Node Title:
                            </label>
                            <div class="col-md-8">
                                <input class="form-control" id="addTxtChild" type="text" placeholder="Put some text here">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Child Node Subtitle:
                            </label>
                            <div class="col-md-8">
                                <input class="form-control" id="addTxtChildSubtitle" type="text" placeholder="New subtitle">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Child Node Image:
                            </label>
                            <div class="col-md-8">
                                <input class="form-control" id="addTxtChildImage" type="text" placeholder="New image URL">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-right">
                    <button class="btn btn-primary" id="addBtn" type="button">Add node</button>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Update node</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Node EntityId:
                            </label>
                            <div class="col-md-8">
                                <input class="form-control" id="editTxt" type="text" placeholder="Click on 'Edit' button on some node to populate this field">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Title:
                            </label>
                            <div class="col-md-8">
                                <input class="form-control" id="editTxtTitle" type="text" placeholder="New title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Subtitle:
                            </label>
                            <div class="col-md-8">
                                <input class="form-control" id="editTxtSubtitle" type="text" placeholder="New subtitle">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Image:
                            </label>
                            <div class="col-md-8">
                                <input class="form-control" id="editTxtImage" type="text" placeholder="New image URL">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-right">
                    <button class="btn btn-success" id="editBtn" type="button">Update node</button>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Remove node</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Node EntityId:
                            </label>
                            <div class="col-md-8">
                                <input class="form-control" id="removeTxt" type="text" placeholder="Click on 'Delete' button on some node to populate this field">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-right">
                    <button class="btn btn-warning" id="removeBtn" type="button">Remove node</button>
                </div>
                <!-- /.box-footer-->
            </div>
        </div>

        @await Html.PartialAsync("HierarchyChart2.cshtml")
    </div>
</section>

<script>
    app.activeMenus = ["menuShowcase", "menuShowcaseHierarchyCharts"]; // List all menus that should be activated when this page is opened

    // Encapsulate page logic. Check out page.js for example of public and private methods and properties
    (function (page, $, undefined) {
    }(window.page = window.page || {}, jQuery));

    function leftNodeButtonClick(node) {
        $("#editTxt").val(node.EntityId);
        bootbox.alert({
            message: "Node Title: " + node.Title + "\n\nNode Subtitle: " + node.Subtitle + "\n\nNode EntityId: " + node.EntityId,
            title: "Button 1 callback",
            size: 'big'
        });
    }

    function middleNodeButtonClick(node) {
        $("#addTxtParent").val(node.EntityId);
        bootbox.alert({
            message: "Node Title: " + node.Title + "\n\nNode Subtitle: " + node.Subtitle + "\n\nNode EntityId: " + node.EntityId,
            title: "Button 2 callback",
            size: 'big'
        });
    }

    function rightNodeButtonClick(node) {
        $("#removeTxt").val(node.EntityId);
        bootbox.alert({
            message: "Node Title: " + node.Title + "\n\nNode Subtitle: " + node.Subtitle + "\n\nNode EntityId: " + node.EntityId,
            title: "Button 3 callback",
            size: 'big'
        });
    }
</script>

<script src="~/AdminLTE/plugins/hierarchyChart/d3.min.js"></script>
<script src="~/AdminLTE/plugins/hierarchyChart/hierarchyChart.js"></script>

<script>
    //You must match the names of the callback functions that you define here on the page, to the names given to the callback function properties on the viewModel.
    //The events that handle the 3 callbacks of the node can be found in HieararchyChart.nodeEventHandlers.
    //They are bound to the buttons of the node and then delegate the jobs to the events that you define here, passing in the node as a parameter.

    $(document).ready(function () {

        var tree =  @Html.Raw(Json.Serialize(Model));
        HierarchyChart.Init(tree);

        $("#addBtn").click(function () {
            addNode();
        });

        $("#editBtn").click(function () {
            editNode();
        });

        $("#removeBtn").click(function () {
            removeNode();
        });
    });

    function editNode() {
        console.log("edit node");
        HierarchyChart.Node.EditNode($("#editTxt").val(), $("#editTxtTitle").val(), $("#editTxtSubtitle").val(), $("#editTxtImage").val());
    }

    function removeNode() {
        console.log("remove node");
        HierarchyChart.Node.RemoveNode($("#removeTxt").val());
    }

    function addNode() {
        console.log("add new node");
        var newNode = HierarchyChart.Node.NewNode();
        newNode.Title = $("#addTxtChild").val();
        newNode.Subtitle = $("#addTxtChildSubtitle").val();
        newNode.Image = $("#addTxtChildImage").val();
        HierarchyChart.Node.AddNode($("#addTxtParent").val(), newNode);
    }
</script>