﻿@using ProfitOptics.Framework.Web.Areas.Account.Models
@model LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title.</h2>
        <section id="loginForm">
            <form asp-action="ADLogin" asp-controller="Account" asp-area="Account" method="post" class="form-horizontal" role="form">
                <input asp-for="ReturnUrl" type="hidden" />
                <h4>Use a local account to log in.</h4>
                <br /><br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-6">
                        <input asp-for="Username" class="form-control loginline" placeholder="Your username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="Password" class="form-control loginline" placeholder="Your password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 col-md-offset-1">
                        <div class="checkbox" style="padding-top:5px">
                            <label asp-for="RememberMe"><input asp-for="RememberMe" />Remember Me</label>
                        </div>
                    </div>
                    <div class="col-md-8 text-right">
                        <div class="pull-right">
                            <input type="submit" value="Log in" class="btn btn-default" style="margin-left:30px" />
                        </div>
                    </div>
                </div>
            </form>            
        </section>
    </div>
</div>

@*@section master_scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
