﻿@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title.</h2>
        <h4>Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h4>
    </div>
</div>