﻿@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title.</h2>
        <h4> Please check your email and confirm your email address.</h4>
    </div>
</div>