﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title.</h2>
        <br /><br />
        <div class="form-group">
            <p style="color:white">
                Please check your email to reset your password.
            </p>
        </div>

        @*@section master_scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@
    </div>
</div>

