﻿@model ProfitOptics.Framework.Web.Areas.Account.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        <br />

        <form asp-area="Account" asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    <input asp-for="Email" class="form-control loginline" placeholder="Enter your email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <input type="submit" class="btn btn-default" value="Email Link" />
                </div>
            </div>
        </form>



        @section master_scripts {
            @*@Scripts.Render("~/bundles/jqueryval")*@
        }
    </div>
</div>



