﻿@using ProfitOptics.Framework.Web.Areas.Account.Models
@using ProfitOptics.Framework.Core.Settings;
@inject Auth Auth
@model LoginModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title.</h2>
        <section id="loginForm">
            <form asp-area="Account" asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                <input asp-for="ReturnUrl" type="hidden" />
                <h4>Use a local account to log in.</h4>
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-12">
                        <input asp-for="Username" class="form-control loginline" placeholder="Your email" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input asp-for="Password" class="form-control loginline" placeholder="Your password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="checkbox" style="padding-top:5px;color:white">
                            <label asp-for="RememberMe"><input asp-for="RememberMe" />Remember Me</label>
                        </div>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword", null, null, new { @style = "color:white !important" })
                        @*@Html.ActionLink("Register as a new user", "Register")*@

                    </div>
                    <div class="col-md-6 text-right">
                        <div class="pull-right">
                            <input type="submit" value="Log in" class="btn btn-default" style="margin-left:30px" />
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    @if (Auth.EnableGoogleAuth)
    {
        <div class="col-md-4 col-md-offset-1" style="margin-top:20px">
            <section id="socialLoginForm">
                @await Component.InvokeAsync("ExternalLogin", new { returnUrl = Model.ReturnUrl })
            </section>
        </div>
    }
</div>

@section master_scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}