﻿@using ProfitOptics.Framework.Core.Settings
@inject Recaptcha Settings

@model ProfitOptics.Framework.Web.Areas.Account.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title.</h2>
        <form asp-action="Register" asp-controller="Account" asp-area="Account" method="post" class="form-horizontal" role="form">
            <h4>Create a new account.</h4>
            <br /><br />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-12">
                    <input asp-for="Email" class="form-control loginline" placeholder="Your email" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input asp-for="FirstName" class="form-control loginline" placeholder="First name" />
                </div>
                <div class="col-md-6">
                    <input asp-for="LastName" class="form-control loginline" placeholder="Last name" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input asp-for="Password" class="form-control loginline" placeholder="Your password" />
                </div>
                <div class="col-md-6">
                    <input asp-for="ConfirmPassword" class="form-control loginline" placeholder="Confirm password" />
                </div>
                @{await Html.RenderPartialAsync("_PasswordValidationMessages");}
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="g-recaptcha" data-sitekey="@(Settings.RecaptchaSiteKey)"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        </form>
    </div>
</div>

@section master_scripts {
    <script src='https://www.google.com/recaptcha/api.js' type="text/javascript" async defer></script>
    <script type="text/javascript" src="/Areas/Account/js/passwordValidator.js"></script>
    <script>
        $(document).ready(function () {
            passwordValidator.create("Password", "ConfirmPassword");
        });
    </script>
}