﻿@model ProfitOptics.Framework.Web.Areas.Account.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}

<h2>@ViewBag.Title.</h2>
<form asp-action="ResetPassword" asp-controller="Account" asp-area="Account" method="post" class="form-horizontal" role="form">

    @Html.AntiForgeryToken()
    <h4>Reset your password.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />

    <div class="form-group">
        <div class="col-md-12">
            <input asp-for="Email" class="form-control loginline" placeholder="Email"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input asp-for="Password" class="form-control loginline" placeholder="Password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input asp-for="ConfirmPassword" class="form-control loginline" placeholder="Confirm Password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <input type="submit" class="btn btn-default" value="Reset" />
        </div>
        <div class="col-md-10">
            @{await Html.RenderPartialAsync("_PasswordValidationMessages");}
        </div>
    </div>
    
</form>

@section master_scripts {
    <script type="text/javascript" src="/Areas/Account/js/passwordValidator.js"></script>
    <script>
        $(document).ready(function () {
            passwordValidator.create("Password", "ConfirmPassword");
        });
    </script>
}
