﻿@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title.</h2>
        <h4>Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h4>
    </div>
</div>