﻿@model ProfitOptics.Framework.Web.Areas.Account.Models.SendCodeModel

@{
    ViewData["Title"] = "Send";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Send verification code</h2><br /><br />
        <section id="loginForm">
            <form asp-action="SendCode" asp-controller="Account" asp-area="Account" method="post" role="form" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ReturnUrl" type="hidden" />
                <input asp-for="RememberMe" type="hidden" />
                <div class="form-group">
                    <label asp-for="Provider" class="control-label col-md-5"></label>
                    <select asp-for="Provider" asp-items="Model.Providers" class="form-control"></select>
                    <span asp-validation-for="Provider" class="text-danger"></span>
                    <div class="col-md-4">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>


