﻿@model ProfitOptics.Framework.Web.Areas.Account.Models.VerifyCodeModel
@{
    ViewData["Title"] = "VerifyCode";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Enter verification code</h2><br /><br />
        <section id="loginForm">
            <form asp-action="VerifyCode" asp-controller="Account" asp-area="Account" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="RememberMe" type="hidden" />
                <input asp-for="ReturnUrl" type="hidden" />
                <input asp-for="Provider" type="hidden" />
                <div class="form-group">
                    <label asp-for="Code" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="Code" class="form-control loginline" placeholder="Enter Your Code" />
                    </div>
                    <div class="col-md-5">
                        <input type="submit" class="btn btn-default" value="Submit" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="padding-left:35px;">
                        <div class="checkbox">
                            <input asp-for="RememberBrowser" />
                            <label asp-for="RememberBrowser"></label>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

