﻿
.font-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}
table {
    font-family: 'Roboto Condensed', sans-serif;
    border:1px solid #cecece !important
}
th,
td {
    padding-top:1px !important;
    padding-bottom:1px !important;
    border-left:1px solid #cecece !important
    }
    th:first-child,
    td:first-child {
        border-left:0px solid #cecece !important
    }
tfoot {
    background:#eeeeee !important;
    color:#03377a !important
}
thead {
    background:#eeeeee !important;
    color:#03377a !important
}
td {
    font-size:13px !important
}
thead tr th {
  background: #eeeeee none repeat scroll 0 0;
  border-bottom: 1px solid #cecece !important;
  font-size:13px;
  font-weight:normal !important
  
}
.font-bold {
    font-weight:bold
}
.table.dataTable thead .sorting_asc::after {
    content: url(/img/sort-up.png) !important;
}
table.dataTable thead .sorting_desc::after {
    content: url(/img/sort-down.png) !important;
}
table.dataTable thead .sorting::after {
    content: url(/img/sort-both.png) !important;
}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
  top: -3px !important;
  right:1px;
  opacity:1 !important
}
.pagination > li > a, .pagination > li > span {
  padding: 2px 8px !important;
}
table.dataTable thead > tr > th {
  padding-right: 7px;
}
div.dataTables_info {
  padding-top: 0 !important;
}

.input-writable {
    border:1px solid #a59306;
    background:#f6f109;
    color:black;
    width:60px;
}
.width37 {
    width:37px !important
}
.width30 {
    width:30px !important
}
.width50 {
    width:50px !important
}

.quote-p {
    font-size:17px;
}
.font17 th, .font17 td {
    font-size:17px !important;
}
.yellow-input {
  background: #fbf98f none repeat scroll 0 0;
  box-shadow: 0 0 5px #e4e25e inset;
}
.red-warning {
    font-size:12px;
    color:#ff0000;
}
.qoute-active td {
    background:#fbf98f !important
}
.notacceptable-margin {
    font-weight:bold !important;
    color:#d41919 !important
}
.acceptable-margin {
    font-weight:bold !important;
    color:#50c968 !important
}
abbr {
  border-bottom: 1px dotted #bcbcbc;
}
.dropdown-header {
  color: #000000 !important;
}
.dropdown-menu > li > a {
    color:#ee3d7f
}

.input-writable:focus {
  box-shadow: 0 0 4px blue;
}

.select2-container{width:100% !important}
.select2-container--default .select2-selection--single {
	border-radius: 0;
    border: 1px solid #ccc;
}
.select2-container .select2-selection--single {
	color: #555;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 5px;
}
.quoute-header-icons img{
    height:24px;
    width:24px;
}