﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section master_styles{
    <link href="~/Areas/AuditLog/css/main.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", false)
}

@section master_scripts{
    <script type="text/javascript" src="~/js/extensions.js"></script>
    <script type="text/javascript" src="~/Areas/AuditLog/js/main.js"></script>
    @RenderSection("scripts", false)
}

@RenderBody()