﻿@model AnnouncementsFilter

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Announcement List</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="announcements-table" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Announcement text</th>
                @if (Model == AnnouncementsFilter.All)
                {
                    <th>Created On</th>
                    <th>Valid Until</th>
                    <th>Action</th>
                }
                else
                {
                    <th>Valid Until</th>
                    <th>Created On</th>
                    <th>Created by</th>
                }
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
    <!-- /.box-body -->
</div>

<input type="hidden" id="announcementsFilter" value="@Model.ToString()" />
<input type="hidden" id="getAnnouncementsUrl" value="@Url.Action("GetAnnouncements", "Announcement", new { area = "Announcements" })" />
<input type="hidden" id="editAnnouncementUrl" value="@Url.Action("Announcement", "Announcement", new { area = "Announcements" })" />

<script src="~/Modules/ProfitOptics.Modules.Announcements/Content/js/announcementsTable.js"></script>
