﻿@model AnnouncementsPageModel
@{
    ViewBag.Title = "Announcements - Admin";
}
<section class="content-header">
    <h1>
        Announcements
        @if (Model.EnableAdding)
        {
            <a asp-action="Announcement" class="btn btn-sm btn-default pull-right">Add</a>
        }
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @await Html.PartialAsync("_AnnouncementsTable", AnnouncementsFilter.UserSpecific)
        </div>
    </div>
</section>