﻿@model AnnouncementModel

@{
    ViewBag.Title = "Announcement";
}

@section styles {
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="~/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
}
<section class="content-header">
    <h1>
        Announcements
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">New/Edit Announcement</h3>
                </div>

                <form asp-action="Save" asp-controller="Announcement" method="post" id="AnnouncementForm" asp-area="Announcements" class="form-horizontal" role="form">
                    @Html.Hidden("Id", Model.Id)
                    <div class="box-body">

                        <div class="form-group">
                            <label class="col-md-1 control-label" for="Title">Title</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="Title" name="Title" placeholder="Title.." value="@Model.Title">
                            </div>

                            <label class="col-md-1 control-label" for="ValidUntil">Valid Until</label>
                            <div class="col-md-2">
                                <input type="date" class="form-control" id="ValidUntil" name="ValidUntil" placeholder="Valid Until.." value="@(Model.ValidUntil.HasValue ? Model.ValidUntil.Value.ToString("yyyy-MM-dd") : string.Empty)" />
                            </div>

                            <div class="clearfix"></div>

                            <label class="col-md-1 control-label" for="Roles">Visible to</label>
                            <div class="col-md-4" style="padding-top:7px;">
                                @foreach (var o in Model.AllRoles)
                                {
                                    @Html.CheckBox("Role_" + o.Id, o.IsSelected);
                                    @Html.Label("rolename", o.Name, new { @for = "Role_" + o.Id, @class = "ann-check-label" });
                                }
                            </div>
                        </div>

                        <br /><br />
                        <div class="form-group">
                            <label class="col-md-12" for="Text">Announcement text</label>
                            <div class="col-md-12">
                                <textarea name="AnnouncementText" id="AnnouncementText" class="form-control textarea" placeholder="Announcement text..."
                                          style="height: 200px; font-size: 14px; line-height: 18px;">
                                    @Html.Raw(Model.Text)                               

                                </textarea>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <div class="col-md-12">
                                <a href="~/Announcements/Announcement" class="btn btn-default">Back</a>
                                <button type="button" onclick="Save()" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div><!-- /.box -->


        </div>
    </div>
</section>

<script src="~/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>

<script type="text/javascript">

    $(document).ready(function() {
        $(".textarea").wysihtml5();
    });

    function Save() {
        $("#AnnouncementForm").ajaxSubmit({
            type: 'post',
            url: '/Announcements/Announcement/Save',
            beforeSubmit: function (data) {
                if (!$("#AnnouncementForm").valid()) {                    
                    return false;
                }                    
            },
            data: {
                content: $('<div/>').text($("#AnnouncementText").val()).html()
            },
            dataType: 'json',
            cache: false,
            timeout: 1000000,
            success: function (data) {
                app.showAlertMessage("Saved", "Announcement is saved", "success");
                document.location = "/Announcements/Announcement";
            }
        });
    }

</script>
