﻿@{
    ViewBag.Title = "Announcements";
}
<section class="content-header">
    <h1>
        Announcements

        <a asp-action="Announcement" asp-controller="Announcement" asp-area="Announcements" class="btn btn-sm btn-default pull-right">Add</a>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @await Html.PartialAsync("_AnnouncementsTable", AnnouncementsFilter.All)
        </div>
    </div>
</section>

<div class="fixed-alert">
    <div id="success-alert" class="alert alert-success alert-dismissible" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Alert!</h4>
        Success
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuAdmin", "menuAdminAnnouncements"]; // List all menus that should be activated when this page is opened
    </script>
}
