﻿@model FilterViewModel

<div class="filter" style="padding-top: 5px;">
    <div class="logic-operator" style="display: inline-block">
        @Html.DropDownList("logicOperator", Model.LogicOperators, new { @class = "filter-dropdown", style = "width: 75px; margin-right: 10px;" })
    </div>

    @Html.DropDownList("column", Model.Columns, new { @class = "filter-dropdown bigdrop", style = "width: 220px; margin-right: 10px;" })
    @Html.DropDownList("condition", Model.Conditions, new { @class = "filter-dropdown bigdrop condition", style = "width: 120px; margin-right: 10px; text-align: center" })
    @Html.TextBox("value", null, new { style = "width: 120px; margin-right: 10px;vertical-align: bottom;height: 30px; border: 1px solid #d8d5d5;" })
    <a class="btn btn-primary btn-sm add-condition" title="Add new condition"><span class="glyphicon glyphicon-plus"></span></a>
    <a class="btn btn-danger btn-sm remove-condition" title="Remove"><span class="glyphicon glyphicon-minus"></span></a>
</div>