﻿@model DataBrowserViewModel
@{
    ViewBag.Title = "Data Browser";
}

<section class="content">
    <div class="box">
        <div class="box-header with-border win-bck">
            <h3 class="box-title">@ViewBag.Title</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label" for="databases">Database: </label>
                            @Html.DropDownList("databases", Model.Databases, new { style = "width: 300px" })
                        </div>

                        <div class="form-group" style="margin-left: 15px;">
                            <label class="control-label" for="tables">Table: </label>
                            <select id="tables" style="width:300px;"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--Conditions -->
            <div class="row conditions-container" style="display: none; margin-top: 20px">
                <div class="col-md-12">
                    <label>Conditions: </label>

                    <div class="tab-content">
                        <div class="tab-pane active" id="conditions">
                            <div id="filter-container">
                            </div>

                            <div style="margin-top: 10px">
                                <a id="editWhereClause" style="cursor: pointer">Edit where clause</a>
                            </div>
                        </div>

                        <div class="tab-pane" id="edit-where-clause">
                            <textarea id="whereStatementText" class="form-control" rows="3"></textarea>

                            <div>
                                <a id="editWhereClauseBack" style="cursor: pointer">
                                    <span>Back</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Groupings -->
            <div class="row grouping-container" style="display: none; margin-top: 20px">
                <div class="col-md-6">
                    <label>Group By: </label>

                    <div class="tab-content">
                        <div class="tab-pane active" id="grouping">
                            <div id="grouping-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Buttons container-->
            <div class="row buttons-container" style="display: none;">
                <div class="col-md-12">
                    <div class="pull-right" style="padding-bottom: 10px; margin-left: 5px;">
                        <input id="downloadButton" type="button" class="btn btn-primary" value="Download Results" />
                    </div>
                    <div class="pull-right" style="padding-bottom: 10px">
                        <input id="executeButton" type="button" class="btn btn-primary" value="Execute" />
                    </div>
                </div>
            </div>

            <!--Table container-->
            <div class="row">
                <div class="col-md-12">
                    <div id="table-container">
                        <div id="table-responsive" style="overflow-x: auto">
                            <table id="data-table" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
    </div>
</section>


<input type="hidden" id="getTablesUrl" value="@Url.Action("Tables", "DataBrowser", new { area="DataBrowser" })" />
<input type="hidden" id="whereStatementUrl" value="@Url.Action("WhereStatement", "DataBrowser", new { area="DataBrowser" })" />
<input type="hidden" id="prepareDownloadUrl" value="@Url.Action("PrepareDownload", "DataBrowser", new { area="DataBrowser" })" />
<input type="hidden" id="tableDataColumnsUrl" value="@Url.Action("TableDataColumns", "DataBrowser", new { area="DataBrowser" })" />
<input type="hidden" id="tableDataUrl" value="@Url.Action("TableData", "DataBrowser", new { area="DataBrowser" })" />
<input type="hidden" id="filterUrl" value="@Url.Action("Filter", "DataBrowser", new { area="DataBrowser" })" />
<input type="hidden" id="groupByUrl" value="@Url.Action("GroupBy", "DataBrowser", new { area="DataBrowser" })" />
<input type="hidden" id="downloadUrl" value="@Url.Action("Download", "DataBrowser", new { area="DataBrowser" })" />
