﻿@using Microsoft.AspNetCore.Identity;
@using ProfitOptics.Framework.Web.Areas.Account.Models;
@model ExternalLoginListModel


<h4>or log in with Google.</h4>
<hr />
@if (Model.ExternalLoginProviders.Count == 0)
{
    <div>
        <p>
            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support logging in via external services.
        </p>
    </div>
}
else
{
    <div id="socialLoginList">
        <p>
            @foreach (var provider in Model.ExternalLoginProviders)
            {                
                <a asp-action="ExternalLogin" asp-controller="Account" asp-area="Account" asp-route-providerName="@(provider.Name)" asp-route-callbackUrl="@(Model.ExternalLoginCallbackUrl)" asp-route-returnUrl="@(Model.ReturnUrl)" class="btn btn-default" title="Login using your @(provider.DisplayName) account">@provider.DisplayName</a>
            }
        </p>
    </div>
}

