﻿@model ProfitOptics.Framework.Web.Framework.Models.ParentCompanyModel
<tr class="comp_@Model.Id">
	<td><a href="#" data-toggle="collapse" data-target="#collapse_@Model.Id" id="show_1">@Model.Title <span class="caret"></span></a></td>
	<td class="text-center"><input type="checkbox" class="parentCompanyCb" name="parentCompanyCbView" value="" checked /></td>
	@*<td class="text-center"><input type="checkbox" class="parentCompanyCb" name="parentCompanyCbEdit" value="" checked /></td>*@
	<td class="text-center"><input type="checkbox" class="parentCompanyCb" name="parentCompanyCbAdd" value="" checked /></td>
	@*<td class="text-center"><input type="checkbox" class="parentCompanyCb" name="parentCompanyCbDelete" value="" checked /></td>*@
</tr>
<tr class="comp_@Model.Id">
	<td colspan="5" style="padding:0">
		<div id="collapse_@Model.Id" aria-expanded="false" class="collapse" >
			<table class="table table-bordered" border="0" style="background:#f5f5f5;margin-bottom:0">
				@if (Model.ChildCompanies != null)
				{
					@foreach (var item in Model.ChildCompanies)
					{
						<tr>
							<td width="40%"><span class="padding-left-30">@item.Title</span></td>
							<td class="text-center" width="15%"><input type="checkbox" class="childCompanyCb childCompanyCbView" name="childCompanyCbView" value="@string.Format("{0}_{1}", ProfitOptics.Framework.Web.Framework.Enums.CompanyPermissionType.CompanyPermissionTypeView.ToString(), item.Id)" @(item.PermissionTypeViewSelected ? "checked" : string.Empty ) /></td>
							@*<td class="text-center" width="15%"><input type="checkbox" class="childCompanyCb childCompanyCbEdit" name="childCompanyCbEdit" value="@string.Format("{0}_{1}", ProfitOptics.Framework.Web.Framework.Enums.CompanyPermissionType.CompanyPermissionTypeEdit.ToString(), item.Id)" @(item.PermissionTypeEditSelected ? "checked" : string.Empty ) /></td>*@
							<td class="text-center" width="15%"><input type="checkbox" class="childCompanyCb childCompanyCbAdd" name="childCompanyCbAdd" value="@string.Format("{0}_{1}", ProfitOptics.Framework.Web.Framework.Enums.CompanyPermissionType.CompanyPermissionTypeAdd.ToString(), item.Id)" @(item.PermissionTypeAddSelected ? "checked" : string.Empty ) /></td>
							@*<td class="text-center" width="15%"><input type="checkbox" class="childCompanyCb childCompanyCbDelete" name="childCompanyCbDelete" value="@string.Format("{0}_{1}", ProfitOptics.Framework.Web.Framework.Enums.CompanyPermissionType.CompanyPermissionTypeDelete.ToString(), item.Id)" @(item.PermissionTypeDeleteSelected ? "checked" : string.Empty ) /></td>*@
						</tr>
					}
				}

			</table>
		</div>
	</td>
</tr>