﻿@model IEnumerable<ProfitOptics.Framework.Web.Models.HelpArticle.HelpArticleGroupedByTagModel>
@{
    ViewBag.Title = "Help Article";
}

@if (Model == null)
{
    <h3>We didn't manage to find any help articles.</h3>
}
else
{
    foreach (var articleGroup in Model)
    {
        <div style="margin: 10px">
            <h3>@articleGroup.Tag</h3>
            <ul>
                @foreach (var article in articleGroup.Articles)
                {
                    <li>
                        <a data-toggle="modal" data-target=".bs-example-modal-lg" href="#" onclick="HelpArticle.Display(@Json.Serialize(article), true)">@article.Name</a>
                    </li>
                }
            </ul>
        </div>
    }
}

@section master_scripts {

    <script>
        var isAdminOrSuperAdmin = "@(User.IsInRole("admin")) || @(User.IsInRole("superadmin"))";
        
        $(document).ready(function() {
            HelpArticle.InitUI(isAdminOrSuperAdmin);
        });
    </script>
}   