﻿@using ProfitOptics.Framework.Web.Models
@model HeaderAccountMenuModel

<!-- User Account Menu -->
@if (User.Identity.IsAuthenticated)
{
    <li class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <img src="data:image/png;base64,@Model.Base64ProfilePicture" class="user-image" alt="User Image">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">@Model.FullName</span>
        </a>
        <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
                <img src="data:image/png;base64,@Model.Base64ProfilePicture" class="img-circle" alt="User Image">
                <p>
                    @Model.FullName
                    <small>Member since @(Model.MemeberSince)</small>
                </p>
            </li>
            <!-- Menu Body -->
            <!--<li class="user-body">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Friends</a>
                    </div>
                </div>
            </li>-->
            <!-- Menu Footer-->
            <li class="user-footer">
                <div class="pull-left">
                    <a asp-action="Index" asp-controller="Manage" asp-area="Account" class="btn btn-default btn-flat">Profile</a>
                    @if(Model.IsImpersonating)
                    {
                        <a asp-action="FinishImpersonatingSession" asp-controller="Users" asp-area="UserManagement" class="btn btn-default btn-flat">&lt;&lt; My Account</a>
                    }
                </div>
                <div class="pull-right">
                    <a asp-action="LogOff" asp-controller="Account" asp-area="Account" class="btn btn-default btn-flat">Sign out</a>
                </div>
            </li>
        </ul>
    </li>
}
