﻿@using ProfitOptics.Modules.Reporting.Models.RsmPerformance.ViewModels.SalesChannel
@model AggregateSalesChannelTablePartialViewModel
@using System.Globalization

@{
    var cultureInfo = new CultureInfo("en-US");
}

<table class="table table-bordered table-striped table-hover font-condensed">
    <thead>
        <tr>
            <th style="text-align: left !important">
                @(Model.Month == DateTime.Now.Month ? DateTime.Now.ToString("MM/dd/yyyy") :
                                      new DateTime(Model.Year, Model.Month, DateTime.DaysInMonth(Model.Year, Model.Month)).ToString("MM/dd/yyyy"))
            </th>
            <th class="brd-l blue-1-th" colspan="5">@(new DateTime(Model.Year, Model.Month, 1).ToString("MMMM", CultureInfo.InvariantCulture)) Actual Performance</th>
            <th class="brd-l blue-2-th" colspan="4">Projected Total @(new DateTime(Model.Year, Model.Month, 1).ToString("MMMM", CultureInfo.InvariantCulture)) Performance</th>
            <th class="brd-l blue-3-th" colspan="3">Projected Performance (Based on current month)</th>
        </tr>
        <tr>
            <th style="text-align: left !important;width:8%; min-width:130px;">Channel</th>
            <th class="brd-l blue-1-th" style="width:7.666%;">Actual</th>
            <th class="blue-1-th" style="width:7.666%;">Total Month Quota</th>
            <th class="blue-1-th" style="width:7.666%;">% to Quota</th>
            <th class="blue-1-th" style="width:7.666%;">Daily Quota</th>
            <th class="blue-1-th" style="width:7.666%;">Gap to Quota</th>
            <th class="brd-l blue-2-th" style="width:7.666%;">Avg Rev per Day</th>
            <th class="blue-2-th" style="width:7.666%;">Projected Rev <span class="red-font">@Model.RemainingWorkDaysCount</span> Remaining Days</th>
            <th class="blue-2-th" style="width:7.666%;">Projected @Model.MonthName Revenue</th>
            <th class="blue-2-th" style="width:7.666%;">% to Quota Tracking</th>
            <th class="brd-l blue-3-th" style="width:7.666%;">YTD @Model.Year Actual</th>
            <th class="blue-3-th" style="width:7.666%;">YTD @Model.Year Quota</th>
            <th class="blue-3-th" style="width:7.666%;">YTD % Quota</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var channelQuota in Model.SalesChannels)
        {
            <tr @if (channelQuota.SalesChannelName == "Total") { <text> class="brd-t" style="color: black; background-color:#c9ddef !important" </text> }>
                <th style="text-align: left !important"><strong>@channelQuota.SalesChannelName</strong></th>
                <th class="brd-l text-center">@channelQuota.MtdActualRevenue.ToString("C0", cultureInfo)</th>
                <th class="text-center">@channelQuota.MtdTotalMonthQuota.ToString("C0", cultureInfo)</th>
                <th class="text-center">@channelQuota.MtdPercentToQuota.ToString("P1")</th>
                <th class="text-center">@channelQuota.MtdDailyQuota.ToString("C0", cultureInfo)</th>
                <th class="text-center @(channelQuota.MtdGapToQuota > 0 ? "green-font" : "red-font")">@channelQuota.MtdGapToQuota.ToString("C0", cultureInfo)</th>
                <th class="brd-l text-center">@channelQuota.ProjectedAvgRevPerDay.ToString("C0", cultureInfo)</th>
                <th class="text-center">@channelQuota.ProjectedRevRemainingDays.ToString("C0", cultureInfo)</th>
                <th class="text-center">@channelQuota.ProjectedMonthRevenue.ToString("C0", cultureInfo)</th>
                <th class="text-center">@channelQuota.ProjectedPercentToQuotaTracking.ToString("P1")</th>
                <th class="brd-l text-center">@channelQuota.YtdActualRevenue.ToString("C0", cultureInfo)</th>
                <th class="text-center">@channelQuota.YtdQuota.ToString("C0", cultureInfo)</th>
                <th class="text-center">@channelQuota.YtdPercentQuota.ToString("P1")</th>
            </tr>
        }
    </tbody>
</table>
