﻿@using ProfitOptics.Modules.Reporting.Models.RsmPerformance.ViewModels.ItemCategory
@model AggregateItemCategoryTablePartialViewModel
@using System.Globalization
@{
    var cultureInfo = new CultureInfo("en-US");
}
<table class="table table-bordered table-striped table-hover font-condensed brd-soft-gray">
    <thead>
        <tr>
            <th class="brd-soft-gray" style="text-align: left !important">
                @(Model.Month == DateTime.Now.Month ? DateTime.Now.ToString("MM/dd/yyyy") :
                                              new DateTime(Model.Year, Model.Month, DateTime.DaysInMonth(Model.Year, Model.Month)).ToString("MM/dd/yyyy"))
            </th>
            <th class="gray-1-th brd-soft-gray" colspan="7">MTD </th>
            <th colspan="4" class="brd-soft-gray">YTD Projected (Based on current month)</th>
        </tr>
        <tr>
            <th class="brd-soft-gray" style="text-align: left !important;width:8%; min-width:130px;">Family</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">MTD Revenue</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">MTD Units</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">Month Quota</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">Month % to Quota</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">Avg / Day</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">MTD Trend Revenue</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">MTD Trend %</th>
            <th style="width:8.363% !important;" class="brd-soft-gray">YTD Revenue</th>
            <th style="width:8.363% !important;" class="brd-soft-gray">YTD Units</th>
            <th style="width:8.363% !important;" class="brd-soft-gray">YTD Quota (Revenue)</th>
            <th style="width:8.363% !important;" class="brd-soft-gray">YTD % Quota</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pfPerformance in Model.ItemCategories)
        {
            <tr
                @if (pfPerformance.ItemCategoryName == "Total")
                {<text> class="brd-t" style="color: black; background-color:#c9ddef !important" </text>}>
                <td style="text-align: left !important;width:8%; min-width:130px;" class="text-left brd-soft-gray">@pfPerformance.ItemCategoryName</td>
                <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pfPerformance.MtdActualRevenue.ToString("C0", cultureInfo)</td>
                <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pfPerformance.MtdActualUnits.ToString("N0")</td>
                <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pfPerformance.MtdTotalMonthQuota.ToString("C0", cultureInfo)</td>
                <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pfPerformance.MtdPercentToQuota.ToString("P1")</td>
                <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pfPerformance.ProjectedAvgRevPerDay.ToString("C0", cultureInfo)</td>
                <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pfPerformance.ProjectedMonthRevenue.ToString("C0", cultureInfo)</td>
                <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pfPerformance.ProjectedPercentToQuotaTracking.ToString("P1")</td>
                <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pfPerformance.YtdActualRevenue.ToString("C0", cultureInfo)</td>
                <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pfPerformance.YtdActualUnits.ToString("N0")</td>
                <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pfPerformance.YtdQuota.ToString("C0", cultureInfo)</td>
                <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pfPerformance.YtdPercentQuota.ToString("P1")</td>
            </tr>
        }
    </tbody>
</table>
