﻿@using ProfitOptics.Modules.Reporting.Models.RsmPerformance.ViewModels
@model ChartsPartialViewModel

<div class="col-md-6">
    <div id="YTDChannels-chart" style="min-width: 310px; height: 300px; max-width: 600px; margin: 0 auto"></div>
</div>
<div class="col-md-6">
    <div id="YTDPerformanceQuota-chart" style="min-width: 310px; height: 300px; max-width: 600px; margin: 0 auto"></div>
</div>

<script type="text/javascript">
        function loadSalesChart() {
            Highcharts.chart('YTDChannels-chart', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'YTD Product Performance to Quota'
                    },
                    xAxis: {
                        title: {
                            text: null
                        },
                        categories:
                            @Html.Raw(Json.Serialize(Model.ProductFamilyPerformance.Select(x => x.ProductFamilyName + " Total").ToArray()))
                    },
                    yAxis: {
                        title: {
                            text: '$'
                        },
                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        formatter: function() {
                            var text = this.series.name === 'YTD @(Model.Year) Actual' ? 'Revenue' : 'Quota';
                            return '<b>' +
                                this.series.name +
                                '</b><br/><br/>' +
                                text +
                                ': ' +
                                Highcharts.numberFormat(this.y, 0, '.', ',') +
                                ' $';
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    colors: ['#8fabdd', '#a8d18d'],
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true
                            },
                            colors: ['#8fabdd', '#a8d18d']
                        }
                    },
                series: [{
                    name: 'YTD @(Model.Year) Actual',
                    data: @Html.Raw(Json.Serialize(Model.ProductFamilyPerformance.Select(x => x.YtdActual).ToArray())),
                    color: '#8fabdd'
                }, {
                    name: 'YTD @(Model.Year) Quota',
                    data: @Html.Raw(Json.Serialize(Model.ProductFamilyPerformance.Select(x => x.YtdQuota).ToArray())),
                        color: '#a8d18d'
                }]
            });
        }

        function loadProductsChart() {
            Highcharts.chart('YTDPerformanceQuota-chart', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'YTD Channel Performance to Quota'
                },
                xAxis: {
                    title: {
                        text: null
                    },
                    categories: @Html.Raw(Json.Serialize(Model.SalesChannelPerformance.Select(x => x.SalesChannelName).ToArray()))
                },
                yAxis: {
                    title: {
                        text: '$'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    formatter: function () {
                        var text = this.series.name === 'YTD @(Model.Year) Actual' ? 'Revenue' : 'Quota';
                        return '<b>' + this.series.name + '</b><br/><br/>' + text + ': ' + Highcharts.numberFormat(this.y, 0, '.', ',') + ' $';
                    }
                },
                colors: ['#8fabdd', '#a8d18d'],
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        },
                        colors: ['#8fabdd', '#a8d18d']
                    }
                },
                legend: {

                },
                credits: {
                    enabled: false
                },
                series: [{
                        name: 'YTD @(Model.Year) Actual',
                        data: @Html.Raw(Json.Serialize(Model.SalesChannelPerformance.Select(x => x.YtdActual).ToArray())),
                        color: '#8fabdd'
                        }, {
                            name: 'YTD @(Model.Year) Quota',
                            data: @Html.Raw(Json.Serialize(Model.SalesChannelPerformance.Select(x => x.YtdQuota).ToArray())),
                        color: '#a8d18d'
                        }]
            });
        }
</script>