﻿@using ProfitOptics.Modules.Reporting.Models.RsmPerformance.ViewModels.RegionTable
@model RegionTablePartialViewModel

@inject ReportingSettings Settings

@using System.Globalization
@using ProfitOptics.Modules.Reporting

@{
    var cultureInfo = new CultureInfo("en-US");
}

@if (Model.RegionQuotaPerformanceData.Count != 0)
{
    <table id="region-tbl" class="table table-hover table-striped font-condensed">
        <thead>
            <tr>
                <th class="padd4-3" colspan="15">
                    @Model.CurrentMonth % to Quota Dashboard
                </th>
            </tr>


            <tr>
                <th class="padd4-3" id="rsm-cell"></th>

                <th class="lBlue-th padd4-3" colspan="4">@Model.CurrentMonth MTD</th>
                <th class="middle-cell"></th>

                <th class="dBlue-th padd4-3" colspan="4">Q@(Model.CurrentQuarter) QTD</th>
                <th class="middle-cell"></th>

                <th class="lBlue-th padd4-3" colspan="4">@Model.CurrentMonth YTD</th>
            </tr>


            <tr>
                <th id="rsm-cell">RSM</th>

                <th style="width:8%; min-width:80px" class="lBlue-th padd4-3">Revenue</th>
                <th style="width:8%; min-width:80px" class="lBlue-th padd4-3">Quota</th>
                <th style="width:8%; min-width:80px" class="lBlue-th padd4-3">% to Quota</th>
                <th style="width:8%; min-width:80px" class="lBlue-th padd4-3">Ranking</th>
                <th class="middle-cell"></th>

                <th style="width:8%; min-width:80px" class="dBlue-th padd4-3">Revenue</th>
                <th style="width:8%; min-width:80px" class="dBlue-th padd4-3">Quota</th>
                <th style="width:8%; min-width:80px" class="dBlue-th padd4-3">% to Quota</th>
                <th style="width:8%; min-width:80px" class="dBlue-th padd4-3">Ranking</th>
                <th class="middle-cell"></th>

                <th style="width:8%; min-width:80px" class="lBlue-th padd4-3">Revenue</th>
                <th style="width:8%; min-width:80px" class="lBlue-th padd4-3">Quota</th>
                <th style="width:8%; min-width:80px" class="lBlue-th padd4-3">% to Quota</th>
                <th style="width:8%; min-width:80px" class="lBlue-th padd4-3">Ranking</th>

            </tr>
        </thead>
        <tbody>

            @if (Model.RegionQuotaPerformanceData.Count != 0)
            {

                foreach (var record in Model.RegionQuotaPerformanceData)
                {
                    bool isTotalRegion = record.RegionLeader.Equals(string.Empty);

                    if (!isTotalRegion)
                    {
                        <tr style="border-top: 2px solid black !important;">

                            <td class="sales-rep rms-td" colspan="5" style="padding:3px;background:#c9ddef !important;font-size:15px; border-top:0 !important;">
                                <span class="text-bolder">@(record.RegionQuotaPerformanceData.FirstOrDefault()?.RegionName ?? string.Empty)</span>
                                (@record.RegionLeader: Sr. RSM)
                            </td>
                            <td class="middle-cell" style="border-top:0 !important"></td>
                            <td colspan="4" style="border-top:0 !important;background:#c9ddef !important;"></td>
                            <td class="middle-cell" style="border-top:0 !important"></td>
                            <td colspan="4" style="border-top:0 !important;background:#c9ddef !important;"></td>
                        </tr>
                    }

                    foreach (var item in record.RegionQuotaPerformanceData)
                    {
                        var mtdCellColor = item.SalesRepData.MtdPercentToQuotaTrend > Settings.RegionTableGreenPercentage ?
                            "green-font2" : item.SalesRepData.MtdPercentToQuotaTrend >= Settings.RegionTableYellowPercentage ? "yellow-cell" : "red-font2";

                        var qtdCellColor = item.SalesRepData.QtdPercentToQuotaTrend > Settings.RegionTableGreenPercentage ?
                            "green-font2" : item.SalesRepData.QtdPercentToQuotaTrend >= Settings.RegionTableYellowPercentage ? "yellow-cell" : "red-font2";

                        var ytdCellColor = item.SalesRepData.YtdPercentToQuotaTrend > Settings.RegionTableGreenPercentage ?
                            "green-font2" : item.SalesRepData.YtdPercentToQuotaTrend >= Settings.RegionTableYellowPercentage ? "yellow-cell" : "red-font2";

                        var vsCellColor = item.SalesRepData.YearOverYearComparison > Settings.RegionTableGreenPercentage ?
                            "green-font2" : item.SalesRepData.YearOverYearComparison >= Settings.RegionTableYellowPercentage ? "yellow-cell" : "red-font2";

                        var middleCellClass = record.RegionLeader.Equals(string.Empty) ? "middle-cell bottom" : "middle-cell";

                        var totalBorderClass = item.SalesRepData.SalesRepId == 0 ? "no-side-border" : "";

                        var fontWeight = item.SalesRepData.SalesRepId == 0 ? "500; border-top: 0px solid black !important;color: #333;background-color: #c9ddef !important;" : "400";

                        if (!isTotalRegion)
                        {

                            <tr style="font-weight: @fontWeight ">
                                <td class="padd5-3 sales-rep">@item.SalesRepData.SalesRepName</td>
                                <td class="padd5-3 @totalBorderClass">@item.SalesRepData.MtdRevenue.ToString("C0", cultureInfo)</td>
                                <td class="padd5-3 @totalBorderClass">@item.SalesRepData.MtdQuota.ToString("C0", cultureInfo)</td>
                                <td class="padd5-3 text-bolder"><div class="@mtdCellColor indicatorStatus"></div> <span style="margin-left: 10px">@item.SalesRepData.MtdPercentToQuotaTrend.ToString("P1")</span></td>
                                <td class="padd5-3 text-bolder">@(item.SalesRepData.MtdRanking != 0 ? item.SalesRepData.MtdRanking.ToString() : "" )</td>

                                <td class="@middleCellClass"></td>

                                <td class="padd5-2 @totalBorderClass">@item.SalesRepData.QtdRevenue.ToString("C0", cultureInfo)</td>
                                <td class="padd5-2 @totalBorderClass">@item.SalesRepData.QtdQuota.ToString("C0", cultureInfo)</td>
                                <td class="padd5-2 text-bolder"><div class="@qtdCellColor indicatorStatus"></div> <span style="margin-left: 10px">@item.SalesRepData.QtdPercentToQuotaTrend.ToString("P1")</span></td>
                                <td class="padd5-2 text-bolder">@(item.SalesRepData.QtdRanking != 0 ? item.SalesRepData.QtdRanking.ToString() : "" )</td>

                                <td class="@middleCellClass"></td>

                                <td class="padd5-2 @totalBorderClass">@item.SalesRepData.YtdRevenue.ToString("C0", cultureInfo)</td>
                                <td class="padd5-2 @totalBorderClass">@item.SalesRepData.YtdQuota.ToString("C0", cultureInfo)</td>
                                <td class="padd5-2 text-bolder"><div class="@ytdCellColor indicatorStatus"></div> <span style="margin-left: 10px">@item.SalesRepData.YtdPercentToQuotaTrend.ToString("P1")</span></td>
                                <td class="padd5-2 text-bolder">@(item.SalesRepData.YtdRanking != 0 ? item.SalesRepData.YtdRanking.ToString() : "" )</td>


                            </tr>
                        }
                        else
                        {
                            <tr class="rms-td" style="font-weight: @fontWeight; border-top: 2px solid black !important; ">
                                <td class="sales-rep" style="padding:3px">@item.RegionName</td>
                                <td class="@totalBorderClass">@item.SalesRepData.MtdRevenue.ToString("C0", cultureInfo)</td>
                                <td class="@totalBorderClass">@item.SalesRepData.MtdQuota.ToString("C0", cultureInfo)</td>
                                <td class="text-bolder" colspan="2"><span style="margin-left:-23px" class="@mtdCellColor indicatorStatus"></span> @item.SalesRepData.MtdPercentToQuotaTrend.ToString("P1")</td>

                                <td class="@middleCellClass"></td>

                                <td class="@totalBorderClass">@item.SalesRepData.QtdRevenue.ToString("C0", cultureInfo)</td>
                                <td class="@totalBorderClass">@item.SalesRepData.QtdQuota.ToString("C0", cultureInfo)</td>
                                <td class="text-bolder" colspan="2"><span style="margin-left:-23px" class="@qtdCellColor indicatorStatus"></span> @item.SalesRepData.QtdPercentToQuotaTrend.ToString("P1")</td>

                                <td class="@middleCellClass"></td>

                                <td class="@totalBorderClass">@item.SalesRepData.YtdRevenue.ToString("C0", cultureInfo)</td>
                                <td class="@totalBorderClass">@item.SalesRepData.YtdQuota.ToString("C0", cultureInfo)</td>
                                <td class="text-bolder" colspan="2"><span style="margin-left:-23px" class="@ytdCellColor indicatorStatus"></span> @item.SalesRepData.YtdPercentToQuotaTrend.ToString("P1")</td>

                            </tr>
                        }
                    }
                }

            }
            else
            {
                <tr>
                    <td class="no-data" colspan="19">No Region Quota Performance data is available.</td>
                </tr>
            }
        </tbody>
    </table>


    <style>
        #region-tbl {
            overflow-x: auto;
            border-collapse: collapse;
            font-family: 'Roboto', sans-serif
        }

        .padd4-3 {
            padding: 4px 3px !important;
        }

        .padd5-3 {
            padding: 5px 3px !important;
        }

        .padd7-3 {
            padding: 7px 3px !important;
        }

        .padd5-2 {
            padding: 5px !important;
        }

        #rsm-cell {
            text-align: left !important;
        }

        #region-tbl tr:last-child td {
            font-size: 15px;
        }

        #region-tbl th {
            color: black;
            text-align: center;
        }

        .indicatorStatus {
            width: 10px;
            height: 10px;
            position: absolute;
            border-radius: 100%;
            margin-top: 5px;
        }

        #region-tbl td {
            /*border: 2px solid !important;
            border-color: black;*/
            text-align: center;
        }

        #region-tbl .sales-rep {
            white-space: nowrap;
            text-align: left;
        }

        .blank-row-small {
            height: 6px;
            background-color: white;
            border: 0 !important
        }

        .blank-row {
            height: 6px;
            background-color: white !important;
            border: 0 !important
        }

        .middle-cell {
            border-bottom: 1px solid #759ec1 !important;
            border-top: 1px solid #759ec1 !important;
            border-left: 1px solid #759ec1 !important;
            border-right: 1px solid #759ec1 !important;
            width: 1px !important;
            padding: 0 !important;
        }

        #region-tbl .text-bolder {
            font-weight: 900;
        }

        .lBlue-th {
            color: #03377a !important;
            background: #79afde !important;
            border-color: #759ec1 !important;
        }

        .lBlueBck-th {
            background: #79afde !important;
        }

        .dBlue-th {
            color: #03377a !important;
            background: #c9ddef !important;
            border-color: #759ec1 !important;
        }

        #region-tbl .no-data {
            text-align: left;
            height: 50px;
            font-weight: bold;
        }


        .yellow-cell {
            background-color: #ffdf00;
        }

        .red-font2 {
            background: #d40c0c !important;
            color: white !important
        }

        .green-font2 {
            background: #a8d18d !important;
            color: white !important
        }
    </style>
}