﻿@using ProfitOptics.Modules.Reporting.Models.RsmPerformance.ViewModels.SalesChannel
@model SalesRepSalesChannelTablePartialViewModel
@using System.Globalization
@{
    var cultureInfo = new CultureInfo("en-US");
}

<table id="pd-tbl-1" class="table table-bordered table-striped table-hover font-condensed" style="border-collapse: collapse !important">
    <thead>
    <tr>
        <th style="text-align: left !important">
            @(Model.Month == DateTime.Now.Month ? DateTime.Now.ToString("MM/dd/yyyy") :
                  new DateTime(Model.Year, Model.Month, DateTime.DaysInMonth(Model.Year, Model.Month)).ToString("MM/dd/yyyy"))
        </th>
        <th class="brd-l blue-1-th" colspan="5">@(new DateTime(Model.Year, Model.Month, 1).ToString("MMMM", CultureInfo.InvariantCulture)) Actual Performance</th>
        <th class="brd-l blue-2-th" colspan="4">Projected Total @(new DateTime(Model.Year, Model.Month, 1).ToString("MMMM", CultureInfo.InvariantCulture)) Performance</th>
        <th class="brd-l blue-3-th" colspan="3">Projected Performance (Based on current month)</th>
    </tr>
    <tr>
        <th style="text-align: left !important;width:8%; min-width:130px;">Channel</th>
        <th style="width:7.666% !important;" class="brd-l blue-1-th">Actual</th>
        <th style="width:7.666% !important;" class="blue-1-th">Total Month Quota</th>
        <th style="width:7.666% !important;" class="blue-1-th">% to Quota</th>
        <th style="width:7.666% !important;" class="blue-1-th">Daily Quota</th>
        <th style="width:7.666% !important;" class="blue-1-th">Gap to Quota</th>
        <th style="width:7.666% !important;" class="brd-l blue-2-th">Avg Rev per Day</th>
        <th style="width:7.666% !important;" class="blue-2-th">Projected Rev <span class="red-font">@Model.RemainingWorkDaysCount</span> Remaining Days</th>
        <th style="width:7.666% !important;" class="blue-2-th">Projected @Model.MonthName Revenue</th>
        <th style="width:7.666% !important;" class="blue-2-th">% to Quota Tracking</th>
        <th style="width:7.666% !important;" class="brd-l blue-3-th">YTD @Model.Year Actual</th>
        <th style="width:7.666% !important;" class="blue-3-th">YTD @Model.Year Quota</th>
        <th style="width:7.666% !important;" class="blue-3-th">YTD % Quota</th>
    </tr>
    </thead>
    <tbody>
    <!--new item-->
    @for (var j = 0; j < Model.SalesChannels.Count; j++)
    {
        foreach (var channel in Model.SalesChannels[j].Items)
        {
            <tr @if (channel.SalesChannelName == Model.SalesChannels[j].SalesRepName) { <text> style="color: black; background-color:#c9ddef !important" </text>  }>
                <td style="text-align: left !important;width:8%; min-width:130px;">
                    @if (channel.SalesChannelName == Model.SalesChannels[j].SalesRepName)
                    {
                        <a href="@Url.Action("SalesRepPerformance", "RsmPerformance", new {Area = "Reporting", salesRepId = Model.SalesChannels[j].SalesRepId, year = Model.Year, month = Model.Month})"><strong>@channel.SalesChannelName</strong></a>
                    }
                    else
                    {
                        <strong>@channel.SalesChannelName</strong>
                    }
                </td>
                <td  style="width:7.666% !important;" class="brd-l text-center">@channel.MtdActualRevenue.ToString("C0", cultureInfo)</td>
                <td  style="width:7.666% !important;" class="text-center">@channel.MtdTotalMonthQuota.ToString("C0", cultureInfo)</td>
                <td  style="width:7.666% !important;" class="text-center">@channel.MtdPercentToQuota.ToString("P1")</td>
                <td  style="width:7.666% !important;" class="text-center">@channel.MtdDailyQuota.ToString("C0", cultureInfo)</td>
                <td  style="width:7.666% !important;" class="text-center @(channel.MtdGapToQuota > 0 ? "green-font" : "red-font")">@channel.MtdGapToQuota.ToString("C0", cultureInfo)</td>
                <td  style="width:7.666% !important;" class="brd-l text-center">@channel.ProjectedAvgRevPerDay.ToString("C0", cultureInfo)</td>
                <td  style="width:7.666% !important;" class="text-center">@channel.ProjectedRevRemainingDays.ToString("C0", cultureInfo)</td>
                <td  style="width:7.666% !important;" class="text-center">@channel.ProjectedMonthRevenue.ToString("C0", cultureInfo)</td>
                <td  style="width:7.666% !important;" class="text-center">@channel.ProjectedPercentToQuotaTracking.ToString("P1")</td>
                <td  style="width:7.666% !important;" class="brd-l text-center">@channel.YtdActualRevenue.ToString("C0", cultureInfo)</td>
                <td  style="width:7.666% !important;" class="text-center">@channel.YtdQuota.ToString("C0", cultureInfo)</td>
                <td  style="width:7.666% !important;" class="text-center">@channel.YtdPercentQuota.ToString("P1")</td>
            </tr>
        }
        if (j < Model.SalesChannels.Count - 1)
        {
            <tr style="height: 24px; border-top: 2px solid black !important;">
                @for (var i = 0; i < 13; i++)
                {
                    <td class="text-center"></td>
                }
            </tr>
            <tr style="height: 24px; border-bottom: 2px solid black !important;">
                @for (var i = 0; i < 13; i++)
                {
                    <td class="text-center"></td>
                }
            </tr>
        }
    }
    </tbody>
</table>

<script type="text/javascript">
    function getSalesChannelDatatable() {
        var dt = $('#pd-tbl-1').DataTable({
            info: false,
            pageLength: 500,
            paging: false,
            ordering: false,
            scrollY: 500,
            scrollCollapse: false
        });

        return dt;
    }
</script>
