﻿@using ProfitOptics.Modules.Reporting.Models.RsmPerformance.ViewModels.ItemCategory
@model SalesRepItemCategoryTablePartialViewModel
@using System.Globalization
@{
    var cultureInfo = new CultureInfo("en-US");
}

<table id="pd-tbl-3" class="table table-bordered table-striped table-hover font-condensed" style="border-collapse: collapse !important">
    <thead>
        <tr>
            <th style="text-align: left !important">
                @(Model.Month == DateTime.Now.Month ? DateTime.Now.ToString("MM/dd/yyyy") :
                                                      new DateTime(Model.Year, Model.Month, DateTime.DaysInMonth(Model.Year, Model.Month)).ToString("MM/dd/yyyy"))
            </th>
            <th class="gray-1-th brd-soft-gray" colspan="7">MTD Performance</th>
            <th colspan="4" class="brd-soft-gray">YTD Projected Performance (Based on current month)</th>
        </tr>
        <tr>
            <th style="text-align: left !important;width:8%; min-width:130px;">Family</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">MTD Revenue</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">MTD Units</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">Month Quota (Revenue)</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">Month % to Quota</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">Avg / Day</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">MTD Trend Revenue</th>
            <th style="width:8.363% !important;" class="gray-1-th brd-soft-gray">MTD Trend %</th>
            <th style="width:8.363% !important;" class="brd-soft-gray">YTD Revenue</th>
            <th style="width:8.363% !important;" class="brd-soft-gray">YTD Units</th>
            <th style="width:8.363% !important;" class="brd-soft-gray">YTD Quota (Revenue)</th>
            <th style="width:8.363% !important;" class="brd-soft-gray">YTD % Quota</th>
        </tr>
    </thead>
    <tbody>
        <!--new item-->
        @for (var j = 0; j < Model.ItemCategories.Count; j++)
        {
            foreach (var pFamily in Model.ItemCategories[j].Items)
            {
                <tr @if (pFamily.ItemCategoryName == Model.ItemCategories[j].SalesRepName) { <text> style="color: black; background-color:#c9ddef !important" </text> }>
                    <td style="text-align: left !important;width:8%; min-width:130px;" class="brd-soft-gray">
                        @if (pFamily.ItemCategoryName == Model.ItemCategories[j].SalesRepName)
                        {
                            <a href="@Url.Action("SalesRepPerformance", "RsmPerformance", new {Area = "Reporting", salesRepId = Model.ItemCategories[j].SalesRepId, year = Model.Year, month = Model.Month})"><strong>@pFamily.ItemCategoryName</strong></a>
                        }
                        else
                        {
                            <strong>@pFamily.ItemCategoryName</strong>
                        }
                    </td>
                    <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pFamily.MtdActualRevenue.ToString("C0", cultureInfo)</td>
                    <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pFamily.MtdActualUnits.ToString("N0")</td>
                    <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pFamily.MtdTotalMonthQuota.ToString("C0", cultureInfo)</td>
                    <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pFamily.MtdPercentToQuota.ToString("P1")</td>
                    <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pFamily.ProjectedAvgRevPerDay.ToString("C0", cultureInfo)</td>
                    <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pFamily.ProjectedMonthRevenue.ToString("C0", cultureInfo)</td>
                    <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pFamily.ProjectedPercentToQuotaTracking.ToString("P1")</td>
                    <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pFamily.YtdActualRevenue.ToString("C0", cultureInfo)</td>
                    <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pFamily.YtdActualUnits.ToString("N0")</td>
                    <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pFamily.YtdQuota.ToString("C0", cultureInfo)</td>
                    <td style="width:8.363% !important;" class="text-center brd-soft-gray">@pFamily.YtdPercentQuota.ToString("P1")</td>
                </tr>
            }
            if (j < Model.ItemCategories.Count - 1)
            {
                <tr style="height: 24px; border-top: 2px solid black !important;">
                    @for (var i = 0; i < 12; i++)
                    {
                        <td class="text-center"></td>
                    }
                </tr>
                <tr style="height: 24px; border-bottom: 2px solid black !important;">
                    @for (var i = 0; i < 12; i++)
                    {
                        <td class="text-center"></td>
                    }
                </tr>
            }
        }
    </tbody>
</table>

<script type="text/javascript">
    function getItemCategoryDatatable() {
        var dt = $('#pd-tbl-3').DataTable({
            info: false,
            pageLength: 500,
            paging: false,
            ordering: false,
            scrollY: 500,
            scrollCollapse: false
        });

        return dt;
    }
</script>