﻿@using ProfitOptics.Modules.Reporting.Services.RsmPerformance
@using ProfitOptics.Modules.Reporting.Models.RsmPerformance.ViewModels
@model RsmPerformanceViewModel
@{
    ViewBag.Title = "RSM Performance";
}
@inject IDaysOffService DaysOffService
@inject IRsmSalesAndQuotaService RsmSalesAndQuotaService

<section class="content-header">
    <h1>
        RSM Performance Dashboard
    </h1>
</section>

<section class="content-header" style="margin-top: 25px">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Month Filter
                    </h3>
                    <div class="box-tools pull-right">
                        @for (var i = -11; i <= 0; i++)
                        {
                            var dt = DateTime.Now.AddMonths(i);
                            if (RsmSalesAndQuotaService.QuotaExistsForYearAndMonth(dt.Year, dt.Month))
                            {
                                var name = DaysOffService.GetMonthName(dt.Month);
                                if (dt.Month == Model.Month)
                                {
                                    <text>@name</text>
                                }
                                else
                                {
                                    <a href="@Url.Action("Index","RsmPerformance", new { year = dt.Year, month = dt.Month })">@name</a>
                                }
                                if (dt.Month != DateTime.Now.Month)
                                {
                                    <text> - </text>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">

        <!-- Region Dashboard-->
        <div id="region-tbl-wrapper" class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span>Region Performance Dashboard</span>
                    </h3>
                </div>
                <div id="region-tbl-overlay" class="overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <div class="box-body">
                    <div id="region-tbl-container"></div>
                </div>
            </div>
        </div>

        <!-- RSM Charts -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span>Performance to Quota</span>
                    </h3>
                </div>
                <div class="box-body">
                    <div id="rsm-charts-overlay" class="overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                    <div id="rsm-charts-container">
                    </div>
                </div>
            </div>
        </div>

        <!-- RSM Tabs -->
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs ui-sortable-handle">
                    <li class="active rsm-tab"><a href="#sales-channel-tab" onclick="loadSalesChannelTab()" data-toggle="tab">Sales Channel Performance</a></li>
                    <li class="rsm-tab"><a href="#product-family-tab" onclick="loadProductFamilyTab()" data-toggle="tab">Product Category Performance</a></li>
                    <li class="rsm-tab"><a href="#item-category-tab" onclick="loadItemCategoryTab()" data-toggle="tab">Family Performance</a></li>
                </ul>
                <div class="tab-content">
                    <!-- Sales channel tab -->
                    <div class="tab-pane active" id="sales-channel-tab">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4>Sales Channel Overall Performance</h4>
                                    <div id="aggregate-sales-overlay" class="overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                                    <div id="aggregate-sales-container">
                                    </div>
                                </div>
                                <span class="col-md-12" style="height: 20px"></span>
                                <div class="col-md-12">
                                    <h4>Sales Channel Performance per Sales Rep</h4>
                                    <div class="add-scroll-small-res">
                                        <div id="salesrep-sales-overlay" class="overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                                        <div id="salesrep-sales-container">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Product category tab -->
                    <div class="tab-pane" id="product-family-tab">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4>Product Category Overall Performance</h4>
                                    <div id="aggregate-products-overlay" class="overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                                    <div id="aggregate-products-container">
                                    </div>
                                </div>
                                <span class="col-md-12" style="height: 20px"></span>
                                <div class="col-md-12">
                                    <h4>Product Category Performance per Sales Rep</h4>
                                    <div class="add-scroll-small-res">
                                        <div class="add-scroll-small-res">
                                            <div id="salesrep-products-overlay" class="overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                                            <div id="salesrep-products-container">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Family tab -->
                    <div class="tab-pane" id="item-category-tab">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4>Family Overall Performance</h4>
                                    <div id="aggregate-category-overlay" class="overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                                    <div id="aggregate-category-container">
                                    </div>
                                </div>
                                <span class="col-md-12" style="height: 20px"></span>
                                <div class="col-md-12">
                                    <h4>Family Performance per Sales Rep</h4>
                                    <div class="add-scroll-small-res">
                                        <div id="salesrep-category-overlay" class="overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                                        <div id="salesrep-category-container">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section styles {

    <style type="text/css">
        /* Overriding CSS for tabs */

        .rsm-tab > a {
            font-size: 18px;
            text-decoration: none;
            cursor: pointer;
        }

        /* Overriding CSS for showing overlay */

        .form-group > .overlay,
        .overlay-wrapper > .overlay,
        .box > .loading-img,
        .overlay-wrapper > .loading-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .form-group .overlay,
        .overlay-wrapper .overlay {
            z-index: 50;
            background: rgba(255, 255, 255, 0.7);
            border-radius: 3px;
        }

            .form-group .overlay > .fa,
            .overlay-wrapper .overlay > .fa {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -15px;
                margin-top: 5px;
                color: #000;
                font-size: 30px;
            }

            .form-group .overlay.dark,
            .overlay-wrapper .overlay.dark {
                background: rgba(0, 0, 0, 0.5);
            }

        /* Custom CSS for this page */

        .bck-white {
            background: white !important;
        }

        .gray-1-th {
            background: rgb(209, 210, 216) !important;
        }

        .bck-orange {
            background: #ffd55f !important;
        }

        .bck-red {
            background: #f3b480 !important;
        }

        .bck-green {
            background: #c2dbb0 !important;
        }

        .red-font {
            color: #d40c0c;
        }

        .green-font {
            color: #00b050;
        }

        .brd-soft-gray {
            border-color: #b5b6b7 !important;
        }

        .blue-1-th {
            background: #79afde !important;
            border-color: #759ec1 !important;
        }

        .blue-2-th {
            background: #c9ddef !important;
            border-color: #759ec1 !important;
        }

        .blue-3-th {
            background: #a0c7ea !important;
            border-color: #759ec1 !important;
        }

        .orange-tbl th {
            background: #ffd55f !important;
            border-color: #d6b14a !important;
        }

        .red-tbl th {
            background: #f3b480 !important;
            border-color: #c98a59 !important;
        }

        .green-tbl th {
            background: #c2dbb0 !important;
            border-color: #9db481 !important;
        }

        .brd-l {
            border-left: 2px solid #759ec1 !important;
        }

        .brd-l-orange {
            border-left: 2px solid #cbab49 !important;
        }

        .brd-l-red {
            border-left: 2px solid #c88f62 !important;
        }

        .brd-l-green {
            border-left: 2px solid #a0b28b !important;
        }

        tr.brd-t > td,
        .brd-t {
            border-top: 2px solid black !important;
        }


        table.dataTable thead > tr > th,
        table.dataTable tfoot > tr > td,
        table.dataTable tbody > tr > td {
            padding: 3px !important;
            font-size: 12px !important;
        }

        .dataTables_scrollBody thead {
            visibility: collapse !important;
        }

        #pd-tbl-2 {
            border-collapse: collapse !important;
            width: 100% !important;
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuReporting", "menuRSMPerformance"]; // List all menus that should be activated when this page is opened

        var salesChannelSalesRepTable = null;
        var productFamilySalesRepTable = null;
        var itemCategorySalesRepTable = null;
        var salesChannelTabLoaded = false;
        var productFamilyTabLoaded = false;
        var itemCategoryTabLoaded = false;

        function loadRegionTableAsync() {
            $("#region-tbl-overlay").show();
            $("#region-tbl-container").load(
                '@Html.Raw(Url.Action("RegionTablePartial", "RsmPerformance", new { year = Model.Year, month = Model.Month,}))',
                function () {
                    $("#region-tbl-overlay").hide();
                    if ($.trim($("#region-tbl-container").text()) == "") {
                        $("#region-tbl-wrapper").hide();
                    }
                }
            );
        }

        function loadChartsAsync() {
            $("#rsm-charts-overlay").show();
            $("#rsm-charts-container").load(
                '@Html.Raw(Url.Action("ChartsPartial", "RsmPerformance", new { year = Model.Year, month = Model.Month, regionId = Model.UserRegionId }))',
            function () {
                $("#rsm-charts-overlay").hide();

                if(typeof loadSalesChart !== "undefined")
                    loadSalesChart();
                if (typeof loadProductsChart !== "undefined")
                    loadProductsChart();
            });
        }

        function loadAggregateSalesChannelTableAsync() {
            $("#aggregate-sales-overlay").show();
            $("#aggregate-sales-container").load(
                '@Html.Raw(Url.Action("AggregateSalesChannelTablePartial", "RsmPerformance", new { year = Model.Year, month = Model.Month, regionId = Model.UserRegionId }))',
                function () {
                    $("#aggregate-sales-overlay").hide();
                });
        }

        function loadAggregateProductFamilyTableAsync() {
            $("#aggregate-products-overlay").show();
            $("#aggregate-products-container").load(
                '@Html.Raw(Url.Action("AggregateProductFamilyTablePartial", "RsmPerformance", new { year = Model.Year, month = Model.Month, regionId = Model.UserRegionId }))',
                function () {
                    $("#aggregate-products-overlay").hide();
                });
        }

        function loadAggregateItemCategoryTableAsync() {
            $("#aggregate-category-overlay").show();
            $("#aggregate-category-container").load(
                '@Html.Raw(Url.Action("AggregateItemCategoryTablePartial", "RsmPerformance", new { year = Model.Year, month = Model.Month, regionId = Model.UserRegionId }))',
                function () {
                    $("#aggregate-category-overlay").hide();
                });
        }

        function loadSalesRepSalesChannelTableAsync() {
            $("#salesrep-sales-overlay").show();
            $("#salesrep-sales-container").load(
                '@Html.Raw(Url.Action("SalesRepSalesChannelPartial", "RsmPerformance", new { year = Model.Year, month = Model.Month, regionId = Model.UserRegionId }))',
                function () {
                    $("#salesrep-sales-overlay").hide();

                    if (typeof getSalesChannelDatatable !== "undefined") {
                        salesChannelSalesRepTable = getSalesChannelDatatable();

                        $(window).on('resize', function () {
                            setTimeout(function () {
                                salesChannelSalesRepTable.columns.adjust();
                            }, 800);
                        });
                    }
                });
        }

        function loadSalesRepProductFamilyTableAsync() {
            $("#salesrep-products-overlay").show();
            $("#salesrep-products-container").load(
                '@Html.Raw(Url.Action("SalesRepProductFamilyPartial", "RsmPerformance", new { year = Model.Year, month = Model.Month, regionId = Model.UserRegionId }))',
                function () {
                    $("#salesrep-products-overlay").hide();

                    if (typeof getProductFamilyDatatable !== "undefined") {
                        productFamilySalesRepTable = getProductFamilyDatatable();

                        $(window).on('resize', function () {
                            setTimeout(function () {
                                productFamilySalesRepTable.columns.adjust().draw();
                            }, 800);
                        });
                    }
                });
        }

        function loadSalesRepItemCategoryTableAsync() {
            $("#salesrep-category-overlay").show();
            $("#salesrep-category-container").load(
                '@Html.Raw(Url.Action("SalesRepItemCategoryPartial", "RsmPerformance", new { year = Model.Year, month = Model.Month, regionId = Model.UserRegionId }))',
                function () {
                    $("#salesrep-category-overlay").hide();

                    if (typeof getItemCategoryDatatable !== "undefined") {
                        itemCategorySalesRepTable = getItemCategoryDatatable();

                        $(window).on('resize', function () {
                            setTimeout(function () {
                                itemCategorySalesRepTable.columns.adjust();
                            }, 800);
                        });
                    }
                });
        }

        function onPageLoad() {
            loadRegionTableAsync();

            loadChartsAsync();

            loadSalesChannelTab();
        }

        function loadSalesChannelTab() {
            if (salesChannelSalesRepTable !== null && salesChannelSalesRepTable !== "undefined") {
                setTimeout(function () {
                    salesChannelSalesRepTable.columns.adjust();
                }, 10);
            }

            if (salesChannelTabLoaded) {
                return;
            }

            loadAggregateSalesChannelTableAsync();

            loadSalesRepSalesChannelTableAsync();

            salesChannelTabLoaded = true;
        }

        function loadProductFamilyTab() {
            if (productFamilySalesRepTable !== null && productFamilySalesRepTable !== "undefined") {
                setTimeout(function () {
                    productFamilySalesRepTable.columns.adjust();
                }, 10);
            }

            if (productFamilyTabLoaded) {
                return;
            }

            loadAggregateProductFamilyTableAsync();

            loadSalesRepProductFamilyTableAsync();

            productFamilyTabLoaded = true;
        }

        function loadItemCategoryTab() {
            if (itemCategorySalesRepTable !== null && itemCategorySalesRepTable !== "undefined") {
                setTimeout(function () {
                    itemCategorySalesRepTable.columns.adjust();
                }, 10);
            }

            if (itemCategoryTabLoaded) {
                return;
            }

            loadAggregateItemCategoryTableAsync();

            loadSalesRepItemCategoryTableAsync();

            itemCategoryTabLoaded = true;
        }

        // Document Ready
        $(document).ready(function () {
            onPageLoad();
        });

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {

        }(window.page = window.page || {}, jQuery));
    </script>
}
