﻿@using System.Globalization
@using ProfitOptics.Modules.Reporting.Services.RsmPerformance
@using ProfitOptics.Modules.Reporting.Models.RsmPerformance.ViewModels
@model RsmPerformanceSalesRepViewModel

@{
    var cultureInfo = new CultureInfo("en-US");

    ViewBag.Title = "RSM Performance";
}

@inject IDaysOffService DaysOffService
@inject IRsmSalesAndQuotaService RsmSalesAndQuotaService

<section class="content-header">
    <h1>
        RSM Performance Dashboard - @Model.SalesRepName
    </h1>
</section>

<section class="content-header" style="margin-top: 25px">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Month Filter
                    </h3>
                    <div class="box-tools pull-right">
                        @for (var i = -11; i <= 0; i++)
                        {
                            var dt = DateTime.Now.AddMonths(i);
                            if (RsmSalesAndQuotaService.QuotaExistsForYearAndMonth(dt.Year, dt.Month))
                            {
                                var name = DaysOffService.GetMonthName(dt.Month);
                                if (dt.Month == Model.Month)
                                {
                                    <text>@name</text>
                                }
                                else
                                {
                                    <a href="@Url.Action("SalesRepPerformance", "RsmPerformance", new {salesRepId = Model.SalesRepId, year = dt.Year, month = dt.Month })">@name</a>
                                }
                                if (dt.Month != DateTime.Now.Month)
                                {
                                    <text> - </text>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        @if (Model.RegionTableViewModel.RegionQuotaPerformanceData.Any())
        {
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <span>Region Performance Dashboard</span>
                        </h3>
                    </div>
                    <div class="box-body">
                        <div id="region-tbl-container">
                            @await Html.PartialAsync("_RegionPerformanceTablePartial", Model.RegionTableViewModel)
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-6">
            <div class="box box-primary">
                <div id="YTDChannels-chart" style="min-width: 310px; height: 300px; max-width: 600px; margin: 0 auto"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div id="YTDPerformanceQuota-chart" style="min-width: 310px; height: 300px; max-width: 600px; margin: 0 auto"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span>Sales Channel Performance</span>
                    </h3>
                </div>
                <div class="box-body">
                    @if (Model.SalesChannelPerformance.Any())
                    {
                        <table class="table table-bordered table-striped table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align:left !important">
                                        @(Model.Month == DateTime.Now.Month ? DateTime.Now.ToString("MM/dd/yyyy") :
                                                                                                                                      new DateTime(Model.Year, Model.Month, DateTime.DaysInMonth(Model.Year, Model.Month)).ToString("MM/dd/yyyy"))
                                    </th>
                                    <th class="brd-l blue-1-th" colspan="5">@(new DateTime(Model.Year, Model.Month, 1).ToString("MMMM", CultureInfo.InvariantCulture)) MTD Actual Performance</th>
                                    <th class="brd-l blue-2-th" colspan="4">Projected Total @(new DateTime(Model.Year, Model.Month, 1).ToString("MMMM", CultureInfo.InvariantCulture)) Performance</th>
                                    <th class="brd-l blue-3-th" colspan="3">YTD Projected Performance (Based on current month)</th>
                                </tr>
                                <tr>
                                    <th style="text-align:left !important">Channel</th>
                                    <th class="brd-l blue-1-th">Actual</th>
                                    <th class="blue-1-th">Total Month Quota</th>
                                    <th class="blue-1-th">% to Quota</th>
                                    <th class="blue-1-th">Daily Quota</th>
                                    <th class="blue-1-th">Gap to Quota</th>
                                    <th class="brd-l blue-2-th">Avg Rev per Day</th>
                                    <th class="blue-2-th">Projected Rev <span class="red-font">@Model.RemainingWorkDaysCount</span> Remaining Days</th>
                                    <th class="blue-2-th">Projected @Model.MonthName Revenue</th>
                                    <th class="blue-2-th">% to Quota Tracking</th>
                                    <th class="brd-l blue-3-th">YTD @Model.Year Actual</th>
                                    <th class="blue-3-th">YTD @Model.Year Quota</th>
                                    <th class="blue-3-th">YTD % Quota</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var channel in Model.SalesChannelPerformance)
                                {
                                    <tr @if (channel.SalesChannelName == "Total") { <text> class="brd-t" style="color: #0094ff" </text> }>
                                        <td><strong>@channel.SalesChannelName</strong></td>
                                        <td class="brd-l text-center">@channel.MtdActualRevenue.ToString("C0", cultureInfo)</td>
                                        <td class="text-center">@channel.MtdTotalMonthQuota.ToString("C0", cultureInfo)</td>
                                        <td class="text-center">@channel.MtdPercentToQuota.ToString("P1")</td>
                                        <td class="text-center">@channel.MtdDailyQuota.ToString("C0", cultureInfo)</td>
                                        <td class="text-center @(channel.MtdGapToQuota > 0 ? "green-font" : "red-font")">@channel.MtdGapToQuota.ToString("C0", cultureInfo)</td>
                                        <td class="brd-l text-center">@channel.ProjectedAvgRevPerDay.ToString("C0", cultureInfo)</td>
                                        <td class="text-center">@channel.ProjectedRevRemainingDays.ToString("C0", cultureInfo)</td>
                                        <td class="text-center">@channel.ProjectedMonthRevenue.ToString("C0", cultureInfo)</td>
                                        <td class="text-center">@channel.ProjectedPercentToQuotaTracking.ToString("P1")</td>
                                        <td class="brd-l text-center">@channel.YtdActualRevenue.ToString("C0", cultureInfo)</td>
                                        <td class="text-center">@channel.YtdQuota.ToString("C0", cultureInfo)</td>
                                        <td class="text-center">@channel.YtdPercentQuota.ToString("P1")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>There is no sales channel performance data available.</div>
                    }
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span>Product Category Performance</span>
                    </h3>
                </div>
                <div class="box-body">
                    @if (Model.ProductFamilyPerformance.Any())
                    {
                        <table class="table table-bordered table-striped table-hover font-condensed brd-soft-gray">
                            <thead>
                                <tr>
                                    <th style="text-align: left !important" class="brd-soft-gray">
                                        @(Model.Month == DateTime.Now.Month ? DateTime.Now.ToString("MM/dd/yyyy") :
                                                                                                                                      new DateTime(Model.Year, Model.Month, DateTime.DaysInMonth(Model.Year, Model.Month)).ToString("MM/dd/yyyy"))
                                    </th>
                                    <th class="gray-1-th brd-soft-gray" colspan="7">Product Category MTD Performance</th>
                                    <th colspan="4" class="brd-soft-gray">Product Category YTD Projected Performance (Based on current month)</th>
                                </tr>
                                <tr>
                                    <th style="text-align: left !important" class="brd-soft-gray">Product Category</th>
                                    <th class="gray-1-th brd-soft-gray">MTD Revenue</th>
                                    <th class="gray-1-th brd-soft-gray">MTD Units</th>
                                    <th class="gray-1-th brd-soft-gray">Month Quota (Revenue)</th>
                                    <th class="gray-1-th brd-soft-gray">Month % to Quota</th>
                                    <th class="gray-1-th brd-soft-gray">Avg / Day</th>
                                    <th class="gray-1-th brd-soft-gray">MTD Trend Revenue</th>
                                    <th class="gray-1-th brd-soft-gray">MTD Trend %</th>
                                    <th class="brd-soft-gray">YTD Revenue</th>
                                    <th class="brd-soft-gray">YTD Units</th>
                                    <th class="brd-soft-gray">YTD Quota (Revenue)</th>
                                    <th class="brd-soft-gray">YTD % Quota</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pfPerformance in Model.ProductFamilyPerformance)
                                {
                                    <tr @if (pfPerformance.ProductFamilyName == "Total") { <text> class="brd-t" style="color: #0094ff" </text> }>
                                        <td class="brd-soft-gray"><strong>@(pfPerformance.ProductFamilyName ?? "N/A")</strong></td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.MtdActualRevenue.ToString("C0", cultureInfo)</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.MtdActualUnits.ToString("N0")</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.MtdTotalMonthQuota.ToString("C0", cultureInfo)</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.MtdPercentToQuota.ToString("P1")</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.ProjectedAvgRevPerDay.ToString("C0", cultureInfo)</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.ProjectedMonthRevenue.ToString("C0", cultureInfo)</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.ProjectedPercentToQuotaTracking.ToString("P1")</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.YtdActualRevenue.ToString("C0", cultureInfo)</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.YtdActualUnits.ToString("N0")</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.YtdQuota.ToString("C0", cultureInfo)</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.YtdPercentQuota.ToString("P1")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>There is no product Category performance data available.</div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span>Family Performance</span>
                    </h3>
                </div>
                <div class="box-body">
                    @if (Model.ItemCategoryPerformance.Any())
                    {
                        <table class="table table-bordered table-striped table-hover font-condensed brd-soft-gray">
                            <thead>
                                <tr>
                                    <th style="text-align: left !important" class="brd-soft-gray">
                                        @(Model.Month == DateTime.Now.Month ? DateTime.Now.ToString("MM/dd/yyyy") :
                                                                                                                                      new DateTime(Model.Year, Model.Month, DateTime.DaysInMonth(Model.Year, Model.Month)).ToString("MM/dd/yyyy"))
                                    </th>
                                    <th class="gray-1-th brd-soft-gray" colspan="7">Family MTD Performance</th>
                                    <th colspan="4" class="brd-soft-gray">Family YTD Projected Performance (Based on current month)</th>
                                </tr>
                                <tr>
                                    <th style="text-align: left !important" class="brd-soft-gray">Family</th>
                                    <th class="gray-1-th brd-soft-gray">MTD Revenue</th>
                                    <th class="gray-1-th brd-soft-gray">MTD Units</th>
                                    <th class="gray-1-th brd-soft-gray">Month Quota (Revenue)</th>
                                    <th class="gray-1-th brd-soft-gray">Month % to Quota</th>
                                    <th class="gray-1-th brd-soft-gray">Avg / Day</th>
                                    <th class="gray-1-th brd-soft-gray">MTD Trend Revenue</th>
                                    <th class="gray-1-th brd-soft-gray">MTD Trend %</th>
                                    <th class="brd-soft-gray">YTD Revenue</th>
                                    <th class="brd-soft-gray">YTD Units</th>
                                    <th class="brd-soft-gray">YTD Quota (Revenue)</th>
                                    <th class="brd-soft-gray">YTD % Quota</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pfPerformance in Model.ItemCategoryPerformance)
                                {
                                    <tr @if (pfPerformance.ItemCategoryName == "Total") { <text> class="brd-t" style="color: #0094ff" </text> }>
                                        <td class="brd-soft-gray"><strong>@(pfPerformance.ItemCategoryName ?? "N/A")</strong></td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.MtdActualRevenue.ToString("C0", cultureInfo)</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.MtdActualUnits.ToString("N0")</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.MtdTotalMonthQuota.ToString("C0", cultureInfo)</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.MtdPercentToQuota.ToString("P1")</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.ProjectedAvgRevPerDay.ToString("C0", cultureInfo)</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.ProjectedMonthRevenue.ToString("C0", cultureInfo)</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.ProjectedPercentToQuotaTracking.ToString("P1")</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.YtdActualRevenue.ToString("C0", cultureInfo)</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.YtdActualUnits.ToString("N0")</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.YtdQuota.ToString("C0", cultureInfo)</td>
                                        <td class="text-center brd-soft-gray">@pfPerformance.YtdPercentQuota.ToString("P1")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>There is no family performance data available.</div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section styles {
    @*@Styles.Render("~/css/highcharts")*@
    <style type="text/css">
        .red-font {
            color: #d40c0c;
        }

        .green-font {
            color: #00b050;
        }

        .gray-1-th {
            background: rgb(209, 210, 216) !important;
        }

        .blue-1-th {
            background: #79afde !important;
            border-color: #759ec1 !important;
        }

        .blue-2-th {
            background: #c9ddef !important;
            border-color: #759ec1 !important;
        }

        .blue-3-th {
            background: #a0c7ea !important;
            border-color: #759ec1 !important;
        }

        .orange-tbl th {
            background: #ffd55f !important;
            border-color: #d6b14a !important;
        }

        .red-tbl th {
            background: #f3b480 !important;
            border-color: #c98a59 !important;
        }

        .green-tbl th {
            background: #c2dbb0 !important;
            border-color: #9db481 !important;
        }

        .brd-soft-gray {
            border-color: #b5b6b7 !important;
        }

        .brd-l {
            border-left: 2px solid #759ec1 !important;
        }

        .brd-l-orange {
            border-left: 2px solid #cbab49 !important;
        }

        .brd-l-red {
            border-left: 2px solid #c88f62 !important;
        }

        .brd-l-green {
            border-left: 2px solid #a0b28b !important;
        }

        .brd-t {
            border-top: 2px solid black !important;
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuReporting", "menuRSMPerformanceDashboard"]; // List all menus that should be activated when this page is opened

        // Document Ready
        $(document).ready(function () {

                // Build the chart
                Highcharts.chart('YTDChannels-chart', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'YTD Product Performance to Quota'
                },
                xAxis: {
                    title: {
                        text: null
                    },
                    categories: @Html.Raw(Json.Serialize(Model.ProductFamilyPerformance.Where(x => x.ProductFamilyName != "Total").Select(x => x.ProductFamilyName).ToArray()))
                },
                yAxis: {
                    title: {
                        text: '$'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                    },
                tooltip: {
                    formatter: function () {
                            var text = this.series.name === 'YTD @(Model.Year) Actual' ? 'Revenue' : 'Quota';
                            return '<b>' + this.series.name + '</b><br /><br />' + text + ': ' + Highcharts.numberFormat(this.y, 0, '.', ',') + ' $';
                        }
                    },
                credits: {
                    enabled: false
                },
                colors: ['#8fabdd', '#a8d18d'],
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        },
                        colors: ['#8fabdd', '#a8d18d']
                    }
                    },
                series: [{
                    name: 'YTD @(Model.Year) Actual',
                    data: @Html.Raw(Json.Serialize(Model.ProductFamilyPerformance.Where(x => x.ProductFamilyName != "Total").Select(x => x.YtdActualRevenue).ToArray())),
                    color: '#8fabdd'
                }, {
                    name: 'YTD @(Model.Year) Quota',
                    data: @Html.Raw(Json.Serialize(Model.ProductFamilyPerformance.Where(x => x.ProductFamilyName != "Total").Select(x => x.YtdQuota).ToArray())),
                    color: '#a8d18d'
                }]
            });

                Highcharts.chart('YTDPerformanceQuota-chart', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'YTD Channel Performance to Quota'
                },
                xAxis: {
                    title: {
                        text: null
                    },
                    categories: @Html.Raw(Json.Serialize(Model.SalesChannelPerformance.Where(x => x.SalesChannelName != "Total").Select(x => x.SalesChannelName).ToArray()))
                },
                yAxis: {
                    title: {
                        text: '$'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                    },
                tooltip: {
                    formatter: function () {
                            var text = this.series.name === 'YTD @(Model.Year) Actual' ? 'Revenue' : 'Quota';
                            return '<b>' + this.series.name + '</b><br /><br />' + text + ': ' + Highcharts.numberFormat(this.y, 0, '.', ',') + ' $';
                        }
                    },
                colors: ['#8fabdd', '#a8d18d'],
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                        }
                    },
                legend: {

                    },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'YTD @(Model.Year) Actual',
                        data: @Html.Raw(Json.Serialize(Model.SalesChannelPerformance.Where(x => x.SalesChannelName != "Total").Select(x => x.YtdActualRevenue).ToArray())),
                    color: '#8fabdd'
                }, {
                    name: 'YTD @(Model.Year) Quota',
                            data: @Html.Raw(Json.Serialize(Model.SalesChannelPerformance.Where(x => x.SalesChannelName != "Total").Select(x => x.YtdQuota).ToArray())),
                            color: '#a8d18d'
                        }]
            });

            });

            // Encapsulate page logic. Check out page.js for example of public and private methods and properties
            (function (page, $, undefined) {

            }(window.page = window.page || {}, jQuery));
    </script>
}