﻿@model ProfitOptics.Framework.Web.Areas.Account.Models.AddPhoneNumberModel
@{
    ViewData["Title"] = "Phone Number";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewData["Title"].
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Account details</h3>
                </div>
                <form asp-action="AddPhoneNumber" asp-controller="Manage" asp-area="Account" method="post" class="form-horizontal" role="form">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Number" class="control-label col-md-3"></label>
                            <div class="col-md-7">
                                <input asp-for="Number" class="form-control" placeholder="Phone Number" data-inputmask="\" mask\":\"(999) 999-9999\"" data-mask="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-7">
                                <p style="color: red;">@Model.ErrorMessage</p>
                            </div>
                        </div>
                       
                    </div>
                    <div class="box-footer">
                        <a asp-action="Index" class="btn btn-default">Back</a>
                        <input type="submit" value="Save" class="btn btn-info pull-right" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section master_scripts {
    <script type="text/javascript">
        // Document Ready
        $(document).ready(function () {
            $("[data-mask]").inputmask();
        });
    </script>
}

