﻿@model ProfitOptics.Framework.Web.Areas.Account.Models.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewData["Title"].
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Account details</h3>
                </div>
                <form asp-action="ChangePassword" asp-controller="Manage" asp-area="Account" method="post" role="form" class="form-horizontal">
                    <div class="box-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CurrentPassword" class="control-label col-md-3"></label>
                            <div class="col-md-8">
                                <input asp-for="CurrentPassword" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label col-md-3"></label>
                            <div class="col-md-8">
                                <input asp-for="NewPassword" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label col-md-3"></label>
                            <div class="col-md-8">
                                <input asp-for="ConfirmPassword" class="form-control" />
                            </div>
                            @await Html.PartialAsync("_PasswordValidationMessages")
                        </div>
                    </div>
                    <div class="box-footer">
                        <a asp-action="Index" class="btn btn-default">Back</a>
                        <button type="submit" class="btn btn-info pull-right">Change password</button>
                    </div>
                </form>                
            </div><!-- /.box -->
        </div>
    </div>
</section>

@section master_scripts {

    <script type="text/javascript" src="~/Areas/Account/js/passwordValidator.js"></script>
    <script>
        $(document).ready(function () {
            passwordValidator.create("NewPassword", "ConfirmPassword");
        });
    </script>
}