﻿@model ProfitOptics.Framework.Web.Areas.Account.Models.GoogleAuthenticatorModel
@{
    ViewData["Title"] = "Enable Google Authenticator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">@ViewData["Title"]</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>1. Add ProfitOptics - Framework to Google Authenticator</h3>
                            <p>Open Google Authenticator and add ProfitOptics - Framework by scanning the QR Code to the right.</p>
                            <h3>2. Enter the 6 digit code that Google Authenticator generates</h3>
                            <p>
                                Verify that ProfitOptics - Framework is added correctly in Google Authenticator by entering the 6 digit code which
                                Google Authenticator generates for ProfitOptics - Framework below, and then click Enable.
                            </p>
                            <form asp-action="EnableGoogleAuthenticator" asp-controller="Manage" asp-area="Account" method="post" class="form-horizontal" role="form">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="SecretKey" type="hidden" />
                                <input asp-for="BarcodeUrl" type="hidden" />
                                <div class="form-group">
                                    <label asp-for="Code" class="control-label col-md-2"></label>
                                    <div class="col-md-4">
                                        <input asp-for="Code" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-default" value="Enable" />
                                    </div>
                                </div>
                            </form>                            
                        </div>
                        <div class="col-md-4">
                            <img src="/Account/Manage/QRCode?id=@(Model.BarcodeUrl)" />
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>
