﻿@model ProfitOptics.Framework.Web.Areas.Account.Models.AccountManagementModel
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        @ViewData["Title"].
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">General</h3>
                </div>
                <form asp-action="Save" asp-controller="Manage" asp-area="Account" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                    <div class="box-body">
                        <h4 class="text-success">@Model.StatusMessage</h4>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="FirstName" class="form-control" placeholder="First name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="LastName" class="form-control" placeholder="Last name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProfilePhoto" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="ProfilePhoto" type="file" />
                                <br />
                                <ul>
                                    <li id="pictureTooLarge" class="hidden" style="color:red;">The uploaded picture is too large! Please upload a picture smaller than 10MB.</li>
                                    <li id="wrongExtension" class="hidden" style="color:red;">The uploaded file is not of the correct format.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button id="saveButton" type="submit" class="btn btn-info pull-right">Save</button>
                    </div>
                </form>                
            </div><!-- /.box -->
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Security Settings</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <h4 class="text-success">@Model.SecurityStatusMessage</h4>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">Password:</label>
                            <div class="col-sm-8" style="padding-top:7px">
                                [
                                @if (Model.HasPassword)
                                {
                                    <a asp-action="ChangePassword">Change your password</a>
                                }
                                else
                                {
                                    <a asp-action="SetPassword">Create</a>                                    
                                }
                                ]
                                @*<input class="form-control" id="inputEmail3" placeholder="Email" type="email">*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">Phone Number</label>
                            <div class="col-sm-8" style="padding-top:7px">
                                @(Model.PhoneNumber ?? "None") [
                                @if (Model.PhoneNumber != null)
                                {
                                    <a asp-action="AddPhoneNumber">Change</a>
                                    @: &nbsp;|&nbsp;
                                    <a asp-action="RemovePhoneNumber">Remove</a>
                                }
                                else
                                {
                                    <a asp-action="AddPhoneNumber">Add</a>
                                }
                                ]
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">Two-Factor Authentication:</label>
                            <div class="col-sm-8">
                                <form asp-action="ToggleTwoFactorAuthentication" asp-controller="Manage" asp-area="Account" method="post" class="form-horizontal" role="form">
                                    <span style="position:relative; top:2px;">@(Model.TwoFactor ? "Enabled" : "Disabled")</span>
                                    <input type="submit" value="@(Model.TwoFactor ? "Disable" : "Enable")" class="btn btn-link" />
                                </form>                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">Google Authenticator:</label>
                            <div class="col-sm-8">
                                <form asp-action="ToggleGoogleAuthenticator" asp-controller="Manage" asp-area="Account" method="post" class="form-horizontal" role="form">
                                    <span style="position:relative; top:2px;">@(Model.IsGoogleAuthenticatorEnabled ? "Enabled" : "Disabled")</span>
                                    <input type="submit" value="@(Model.IsGoogleAuthenticatorEnabled ? "Disable" : "Enable")" class="btn btn-link" />
                                </form>                                
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>
<script>
    $('#ProfilePhoto').bind('change', function () {
        //converts the file size from bytes to MB
        var fileSize = (parseFloat(this.files[0].size / 1024 / 1024)).toFixed(2);

        var fileExt = (this.files[0].name.substring(this.files[0].name.lastIndexOf("."))).toLowerCase();

        var isFileCorrectFormat = (fileExt == ".jpeg" || fileExt == ".png" || fileExt == ".jpg" || fileExt == ".bmp" || fileExt == ".gif");

        if (fileSize >= 10 && isFileCorrectFormat) {
            $("#pictureTooLarge").removeClass("hidden");
            $("#saveButton").addClass("disabled");
            $('#ProfilePhoto').val('');
        }
        else {
            $("#pictureTooLarge").addClass("hidden");
            $("#saveButton").removeClass("disabled");
        }

        if (isFileCorrectFormat) {
            $("#wrongExtension").addClass("hidden");
            $("#saveButton").removeClass("disabled");
        }
        else {
            $("#wrongExtension").removeClass("hidden");
            $("#saveButton").addClass("disabled");
            $('#ProfilePhoto').val('');
        }
    });

    $("#saveButton").on("click", function(e) {
        if ($("#saveButton").hasClass("disabled")) {
            e.preventDefault();
            e.stopPropagation();
        }
    });
</script>