﻿@model ProfitOptics.Framework.Web.Areas.Account.Models.ManageLoginsModel
@{
    ViewData["Title"] = "ManageLogins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"].</h2>

<p class="text-success">@Model.StatusMessage</p>
@{
    if (Model.CurrentLogins.Any())
    {
        <h4>Registered Logins</h4>
        <table class="table">
            <tbody>
                @foreach (var account in Model.CurrentLogins)
                {
                    <tr>
                        <td>@account.LoginProvider</td>
                        <td>
                            @if (Model.ShowRemoveButton)
                            {
                                <form asp-action="RemoveLogin" asp-controller="Manage" asp-area="Account" method="post">
                                    <input asp-for="@(account.LoginProvider)" type="hidden" name="LoginProvider" />
                                    <input asp-for="@(account.ProviderKey)" type="hidden" name="ProviderKey" />
                                    <input type="submit" class="btn btn-default" value="Remove" title="Remove this @account.ProviderDisplayName login from your account" />
                                </form>                                
                            }
                            else
                            {
                                @: &nbsp;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @await Component.InvokeAsync("ExternalLogin", new { externalLoginProviders = Model.OtherLogins, externalLoginCallbackUrl = Model.LinkLoginCallbackUrl })

    
}

