﻿@model ProfitOptics.Framework.Web.Areas.Account.Models.VerifyPhoneNumberModel
@{
    ViewData["Title"] = "Verify Phone Number";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewData["Title"].
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Enter verification code</h3>
                </div>
                <form asp-action="VerifyPhoneNumber" asp-controller="Manage" asp-area="Account" method="post" class="form-horizontal" role="form">
                    <div class="box-body">
                        <input asp-for="PhoneNumber" type="hidden" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Code" class="control-label col-md-2"></label>
                            <div class="col-md-5">
                                <input asp-for="Code" class="form-control" />
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Submit" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>



