﻿@using ProfitOptics.Modules.Reporting
@using ProfitOptics.Modules.Reporting.Models.DailyTrend
@model DailyTrendDrillThroughInvoiceViewModel
@{
    ViewBag.Title = "Daily Trend - Drill Through";
}
<section class="content">
    @await Component.InvokeAsync("FilterWidget")

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Daily Trend Analysis, <label>@Model.BillToName (@Model.BillToNum)</label> for @Model.Date
                    </h3>
                </div>
                <div class="box-body">
                    <div class="add-scroll-small-res">
                        <table id="daily-trend-tbl" class="table table-bordered table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th>Item Number</th>
                                    <th>Item Description</th>
                                    <th>Unit Price</th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th>Unit Cost</th>
                                    }
                                    <th>ExtPrice</th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th>ExtCost</th>
                                    }
                                    <th>Qty</th>
                                    <th>GP %</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section styles {
    <style type="text/css">
        .NegativeValueColor {
            color: red;
        }

        .popover {
            max-width: 400px
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        var formatStringPositive = "<span class='datacell'>{0}</span>";
        var formatStringNegative = "<span class='datacell NegativeValueColor'>{0}</span>";
        var isAdmin = @(Model.IsCorporate ? "true" : "false");

        // List all menus that should be activated when this page is opened
        app.activeMenus = ["menuReporting", "menuDailyTrend"];

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function(page, $, undefined) {
            page.onApplyFilterClicked = function() {
                page.reloadTablesAndCharts();
            }

            page.reloadTablesAndCharts = function() {
                $("#daily-trend-tbl").DataTable().ajax.reload();
            }
        }(window.page = window.page || {}, jQuery));
        
        var dataTableColumns = [
            {
                data: "ItemNumber",
                orderable: false,
                className: "text-left",
                render: function(data, type, full, meta) {
                    return full.ItemNumber;
                }
            },
            {
                data: "ItemDescription",
                orderable: false,
                className: "text-left",
                render: function(data, type, full, meta) {
                    return full.ItemDescription;
                }
            },
            {
                data: "UnitPrice",
                orderable: false,
                className: "text-right",
                render: function(data, type, full, meta) {
                    return helpers.formatMoney(full.UnitPrice,
                        2,
                        0.00,
                        formatStringPositive,
                        formatStringNegative);
                }
            },
            {
                data: "UnitCost",
                orderable: false,
                className: "text-right",
                render: function (data, type, full, meta) {
                    return helpers.formatMoney(full.UnitCost,
                        2,
                        0.00,
                        formatStringPositive,
                        formatStringNegative);
                }
            }, {
                data: "ExtPrice",
                orderable: false,
                className: "text-right",
                render: function(data, type, full, meta) {
                    return helpers.formatMoney(full.ExtPrice,
                        2,
                        0.00,
                        formatStringPositive,
                        formatStringNegative);
                }
            }, {
                data: "ExtCost",
                orderable: false,
                className: "text-right",
                render: function(data, type, full, meta) {
                    return helpers.formatMoney(full.ExtCost,
                        2,
                        0.00,
                        formatStringPositive,
                        formatStringNegative);
                }
            }, {
                data: "Qty",
                orderable: false,
                className: "text-right",
                render: function(data, type, full, meta) {
                    return full.Qty;
                }
            }, {
                data: "GrossProfitPercent",
                orderable: false,
                className: "text-right",
                render: function (data, type, full, meta) {
                    return helpers.formatPercent(full.GrossProfitPercent,
                        1,
                        0.0,
                        formatStringPositive,
                        formatStringNegative);
                }
            }
        ];

        if (!isAdmin) {
            dataTableColumns = dataTableColumns.filter(function (column) {
                return column.data !== "ExtCost" && column.data !== "UnitCost";
            });
        }

        $(document).ready(function() {
            var dataTable = $('#daily-trend-tbl').on('preXhr.dt',
                function(e, settings, data) {
                    $('#daily-trend-tbl').parents(".row").find(".table-overlay").show();
                }).on('xhr.dt',
                function(e, settings, json, xhr) {
                    $('#daily-trend-tbl').parents(".row").find(".table-overlay").hide();
                }).DataTable({
                lengthChange: true,
                autoWidth: false,
                processing: true,
                serverSide: true,
                searching: false,
                ordering: true,
                paging: true,
                info: true,
                pageLength: 100,
                lengthMenu: [10, 25, 50, 100, 250, 500],
                ajax: {
                    url: '@Html.Raw(Url.Action("GetInvoiceItemsForDate", "DailyTrend", new { area = ReportingSettings.AreaName, billToId = Model.BillToId, drillThroughDate = Model.Date }))',
                    type: "POST"
                },
                language: {
                    processing: ''
                },
                columns: dataTableColumns
            });
        });
    </script>
}