﻿@using ProfitOptics.Modules.Reporting
@using ProfitOptics.Modules.Reporting.Models.DailyTrend
@model DailyTrendDrillThroughAllViewModel
@{
    ViewBag.Title = "Daily Trend - Drill Through";
}

<section class="content">
    @await Component.InvokeAsync("FilterWidget")

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Daily Trend Analysis for @Model.DrillThroughDate
                    </h3>
                </div>
                <div class="box-body">
                    <div class="add-scroll-small-res">
                        <table id="daily-trend-tbl" class="table table-bordered table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th>Customer Number</th>
                                    <th>Customer Name</th>
                                    <th>Ship To Address Code</th>
                                    <th>Ship To Name</th>
                                    <th>Channel</th>
                                    <th>Product Category</th>
                                    <th>Family</th>
                                    <th>Item Number</th>
                                    <th>Date</th>
                                    <th>Quantity</th>
                                    <th>Revenue</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="10" style="text-align:right !important">Total</th>
                                    <th class="footer-total" style="text-align:right !important"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section styles {
    <style type="text/css">
        .NegativeValueColor {
            color: red;
        }

        .popover {
            max-width: 400px
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        var formatStringPositive = "<span class='datacell'>{0}</span>";
        var formatStringNegative = "<span class='datacell NegativeValueColor'>{0}</span>";
        var isAdmin = @(Model.IsCorporate ? "true" : "false");

        // List all menus that should be activated when this page is opened
        app.activeMenus = ["menuReporting", "menuDailyTrend"];

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function(page, $, undefined) {
            page.onApplyFilterClicked = function() {
                page.reloadTablesAndCharts();
            }

            page.reloadTablesAndCharts = function() {
                $("#daily-trend-tbl").DataTable().ajax.reload();
            }
        }(window.page = window.page || {}, jQuery));

        var dataTableColumns = [
            {
                data: "BillToNum",
                orderable: false,
                className: "text-left",
                render: function (data, type, full, meta) {
                    return full.BillToNum;
                }
            },
            {
                data: "BillToName",
                orderable: false,
                className: "text-left",
                render: function (data, type, full, meta) {
                    return full.BillToName;
                }
            },
            {
                data: "ShipToNum",
                orderable: false,
                className: "text-left",
                render: function (data, type, full, meta) {
                    return full.ShipToNum;
                }
            },
            {
                data: "ShipToName",
                orderable: false,
                className: "text-left",
                render: function (data, type, full, meta) {
                    return full.ShipToName;
                }
            },
            {
                data: "CustomerClass",
                orderable: false,
                className: "text-left",
                render: function (data, type, full, meta) {
                    return full.CustomerClass;
                }
            },
            {
                data: "VendorName",
                orderable: false,
                className: "text-left",
                render: function (data, type, full, meta) {
                    return full.VendorName;
                }
            },
            {
                data: "ItemCategory",
                orderable: false,
                className: "text-left",
                render: function (data, type, full, meta) {
                    return full.ItemCategory;
                }
            },
            {
                data: "ItemNum",
                orderable: false,
                className: "text-left",
                render: function (data, type, full, meta) {
                    return full.ItemNum;
                }
            },
            {
                data: "Date",
                orderable: false,
                className: "text-left",
                render: function (data, type, full, meta) {
                    return full.Date;
                }
            },
            {
                data: "Quantity",
                orderable: false,
                className: "text-right",
                render: function (data, type, full, meta) {
                    return full.Quantity;
                }
            },
            {
                data: "ExtPrice",
                orderable: false,
                className: "text-right",
                render: function (data, type, full, meta) {
                    return helpers.formatMoney(full.ExtPrice, 2, 0.00, formatStringPositive, formatStringNegative);
                }
            }];


        $(document).ready(function() {
            var dataTable = $('#daily-trend-tbl').on('preXhr.dt',
                function(e, settings, data) {
                    $('#daily-trend-tbl').parents(".row").find(".table-overlay").show();
                }).on('xhr.dt',
                function(e, settings, json, xhr) {
                    $('#daily-trend-tbl').parents(".row").find(".table-overlay").hide();
                }).DataTable({
                lengthChange: true,
                autoWidth: false,
                processing: true,
                serverSide: true,
                searching: false,
                ordering: true,
                paging: true,
                info: true,
                pageLength: 100,
                lengthMenu: [10, 25, 50, 100, 250, 500],
                ajax: {
                    url: '@Url.Action("GetInvoicesForDate", "DailyTrend", new { area = ReportingSettings.AreaName, drillThroughDate = Model.DrillThroughDate })',
                    type: "POST"
                },
                footerCallback: function ( row, data, start, end, display ) {
                    var pageTotal = 0;

                    $.each(data, function(i, val) {
                        pageTotal += val.ExtPrice;
                    });

                    $(".footer-total").html(helpers.formatMoney(pageTotal, 0, 0.00, formatStringPositive, formatStringNegative));
                },
                language: {
                    processing: ''
                },
                columns: dataTableColumns
            });
        });
    </script>
}