﻿@using ProfitOptics.Modules.Reporting
@using ProfitOptics.Modules.Reporting.Models.DailyTrend
@using ProfitOptics.Modules.Reporting.Enums
@model DailyTrendDrillThroughByTypeViewModel
@{
    ViewBag.Title = "Daily Trend - Drill Through";
}

<section class="content">
    @await Component.InvokeAsync("FilterWidget")

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Daily Trend Analysis for @Model.DrillThroughDate
                    </h3>
                </div>
                <div class="box-body">
                    <div class="add-scroll-small-res">
                        <table id="daily-trend-tbl" class="table table-bordered table-hover font-condensed">
                            <thead>
                                <tr>
                                    @{
                                        switch (Model.DrillThroughType)
                                        {
                                            case DailyTrendDrillThroughType.BillTo:
                                                {
                                                    <th>BillTo Number</th>
                                                    <th>BillTo Name</th>
                                                    break;
                                                }
                                            case DailyTrendDrillThroughType.ShipTo:
                                                {
                                                    <th>ShipTo Number</th>
                                                    <th>ShipTo Name</th>
                                                    break;
                                                }
                                            case DailyTrendDrillThroughType.SalesRep:
                                                {
                                                    <th>SalesRep Name</th>
                                                    break;
                                                }
                                            case DailyTrendDrillThroughType.CustomerClass:
                                                {
                                                    <th>Customer Class</th>
                                                    break;
                                                }
                                            case DailyTrendDrillThroughType.ItemCategory:
                                                {
                                                    <th>Item Category</th>
                                                    break;
                                                }
                                        }
                                    }
                                    <th>Sales $</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="@(Model.DrillThroughType == DailyTrendDrillThroughType.BillTo || Model.DrillThroughType == DailyTrendDrillThroughType.ShipTo ? 2 : 1)" style="text-align:right !important">Total</th>
                                    <th class="footer-total" style="text-align:right !important"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section styles {
    <style type="text/css">
        .NegativeValueColor {
            color: red;
        }

        .popover {
            max-width: 400px
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        var formatStringPositive = "<span class='datacell'>{0}</span>";
        var formatStringNegative = "<span class='datacell NegativeValueColor'>{0}</span>";
        var isAdmin = @(Model.IsCorporate ? "true" : "false");

        // List all menus that should be activated when this page is opened
        app.activeMenus = ["menuReporting", "menuDailyTrend"];

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function(page, $, undefined) {
            page.onApplyFilterClicked = function() {
                page.reloadTablesAndCharts();
            }

            page.reloadTablesAndCharts = function() {
                $("#daily-trend-tbl").DataTable().ajax.reload();
            }
        }(window.page = window.page || {}, jQuery));
        
        var dataTableColumns = [
            {
                data: "GroupCode",
                orderable: false,
                className: "text-left",
                render: function (data, type, full, meta) {
                    var drillThroughType = @((int)Model.DrillThroughType);
                    var billToTypeValue = @((int)DailyTrendDrillThroughType.BillTo);

                    if (drillThroughType === billToTypeValue) {
                        return '<a href="@Html.Raw(Url.Action("DrillThroughInvoice", "DailyTrend"))?billToNum='
                            + full.GroupCode + '&drillThroughDate=@Model.DrillThroughDate">' + full.GroupCode + '</a>';
                    } else {
                        return full.GroupCode;
                    }
                }
            },
            {
                data: "Name",
                orderable: false,
                className: "text-left",
                render: function (data, type, full, meta) {
                    return full.GroupName;
                }
            },
            {
                data: "Sales",
                orderable: false,
                className: "text-right",
                render: function (data, type, full, meta) {
                    return helpers.formatMoney(full.Sales, 2, 0.00, formatStringPositive, formatStringNegative);
                }
            }];

        function getDrillThroughColumns() {
            var columns = [];

            switch (@((int)Model.DrillThroughType)) {
                case @((int)DailyTrendDrillThroughType.BillTo):
                    columns = getBillToDrillThroughColumns();
                    break;
                case @((int)DailyTrendDrillThroughType.ShipTo):
                    columns = getShipToDrillThroughColumns();
                    break;
                case @((int)DailyTrendDrillThroughType.SalesRep):
                    columns = getSalesRepDrillThroughColumns();
                    break;
                case @((int)DailyTrendDrillThroughType.CustomerClass):
                    columns = getCustomerClassDrillThroughColumns();
                    break;
                case @((int)DailyTrendDrillThroughType.ItemCategory):
                    columns = getItemCategoryDrillThroughColumns();
            }

            return columns;
        }

        function getBillToDrillThroughColumns() {
            return dataTableColumns;
        }

        function getShipToDrillThroughColumns() {
            return dataTableColumns;
        }

        function getSalesRepDrillThroughColumns() {
            var columns = dataTableColumns.filter(function (column) {
                return column.data !== "GroupCode";
            });

            return columns;
        }

        function getCustomerClassDrillThroughColumns() {
            var columns = dataTableColumns.filter(function (column) {
                return column.data !== "GroupCode";
            });

            return columns;
        }

        function getItemCategoryDrillThroughColumns() {
            var columns = dataTableColumns.filter(function (column) {
                return column.data !== "GroupCode";
            });

            return columns;
        }

        $(document).ready(function() {
            var dataTable = $('#daily-trend-tbl').on('preXhr.dt',
                function(e, settings, data) {
                    $('#daily-trend-tbl').parents(".row").find(".table-overlay").show();
                }).on('xhr.dt',
                function(e, settings, json, xhr) {
                    $('#daily-trend-tbl').parents(".row").find(".table-overlay").hide();
                }).DataTable({
                lengthChange: true,
                autoWidth: false,
                processing: true,
                serverSide: true,
                searching: false,
                ordering: true,
                paging: true,
                info: true,
                pageLength: 100,
                lengthMenu: [10, 25, 50, 100, 250, 500],
                ajax: {
                    url:
                        '@Html.Raw(Url.Action("GetInvoicesGroupedByType", "DailyTrend", new { area = ReportingSettings.AreaName, drillThroughType = Model.DrillThroughType, drillThroughDate = Model.DrillThroughDate }))',
                    type: "POST"
                },
                footerCallback: function ( row, data, start, end, display ) {
                    var pageTotal = 0;

                    $.each(data, function(i, val) {
                        pageTotal += val.Sales;
                    });
                    
                    $(".footer-total").html(helpers.formatMoney(pageTotal, 0, 0.00, formatStringPositive, formatStringNegative));
                },
                language: {
                    processing: ''
                },
                columns: getDrillThroughColumns()
            });
        });
    </script>
}