﻿@using ProfitOptics.Modules.Reporting
@using ProfitOptics.Modules.Reporting.Models.DailyTrend
@using ProfitOptics.Modules.Reporting.Enums
@model DailyTrendViewModel
@{
    ViewBag.Title = "Daily Trend Analysis";
}

<section class="content-header">
    <h1 class="pull-left" style="margin-bottom: 10px">
        Daily Trend Analysis
    </h1>
    <div class="clearfix"></div>
</section>

<section class="content">
    @await Component.InvokeAsync("FilterWidget")

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary collapsed-box">
                <div class="box-header with-border" data-widget="collapse" style="cursor: pointer">
                    <h3 class="box-title">
                        Custom Date Range
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="display: none; margin-top: 10px">
                    <div class="col-md-12">
                        <label style="margin-top: 5px; margin-right: 10px; float: left">Period:</label>
                        <div class="input-group" style="width: 220px; float: left">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" id="daterange" class="form-control" style="margin-right: 10px; height: 30px" />
                        </div>
                        <div class="checkbox" style="float: left; margin-top: 5px">
                            <label style="margin-left: 30px"><input id="custom-daterange-checkbox" type="checkbox" value="">Use custom date range</label>
                        </div>
                        <button id="btn-reset-daterange" class="btn btn-primary pull-right">Reset</button>
                    </div>
                </div>
                <div id="date-range-overlay" class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span id="daily-trend-tbl-title">Daily trend (<span id="period-range">last 90 days</span>)</span>
                    </h3>
                    <div class="box-tools pull-right">
                        <label>Current month:&nbsp;&nbsp;</label>
                        <button title="Download Current Month" id="DownloadCurrentMonth" class="btn btn-primary" style="margin-top: 3px;"><span class="glyphicon glyphicon-save"></span></button>
                        <label style="padding-left: 25px">Last 90 days:&nbsp;&nbsp;</label>
                        <button title="Download Last 90 days" id="DownloadAll" class="btn btn-primary" style="margin-top: 3px;"><span class="glyphicon glyphicon-save"></span></button>
                        <label id="custom-daterange-export-lbl" style="padding-left: 25px; display: none">Custom date range:&nbsp;&nbsp;</label>
                        <button title="Download custom date range" id="DownloadCustom" class="btn btn-primary" style="margin-top: 3px; display: none"><span class="glyphicon glyphicon-save"></span></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="add-scroll-small-res">
                        <table id="daily-trend-tbl" class="table table-bordered table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Sales $</th>
                                    <th>View By</th>
                                    <th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section styles {
    <style type="text/css">
        .NegativeValueColor {
            color: red;
        }

        .popover {
            max-width: 400px
        }
    </style>
}


@section scripts {
    <script type="text/javascript">
        var formatStringPositive = "<span class='datacell'>{0}</span>";
        var formatStringNegative = "<span class='datacell NegativeValueColor'>{0}</span>";
        var isAdmin = @(Model.IsCorporate ? "true" : "false");
        var isSalesRep = @(Model.IsSalesRep ? "true" : "false");

        var startDateDefault = '@Model.StartDateDefault';
        var endDateDefault = '@Model.EndDateDefault';

        // List all menus that should be activated when this page is opened
        app.activeMenus = ["menuReporting", "menuDailyTrend"];

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function(page, $, undefined) {
            page.onApplyFilterClicked = function() {
                page.reloadTablesAndCharts();
            }

            page.reloadTablesAndCharts = function () {
                $("#daily-trend-tbl").DataTable().ajax.reload();
            }
        }(window.page = window.page || {}, jQuery));

        function dateRangeApplyClickedCallback() {
            if (!$("#custom-daterange-checkbox").prop("checked")) {
                bootbox.alert("Please check the 'Use custom date range' checkbox first");
                return;
            }

            page.reloadTablesAndCharts();
        }

        $(document).ready(function () {
            $('#date-range-btn-group button').on('click', '.btn', function() {
                $(this).addClass('btn-primary').siblings().removeClass('btn-primary').addClass('btn-default');
            });

            $('#daterange').daterangepicker({
                startDate: startDateDefault,
                endDate: endDateDefault,
                format: 'MM/DD/YYYY'
            });

            $('#daterange').on('apply.daterangepicker', dateRangeApplyClickedCallback);

            $("#btn-reset-daterange").click(function() {
                $("#custom-daterange-checkbox").prop("checked", false).trigger("change");

                page.reloadTablesAndCharts();
            });

            $("#custom-daterange-checkbox").on("change", function () {
                if (this.checked) {
                    $("#custom-daterange-export-lbl").show();
                    $("#DownloadCustom").show();
                } else {
                    $("#custom-daterange-export-lbl").hide();
                    $("#DownloadCustom").hide();
                }
            });

            $("#DownloadAll").click(function() {
                var url = '@Url.Action("ExportDailyTrendsForDateRangeToExcel", "DailyTrend", new { area= ReportingSettings.AreaName })';

                url += "?startDate=" + startDateDefault+"&endDate="+endDateDefault;

                document.location = url;
            });

            $("#DownloadCurrentMonth").click(function() {
                var url = '@Url.Action("ExportDailyTrendsForCurrentMonths", "DailyTrend", new { area= ReportingSettings.AreaName })';

                document.location = url;
            });

            $("#DownloadCustom").click(function () {
                if (!$("#custom-daterange-checkbox").prop("checked")) {
                    bootbox.alert("Please check the 'Use custom date range' checkbox first");
                    return;
                }

                var url = '@Url.Action("ExportDailyTrendsForDateRangeToExcel", "DailyTrend", new { area= ReportingSettings.AreaName })';

                var startDate = $("#daterange").data("daterangepicker").startDate.format("MM-DD-YYYY");

                var endDate = $("#daterange").data("daterangepicker").endDate.format("MM-DD-YYYY");

                url += "?startDate=" + startDate + "&endDate=" + endDate;

                document.location = url;
            });

            $("body").on("click", ".download-daily-report",function() {
                var url = '@Url.Action("ExportDailyTrendsForDate", "DailyTrend", new { area= ReportingSettings.AreaName })';

                var dateTime = $(this).data("date");

                url += "?dateTime=" + dateTime;

                document.location = url;
            });

            var dataTableColumns = [
                {
                    data: "DateString",
                    orderable: false,
                    className: "text-left",
                    render: function(data, type, full, meta) {
                        return full.DateString;
                    }
                }, {
                    data: "Sales",
                    orderable: false,
                    className: "text-right",
                    render: function(data, type, full, meta) {
                        return helpers.formatMoney(full.Sales, 0, 0.00, formatStringPositive, formatStringNegative);
                    }
                }, {
                    orderable: false,
                    className: "text-center",
                    render: function(data, type, full, meta) {
                        @{
                            var drillThroughUrl = Html.Raw(Url.Action("DrillThroughByType", "DailyTrend"));
                        }
                        var html = "<div>" + "<a href=@Html.Raw(Url.Action("DrillThroughAll", "DailyTrend"))?drillThroughDate=" +
                            full.DateString +
                            " target='_blank'>All</a> | " +
                            (isSalesRep ? "" : "<a href=@drillThroughUrl?drillThroughType=@DailyTrendDrillThroughType.SalesRep&drillThroughDate=" +
                            full.DateString +
                            " target='_blank'>Sales Rep</a> | ") +
                            "<a href=@drillThroughUrl?drillThroughType=@DailyTrendDrillThroughType.BillTo&drillThroughDate=" +
                            full.DateString +
                            " target='_blank'>Bill To</a> | " +
                            "<a href=@drillThroughUrl?drillThroughType=@DailyTrendDrillThroughType.ShipTo&drillThroughDate=" +
                            full.DateString +
                            " target='_blank'>Ship To</a> | " +
                            "<a href=@drillThroughUrl?drillThroughType=@DailyTrendDrillThroughType.ItemCategory&drillThroughDate=" +
                            full.DateString +
                            " target='_blank'>Item Category</a> | " +
                            "<a href=@drillThroughUrl?drillThroughType=@DailyTrendDrillThroughType.CustomerClass&drillThroughDate=" +
                            full.DateString +
                            " target='_blank'>Customer Class</a> " +
                            "</div>";
                        return html;
                    }
                }, {
                    orderable: false,
                    className: "text-center",
                    render: function(data, type, full, meta) {

                        var html = "<button title='Download Daily Sales' class='download-daily-report btn btn-primary btn-xs' data-date='" + full.DateString + "'><span class='glyphicon glyphicon-save'></span></button>";
                        return html;
                    }
                }
            ];

            var dataTable = $('#daily-trend-tbl').on('preXhr.dt',
                function (e, settings, data) {
                    $("#date-range-overlay").show();
                    $('#daily-trend-tbl').parents(".row").find(".table-overlay").show();
                }).on('xhr.dt',
                function (e, settings, json, xhr) {
                    $("#date-range-overlay").hide();
                    $('#daily-trend-tbl').parents(".row").find(".table-overlay").hide();
                }).DataTable({
                lengthChange: true,
                autoWidth: false,
                processing: true,
                serverSide: true,
                searching: false,
                ordering: false,
                paging: false,
                info: true,
                order: [[0, "desc"]],
                pageLength: 100,
                lengthMenu: [10, 25, 50, 100, 250, 500],
                ajax: {
                    url: '@Url.Action("GetDailyTrends", "DailyTrend", new { area = ReportingSettings.AreaName })',
                    data: function (data) {
                        if ($("#custom-daterange-checkbox").prop("checked")) {
                            data.startDate = $("#daterange").data("daterangepicker").startDate.format("MM-DD-YYYY");

                            data.endDate = $("#daterange").data("daterangepicker").endDate.format("MM-DD-YYYY");

                            $("#period-range").text(data.startDate + " - " + data.endDate);
                        } else {
                            data.startDate = startDateDefault;

                            data.endDate = endDateDefault;

                            $("#period-range").text("last 90 days");
                        }
                    },
                    type: "GET"
                },
                language: {
                    processing: 'Please wait ...'
                },
                columns: dataTableColumns
                });

            page.loadDefaultFilters();
        });
    </script>
}
