﻿
@model QuoteDetailsModel
<form id="updateQuoteDetailsForm">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-body form-horizontal" style="min-height: 200px" disabled>
                <div class="form-group">
                    <label class="col-md-2 control-label">CustID:</label>
                    <div class="col-md-2">
                        <input class="form-control" type="text" disabled="disabled" value="@Model.CustomerId" />
                    </div>
                    <label class="col-md-2 control-label">CustName:</label>
                    <div class="col-md-6">
                        <input class="form-control" type="text" disabled="disabled" value="@Model.CustomerName" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Ship To:</label>
                    <div class="col-md-10">
                        <select class="form-control" name="CustomerShipToId" id="customerShipTo" >
                            <!option value="" @(Model.ShipToIsOverridden ? "selected" : "")>New ShipTo</!option>
                            @foreach (var option in Model.ShipTos)
                            {
                                <!option value="@option.Value" @(option.Selected ? "selected" : "")>
                                    @option.Text
                                </!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">From Zip:</label>
                    <div class="col-md-4">
                        <select class="form-control" name="OriginZipCode">
                            <!option value="">Select</!option>
                            <!option value="75069" @(Model.OriginZipCode == 75069 ? "selected" : "")>
                                75069 (McKinney)
                            </!option>
                            <!option value="21046" @(Model.OriginZipCode == 21046 ? "selected" : "")>
                                21046 (Baltimore)
                            </!option>
                        </select>
                    </div>
                    <label class="col-md-2 control-label">To Zip:</label>
                    <div class="col-md-4">
                        <input class="form-control text-left" type="text" id="toZipInput" name="ShipToZipOverride" value="@(Model.ShipToZipOverride)" @(Model.ShipToIsOverridden ? "" : "disabled") />
                    </div>
                </div>
                @*<div class="form-group">
                        <label class="col-md-2 control-label">Notes:</label>
                        <div class="col-md-10">
                            <textarea cols="4" rows="2" style="height:55px;" class="form-control" name="QuoteDescription">@Model.QuoteDescription</textarea>
                        </div>
                    </div>*@
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-body form-horizontal" style="min-height: 200px">
                <div class="form-group">
                    <label class="col-md-3 control-label">Shipping Method:</label>
                    <div class="col-md-3">
                        <select style="width: 115px" class="form-control" name="ShippingMethod">
                            <!option @(Model.ShippingMethod == "Brinks" ? "selected" : "")>Brinks</!option>
                            <!option @(Model.ShippingMethod == "DHL" ? "selected" : "")>DHL</!option>
                            <!option @(Model.ShippingMethod == "Fedex" ? "selected" : "")>Fedex</!option>
                            <!option @(Model.ShippingMethod == "Loomis" ? "selected" : "")>Loomis</!option>
                            <!option @(Model.ShippingMethod == "UPS" ? "selected" : "")>UPS</!option>
                            <!option @(Model.ShippingMethod == "USPS" ? "selected" : "")>USPS</!option>
                        </select>
                    </div>
                    <label class="col-md-3 control-label">Order Frequency:</label>
                    <div class="col-md-3">
                        <select style="width: 115px" class="form-control" name="OrderFrequency" >
                            <!option @(Model.OrderFrequency == "One-Time" ? "selected" : "")>One-Time</!option>
                            <!option @(Model.OrderFrequency == "Weekly" ? "selected" : "")>Weekly</!option>
                            <!option @(Model.OrderFrequency == "Bi-Weekly" ? "selected" : "")>Bi-Weekly</!option>
                            <!option @(Model.OrderFrequency == "Monthly" ? "selected" : "")>Monthly</!option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Freight Payment Type:</label>
                    <div class="col-md-3">
                        <select style="width: 115px" class="form-control" name="FreightPaymentType">
                            <!option @(Model.FreightPaymentType == "statlab" ? "selected" : "") value="statlab">
                                StatLab
                            </!option>
                            <!option @(Model.FreightPaymentType == "customer" ? "selected" : "") value="customer">
                                Customer
                            </!option>
                            <!option @(Model.FreightPaymentType == "split" ? "selected" : "") value="split">
                                Split
                            </!option>
                        </select>
                    </div>
                    <label class="col-md-3 text-right control-label">Freight Cap $:</label>
                    <div class="col-md-3">
                        <input class="form-control text-right" style="width: 115px;" type="text"
                               @(Model.FreightPaymentType == "split" ? "" : "disabled")
                               name="FreightCapAmount" value="@(Model.FreightCapAmount?.ToString("0.00") ?? "")" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Tot Adj Margin %:</label>
                    <label class="col-md-2 control-label @(Model.TotAdjMarginPerc > Model.TotFloorMarginPerc ? "acceptable-margin" : "notacceptable-margin") ">
                        <span name="TotAdjMarginPerc" style="width: 115px; display: block; text-align: left">@(Model.TotAdjMarginPerc != null ? Model.TotAdjMarginPerc?.ToString("P") : "N/A")</span>
                    </label>
                    <label class="col-md-4 control-label">Est Net Shipping Cost (Freight):</label>
                    <div class="col-md-2">
                        <input class="form-control text-right" type="text" name="AverageShippingCost" disabled value="@(Model.AverageShippingCost != null ? Model.AverageShippingCost?.ToString("C") : "N/A")" style="width: 115px" />
                    </div>
                </div>

                @*<div id="RequestApprovalBtn" class="form-group" @(Model.TotAdjMarginPerc > Model.TotFloorMarginPerc ? "hidden=\"hidden\"" : "")>
                        <div class="col-md-3  text-right col-md-offset-3">
                            <button type="button" class="btn btn-block btn-sm btn-default" title="Request Approval"
                                    data-toggle="modal" data-target="#RequestApprovalModal">
                                Request Approval
                            </button>
                        </div>
                    </div>*@



            </div>
            <!-- /.box-body -->
        </div>
    </div>
</form>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {
        (function(app, quotes, $, undefined) {

            $(document).ready(function () {

                quotes.freightPaymentType = "@Model.FreightPaymentType";

                var enableDisableFreightCap = function (freightPaymentType) {
                    if (freightPaymentType === "split") {
                        $('[name="FreightCapAmount"]').prop("disabled", false);
                    } else {
                        $('[name="FreightCapAmount"]').val("").prop("disabled", true);
                    }
                };

                $('[name="FreightPaymentType"]').on('change', function() {
                    quotes.freightPaymentType = $(this).val();
                    enableDisableFreightCap(quotes.freightPaymentType);
                });

                var updateForm = $('#updateQuoteDetailsForm');
                function saveFunction() {
                    // serialize the whole form, add the QuoteId, and call the updateQuote method
                    var quote = updateForm.serializeObject();
                    quote.QuoteId = @Model.QuoteId;
                    quotes.updateQuoteDetails(quote);
                }
                // on input (typing a character), we don't want to autosave every time,
                // so do debounce, which means schedule an autosave for later
                updateForm.on('input', 'input, textarea', function() {
                    quotes.scheduleAutosave(saveFunction);
                });
                // on change, do an autosave immediately
                updateForm.on('propertychange change', 'input, select, textarea', function() {
                    quotes.autosave(saveFunction);
                });
                // on submit (enter key or button click), cancel the submit and do an autosave immediately
                updateForm.on('submit', function(e) {
                    e.preventDefault();
                    quotes.autosave(saveFunction);
                    return false;
                });

                var toZipInput = $('#toZipInput');
                toZipInput.on('click focus', function() { $(this).select(); });
                var shipToSelect = $('select[name="CustomerShipToId"]');
                shipToSelect.select2();
                function updateToZipInput() {
                    var shipToId = shipToSelect.val();
                    if (shipToId) {
                        toZipInput.attr('disabled', true);
                        quotes.getShipToZip(shipToId, function(shipToZip) {
                            toZipInput.val(shipToZip);
                        });
                    } else {
                        toZipInput.attr('disabled', false);
                        window.setTimeout(function() { toZipInput.focus(); }, 0);
                    }

                }
                updateToZipInput();
                shipToSelect.on('change', updateToZipInput);
            });

        }(window.app, window.quotes, jQuery));
    });
</script>
