﻿<section class="content-header quoute-header-icons">
    <h1 class="pull-left">
        <a style="margin-right:10px;" class="btn btn-primary" href="@Url.Action("HeaderQuote", "QuotesMain", new { area="Quotes" })">Back To Quotes</a>
        Quote Name: @Model.QuoteName
    </h1>
    <button title="Clone Quote" style="margin-left:5px" class="btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#CloneQuote-Modal"><img src="~/Modules/ProfitOptics.Modules.Quotes/Content/img/icn-6.png" /></button>

    <button title="Update Quote Pricing to ERP" style="margin-left:5px" class="btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#UploadEpicor-Modal"><img src="~/Modules/ProfitOptics.Modules.Quotes/Content/img/icn-7.png" /></button>
    <button title="Retrieve Current Pricing from ERP" style="margin-left:5px" class="btn  btn-sm btn-default pull-right" data-toggle="modal" data-target="#DownloadEpicor-Modal"><img src="~/Modules/ProfitOptics.Modules.Quotes/Content/img/icn-8.png" /></button>

    <div title="Print/Output Quote" class="pull-right" style="margin-left:5px">
        <div class="dropdown">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <img src="~/Modules/ProfitOptics.Modules.Quotes/Content/img/icn-5.png" />
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                    <div style="border-bottom: 1px solid silver;font-size: 12px;margin-bottom: 10px;padding-top: 5px;text-align: center;width: 200px;">
                        <label style="font-weight:normal"><input type="checkbox" /> Freight</label>
                        <label style="font-weight:normal; margin:0 10px"><input type="checkbox" /> Total</label>
                        <label style="font-weight:normal"><input type="checkbox" /> Vendor</label>
                    </div>
                </li>
                <li class="dropdown-header"><strong>Customer Facing</strong></li>
                <li style="padding-left:15px"><a href="javascript:void(0)" id="customerFacingNotExtended">Not Extended</a></li>
                <li style="padding-left:15px"><a href="javascript:void(0)" id="customerFacingExtended">Extended</a></li>
                <li style="padding-left:15px"><a href="javascript:void(0)" id="customerFacingXls">XLS</a></li>
                <li class="dropdown-header"><strong>Internal (Cost & Margin %)</strong></li>
                <li style="padding-left:15px"><a href="">Not Extended</a></li>
                <li style="padding-left:15px"><a href="">Extended</a></li>
                <li style="padding-left:15px"><a href="">XLS</a></li>
                <li class="dropdown-header"><strong>Competitor Analysis</strong></li>
                <li style="padding-left:15px"><a href="">XLS</a></li>

            </ul>
        </div>
    </div>

    <button title="Archive Quote" style="margin-left:20px; margin-right:15px;"
            class="btn btn-default btn-sm pull-right @(Model.IsArchived ? "hidden" : "")"
            data-toggle="modal" data-target="#DeleteQuote-Modal">
        <img src="~/Modules/ProfitOptics.Modules.Quotes/Content/img/icn-4.png" />
    </button>
    <button title="Unarchive Quote" style="margin-left:20px; margin-right:15px;"
            class="btn btn-default btn-sm pull-right @(!Model.IsArchived ? "hidden" : "")"
            data-toggle="modal" data-target="#UnarchiveQuote-Modal">
        <img src="~/Modules/ProfitOptics.Modules.Quotes/Content/img/icn-10.png" />
    </button>
    <button title="Add Special Item" style="margin-left:5px" class="btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#"><img src="~/Modules/ProfitOptics.Modules.Quotes/Content/img/icn-3.png" /></button>

    <button title="Add From List" style="margin-left:5px" class="btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#AddItemsFromListModal"><img src="~/Modules/ProfitOptics.Modules.Quotes/Content/img/icn-0.png" /></button>
    <button title="Add Items From Standing Order" style="margin-left:5px" class="btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#AddFromStandingOrderModal"><img src="~/Modules/ProfitOptics.Modules.Quotes/Content/img/icn-9.png" /></button>
    <button title="Add Items From Price List" style="margin-left:5px" class="btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#AddItemFromPriceListModal"><img src="~/Modules/ProfitOptics.Modules.Quotes/Content/img/icn-2.png" /></button>
    <button title="Add Items" style="margin-left:5px" class="btn btn-sm btn-default pull-right" data-toggle="modal" data-target="#AddNewItem-Modal"><img src="~/Modules/ProfitOptics.Modules.Quotes/Content/img/icn-1.png" /></button>
    <div class="clearfix"></div>
</section>

