﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.AddCustomerModel
<!-- Modal -->
<div class="example-modal container">
    <div class="modal fade" id="AddCustomerDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog  modal-lg" @*role="document"*@>
            <div class="modal-content">

                <form asp-action="AddCustomer" asp-controller="Sox" method="post" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add new customer</h4>
                    </div>
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-horizontal">
                            @*<input type="hidden" class="form-control" asp-for="@Model.Customer.FacilityCode" />*@
                            <input type="hidden" class="form-control" asp-for="@Model.Customer.FacilityId" />
                            <input type="hidden" class="form-control" asp-for="@Model.Customer.Id" />
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Customer Name
                                </label>
                                <div class="col-md-10">
                                    <input asp-for="@Model.Customer.CustomerName" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.Customer.CustomerName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Street
                                </label>
                                <div class="col-md-10">
                                    <input type="text" asp-for="@Model.Customer.DeliveryStreet" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    City
                                </label>
                                <div class="col-md-3">
                                    <input asp-for="@Model.Customer.DeliveryCity" type="text" class="form-control" />
                                    <span asp-validation-for="@Model.Customer.DeliveryCity" class="text-danger"></span>
                                </div>
                                <label class="control-label col-md-1">
                                    Zip
                                </label>
                                <div class="col-md-2">
                                    <input type="text" asp-for="@Model.Customer.DeliveryZip" class="form-control" />
                                    <span asp-validation-for="@Model.Customer.DeliveryZip" class="text-danger"></span>
                                </div>
                                <label class="control-label col-md-2">
                                    State
                                </label>
                                <div class="col-md-2">
                                    <input type="text" asp-for="@Model.Customer.DeliveryState" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Service Time(in minutes)</label>
                                <div class="col-md-2">
                                    <input type="number" min="0" asp-for="@Model.Customer.ServiceTime" class="form-control" />
                                    <span asp-validation-for="@Model.Customer.ServiceTime" class="text-danger"></span>
                                </div>
                                <label class="col-md-2 control-label">Delivery Start</label>
                                <div class="col-md-2">
                                    <div class="input-group bootstrap-timepicker timepicker" id='datetimepicker1'>
                                        <input id="timepicker0" type="text" class="form-control timepickerInput" asp-for="@Model.Customer.DeliveryStart">
                                        <span asp-validation-for="@Model.Customer.SelectedDeliveryStart" class="text-danger"></span>
                                    </div>
                                    <div id="deliveryTimeWarning"></div>
                                </div>
                                <label class="col-md-2 control-label">Delivery End</label>
                                <div class="col-md-2">
                                    <div class="input-group bootstrap-timepicker timepicker">
                                        <input id="timepicker1" type="text" class="form-control timepickerInput" asp-for="@Model.Customer.DeliveryEnd">
                                        <span asp-validation-for="@Model.Customer.SelectedDeliveryEnd" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Access Code</label>
                                <div class="col-md-4">
                                    <input type="text" asp-for="@Model.Customer.DeliverAccessCode" class="form-control" />
                                </div>
                                <label class="control-label col-md-2">Phone Number</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" asp-for="@Model.Customer.DeliverPhoneNumber" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Delivery Name
                                </label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="@Model.Customer.DeliverName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Pickup Name
                                </label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="@Model.Customer.PickupName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Pickup Instruction
                                </label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="@Model.Customer.PickupInstructions" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Dropoff Instruction
                                </label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="@Model.Customer.DropoffInstructions" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Facility Code
                                </label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="@Model.Customer.FacilityCode" />
                                    <span asp-validation-for="@Model.Customer.FacilityCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Notes</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" cols="3" rows="3" asp-for="@Model.Customer.DeliverNotes"></textarea>
                                </div>
                            </div>
                            <div id="companies" class="form-group">
                                <label class="control-label col-md-2">
                                    Company
                                </label>
                                <div class="col-md-4">
                                    <select data-val="true" data-val-required="Company must be selected." class="select2-user-parentCompanies form-control companyList" asp-for="@Model.Customer.SelectedCompany" style="width: 100%">
                                        @foreach (var company in Model.Customer.GCParentCompanies)
                                        {
                                            <option value="@company.Value">@company.Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Billing type</label>
                                <div class="col-md-10">
                                    @foreach (var value in Enum.GetValues(typeof(ProfitOptics.Modules.Sox.Enums.QBBillingType)))
                                    {
                                        <span class="customer-billing-type">
                                            @Html.RadioButtonFor(m => m.Customer.QBBillingType, (int)value)
                                            @Html.Label(value.ToString())
                                        </span>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    AP Email
                                </label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="@Model.Customer.APEmail" />
                                    <span asp-validation-for="@Model.Customer.CustomerName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    AP Contact Name
                                </label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="@Model.Customer.APContactName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    AP Phone
                                </label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="@Model.Customer.APPhone" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="addCustomerBtn" type="submit" class="btn btn-primary" disabled>Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<script>
    jQuery.fn.preventDoubleSubmission = function () {

        var last_clicked, time_since_clicked;

        $(this).bind('submit', function (event) {

            if (last_clicked)
                time_since_clicked = event.timeStamp - last_clicked;

            last_clicked = event.timeStamp;

            if (time_since_clicked < 2000)
                return false;

            return true;
        });
    };

    $('#addCustomerBtn').preventDoubleSubmission();
	$(document).ready(function () {
		$('.timepickerInput').timepicker();
	});
</script>
