﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.AddColorCommentModal
@using  ProfitOptics.Framework.Web.Framework.Identity
<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form asp-action="SaveColorComment" asp-controller="Sox" method="post" id="colorStatusForm" class="form-horizontal" role="form">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Add a Comment</h4>
				</div>
				<div class="modal-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-md-3">
								Title
							</label>
							<div class="col-md-9">
								<input type="text" asp-for="@Model.Title" class="form-control" />
								<span asp-validation-for="@Model.Title" class="text-danger"></span>
							</div>
						</div>
						<div id="gcCommentTrays" class="form-group">
							<label class="control-label col-md-3">
								Tray
							</label>
							<div class="col-md-9">
								@Html.DropDownList("GCTrays", Model.GCTrays, new { @class = "select2-comment-tray form-control", style = "width: 100%" })
								@Html.HiddenFor(x => x.GCTrayId)
								<span asp-validation-for="@Model.GCTrays" class="text-danger"></span>
							</div>
						</div>
						@if(User.IsInRole(ApplicationRoleNames.SuperAdmin) || User.IsInRole(ApplicationRoleNames.Admin) || User.IsInRole(ApplicationRoleNames.User))
		   						{
							<div id="gcCommentColor" class="form-group">
								<label class="control-label col-md-3">
									Color
								</label>
								<div class="col-md-9">
									@Html.DropDownList("GCColors", Model.GCColors, new { @class = "select2-comment-color form-control", style = "width: 100%" })
									@Html.HiddenFor(x => x.GCColorId)
									<span asp-validation-for="@Model.GCColors" class="text-danger"></span>
								</div>
							</div>
						}

						<div class="form-group">
							<label class="control-label col-md-3">
								Description
							</label>
							<div class="col-md-9">
								<textarea class="form-control" asp-for="@Model.Description" rows="3" cols="3"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">
								Requires Resolution
							</label>
							<div class="col-md-9">
								@Html.CheckBoxFor(x => x.RequiresResolution, new { @class = "form-check-input", style = "margin-top: 10px" })
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" onclick="saveColorComment()" class="btn btn-primary">Add Comment</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" src="/AdminLTE/plugins/jquery-validation/jquery.validate.js"></script>
<script type="text/javascript" src="/AdminLTE/plugins/jquery-validation/jquery.validate.unobtrusive.js"></script>
@*<script>
		$(document).ready(function () {
			$('.select2-comment-tray').select2();
			$('.select2-comment-color').select2();

		});

	</script>*@