﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.GCCaseModel

<div id="CancelWorkWaveOrdersModal" class="modal fade in" role="dialog">
	<div class="modal-dialog" style="width:850px">
		<div class="modal-content">
			<form asp-action="CancelWorkWaveOrdersAsync" asp-controller="Sox" method="post" role="form">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								Are you sure that you want to cancel WorkWave orders for this case?
							</div>
							<div class="form-group" style="display: none;">
								@Html.HiddenFor(m => m.Id)
							</div>
						</div>
					</div>

				</div>
				<div class="clearfix"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Confirm</button>
				</div>
			</form>
		</div>
	</div>
</div>



