﻿@using ProfitOptics.Framework.Core.Settings
@using ProfitOptics.Modules.Sox.Helpers;
@using  ProfitOptics.Framework.Web.Framework.Identity
@model ProfitOptics.Modules.Sox.Models.ViewModels.CaseDetailsTraysModel
@if (Model.NumOfPhotos != null && Model.NumOfPhotos > 0)
{
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="max-width:350px; margin:20px auto 20px;">
	<!-- Indicators -->
	@*<ol class="carousel-indicators">
			@for (int i = 0; i < Model.NumOfPhotos; i++)
			{
				if (i == 0)
				{
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				}
				else
				{
					<li data-target="#carousel-example-generic" data-slide-to="@i"></li>
				}
			}
		</ol>*@

	<div class="carousel-inner" id="carousel-inner" role="listbox">
		@if (Model.AssemblyPhotos != null && Model.AssemblyPhotos.Count > 0)
			{
				foreach (var item in Model.AssemblyPhotos)
				{
		@if (item.AssemblyPhotos != null && item.AssemblyPhotos.Pictures != null && item.AssemblyPhotos.Pictures.Count > 0)
					{
						foreach (var assemblyImage in item.AssemblyPhotos.Pictures)
						{
		<div class="item">
			<img style="height:250px !important; width:100%" src="@assemblyImage.Data" id="@assemblyImage.ImageId" onclick="enlargeImgWithCarousel(@assemblyImage.ImageId, 1, @item.StatusId)">
			@if (!User.IsInRole(ApplicationRoleNames.VendorUser))
								{
			<div class="carousel-caption">
				<h3>AS(@item.StatusTimestamp.GetLocalDateTime().ToString())</h3>
			</div>
								}

		</div>
						}
					}
				}
			}
		@if (Model.LatestBIResults != null && Model.LatestBIResults.Count > 0)
			{
				foreach (var item in Model.LatestBIResults.Take(1))
				{
		@if (item.ImagesData != null && item.ImagesData.Count > 0)
					{
						foreach (var image in item.ImagesData)
						{
		<div class="item">
			<img style="height:250px !important; width:100%" src="@image" onclick="EnlargeImageFromSource(this)">
			@if (!User.IsInRole(ApplicationRoleNames.VendorUser))
								{
			<div class="carousel-caption">
				<h3>BI(@item.Timestamp.GetLocalDateTime().ToString())</h3>
			</div>
								}
		</div>
						}
					}
				}
			}
		@if (Model.LatestDeliveryPods != null && Model.LatestDeliveryPods.Count > 0)
			{
				foreach (var item in Model.LatestDeliveryPods.Take(1))
				{
		@if (item.PodContainer != null && item.PodContainer.ShowPictures && item.PodContainer.Pictures != null && item.PodContainer.Pictures.Count > 0)
					{
						foreach (var image in item.PodContainer.Pictures)
						{
		<div class="item">
			<img style="height:250px !important; width:100%" src="@image.Data" id="@image.ImageId" onclick="enlargeImgWithCarousel(@image.ImageId)">
			@if (!User.IsInRole(ApplicationRoleNames.VendorUser))
								{
			<div class="carousel-caption">
				<h3>DI(@item.Timestamp.GetLocalDateTime().ToString())</h3>
			</div>
								}
		</div>
						}
					}

		@if (item.PodContainer != null && item.PodContainer.ShowSignature && item.PodContainer.Signature != null)
					{

		<div class="item">
			<img style="height:250px !important; width:100%" src="@item.PodContainer.Signature.Data" id="@item.PodContainer.Signature.ImageId" onclick="enlargeImgWithCarousel(@item.PodContainer.Signature.ImageId)">
			@if (!User.IsInRole(ApplicationRoleNames.VendorUser))
							{
			<div class="carousel-caption">
				<h3>DS(@item.Timestamp.GetLocalDateTime().ToString())</h3>
			</div>
							}
		</div>

					}
				}
			}


	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<input type="hidden" id="GetGCImageWithCountSheetByIdUrl" value="@Url.Action("GetGCImageWithCountSheetById","Sox")" />
 @await Html.PartialAsync("_EnlargedImageModal.cshtml")

}

<script>
	$(document).ready(function () {
		$("#carousel-inner").find('.item').first().addClass('active');
	});
</script>