﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.CaseDetailsTraysModel
@using ProfitOptics.Modules.Sox.Helpers;
<div class="col-xs-12">
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">
				Trays
			</h3>
		</div>
		<div class="box-body">
			<div class="table-responsive">
				<table class="table tableUsers table-hover" id="instrumentSetsTable">
					<thead>
						<tr>
							<th>Name</th>
							<th>System</th>
							<th>Vendor</th>
							<th>Lifecycle status</th>
							@*<th>Status</th>*@
						</tr>
					</thead>
					<tbody>
						@foreach (var tray in Model.Trays)
						{
							<tr @{ if (!tray.IsGCTrayActiveStatus) { <text> class="tray-inactive" </text>  } }>
								<td>
									@if (tray.CTContainerTypeActualId != 0)
									{
										<span class="color-status-container"><a href="" onclick="openRightSidebar(@tray.CTContainerTypeActualId), $(window).scrollTop($('#sidebar-placeholder').scrollTop());" class="caseColorStatus @tray.ColorStatus" data-toggle="control-sidebar">@tray.Name </a></span>
										@if (tray.IsLoaner)
										{
											<i class="fa fa-suitcase" style="margin-top:7px"></i>
										} 
									}
									else
									{
										<span class="color-status-container"><a class="caseColorStatus @tray.ColorStatus" data-toggle="control-sidebar">@tray.Name <i class="fa fa-exclamation-circle"></i></a></span>
										@if (tray.IsLoaner)
										{
											<i class="fa fa-suitcase" style="margin-top:7px"></i>
										}
									}
									@if(!tray.ActualLapCount.HasValue)
                                    {
										<i class="fa fa-chain-broken" style="margin-top:7px"></i>
                                    }
								</td>
								<td>@tray.ServiceName</td>
								<td>@tray.VendorName</td>
								<td>@tray.LifecycleStatus @(tray.Timestamp.HasValue && tray.Timestamp.Value > DateTime.MinValue  ? $" - {tray.Timestamp.Value.GetLocalDateTime().ToString()}" : "")</td>
								@*<td>@tray.CaseContainerStatus</td>*@
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>