﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.GCCasesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ProfitOptics.Modules.Sox.Helpers;
<style>
	.green-banner {
		background-color: mediumseagreen;
		border: 1px black;
		border-radius: 5px;
		margin-bottom: 15px;
		padding: 5px;
	}

	.banner-text {
		font-size: 20px;
		color: white;
	}
</style>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			@if (Model.AllCasesInSterileStagingForLoading)
			{
				<div class="green-banner">
					<a href="https://routemanager.workwave.com/#/login" class="banner-text">Route is ready, please finish dispatching.</a>
				</div>
			}
			<div class="box box-primary">
				<div class="box-body">
					<div class="table-responsive">
						<table class="table tableUsers table-hover" id="gcCases">
							<thead>
								<tr>
									<th>ID</th>
									<th>Tray count</th>
									<th>Customer</th>
									<th>Case name</th>
									<th>CensiTrack Case Id</th>
									<th>Case Reference</th>
									<th>Route Id</th>
									<th>Vehicle</th>
									<th>Driver</th>
									<th>Due Date</th>
									<th>Status</th>
                                    <th>Lifecycle Status</th>

								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.GCCases)
								{
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.TrayCount</td>
                                    <td>@item.CustomerName</td>
                                    <td>@item.CTCase.CaseReference - @item.CustomerName</td>
                                    <td>@item.CTCaseId</td>
                                    <td><a href="@Url.Action("CaseDetails","Sox",new { id=item.Id})" class="more-link">@item.Title</a></td>
                                    <td>
                                        @if (item.WWPickupRoute != null)
                                        {
                                            <a href="https://routemanager.workwave.com/#/login">@item.WWPickupRoute.Id</a>
                                        }
                                    </td>
                                    <td>
                                        @if (item.WWPickupRoute != null)
                                        {
                                            if (item.WWPickupRoute.Vehicle != null)
                                            {
                                                @item.WWPickupRoute.Vehicle.ExternalId}
                                        }
                                    </td>
                                    <td>
                                        @if (item.WWPickupRoute != null)
                                        {
                                            if (item.WWPickupRoute.Driver != null)
                                            {
                                                @item.WWPickupRoute.Driver.Name}
                                        }
                                    </td>

                                    <td>@item.CTCase.DueTimestamp</td> @*.GetLocalDateTime()*@
                                    @if (item.IncomingOrderId == null && item.OutgoingOrderId == null)
                                    {
                                        <td style="color:red">Not Submitted to WorkWave</td>
                                    }
                                    else if (item.IncomingOrderId == null)
                                    {
                                        <td style="color:orange">No Incoming Order</td>

                                    }
                                    else if (item.OutgoingOrderId == null)
                                    {
                                        <td style="color:orange">No Outgoing Order</td>
                                    }
                                    else
                                    {
                                        <td style="color:green">Submitted to WorkWave</td>
                                    }
                                    <td>@item.LifecycleStatusType.Title</td>
                                </tr>
								}
							</tbody>
						</table>
					</div>
				</div>
				<div class="overlay table-overlay" style="display: none;" hidden=""><i class="fa fa-refresh fa-spin"></i></div>
				<!-- /.box-body -->
			</div>
		</div>
	</div>
</section>

@*<script src="~/Content/js/jquery-1.12.4.js"></script>
	<script src="~/Content/js/jquery-ui.js"></script>*@

<script>
	//app.activeMenus = ["menuInventory", "menuInventoryTrays"];

	$(document).ready(function () {
		$('#gcCases').DataTable();
		//$('#timepicker0').timepicker();
		//$('#timepicker1').timepicker();
	});
</script>