﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.CaseDetailsTraysModel
@using ProfitOptics.Modules.Sox.Helpers;
<style>
    .likeRow {
        cursor: pointer;
        margin-bottom: 10px;
        padding-top: 6px;
        border-bottom: 1px solid #f0f0f0;
    }
	.likeRow:hover{
		background:#eaeaea
	}
</style>
<div class="col-md-12">
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">
				Tray Images
			</h3>
		</div>
		<div class="box-body">
		
			
		@{ await Html.RenderPartialAsync("_CarouselWithCaseImages.cshtml", Model); }
			
		</div>
	</div>
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">
				Tray Details
			</h3>
		</div>
		<div class="box-body">
			<div class="row hidden-xs" style="margin-bottom:10px;">
				<div class="col-md-3" style="color:#03377a !important">Name</div>
				<div class="col-md-3" style="color:#03377a !important">System</div>
				<div class="col-md-3" style="color:#03377a !important">Vendor</div>
				<div class="col-md-3" style="color:#03377a !important">Lifecycle info</div>
			</div>
			@foreach (var tray in Model.Trays)
			{
				<div class="row likeRow" style="margin-bottom:10px;" onclick="openVendorsTrayHistory(@tray.CTContainerTypeActualId)">
                    <div class="col-md-3 mb-6">
                        @*<span class="color-status-container">
            <a class="caseColorStatus Green" data-toggle="collapse" href="#collapsInfo-@tray.CTContainerTypeActualId">@tray.Name </a>
        </span>*@
                        @if (tray.CTContainerTypeActualId != 0)
                        {
                            <span class="color-status-container"><a class="caseColorStatus @tray.ColorStatus">@tray.Name </a></span>
                            @if (tray.IsLoaner)
                            {
                                <i class="fa fa-suitcase" style="margin-top:7px"></i>
                            }
                        }
                        else
                        {
                            <span class="color-status-container"><a class="caseColorStatus @tray.ColorStatus">@tray.Name <i class="fa fa-exclamation-circle"></i></a></span>
                            @if (tray.IsLoaner)
                            {
                                <i class="fa fa-suitcase" style="margin-top:7px"></i>
                            }
                        }
                        @if (!tray.ActualLapCount.HasValue)
                        {
                            <i class="fa fa-chain-broken" style="margin-top:7px"></i>
                        }
                    </div>
					<div class="col-md-3 mob-ver-view h-30">
						@tray.ServiceName
					</div>
					<div class="col-md-3 mob-ver-view h-30">
						@tray.VendorName
					</div>
					<div class="col-md-3 mob-ver-view h-30">
						@tray.LifecycleCategory @@ @tray.Location @*@(tray.Timestamp.HasValue && tray.Timestamp.Value > DateTime.MinValue  ? $" - {tray.Timestamp.Value.GetLocalDateTime().ToString()}" : "")*@
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" id="collapsInfoPlaceholder-@tray.CTContainerTypeActualId">
					
					</div>
				</div>
			}
		</div>
	</div>
</div>