﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.ChooseCaseModel

<div id="ChooseCaseDialog" class="modal fade in" role="dialog">
    <div class="modal-dialog" @*style="width:850px"*@>
        <div class="modal-content">
            <div class="col-md-6" id="parentDiv">
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    @foreach (var tray in Model.Trays)
                    {
                        <li role="presentation">
                            <a aria-controls="parentCompany_1" role="tab" data-toggle="tab">
                                @tray.CaseReference
                            </a>
                            @Html.Hidden("TrayId", tray.Id)
                        </li>
                    }
                   
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button onclick="GoToIsFoamedPage()" class="btn btn-primary">Ok</button>
            </div>
        </div>    
    </div>
</div>




