﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.DashboardDetailedHourPreviewModel
@using ProfitOptics.Modules.Sox.Helpers;
<div class="box box-primary">
	<div class="box-header ">
		<h3 class="box-title clearDataOnResubmitTimeTitle">@Model.Date.ToString("hh tt") to @Model.Date.AddHours(1).ToString("hh tt")</h3>
	</div>
	<div class="box-body circleDetails" style="height:420px;overflow-y:auto">
		<div class="flex-column clearDataOnResubmitTimeItems">
			@if (Model.Items != null && Model.Items.Count > 0)
			{
				foreach (var item in Model.Items)
				{
			<div class="flex-row" style="margin-bottom:5px;" onclick='location.href="@Url.Action("CaseDetails","Sox",new { id=item.CaseId})"' >
				<div class="time-labelCircle"><span class="@item.ColorClass"></span></div>
				<div class="time-labelText">@item.DueTimestamp.ToShortTimeString(), @item.CustomerName, @item.CaseReference</div>
			</div>
				}
			}
		</div>
	</div>
</div>