﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.DashboardHourPreviewModel
<div class="box box-primary">
	<div class="box-header">
		<h3 class="box-title clearDataOnArrowClick">@Model.Date.ToString("ddd d MMM")</h3>
	</div>
	<div class="box-body" style="height:420px; overflow-y:auto">
		<div class="flex-column clearDataOnArrowClick">
			@if (Model.Items != null && Model.Items.Count > 0)
			{


			@foreach (var item in Model.Items)
				{
				<div class="flex-row" onclick='GetCalendarHourDetails(this,"@item.Start")'>
				<div class="time-numbers">@item.Start.ToString("hh tt")</div>
				@if (item.NumOfBlueCases > 0)
						{
				<div class="time-labelCircle"><span class="colorLabel fc-status-1"></span>@item.NumOfBlueCases</div>
						}
				@if (item.NumOfPurpleCases > 0)
						{
				<div class="time-labelCircle"><span class="colorLabel fc-status-3"></span>@item.NumOfPurpleCases</div>
						}
				@if (item.NumOfRedCases > 0)
						{
				<div class="time-labelCircle"><span class="colorLabel fc-status-2"></span>@item.NumOfRedCases</div>
						}
				@if (item.NumOfYellowCases > 0)
						{
				<div class="time-labelCircle"><span class="colorLabel fc-status-5"></span>@item.NumOfYellowCases</div>
						}
				@if (item.NumOfOrangeCases > 0)
						{
				<div class="time-labelCircle"><span class="colorLabel fc-status-4"></span>@item.NumOfOrangeCases</div>
						}
				@if (item.NumOfGreenCases > 0)
						{
				<div class="time-labelCircle"><span class="colorLabel fc-status-6"></span>@item.NumOfGreenCases</div>
						}
				@if (item.NumOfGrayCases > 0)
						{
				<div class="time-labelCircle"><span class="colorLabel  fc-status-7"></span>@item.NumOfGrayCases</div>
						}
			</div>
						}

				}
		</div>
	</div>
</div>