﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.GCCaseModel
<div class="box box-primary">
	<div class="box-header">
		<h3 class="box-title clearDataOnResubmitCustomerTitle">
			@Model.Title: @(Model.GCCustomer == null ? "" : "-" + Model.GCCustomer.CustomerName)
		</h3>
	</div>
	<div class="box-body clearDataOnResubmitCustomerName" style="height:420px;overflow-y:auto">
		<label class="label-small">Time</label>
		<label class="label-details">
			@Model.DueTimestamp.ToString("dd MMMM yyyy hh:mm tt") to @Model.DueTimestamp.AddHours(1).ToString("hh:mm tt")
		</label>
		<label class="label-small">Surgeon</label>
		<label class="label-details">
			@Model.CTCase?.CaseDoctor
		</label>
		<label class="label-small">Address</label>
		<label class="label-details">
			@if (Model.GCCustomer != null)
			{
				<p>@Model.GCCustomer.DeliveryStreet, @Model.GCCustomer.DeliveryCity, @Model.GCCustomer.DeliveryState, @Model.GCCustomer.DeliveryZip</p>
			}
		</label>
		<label class="label-small">Instrument Trays</label>
		<p class="ellipsis" style="border:0 !important" data-toggle="tooltip" title="@Model.InstrumentTrays">@Model.InstrumentTrays</p>

		<div class="text-center">
			<button class="btn btn-custom text-center" onclick='location.href="@Url.Action("CaseDetails","Sox",new { id=Model.Id})"' style="margin-top:40px;">MORE DETAILS</button>
		</div>
	</div>
</div>