﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.GCVendorModel

<div id="DeactivateVendorDialog" class="modal fade in" role="dialog">
    <div class="modal-dialog" style="width:850px">
        <div class="modal-content">
            <form asp-action="DeactivateVendor" asp-controller="Sox" method="post" role="form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                Are you sure?
                                @*@Html.Hidden("parentCompanyId", new { ViewBag.ParentCompanyId })*@
                            </div>
                            <div class="form-group" style="display: none;">
                                <input asp-for="Id" value="@ViewBag.VendorId" class="form-control loginline"
                                       data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-length-max="100"
                                       data-val-length-min="6" data-val-required="The title field is required." />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>

            </form>



        </div>
        <!-- /.modal-content -->
    </div>
</div>



