﻿<div id="DeleteGCTrayLifecycleDialog" class="modal fade in" role="dialog">
    <div class="modal-dialog" style="width:850px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            Are you sure?
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="removeLifecycleFromTray()" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>



