﻿<div id="enlargedImageModa" class="modal">
		  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content"style="box-shadow: none; border: 0;background-color:transparent">
				  <div class="modal-header"style="border:0">
					  <span id="closeBtn" data-dismiss="modal" class="close"style="color: white; opacity: 1; text-shadow: none;">&times;</span>
				  </div>
					<!-- Modal Content (The Image) -->
					<div class="modal-body">
						<div  class="carousel slide" data-ride="carousel" style="margin:20px auto 20px;">


							<div class="carousel-photo-and-countsheet-inner carousel-inner" id="ccarousel-photo-and-countsheet-inner" role="listbox" style="text-align:center">
								<div class="item active" style="text-align:center; background-color:white">
									<img id="enlargedImageModalImg" src="" style="margin:0 auto">
								</div>
                                <div>
								<!-- Indicators -->
								<ol class="carousel-indicators"style="position:relative; top:10px;">


									<li data-slide-to="0" class="active"></li>
								</ol>
								</div>

							</div>

							<!-- Controls -->
							<a class="left carousel-control" href="#carousel-photo-and-countsheet" role="button" data-slide="prev"style="background:none">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#carousel-photo-and-countsheet" role="button" data-slide="next"style="background:none">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>

				<!-- Modal Caption (Image Text) -->
				<div id="caption"></div>
			</div>

			  </div>
		</div>