﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.EventDetailsModel

@{
    string active;
}
<style>
    .more-link {
        text-decoration: underline;
        font-size: 15px;
    }

    .ellipsis {
        white-space: nowrap;
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid #000000;
    }
</style>
<div class="modal fade" id="eventDetailsDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding-top:0; padding-bottom:0">
                <div class="row">
                    <div class="col-md-3  hidden-xs" style="background:#210a63; min-height:500px">
                        <div class="modalClock">@Model.Date.ToString("hh:mm")</div> @*08:30*@
                        <div class="modalDate">@Model.Date.ToString("ddd, MM/dd")</div> @*Sun 4/26*@
                        <div class="modalDesc">
                            @*<strong>Description</strong>*@@*Uncoment when descritpion is available*@
                            <p>
                                @Model.Description
                            </p>
                        </div>
                    </div>
                    <div class="col-md-9" style="min-height:500px">
                        <div class="row">
                            <div class="col-md-7">
                                <h4>@Model.Date.ToString("dd MMMM yyyy hh:mm tt") to @Model.Date.AddHours(1).ToString("hh:mm tt")</h4> @*26 Apr 2020 08:30 to 11:00*@
                                @*<div style="margin:25px 0 5px">
            <div class="issueBlue">Blue <b>@Model.Cases.Count</b></div>
            <div class="issueRed">Red <b>0</b></div>
        </div>*@

                                <div class="tab" style="margin:25px 0 5px">
                                    <button id="grayBtn" class="tablinks btn btn-sm" style="color: white; background-color: #D3D3D3" onclick="selectColor(event, '@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Gray.ToString().ToLower()')">@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Gray.ToString()</button>
                                    <button id="redBtn" class="tablinks btn btn-sm" style="color: white; background-color: #fd7585" onclick="selectColor(event, '@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Red.ToString().ToLower()')">@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Red.ToString()</button>
                                    <button id="purpleBtn" class="tablinks btn btn-sm" style="color:white; background-color:#d178d8" onclick="selectColor(event, '@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Purple.ToString().ToLower()')">@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Purple.ToString()</button>
                                    <button id="orangeBtn" class="tablinks btn btn-sm" style="color:white; background-color:#FF8C00" onclick="selectColor(event, '@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Orange.ToString().ToLower()')">@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Orange.ToString()</button>
                                    <button id="yellowBtn" class="tablinks btn btn-sm" style="color: white; background-color: #d5d500" onclick="selectColor(event, '@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Yellow.ToString().ToLower()')">@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Yellow.ToString()</button>
                                    <button id="greenBtn" class="tablinks btn btn-sm" style="color:white; background-color:#59ba1f" onclick="selectColor(event, '@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Green.ToString().ToLower()')">@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Green.ToString()</button>
                                </div>

                                @*<div style="max-height:400px; overflow-y:auto; padding-top:20px">
            <label>Case:</label>
            <ul class="nav nav-pills nav-stacked modalCaseTabs">
                @for (var i = 0; i < Model.Cases.Count; i++)
                {
                    if (i == 0)
                    {
                        active = "active";
                    }
                    else
                    {
                        active = "";
                    }

                    <li role="presentation" class="@active blueCase">
                        <a href="#case_@Model.Cases[i].Id" role="tab" data-toggle="tab">@Model.Cases[i].Title </a>
                    </li>
                }

            </ul>
        </div>*@
                                <label>Cases:</label>
                                <div id="gray" class="tabcontent" style="max-height:400px; overflow-y:auto; padding-top:20px">
                                    @*<label>Cases:</label>*@
                                    <ul class="nav nav-pills nav-stacked modalCaseTabs">
                                        @for (var i = 0; i < Model.Cases.Count; i++)
                                        {
                                            if (Model.Cases[i].CaseColor == ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Gray.ToString())
                                            {
                                                //if (i == 0)
                                                //{
                                                //    active = "active";
                                                //}
                                                //else
                                                //{
                                                //    active = "";
                                                //}

                                                <li role="presentation" class="" style="background-color:lightgrey">
                                                    <a href="#case_@Model.Cases[i].Id" role="tab" data-toggle="tab">@Model.Cases[i].Title </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div id="blue" class="tabcontent" style="max-height:400px; overflow-y:auto; padding-top:20px">
                                    @*<label>Cases:</label>*@
                                    <ul class="nav nav-pills nav-stacked modalCaseTabs">
                                        @for (var i = 0; i < Model.Cases.Count; i++)
                                        {
                                            if (Model.Cases[i].CaseColor == ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Blue.ToString())
                                            {
                                                //if (i == 0)
                                                //{
                                                //    active = "active";
                                                //}
                                                //else
                                                //{
                                                //    active = "";
                                                //}

                                                <li role="presentation" class="" style="background-color:#3c79fa">
                                                    <a href="#case_@Model.Cases[i].Id" role="tab" data-toggle="tab">@Model.Cases[i].Title </a>
                                                </li>
                                            }

                                        }
                                        @*@foreach (var item in Model.Cases)
                {
                    <li role="presentation" class="active blueCase">
                        <a href="#case_@item.Id" role="tab" data-toggle="tab">@item.Title </a>
                    </li>
                }*@
                                        @*<li role="presentation" class="redCase">
                    <a href="#case_123red" aria-controls="profile" role="tab" data-toggle="tab">Red Case example</a>
                </li>*@
                                    </ul>
                                </div>

                                <div id="red" class="tabcontent" style="max-height:400px; overflow-y:auto; padding-top:20px">
                                    @*<label>Cases:</label>*@
                                    <ul class="nav nav-pills nav-stacked modalCaseTabs">
                                        @for (var i = 0; i < Model.Cases.Count; i++)
                                        {
                                            if (Model.Cases[i].CaseColor == ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Red.ToString())
                                            {
                                                //if (i == 0)
                                                //{
                                                //    active = "active";
                                                //}
                                                //else
                                                //{
                                                //    active = "";
                                                //}

                                                <li role="presentation" class="" style="background-color:lightgrey">
                                                    <a href="#case_@Model.Cases[i].Id" role="tab" data-toggle="tab">@Model.Cases[i].Title </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                                <div id="purple" class="tabcontent" style="max-height:400px; overflow-y:auto; padding-top:20px">
                                    @*<label>Cases:</label>*@
                                    <ul class="nav nav-pills nav-stacked modalCaseTabs">
                                        @for (var i = 0; i < Model.Cases.Count; i++)
                                        {
                                            if (Model.Cases[i].CaseColor == ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Purple.ToString())
                                            {
                                                //if (i == 0)
                                                //{
                                                //    active = "active";
                                                //}
                                                //else
                                                //{
                                                //    active = "";
                                                //}

                                                <li role="presentation" class="" style="background-color:#d178d8">
                                                    <a href="#case_@Model.Cases[i].Id" role="tab" data-toggle="tab">@Model.Cases[i].Title </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>

                                <div id="orange" class="tabcontent" style="max-height:400px; overflow-y:auto; padding-top:20px">
                                    @*<label>Cases:</label>*@
                                    <ul class="nav nav-pills nav-stacked modalCaseTabs">
                                        @for (var i = 0; i < Model.Cases.Count; i++)
                                        {
                                            if (Model.Cases[i].CaseColor == ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Orange.ToString())
                                            {
                                                //if (i == 0)
                                                //{
                                                //    active = "active";
                                                //}
                                                //else
                                                //{
                                                //    active = "";
                                                //}

                                                <li role="presentation" class="" style="background-color:#FF8C00">
                                                    <a href="#case_@Model.Cases[i].Id" role="tab" data-toggle="tab">@Model.Cases[i].Title </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>

                                <div id="yellow" class="tabcontent" style="max-height:400px; overflow-y:auto; padding-top:20px">
                                    @*<label>Cases:</label>*@
                                    <ul class="nav nav-pills nav-stacked modalCaseTabs">
                                        @for (var i = 0; i < Model.Cases.Count; i++)
                                        {
                                            if (Model.Cases[i].CaseColor == ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Yellow.ToString())
                                            {
                                                //if (i == 0)
                                                //{
                                                //    active = "active";
                                                //}
                                                //else
                                                //{
                                                //    active = "";
                                                //}

                                                <li role="presentation" class="" style="background-color: #d5d500;">
                                                    <a href="#case_@Model.Cases[i].Id" role="tab" data-toggle="tab">@Model.Cases[i].Title </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>

                                <div id="green" class="tabcontent" style="max-height:400px; overflow-y:auto; padding-top:20px">
                                    @*<label>Cases:</label>*@
                                    <ul class="nav nav-pills nav-stacked modalCaseTabs">
                                        @for (var i = 0; i < Model.Cases.Count; i++)
                                        {
                                            if (Model.Cases[i].CaseColor == ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Green.ToString())
                                            {
                                                //if (i == 0)
                                                //{
                                                //    active = "active";
                                                //}
                                                //else
                                                //{
                                                //    active = "";
                                                //}

                                                <li role="presentation" class="" style="background-color:#59ba1f">
                                                    <a href="#case_@Model.Cases[i].Id" role="tab" data-toggle="tab">@Model.Cases[i].Title </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>

                            </div>
                            <div class="col-md-5 col-gray">
                                <div class="tab-content">
                                    @for (var i = 0; i < Model.Cases.Count; i++)
                                    {
                                        //if (i == 0)
                                        //{
                                        //    active = "active";
                                        //}
                                        //else
                                        //{
                                        //    active = "";
                                        //}
                                        <div role="tabpanel" class="tab-pane fade in sidePanel" id="case_@Model.Cases[i].Id">
                                            <p style="font-size:20px"><strong>@Model.Cases[i].Title: #@Model.Cases[i].Id  @(Model.Cases[i].GCCustomer == null ? " " : "-" + Model.Cases[i].GCCustomer.CustomerName) </strong></p>
                                            @*<p>
                                                    Lorem ipsum dolor sit amet,
                                                    consectetur adipiscing elit,
                                                    sed do eiusmod tempor
                                                </p>*@
                                            <hr style="border-top: 1px solid #D0D0D0;" />
                                            <div>
                                                <small class="smallLabel">Time</small>
                                                <p>@Model.Cases[i].CTCase.DueTimestamp.ToString("dd MMMM yyyy hh:mm tt") to @Model.Cases[i].CTCase.DueTimestamp.AddHours(1).ToString("hh:mm tt")</p> @*31 Mar 2020 08:00 to 11:00*@
                                                <small class="smallLabel">Surgeon</small>
                                                <p>@Model.Cases[i].CTCase.CaseDoctor</p>
                                                @if (Model.Cases[i].GCCustomer != null)
                                                {
                                                    <small class="smallLabel">Address</small>
                                                    <p>@Model.Cases[i].GCCustomer.DeliveryStreet, @Model.Cases[i].GCCustomer.DeliveryCity, @Model.Cases[i].GCCustomer.DeliveryState, @Model.Cases[i].GCCustomer.DeliveryZip</p>
                                                }

                                                <small class="smallLabel">Instrument Trays</small>
                                                <p class="ellipsis" style="width:200px; border:0 !important" data-toggle="tooltip" title="@Model.Cases[i].InstrumentTrays">@Model.Cases[i].InstrumentTrays</p>
                                            </div>
                                            <a href="@Url.Action("CaseDetails","Sox",new { id=Model.Cases[i].Id})" class="more-link">More...</a>
                                        </div>
                                    }
                                    <div role="tabpanel" class="tab-pane fade" id="case_123red">[placeholder]</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style=" position: absolute; bottom: 15px; right: 15px;">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-default btn-outline" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(x => x.BtnColor)
</div>

<script>

    $(document).ready(function () {

        var tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        //document.getElementById("blue")
        //$('#blueBtn').click();
        var btnColor = $('#BtnColor').val();

        if (btnColor == "blue") {
            document.getElementById("blue").style.display = "block";
            document.getElementById("blueBtn").style.backgroundColor = "grey";
        }
        else if (btnColor == "red") {
            document.getElementById("red").style.display = "block";
            document.getElementById("redBtn").style.backgroundColor = "grey";
        }
        else if (btnColor == "purple") {
            document.getElementById("purple").style.display = "block";
            document.getElementById("purpleBtn").style.backgroundColor = "grey";
        }
        else if (btnColor == "orange") {
            document.getElementById("orange").style.display = "block";
            document.getElementById("orangeBtn").style.backgroundColor = "grey";
        }
        else if (btnColor == "yellow") {
            document.getElementById("yellow").style.display = "block";
            document.getElementById("yellowBtn").style.backgroundColor = "grey";
        }
        else if (btnColor == "green") {
            document.getElementById("green").style.display = "block";
            document.getElementById("greenBtn").style.backgroundColor = "grey";
        }
        else if (btnColor == "gray") {
            document.getElementById("gray").style.display = "block";
            document.getElementById("grayBtn").style.backgroundColor = "grey";
        }

        $("#blueBtn").click(function () {
            $("li").removeClass("active");
        });
        $("#redBtn").click(function () {
            $("li").removeClass("active");
        });
        $("#purpleBtn").click(function () {
            $("li").removeClass("active");
        });
        $("#orangeBtn").click(function () {
            $("li").removeClass("active");
        });
        $("#yellowBtn").click(function () {
            $("li").removeClass("active");
        });
        $("#greenBtn").click(function () {
            $("li").removeClass("active");
        });
        $("#grayBtn").click(function () {
            $("li").removeClass("active");
        }); 
    });

    function selectColor(evt, color) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        var elements = document.getElementsByClassName("sidePanel");

        for (i = 0; i < elements.length; i++) {
            elements[i].classList.remove("active");
        }

        //elements[0].classList.remove("active");

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");

            if (tablinks[i].id == "blueBtn") {
                tablinks[i].style.backgroundColor = "#3c79fa";
            }
            else if (tablinks[i].id == "redBtn") {
                tablinks[i].style.backgroundColor = "#fd7585";
            }
            else if (tablinks[i].id == "purpleBtn") {
                tablinks[i].style.backgroundColor = "#d178d8";
            }
            else if (tablinks[i].id == "orangeBtn") {
                tablinks[i].style.backgroundColor = "#FF8C00";
            }
            else if (tablinks[i].id == "yellowBtn") {
                tablinks[i].style.backgroundColor = "#d5d500";
            }
            else if (tablinks[i].id == "greenBtn") {
                tablinks[i].style.backgroundColor = "#59ba1f";
            }
            else if (tablinks[i].id == "grayBtn") {
                tablinks[i].style.backgroundColor = "#D3D3D3";
            } 
        }

        if (color == 'blue') {
            document.getElementById("blueBtn").style.backgroundColor = "grey";
        }
        if (color == 'red') {
            document.getElementById("redBtn").style.backgroundColor = "grey";
        }
        if (color == 'purple') {
            document.getElementById("purpleBtn").style.backgroundColor = "grey";
        }
        if (color == 'orange') {
            document.getElementById("orangeBtn").style.backgroundColor = "grey";
        }
        if (color == 'yellow') {
            document.getElementById("yellowBtn").style.backgroundColor = "grey";
        }
        if (color == 'green') {
            document.getElementById("greenBtn").style.backgroundColor = "grey";
        }
        if (color == 'gray') {
            document.getElementById("grayBtn").style.backgroundColor = "grey";
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(color).style.display = "block";
        evt.currentTarget.className += " active";


    }

</script>