﻿@using ProfitOptics.Framework.Core.Settings
@using ProfitOptics.Modules.Sox.Helpers;
@using  ProfitOptics.Framework.Web.Framework.Identity
@model ProfitOptics.Modules.Sox.Models.ViewModels.PhotoWithCountSheet
	<div id="photoWithCountSheetModal" class="modal">
		  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content"style="box-shadow: none; border: 0;background-color:transparent">
				  <div class="modal-header"style="border:0">
					  <span id="closeBtn" data-dismiss="modal" class="close"style="color: white; opacity: 1; text-shadow: none;">&times;</span>
				  </div>
					<!-- Modal Content (The Image) -->
					<div class="modal-body">
						<div id="carousel-photo-and-countsheet" class="carousel slide" data-ride="carousel" style="margin:20px auto 20px;">


							<div class="carousel-photo-and-countsheet-inner carousel-inner" id="ccarousel-photo-and-countsheet-inner" role="listbox" style="text-align:center">
								<div class="item active" style="text-align:center; background-color:white">
									<img src="@Model.ImageSrc" style="margin:0 auto">
								</div>
								@if (Model.ShowCountSheet)
								{
								<div class="item">
									<h5 style="margin:0; padding:0;color:white; height:20px;">Count Sheets</h5>
									<div class="row">
										<div class="col-md-12">
											<div class="table-responsive"style="max-width: 600px;margin: 0 auto; min-height:430px">
												<table class="table table-hover dataTable no-footer"style="background:white">
													<thead>
														<tr>
															<th>Vendor Name</th>
															<th>Model Number</th>
															<th>Set Name</th>
															<th>Description</th>
															<th>Count</th>
														</tr>
													</thead>
													<tbody>
														@if (Model.AssemblyCountSheet != null && Model.AssemblyCountSheet.AssemblyCountSheets != null && Model.AssemblyCountSheet.AssemblyCountSheets.Count > 0)
														{
															@foreach (var countSheet in Model.AssemblyCountSheet.AssemblyCountSheets)
															{
																<tr style="@(countSheet.ActualCount == countSheet.RequiredCount ? "" : "background-color:red")">
																	<td>@countSheet.VendorName</td>
																	<td>@countSheet.ModelNumber</td>
																	<td>@countSheet.SetName</td>
																	<td>@countSheet.Description</td>
																	<td>@countSheet.ActualCount/@countSheet.RequiredCount</td>
																</tr>
															} }
														else
														{
															<tr>
																<td>No Data</td>
																<td></td>
																<td></td>
																<td></td>
																<td></td>
															</tr>
														}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								}
                                <div>
								<!-- Indicators -->
								<ol class="carousel-indicators"style="position:relative; top:10px;">


									<li data-target="#carousel-photo-and-countsheet" data-slide-to="0" class="active"></li>

									@if (Model.ShowCountSheet)
									{
										<li data-target="#carousel-photo-and-countsheet" data-slide-to="1"></li>
									}

								</ol>
								</div>

							</div>

							<!-- Controls -->
							<a class="left carousel-control" href="#carousel-photo-and-countsheet" role="button" data-slide="prev"style="background:none">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#carousel-photo-and-countsheet" role="button" data-slide="next"style="background:none">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>

				<!-- Modal Caption (Image Text) -->
				<div id="caption"></div>
			</div>

			  </div>
		</div>

	<script>
		$(document).ready(function () {
			//$("#carousel-photo-and-countsheet-inner").find('.item').first().addClass('active');
		});
	</script>