﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.TrayHistoryVerificationQualityFeedContainer
@using ProfitOptics.Modules.Sox.Helpers;
<div>
    <div class="row">
        <div class="col-md-6 text-center">
            <i class="fa fa-fw fa-bolt" aria-hidden="true"></i>@Model.Result.ReportType
        </div>
        <div class="col-md-6 text-center">
            <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>@Model.Result.UpdatedDateUtc.GetLocalDateTime().ToString()
        </div>
        <div class="col-md-6 text-center">
            <i class="fa fa-fw fa-user" aria-hidden="true"></i>@Model.Result.ResponsibleParty
        </div>
        <div class="col-md-6 text-center">
            <i class="fa fa-fw fa-medkit" aria-hidden="true"></i>@Model.Result.AssetName
        </div>
    </div>
    <p>Images:</p>
    <div class="row">
        @if (Model.Result.ImagesData != null && Model.Result.ImagesData.Count > 0)
        {
            @foreach (var imageData in Model.Result.ImagesData)
            {
                <div class="col-md-6 text-center"><img onclick="enlargeImg(this)" style="height:200px !important" src="@imageData" alt="..." class="img-thumbnail"></div>
            }
        }
        else
        {
            <text><div class="col-md-12"><p class="text-muted">No images</p></div></text>
        }
    </div>
</div>