﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.TrayHistorySterilizeBIContainer

    <div>
        <p>Load Number: <span style="font-weight:400">@Model.Result.LoadNumber</span></p>
        <p>Result: <span style="font-weight:400">@Model.Result.Result</span></p>
        <p>Tray Actual: <span style="font-weight:400">@Model.Result.CTContainerTypeActualName</span></p>
        <p>Indicators:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Indicator</th>
                    <th>Result</th>
                    <th>Product</th>
                    <th>Lot Number</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Result.Indicators != null && Model.Result.Indicators.Count > 0)
                {
                    @foreach (var indicator in Model.Result.Indicators)
                    {
                        <tr>
                            <td>@indicator.Name</td>
                            <td>@indicator.Result</td>
                            <td>@indicator.Product</td>
                            <td>@indicator.LotNumber</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4"><i>-No data-</i></td>
                    </tr>
                }
            </tbody>
        </table>
        <p>Images:</p>
        <div class="row">
            @if (Model.Result.ImagesData != null && Model.Result.ImagesData.Count > 0)
            {
                @foreach (var imageData in Model.Result.ImagesData)
                {
                    <div class="col-md-6 text-center"><img onclick="enlargeImg(this)" style="height:200px !important" src="@imageData" alt="..." class="img-thumbnail"></div>
                }
            }
            else
            {
                <text><div class="col-md-12"><p class="text-muted">No images</p></div></text>
            }
        </div>
    </div>