﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.ProposedTrayLCHistoryModel
<!-- Modal -->
<div class="modal" id="proposedTrayLCHistoryDialog" tabindex="-1" role="dialog" style="z-index:10000;" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <form id="frmProposedTrayLCHistory" method="post" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@Model.ActualName - @Model.GCLifeCycleName</h4>
                    <h5><i class="fa fa-fw fa-calendar"></i> @Model.DueTimestamp.ToString()</h5>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" class="form-control" asp-for="@Model.GCTrayId" />
                        <input type="hidden" class="form-control" asp-for="@Model.GCLifeCycleId" />
                        <input type="hidden" class="form-control" asp-for="@Model.GCTrayLifeCycleId" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                History Item
                            </label>
                            <div class="col-md-8">
                                <select data-val="true" data-val-required="Item must be selected." class="select2-history-items form-control historyItemsList" asp-for="@Model.SelectedHI" style="width: 100%">
                                    @foreach (var hi in Model.HistoryItemSelectList)
                                    {
                                        <option value="@hi.Value">@hi.Text</option>
                                    }
                                </select>
                                <span asp-validation-for="@Model.SelectedHI" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="updateGCTrayLifecycleClose()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btnUpdateGCTrayLifecycle" disabled onclick="updateGCTrayLifecycle()" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
