﻿@{
	ViewBag.Title = "Scanning";
}
<style>
	#cameraBox {
		height: 40vh;
	}

	#camera.viewport {
		position: relative;
		height: 40vh;
		/*width:90vw;*/
	}

		#camera.viewport > canvas, #camera.viewport > video {
			max-width: 100%;
			/*			width: 100%;*/
		}

	canvas.drawing, canvas.drawingBuffer {
		/*position: absolute;
		left: 0;
		top: 0;*/
	}
</style>
@*<h1>Scanning</h1>*@

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Tray Lookup</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary" id="cameraBox">
							@*<div class="box-header">
					<h3 class="box-title">Camera</h3>
				</div>*@
							<div id="camera" class="viewport"></div>

						</div>
					</div>
					@*<input type="hidden" id="generalInformation" value="@ViewBag.GeneralInforamtion" />*@
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header">
								<h3 class="box-title">Code</h3>
							</div>
							<div class="box-body">
								<input id="code" class="form-control" placeholder="Barcode Number" />
								<div id="barcodeWarning"></div>
							</div>

							<div class="box-footer text-right">
								<input type="button" class="btn btn-default btn-outline pull-left" value="Go to" onClick="goToTray()">
								@*<input type="button" class="btn btn-primary" value="Take Snapshot" onClick="take_snapshot()">*@
								<div class="clear-fix"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				@*<button type="button" class="btn btn-primary">Save changes</button>*@
			</div>
		</div>
	</div>
</div>

<script>
	//init camera on modal open
	$(document).on('shown.bs.modal', '#searchModal', function () {
		InitBarcodeScanner(); //this is method from ScanningSearchModal.js
	})
	//turn off camera when closing modal
	$(document).on('hidden.bs.modal', '#searchModal', function () {
		Quagga.stop(); //this is method from ScanningSearchModal.js/Quagga.js
	})
</script>

