﻿

<div id="ShowResultModal" class="modal fade in" role="dialog">
	<div class="modal-dialog" style="width:850px">
		<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12" style="overflow-y:scroll; max-height:450px">
							<div class="form-group" id="messageDiv">
							</div>
						</div>
					</div>

				</div>
				<div class="clearfix"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" onclick="document.location.reload(true)" data-dismiss="modal">Ok</button>
				</div>
		</div>
	</div>
</div>



