﻿@using ProfitOptics.Framework.Core.Settings
@using ProfitOptics.Modules.Sox.Helpers;
@using ProfitOptics.Modules.Sox.Models.ViewModels
@inject Common Settings
@model ProfitOptics.Modules.Sox.Models.ViewModels.TrayHistoryModel
<style>
	.control-sidebar.control-sidebar-dark.control-sidebar-open .panel-body {
		color: black;
	}

		.control-sidebar.control-sidebar-dark.control-sidebar-open .panel-body h4 {
			border-bottom: 1px dotted #ccc;
			margin-top: 20px;
		}
</style>

<style>
	/* Style the Image Used to Trigger the Modal */
	#myImg {
		border-radius: 5px;
		cursor: pointer;
		transition: 0.3s;
	}

		#myImg:hover {
			opacity: 0.7;
		}

	/* The Modal (background) */
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	}

	/* Modal Content (Image) */
	.modal-content {
		margin: auto;
		display: block;
		width: 80%;
		max-width: 700px;
	}

	/* Caption of Modal Image (Image Text) - Same Width as the Image */
	#caption {
		margin: auto;
		display: block;
		width: 80%;
		max-width: 700px;
		text-align: center;
		color: #ccc;
		padding: 10px 0;
		height: 150px;
	}

	/* Add Animation - Zoom in the Modal */
	.modal-content, #caption {
		animation-name: zoom;
		animation-duration: 0.6s;
	}

	@@keyframes zoom {
		from {
			transform: scale(0)
		}

		to {
			transform: scale(1)
		}
	}

	/* The Close Button */
	.close {
		position: absolute;
		top: 15px;
		right: 35px;
		color: #f1f1f1;
		font-size: 40px;
		font-weight: bold;
		transition: 0.3s;
	}

		.close:hover,
		.close:focus {
			color: #bbb;
			text-decoration: none;
			cursor: pointer;
		}

	/* 100% Image Width on Smaller Screens */
	@@media only screen and (max-width: 700px) {
		.modal-content {
			width: 100%;
		}
	}
</style>

<aside class="control-sidebar control-sidebar-dark">
	<div class="xPosition" style="">
		<a href="#" onclick="HideSideBar()" @*data-toggle="control-sidebar"*@>
			<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="white" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
				<path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
			</svg>
		</a>
	</div>
	<!-- Create the tabs -->
	<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
		<li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab">Tray Information</a></li>
		<li><a href="#control-sidebar-settings-tab" data-toggle="tab">History</a></li>
	</ul>

	<!-- The Modal for expans images -->
	<div id="imgModal" class="modal">

		<!-- The Close Button -->
		<span id="closeBtn" class="close">&times;</span>

		<!-- Modal Content (The Image) -->
		<img class="modal-content" id="imgPlaceholder">

		<!-- Modal Caption (Image Text) -->
		<div id="caption"></div>
	</div>

	<!-- Tab panes -->
	<div class="tab-content">
		<!-- Home tab content -->
		<div class="tab-pane active" id="control-sidebar-home-tab"style="overflow-y: auto;overflow-x: hidden; height:780px;">
			<h4 style="color:white;margin-top:30px">Reference Information</h4>
			<div class="row tray-image-container">
				@if (Model.TrayImages.Count > 0)
				{
					@foreach (var trayImage in Model.TrayImages)
					{
						<div class="col-md-4 text-center tray-image-item">
							@*<h5>@trayImage.Title</h5>*@
							<img onclick="enlargeImg(this)" src="@trayImage.ImageDataUrl" alt="@trayImage.Title" class="img-thumbnail" id="@trayImage.Id">
							@*<div class="tray-image-subtext-container">
									@if (trayImage.IsAssembly)
									{
										<span class="tray-image-subtext">Assembly</span>
									}
									@if (trayImage.IsDecontam)
									{
										<span class="tray-image-subtext">Decontam</span>
									}
									@if (trayImage.IsSterilization)
									{
										<span class="tray-image-subtext">Sterilization</span>
									}
								</div>*@
						</div>

					}
				}
				else
				{
					<div class="col-md-6">
						<text>No Images Available</text>
					</div>
				}



			</div>
			@if (@Model.TrayAssemblyPhotos != null && @Model.TrayAssemblyPhotos.AssemblyPhotos != null && @Model.TrayAssemblyPhotos.StatusTimestamp != null && Model.TrayAssemblyPhotos.AssemblyPhotos.Pictures != null)
			{
				<h4 style="color:white;margin-top:30px">Most Recent Assembly Photos - @Model.TrayAssemblyPhotos.StatusTimestamp.GetLocalDateTime().ToString()</h4>
				<div class="row tray-image-container">
					@if (Model.TrayAssemblyPhotos.AssemblyPhotos.Pictures.Count > 0)
					{
						@foreach (var assemblyImage in Model.TrayAssemblyPhotos.AssemblyPhotos.Pictures)
						{
							<div class="col-md-4 text-center tray-image-item">
								<img onclick="enlargeImg(this)" src="@assemblyImage.Data" id="@assemblyImage.ImageId" alt="" class="img-thumbnail">

							</div>
						}
					}

				</div>
			}
			@if (@Model.TrayAssemblyParts != null && @Model.TrayAssemblyParts.TrayParts != null && @Model.TrayAssemblyParts.TrayParts.Count > 0 && @Model.TrayAssemblyParts.StatusTimestamp != null)
			{
				<h4 style="color:white;margin-top:30px">Most Recent Part Inventory - @Model.TrayAssemblyParts.StatusTimestamp.GetLocalDateTime().ToString()</h4>
			}
			else
			{
				<h4 style="color:white;margin-top:30px">Most Recent Part Inventory </h4>
			}

			<div class="row">

				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-hover dataTable no-footer assemblyCountSheetsTable">
							<thead>
								<tr>
									<th>Vendor Name</th>
									<th>Model Number</th>
									<th>Set Name</th>
									<th>Description</th>
									<th>BOM Count</th>
								</tr>
							</thead>
							<tbody>
								@if (Model.TrayAssemblyParts.TrayParts != null && Model.TrayAssemblyParts.TrayParts.Count > 0)
								{
									@foreach (var trayPart in Model.TrayAssemblyParts.TrayParts)
									{
										<tr style="@(trayPart.ActualCount == trayPart.RequiredCount ? "" : "background-color:darkred")">
											<td>@trayPart.Vendor</td>
											<td>@trayPart.ModelNumber</td>
											<td>@trayPart.SetName</td>
											<td>@trayPart.Description</td>
											<td>@trayPart.ActualCount/@trayPart.RequiredCount</td>
										</tr>
									}
								}
								else
								{
							<tr>
								<td>No Data</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>

            <div class="clearfix"></div>
		</div>
		<!-- /.tab-pane -->
		<!-- Settings tab content -->
		<div class="tab-pane" id="control-sidebar-settings-tab">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				@if (Model.Cases != null && Model.Cases.Count > 0)
				{
					@foreach (var singleCase in Model.Cases)
					{
						{await Html.RenderPartialAsync("_TrayHistoryForSingleCasePV.cshtml", singleCase);}
					}
				}
				@if (Model.TrayPreviousHistory != null && Model.TrayPreviousHistory.Count > 0)
				{

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne-internalProcesses">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-internalProcesses" aria-expanded="true" aria-controls="collapseOne">
									Tray Induction
								</a>
								<span class="pull-right">Lap: 0</span>
							</h4>
						</div>
						<div id="collapseOne-internalProcesses" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-internalProcesses">
							<div class="panel-body">
								@foreach (var lifecycleStatus in Model.TrayPreviousHistory)
								{
											if (lifecycleStatus.ShowTimestamp)
											{
												<div class="callout callout-info" id="@lifecycleStatus.Id">@lifecycleStatus.LifecycleTitle - @lifecycleStatus.Timestamp.GetLocalDateTime().ToString() - @lifecycleStatus.User</div>
											}
											else
											{
												<div class="callout callout-info" id="@lifecycleStatus.Id">@lifecycleStatus.LifecycleTitle - No Update Received</div>
											}
											@if (lifecycleStatus.ShowPods)
											{
												@if (lifecycleStatus.PodContainer.ShowVehicleAndDriver)
												{
													<div class="row" style="margin-bottom:10px;">
														<div class="col-md-6 text-center">
															<div class="text-muted">Vehicle</div>
															<img src="~/img/icon-car.svg" width="40" />
															<div style="text-transform:uppercase">@lifecycleStatus.PodContainer.Vehicle</div>
														</div>
														<div class="col-md-6 text-center">
															<div class="text-muted">Driver</div>
															<img src="~/img/icon-driver.svg" width="40" />
															<div style="text-transform:uppercase">@lifecycleStatus.PodContainer.Driver</div>
														</div>
													</div>


												}

												@if (lifecycleStatus.PodContainer.ShowNote)
												{

													<p>Note: <span style="font-weight:400">@lifecycleStatus.PodContainer.Note</span></p>

												}
												@if (lifecycleStatus.PodContainer.ShowAdditionalNote)
												{

													<p>Was foamed: <span style="font-weight:400">@lifecycleStatus.PodContainer.AdditionalNote</span></p>

												}

												@if (lifecycleStatus.PodContainer.ShowBarcodes)
												{
													<div class="barcodes-holder">
														<img src="~/img/icon-barcode.svg" width="30" />
														<span class="text-muted">Barcode:</span>
														@foreach (var barcode in lifecycleStatus.PodContainer.Barcodes)
														{
															<span>@barcode.Barcode <span>@barcode.Status   </span></span>
														}
													</div>
												}

												@if (lifecycleStatus.PodContainer.ShowSignature)
												{
													<div class="row">
														<div class="col-md-12 text-center"><img onclick="enlargeImg(this)" style="height:200px !important" src="@lifecycleStatus.PodContainer.Signature.Data" id="@lifecycleStatus.PodContainer.Signature.ImageId" alt="..." class="img-thumbnail"></div>
													</div>
												}
												@if (lifecycleStatus.PodContainer.ShowPictures)
												{
													<div class="row">
														@foreach (var picture in lifecycleStatus.PodContainer.Pictures)
														{
															<div class="col-md-6 text-center"><img onclick="enlargeImg(this)" style="height:200px !important; margin:10px;" src="@picture.Data" id="@picture.ImageId" alt="..." class="img-thumbnail"></div>
														}

													</div>
												}
												@if (lifecycleStatus.ShowCountSheets)
												{
													<h5 style="margin-top:30px">Count Sheets</h5>
													<div class="row">

														<div class="col-md-12">
															<div class="table-responsive">
																<table class="table table-hover dataTable no-footer assemblyCountSheetsTable">
																	<thead>
																		<tr>
																			<th>Vendor Name</th>
																			<th>Model Number</th>
																			<th>Set Name</th>
																			<th>Description</th>
																			<th>Count</th>
																		</tr>
																	</thead>
																	<tbody>
																		@if (lifecycleStatus.AssemblyCountSheet != null && lifecycleStatus.AssemblyCountSheet.AssemblyCountSheets != null && lifecycleStatus.AssemblyCountSheet.AssemblyCountSheets.Count > 0)
																		{
																			@foreach (var countSheet in lifecycleStatus.AssemblyCountSheet.AssemblyCountSheets)
																			{
																				<tr  style="@(countSheet.ActualCount == countSheet.RequiredCount ? "" : "background-color:red")">
																					<td>@countSheet.VendorName</td>
																					<td>@countSheet.ModelNumber</td>
																					<td>@countSheet.SetName</td>
																					<td>@countSheet.Description</td>
																					<td>@countSheet.ActualCount/@countSheet.RequiredCount</td>
																				</tr>
																			} }
																		else
																		{
																	<tr>
																		<td>No Data</td>
																		<td></td>
																		<td></td>
																		<td></td>
																		<td></td>
																	</tr>
																		}
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												}


											}

										
								}

								@*<h4 class="panel-h4header">@Model.AdditionalNote</h4>*@
							</div>
						</div>
					</div>

				}


			</div>
		</div>
		<!-- /.tab-pane -->
	</div>
</aside>

<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
	 immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
<input type="hidden" id="GetGCImageByIdUrl" value="@Url.Action("GetGCImageById","Sox")" />
<script>
	$(document).ready(function () {
		$('.assemblyCountSheetsTable').DataTable();
	});


    //function enlargeSignatureImg(img) {
    //    // Get the modal
    //    var modal = document.getElementById("imgModal");

    //    // Get the image and insert it inside the modal - use its "alt" text as a caption
    //    //var img = document.getElementById(imgId);

    //    var modalImg = document.getElementById("imgPlaceholder");
    //    var captionText = document.getElementById("caption");
    //    //      img.onclick = function () {
    //    //          modal.style.display = "block";
    //    //          modalImg.src = this.src;
    //    //          captionText.innerHTML = this.alt;
    //    //}

    //    modal.style.display = "block";
    //    modalImg.src = img.src;
    //    captionText.innerHTML = img.alt;

    //    // Get the <span> element that closes the modal
    //    //var span = document.getElementsByClassName("close")[0];

    //    var span = document.getElementById("closeBtn");
    //    // When the user clicks on <span> (x), close the modal
    //    span.onclick = function () {
    //        modal.style.display = "none";
    //    }

    //    modal.onclick = function () {
    //        modal.style.display = "none";
    //    }
    //}

	$('#image1').hover(function () {
		$(this).css('cursor', 'pointer');
	});
	$('#image2').hover(function () {
		$(this).css('cursor', 'pointer');
	});
	$('#image3').hover(function () {
		$(this).css('cursor', 'pointer');
	});
	$('#image4').hover(function () {
		$(this).css('cursor', 'pointer');
	});

</script>

