﻿<div id="slideout">
	<div id="slidecontent">
		<a href="tel:+1 888-398-0062" class="btn btn-link"><i class="fa fa-fw fa-phone"></i></a>
		<button class="btn btn-link" data-toggle="modal" data-target="#searchModal"><i class="fa fa-fw fa-search"></i></button>
		<button class="btn btn-link" data-toggle="modal" data-target="#mapModal"><i class="fa fa-fw fa-map-o"></i></button>
	</div>
	<div id="clickme">
		<i class="fa fa-fw fa-exchange"></i>
	</div>
</div>
<!-- searchModal -->
@{ await Html.RenderPartialAsync("_ScanningSearchModalPV.cshtml"); }
<!-- mapModal -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				<div id="mapDiv" width="100%" height="100%" style="border:0;min-height:300px"></div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		ShowMapWithMarkers("mapDiv");
	});
</script>
