﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.TraysModel
<div class="table-responsive">
    <table style="width:100%" class="table tableUsers table-hover col-md-3" id="traysForCaseTable">
        <thead>
            <tr>
                <th>Case Reference</th>
                <th>Name</th>
                <th>Timestamp</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tray in Model.Trays)
            {
                <tr style="width: 50%">
                    <td>@tray.CaseReference</td>
                    <td>@tray.Name</td>
                    <td>@tray.DueTimestamp</td>
                    @if (tray.WasInPickupStatus)
                    {
                        <td style="background-color:palegreen">Processed</td>
                    }
                    else
                    {
                        <td style="background-color:lightsalmon">Not Processed</td>
                    }
                    @*<td>@tray.LifecycleStatus</td>*@
                    @*<td>@tray.CaseContainerStatus</td>*@
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="overlay table-overlay" style="display: none;" hidden=""><i class="fa fa-refresh fa-spin"></i></div>
<!-- /.box-body -->
