﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.TrayHistoryCase
@using ProfitOptics.Modules.Sox.Helpers;
@using  ProfitOptics.Modules.Sox.Models.ViewModels;
<div class="panel panel-default">
    <div style="background-color:@(Model.IsCanceled ? "#A9A9A9" : "white")" class="panel-heading" role="tab" id="headingOne-@Model.CaseId">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-@Model.CaseId" aria-expanded="true" aria-controls="collapseOne">
                @Model.DueDate.ToString() - @Model.CustomerName - @Model.CaseReference 	<!-- Model.DueDate.ToString() doesnt need offset push -->
            </a>
            <span class="pull-right">
                Lap:
                @if (Model.LapCount.HasValue)
                {
                    @if (Model.LapCount.Value == -1)
                    {
                        <i class="fa fa-exclamation-triangle"></i>
                    }
                    else
                    {
                        <text>@Model.LapCount.Value</text>
                    }
                }
                else
                {
                    <text>-</text>
                }
            </span>
        </h4>
    </div>

    <div id="collapseOne-@Model.CaseId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-@Model.CaseId">
        <div class="panel-body">
            @if (Model.PreviousLifecycles != null && Model.PreviousLifecycles.Count > 0)
            {
                @foreach (var lifecycleStatus in Model.PreviousLifecycles)
                {
                    if (lifecycleStatus.ShowTimestamp)
                    {
                        <div class="callout callout-info" id="@lifecycleStatus.Id">@lifecycleStatus.LifecycleTitle - @lifecycleStatus.Timestamp.GetLocalDateTime().ToString() - @lifecycleStatus.User</div>
                    }
                    else
                    {
                        <div class="callout callout-info" id="@lifecycleStatus.Id">
                            @lifecycleStatus.LifecycleTitle - No Update Received
                        </div>
                    }
                    @if (lifecycleStatus.ShowPods)
                    {
                        @if (lifecycleStatus.PodContainer.ShowVehicleAndDriver)
                        {
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-6 text-center">
                                    <div class="text-muted">Vehicle</div>
                                    <img src="~/img/icon-car.svg" width="40" />
                                    <div style="text-transform:uppercase">@lifecycleStatus.PodContainer.Vehicle</div>
                                </div>
                                <div class="col-md-6 text-center">
                                    <div class="text-muted">Driver</div>
                                    <img src="~/img/icon-driver.svg" width="40" />
                                    <div style="text-transform:uppercase">@lifecycleStatus.PodContainer.Driver</div>
                                </div>
                            </div>


                        }

                        @if (lifecycleStatus.PodContainer.ShowNote)
                        {

                            <p>Note: <span style="font-weight:400">@lifecycleStatus.PodContainer.Note</span></p>

                        }
                        @if (lifecycleStatus.PodContainer.ShowAdditionalNote)
                        {

                            <p>Was foamed: <span style="font-weight:400">@lifecycleStatus.PodContainer.AdditionalNote</span></p>

                        }

                        @if (lifecycleStatus.PodContainer.ShowBarcodes)
                        {
                            <div class="barcodes-holder">
                                <img src="~/img/icon-barcode.svg" width="30" />
                                <span class="text-muted">Barcode:</span>
                                @foreach (var barcode in lifecycleStatus.PodContainer.Barcodes)
                                {
                                    <span>@barcode.Barcode <span>@barcode.Status   </span></span>
                                }
                            </div>
                        }

                        @if (lifecycleStatus.PodContainer.ShowSignature)
                        {
                            <div class="row">
                                <div class="col-md-12 text-center"><img onclick="enlargeImg(this)" style="height:200px !important" src="@lifecycleStatus.PodContainer.Signature.Data" id="@lifecycleStatus.PodContainer.Signature.ImageId" alt="..." class="img-thumbnail"></div>
                            </div>
                        }
                        @if (lifecycleStatus.PodContainer.ShowPictures)
                        {
                            <div class="row">
                                @foreach (var picture in lifecycleStatus.PodContainer.Pictures)
                                {
                                    <div class="col-md-6 text-center"><img onclick="enlargeImg(this)" style="height:200px !important; margin:10px;" src="@picture.Data" id="@picture.ImageId" alt="..." class="img-thumbnail"></div>
                                }

                            </div>
                        }
                        @if (lifecycleStatus.ShowCountSheets)
                        {
                            <h5 style="margin-top:30px">Count Sheets</h5>
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover dataTable no-footer assemblyCountSheetsTable">
                                            <thead>
                                                <tr>
                                                    <th>Vendor Name</th>
                                                    <th>Model Number</th>
                                                    <th>Set Name</th>
                                                    <th>Description</th>
                                                    <th>Count</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (lifecycleStatus.AssemblyCountSheet != null && lifecycleStatus.AssemblyCountSheet.AssemblyCountSheets != null && lifecycleStatus.AssemblyCountSheet.AssemblyCountSheets.Count > 0)
                                                {
                                                    @foreach (var countSheet in lifecycleStatus.AssemblyCountSheet.AssemblyCountSheets)
                                                    {
                                                        <tr style="@(countSheet.ActualCount == countSheet.RequiredCount ? "" : "background-color:red")">
                                                            <td>@countSheet.VendorName</td>
                                                            <td>@countSheet.ModelNumber</td>
                                                            <td>@countSheet.SetName</td>
                                                            <td>@countSheet.Description</td>
                                                            <td>@countSheet.ActualCount/@countSheet.RequiredCount</td>
                                                        </tr>
                                                    } }
                                                else
                                                {
                                                    <tr>
                                                        <td>No Data</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }


                    }

                }
            }

            @foreach (var lifecycleStatus in Model.TrayLifecycles)
            {
                if (lifecycleStatus.ShowTimestamp)
                {
                    <div class="callout callout-success" id="@lifecycleStatus.Id">
                        @lifecycleStatus.LifecycleTitle - @lifecycleStatus.Timestamp.GetLocalDateTime().ToString() - @lifecycleStatus.User
                        @if (User.IsInRole("superadmin"))
                        {
                            if (lifecycleStatus.IsCTOrigin)
                            {
                                <a style="cursor: pointer;margin-left: 7px" class="pull-right" onclick="showDeleteGCTrayLifecycleDialog(@lifecycleStatus.Id)"><i class="fa fa-minus-square"></i></a>
                                <a style="cursor:pointer" class="pull-right" onclick="getProposedHistoryItemsForTrayLC(@Model.GCTrayId, @lifecycleStatus.LifecycleStatusId, @lifecycleStatus.Id)"><i class="fa fa-pencil-square"></i></a>
                            }
                        }
                    </div>
                }
                else
                {
                    <div class="callout callout-gray" id="@lifecycleStatus.Id">
                        @lifecycleStatus.LifecycleTitle  - No Update Received
                        @if (User.IsInRole("superadmin"))
                        {
                            if (lifecycleStatus.IsCTOrigin)
                            {
                                <a style="cursor:pointer" class="pull-right" onclick="getProposedHistoryItemsForTrayLC(@Model.GCTrayId, @lifecycleStatus.LifecycleStatusId, 0)"><i class="fa fa-plus-square"></i></a>
                            }
                        }
                    </div>
                }
                @if (lifecycleStatus.ShowVerificationQualityFeed)
                {
                    <partial name="_LifecycleVerificationQualityFeed.cshtml" model="new TrayHistoryVerificationQualityFeedContainer { Result = lifecycleStatus.VerificationQualityFeed }" />
                }
                @if (lifecycleStatus.ShowSterilizeBI)
                {
                    <partial name="_LifecycleBI.cshtml" model="new TrayHistorySterilizeBIContainer { Result = lifecycleStatus.SterilizeBIResult }" />
                }
                @if (lifecycleStatus.ShowPods)
                {
                    @if (lifecycleStatus.PodContainer.ShowVehicleAndDriver)
                    {

                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-md-6 text-center">
                                <div class="text-muted">Vehicle</div>
                                <img src="~/img/icon-car.svg" width="40" />
                                <div style="text-transform:uppercase">@lifecycleStatus.PodContainer.Vehicle</div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="text-muted">Driver</div>
                                <img src="~/img/icon-driver.svg" width="40" />
                                <div style="text-transform:uppercase">@lifecycleStatus.PodContainer.Driver</div>
                            </div>
                        </div>
                    }

                    @if (lifecycleStatus.PodContainer.ShowNote)
                    {

                        <p>Note: <span style="font-weight:400">@lifecycleStatus.PodContainer.Note</span></p>

                    }
                    @if (lifecycleStatus.PodContainer.ShowAdditionalNote)
                    {

                        <p>Was foamed: <span style="font-weight:400">@lifecycleStatus.PodContainer.AdditionalNote</span></p>

                    }
                    @if (lifecycleStatus.PodContainer.ShowBarcodes)
                    {
                        <div class="barcodes-holder">
                            <img src="~/img/icon-barcode.svg" width="30" />
                            <span class="text-muted">Barcode:</span>
                            @foreach (var barcode in lifecycleStatus.PodContainer.Barcodes)
                            {
                                <span>@barcode.Barcode <span>@barcode.Status   </span></span>
                            }
                        </div>
                    }
                    @if (lifecycleStatus.PodContainer.ShowSignature)
                    {
                        <div class="row">
                            <div class="col-md-12 text-center"><img onclick="enlargeImg(this)" style="height:200px !important" src="@lifecycleStatus.PodContainer.Signature.Data" id="@lifecycleStatus.PodContainer.Signature.ImageId" alt="..." class="img-thumbnail"></div>
                        </div>
                    }
                    @if (lifecycleStatus.PodContainer.ShowPictures)
                    {
                        <div class="row">
                            @foreach (var picture in lifecycleStatus.PodContainer.Pictures)
                            {
                                <div class="col-md-6 text-center"><img onclick="enlargeImg(this)" style="height:200px !important; margin:10px;" src="@picture.Data" id="@picture.ImageId" alt="..." class="img-thumbnail"></div>
                            }

                        </div>
                    }
                    @if (lifecycleStatus.ShowCountSheets)
                    {
                        <h5 style="margin-top:30px">Count Sheets</h5>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover dataTable no-footer assemblyCountSheetsTable">
                                        <thead>
                                            <tr>
                                                <th>Vendor Name</th>
                                                <th>Model Number</th>
                                                <th>Set Name</th>
                                                <th>Description</th>
                                                <th>Count</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (lifecycleStatus.AssemblyCountSheet != null && lifecycleStatus.AssemblyCountSheet.AssemblyCountSheets != null && lifecycleStatus.AssemblyCountSheet.AssemblyCountSheets.Count > 0)
                                            {
                                                @foreach (var countSheet in lifecycleStatus.AssemblyCountSheet.AssemblyCountSheets)
                                                {
                                                    <tr style="@(countSheet.ActualCount == countSheet.RequiredCount ? "" : "background-color:red")">
                                                        <td>@countSheet.VendorName</td>
                                                        <td>@countSheet.ModelNumber</td>
                                                        <td>@countSheet.SetName</td>
                                                        <td>@countSheet.Description</td>
                                                        <td>@countSheet.ActualCount/@countSheet.RequiredCount</td>
                                                    </tr>
                                                } }
                                            else
                                            {
                                                <tr>
                                                    <td>No Data</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>