﻿@using ProfitOptics.Framework.Core.Settings
@using ProfitOptics.Modules.Sox.Helpers;
@using ProfitOptics.Modules.Sox.Models.ViewModels
@inject Common Settings
@model ProfitOptics.Modules.Sox.Models.ViewModels.TrayHistoryModel
<div class="collapse" id="collapsInfo-@Model.CTContainerTypeActualId">
	<div class="well">

		<div class="panel-body">
			@if (Model.VendorHistoryLifecycles != null && Model.VendorHistoryLifecycles.Count > 0)
			{
				@foreach (var lifecycleStatus in Model.VendorHistoryLifecycles)
				{
					if (lifecycleStatus.ShowTimestamp)
					{
						<div class="callout callout-info" id="@lifecycleStatus.Id">@lifecycleStatus.LifecycleTitle - @lifecycleStatus.Timestamp.GetLocalDateTime().ToString() - @lifecycleStatus.User</div>
					}
					else
					{
						<div class="callout callout-info" id="@lifecycleStatus.Id">@lifecycleStatus.LifecycleTitle - No Update Received</div>
					}
					@if (lifecycleStatus.ShowPods)
					{
						@if (lifecycleStatus.PodContainer.ShowVehicleAndDriver)
						{
							<div class="row" style="margin-bottom:10px;">
								<div class="col-md-6 text-center">
									<div class="text-muted">Vehicle</div>
									<img src="~/img/icon-car.svg" width="40" />
									<div style="text-transform:uppercase">@lifecycleStatus.PodContainer.Vehicle</div>
								</div>
								<div class="col-md-6 text-center">
									<div class="text-muted">Driver</div>
									<img src="~/img/icon-driver.svg" width="40" />
									<div style="text-transform:uppercase">@lifecycleStatus.PodContainer.Driver</div>
								</div>
							</div>


						}

						@if (lifecycleStatus.PodContainer.ShowNote)
						{

							<p>Note: <span style="font-weight:400">@lifecycleStatus.PodContainer.Note</span></p>

						}
						@if (lifecycleStatus.PodContainer.ShowAdditionalNote)
						{

							<p>Was foamed: <span style="font-weight:400">@lifecycleStatus.PodContainer.AdditionalNote</span></p>

						}

						@if (lifecycleStatus.PodContainer.ShowBarcodes)
						{
							<div class="barcodes-holder">
								<img src="~/img/icon-barcode.svg" width="30" />
								<span class="text-muted">Barcode:</span>
								@foreach (var barcode in lifecycleStatus.PodContainer.Barcodes)
								{
									<span>@barcode.Barcode <span>@barcode.Status   </span></span>
								}
							</div>
						}

						@if (lifecycleStatus.PodContainer.ShowSignature)
						{
							<div class="row">
								<div class="col-md-12 text-center"><img onclick="enlargeImg(this)" style="height:200px !important" src="@lifecycleStatus.PodContainer.Signature.Data" id="@lifecycleStatus.PodContainer.Signature.ImageId" alt="..." class="img-thumbnail"></div>
							</div>
						}
						@if (lifecycleStatus.PodContainer.ShowPictures)
						{
							<div class="row">
								@foreach (var picture in lifecycleStatus.PodContainer.Pictures)
								{
									<div class="col-md-6 text-center"><img onclick="enlargeImg(this)" style="height:200px !important; margin:10px;" src="@picture.Data" id="@picture.ImageId" alt="..." class="img-thumbnail"></div>
								}

							</div>
						}
						@if (lifecycleStatus.ShowCountSheets)
						{
							<h5 style="margin-top:30px">Count Sheets</h5>
							<div class="row">

								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table table-hover dataTable no-footer assemblyCountSheetsTable">
											<thead>
												<tr>
													<th>Vendor Name</th>
													<th>Model Number</th>
													<th>Set Name</th>
													<th>Description</th>
													<th>Count</th>
												</tr>
											</thead>
											<tbody>
												@if (lifecycleStatus.AssemblyCountSheet != null && lifecycleStatus.AssemblyCountSheet.AssemblyCountSheets != null && lifecycleStatus.AssemblyCountSheet.AssemblyCountSheets.Count > 0)
												{
													@foreach (var countSheet in lifecycleStatus.AssemblyCountSheet.AssemblyCountSheets)
													{
														<tr style="@(countSheet.ActualCount == countSheet.RequiredCount ? "" : "background-color:red")">
															<td>@countSheet.VendorName</td>
															<td>@countSheet.ModelNumber</td>
															<td>@countSheet.SetName</td>
															<td>@countSheet.Description</td>
															<td>@countSheet.ActualCount/@countSheet.RequiredCount</td>
														</tr>
													} }
												else
												{
													<tr>
														<td>No Data</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						}


					}


				}
			}


			@*<h4 class="panel-h4header">@Model.AdditionalNote</h4>*@
		</div>


	</div>
</div>
<input type="hidden" id="GetGCImageByIdUrl" value="@Url.Action("GetGCImageById","Sox")" />
<script>
	$(document).ready(function () {
		//$("#carousel-inner").find('.item').first().addClass('active');
		$(".dataTable").DataTable();
	});
</script>