﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.UpdateVendorModel
<!-- Modal -->
<div class="modal" @*id="editModal-@Model.Vendor.Id"*@ id="EditVendorDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">

            <form asp-action="UpdateVendor" asp-controller="Users" method="post" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @*<input type="hidden" class="form-control" asp-for="@Model.Vendor.FacilityCode" />
                            <input type="hidden" class="form-control" asp-for="@Model.Vendor.FacilityId" />*@
                        <input type="hidden" class="form-control" asp-for="@Model.Vendor.Id" />
                        <input type="hidden" class="form-control" asp-for="@Model.Vendor.QBVendorId" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Title
                            </label>
                            <div class="col-md-10">
                                <input type="text" asp-for="@Model.Vendor.Title" class="form-control" />
                                <span asp-validation-for="@Model.Vendor.Title" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Abbreviation
                            </label>
                            <div class="col-md-10">
                                <input type="text" asp-for="@Model.Vendor.Abbreviation" class="form-control" />
                                <span asp-validation-for="@Model.Vendor.Abbreviation" class="text-danger"></span>
                            </div>
                        </div>

                        <div id="companies" class="form-group">
                            <label class="control-label col-md-2">
                                Company
                            </label>
                            <div class="col-md-8">
                                <select data-val="true" data-val-required="Company must be selected." class="select2-user-parentCompanies form-control companyList" asp-for="@Model.Vendor.SelectedCompany" style="width: 100%">
                                    @foreach (var company in Model.Vendor.GCParentCompanies)
                                    {
                                        <option value="@company.Value">@company.Text</option>
                                    }
                                </select>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="updateVendorBtn" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

@*<script>
        jQuery.fn.preventDoubleSubmission = function () {

            var last_clicked, time_since_clicked;

            $(this).bind('submit', function (event) {

                if (last_clicked)
                    time_since_clicked = event.timeStamp - last_clicked;

                last_clicked = event.timeStamp;

                if (time_since_clicked < 2000)
                    return false;

                return true;
            });
        };

        $('#updateVendorBtn').preventDoubleSubmission();
    </script>*@