﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.CasePlanningModel

@{
    ViewBag.Title = "Case Planning";
}

<style>
    .eventsRow {
        width: 100%;
        height: auto;
        position: relative !important;
        left: 0% !important;
        margin-right: 0% !important;
    }

    .fc-content:hover {
        cursor: pointer;
    }



    .tableUsers th, .tableUsers td {
        font-family: Arial, sans-serif;
        padding: 12px 10px !important
    }

    table.tableUsers {
        border-collapse: separate !important;
    }

    .tableUsers th {
        background: white;
        border-bottom-width: 1px;
    }

    thead tr th {
        border-color: white !important;
        text-align: left !important
    }

    .bootstrap-timepicker-meridian.form-control {
        padding: 0 !important;
    }
</style>

<link href='https://unpkg.com/@@fullcalendar/core@4.4.2/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@@fullcalendar/daygrid@4.4.2/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@@fullcalendar/timegrid@4.4.2/main.min.css' rel='stylesheet' />


<script src='https://unpkg.com/@@fullcalendar/core@4.4.2/main.min.js'></script>
<script src='https://unpkg.com/@@fullcalendar/interaction@4.4.2/main.min.js'></script>
<script src='https://unpkg.com/@@fullcalendar/daygrid@4.4.2/main.min.js'></script>
<script src='https://unpkg.com/@@fullcalendar/timegrid@4.4.2/main.min.js'></script>


@*<script src="/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>*@
<link href="/AdminLTE/plugins/datepicker/datepicker3.css" rel="stylesheet" />

<script src="~/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>
<section class="content-header">
    <h1>Case planning</h1>
</section>

<section class="content">
<div class="box box-primary">
    <div class="box-body">
        <form asp-action="CasePlanning" asp-controller="Sox" method="get" role="form" id="filterForm">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-1 control-label">Case Ref</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="caseReference" />
                    </div>

                    <label class="col-md-1 control-label">Vehicle</label>
                    <div class="col-md-3">
                        <select data-val="true" data-val-required="User role must be selected." class="select2-customers form-control" id="vehicleList" style="width: 100%">
                            <option disabled selected value">Select vehicle</option>
                            @foreach (var vehicle in Model.WWVehicles)
                            {
                                <option value="@vehicle.Value">@vehicle.Text</option>
                            }
                        </select>
                    </div>

                    <label class="col-md-1 control-label">Driver</label>
                    <div class="col-md-3">
                        <select data-val="true" data-val-required="User role must be selected." class="select2-customers form-control" id="driverList" style="width: 100%">
                            <option disabled selected value">Select driver</option>
                            @foreach (var driver in Model.WWDrivers)
                            {
                                <option value="@driver.Value">@driver.Text</option>
                            }
                        </select>
                    </div>

                    
                </div>
            </div>
        </form>

    </div>
    <div class="box-footer text-right">
        <button type="button" id="applyFilter" style="float:right;" class="btn btn-primary">Apply</button>
        <button type="button" class="btn btn-link" onclick="ReloadPage()">Clear</button>
    </div>
</div>

<div class="box-body">
    <div class="fc-left">
        <div class="fc-button-group mobileFixDatePickerControl">
            @*<button id="prev">prev</button><input type="text" id="datepicker" /><button id="next">next</button>*@

            <button type="button" class="fc-prev-button fc-button fc-button-primary" id="prev" aria-label="prev"><span class="fc-icon fc-icon-chevron-left"></span></button>
            <input type="text" id="datepicker" autocomplete="off" value="@DateTime.Now.ToString("MM/dd/yyyy")" />
            @*<button type="button" class="fc-myCustomButton-button fc-button fc-button-primary" id="datepicker">Date Picker</button>*@
            <button type="button" class="fc-next-button fc-button fc-button-primary" id="next" aria-label="next"><span class="fc-icon fc-icon-chevron-right"></span></button>
        </div>
        <button type="button" class="fc-today-button fc-button fc-button-primary" id="today">today</button>
        <button type="button" id="syncRoutesWithWorkWave" style="float:right;margin-bottom:10px;" class="btn btn-primary">Sync Routes With WorkWave</button>
    </div>
    <div class="row">
        <div id="casesList"></div>
    </div>
</div>

</section>
<script>
    app.activeMenus = ["menuDashboard", "menuDashboardCasePlanning"];

    $(document).ready(function () {
        $("#datepicker").change();
    });

    function ReloadPage() {
        $("#caseReference").val("");
        $("#vehicleList").val("");
        $("#driverList").val("");

        //location.reload();
        document.getElementById("filterForm").submit();
    }
</script>


