﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.CaseDetailsModel
@using ProfitOptics.Modules.Sox.Infrastructure
@using ProfitOptics.Modules.Sox.Helpers;
@{ ViewBag.Title = Model.GCCase.Title; }
<style>
    * {
        outline: none !important
    }

    .op-5 {
        opacity: .5
    }

    .well {
        background-color: white;
        padding: 0 !important
    }

    .h-30 {
        height: 30px;
        line-height: 30px;
    }

    @@media screen and (max-width:780px) {
        .mob-ver-view {
            padding-left: 35px;
            font-size: 11px;
        }

        .mb-6 {
            margin-bottom: 6px
        }

        .h-30 {
            height: auto;
            line-height: 16px;
        }
    }

    .panel-active .panel-heading {
        background: #4ec3fd;
        color: white;
    }
</style>
<style>
    .tableUsers th, .tableUsers td {
        font-family: Arial, sans-serif;
        padding: 12px 10px !important
    }

    table.tableUsers {
        border-collapse: separate !important;
    }

    .tableUsers th {
        background: white;
        border-bottom-width: 1px;
    }

    thead tr th {
        border-color: white !important;
        text-align: left !important
    }

    .bootstrap-timepicker-meridian.form-control {
        padding: 0 !important;
    }

    .tray-inactive {
        background-color: #f5f5f5 !important;
    }
</style>
<style>
    .popover {
        width: 600px;
    }

    .popover-content {
        padding: 0;
    }

    .timeline .timeline-item:last-child:nth-child(2n) {
        float: none;
    }

    .timeline::before {
        top: 40px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 1px;
        background-color: #ccc;
        left: 54px;
        margin-left: -1.5px;
    }

    .timeline-subBox {
        position: fixed;
    }
    /*    .addNewCommentComment {
        text-align: right;
        margin-right: 40px;
        position: relative;
        top: 50px;
        z-index: 9;
    }*/
</style>
@*global*@
<style>
    * {
        outline: none !important
    }

    .skin-profitoptics .wrapper, .skin-profitoptics .main-sidebar, .skin-profitoptics .left-side {
        background-image: url('/img/menu-background.jpg');
        background-size: auto;
        background-position: -290px -220px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 12px !important;
    }

    .sidebar-menu .treeview-menu > li > a {
        font-size: 12px !important;
    }

    .skin-profitoptics .sidebar-menu > li > a {
        color: #fff !important;
        background: rgba(0,0,0,0.4) !important
    }

    .skin-profitoptics .sidebar-menu > li:hover > a, .skin-profitoptics .sidebar-menu > li.active > a {
        color: #ffffff;
        background: rgba(0,0,0,0.4) !important
    }

    .skin-profitoptics .sidebar-menu > li > .treeview-menu {
        margin: 0 1px;
        background: rgba(0,0,0,0.4) !important
    }

    .skin-profitoptics .treeview-menu > li > a {
        color: white;
        background: rgba(0,0,0,0.4) !important
    }

    .sidebar-menu .treeview-menu {
        padding-left: 0px !important;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
        padding: 0 !important;
        margin-top: -4px !important;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
        left: 214px !important;
        background: transparent;
    }
    /*
    ul.sidebar-menu {
        background: rgba(0,0,0,0.3)
    }*/
    .box-primary {
        border-radius: 0;
        box-shadow: 0px 0px 8px #dcdcdc;
        padding: 10px;
        border-top: 3px solid #13336a !important;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        padding: 6px 10px;
    }

        .flex-row:hover {
            background: #dfe3e3;
            border-radius: 16px;
            box-shadow: 0 0 5px #ccc;
            cursor: pointer;
        }

    .flex-row-selected-case, .flex-row-selected {
        background: #dfe3e3 !important;
        border-radius: 16px;
        box-shadow: 0 0 5px #ccc;
        color: black;
    }

    .time-numbers {
        margin-right: 15px;
        color: #a5acbd;
        text-align: center;
        width: 50px;
    }

    .time-labelCircle {
        margin-left: 15px;
        font-size: 11px;
        color: #808080;
    }

    .time-labelText {
        font-family: 'Montserrat', sans-serif;
        color: black;
        font-size: 18px;
        font-weight: 500;
        margin: -6px 7px -3px;
    }

    .fc-status-1, .fc-status-2, .fc-status-3, .fc-status-4, .fc-status-5, .fc-status-6, .fc-status-7,
    .colorLabel {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 3px;
    }

    .color1Label {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: inline-block;
        background: #fd7585;
        margin-right: 3px;
    }

    .color2Label {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: inline-block;
        background: #d178d8;
        margin-right: 3px;
    }

    .cld-day:hover {
        cursor: pointer;
    }

    .cld-day.calendarSelectedDay .cld-number {
        display: inline-block;
        height: 30px;
        width: 30px;
        border-radius: 50px;
        background: #337ab7 !important;
        color: #fff;
    }

    h3.box-title {
        font-family: 'Montserrat', sans-serif;
    }

    .circleDetails .color1Label, .circleDetails .color2Label {
        margin: 6px 10px 0 0;
    }

    .label-small, .label-details {
        display: block
    }

    .label-small {
        color: #a5acbd;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 15px;
        margin-top: 15px;
    }

    .label-details {
        font-family: 'Montserrat', sans-serif;
        color: black;
        font-size: 18px;
        font-weight: 500;
    }

    .form-control {
        border-radius: 0px;
    }

    .btn-custom {
        color: white;
        background-color: #103068;
        border-color: #103068;
        font-family: 'Montserrat', sans-serif;
        border-radius: 60px;
        font-weight: 600;
        padding: 8px 30px;
    }

        .btn-custom:hover,
        .btn-custom:focus,
        .btn-custom:active,
        .btn-custom.active,
        .open .dropdown-toggle.btn-custom {
            color: white;
            background-color: #1c4386;
            border-color: #1c4386;
            font-family: 'Montserrat', sans-serif;
            border-radius: 60px;
            font-weight: 600;
            padding: 8px 30px;
        }

    .btn-link {
        color: #a4a6a9;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        padding: 8px 0px;
        text-decoration: none;
    }

    #DashboardCaseDetailsPlaceholder .ellipsis {
        font-size: 18px !important;
        color: black;
    }
</style>
<section class="content-header">
    <h1 class="pull-left color-status-container" style="margin-right:20px;">
        <span title="@Model.Color" class="caseColorStatus @Model.Color">@Model.GCCase.Title</span>
        @if (Model.GCCase.IsCanceled)
        {
            <span class="caseColorStatus" style="background-color: lightgray">Canceled</span>}

        @if (Model.GCCase.IsLoaner)
        {
            <i class="fa fa-suitcase" style="margin-top: 5px;"></i>}

    </h1>
    <div class="pull-left" style="margin-right:10px;">
        <div title="Date"><i class="fa fa-fw fa-calendar"></i> @Model.GCCase.CTCase?.DueTimestamp.ToString()</div>
        <div title="Surgeon"><i class="fa fa-fw fa-user"></i> @Model.GCCase.CTCase?.CaseDoctor</div>
    </div>
    <div class="pull-left">
        <div title="Provider"><i class="fa fa-fw fa-h-square"></i> @Model.GCCase.GCCustomer?.CustomerName</div>
        <div title="Address"><i class="fa fa-fw fa-map-o"></i> @Model.GCCase.GCCustomer?.DeliveryStreet, @Model.GCCase.GCCustomer?.DeliveryCity, @Model.GCCase.GCCustomer?.DeliveryState, @Model.GCCase.GCCustomer?.DeliveryZip</div>
    </div>
    @if (User.IsInRole("vendoruser") || User.IsInRole("customeruser"))
    {
        //for now we dont allow this options for vendors or customers
    }
    else
    {
        <div class="pull-right">
            <button class="btn btn-default btn-sm" data-toggle="modal" onclick="syncCaseHistory(@Model.GCCase.Id)">
                <i class="fa fa-hospital-o"></i> Sync Case History
            </button>
        </div>
        <div class="pull-right" style="margin-right:5px">
            @if (Model.GCCase.IncomingOrderId == null && Model.GCCase.OutgoingOrderId == null)
            {
                <button class="btn btn-danger btn-sm" data-toggle="modal">
                    <i class="fa fa-suitcase"></i> Not Submitted to WorkWave
                </button>
            }
            else if (Model.GCCase.IncomingOrderId == null)
            {
                <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#CancelWorkWaveOrdersModal">
                    <i class="fa fa-suitcase"></i> No Incoming Order
                </button>
            }
            else if (Model.GCCase.OutgoingOrderId == null)
            {
                <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#CancelWorkWaveOrdersModal">
                    <i class="fa fa-suitcase"></i> No Outgoing Order
                </button>
            }
            else
            {
                <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#CancelWorkWaveOrdersModal">
                    <i class="fa fa-suitcase"></i> Submitted to WorkWave
                </button>
            }
        </div>
    }
    <div class="clearfix"></div>
</section>
<section class="content">
    @if (User.IsInRole("vendoruser") || User.IsInRole("customeruser"))
    {
        //for now we dont show anything to vendoruser and customeruser instead of ribbon
    }
    else
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary scrollFix" style="text-align: center;overflow-x:auto">
                    <ul class="timeline timeline-horizontal timeline-steps">
                        @if (Model.PreviousLifecycleCategories != null)
                        {
                            foreach (var timelineItem in Model.PreviousLifecycleCategories)
                            {
                                <li class="timeline-item">
                                    <div class="timeline-badge @(timelineItem.IsFinished == true ? "timeline-badgeActive" : "")  @(timelineItem.IsDisabled == true ? "timeline-badgeDisabled" : "") category-expand" id="@timelineItem.Title.NormalizeTitle()History" @(timelineItem.IsDisabled == true ? "disabled" : "")>@timelineItem.Percentage%</div>
                                    <div class="timeline-panel @(timelineItem.IsFinished == true ? "timeline-panelActive" : "") @(timelineItem.IsDisabled == true ? "timeline-panelDisabled" : "")">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">*@timelineItem.Title</h4>
                                            <ul class="smallCircles smallCirclesActive">
                                                @if (timelineItem.LifecycleStatuses != null)
                                                {
                                                    foreach (var statusItem in timelineItem.LifecycleStatuses)
                                                    {
                                                        <li>@statusItem.NumberOfTraysInStatus</li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>

                                    <div id="@{@timelineItem.Title.NormalizeTitle()}HistoryPopup" class="timeline-subBox" style="display:none">
                                        <span class="popUpCloseButton" id="@{@timelineItem.Title.NormalizeTitle()}HistoryCloseBtn" target-element="@{@timelineItem.Title.NormalizeTitle()}History">X</span>
                                        <h1>@timelineItem.Title</h1>
                                        <div>
                                            <ul class="timeline timeline-horizontal">
                                                @if (timelineItem.LifecycleStatuses != null)
                                                {
                                                    foreach (var statusItem in timelineItem.LifecycleStatuses)
                                                    {
                                                        <li class="timeline-item">
                                                            <div class="timeline-badge timeline-badgeAdditional additional-popover"
                                                                 tabindex="0"
                                                                 data-placement="bottom"
                                                                 id="@{@statusItem.Title.NormalizeTitle()}History"
                                                                 data-trigger="focus">
                                                                @statusItem.NumberOfTraysInStatus
                                                            </div>
                                                            <div id="@{@statusItem.Title.NormalizeTitle()}Historypopover-title" class="hidden">
                                                                <b>
                                                                    @statusItem.Title
                                                                </b>
                                                            </div>
                                                            <div id="@{@statusItem.Title.NormalizeTitle()}Historypopover-content" class="hidden">
                                                                <table class="table table-bordered table-striped" style="margin:0;font-size:11px !important">
                                                                    @if (statusItem.TrayLifecycleStatuses != null)
                                                                    {
                                                                        foreach (var item in statusItem.TrayLifecycleStatuses)
                                                                        {
                                                                            if (item.IsFinished)
                                                                            {
                                                                                <tr>
                                                                                    <td width="33%" style="font-size: 11px !important">@item.Title</td>
                                                                                    <td width="33%" style="font-size: 11px !important">@item.Timestamp.GetLocalDateTime().ToString()</td>
                                                                                    <td width="33%" style="font-size: 11px !important">@item.User</td>
                                                                                </tr>
                                                                            }
                                                                            else
                                                                            {
                                                                                <tr class="text-red">
                                                                                    <td style="font-size: 11px !important">@item.Title</td>
                                                                                    <td style="font-size: 11px !important" class="text-right">-</td>
                                                                                </tr>
                                                                            }

                                                                        }
                                                                    }
                                                                </table>
                                                            </div>
                                                            <div class="timeline-panel">
                                                                <div class="timeline-heading">
                                                                    <h4 class="timeline-title">@statusItem.Title</h4>
                                                                    @if (statusItem.ShowTimestamp)
                                                                    {
                                                                        <p><small class="text-muted">@statusItem.Timestamp.GetLocalDateTime().ToShortDateString()<br />@statusItem.Timestamp.GetLocalDateTime().ToString("hh:mm:ss tt")</small></p> }
                                                                    else
                                                                    {
                                                                        <p><small class="text-muted">-</small></p>}
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                        @if (Model.LifecycleCategories != null)
                        {
                            foreach (var timelineItem in Model.LifecycleCategories)
                            {
                                <li class="timeline-item">
                                    <div class="timeline-badge @(timelineItem.IsFinished == true ? "timeline-badgeActive" : "")  @(timelineItem.IsDisabled == true ? "timeline-badgeDisabled" : "") category-expand" id="@timelineItem.Title.NormalizeTitle()" @(timelineItem.IsDisabled == true ? "disabled" : "")>@timelineItem.Percentage%</div>
                                    <div class="timeline-panel @(timelineItem.IsFinished == true ? "timeline-panelActive" : "") @(timelineItem.IsDisabled == true ? "timeline-panelDisabled" : "")">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">@timelineItem.Title</h4>
                                            <ul class="smallCircles smallCirclesActive">
                                                @if (timelineItem.LifecycleStatuses != null)
                                                {
                                                    foreach (var statusItem in timelineItem.LifecycleStatuses)
                                                    {
                                                        <li>@statusItem.NumberOfTraysInStatus</li>
                                                    }
                                                } @*<li>5</li>
                                                    <li>5</li>
                                                    <li>3</li>
                                                    <li>1</li>
                                                    <li>1</li>*@
                                            </ul>
                                        </div>
                                    </div>

                                    <div id="@{@timelineItem.Title.NormalizeTitle()}Popup" class="timeline-subBox" style="display:none">
                                        <span class="popUpCloseButton" id="@{@timelineItem.Title.NormalizeTitle()}CloseBtn" target-element="@timelineItem.Title.NormalizeTitle()">X</span>
                                        <h1>@timelineItem.Title</h1>
                                        <div>
                                            <ul class="timeline timeline-horizontal">
                                                @if (timelineItem.LifecycleStatuses != null)
                                                {
                                                    foreach (var statusItem in timelineItem.LifecycleStatuses)
                                                    {
                                                        <li class="timeline-item">
                                                            <div class="timeline-badge timeline-badgeAdditional additional-popover"
                                                                 tabindex="0"
                                                                 data-placement="bottom"
                                                                 id="@statusItem.Title.NormalizeTitle()"
                                                                 data-trigger="focus">
                                                                @statusItem.NumberOfTraysInStatus
                                                            </div>
                                                            <div id="@{@statusItem.Title.NormalizeTitle()}popover-title" class="hidden">
                                                                <b>
                                                                    @statusItem.Title
                                                                </b>
                                                            </div>
                                                            <div id="@{@statusItem.Title.NormalizeTitle()}popover-content" class="hidden">
                                                                <table class="table table-bordered table-striped" style="margin:0;font-size:11px !important">
                                                                    @if (statusItem.TrayLifecycleStatuses != null)
                                                                    {
                                                                        foreach (var item in statusItem.TrayLifecycleStatuses)
                                                                        {
                                                                            if (item.IsFinished)
                                                                            {
                                                                                <tr>
                                                                                    <td width="33%" style="font-size: 11px !important">@item.Title</td>
                                                                                    <td width="33%" style="font-size: 11px !important">@item.Timestamp.GetLocalDateTime().ToString()</td>
                                                                                    <td width="33%" style="font-size: 11px !important">@item.User</td>
                                                                                </tr>
                                                                            }
                                                                            else
                                                                            {
                                                                                <tr class="text-red">
                                                                                    <td style="font-size: 11px !important">@item.Title</td>
                                                                                    <td style="font-size: 11px !important" class="text-right">-</td>
                                                                                </tr>
                                                                            }

                                                                        }
                                                                    }
                                                                </table>
                                                            </div>
                                                            <div class="timeline-panel">
                                                                <div class="timeline-heading">
                                                                    <h4 class="timeline-title">@statusItem.Title</h4>
                                                                    @if (statusItem.ShowTimestamp)
                                                                    {
                                                                        <p><small class="text-muted">@statusItem.Timestamp.GetLocalDateTime().ToShortDateString()<br />@statusItem.Timestamp.GetLocalDateTime().ToString("hh:mm:ss tt")</small></p> }
                                                                    else
                                                                    {
                                                                        <p><small class="text-muted">-</small></p>}
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            }
                        }

                    </ul>

                </div>
            </div>
        </div>

    }

    <div class="row hidden">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title color-status-container">
                        Details
                        @*<span title="@Model.Color" class="caseColorStatus @Model.Color"></span>*@
                    </h3>
                </div>
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-1 control-label op-5">Date</label>
                            <div class="col-sm-3">
                                <p class="form-control-static">@Model.GCCase.CTCase?.DueTimestamp.ToString()</p> @*03/23/20 10:30*@ @*dd MMMM yyyy*@
                            </div>
                            <label class="col-sm-1 control-label op-5">Provider</label>
                            <div class="col-sm-3">
                                <p class="form-control-static">@Model.GCCase.GCCustomer?.CustomerName</p>
                            </div>
                            <label class="col-sm-1 control-label op-5">Address</label>
                            <div class="col-sm-3">
                                <p class="form-control-static">@Model.GCCase.GCCustomer?.DeliveryStreet, @Model.GCCase.GCCustomer?.DeliveryCity, @Model.GCCase.GCCustomer?.DeliveryState, @Model.GCCase.GCCustomer?.DeliveryZip</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label op-5">Surgeon</label>
                            <div class="col-sm-3">
                                <p class="form-control-static">@Model.GCCase.CTCase?.CaseDoctor</p>
                            </div>
                            @*<label class="col-sm-1 control-label op-5">Manufacturer</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">@Model.GCCase.VendorName</p>
                                </div>*@
                            @*<label class="col-sm-1 control-label op-5">Quick Books</label>
                                <div class="col-sm-3">
                                    @if (Model.GCCase.QBEstimateId.HasValue && Model.GCCase.QBEstimateId.Value > 0)
                                    {
                                        <a href="@string.Format("{0}/app/estimate?txnId={1}", Model.QBCusomerExternalUrl, Model.GCCase.QBEstimateId.Value)" target="_blank" class="btn btn-default">View in QB</a>
                                    }
                                    else
                                    {
                                        <button class="btn btn-default"><span onclick="SubmitEstimateToQB(@Model.GCCase.Id)">Send case details to QB</span></button>
                                    }
                                </div>*@
                            @*<label class="col-sm-1 control-label op-5">Rep</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">LA Rep 1</p>
                                </div>*@
                        </div>
                        @*<div class="form-group">
                                <label class="col-sm-1 control-label op-5">Instrument Set</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static">Error: Multiple sets !</p>
                                </div>
                                <label class="col-sm-1 control-label op-5">Implants</label>
                                <div class="col-sm-3">
                                    <p class="form-control-static"><a href="#">3 orders lines (80 items)</a></p>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if (User.IsInRole("vendoruser") || User.IsInRole("customeruser"))
        {
            { await Html.RenderPartialAsync("_CaseDetailsTraysTableForVendors.cshtml", Model.CaseDetailsTraysModel); }
        }
        else
        {
            { await Html.RenderPartialAsync("_CaseDetailsTraysTable.cshtml", Model.CaseDetailsTraysModel); }

        }

    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary case-comment-box">
                @*collapsed-box*@
                <div class="box-header with-border">
                    <h3 class="box-title">Comments</h3>
					<div class="box-tools pull-right">

						<label>Show All Comments</label> <input type="checkbox" style="margin-right: 10px !important;" id="toggleCommentsCheckbox" />
						<button class="btn btn-default btn-sm" data-toggle="modal" onclick="colorCommentShow()">
							<i class="fa  fa-commenting-o"></i> Add New Comment
						</button>


						@*<button type="button" class="btn btn-box-tool" data-widget="collapse">
			<i class="fa fa-plus"></i>
		</button>*@
					</div>
                </div>
                <div class="box-body" style="border-left: 1px solid #dfdfdf; background: #ecf0f5; border-right: 1px solid #dfdfdf !important;">
                    @if (Model.NoteGroups != null && Model.NoteGroups.Count > 0)
                    {
                        <ul class="timeline" id="allComments" hidden>
                            @foreach (var noteGroup in Model.NoteGroups)
                            {
                                <li class="time-label">
                                    <span class="bg-gray">
                                        @noteGroup.Date.GetLocalDateTime().ToShortDateString()
                                    </span>
                                </li>
                                @foreach (var note in noteGroup.Notes)
                                {

                                    <li>
                                        <i class="fa @(note.IsSystemGenerated == true ? "fa-gear" : "fa-user") " style="background:@note.Color !important"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i> @string.Format("{0} (CT) {1}", note.Timestamp.GetLocalDateTime().ToString("hh:mm:ss tt"), note.CreatedBy != null ? string.Format(" (by: {0})", note.CreatedBy) : string.Empty)</span>

                                            <h3 class="timeline-header"><a href="#">@note.TrayTitle</a> - @note.Title</h3>

                                            <div class="timeline-body">
                                                @note.Description
                                            </div>
                                            @if (note.RequiresResolution && !note.ResolvedAtUtc.HasValue)
                                            {
                                                <div class="timeline-footer">
                                                    <a data-noteid="@note.Id" class="resolve-note btn btn-danger  btn-xs"><i class="fa fa-exclamation-triangle"></i> Requires Resolution</a>
                                                </div>}
                                            @if (note.IsColorStatusLocked)
                                            {
                                                <div class="timeline-footer">
                                                    Tray color status locked:
                                                    <a data-statusid="@note.ColorStatusId" class="unlock-color-status btn btn-danger  btn-xs"><i class="fa fa-exclamation-triangle"></i> Unlock</a>
                                                </div>}
                                        </div>
                                    </li>
                                }}
                        </ul> 
						<ul class="timeline" id="userComments" >
							@foreach (var noteGroup in Model.NoteGroups)
                            {
							@if(noteGroup.HasUserNotes)
                             {
							<li class="time-label">
								<span class="bg-gray">
									@noteGroup.Date.GetLocalDateTime().ToShortDateString()
								</span>
							</li>
							@foreach (var note in noteGroup.Notes)
                                {
							@if(note.IsSystemGenerated == false)
                             {
							<li>
								<i class="fa fa-user" style="background:@note.Color !important"></i>
								<div class="timeline-item">
									<span class="time"><i class="fa fa-clock-o"></i> @string.Format("{0} (CT) {1}", note.Timestamp.GetLocalDateTime().ToString("hh:mm:ss tt"), note.CreatedBy != null ? string.Format(" (by: {0})", note.CreatedBy) : string.Empty)</span>

									<h3 class="timeline-header"><a href="#">@note.TrayTitle</a> - @note.Title</h3>

									<div class="timeline-body">
										@note.Description
									</div>
									@if (note.RequiresResolution && !note.ResolvedAtUtc.HasValue)
                                            {
									<div class="timeline-footer">
										<a data-noteid="@note.Id" class="resolve-note btn btn-danger  btn-xs"><i class="fa fa-exclamation-triangle"></i> Requires Resolution</a>
									</div>}
									@if (note.IsColorStatusLocked)
                                            {
									<div class="timeline-footer">
										Tray color status locked:
										<a data-statusid="@note.ColorStatusId" class="unlock-color-status btn btn-danger  btn-xs"><i class="fa fa-exclamation-triangle"></i> Unlock</a>
									</div>}
								</div>
							</li>
                             }

                                }
                             }

                             }
						</ul>
                        }
                    else
                    {
                        <text>- no comments yet -</text>}
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>

    <!-- The Modal for expans images -->
    <div id="imgModal" class="modal">

        <!-- The Close Button -->
        <span id="closeBtn" class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="imgPlaceholder">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
    <div id="photoWithCountSheetModalPlaceholder">

    </div>
</section>

@await Html.PartialAsync("_AddColorCommentModal.cshtml", Model.AddColorCommentModal)
@await Html.PartialAsync("_CancelWorkWaveOrdersModal.cshtml", Model.GCCase)
@await Html.PartialAsync("_DeleteGCTrayLifecycleDialog.cshtml")
<input type="hidden" id="GetRightSidebarDataUrl" value="@Url.Action("GetRightSidebarData","Sox")" />
<input type="hidden" id="SyncCaseHistoryUrl" value="@Url.Action("SyncCaseHistory","Sox")" />
<input type="hidden" id="GetVendorsTrayHistoryDataUrl" value="@Url.Action("GetVendorsTrayHistoryData","Sox")" />
<input type="hidden" id="GetProposedHistoryItemsForTrayLC" value="@Url.Action("GetProposedHistoryItemsForTrayLC","Sox")" />
<input type="hidden" id="UpdateProposedHistoryItemForLcUrl" value="@Url.Action("UpdateProposedHistoryItemForLC","Sox")" />
<input type="hidden" id="RemoveLifecycleFromTray" value="@Url.Action("RemoveLifecycleFromTray","Sox")" />
<input type="hidden" id="LifeCyceleToRemoveTray" />
<div id="sidebar-placeholder"></div>
<div id="proposed-history-placeholder"></div>
@*@await Html.PartialAsync("_SidebarRight")*@

@section scripts
{
    <script type="text/javascript" src="/Modules/ProfitOptics.Modules.Sox/Content/js/CaseDetails.js"></script>
}

