﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.GCCustomersModel
@using  ProfitOptics.Modules.Sox.Models.ViewModels
@{
    ViewBag.Title = "Customer Management";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="/AdminLTE/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />

@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>*@
<style>
    .tableUsers th, .tableUsers td {
        font-family: Arial, sans-serif;
        padding: 12px 10px !important
    }

    table.tableUsers {
        border-collapse: separate !important;
    }

    .tableUsers th {
        background: white;
        border-bottom-width: 1px;
    }

    thead tr th {
        border-color: white !important;
        text-align: left !important
    }

    .bootstrap-timepicker-meridian.form-control {
        padding: 0 !important;
    }

    .ellipsis {
        white-space: nowrap;
        width: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<section class="content-header">
    <h1 class="pull-left">
        Customer Management
    </h1>
    <div class="pull-right">
        <button class="btn btn-default btn-outline" onclick="AddCustomerDialog()">Add New Customer</button>
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="table-responsive">
                        <div class="col-md-12">
                            <table class="table tableUsers table-hover display" id="customerManagementTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Facility Code</th>
                                        <th>Delivery Address</th>
                                        <th>Service Time</th>
                                        <th>Delivery Start-End</th>
                                        <th>Deliver Notes</th>
                                        <th>Access Code</th>
                                        <th>Phone Number</th>
                                        <th>Delivery Name</th>
                                        <th>Quick Books</th>
                                        <th>Invoicing</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var customer in Model.Customers)
                                    {
                                    <tr>
                                        <td>@customer.CustomerName</td>
                                        <td>@customer.FacilityCode</td>
                                        <td>
                                            @if (customer.DeliveryStreet != null)
                                            {
                                                <div>@customer.DeliveryStreet,</div>
                                            }

                                            @if (customer.DeliveryCity != null)
                                            {
                                                <div>@customer.DeliveryCity,</div>
                                            }

                                            @if (customer.DeliveryZip != null)
                                            {
                                                <div>@customer.DeliveryZip,</div>
                                            }

                                            <div>@customer.DeliveryState</div>
                                        </td>
                                        <td>@customer.ServiceTime</td>
                                        <td>@customer.DeliveryStart - @customer.DeliveryEnd</td>
                                        <td><p class="ellipsis" data-toggle="tooltip" title="@customer.DeliverNotes">@customer.DeliverNotes</p></td>
                                        <td>@customer.DeliverAccessCode</td>
                                        <td><a href="tel:@customer.DeliverPhoneNumber"><span class="glyphicon glyphicon-earphone"></span> @customer.DeliverPhoneNumber</a></td>
                                        <td>@customer.DeliverName</td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                @if (customer.QBCustomerId.HasValue && customer.QBCustomerId.Value > 0)
                                                {
                                                    <button class="btn btn-default" onclick="UpdateCustomerFromQB(@customer.Id)"><span>Update from QB</span></button>
                                                    <button class="btn btn-default" onclick="UpdateCustomerToQB(@customer.Id)"><span>Update to QB</span></button>
                                                    if (Model.QBCusomerExternalUrl != null)
                                                    {
                                                        <a href="@string.Format("{0}/app/customerdetail?nameId={1}", Model.QBCusomerExternalUrl, customer.QBCustomerId.Value)" target="_blank" class="btn btn-default">View in QB</a>
                                                    }
                                                }
                                                else
                                                {
                                                    <button class="btn btn-default" onclick="SubmitCustomerToQB(@customer.Id)"><span>Create in QB</span></button>
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm">
                                                <a href="@Url.Action("Index", "Accountings")?id=@customer.Id" class="btn btn-default">View Accountings</a>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <div class="btn-group btn-group-sm">
                                                @*<button class="btn btn-default" data-toggle="modal" onclick="ShowEditCustomerModal('#editModal-@customer.Id')"><span class="glyphicon glyphicon-pencil"></span></button>*@
                                                <button class="btn btn-default" data-toggle="modal" onclick="EditCustomerDialog(@customer.Id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                <button class="btn btn-default" onclick="DeactivateCustomerDialog(@customer.Id)"><span class="glyphicon glyphicon-trash"></span></button>
                                            </div>
                                        </td>
                                    </tr>

                                        @*<partial name="_UpdateCustomerModal.cshtml" model="new UpdateCustomerModel { Customer = customer }" />*@
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="overlay table-overlay" style="display: none;" hidden=""><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

<div id="AddCustomerDialogHolder"></div>
<div id="EditCustomerDialogHolder"></div>
<div id="DeactivateCustomerDialogHolder"></div>



<script src="/AdminLTE/plugins/timepicker/bootstrap-timepicker.js"></script>
@*<script src="~/Content/js/CustomerManagement.js"></script>*@
<script>
	app.activeMenus = ["menuAdmin", "menuAdminCustomerManagement"];
    $(document).ready(function () {
        $('#customerManagementTable').DataTable();
        //$('#timepicker0').timepicker();
        //$('#timepicker1').timepicker();

        //$('#timepicker1').timepicker().on('changeTime.timepicker', function (e) {
        //    console.log('The time is ' + e.time.value);
        //    console.log('The hour is ' + e.time.hours);
        //    console.log('The minute is ' + e.time.minutes);
        //    console.log('The meridian is ' + e.time.meridian);
        //});
    });


    function EditCustomerDialog(customerId) {
        if (enableDialog == false) {
            return;
        }
        enableDialog = false;

        $.ajax({
            type: "GET",
            url: "EditCustomerDialog",
            contentType: 'application/json',
            data: { customerId: customerId },
            dataType: "html",
            success: function (response) {
                $("#EditCustomerDialogHolder").html(response);
                $("#EditCustomerDialog").modal({ show: true });
                $('.updateTimepickerInput').timepicker();
                enableDialog = true;
            },
            error: function (response) {
                var error = 400;
                enableDialog = true;
            }
        });
    }
</script>

