﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.DashboardModel
@{
	ViewBag.Title = "Dashboard";
}
@*global*@
<style>
	* {
		outline: none !important
	}

	.skin-profitoptics .wrapper, .skin-profitoptics .main-sidebar, .skin-profitoptics .left-side {
		background-image: url('/img/menu-background.jpg');
		background-size: cover;
		background-position: -290px -220px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 12px !important;
	}

	.sidebar-menu .treeview-menu > li > a {
		font-size: 12px !important;
	}

	.skin-profitoptics .sidebar-menu > li > a {
		color: #fff !important;
		background: rgba(0,0,0,0.4) !important
	}

	.skin-profitoptics .sidebar-menu > li:hover > a, .skin-profitoptics .sidebar-menu > li.active > a {
		color: #ffffff;
		background: rgba(0,0,0,0.4) !important
	}

	.skin-profitoptics .sidebar-menu > li > .treeview-menu {
		margin: 0 1px;
		background: rgba(0,0,0,0.4) !important
	}

	.skin-profitoptics .treeview-menu > li > a {
		color: white;
		background: rgba(0,0,0,0.4) !important
	}

	.sidebar-menu .treeview-menu {
		padding-left: 0px !important;
	}

	.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
		padding: 0 !important;
		margin-top: -4px !important;
	}

	.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
		left: 214px !important;
		background: transparent;
	}
	/*
	ul.sidebar-menu {
		background: rgba(0,0,0,0.3)
	}*/
	.box-primary {
		border-radius: 0;
		box-shadow: 0px 0px 8px #dcdcdc;
		padding: 10px;
		border-top: 3px solid #13336a !important;
	}

	.flex-column {
		display: flex;
		flex-direction: column;
	}

	.flex-row {
		display: flex;
		flex-direction: row;
		padding: 6px 10px;
	}

		.flex-row:hover {
			background: #dfe3e3;
			border-radius: 16px;
			box-shadow: 0 0 5px #ccc;
			cursor: pointer;
		}

	.flex-row-selected-case, .flex-row-selected {
		background: #dfe3e3 !important;
		border-radius: 16px;
		box-shadow: 0 0 5px #ccc;
		color: black;
	}

	.time-numbers {
		margin-right: 15px;
		color: #a5acbd;
		text-align: center;
		width: 50px;
	}

	.time-labelCircle {
		margin-left: 15px;
		font-size: 11px;
		color: #808080;
	}

	.time-labelText {
		font-family: 'Montserrat', sans-serif;
		color: black;
		font-size: 18px;
		font-weight: 500;
		margin: -6px 7px -3px;
	}

	.fc-status-1, .fc-status-2, .fc-status-3, .fc-status-4, .fc-status-5, .fc-status-6, .fc-status-7,
	.colorLabel {
		width: 14px;
		height: 14px;
		border-radius: 50%;
		display: inline-block;
		margin-right: 3px;
	}

	.color1Label {
		width: 14px;
		height: 14px;
		border-radius: 50%;
		display: inline-block;
		background: #fd7585;
		margin-right: 3px;
	}

	.color2Label {
		width: 14px;
		height: 14px;
		border-radius: 50%;
		display: inline-block;
		background: #d178d8;
		margin-right: 3px;
	}

	.cld-day:hover {
		cursor: pointer;
	}

	.cld-day.calendarSelectedDay .cld-number {
		display: inline-block;
		height: 30px;
		width: 30px;
		border-radius: 50px;
		background: #337ab7 !important;
		color: #fff;
	}

	h3.box-title {
		font-family: 'Montserrat', sans-serif;
	}

	.circleDetails .color1Label, .circleDetails .color2Label {
		margin: 6px 10px 0 0;
	}

	.label-small, .label-details {
		display: block
	}

	.label-small {
		color: #a5acbd;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 15px;
		margin-top: 15px;
	}

	.label-details {
		font-family: 'Montserrat', sans-serif;
		color: black;
		font-size: 18px;
		font-weight: 500;
	}

	.form-control {
		border-radius: 0px;
	}

	.btn-custom {
		color: white;
		background-color: #103068;
		border-color: #103068;
		font-family: 'Montserrat', sans-serif;
		border-radius: 60px;
		font-weight: 600;
		padding: 8px 30px;
	}

		.btn-custom:hover,
		.btn-custom:focus,
		.btn-custom:active,
		.btn-custom.active,
		.open .dropdown-toggle.btn-custom {
			color: white;
			background-color: #1c4386;
			border-color: #1c4386;
			font-family: 'Montserrat', sans-serif;
			border-radius: 60px;
			font-weight: 600;
			padding: 8px 30px;
		}

	.btn-link {
		color: #a4a6a9;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		padding: 8px 0px;
		text-decoration: none;
	}

	#DashboardCaseDetailsPlaceholder .ellipsis {
		font-size: 18px !important;
		color: black;
	}
</style>

@*only for page*@
<style>
	.calendarDot,
	.color1,
	.color2,
	.color3 {
		width: 4px;
		height: 4px;
		border-radius: 50%;
		display: inline-block
	}

	.color1 {
		background: #ff0000;
	}

	.color2 {
		background: #176fcf
	}

	.color3 {
		background: #d178d8
	}

	#caleandar {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 15px;
	}

	.cld-main {
	}

		.cld-main a {
			color: #333;
			font-weight: bold;
		}

	.cld-datetime {
		position: relative;
		width: 66%;
		min-width: 100px;
		max-width: 300px;
		margin: auto;
		overflow: hidden;
		font-weight: bold;
		font-size: 19px;
		color: black;
	}

		.cld-datetime .today {
			position: relative;
			float: left;
			width: calc(100% - 40px);
			margin: auto;
			text-align: center;
		}

	.cld-nav {
		position: relative;
		width: 20px;
		height: 20px;
		margin-top: 2px;
	}

		.cld-nav:hover {
			cursor: pointer;
		}

			.cld-nav:hover svg {
				fill: #666;
			}

	.cld-rwd {
		float: left;
	}

	.cld-fwd {
		float: right;
	}

	.cld-days {
		display: flex;
		justify-content: space-around;
	}

	.cld-day {
		max-width: 40px;
		text-align: center;
		height: 40px;
	}

		.cld-day:hover {
			cursor: pointer;
		}

	.cld-nav svg:hover {
	}

	.cld-labels,
	.nextMonth,
	.prevMonth {
		display: none !important;
	}

	.cld-labels, .cld-days {
		padding-left: 0;
	}

	.cld-label, .cld-day {
		display: inline-block;
		float: left
	}

	.cld-title {
		display: block;
	}

	.cld-day.today .cld-number {
		display: inline-block;
		height: 30px;
		width: 30px;
		border-radius: 50px;
		background: #666;
		color: #fff;
	}

	.cld-day.disableDay {
		opacity: 0.5;
	}

	.cld-day.nextMonth, .cld-day.prevMonth {
		opacity: 0.33;
	}

	.cld-number {
		position: relative;
		margin: 5px;
		padding: 5px;
	}

		.cld-number span {
			display: block;
			text-align: center;
		}

		.cld-number div {
			display: inline-block;
			margin: 1px;
		}
	/*    .cld-title {
		position: absolute;
		z-index: 5;
		display: none;
		top: 30px;
		left: 0;
		padding: 5px 10px;
		background: #fff;
		white-space: nowrap;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 12px;
	}*/
	/*        .cld-number:hover .cld-title {
			display: block;
		}*/

	/*    .cld-title::before {
		content: '';
		position: absolute;
		top: -7.5px;
		left: 7.5px;
		width: 0;
		height: 0;
		border-left: 7.5px solid transparent;
		border-right: 7.5px solid transparent;
		border-bottom: 7.5px solid #ccc;
	}*/

	/*    .cld-number.eventday {
		display: inline-block;
		height: 20px;
		width: 20px;
		border-radius: 50px;
		border: 1px solid #999;
	}

		.cld-number.eventday:hover {
			cursor: pointer;
			background: #eee;
		}

	.today .cld-number.eventday:hover {
		background: #888;
	}*/
	#caleandar {
		overflow-y: hidden;
	}

	@@media only screen and (max-width: 1200px) {
		#caleandar {
			overflow-x: auto;
		}
	}
</style>

<style>
	.eventsRow {
		width: 100%;
		height: auto;
		position: relative !important;
		left: 0% !important;
		margin-right: 0% !important;
	}

	.fc-content:hover {
		cursor: pointer;
	}

	.fc-custom-title {
		width: 111px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: normal;
		font-size: 11px;
	}

	.iconBoxContainer {
		display: inline-block;
		width: 60px;
		margin: 0 12px
	}

		.iconBoxContainer div {
			font-weight: normal;
			font-size: 11px;
			margin-top: 6px;
			text-transform: uppercase;
		}

	.mainIconsContainer {
		width: 60px;
		height: 60px;
		cursor: pointer;
	}

	.staffingIcon {
		background-image: url("/img/header-icon-1.svg");
	}

		.staffingIcon.active {
			background-image: url("/img/header-icon-1-active.svg");
		}

		.staffingIcon.clickable {
			background-image: url("/img/header-icon-1-clickable.svg");
		}

	.logisticsIcon {
		background-image: url("/img/header-icon-2.svg");
	}

		.logisticsIcon.active {
			background-image: url("/img/header-icon-2-active.svg");
		}

		.logisticsIcon.clickable {
			background-image: url("/img/header-icon-2-clickable.svg");
		}

	.vehicleIcon {
		background-image: url("/img/header-icon-3.svg");
	}

		.vehicleIcon.active {
			background-image: url("/img/header-icon-3-active.svg");
		}

		.vehicleIcon.clickable {
			background-image: url("/img/header-icon-3-clickable.svg");
		}

	.scheduleIcon {
		background-image: url("/img/header-icon-4.svg");
	}

		.scheduleIcon.active {
			background-image: url("/img/header-icon-4-active.svg");
		}

		.scheduleIcon.clickable {
			background-image: url("/img/header-icon-4-clickable.svg");
		}

	.inventoryIcon {
		background-image: url("/img/header-icon-5.svg");
	}

		.inventoryIcon.active {
			background-image: url("/img/header-icon-5-active.svg");
		}

		.inventoryIcon.clickable {
			background-image: url("/img/header-icon-5-clickable.svg");
		}

	.weatherIcon {
		background-image: url("/img/header-icon-6.svg");
	}

		.weatherIcon.active {
			background-image: url("/img/header-icon-6-active.svg");
		}

		.weatherIcon.clickable {
			background-image: url("/img/header-icon-6-clickable.svg");
		}

	.apisIcon {
		background-image: url("/img/header-icon-7.svg");
	}

		.apisIcon.active {
			background-image: url("/img/header-icon-7-active.svg");
		}

		.apisIcon.clickable {
			background-image: url("/img/header-icon-7-clickable.svg");
		}

    .alertsIcon {
        background-image: url("/img/header-icon-8.svg");
    }

        .alertsIcon.active {
            background-image: url("/img/header-icon-8-active.svg");
        }

        .alertsIcon.clickable {
            background-image: url("/img/header-icon-8-clickable.svg");
        }

	/*.center {
		margin: auto;
		width: 50%;
		border: 3px solid green;
		padding: 10px;
	}*/
	p.cld-number span:first-child {
		line-height: 21px;
	}

	p.cld-number div:first-child {
		margin-top: 10px;
	}

	p.cld-number {
		line-height: 0 !important;
	}

	.calendarNumbers {
		margin-bottom: 5px;
	}
</style>
<div class="row">
	<div class="col-md-12 text-center">
		<div class="box box-primary">
            <div class="box-body">
                <div class="iconBoxContainer">
                    <div class="mainIconsContainer staffingIcon active"></div>
                    <div>Staffing</div>
                </div>
                <div class="iconBoxContainer">
                    <div class="mainIconsContainer logisticsIcon"></div>
                    <div>Logistics</div>
                </div>
                <div class="iconBoxContainer">
                    <div class="mainIconsContainer vehicleIcon clickable"></div>
                    <div>Vehicle</div>
                </div>
                <div class="iconBoxContainer">
                    <div class="mainIconsContainer scheduleIcon"></div>
                    <div>Schedule</div>
                </div>
                <div class="iconBoxContainer" onclick="location.href='@Url.Action("TraysManagement","Sox")'">
                    <div class="mainIconsContainer inventoryIcon"></div>
                    <div>Inventory</div>
                    <div id="numberLabelInventory" style="display:none" class="numberLabelInventory"></div>
                </div>
                <div class="iconBoxContainer">
                    <div class="mainIconsContainer weatherIcon active"></div>
                    <div>Weather</div>
                </div>
                <div class="iconBoxContainer category-expand" id="EtlLogs">
                    <div class="mainIconsContainer apisIcon active"></div>
                    <div>APIs</div>
                    <div class="timeline-subBox" id="EtlLogsPopup" style="display:none; text-align:center;">
                        @*<span class="popUpCloseButton" id="EtlLogsCloseBtn" target-element="EtlLogs">X</span>*@
                        <h1>ETL Status</h1>
                        <div>
                            @if (Model != null && Model.ETLLogWWOrder != null && Model.ETLLogWWOrder.Status == "OK")
                            {

                                <p style="color:green">Sync Orders: @Model.ETLLogWWOrder.ProcessingTime</p>
                            }
                            else
                            {
                                if (Model != null && Model.ETLLogWWOrder != null)
                                {
                                    <p style="color:red">Sync Orders: @Model.ETLLogWWOrder.ProcessingTime</p>
                                }
                                else
                                {
                                    <p style="color:red">Sync Orders: No Data</p>
                                }

                            }
                            <br />
                            @if (Model != null && Model.ETLLogWWRoute != null && Model.ETLLogWWRoute.Status == "OK")
                            {

                                <p style="color:green">Sync Routes: @Model.ETLLogWWRoute.ProcessingTime</p>
                            }
                            else
                            {
                                if (Model != null && Model.ETLLogWWRoute != null)
                                {
                                    <p style="color:red">Sync Routes: @Model.ETLLogWWRoute.ProcessingTime</p>
                                }
                                else
                                {
                                    <p style="color:red">Sync Routes: No Data</p>
                                }
                            }
                            <br />
                            <a href="@Url.Action("ETLLogs", "Sox")">More...</a>
                        </div>
                    </div>
                </div>
                <div class="iconBoxContainer" onclick="location.href='@Url.Action("SystemAlerts","Sox")'">
                    <div class="mainIconsContainer alertsIcon clickable"></div>
                    <div>Alerts</div>
                    <div id="numberLabelTrayAlers" style="display:none" class="numberLabelInventory"></div>
                </div>
            </div>

		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-body" style="padding-top:0">
				<div class="col-md-3">
					<label class="col-md-12 text-left label-small">Case Ref</label>
					<div class="col-md-12">
						<input type="text" name="CaseRef" id="CaseRef" value="@Model.CaseReference" class="form-control" />
					</div>
				</div>
				@if (User.IsInRole("vendoruser") || User.IsInRole("superadmin") || User.IsInRole("admin"))
				{
					<div class="col-md-3">
						<label class="col-md-12 text-left label-small">Vendor</label>
						<div class="col-md-12">
							<select data-val="true" class="select2-customers form-control " id="vendorList" name="SelectedVendors" asp-for="SelectedVendors" style="width: 100%">
								<option disabled selected value">Select vendor</option>
								@foreach (var vendor in Model.GCVendors)
								{
									<option value="@vendor.Value">@vendor.Text</option>
								}
							</select>
						</div>
					</div>
				}
				@if (User.IsInRole("customeruser") || User.IsInRole("superadmin") || User.IsInRole("admin"))
				{

					<div class="col-md-3">
						<label class="col-md-12 text-left label-small">Provider</label>
						<div class="col-md-12">
							<select data-val="true" class="select2-customers form-control " id="customerList" name="SelectedCustomers" asp-for="SelectedCustomers" style="width: 100%">
								<option disabled selected value">Select provider</option>
								@foreach (var customer in Model.GCCustomers)
								{
									<option value="@customer.Value">@customer.Text</option>
								}
							</select>
						</div>
					</div>
				}
				<div class="col-md-3">
					<label class="col-md-12 text-left label-small">Surgeon</label>
					<div class="col-md-12">
						<input type="text" name="Surgeon" id="Surgeon" value="@Model.Surgeon" class="form-control" />
					</div>
				</div>

			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-md-6 text-left">
						<button class="btn btn-link text-center" onclick="ResetDashboardFilters()"><span class="glyphicon glyphicon-trash" style="margin-right:10px"></span>CLEAR FILTER</button>
					</div>
					<div class="col-md-6 text-right">
						<button class="btn btn-custom text-center" onclick="UpdateCalendarEvents()">APPLY FILTER</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@*Calendar*@
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-body" style="padding-bottom:0; height:100px;">
				<div id="caleandar"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	@*Hour Preview*@
	<div class="col-md-6" id="DashboardHourPreviewPlaceholder">
		@*@{await Html.RenderPartialAsync("_DashboardHourPreview.cshtml");}*@
		<div class="box box-primary">
			<div class="box-header">Date</div>
			<div class="box-body" style="height:420px; overflow-y:auto"></div>
		</div>
	</div>
	@*Hour Preview Details*@
	<div class="col-md-6" id="DashboardHourPreviewDetailsPlaceholder">
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">Time</h3>
			</div>
			<div class="box-body circleDetails" style="height:420px;overflow-y:auto">
				<div class="flex-column">

				</div>
			</div>
		</div>
	</div>
	@*Single Case Details*@
	@*<div class="col-md-4" id="DashboardCaseDetailsPlaceholder">
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">
					Case
				</h3>
			</div>
			<div class="box-body" style="height:420px;overflow-y:auto">

			</div>
		</div>
	</div>*@
</div>

<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-body">
				@*@{ await Html.RenderPartialAsync("_MapWithLocationsPV.cshtml"); }*@
				<div id="mapDiv" width="100%" height="100%" style="border:0;min-height:300px"></div>
			</div>
		</div>
	</div>
</div>

<input type="hidden" value="@Url.Action("GetCalendarDayDetails","Sox")" id="GetCalendarDayDetailsUrl" />
<input type="hidden" value="@Url.Action("GetCalendarHourDetails","Sox")" id="GetCalendarHourDetailsUrl" />
<input type="hidden" value="@Url.Action("GetCalendarCaseDetails","Sox")" id="GetCalendarCaseDetailsUrl" />
<input type="hidden" value="@Url.Action("GetDashboardMonthEvents","Sox")" id="GetDashboardMonthEventsUrl" />


<script>
	var Calendar = function (model, options, date) {
		// Default Values
		this.Options = {
			Color: '',
			LinkColor: '',
			NavShow: true,
			NavVertical: false,
			NavLocation: '',
			DateTimeShow: true,
			DateTimeFormat: 'mmm, yyyy',
			DatetimeLocation: '',
			EventClick: '',
			EventTargetWholeDay: false,
			DisabledDays: [],
			ModelChange: model
		};
		// Overwriting default values
		for (var key in options) {
			this.Options[key] = typeof options[key] == 'string' ? options[key].toLowerCase() : options[key];
		}

		model ? this.Model = model : this.Model = {};
		this.Today = new Date();

		this.Selected = this.Today
		this.Today.Month = this.Today.getMonth();
		this.Today.Year = this.Today.getFullYear();
		if (date) { this.Selected = date }
		this.Selected.Month = this.Selected.getMonth();
		this.Selected.Year = this.Selected.getFullYear();

		this.Selected.Days = new Date(this.Selected.Year, (this.Selected.Month + 1), 0).getDate();
		this.Selected.FirstDay = new Date(this.Selected.Year, (this.Selected.Month), 1).getDay();
		this.Selected.LastDay = new Date(this.Selected.Year, (this.Selected.Month + 1), 0).getDay();

		this.Prev = new Date(this.Selected.Year, (this.Selected.Month - 1), 1);
		if (this.Selected.Month == 0) { this.Prev = new Date(this.Selected.Year - 1, 11, 1); }
		this.Prev.Days = new Date(this.Prev.getFullYear(), (this.Prev.getMonth() + 1), 0).getDate();
	};

	function createCalendar(calendar, element, adjuster) {
		if (typeof adjuster !== 'undefined') {
			var newDate = new Date(calendar.Selected.Year, calendar.Selected.Month + adjuster, 1);
			calendar = new Calendar(calendar.Model, calendar.Options, newDate);
			element.innerHTML = '';
		} else {
			for (var key in calendar.Options) {
				typeof calendar.Options[key] != 'function' && typeof calendar.Options[key] != 'object' && calendar.Options[key] ? element.className += " " + key + "-" + calendar.Options[key] : 0;
			}
		}
		var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

		function AddSidebar() {
			var sidebar = document.createElement('div');
			sidebar.className += 'cld-sidebar';

			var monthList = document.createElement('ul');
			monthList.className += 'cld-monthList';

			for (var i = 0; i < months.length - 3; i++) {
				var x = document.createElement('li');
				x.className += 'cld-month';
				var n = i - (4 - calendar.Selected.Month);
				// Account for overflowing month values
				if (n < 0) { n += 12; }
				else if (n > 11) { n -= 12; }
				// Add Appropriate Class
				if (i == 0) {
					x.className += ' cld-rwd cld-nav';
					x.addEventListener('click', function () {
						typeof calendar.Options.ModelChange == 'function' ? calendar.Model = calendar.Options.ModelChange() : calendar.Model = calendar.Options.ModelChange;
						createCalendar(calendar, element, -1);
					});
					x.innerHTML += '<svg height="15" width="15" viewBox="0 0 100 75" fill="rgba(255,255,255,0.5)"><polyline points="0,75 100,75 50,0"></polyline></svg>';
				}
				else if (i == months.length - 4) {
					x.className += ' cld-fwd cld-nav';
					x.addEventListener('click', function () {
						typeof calendar.Options.ModelChange == 'function' ? calendar.Model = calendar.Options.ModelChange() : calendar.Model = calendar.Options.ModelChange;
						createCalendar(calendar, element, 1);
					});
					x.innerHTML += '<svg height="15" width="15" viewBox="0 0 100 75" fill="rgba(255,255,255,0.5)"><polyline points="0,0 100,0 50,75"></polyline></svg>';
				}
				else {
					if (i < 4) { x.className += ' cld-pre'; }
					else if (i > 4) { x.className += ' cld-post'; }
					else { x.className += ' cld-curr'; }

					//prevent losing var adj value (for whatever reason that is happening)
					(function () {
						var adj = (i - 4);
						//x.addEventListener('click', function(){createCalendar(calendar, element, adj);console.log('kk', adj);} );
						x.addEventListener('click', function () {
							typeof calendar.Options.ModelChange == 'function' ? calendar.Model = calendar.Options.ModelChange() : calendar.Model = calendar.Options.ModelChange;
							createCalendar(calendar, element, adj);
						});
						x.setAttribute('style', 'opacity:' + (1 - Math.abs(adj) / 4));
						x.innerHTML += months[n].substr(0, 3);
					}()); // immediate invocation

					if (n == 0) {
						var y = document.createElement('li');
						y.className += 'cld-year';
						if (i < 5) {
							y.innerHTML += calendar.Selected.Year;
						} else {
							y.innerHTML += calendar.Selected.Year + 1;
						}
						monthList.appendChild(y);
					}
				}
				monthList.appendChild(x);
			}
			sidebar.appendChild(monthList);
			if (calendar.Options.NavLocation) {
				document.getElementById(calendar.Options.NavLocation).innerHTML = "";
				document.getElementById(calendar.Options.NavLocation).appendChild(sidebar);
			}
			else { element.appendChild(sidebar); }
		}

		var mainSection = document.createElement('div');
		mainSection.className += "cld-main";

		function AddDateTime() {
			var datetime = document.createElement('div');
			datetime.className += "cld-datetime";
			if (calendar.Options.NavShow && !calendar.Options.NavVertical) {
				var rwd = document.createElement('div');
				rwd.className += " cld-rwd cld-nav";
				rwd.addEventListener('click', function () { createCalendar(calendar, element, -1); });
				rwd.innerHTML = '<svg height="15" width="15" viewBox="0 0 75 100" fill="rgba(0,0,0,0.5)"><polyline points="0,50 75,0 75,100"></polyline></svg>';
				datetime.appendChild(rwd);
			}
			var today = document.createElement('div');
			today.className += ' today';
			today.innerHTML = months[calendar.Selected.Month] + ", " + calendar.Selected.Year;
			datetime.appendChild(today);
			if (calendar.Options.NavShow && !calendar.Options.NavVertical) {
				var fwd = document.createElement('div');
				fwd.className += " cld-fwd cld-nav";
				fwd.addEventListener('click', function () { createCalendar(calendar, element, 1); });
				fwd.innerHTML = '<svg height="15" width="15" viewBox="0 0 75 100" fill="rgba(0,0,0,0.5)"><polyline points="0,0 75,50 0,100"></polyline></svg>';
				datetime.appendChild(fwd);
			}
			if (calendar.Options.DatetimeLocation) {
				document.getElementById(calendar.Options.DatetimeLocation).innerHTML = "";
				document.getElementById(calendar.Options.DatetimeLocation).appendChild(datetime);
			}
			else { mainSection.appendChild(datetime); }
		}

		function AddLabels() {
			var labels = document.createElement('ul');
			labels.className = 'cld-labels';
			var labelsList = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
			for (var i = 0; i < labelsList.length; i++) {
				var label = document.createElement('li');
				label.className += "cld-label";
				label.innerHTML = labelsList[i];
				labels.appendChild(label);
			}
			mainSection.appendChild(labels);
		}
		function AddDays() {
			// Create Number Element
			function DayNumber(n) {
				var number = document.createElement('p');
				number.className += "cld-number";
				number.innerHTML += "<span class='calendarNumbers'>" + n + "</span>";
				return number;
			}
			var days = document.createElement('ul');
			days.className += "cld-days";
			// Previous Month's Days
			for (var i = 0; i < (calendar.Selected.FirstDay); i++) {
				var day = document.createElement('li');
				day.className += "cld-day prevMonth";
				//Disabled Days
				var d = i % 7;
				for (var q = 0; q < calendar.Options.DisabledDays.length; q++) {
					if (d == calendar.Options.DisabledDays[q]) {
						day.className += " disableDay";
					}
				}

				var number = DayNumber((calendar.Prev.Days - calendar.Selected.FirstDay) + (i + 1));
				day.appendChild(number);

				days.appendChild(day);
			}
			// Current Month's Days
			for (var i = 0; i < calendar.Selected.Days; i++) {
				var day = document.createElement('li');
				day.className += "cld-day currMonth";
				//Disabled Days
				var d = (i + calendar.Selected.FirstDay) % 7;
				for (var q = 0; q < calendar.Options.DisabledDays.length; q++) {
					if (d == calendar.Options.DisabledDays[q]) {
						day.className += " disableDay";
					}
				}
				var number = DayNumber(i + 1);
				// Check Date against Event Dates
				for (var n = 0; n < calendar.Model.length; n++) {
					var evDate = calendar.Model[n].Date;
					var toDate = new Date(calendar.Selected.Year, calendar.Selected.Month, (i + 1));
					if (evDate.getTime() == toDate.getTime()) {
						number.className += " eventday";
						var title = document.createElement('div');
						title.className += "cld-title";
						if (typeof calendar.Model[n].Link == 'function' || calendar.Options.EventClick) {
							var a = document.createElement('a');
							a.setAttribute('href', '#');
							a.innerHTML += calendar.Model[n].Title;
							if (calendar.Options.EventClick) {
								var z = calendar.Model[n].Link;
								if (typeof calendar.Model[n].Link != 'string') {
									a.addEventListener('click', calendar.Options.EventClick.bind.apply(calendar.Options.EventClick, [null].concat(z)));
									if (calendar.Options.EventTargetWholeDay) {
										day.className += " clickable";
										day.addEventListener('click', calendar.Options.EventClick.bind.apply(calendar.Options.EventClick, [null].concat(z)));
									}
								} else {
									a.addEventListener('click', calendar.Options.EventClick.bind(null, z));
									if (calendar.Options.EventTargetWholeDay) {
										day.className += " clickable";
										day.addEventListener('click', calendar.Options.EventClick.bind(null, z));
									}
								}
							} else {
								a.addEventListener('click', calendar.Model[n].Link);
								if (calendar.Options.EventTargetWholeDay) {
									day.className += " clickable";
									day.addEventListener('click', calendar.Model[n].Link);
								}
							}
							title.appendChild(a);
						} else {
							title.innerHTML += '<span>' + calendar.Model[n].Title + '</span>';
						}
						number.appendChild(title);
					}
				}
				day.appendChild(number);
				// If Today..
				if ((i + 1) == calendar.Today.getDate() && calendar.Selected.Month == calendar.Today.Month && calendar.Selected.Year == calendar.Today.Year) {
					day.className += " today";
				}
				days.appendChild(day);
			}
			// Next Month's Days
			// Always same amount of days in calander
			var extraDays = 13;
			if (days.children.length > 35) { extraDays = 6; }
			else if (days.children.length < 29) { extraDays = 20; }

			for (var i = 0; i < (extraDays - calendar.Selected.LastDay); i++) {
				var day = document.createElement('li');
				day.className += "cld-day nextMonth";
				//Disabled Days
				var d = (i + calendar.Selected.LastDay + 1) % 7;
				for (var q = 0; q < calendar.Options.DisabledDays.length; q++) {
					if (d == calendar.Options.DisabledDays[q]) {
						day.className += " disableDay";
					}
				}

				var number = DayNumber(i + 1);
				day.appendChild(number);

				days.appendChild(day);
			}
			mainSection.appendChild(days);
		}
		if (calendar.Options.Color) {
			mainSection.innerHTML += '<style>.cld-main{color:' + calendar.Options.Color + ';}</style>';
		}
		if (calendar.Options.LinkColor) {
			mainSection.innerHTML += '<style>.cld-title a{color:' + calendar.Options.LinkColor + ';}</style>';
		}
		element.appendChild(mainSection);

		if (calendar.Options.NavShow && calendar.Options.NavVertical) {
			AddSidebar();
		}
		if (calendar.Options.DateTimeShow) {
			AddDateTime();
		}
		AddLabels();
		AddDays();
	}
	var calendarObj = {};
	function caleandar(el, data, settings, date) {
		calendarObj = new Calendar(data, settings, date);
		createCalendar(calendarObj, el);
	}


</script>
<script>
    var hardcodedevents = [
        { 'Date': new Date(2021, 1, 7), 'Title': '<span class="color1"></span>'},
        { 'Date': new Date(2021, 1, 7), 'Title': '<span class="color2"></span>' },
        { 'Date': new Date(2021, 1, 21), 'Title': '<span class="color3"></span>' },

    ];
    var events = [];
    @foreach (var e in Model.Events)
	{
		@:var event = { };
        @:event.Title = '@e.EventHtml';
        @:event.Date = new Date(@e.EventDate.Year, @e.EventDate.Month-1, @e.EventDate.Day); //this new Date() is zero based for months (-1)
        @:events.push(event);
    }
    var settings = {};
	var element = document.getElementById('caleandar');
	caleandar(element, events, settings);
</script>

@section scripts {
	@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnXdBbS_N9Zt81l2V_L-UXYODL6CR8emo"></script>*@
	<script type="text/javascript" src="/Modules/ProfitOptics.Modules.Sox/Content/js/Dashboard.js"></script>
	@*AIzaSyCkR0sRsReF5n8XNi244f7GGnrhK79o5F0*@
	@*AIzaSyDnXdBbS_N9Zt81l2V_L-UXYODL6CR8emo*@
	<script type="text/javascript">
		app.activeMenus = ["menuDashboard", "menuDashboardCalendar"];


		// Document Ready
		$(document).ready(function () {
			//EtlLogs popup
			$(".category-expand").click(function () {
				var popupId = "#" + this.id + "Popup";
				$(popupId).toggle();
			});
			$("span.popUpCloseButton").click(function () {
				var target = document.getElementById(this.id).getAttribute("target-element");
				$("#" + target + "Popup").css("display", "none");
			});
			ShowMapWithMarkers("mapDiv");
            SetInventoryAlertStatus();
            SetSystemAlertStatus();
		});

		// Encapsulate page logic. Check out page.js for example of public and private methods and properties
		(function (page, $, undefined) {

		}(window.page = window.page || {}, jQuery));
	</script>

}

