﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.DashboardModel
@using ProfitOptics.Modules.Sox.Helpers;
@{
	ViewBag.Title = "Dashboard";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
	.eventsRow {
		width: 100%;
		height: auto;
		position: relative !important;
		left: 0% !important;
		margin-right: 0% !important;
	}

	.fc-content:hover {
		cursor: pointer;
	}

	.fc-custom-title {
		width: 111px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: normal;
		font-size: 11px;
	}

	.iconBoxContainer {
		display: inline-block;
		width: 60px;
		margin: 0 12px
	}

		.iconBoxContainer div {
			font-weight: normal;
			font-size: 11px;
			margin-top: 6px;
			text-transform: uppercase;
		}

	.mainIconsContainer {
		width: 60px;
		height: 60px;
		cursor: pointer;
	}

	.staffingIcon {
		background-image: url("/img/header-icon-1.svg");
	}

		.staffingIcon.active {
			background-image: url("/img/header-icon-1-active.svg");
		}

		.staffingIcon.clickable {
			background-image: url("/img/header-icon-1-clickable.svg");
		}

	.logisticsIcon {
		background-image: url("/img/header-icon-2.svg");
	}

		.logisticsIcon.active {
			background-image: url("/img/header-icon-2-active.svg");
		}

		.logisticsIcon.clickable {
			background-image: url("/img/header-icon-2-clickable.svg");
		}

	.vehicleIcon {
		background-image: url("/img/header-icon-3.svg");
	}

		.vehicleIcon.active {
			background-image: url("/img/header-icon-3-active.svg");
		}

		.vehicleIcon.clickable {
			background-image: url("/img/header-icon-3-clickable.svg");
		}

	.scheduleIcon {
		background-image: url("/img/header-icon-4.svg");
	}

		.scheduleIcon.active {
			background-image: url("/img/header-icon-4-active.svg");
		}

		.scheduleIcon.clickable {
			background-image: url("/img/header-icon-4-clickable.svg");
		}

	.inventoryIcon {
		background-image: url("/img/header-icon-5.svg");
	}

		.inventoryIcon.active {
			background-image: url("/img/header-icon-5-active.svg");
		}

		.inventoryIcon.clickable {
			background-image: url("/img/header-icon-5-clickable.svg");
		}

	.weatherIcon {
		background-image: url("/img/header-icon-6.svg");
	}

		.weatherIcon.active {
			background-image: url("/img/header-icon-6-active.svg");
		}

		.weatherIcon.clickable {
			background-image: url("/img/header-icon-6-clickable.svg");
		}

	.apisIcon {
		background-image: url("/img/header-icon-7.svg");
	}

		.apisIcon.active {
			background-image: url("/img/header-icon-7-active.svg");
		}

		.apisIcon.clickable {
			background-image: url("/img/header-icon-7-clickable.svg");
		}
    .alertsIcon {
        background-image: url("/img/header-icon-8.svg");
    }

        .alertsIcon.active {
            background-image: url("/img/header-icon-8-active.svg");
        }

        .alertsIcon.clickable {
            background-image: url("/img/header-icon-8-clickable.svg");
        }
	/*.center {
		margin: auto;
		width: 50%;
		border: 3px solid green;
		padding: 10px;
	}*/
</style>
<link href='https://unpkg.com/@@fullcalendar/core@4.4.2/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@@fullcalendar/daygrid@4.4.2/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@@fullcalendar/timegrid@4.4.2/main.min.css' rel='stylesheet' />


<script src='https://unpkg.com/@@fullcalendar/core@4.4.2/main.min.js'></script>
<script src='https://unpkg.com/@@fullcalendar/interaction@4.4.2/main.min.js'></script>
<script src='https://unpkg.com/@@fullcalendar/daygrid@4.4.2/main.min.js'></script>
<script src='https://unpkg.com/@@fullcalendar/timegrid@4.4.2/main.min.js'></script>


<script src="/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>
<link href="/AdminLTE/plugins/datepicker/datepicker3.css" rel="stylesheet" />

@*<script src='fullcalendar/daygrid/main.js'></script>*@

@*<div class="row">
		<div class="col-md-2">
			<h1>Dashboard</h1>
		</div>
		<div class="col-md-2">
			<select class="form-control">
				<option value="">Chicago</option>
			</select>
		</div>
		<div class="col-md-8 text-right">
			<button class="btn btn-primary">Create Dispatch</button>
			<button class="btn btn-primary">Create Case</button>
			<button class="btn btn-primary">Create Replenishment Order</button>
		</div>
	</div>*@
<div class="row">
	<div class="col-md-12 text-center">
		<div class="box box-primary">
            <div class="box-body">
                <div class="iconBoxContainer">
                    <div class="mainIconsContainer staffingIcon active"></div>
                    <div>Staffing</div>
                </div>
                <div class="iconBoxContainer">
                    <div class="mainIconsContainer logisticsIcon"></div>
                    <div>Logistics</div>
                </div>
                <div class="iconBoxContainer">
                    <div class="mainIconsContainer vehicleIcon clickable"></div>
                    <div>Vehicle</div>
                </div>
                <div class="iconBoxContainer">
                    <div class="mainIconsContainer scheduleIcon"></div>
                    <div>Schedule</div>
                </div>
                <div class="iconBoxContainer" onclick="location.href='@Url.Action("TraysManagement","Sox")'">
                    <div class="mainIconsContainer inventoryIcon"></div>
                    <div>Inventory</div>
                    <div id="numberLabelInventory" style="display:none" class="numberLabelInventory"></div>
                </div>
                <div class="iconBoxContainer">
                    <div class="mainIconsContainer weatherIcon active"></div>
                    <div>Weather</div>
                </div>
                <div class="iconBoxContainer category-expand" id="EtlLogs">
                    <div class="mainIconsContainer apisIcon active"></div>
                    <div>APIs</div>
                    <div class="timeline-subBox" id="EtlLogsPopup" style="display:none; text-align:center;">
                        @*<span class="popUpCloseButton" id="EtlLogsCloseBtn" target-element="EtlLogs">X</span>*@
                        <h1>ETL Status</h1>
                        <div>
                            @if (Model != null && Model.ETLLogWWOrder != null && Model.ETLLogWWOrder.Status == "OK")
                            {

                                <p style="color:green">Sync Orders: @Model.ETLLogWWOrder.ProcessingTime</p>
                            }
                            else
                            {
                                if (Model != null && Model.ETLLogWWOrder != null)
                                {
                                    <p style="color:red">Sync Orders: @Model.ETLLogWWOrder.ProcessingTime</p>
                                }
                                else
                                {
                                    <p style="color:red">Sync Orders: No Data</p>
                                }

                            }
                            <br />
                            <br />
                            @if (Model != null && Model.ETLLogWWRoute != null && Model.ETLLogWWRoute.Status == "OK")
                            {

                                <p style="color:green">Sync Routes: @Model.ETLLogWWRoute.ProcessingTime</p>
                            }
                            else
                            {
                                if (Model != null && Model.ETLLogWWRoute != null)
                                {
                                    <p style="color:red">Sync Routes: @Model.ETLLogWWRoute.ProcessingTime</p>
                                }
                                else
                                {
                                    <p style="color:red">Sync Routes: No Data</p>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="iconBoxContainer" onclick="location.href='@Url.Action("SystemAlerts","Sox")'">
                    <div class="mainIconsContainer alertsIcon clickable"></div>
                    <div>Alerts</div>
                    <div id="numberLabelTrayAlers" style="display:none" class="numberLabelInventory"></div>
                </div>
            </div>

		</div>
	</div>
</div>

<div class="row" style="margin-top:10px">
	<div class="col-md-12">
		<div class="box box-primary">
			<form asp-action="Dashboard" asp-controller="Sox" method="get" role="form" id="filterForm">
				<div class="box-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-1 control-label">Case Ref</label>
							<div class="col-md-3">
								<input type="text" class="form-control" asp-for="CaseReference" />
							</div>
							@if (User.IsInRole("vendoruser"))
							{
								<label class="col-md-1 control-label">Vendor</label>
								<div class="col-md-3">
									<select data-val="true" class="select2-customers form-control " id="vendorList" name="SelectedVendors" asp-for="SelectedVendors" style="width: 100%">
										<option disabled selected value">Select vendor</option>
										@foreach (var vendor in Model.GCVendors)
										{
											<option value="@vendor.Value">@vendor.Text</option>
										}
									</select>
								</div>
							}
							else if (User.IsInRole("customeruser"))
							{
								<label class="col-md-1 control-label">Customer</label>
								<div class="col-md-3">
									<select data-val="true" class="select2-customers form-control " id="customerList" name="SelectedCustomers" asp-for="SelectedCustomers" style="width: 100%">
										<option disabled selected value">Select customer</option>
										@foreach (var customer in Model.GCCustomers)
										{
											<option value="@customer.Value">@customer.Text</option>
										}
									</select>
								</div>
							}
							else if (User.IsInRole("superadmin") || User.IsInRole("admin"))
							{
								<label class="col-md-1 control-label">Vendor</label>
								<div class="col-md-3">
									<select data-val="true" class="select2-customers form-control " id="vendorList" name="SelectedVendors" asp-for="SelectedVendors" style="width: 100%">
										<option disabled selected value">Select vendor</option>
										@foreach (var vendor in Model.GCVendors)
										{
											<option value="@vendor.Value">@vendor.Text</option>
										}
									</select>
								</div>

								<label class="col-md-1 control-label">Customer</label>
								<div class="col-md-3">
									<select data-val="true" class="select2-customers form-control " id="customerList" name="SelectedCustomers" asp-for="SelectedCustomers" style="width: 100%">
										<option disabled selected value">Select customer</option>
										@foreach (var customer in Model.GCCustomers)
										{
											<option value="@customer.Value">@customer.Text</option>
										}
									</select>
								</div>
							}

						</div>
						<div class="form-group" style="margin-bottom:0">
							@*<label class="col-md-1 control-label">Date</label>
								<div class="col-md-3">
									<div class="input-group date">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" class="form-control pull-right" id="datepicker">
									</div>
								</div>*@
							<label class="col-md-1 control-label">Surgeon</label>
							<div class="col-md-3">
								<input type="text" class="form-control" asp-for="Surgeon" />
							</div>

						</div>
					</div>

				</div>
				<div class="box-footer">
					<div class="col-md-12 text-right">
						<button type="submit" class="btn btn-primary">Apply</button>
						<button type="button" class="btn btn-link" onclick="ReloadPage()">Clear</button>
					</div>
				</div>
			</form>
		</div>
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">Case Schedule</h3>
				<div class="clearfix"></div>
				@if (Model.LatestETLLogs != null && Model.LatestETLLogs.LatestETLLog != null)
				{
					<p style="float:right; margin-left:15px; @(Model.LatestETLLogs.LatestETLLog.IsTimeExceeded ? "color:red;" : "")" class="box-title small-device-left-align"><small><b>Latest Update: @Model.LatestETLLogs?.LatestETLLog?.ProcessingTime.GetLocalDateTime().ToString()</b></small></p>
					@*<p style="color:green; float:right; margin-right:15px" class="box-title small-device-left-align"><small><b>Latest Successful Update: @Model.LatestETLLogs?.LatestSuccessfulETLLog?.ProcessingTime.GetLocalDateTime().ToString()</b></small></p>*@
					<a href="@Url.Action("ETLLogs", "Sox")" style="color:green; float:right; margin-right:15px" class="box-title small-device-left-align">
						<small><b>Latest Successful Update: @Model.LatestETLLogs?.LatestSuccessfulETLLog?.ProcessingTime.GetLocalDateTime().ToString()</b></small>
					</a>
				}
				else
				{
					<p style="float:right; margin-left:15px;" class="box-title"><small><b>Latest Update: No data</b></small></p>
					<p style="color:green; float:right; margin-right:15px" class="box-title"><small><b>Latest Successful Update: No data</b></small></p>
				}

			</div>
			<div class="box-body" style="position:relative">
				<div id="calendar"></div>
			</div>
		</div>
	</div>

	<input type="hidden" id="GetEventDetailsUrl" value="@Url.Action("GetEventDetails","Sox")" />
</div>
<!-- Modal -->
<div id="eventDetailsDialogHolder"></div>


@section scripts {

	<!-- bootstrap datepicker -->
	<script src="~/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>

	<script type="text/javascript">
		app.activeMenus = ["menuDashboard", "menuDashboardCalendar"];


		// Document Ready
		$(document).ready(function () {
			//EtlLogs popup
			$(".category-expand").click(function () {
				var popupId = "#" + this.id + "Popup";
				$(popupId).toggle();
			});
			$("span.popUpCloseButton").click(function () {
				var target = document.getElementById(this.id).getAttribute("target-element");
				$("#" + target + "Popup").css("display", "none");
			});

			// select day calendar in small devices
			setTimeout(function () {
				if ($(window).width() < 768) {
					$(".fc-timeGridDay-button.fc-button.fc-button-primary").click();
				}
			}, 500);

			SetInventoryAlertStatus();
			SetSystemAlertStatus();
		});

		// Encapsulate page logic. Check out page.js for example of public and private methods and properties
		(function (page, $, undefined) {

		}(window.page = window.page || {}, jQuery));
	</script>

	<script>
        var events = [];
		var todaysDate = "@DateTime.Now.ToString("yyyy-MM-dd")";
    @foreach (var e in Model.Events)
	{
		@:var event = { };
        @:event.title = '@e.EventHtml';
        @:event.start = "@e.Start.ToString("yyyy-MM-ddTHH:mm:ss")";
        @:event.end = "@e.End.ToString("yyyy-MM-ddTHH:mm:ss")";
		@:event.color = "@e.EventColor";
        @:events.push(event);
    }


        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {

                customButtons: {
                    myCustomButton: {
                        text: 'Date Picker',
                        click: function () {
                            $('.fc-myCustomButton-button').datepicker().on('changeDate', function (ev) {
                                var date = $(this).datepicker('getDate');

                                calendar.gotoDate(date)
                                calendar.changeView('timeGridDay', date);

                            })
                        }
                    }
                },


                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                defaultView: 'timeGridWeek',
                disableDragging: true,
				defaultDate: todaysDate,
                header: {
                    left: 'prev,myCustomButton,next today ',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                eventRender: function (info) {
                    info.el.querySelector('.fc-content').innerHTML = `${info.event.title}`;

                    $('.fc-myCustomButton-button').datepicker().on('changeDate', function (ev) {
                        var date = $(this).datepicker('getDate');

                        calendar.gotoDate(date)
                        calendar.changeView('timeGridDay', date);

                    })
                },

                allDaySlot: false,

				events: events,
            });

            calendar.render();

            $('.fc-myCustomButton-button').datepicker().on('changeDate', function (ev) {
                var date = $(this).datepicker('getDate');

                calendar.gotoDate(date)
                calendar.changeView('timeGridDay', date);

                //calendar.setOption('defaultView', 'timeGridDay');
                //calendar.setOption('defaultDate', date);
                //calendar.render();
            })

		});

   //     function ShowEventDetails(date, btnColor, el) {
			////app.AjaxUpdateUserDialog(data).done(function (returnData) {
			////	$("#eventDetailsDialogHolder").html(returnData);
			////	$("#eventDetailsDialog").modal({ show: true });

			////});

   //         $(el).attr("disabled", "disabled");

			//$.ajax({
			//	url: $("#GetEventDetailsUrl").val(),
			//	type: "json",
			//	method: "POST",
			//	data: {
   //                 date: date,
   //                 btnColor: btnColor
			//	},
			//	success: function (result) {
			//		$("#eventDetailsDialogHolder").html(result);
   //                 $("#eventDetailsDialog").modal({ show: true });

   //                 setTimeout('$(el).removeAttr("disabled")', 1500);
			//	}
			//});
   //     }

        function ReloadPage() {
            $("#CaseReference").val("");
            $("#Surgeon").val("");
            $("#vendorList").val("");
            $("#customerList").val("");

            //location.reload();
			document.getElementById("filterForm").submit();
		}

	</script>

}

