﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.ETLLogsModel
@using ProfitOptics.Modules.Sox.Models.ViewModels;
@using ProfitOptics.Modules.Sox.Helpers;
@{
    ViewBag.Title = "ETL Logs";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
    .ellipsis {
        white-space: nowrap;
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid #000000;
    }
</style>

<section class="content-header">
    <h1 class="pull-left">
        ETL Logs
    </h1>
    <div class="pull-right">
       
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <button type="button" id="syncOrdersWithWorkWave" style="float:right;margin-bottom:10px;" class="btn btn-primary">Sync Orders With WorkWave</button>
    <button type="button" id="syncRoutesWithWorkWave" style="float:right;margin-bottom:10px;margin-right:10px" class="btn btn-primary">Sync Routes With WorkWave</button>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body" style="overflow-x: scroll;">

                    <table class="table tableUsers table-hover" id="etlLogsTable">
                        <thead>
                            <tr>
                                <th>Source</th>
                                <th>Total time</th>
                                <th>Processing time</th>
                                <th>Status</th>
                                <th>Message</th>
                                <th>Action type</th>
                                <th>Description</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var log in Model.ETLLogs)
                            {
                                <tr style="background-color:@((log.Status == "Error") ? "#FFB6C1" : "#FFFFFF") ">
                                    <td>@log.Source</td>
                                    <td>@log.Username</td>
                                    <td>@log.ProcessingTime.GetLocalDateTime().ToString()</td>
                                    <td>@log.Status</td>
                                    <td>@log.Message</td>
                                    <td>@log.ActionType</td>
                                    <td><p class="ellipsis" style="width:200px; border:0 !important" data-toggle="tooltip" title="@log.Description">@log.Description</p></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="overlay table-overlay" style="display: none;" hidden=""><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-xs-12">
            <h1>CensiTrack Sync</h1>
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row" style="margin-bottom:10px">
                        <input type="button" style="margin-left:5px; margin-right:5px; width:360px" value="Sync cases" class="btn btn-primary col-xs-3" onclick="location.href='@Url.Action("TriggerJobs", "Sox", new { jobNumber = 9})'" />
                        <input type="button" style="margin-left:5px; margin-right:5px; width:360px" value="Sync CTContainerTypeGraphicMedia" class="btn btn-primary col-xs-3" onclick="location.href='@Url.Action("TriggerJobs", "Sox", new { jobNumber = 15})'" />
                        <input type="button" style="margin-left:5px; margin-right:5px; width:360px" value="Sync CTLocations" class="btn btn-primary col-xs-3" onclick="location.href='@Url.Action("TriggerJobs", "Sox", new { jobNumber = 12})'" />
                        <input type="button" style="margin-left:5px; margin-right:5px; width:360px" value="Sync CTBILoadResults" class="btn btn-primary col-xs-3" onclick="location.href='@Url.Action("TriggerJobs", "Sox", new { jobNumber = 16})'" />
                    </div>
                    
                    <div class="row" style="margin-top:10px">
                        <input type="button" style="margin-left:5px; margin-right:5px; width:360px" value="Sync ContainerAssemblyMediaForActuals" class="btn btn-primary col-xs-3" onclick="location.href='@Url.Action("TriggerJobs", "Sox", new { jobNumber = 18})'" />
                        <input type="button" style="margin-left:5px; margin-right:5px; width:360px" value="Sync CTContainerServices" class="btn btn-primary col-xs-3" onclick="location.href='@Url.Action("TriggerJobs", "Sox", new { jobNumber = 3})'" />
                        <input type="button" style="margin-left:5px; margin-right:5px; width:360px" value="Sync CompleteBrokenTrayHistory" class="btn btn-primary col-xs-3" onclick="location.href='@Url.Action("TriggerJobs", "Sox", new { jobNumber = 22})'" />
                        <input type="button" style="margin-left:5px; margin-right:5px; width:360px" value="CreateGCImageThumbnails" class="btn btn-primary col-xs-3" onclick="location.href='@Url.Action("TriggerJobs", "Sox", new { jobNumber = 21})'" />
                    </div>
                  

                </div>
            </div>
        </div>
    </div>

   
</section>

<script>
    app.activeMenus = ["menuAdmin", "menuAdminETLLogs"];
    $(document).ready(function () {
        $('#etlLogsTable').DataTable();
    });

</script>