﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.GCLocationsModel
@using  ProfitOptics.Modules.Sox.Models.ViewModels
@using ProfitOptics.Modules.Sox.Helpers;
@{
	ViewBag.Title = "Facility Management";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="/AdminLTE/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
<style>
	.tableUsers th, .tableUsers td {
		font-family: Arial, sans-serif;
		padding: 12px 10px !important
	}

	table.tableUsers {
		border-collapse: separate !important;
	}

	.tableUsers th {
		background: white;
		border-bottom-width: 1px;
	}

	thead tr th {
		border-color: white !important;
		text-align: left !important
	}

	.bootstrap-timepicker-meridian.form-control {
		padding: 0 !important;
	}
</style>

<style>
	.eventsRow {
		width: 100%;
		height: auto;
		position: relative !important;
		left: 0% !important;
		margin-right: 0% !important;
	}

	.fc-content:hover {
		cursor: pointer;
	}

	.fc-custom-title {
		width: 111px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: normal;
		font-size: 11px;
	}

	.iconBoxContainer {
		display: inline-block;
		width: 60px;
		margin: 0 12px
	}

		.iconBoxContainer div {
			font-weight: normal;
			font-size: 11px;
			margin-top: 6px;
			text-transform: uppercase;
		}

	.mainIconsContainer {
		width: 60px;
		height: 60px;
		cursor: pointer;
	}

	.staffingIcon {
		background-image: url("/img/header-icon-1.svg");
	}

		.staffingIcon.active {
			background-image: url("/img/header-icon-1-active.svg");
		}

		.staffingIcon.clickable {
			background-image: url("/img/header-icon-1-clickable.svg");
		}

	.logisticsIcon {
		background-image: url("/img/header-icon-2.svg");
	}

		.logisticsIcon.active {
			background-image: url("/img/header-icon-2-active.svg");
		}

		.logisticsIcon.clickable {
			background-image: url("/img/header-icon-2-clickable.svg");
		}

	.vehicleIcon {
		background-image: url("/img/header-icon-3.svg");
	}

		.vehicleIcon.active {
			background-image: url("/img/header-icon-3-active.svg");
		}

		.vehicleIcon.clickable {
			background-image: url("/img/header-icon-3-clickable.svg");
		}

	.scheduleIcon {
		background-image: url("/img/header-icon-4.svg");
	}

		.scheduleIcon.active {
			background-image: url("/img/header-icon-4-active.svg");
		}

		.scheduleIcon.clickable {
			background-image: url("/img/header-icon-4-clickable.svg");
		}

	.inventoryIcon {
		background-image: url("/img/header-icon-5.svg");
	}

		.inventoryIcon.active {
			background-image: url("/img/header-icon-5-active.svg");
		}

		.inventoryIcon.clickable {
			background-image: url("/img/header-icon-5-clickable.svg");
		}

	.weatherIcon {
		background-image: url("/img/header-icon-6.svg");
	}

		.weatherIcon.active {
			background-image: url("/img/header-icon-6-active.svg");
		}

		.weatherIcon.clickable {
			background-image: url("/img/header-icon-6-clickable.svg");
		}

	.apisIcon {
		background-image: url("/img/header-icon-7.svg");
	}

		.apisIcon.active {
			background-image: url("/img/header-icon-7-active.svg");
		}

		.apisIcon.clickable {
			background-image: url("/img/header-icon-7-clickable.svg");
		}

	/*.center {
		margin: auto;
		width: 50%;
		border: 3px solid green;
		padding: 10px;
	}*/
</style>

<section class="content-header">
	<h1 class="pull-left" style="margin-bottom: 5px;">
		Facility Management
	</h1>
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="box box-primary">
				<div class="box-body">
					<div class="iconBoxContainer">
						<div class="mainIconsContainer staffingIcon active"></div>
						<div>Staffing</div>
					</div>
					<div class="iconBoxContainer">
						<div class="mainIconsContainer logisticsIcon"></div>
						<div>Logistics</div>
					</div>
					<div class="iconBoxContainer">
						<div class="mainIconsContainer vehicleIcon clickable"></div>
						<div>Vehicle</div>
					</div>
					<div class="iconBoxContainer">
						<div class="mainIconsContainer scheduleIcon"></div>
						<div>Schedule</div>
					</div>
					<div class="iconBoxContainer">
						<div class="mainIconsContainer inventoryIcon"></div>
						<div>Inventory</div>
					</div>
					<div class="iconBoxContainer">
						<div class="mainIconsContainer weatherIcon active"></div>
						<div>Weather</div>
					</div>
					<div class="iconBoxContainer category-expand" id="EtlLogs">
						<div class="mainIconsContainer apisIcon active"></div>
						<div>APIs</div>

					</div>

				</div>

			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</section>

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-body" style="overflow-x: scroll;">
					<div>
						<form asp-controller="Sox" asp-action="UploadLocationInfoReport" method="post" enctype="multipart/form-data">
							<input style="display:inline !important" type="file" name="file" />
							<button type="submit" onclick="OnReportUpload()" class="btn btn-primary">Upload BAS Report</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-body" style="overflow-x: scroll;">

					<table class="table tableUsers table-hover" id="locationsTable">
						<thead>
							<tr>
								<th>Title</th>
								@*<th>Code</th>*@
								<th>Temperatute(°F)</th>
								<th>Humidity(%RH)</th>
								<th>ACPH</th>
								<th>Pressure(in/wc)</th>
								<th>Timestamp</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var location in Model.Locations)
							{
							<tr>
								<td><a href="@Url.Action("LocationInfos", "Sox", new { locationId = location.GCLocaton.Id})">@location.GCLocaton.Title</a></td>
								@*<td>@location.GCLocaton.Code</td>*@
								<td>@location.GCLocationInfo.Temperature</td>
								<td>@location.GCLocationInfo.Humidity</td>
								<td>@location.GCLocationInfo.ACPH</td>
								<td>@location.GCLocationInfo.Pressure</td>
								@if (location.GCLocationInfo.Timestamp != null)
								{
									<td>@location.GCLocationInfo.Timestamp.GetLocalDateTimeString()</td>
								}
								else
								{
									<td></td>
								}
							</tr>
							}

						</tbody>
					</table>
				</div>
				<div class="overlay table-overlay" style="display: none;" hidden=""><i class="fa fa-refresh fa-spin"></i></div>
				<!-- /.box-body -->
			</div>
		</div>
	</div>
</section>

<script>
	@if(User.IsInRole("customeruser"))
	{
		@:app.activeMenus = ["menuProviderManufacturer", "menuProviderManufacturerFacilityManagement"];
	}
	else
	{
		@:app.activeMenus = ["menuAdmin", "menuAdminFacilityManagement"];
	}

	$(document).ready(function () {
		$('#locationsTable').DataTable({
			/* No ordering applied by DataTables during initialisation */
			"order": []
		});
	});

	function OnReportUpload() {
		$.blockUI();
	}
</script>