﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.GCCasesModel

@{
	ViewBag.Title = "Case List";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="/AdminLTE/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
<style>
	.tableUsers th, .tableUsers td {
		font-family: Arial, sans-serif;
		padding: 12px 10px !important
	}

	table.tableUsers {
		border-collapse: separate !important;
	}

	.tableUsers th {
		background: white;
		border-bottom-width: 1px;
	}

	thead tr th {
		border-color: white !important;
		text-align: left !important
	}

	.bootstrap-timepicker-meridian.form-control {
		padding: 0 !important;
	}
</style>

<section class="content-header">
	<h1 class="pull-left">
		Ground Control Cases
	</h1>
	<div class="pull-right">
		@*<button id="addNewUserButton" class="btn btn-primary" type="button" data-toggle="modal" data-target="#editModal">
				Add New
			</button>*@
	</div>
	<div class="clearfix"></div>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-body">
					<form asp-action="Index" asp-controller="Sox" method="get" role="form" id="filterForm">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="col-md-1 control-label">Case Ref</label>
								<div class="col-md-3">
									<input type="text" class="form-control" asp-for="CaseReference" />
								</div>
								@if (User.IsInRole("vendoruser"))
								{
									<label class="col-md-1 control-label">Vendor</label>
									<div class="col-md-3">
										<select data-val="true" class="select2-customers form-control " id="vendorList" name="SelectedVendor" asp-for="SelectedVendor" style="width: 100%">
											<option disabled selected value">Select vendor</option>
											@foreach (var vendor in Model.GCVendors)
											{
												<option value="@vendor.Value">@vendor.Text</option>
											}
										</select>
									</div>
								}
								else if (User.IsInRole("customeruser"))
								{
									<label class="col-md-1 control-label">Provider</label>
									<div class="col-md-3">
										<select data-val="true" class="select2-customers form-control " id="customerList" name="SelectedCustomer" asp-for="SelectedCustomer" style="width: 100%">
											<option disabled selected value">Select provider</option>
											@foreach (var customer in Model.GCCustomers)
											{
												<option value="@customer.Value">@customer.Text</option>
											}
										</select>
									</div>
								}
								else if (User.IsInRole("superadmin") || User.IsInRole("admin"))
								{
									<label class="col-md-1 control-label">Vendor</label>
									<div class="col-md-3">
										<select data-val="true" class="select2-customers form-control " id="vendorList" name="SelectedVendor" asp-for="SelectedVendor" style="width: 100%">
											<option disabled selected value">Select vendor</option>
											@foreach (var vendor in Model.GCVendors)
											{
												<option value="@vendor.Value">@vendor.Text</option>
											}
										</select>
									</div>

									<label class="col-md-1 control-label">Customer</label>
									<div class="col-md-3">
										<select data-val="true" class="select2-customers form-control " id="customerList" name="SelectedCustomer" asp-for="SelectedCustomer" style="width: 100%">
											<option disabled selected value">Select customer</option>
											@foreach (var customer in Model.GCCustomers)
											{
												<option value="@customer.Value">@customer.Text</option>
											}
										</select>
									</div>
								}
								@*<label class="col-md-1 control-label">Vendor</label>
									<div class="col-md-3">
										<select data-val="true"  class="select2-customers form-control" id="vendorList" name="SelectedVendor" asp-for="SelectedVendor" style="width: 100%">
											<option disabled selected value">Select vendor</option>
											@foreach (var vendor in Model.GCVendors)
											{
												<option value="@vendor.Value">@vendor.Text</option>
											}
										</select>
									</div>*@
								@*<label class="col-md-1 control-label">Customer</label>
									<div class="col-md-3">
										<select data-val="true" class="select2-customers form-control" id="customerList" name="SelectedCustomer" asp-for="SelectedCustomer" style="width: 100%">
											<option disabled selected value">Select customer</option>
											@foreach (var customer in Model.GCCustomers)
											{
												<option value="@customer.Value">@customer.Text</option>
											}
										</select>
									</div>*@
							</div>
							<div class="form-group" style="margin-bottom:0">

								<label class="col-md-1 control-label">Surgeon</label>
								<div class="col-md-3">
									<input type="text" class="form-control" asp-for="Surgeon" />
								</div>
								<div class="col-md-12 text-right mobileFixBoxFooterButtons">
									<button type="submit" class="btn btn-primary">Apply</button>
									<button type="button" class="btn btn-default" onclick="ReloadPage()">Clear</button>
									<button type="button" id="syncOrdersWithWorkWave" class="btn btn-primary">Sync Orders With WorkWave</button>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
			<div class="box box-primary">
				<div class="box-body">

					<div class="table-responsive">
						<table class="table tableUsers table-hover" id="gcCases">
							<thead>
								<tr>
									<th>ID</th>
									<th>CensiTrack Case Id</th>
									<th>CensiTrack Case Reference</th>
									<th>Outgoing Order Reference</th>
									<th>Incoming Order Reference</th>
									<th>Due Date</th>
									<th>Status</th>

								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.GCCases)
								{
									<tr style=" background-color:@(item.IsCanceled ? "lightgray" : "white")">
										<td>@item.Id</td>
										<td>@item.CTCaseId</td>
										<td><a href="@Url.Action("CaseDetails","Sox",new { id=item.Id})" class="more-link">@item.Title</a></td>
										<td><a href="https://routemanager.workwave.com/#/login">@item.OutgoingOrderId</a></td>
										<td><a href="https://routemanager.workwave.com/#/login">@item.IncomingOrderId</a></td>
										@*<td>@item.OutgoingOrderId</td>*@
										@*<td>@item.IncomingOrderId</td>*@
										<td>@item.CTCase.DueTimestamp</td>
										@if (item.IncomingOrderId == null && item.OutgoingOrderId == null)
										{
											<td style="color:red">Not Submitted to WorkWave</td>
										}
										else if (item.IncomingOrderId == null)
										{
											<td style="color:orange">No Incoming Order</td>
										}
										else if (item.OutgoingOrderId == null)
										{
											<td style="color:orange">No Outgoing Order</td>
										}
										else
										{
											<td style="color:green">Submitted to WorkWave</td>
										}

									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
				<div class="overlay table-overlay" style="display: none;" hidden=""><i class="fa fa-refresh fa-spin"></i></div>
				<!-- /.box-body -->
			</div>
		</div>
	</div>
</section>
@await Html.PartialAsync("_ShowResultsModal.cshtml")

<script src="/AdminLTE/plugins/timepicker/bootstrap-timepicker.js"></script>
<script>
	app.activeMenus = ["menuDashboard", "menuDashboardCaseList"];

	$(document).ready(function () {
		$('#gcCases').DataTable({
			"order": [[0, "desc"]]
		});
		$('#timepicker0').timepicker();
		$('#timepicker1').timepicker();
	});

	function ReloadPage() {
		$("#CaseReference").val("");
		$("#Surgeon").val("");
		$("#vendorList").val("");
		$("#customerList").val("");
		//location.reload();
		document.getElementById("filterForm").submit();
	}
</script>


