﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.IsTrayInPreppedStatusModel
@{
    ViewBag.Title = "Tray Pickup";
}

<h1>Tray Pickup</h1>
<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-header">
				<h3 class="box-title">Is the tray sprayed?</h3>
            </div>
			<div class="box-footer">
				<input type="button" class="btn btn-primary pull-right" value="Yes" onclick="location.href='@Url.Action("PhotoCapture", "Sox", new { isYes = true, code = Model.Code, trayId = Model.TrayId})'">
				<input type="button" class="btn btn-default btn-outline pull-left" value="No" onclick="location.href='@Url.Action("PhotoCapture", "Sox", new { isYes = false, code = Model.Code, trayId = Model.TrayId})'">
				<div class="clearfix"></div>
			</div>
        </div>
    </div>
</div>



<script>
    app.activeMenus = ["menuFieldService", "menuFieldServiceTrayPickup"];
</script>