﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.GCLocationInfosModel
@using  ProfitOptics.Modules.Sox.Models.ViewModels
@{
	ViewBag.Title = "Tray Management";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@*<link href="/AdminLTE/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />*@
<style>
	.tableUsers th, .tableUsers td {
		font-family: Arial, sans-serif;
		padding: 12px 10px !important
	}

	table.tableUsers {
		border-collapse: separate !important;
	}

	.tableUsers th {
		background: white;
		border-bottom-width: 1px;
	}

	thead tr th {
		border-color: white !important;
		text-align: left !important
	}

	.bootstrap-timepicker-meridian.form-control {
		padding: 0 !important;
	}
</style>

@*<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>*@
@*<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>*@
@*<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />*@


@*<script src="~/Content/js/moment.min.js"></script>
	<script src="~/Content/js/daterangepicker.js"></script>*@
@section styles{
	<link href="/Modules/ProfitOptics.Modules.Sox/Content/css/daterangepicker.css" rel="stylesheet" />
}

@*<link href='https://unpkg.com/@@fullcalendar/core@4.4.2/main.min.css' rel='stylesheet' />
	<link href='https://unpkg.com/@@fullcalendar/daygrid@4.4.2/main.min.css' rel='stylesheet' />
	<link href='https://unpkg.com/@@fullcalendar/timegrid@4.4.2/main.min.css' rel='stylesheet' />


	<script src='https://unpkg.com/@@fullcalendar/core@4.4.2/main.min.js'></script>
	<script src='https://unpkg.com/@@fullcalendar/interaction@4.4.2/main.min.js'></script>
	<script src='https://unpkg.com/@@fullcalendar/daygrid@4.4.2/main.min.js'></script>
	<script src='https://unpkg.com/@@fullcalendar/timegrid@4.4.2/main.min.js'></script>

	<link href="/AdminLTE/plugins/datepicker/datepicker3.css" rel="stylesheet" />

	<script src="~/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>*@

<section class="content-header">
	<h1 class="pull-left">
		Location Info - @Model.LocationTitle
	</h1>
	<div class="pull-right">

	</div>
	<div class="clearfix"></div>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-body" style="overflow-x: scroll;">
					<div>
						<input type="hidden" id="startHidden">
						<input type="hidden" id="endHidden">
						<input type="hidden" id="LocationId" value="@Model.LocationId">

					</div>
					<div class="fc-left">
						<div class="fc-button-group mobileFixDatePickerControl">
							@*<input type="text" name="daterange" value="01/01/2021 - 01/15/2021" />*@
							<span>Choose date range: </span>
							<input type="text" name="daterange" style="margin-bottom:5px" value="@DateTime.Now.AddDays(-1) - @DateTime.Now" />
						</div>


					</div>

					<table class="table tableUsers table-hover" id="locationInfosTable">
						<thead>
							<tr>
								@*<th>Location title</th>*@
								<th>Timestamp</th>
								<th>Temperature(°F)</th>
								<th>Humidity(%RH)</th>
								<th>ACPH</th>
								<th>Pressure(in/wc)</th>

							</tr>
						</thead>
						@*<tbody>
								@foreach (var locationInfo in Model.LocationInfos)
								{
									<tr>
										<td>@locationInfo.Timestamp</td>
										<td>@locationInfo.Temperature</td>
										<td>@locationInfo.Humidity</td>
										<td>@locationInfo.ACPH</td>
										<td>@locationInfo.Pressure</td>

									</tr>
								}

							</tbody>*@
					</table>
				</div>
				<div class="overlay table-overlay" style="display: none;" hidden=""><i class="fa fa-refresh fa-spin"></i></div>
				<!-- /.box-body -->
			</div>
		</div>
	</div>
</section>
<script>

	@if(User.IsInRole("customeruser"))
	{
		@:app.activeMenus = ["menuProviderManufacturer", "menuProviderManufacturerFacilityManagement"];
	}
	else
	{
		@:app.activeMenus = ["menuAdmin", "menuAdminFacilityManagement"];
	}
</script>
@section scripts
{
	<script src="/Modules/ProfitOptics.Modules.Sox/Content/js/LocationInfos.js"></script>
	<script src="/Modules/ProfitOptics.Modules.Sox/Content/js/daterangepicker.js"></script>
}
