﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.ManageGCCaseLifecycleStatuses

@{
    ViewBag.Title = "Manage lifecycle statuses";
    Layout = null;
}


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="shortcut icon" href="/img/favicon.ico?1" type="image/x-icon">
<link rel="icon" href="/img/favicon.ico?1" type="image/x-icon">

<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap" rel="stylesheet">

<script type="text/javascript" src="/js/site.already-minified.js"></script>
<script type="text/javascript" src="~/AdminLTE/plugins/ckeditor/ckeditor.js"></script>
<environment include="Development">
    <link href="/css/site.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/js/site.js"></script>
</environment>
<environment exclude="Development">
    <link href="/css/site.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/js/site.min.js"></script>
</environment>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,700italic,500italic,400italic,300,300italic&subset=latin,cyrillic" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700,700italic,400italic&subset=latin,cyrillic" rel="stylesheet">

<link href="/AdminLTE/dist/css/skins/skin-profitoptics.css" rel="stylesheet" />
@*<link href="/AdminLTE/dist/css/skins/skin-profitoptics-dark.css" rel="stylesheet" />*@
<link href="/css/app.css" rel="stylesheet" type="text/css" />
<style>
	.manage-btn {
		display: block;
		margin: auto;
		width: 250px;
		margin-bottom: 10px;
	}
</style>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @*<div class="text-center col-md-12">
                <img class="img-responsive" src="/img/loginlogo.jpg" style="display:inline-block;margin-bottom:50px" />
            </div>*@

        <section id="loginForm">
			<form asp-controller="Sox" asp-action="ChangeGCCaseLifecycleStatus" method="post" class="form-horizontal" role="form">

				<h2 style="text-align: center">Manage statuses for cases</h2>
				<br /><br />

				<div class="row">
					<div class="form-group col-md-12">
						<label class="control-label col-md-3">
							Case
						</label>
						<div class="col-md-9">
							<select id="gcCasesSelect" data-val="true" data-val-required="Company must be selected." class="select2-user-parentCompanies form-control loginline companyList" asp-for="@Model.SelectedGCCase" style="width: 100%">
								@foreach (var company in Model.GCCases)
								{
									<option value="@company.Value">@company.Text</option>
								}
							</select>
						</div>


						<label class="control-label col-md-3">
							Status
						</label>
						<div class="col-md-9">
							<select id="gcLifecycleStatusesSelect" data-val="true" data-val-required="Company must be selected." class="select2-user-parentCompanies form-control loginline companyList" asp-for="@Model.SelectedGCLifecycleStatus" style="width: 100%">
								@foreach (var company in Model.GCLifecycleStatuses)
								{
									<option value="@company.Value">@company.Text</option>
								}
							</select>
						</div>

					</div>
				</div>

				@*<div class="form-group">
			<div class="col-md-4">
				<select data-val="true" data-val-required="Company must be selected." class="select2-user-parentCompanies form-control loginline companyList" asp-for="@Model.SelectedGCCase" style="width: 100%">
					@foreach (var company in Model.GCCases)
					{
						<option value="@company.Value">@company.Text</option>
					}
				</select>
			</div>

			<div class="col-md-4">
				<select data-val="true" data-val-required="Company must be selected." class="select2-user-parentCompanies form-control loginline companyList" asp-for="@Model.SelectedGCLifecycleStatus" style="width: 100%">
					@foreach (var company in Model.GCLifecycleStatuses)
					{
						<option value="@company.Value">@company.Text</option>
					}
				</select>
			</div>
		</div>*@
			<div class="row">
				<button type="submit" class="btn btn-primary manage-btn">Change</button>
				<button type="button" disabled class="btn btn-success manage-btn">Move to Shipped Status</button>
				<button type="button" disabled class="btn btn-success manage-btn">Move to Prepped Status</button>
				<button type="button" disabled class="btn btn-success manage-btn">Move to Received Status</button>
			</div>
	
			</form>
        </section>
    </div>

</div>

<script>
    $(document).ready(function () {

        $('#gcCasesSelect').on('change', function () {
            var gcCaseId = $(this).find(":selected").val();

            $.ajax({
                type: "GET",
                url: "GetLifecycleStatusForCase",
                contentType: 'application/json',
                data: { gcCaseId: gcCaseId },
                success: function (response) {
                    $("#gcLifecycleStatusesSelect").val(response.status.Id).change();

                },
                error: function (response) {
                    var error = 400;
                }
            });
        });

       
    })
</script>
