﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.PhotoCaptureModel
@{
	ViewBag.Title = "Photo Capture";
}
@Html.HiddenFor(x => Model.Code)
@Html.HiddenFor(x => Model.TrayId)
<style>

	#webcam.viewport {
		position: relative;
	}

		#webcam.viewport > canvas, #webcam.viewport {
			max-width: 100%;
			width: 100%;
			height: auto;
		}

	canvas.drawing, canvas.drawingBuffer {
		position: absolute;
		left: 0;
		top: 0;
	}

	#takeSnapshot {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, 175%);
		background-color: #e6e6e675;
		background-image: url("/Modules/ProfitOptics.Modules.Sox/Content/js/webcam-easy/camera-btn-transparent.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50px 50px;
		width: 60px;
		height: 60px;
		border-radius: 50px;
		border: none !important;
	}

		#takeSnapshot:focus {
			background-color: white;
		}
</style>

@*enlage image*@
<style>
    /* Style the Image Used to Trigger the Modal */
    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #myImg:hover {
            opacity: 0.7;
        }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @@media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>
<h1>Photo Capture</h1>
<div class="row">
    <div class="col-md-6">

        <!-- The Modal for expans images -->
        <div id="imgModal" class="modal">

            <!-- The Close Button -->
            <span id="closeBtn" class="close">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="imgPlaceholder">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
        </div>

        <div class="box box-primary" id="webcamDiv">
            @*<div class="box-header">
                <h3 class="box-title">Camera</h3>
            </div>*@
            @*<div class="box-body">
                <div style="width: 100%; min-height: 220px;" id="my_camera"></div>
            </div>*@

            <video id="webcam" autoplay playsinline class="viewport"></video> @*width="640" height="480"*@
            <canvas id="canvas" class="d-none" hidden></canvas>
            <input type="button" class="" id="takeSnapshot" value="" onclick="take_snapshot()">
            @*<div class="box-footer text-center">

            </div>*@
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Captured Photos</h3>
            </div>
            <div class="box-body capturePhotos" id="capturedPhotosBox">
                <div class="col-md-4 text-center">
                    <div id="results0">Your captured image will appear here...</div>
                </div>

                <div class="col-md-4 text-center">
                    <div id="results1">Your captured image will appear here...</div>
                </div>

                <div class="col-md-4 text-center">
                    <div id="results2">Your captured image will appear here...</div>
                </div>
                <div class="clearfix"></div>
                <div id="captureWarning"></div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Tray Reference</h3>
            </div>
            <div class="box-body">
                <div class="tray-image-container">
                    @foreach (var trayImage in Model.TrayImages)
                    {
                        <div class="col-md-4 text-center tray-image-item">
                            <h5>@trayImage.Title</h5>
                            <img src="@trayImage.ImageDataUrl" alt="@trayImage.Title" class="img-thumbnail">
                        </div>
                    }
                </div>
            </div>
        </div>

        @if (!Model.IsYes)
        {
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Spray Instructions </h3>
                    <div class="box-tools" style="margin-top:7px;">
                        <span data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="cursor:pointer">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </span>

                    </div>
                </div>
                <div class="box-body collapse" id="collapseExample">
                    <div>o	Spray instruments according to bottle instructions </div>
                    <div>   •	Spray the instruments with the solution until all instruments are covered</div>
                </div>
            </div>
        }

        <div class="box box-primary" id="trayInspectionBox">
            <div class="box-header">
                <h3 class="box-title">Tray Inspection</h3>
            </div>
            <div class="box-footer">
                <input style="width:130px" type="button" class="btn btn-success pull-left" value="Pass" onclick="Pass()">
                <input style="width:130px" type="button" class="btn btn-danger pull-right" value="Fail" onclick="Fail()">
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Take a Note:</h3>
            </div>
            <div class="box-body">
                <textarea id="note" class="form-control" disabled></textarea>
                <div id="noteWarning"></div>
            </div>
            <div class="box-footer">
                @*<input style="width:130px;" class="btn btn-primary pull-left" type="button" id="foamedBtn" value="Foam" onclick="Foam()">*@
                <input style="width:130px;" class="btn btn-primary pull-right" type="button" id="continueBtn" value="Continue" onclick="StoreNote()" disabled>
            </div>

            <div class="row" style="text-align: center;">
                <div id="foamed" class="col-sm" style="text-align:center;">

                </div>
            </div>

        </div>

    </div>

</div>



@*<script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>*@

@section scripts
{
	<script src="/Modules/ProfitOptics.Modules.Sox/Content/js/webcam-easy/webcam-easy.min.js"></script>
}

<script language="JavaScript">
	$(document).ready(function () {
		var windowsHeight = $("body").innerHeight();
		var windowPercentage = 0.42
		$('#webcam').height(windowsHeight * windowPercentage);
		$('#canvas').height(windowsHeight * windowPercentage);



		webcam.start()
			.then(result => {
				console.log("webcam started");
			})
			.catch(err => {
				console.log(err);
			});

	});

	const webcamElement = document.getElementById('webcam');
	const canvasElement = document.getElementById('canvas');
	//const snapSoundElement = document.getElementById('snapSound');
	const webcam = new Webcam(webcamElement, 'environment', canvasElement);
	var i = 0;

	function take_snapshot() {
		let uri = webcam.snap();

        document.getElementById("webcamDiv").setAttribute("style", "background-color: palegreen; transition: 0.6s;");
        setTimeout(function () { document.getElementById("webcamDiv").setAttribute("style", "background-color: white; transition: 1.5s;"); }, 600);

		var code = $("#Code").val();
		var trayId = $("#TrayId").val();

		if (i == 0) {

			$.ajax({
				type: "POST",
				url: "StoreImage",
				//contentType: "application/json; charset=utf-8",
				data: { uri: uri, code: code, trayId: trayId },
				success: function (response) {
					document.getElementById('results0').innerHTML =
						'<div style="border-style: solid; color: green;"><img onclick="enlargeImg(this)" class="img-thumbnail" style="width:100%;height:220px; object-fit:contain;" src="' +
						uri +
						'"/></div>';
				},
				error: function (response) {
					document.getElementById('results0').innerHTML =
						'<div style="border-style: solid; color: red;"><img onclick="enlargeImg(this)" class="img-thumbnail" style="width:100%;height:220px; object-fit:contain;" src="' +
						uri +
						'"/></div>';
				}
			});
		}
		if (i == 1) {
			$.ajax({
				type: "POST",
				url: "StoreImage",
				//contentType: "application/json; charset=utf-8",
				data: { uri: uri, code: code, trayId: trayId },
				success: function (response) {
					document.getElementById('results1').innerHTML =
						'<div style="border-style: solid; color: green;"><img onclick="enlargeImg(this)" class="img-thumbnail" style="width:100%;height:220px; object-fit:contain;" src="' +
						uri +
						'"/></div>';
				},
				error: function (response) {
					document.getElementById('results1').innerHTML =
						'<div style="border-style: solid; color: red;"><img onclick="enlargeImg(this)" class="img-thumbnail" style="width:100%;height:220px; object-fit:contain;" src="' +
						uri +
						'"/></div>';
				}
			});
		}
		if (i == 2) {

			$.ajax({
				type: "POST",
				url: "StoreImage",
				//contentType: "application/json; charset=utf-8",
				data: { uri: uri, code: code, trayId: trayId },
				success: function (response) {
					document.getElementById('results2').innerHTML =
						'<div style="border-style: solid; color: green;"><img onclick="enlargeImg(this)" class="img-thumbnail" style="width:100%;height:220px; object-fit:contain;" src="' +
						uri +
						'"/></div>';

					$('#takeSnapshot').prop('disabled', true);
				},
				error: function (response) {
					document.getElementById('results2').innerHTML =
						'<div style="border-style: solid; color: red;"><img onclick="enlargeImg(this)" class="img-thumbnail" style="width:100%;height:220px; object-fit:contain;" src="' +
						uri +
						'"/></div>';
				}
			});

			//         document.getElementById('results2').innerHTML =
			//             '<img class="img-thumbnail" style="width:100%;height:220px; object-fit:contain;" src="' +
			//         picture +
			//             '"/>';

			//StoreImage(picture);
		}
		//document.getElementById("trayInspectionBox").scrollIntoView();
		i++;
	}

	//function StoreImage(uri) {
	//    var code = $("#Code").val();

	//    $.ajax({
	//        type: "POST",
	//        url: "StoreImage",
	//        //contentType: "application/json; charset=utf-8",
	//        data: { uri: uri, code: code },
	//        success: function (response) {
	//            //location.reload();
	//        },
	//        error: function (response) {
	//            var error = 400;
	//        }
	//    });
	//}

</script>

<script language="JavaScript">
	var i = 0;


	function Pass() {

		var el = document.querySelector("div.capturePhotos img");

		if (el != null) {
			//$('#continueBtn').prop('disabled', false);

			var code = $("#Code").val();
			var trayId = $("#TrayId").val();

			$.ajax({
				type: "GET",
				url: "PassPhotoCapture",
				contentType: 'application/json',
				data: { code: code, trayId: trayId },
				success: function (response) {
					window.location.href = response;
				},
				error: function (response) {
					var error = 400;
				}
			});
		}
		else {
			document.getElementById('captureWarning').innerHTML = "You must take snapshot first!"
			document.getElementById('captureWarning').style.color = "red";

			app.showAlert('You must take snapshot first!');
		}
	}

	function Fail() {

		$('#note').prop('disabled', false);
		var el = document.querySelector("div.capturePhotos img");

		if (el != null) {
			if ($("#note").val()) {
				$('#continueBtn').prop('disabled', false);
			}
			else {
				document.getElementById('noteWarning').innerHTML = "You must take a note first!"
				document.getElementById('noteWarning').style.color = "red";
			}
		}
		else {
			document.getElementById('captureWarning').innerHTML = "You must take snapshot first!"
			document.getElementById('captureWarning').style.color = "red";
		}
	}

	$("#note").keyup(function () {
		if ($("#note").val()) {
			$('#continueBtn').prop('disabled', false);
			document.getElementById('noteWarning').innerHTML = ""
		}
		else {
			document.getElementById('noteWarning').innerHTML = "You must take a note first!"
			document.getElementById('noteWarning').style.color = "red";
			$('#continueBtn').prop('disabled', true);
		}
	});


	function StoreNote() {
		var note = $("#note").val();
		var code = $("#Code").val();
		var trayId = $("#TrayId").val();

		$.ajax({
			type: "GET",
			url: "StoreNote",
			contentType: 'application/json',
			data: { note: note, code: code, trayId: trayId },
			success: function (response) {
				window.location.href = response;
			},
			error: function (response) {
				var error = 400;
			}
		});
	}


</script>
