﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.ScanningTray
@{
	ViewBag.Title = "Barcode Scanning";
}
<style>

	#cameraBox {
		height: 40vh;
	}

	#camera.viewport {
		position: relative;
		height: 40vh;
		width: 90vw;
	}

		#camera.viewport > canvas, #camera.viewport > video {
			max-width: 100%;
			/*			width: 100%;*/
		}

	canvas.drawing, canvas.drawingBuffer {
		position: absolute;
		left: 0;
		top: 0;
	}
</style>
@*<h1>Barcode Scanning</h1>*@
@Html.HiddenFor(x => Model.CustomerId)

<h1>Barcode Scanning</h1>
<div class="row">
	<div class="col-md-6">
		<div class="box box-primary" id="cameraBox">
			@*<div class="box-header">
					<h3 class="box-title">Barcode Scanning</h3>
				</div>*@
			<div id="camera" class="viewport"></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">Code</h3>
			</div>
			<div class="box-body">
				<input id="code" class="form-control" placeholder="Barcode Number" />
			</div>
			<div id="notFoundWarning"></div>

			<div class="box-footer text-right">
				<input id="confirmBtn" type="button" class="btn btn-primary" value="Confirm" onClick="IsTrayInPreppedStatus()" disabled>
				<input type="button" class="btn btn-default btn-outline pull-left" value="Reset camera" onClick="ResetQuagga()">
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

<div id="ChooseCaseDialogHolder"></div>


@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>*@

@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.js"></script>*@
@section scripts
{
	<script src="/Modules/ProfitOptics.Modules.Sox/Content/js/quaggaJS/quagga.min.js"></script>
	@*<script src="/Modules/ProfitOptics.Modules.Sox/Content/js/ScanningSearch.js"></script>*@
}
<!-- Configure a few settings and attach camera -->
<script language="JavaScript">
	$(document).ready(function () {
		$(window).resize(function () {
			clearTimeout(window.resizedFinished);
			window.resizedFinished = setTimeout(function () {
				console.log('Resized finished.');
				ResizeCamera();
			}, 250);
		});
		var windowsHeight = $("body").innerHeight();
		var windowPercentage = 0.30
		//$('#camera').height(windowsHeight * windowPercentage);
		InitBarcodeScanner();

	});
	function ResizeCamera() {
		InitBarcodeScanner();
	}
	function InitBarcodeScanner() {
		var width = $('#camera').width();
		var height = $('#camera').height();
		Quagga.init({
			inputStream: {
				name: "Live",
				type: "LiveStream",
				constraints: {
					width: width,
					height: height,
					facingMode: "environment"
				},
				target: document.querySelector('#camera')    // Or '#yourElement' (optional)
			},
			decoder: {
				//readers: ["code_128_reader", "ean_reader", "ean_8_reader", "code_39_reader", "code_39_vin_reader", "codabar_reader", "upc_reader", "upc_e_reader"]
				readers: ["code_128_reader", "code_39_reader"]
			}
		}, function (err) {
			if (err) {
				console.log(err);
				return
			}
			console.log("Initialization finished. Ready to start");
			Quagga.start();
		});
		$("#code").val("");
	}


	function ResetQuagga() {
		InitBarcodeScanner();
	}

	Quagga.onDetected(function (result) {
		var code = result.codeResult.code;
		console.log(code);
		$("#code").val(code);
		$("#code").change();
		document.getElementById("code").scrollIntoView();
		document.getElementById("cameraBox").setAttribute("style", "background-color: palegreen;");
		//Quagga.stop();
	});

</script>

<script language="JavaScript">
	function IsTrayInPreppedStatus() {

		var code = $("#code").val();
		var customerId = $("#CustomerId").val();
		$.ajax({
			type: "GET",
			url: "UpdateBarcodeToWW",
			contentType: 'application/json',
			data: { code: code, customerId: customerId },
			success: function (response, status, xhr) {
				var ct = xhr.getResponseHeader("content-type") || "";

				if (response == "NotFound") {
					document.getElementById('notFoundWarning').innerHTML = "Tray with that barcode does not exist for selected customer."
					document.getElementById('notFoundWarning').style.color = "red";
				}
				else if (response == "AlreadyProcessed") {
					document.getElementById('notFoundWarning').innerHTML = "Tray have already been processed."
					document.getElementById('notFoundWarning').style.color = "red";
				}
				else if (ct.indexOf('html') > -1) {
					$("#ChooseCaseDialogHolder").html(response);
					$("#ChooseCaseDialog").modal({ show: true });
				}
				else {
					window.location.href = response;
				}
			},
			error: function (response) {
				var error = 400;
			}
		});

	}



	$("#code").change(function () {
		//var code = $("#code").val();

		if ($("#code").val()) {
			$('#confirmBtn').prop('disabled', false);
			//$('#code').prop('disabled', true);
		}
		else {
			$('#confirmBtn').prop('disabled', true);
		}

	});

	$("#code").keyup(function () {
		//var code = $("#code").val();

		if ($("#code").val()) {
			$('#confirmBtn').prop('disabled', false);
			//$('#code').prop('disabled', true);
		}
		else {
			$('#confirmBtn').prop('disabled', true);
		}
	});

</script>
