﻿@{
	ViewBag.Title = "Scanning";
}
<style>
	#cameraBox {
		height: 40vh;
	}
	#camera.viewport {
		position: relative;
		height: 40vh;
		/*width:90vw;*/
	}

		#camera.viewport > canvas, #camera.viewport > video {
			max-width: 100%;
/*			width: 100%;*/
		}

	canvas.drawing, canvas.drawingBuffer {
		/*position: absolute;
		left: 0;
		top: 0;*/
	}
</style>
@*<h1>Scanning</h1>*@
<div class="row">
	<div class="col-md-6">
		<div class="box box-primary" id="cameraBox">
			@*<div class="box-header">
					<h3 class="box-title">Camera</h3>
				</div>*@
			<div id="camera" class="viewport"></div>

		</div>
	</div>
	<input type="hidden" id="generalInformation" value="@ViewBag.GeneralInforamtion" />
	<div class="col-md-6">
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">Code</h3>
			</div>
			<div class="box-body">
				<input id="code" class="form-control" placeholder="Barcode Number" />
				<div id="barcodeWarning"></div>
			</div>

			<div class="box-footer text-right">
				<input type="button" class="btn btn-default btn-outline pull-left" value="Go to" onClick="goToTray()">
				@*<input type="button" class="btn btn-primary" value="Take Snapshot" onClick="take_snapshot()">*@
				<div class="clear-fix"></div>
			</div>
		</div>
	</div>
</div>




@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>*@

@*<script src="~/Content/js/quaggaJS/quagga.js"></script>*@
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.js"></script>*@


@section scripts
{
	<script>
		var generalInfo = $("#generalInformation").val();
		if (generalInfo) {
			app.activeMenus = ["menuGeneralInformation", "menuGeneralInformationServiceSearch"];
		}
		else {
			app.activeMenus = ["menuFieldService", "menuFieldServiceSearch"];
		}
	</script>
	<script src="/Modules/ProfitOptics.Modules.Sox/Content/js/quaggaJS/quagga.min.js"></script>
	<script src="/Modules/ProfitOptics.Modules.Sox/Content/js/ScanningSearch.js"></script>

}

