﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.GCSystemAlertsModel
@using ProfitOptics.Modules.Sox.Models.ViewModels
@using ProfitOptics.Modules.Sox.Helpers;
@{
    ViewBag.Title = "System Alerts";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="/AdminLTE/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
<style>
    .tableUsers th, .tableUsers td {
        font-family: Arial, sans-serif;
        padding: 12px 10px !important
    }

    table.tableUsers {
        border-collapse: separate !important;
    }

    .tableUsers th {
        background: white;
        border-bottom-width: 1px;
    }

    thead tr th {
        border-color: white !important;
        text-align: left !important
    }

    .bootstrap-timepicker-meridian.form-control {
        padding: 0 !important;
    }
</style>

<section class="content-header">
    <h1 class="pull-left">
        System Alerts
    </h1>
    <div class="pull-right">
        @*<button id="addNewUserButton" class="btn btn-primary" type="button" data-toggle="modal" data-target="#editModal">
                Add New
            </button>*@
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body" style="overflow-x: scroll;">

                    <table class="table tableUsers table-hover" id="systemAlertsTable">
                        <thead>
                            <tr>
                                <th>Case Reference</th>
                                <th>Tray Name</th>
                                <th>Message</th>
                                <th>Created at</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var alert in Model.Alerts)
                            {
                            <tr>
                                <td><a href="@Url.Action("CaseDetails","Sox",new { id=alert.GCCaseId})" class="more-link">@alert.CaseReference</a></td>
                                <td>@alert.ActualsFullName</td>
                                <td>@alert.Message</td>
                                <td>@alert.CreatedAtUtc.GetLocalDateTime().ToString()</td>
                                <td>
                                    @if (alert.MarkedAsReadAtUtc.HasValue)
                                    {
                                        <text>Read at: </text>
                                        <text>@alert.MarkedAsReadAtUtc.Value.GetLocalDateTime().ToString()</text>
                                    }
                                    else
                                    {
                                        <a onclick="MarkAlertRead(@alert.Id)" href="#" class="more-ling">Mark Read</a>
                                    }
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="overlay table-overlay" style="display: none;" hidden=""><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

<input type="hidden" id="MarkAlertReadUrl" value="@Url.Action("MarkAlertReadUrl","Sox")" />
<script src="/AdminLTE/plugins/timepicker/bootstrap-timepicker.js"></script>
<script>
    app.activeMenus = ["menuGeneralInformation", "menuGeneralInformationSystemAlerts"];

    $(document).ready(function () {
        $('#systemAlertsTable').DataTable({
            order: [[3, "desc"]]
        });
    });
</script>

