﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.TraysModel
@using ProfitOptics.Modules.Sox.Models.ViewModels
@using ProfitOptics.Modules.Sox.Helpers;
@{
    ViewBag.Title = "Tray Management";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="/AdminLTE/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
<style>
    .tableUsers th, .tableUsers td {
        font-family: Arial, sans-serif;
        padding: 12px 10px !important
    }

    table.tableUsers {
        border-collapse: separate !important;
    }

    .tableUsers th {
        background: white;
        border-bottom-width: 1px;
    }

    thead tr th {
        border-color: white !important;
        text-align: left !important
    }

    .bootstrap-timepicker-meridian.form-control {
        padding: 0 !important;
    }
</style>

<section class="content-header">
    <h1 class="pull-left">
        Tray Management
    </h1>
    <div class="pull-right">
        @*<button id="addNewUserButton" class="btn btn-primary" type="button" data-toggle="modal" data-target="#editModal">
                Add New
            </button>*@
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body" style="overflow-x: scroll;">

                    <table class="table tableUsers table-hover" id="trayManagementTable">
                        <thead>
                            <tr>
                                <th>Barcode</th>
                                <th>Vendor</th>
                                <th>Service</th>
                                <th>Name</th>
                                <th>Current LifeCycle</th>
                                <th>SKU</th>
                                <th>Count Sheet</th>
                                <th>Id</th>
                                @*<th>Lifecycle status</th>*@
                                @*<th>Status</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tray in Model.Trays)
                            {
                            <tr onclick="openRightSidebar(@tray.CTContainerTypeActualId), $(window).scrollTop($('#sidebar-placeholder').scrollTop());" style="cursor:pointer;">
                                <td>@tray.Barcode</td>
                                <td>@tray.VendorName</td>
                                <td>@tray.ServiceName</td>
                                <td>@tray.ParentName @tray.Name</td>
                                <td>@tray.LifecycleStatus @(tray.Timestamp.HasValue && tray.Timestamp.Value > DateTime.MinValue  ? $" - {tray.Timestamp.Value.GetLocalDateTime().ToString()}" : "")</td>
                                <td>@tray.ProcurementReferenceId</td>
                                <td>@tray.CountSheetStatus</td>
                                <td>@tray.CTContainerTypeActualId</td>
                                @*<td>@tray.LifecycleStatus</td>*@
                                @*<td>@tray.CaseContainerStatus</td>*@
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="overlay table-overlay" style="display: none;" hidden=""><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<input type="hidden" id="GetRightSidebarDataUrl" value="@Url.Action("GetRightSidebarData","Sox")" />
<div id="sidebar-placeholder">

</div>
@*@await Html.PartialAsync("_SidebarRight")*@
<script src="/AdminLTE/plugins/timepicker/bootstrap-timepicker.js"></script>
<script>
    app.activeMenus = ["menuInventory", "menuInventoryTrays"];

    $(document).ready(function () {

        $('#trayManagementTable').DataTable();
        $('#timepicker0').timepicker();
        $('#timepicker1').timepicker();
    });
</script>

