﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.CaseDetailsTraysModel
<div class="row">
	@{ await Html.RenderPartialAsync("_CaseDetailsTraysTableForVendors.cshtml", Model); }
</div>
<input type="hidden" id="GetVendorsTrayHistoryDataUrl" value="@Url.Action("GetVendorsTrayHistoryData","Sox")" />