﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.TrayPickupModel
@{
	ViewBag.Title = "Tray Pickup";
}
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-body">
				<h1 class="pull-left">Tray Pickup</h1>
				<div id="casesList" class="pull-left" style="margin: 2px 10px !important">
					<select id="customerSelect" data-val="true" data-val-required="Case must be selected." class="form-control" style="min-width:150px !important;">
						@if (Model.GCCustomers != null && Model.GCCustomers.Count() > 0)
						{
							@foreach (var item in Model.GCCustomers)
							{
								@if (item.Value == Model.GCCustomers.Last().Value)
								{
									<option value="@item.Value">@item.Text</option>
								}
								else
								{
									<option value="@item.Value">@item.Text</option>
								}

							}
						}

					</select>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">Trays:</h3>
			</div>
			<div class="box-body">
				<div id="traysTable"></div>
			</div>
			<div class="box-footer text-right">
				<input type="button" class="btn btn-primary" value="Scan" onclick="ScanningTray()" />
			</div>
		</div>
	</div>
</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js"></script>


<script>
	app.activeMenus = ["menuFieldService", "menuFieldServiceTrayPickup"];
	$(document).ready(function () {

		var customerId = Cookies.get('customerId');
		console.log(customerId);

		if (customerId != undefined) {
            $('#customerSelect').val(customerId);
            $('#customerSelect').select2().trigger('change');

            GetTraysForCustomer(customerId);
		}
		else {
            $('#customerSelect').val(0); //set default value to placeholder
            $('#customerSelect').select2().trigger('change');

            GetTraysForCustomer(0); //clear table
        }
	
	});

	//$('.select2-cases').select2({
	//    placeholder: 'Select an option'
	//});

	$('#customerSelect').prepend($('<option>', {
		value: 0,
		text: 'Choose location...'
	}));

	//$('#customerSelect').select2();

	$('#customerSelect').on('select2:select', function (e) {

		var data = e.params.data;

		Cookies.set('customerId', data.id);

		GetTraysForCustomer(data.id)
	});

	function ScanningTray() {
		var customerId = $('#customerSelect').val();

		$.ajax({
			type: "GET",
			url: "RedirectToScanningTray",
			contentType: 'application/json',
			data: { customerId: customerId },
			success: function (response) {
				window.location.href = response;
			},
			error: function (response) {
				var error = 400;
			}
		});
	}

	function GetTraysForCustomer(customerId) {
		app.blockUI('Please wait...');
		$.ajax({
			type: "GET",
			url: "GetTraysForCustomer",
			contentType: 'application/json',
			data: { customerId: customerId },
			dataType: "html",
			success: function (response) {
				$("#traysTable").html(response);
				$.unblockUI();

			},
			error: function (response) {
				var error = 400;
				$.unblockUI();
			}
		});
	}
</script>