﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.GCVendorsModel
@using  ProfitOptics.Modules.Sox.Models.ViewModels
@{
    ViewBag.Title = "Vendor Management";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@*<link href="/AdminLTE/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />*@
<style>
    .tableUsers th, .tableUsers td {
        font-family: Arial, sans-serif;
        padding: 12px 10px !important
    }

    table.tableUsers {
        border-collapse: separate !important;
    }

    .tableUsers th {
        background: white;
        border-bottom-width: 1px;
    }

    thead tr th {
        border-color: white !important;
        text-align: left !important
    }

    .bootstrap-timepicker-meridian.form-control {
        padding: 0 !important;
    }
</style>

<section class="content-header">
    <h1 class="pull-left">
        Vendor Management
    </h1>
    <div class="pull-right">
        <button class="btn btn-default btn-outline" onclick="AddVendorDialog()">Add New Vendor</button>
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="table-responsive">
                    <table class="table tableUsers table-hover" id="vendorManagementTable">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Is active</th>
                                <th>Quick Books</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var vendor in Model.Vendors)
                            {
                            <tr>
                                <td>@vendor.Title</td>
                                <td>@vendor.Active</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        @if (vendor.QBVendorId.HasValue && vendor.QBVendorId.Value > 0)
                                        {
                                            <button class="btn btn-default"><span onclick="UpdateVendorFromQB(@vendor.Id)">Update from QB</span></button>
                                            <button class="btn btn-default"><span onclick="UpdateVendorToQB(@vendor.Id)">Update to QB</span></button>
                                            if (Model.QBCusomerExternalUrl != null)
                                            {
                                                <a href="@string.Format("{0}/app/vendordetail?nameId={1}", Model.QBCusomerExternalUrl, vendor.QBVendorId.Value)" target="_blank" class="btn btn-default">View in QB</a>
                                            }
                                        }
                                        else
                                        {
                                            <button class="btn btn-default"><span onclick="SubmitVendorToQB(@vendor.Id)">Create in QB</span></button>
                                        }
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group btn-group-sm">
                                        @*<button class="btn btn-default" data-toggle="modal" data-target="#editModal-@vendor.Id"><span class="glyphicon glyphicon-pencil"></span></button>*@
                                        <button class="btn btn-default" data-toggle="modal" onclick="EditVendorDialog(@vendor.Id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button class="btn btn-default" onclick="DeactivateVendorDialog(@vendor.Id)"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>

                                @*<partial name="_UpdateVendorModal.cshtml" model="new UpdateVendorModel { Vendor = vendor }" />*@
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="overlay table-overlay" style="display: none;" hidden=""><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

<div id="AddVendorDialogHolder"></div>
<div id="EditVendorDialogHolder"></div>
<div id="DeactivateVendorDialogHolder"></div>


<script src="/AdminLTE/plugins/timepicker/bootstrap-timepicker.js"></script>
@*<script src="~/Content/js/CustomerManagement.js"></script>*@
<script>
	app.activeMenus = ["menuAdmin", "menuAdminVendorManagement"];
    $(document).ready(function () {
        $('#vendorManagementTable').DataTable();
        $('#timepicker0').timepicker();
        $('#timepicker1').timepicker();
    });

    function EditVendorDialog(vendorId) {
        if (enableDialog == false) {
            return;
        }
        enableDialog = false;

        $.ajax({
            type: "GET",
            url: "EditVendorDialog",
            contentType: 'application/json',
            data: { vendorId: vendorId },
            dataType: "html",
            success: function (response) {
                $("#EditVendorDialogHolder").html(response);
                $("#EditVendorDialog").modal({ show: true });
                //$('.updateTimepickerInput').timepicker();
                enableDialog = true;
            },
            error: function (response) {
                var error = 400;
                enableDialog = true;
            }
        });
    }
</script>

