﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.ManageGCCaseLifecycleStatuses

@{
    ViewBag.Title = "Manage lifecycle statuses";
    Layout = null;
}



<link href="/AdminLTE/dist/css/skins/skin-profitoptics.css" rel="stylesheet" />
@*<link href="/AdminLTE/dist/css/skins/skin-profitoptics-dark.css" rel="stylesheet" />*@
<link href="/css/app.css" rel="stylesheet" type="text/css" />
<style>
    .manage-btn {
        display: block;
        margin: auto;
        width: 250px;
        margin-bottom: 10px;
    }
</style>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p style="color: red">Can't select statuses with a smaller order</p>

       
    </div>

</div>

