﻿@model List<AnnouncementNotificationModel>

<!-- Messages: style can be found in dropdown.less-->
<li id="dropdownAnnouncement" class="dropdown messages-menu">
    <!-- Menu toggle button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-envelope-o"></i>
        <span class="label label-success">@(Model.Count)</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">You have @(Model.Count) unread announcements</li>
        <li>
            <!-- inner menu: contains the messages -->
            <ul class="menu">
                @foreach (var o in Model)
                {
                    <li class="singleAnnouncement">
                        <!-- start message -->
                        <a href="#" onclick="page.OpenAnnouncement(@o.Id)">
                            <div class="pull-left">
                                <!-- User Image -->
                                <img src="data:image/png;base64,@(o.UserProfilePictureBase64)" class="img-circle" alt="User Image">                                <br />
                                <small><i class="fa fa-clock-o"></i>&nbsp;@(o.CreatedAgo)</small>
                            </div>
                            <!-- Message title and timestamp -->
                            <h4>
                                @(o.Title)
                            </h4>
                            <!-- The message -->
                            <p class="announcement-content">@o.Text)</p>
                        </a>
                    </li>
                }
                <!-- end message -->
            </ul>
            <!-- /.menu -->
        </li>
        <li class="footer"><a href="/Announcements/Announcement/All">See All Announcements</a></li>
    </ul>
</li>
<!-- /.messages-menu -->

<style>
    .singleAnnouncement p {
        max-height: 100px;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
    }

    .singleAnnouncement h4 {
        white-space: normal !important;
        margin-bottom: 10px !important;
    }
</style>

