﻿@using ProfitOptics.Framework.Core.Collections;
@using ProfitOptics.Modules.Showcase.Models;
@model PagedList<ProfitOpticsMultiRowTableLevelsAjaxExampleModel>

@foreach (var o in Model)
{
    <tr master="@(o.ParentId != null ? o.ParentId : "")" id="@(o.Id)" level="@o.Level" class="@(o.HasChildren ? "topLevel" : "")">
        <td>@o.TextValue</td>
        <td>@o.DateString</td>
        <td>@o.PercentValue</td>
    </tr>
}