﻿@using ProfitOptics.Framework.Core.Collections;
@using ProfitOptics.Modules.Showcase.Models;
@model PagedList<ProfitOpticsMultiRowTableLevelsExampleModel>

@foreach (var o in Model)
{
    var hasChildren = o.Children != null && o.Children.Any();

    <tr master="@(o.ParentId != null ? o.ParentId : "")" id="@(o.Id)" class="@(hasChildren ? "topLevel" : "")">
        <td>@o.TextValue</td>
        <td>@o.DateString</td>
        <td>@o.PercentValue</td>
    </tr>

    if (hasChildren)
    {
        @await Html.PartialAsync("_TableBodyLevels", new PagedList<ProfitOpticsMultiRowTableLevelsExampleModel>(o.Children, -1))        
    }
}