﻿@using ProfitOptics.Framework.Core.Collections;
@using ProfitOptics.Modules.Showcase.Models;
@model PagedList<ProfitOpticsMultiRowTableExampleModel>

@foreach (var o in Model)
{
    <tr>
        <td>@o.TextValue</td>
        <td>@o.DateString</td>
        <td>@o.PercentValue</td>
        <td rowspan="2"></td>
    </tr>
    <tr style="background-color:#f5f5f5;">
        <td colspan="2">@o.Notes</td>
        <td>@o.Price</td>
    </tr>
}