﻿<table id="scrollingTable" class="multiRowTable">
    <thead>
        <tr>
            <th id="TextValue" class="sortable">Text</th>
            <th id="DateValue" class="sortable">Date</th>
            <th id="PercentValue" class="sortable">Percent</th>
            <th rowspan="2">Action</th>
        </tr>
        <tr>
            <th id="Notes" colspan="2" class="sortable">Notes</th>
            <th id="Price" class="sortable">Price</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>

@await Html.PartialAsync("_Pager")