﻿<table id="tableLevels" class="multiRowTable">
    <thead>
        <tr>
            <th id="TextValue" class="sortable">Text</th>
            <th id="DateValue" class="sortable">Date</th>
            <th id="PercentValue" class="sortable">Percent</th>
        </tr>       
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>

@await Html.PartialAsync("_Pager")