﻿@using ProfitOptics.Framework.Core.Collections;
@using ProfitOptics.Modules.Showcase.Models;
@model PagedList<ProfitOpticsMultiRowTableLevelsAjaxExampleModel>

<tr id="totals1" class="totals">
    <th></th>
    <th></th>
    <th></th>
</tr>
