﻿@using ProfitOptics.Framework.Core.Collections;
@using ProfitOptics.Modules.Showcase.Models;
@model PagedList<ProfitOpticsMultiRowTableExampleModel>

<tr id="totals1" class="totals">
    <th></th>
    <th></th>
    <th></th>
    <th rowspan="2"></th>
</tr>
<tr id="totals2" class="totals">
    <th colspan="2"></th>
    <th></th>
</tr>