﻿@{
    ViewBag.Title = "Showcase - ProfitOptics MultiRow Tables";
}

<style type="text/css">
    
</style>

<section class="content-header">
    <h1>
        Multi Row Table
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Table with multiple levels</h3>
                </div>
                <!-- /.box-header -->
                <div id="TableHolderLevels" class="box-body">
                    @await Html.PartialAsync("_TableLevels")
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Table with multiple levels with ajax</h3>
                </div>
                <!-- /.box-header -->
                <div id="TableHolderLevelsAjax" class="box-body">
                    @await Html.PartialAsync("_TableLevelsAjax")
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Table with grouped rows</h3>
                </div>
                <!-- /.box-header -->
                <div id="TableHolderLevels" class="box-body">
                    @await Html.PartialAsync("_TableGroupedRows")
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Scrolling table</h3>
                </div>
                <!-- /.box-header -->
                <div id="TableHolderScrolling" class="box-body">
                    @await Html.PartialAsync("_TableScrolling")
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section styles {
    <style type="text/css">
    </style>
}

@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuShowcase", "menuShowcaseProfitOpticsMultiRowTable"]; // List all menus that should be activated when this page is opened

        $(function () {
            $("#tableLevels").profitopticsTable({
                url: "/Showcase/ProfitOpticsMultiRowTable/GetDataExampleLevels",
                curSort1: "TextValue",
                curSort1Order: "asc",
                length: 15,
                useScroll: false
            });

            $("#tableLevelsAjax").profitopticsTable({
                url: "/Showcase/ProfitOpticsMultiRowTable/GetDataExampleAjaxLevels",
                curSort1: "TextValue",
                curSort1Order: "asc",
                length: 15,
                useScroll: false,
                ajaxForLevels: true
            });

            $("#tableGroupedRows").profitopticsTable({
                url: "/Showcase/ProfitOpticsMultiRowTable/GetDataExampleGroupedRows",
                curSort1: "TextValue",
                curSort1Order: "asc",
                length: 15,
                useScroll: false
            });

             $("#scrollingTable").profitopticsTable({
                url: "/Showcase/ProfitOpticsMultiRowTable/GetDataExampleScrolling",
                curSort1: "TextValue",
                curSort1Order: "asc",
                length: 100,
                useScroll: true,
                maxHeight: 550
            });
        });

    </script>
}
