﻿<div class="box-body">
    <div class="form-horizontal">
        <div class="form-group" style="margin-bottom:0">
            <label class="control-label col-md-1">Username:</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="username" name="username" value="@ViewBag.Username" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <label class="control-label col-md-1">From:</label>
                    <div class="col-md-3">
                        <input type="text" id="from" name="from" class="form-control" value="" />
                    </div>
                    <label class="control-label col-md-1">To:</label>
                    <div class="col-md-3">
                        <input type="datetime" id="to" name="to" class="form-control" value="" />
                    </div>
                    <div class="col-md-3" style="padding-top:7px;">
                        <label for="showAllActions" class=""><input type="checkbox" id="showAllActions" name="showAllActions" /> Show all actions</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="box-footer text-right">
    <a href="@Url.Action("ActionFriendlyNames")" class="btn btn-default">Friendly Names</a>
    <button onclick="auditLogModule.runReport(event);" class="btn btn-primary">Apply Filter</button>

</div>