﻿@{
    ViewBag.Title = "FriendlyNames";
}
<section class="content-header">
    <h1>
        Friendly Names
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Audit Log Settings</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="dt-table-logininfo-holder">
                        <table id="dt-table-friendlynames" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Reflected Type</th>
                                    <th>Reflected Action Name</th>
                                    <th>Reported As</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("EditFriendlyNameModal")
<input type="hidden" id="saveFriendlyNameUrl" value="@Url.Action("SaveFriendlyName", "Manage", new { area="AuditLog" })" />
<input type="hidden" id="getActionFriendlyNameDataUrl" value="@Url.Action("GetActionFriendlyNameData", "Manage", new { area="AuditLog" })" />