﻿<div class="modal fade" id="editFriendlyNameModal" tabindex="-1" role="dialog" aria-labelledby="AddNewEmailModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 600px">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="modalSource" />
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="addNoteDlgHeader">Reported As</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input id="friendlyName" rows="5" name="Text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button onclick="auditLogModule.saveFriendlyName(event)" type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
