﻿@{
    ViewBag.Title = "Audit Log";
}
<section class="content-header">
    <h1>
        User Audit Report
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                @await Html.PartialAsync("_Filter")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Audit Log</h3>
                    <span onclick="auditLogModule.exportToExcell()" style="cursor:pointer;" class="pull-right fa fa-file-excel-o"></span>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="add-scroll-small-res">
                        <table id="dt-table-auditlog" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Date/Time</th>
                                    <th>Username</th>
                                    <th>Area</th>
                                    <th>Controller</th>
                                    <th>Action</th>
                                    <th>IP</th>
                                    <th>Browser</th>
                                    <th>Friendly Name</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("EditFriendlyNameModal")

<input type="hidden" id="getTableUrl" value="@Url.Action("GetTable", "Manage", new { area="AuditLog" })" />
<input type="hidden" id="exportToExcelUrl" value="@Url.Action("ExportToExcel", "Manage", new { area="AuditLog" })" />
<input type="hidden" id="saveFriendlyNameUrl" value="@Url.Action("SaveFriendlyName", "Manage", new { area="AuditLog" })" />
