﻿@{
    ViewBag.Title = "Dashboard";
}
<style>
    /*    .eventsRow {
        width: 100%;
        height: auto;
        position: relative !important;
        left: 0% !important;
        margin-right: 0% !important;
    }*/
</style>
<link href="~/AdminLTE/plugins/datepicker/datepicker3.css" rel="stylesheet" />
<link href='https://unpkg.com/@@fullcalendar/core@4.4.2/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@@fullcalendar/daygrid@4.4.2/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@@fullcalendar/timegrid@4.4.2/main.min.css' rel='stylesheet' />


<script src='https://unpkg.com/@@fullcalendar/core@4.4.2/main.min.js'></script>
<script src='https://unpkg.com/@@fullcalendar/interaction@4.4.2/main.min.js'></script>
<script src='https://unpkg.com/@@fullcalendar/daygrid@4.4.2/main.min.js'></script>
<script src='https://unpkg.com/@@fullcalendar/timegrid@4.4.2/main.min.js'></script>

<script src='fullcalendar/daygrid/main.js'></script>

<div class="row">
    <div class="col-md-1">
        <h1>Dashboard</h1>
    </div>
    <div class="col-md-2" style="padding-left:30px">
        <select class="form-control">
            <option value="">Chicago</option>
        </select>
    </div>
    <div class="col-md-9 text-right">
        <button class="btn btn-primary">Create Dispatch</button>
        <button class="btn btn-primary">Create Case</button>
        <button class="btn btn-primary">Create Replenishment Order</button>
    </div>
</div>
<div class="row" style="margin-top:10px">
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-1 control-label">Case Ref</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" />
                        </div>
                        <label class="col-md-1 control-label">Vendor</label>
                        <div class="col-md-3">
                            <select class="form-control">
                                <option></option>
                            </select>
                        </div>
                        <label class="col-md-1 control-label">Customer</label>
                        <div class="col-md-3">
                            <select class="form-control">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group"style="margin-bottom:0">
                        <label class="col-md-1 control-label">Date</label>
                        <div class="col-md-3">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="datepicker">
                            </div>
                        </div>
                        <label class="col-md-1 control-label">Surgeon</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="col-md-4 text-right">
                            <button class="btn btn-link">Clear</button>
                            <button class="btn btn-primary">Apply</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Case Schedule</h3>
            </div>
            <div class="box-body">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Track orders (8)</h3>
                <small>Pickup (3) | Delivery (5)</small>
            </div>
            <div class="box-body" style="padding:0;margin:auto -10px -20px;position:relative">
                <div style="position: absolute; width: 100%; height: 400px; background: rgba(0, 0, 0, 0.7); color: white; text-align: center; font-size: 30px; padding-top: 160px;">Work in progress!</div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190256.098988093!2d-87.87204611219273!3d41.8336478508075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C%20IL%2C%20USA!5e0!3m2!1sen!2srs!4v1591629763413!5m2!1sen!2srs" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        <div class="box box-primary" style="margin-top:20px;">
            <div class="box-header">
                <h3 class="box-title">Replenishments Issue</h3>
                <small class="pull-right" style="margin:0">8 of 88</small>
            </div>
            <div class="box-body" style="position:relative">
                <div style="position: absolute; width: 100%; height: 363px; background: rgba(0, 0, 0, 0.7);border-radius:10px; color: white; text-align: center; font-size: 30px; padding-top: 160px; margin: -9px;">Work in progress!</div>
                <div class="issueBlue">@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Blue.ToString() <b>4</b></div>
                <div class="issueRed">@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Red.ToString() <b>3</b></div>
                <table class="table tableIssues">
                    <thead>
                        <tr>
                            <th style="width:70%">Tray S/N</th>
                            <th>Next Case</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="trBlue">
                            <td>STHS-003-9</td>
                            <td>1d</td>
                        </tr>
                        <tr class="trBlue">
                            <td>STHS-003-9</td>
                            <td>2d</td>
                        </tr>
                        <tr class="trBlue">
                            <td>STHS-003-9</td>
                            <td>2d</td>
                        </tr>
                        <tr class="trBlue">
                            <td>STHS-003-9</td>
                            <td>2d</td>
                        </tr>
                        <tr class="trRed">
                            <td>STHS-003-9</td>
                            <td>5d</td>
                        </tr>
                        <tr class="trRed">
                            <td>STHS-003-9</td>
                            <td>5d</td>
                        </tr>
                        <tr class="trRed">
                            <td>STHS-003-9</td>
                            <td>Next Week</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer text-right">
                <button class="btn btn-default btn-outline">Check Inventory</button>
            </div>
        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding-top:0; padding-bottom:0">
                <div class="row">
                    <div class="col-md-3" style="background:#210a63; min-height:500px">
                        <div class="modalClock">08:30</div>
                        <div class="modalDate">Sun 4/26</div>
                        <div class="modalDesc">
                            <strong>Description</strong>
                            <p>
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit,
                                sed do eiusmod tempor
                                incididunt ut labore et dolore
                                magna aliqua. Ut enim ad
                                minim veniam, quis nostrud
                                exercitation ullamco laboris
                                nisi ut aliquip ex.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-9" style="min-height:500px">
                        <div class="row">
                            <div class="col-md-7">
                                <h4>26 Apr 2020 08:30 to 11:00</h4>
                                <div style="margin:25px 0 5px">
                                    <div class="issueBlue">@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Blue.ToString() <b>4</b></div>
                                    <div class="issueRed">@ProfitOptics.Modules.Sox.Models.GroundControl.GCColorStatusType.Red.ToString() <b>3</b></div>
                                </div>
                                <div style="max-height:400px; overflow-y:auto">
                                    <table class="table tableIssues">
                                        <thead>
                                            <tr>
                                                <th>Case #</th>
                                                <th>Title</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="trBlue">
                                                <td>4567</td>
                                                <td>Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr class="trBlue">
                                                <td>4567</td>
                                                <td>Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr class="trBlue">
                                                <td>4567</td>
                                                <td>Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr class="trBlue">
                                                <td>4567</td>
                                                <td>Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr class="trRed">
                                                <td>4567</td>
                                                <td>Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr class="trRed">
                                                <td>4567</td>
                                                <td>Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr class="trRed">
                                                <td>4567</td>
                                                <td>Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr class="">
                                                <td>4567</td>
                                                <td>Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr class="">
                                                <td>4567</td>
                                                <td>Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr class="">
                                                <td>4567</td>
                                                <td>Lorem ipsum dolor sit amet</td>
                                            </tr>
                                            <tr class="">
                                                <td>4567</td>
                                                <td>Lorem ipsum dolor sit amet</td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-5 col-gray">
                                <p><strong>Case 4567</strong></p>
                                <p>
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit,
                                    sed do eiusmod tempor
                                </p>
                                <hr style="border-top: 1px solid #D0D0D0;" />
                                <div>
                                    <small class="smallLabel">Time</small>
                                    <p>31 Mar 2020 08:00 to 11:00</p>
                                    <small class="smallLabel">Surgeon</small>
                                    <p>Amal Mukherjee, MD</p>
                                    <small class="smallLabel">Address</small>
                                    <p>850 W Irving Park Rd, Chicago, IL 60613</p>
                                    <small class="smallLabel">Instrument Trays</small>
                                    <p>ZNLFM-001-1, ZNLFM-002-1, ZNLFM-003-1, </p>
                                </div>
                            </div>
                        </div>
                        <div class="row" style=" position: absolute; bottom: 15px; right: 15px;">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-default btn-outline" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-default btn-outline" data-dismiss="modal">Case Details</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <!-- bootstrap datepicker -->
    <script src="~/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>
    
    <script type="text/javascript">
        app.activeMenus = ["menuDashboard"];

        // Document Ready
        $(document).ready(function () {
            $('#datepicker').datepicker({
                autoclose: true
            });
        });

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {

        }(window.page = window.page || {}, jQuery));
    </script>

    <script>


        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {

                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                defaultView: 'timeGridWeek',
                disableDragging: true,
                defaultDate: '2020-06-09',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                eventRender: function (info) {
                    info.el.querySelector('.fc-content').innerHTML = `
<div class="fc-custom-content" data-toggle="modal" data-target="#myModal">
<div class="pull-left">
<span class="fc-custom-title">${info.event.title}</span>
<span class="fc-custom-title">${info.event.title}</span>
<span class="fc-custom-title">${info.event.title}</span>
<span class="fc-custom-more">+18 more</span>
</div>
<div class="pull-right">
<span class="fc-custom-notify">88</span>
<span class="fc-custom-notify issueBlue">4</span>
<span class="fc-custom-notify issueRed">3</span>
</div>
<div class="clearfix"></div>
</div>
`;
                },
                allDaySlot: false,

                events: [

                    {
                        title: 'Case 4567',
                        start: '2020-06-09T07:00:00',
                        end: '2020-06-09T07:30:00',
                        color: 'white',
                        className: 'eventsRow'
                    },
                    {
                        title: 'Case 4567',
                        start: '2020-06-09T08:00:00',
                        end: '2020-06-09T08:30:00',
                        color: 'white',
                        className: 'eventsRow'
                    },
                    {
                        title: 'Case 4567',
                        start: '2020-06-13T09:00:00',
                        end: '2020-06-13T010:30:00',
                        color: 'white',
                        className: 'eventsRow'
                    },


                ],
            });

            calendar.render();

        });

    </script>
}

