﻿@using ProfitOptics.Modules.Reporting.Models.MarginBridge
@model ProductHierarchyFilterModel

<ul>
    <li data-code="@Model.Code" data-checked="@Model.Checked" data-locationfiltertype="@Model.FilterType" data-rowid="@Model.RowId" data-description="@Model.Description">
        <span class="description">@Model.Description</span>
        <span class="node-name" style="display:none">@Model.Code</span>
        @if (Model.Items != null && Model.Items.Any())
        {
            foreach (var locationsNode in Model.Items.OrderBy(i=>i.Description))
            {
                await Html.RenderPartialAsync("_ProductNode", locationsNode);
            }
        }
    </li>
</ul>