﻿@using ProfitOptics.Modules.Reporting.Enums
@using ProfitOptics.Modules.Reporting.Models.MarginBridge
@model MarginBridgeIndexModel
@{
    ViewBag.Title = "Margin Bridge";

    var firstPeriodStart = "";
    var firstPeriodEnd = "";
    var secondPeriodStart = "";
    var secondPeriodEnd = "";
    var locationSelectionChecked = (int)LocationLevelType.AllLocations;
    var productSelectionChecked = (int)ProductLevelType.AllProducts;

    if (Model != null)
    {
        firstPeriodStart = Model.FirstPeriod?.StartDate.ToString("d");
        firstPeriodEnd = Model.FirstPeriod?.EndDate.ToString("d");
        secondPeriodStart = Model.SecondPeriod?.StartDate.ToString("d");
        secondPeriodEnd = Model.SecondPeriod?.EndDate.ToString("d");
        locationSelectionChecked = (int)Model.LocationLevel;
        productSelectionChecked = (int)Model.ProductLevel;
    }

    var isHierarchyChecked = (locationSelectionChecked != (int)LocationLevelType.AllLocations || productSelectionChecked != (int)ProductLevelType.AllProducts).ToString().ToLower();
}

<section class="content-header">
    <h1 class="pull-left">
        Margin Bridge
    </h1>
    <div class="pull-right">
        <label>View:</label>
        <div id="view-by-btn-group" class="btn-group  btn-group-sm" style="margin:0 10px;">
            <button id="view-by-percent" value="0" type="button" class="btn btn-primary">GP %</button>
            <button id="view-by-dollar" value="1" type="button" class="btn btn-default">GP $</button>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border" data-widget="collapse" style="cursor:pointer">
                    <h3 class="box-title">
                        <strong>Period Date Ranges:</strong>
                        <span class="subtitle selected-range">
                            From <strong class="date0"></strong> to <strong class="date1"></strong> and from <strong class="date2"></strong> to <strong class="date3"></strong>
                        </span>
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="periods col-md-12">
                        
                        <div class="col-md-5">
                            <div><u>Quick Options:</u></div>
                            <div>
                                @foreach (var periodRange in Model.PeriodRanges)
                                {
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="PeriodId" class="period-range" value="@periodRange.Id"
                                                   data-first-period-start="@periodRange.FirstPeriod.StartDate.ToString("d")"
                                                   data-first-period-end="@periodRange.FirstPeriod.EndDate.ToString("d")"
                                                   data-second-period-start="@periodRange.SecondPeriod.StartDate.ToString("d")"
                                                   data-second-period-end="@periodRange.SecondPeriod.EndDate.ToString("d")"
                                                   @(periodRange.Id == Model.PeriodId ? "checked" : null)>
                                            @periodRange.Title
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="col-md-12">
                                <div><u>Custom:</u></div>
                            </div>
                            <div class="first-period col-md-6">
                                <h5><strong>First Period</strong></h5>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <input type="text" class="datepicker from-date form-control">
                                        </div>
                                        <div class="col-md-1 text-center" style="margin-top: 7px;">to</div>
                                        <div class="col-md-5">
                                            <input type="text" class="datepicker to-date form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="second-period col-md-6">
                                <h5><strong>Second Period</strong></h5>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-5">
                                            <input type="text" class="datepicker from-date form-control">
                                        </div>
                                        <div class="col-md-1 text-center" style="margin-top: 7px;">to</div>
                                        <div class="col-md-5">
                                            <input type="text" class="datepicker to-date form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("FilterWidget")
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border" data-widget="collapse" style="cursor:pointer">
                    <h3 class="box-title">
                        <strong>Hierarchy Level Filter:</strong> <span class="subtitle"> Choose location and product hierarchy levels</span>
                        <strong class="hierarchy-selected">( <span class ="location-hierarchy-selected"></span> + <span class="product-hierarchy-selected"></span> )</strong>
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="periods hierarchy-level">
                        <div class="col-md-4">
                            <div class="selection-levels">
                                <h4><strong>Location Hierarchy Level</strong></h4>
                                <div class="location-selection-levels">
                                    @foreach (var radiobutton in Model.LocationSelection)
                                    {
                                        <input type="radio" id="@radiobutton.Caption" name="locationSelection" value="@radiobutton.Value" checked=@(radiobutton.Value == locationSelectionChecked ? "checked" : "") /> <label for="@radiobutton.Caption">@radiobutton.Caption</label><br />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="selection-levels">
                                <h4><strong>Products Hierarchy Level</strong></h4>
                                <div class="product-selection-levels ">
                                    @foreach (var radiobutton in Model.ProductSelection)
                                    {
                                        <input type="radio" id="@radiobutton.Caption" name="productSelection" value="@radiobutton.Value" checked=@(radiobutton.Value == productSelectionChecked ? "checked" : "") /> <label for="@radiobutton.Caption">@radiobutton.Caption</label><br />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="execute-margin-bridge" class="btn btn-primary pull-right" disabled><i class="fa fa-play"></i> Execute</button>
        </div>
    </div>
    <div class="row">
        <div class="marginBridgeWrapper">
            <div class="col-md-12">
                <div class="box box-primary main-box" style="display:none">
                    <div class="statistics">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-md-1"></div>
                                <div class="col-md-8 hichart-container" style="margin-left: 70px; display: none;">
                                    <div>
                                        <div class="box-body">
                                            <div class="hichart" style="width: 100%;">
                                                <div id="container" style="height: 300px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input id="chartStartMargin" type="hidden" asp-for="StatisticsModel.Chart.ChartStartMargin" class="chartData" />
                                <input id="chartPrice" type="hidden" asp-for="StatisticsModel.Chart.ChartPrice" class="chartData" />
                                <input id="chartCost" type="hidden" asp-for="StatisticsModel.Chart.ChartCost" class="chartData" />
                                <input id="chartVolume" type="hidden" asp-for="StatisticsModel.Chart.ChartVolume" class="chartData" />
                                <input id="chartProductMix" type="hidden" asp-for="StatisticsModel.Chart.ChartProductMix" class="chartData" />
                                <input id="chartRebateRate" type="hidden" asp-for="StatisticsModel.Chart.ChartRebateRate" class="chartData" />
                                <input id="chartRebateVol" type="hidden" asp-for="StatisticsModel.Chart.ChartRebateVol" class="chartData" />
                                <input id="chartRebateProdMix" type="hidden" asp-for="StatisticsModel.Chart.ChartRebateProdMix" class="chartData" />
                                <input id="chartEndMargin" type="hidden" asp-for="StatisticsModel.Chart.ChartEndMargin" class="chartData" />
                            </div>
                            <div class="col-lg-12 middle-content-wrapper">
                                <div class="middle-content">
                                    <div class="view-filter">
                                        <div class="view-filter-buttons">
                                            <span>View By</span>
                                            <button id="allLocations" class="groupByMaxClass @Model.LocationLevel">All @Model.LocationLevel</button>
                                            <button id="allProducts" class="groupByMaxClass @Model.ProductLevel">All @Model.ProductLevel</button>
                                        </div>
                                        <div class="download-xlsx">
                                            <button class="downloadXlsx">DOWNLOAD</button>
                                            <button class="downloadRawXlsx">RAW</button>
                                        </div>
                                    </div>
                                    <div class="filtered-table-wrapper" style="margin-left: 25px;">
                                        <div class="table-responsive">
                                            <div id="tblManager_wrapper" class="dataTables_wrapper">
                                                <div class="pull-left"></div>
                                                <div class="pull-right"></div>

                                                <table cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid white ! important; width: 98% !important;" class="table-striped tablelargefont table table-hover tbl-dt dataTable" id="tblStatisticsTable" role="grid" aria-describedby="tblManager_info">
                                                    <thead>
                                                        <tr class="mainheader" role="row">
                                                            <th style="vertical-align: middle ! important; text-align: left ! important;" class="text-left brd-sepoarator-light sorting" tabindex="0" aria-controls="tblManager" rowspan="1" colspan="1" aria-label="National Manager: activate to sort column ascending"><span class="table-caption">Margin Bridge</span></th>
                                                            <th style="vertical-align: middle ! important; text-align: center ! important;" class="text-right sorting" tabindex="0" aria-controls="tblManager" rowspan="1" colspan="1" aria-label="Online: activate to sort column ascending" data-caption="Period1Sales" data-sort="asc"><span>P1 SALES $</span></th>
                                                            <th style="vertical-align: middle ! important; text-align: center ! important;" class="text-right sorting" tabindex="0" aria-controls="tblManager" rowspan="1" colspan="1" aria-label="Online: activate to sort column ascending" data-caption="Period2Sales" data-sort="asc"><span>P2 SALES $</span></th>
                                                            <th style="vertical-align: middle ! important; text-align: right ! important;" class="text-right sorting_desc" tabindex="0" aria-controls="tblManager" rowspan="1" colspan="1" aria-sort="descending" aria-label="Total: activate to sort column ascending" data-caption="StartMargin" data-sort="asc"><span>START MARGIN</span></th>
                                                            <th style="vertical-align: middle ! important; text-align: center ! important;" class="text-right sorting" tabindex="0" aria-controls="tblManager" rowspan="1" colspan="1" aria-label="Online: activate to sort column ascending" data-caption="Price" data-sort="asc"><span>PRICE</span></th>
                                                            <th style="vertical-align: middle ! important; text-align: center ! important;" class="text-center sorting" tabindex="0" aria-controls="tblManager" rowspan="1" colspan="1" aria-label="Total: activate to sort column ascending" data-caption="Cost" data-sort="asc"><span>COST</span></th>
                                                            <th style="vertical-align: middle ! important; text-align: center ! important;" class="text-center sorting" tabindex="0" aria-controls="tblManager" rowspan="1" colspan="1" aria-label="Ordering Online: activate to sort column ascending" data-caption="Volume" data-sort="asc"><span>VOLUME</span></th>
                                                            <th style="vertical-align: middle ! important; text-align: center ! important;" class="text-center sorting" tabindex="0" aria-controls="tblManager" rowspan="1" colspan="1" aria-label="Pending: activate to sort column ascending" data-caption="ProductMix" data-sort="asc"><span>PRODUCT MIX</span></th>
                                                            <th style="vertical-align: middle ! important; text-align: center ! important;" class="text-center sorting" tabindex="0" aria-controls="tblManager" rowspan="1" colspan="1" aria-label="Pending: activate to sort column ascending" data-caption="RebateRate" data-sort="asc"><span>REBATE RATE</span></th>
                                                            <th style="vertical-align: middle ! important; text-align: center ! important;" class="text-center sorting" tabindex="0" aria-controls="tblManager" rowspan="1" colspan="1" aria-label="Pending: activate to sort column ascending" data-caption="RebateVol" data-sort="asc"><span>REBATE VOL</span></th>
                                                            <th style="vertical-align: middle ! important; text-align: center ! important;" class="text-center sorting" tabindex="0" aria-controls="tblManager" rowspan="1" colspan="1" aria-label="Pending: activate to sort column ascending" data-caption="RebateProdMix" data-sort="asc"><span>REBATE PROD MIX</span></th>
                                                            <th style="vertical-align: middle ! important; text-align: center ! important;" class="text-center sorting" tabindex="0" aria-controls="tblManager" rowspan="1" colspan="1" aria-label="Pending: activate to sort column ascending" data-caption="TotalImpact" data-sort="asc"><span>TOTAL IMPACT</span></th>
                                                            <th style="vertical-align: middle ! important; text-align: right ! important;" class="text-center sorting" tabindex="0" aria-controls="tblManager" rowspan="1" colspan="1" aria-label="Oppt: activate to sort column ascending" data-caption="EndMargin" data-sort="asc"><span>END MARGIN</span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td id="Total" class="brd-sepoarator th-foter text-left brd-sepoarator-light" colspan="1" rowspan="1">Total</td>
                                                            <td id="Period1Sales" class="text-right"></td>
                                                            <td id="Period2Sales" class="text-right"></td>
                                                            <td id="TotalStartMargin" class="text-right sorting_1"></td>
                                                            <td id="TotalPrice" class="text-right"></td>
                                                            <td id="TotalCost" class="text-right"></td>
                                                            <td id="TotalVolume" class="text-right"></td>
                                                            <td id="TotalProductMix" class="text-right"></td>
                                                            <td id="TotalRebateRate" class="text-right"></td>
                                                            <td id="TotalRebateVol" class="text-right"></td>
                                                            <td id="TotalRebateProdMix" class="text-right"></td>
                                                            <td id="TotalTotalImpact" class="text-right"></td>
                                                            <td id="TotalEndMargin" class=" text-right"></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 error-info middle-content-wrapper text-center" style="color: red"></div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" asp-for="StatisticsModel.MarginBridgeType" />
            <input type="hidden" asp-for="StatisticsModel.CanDrillThrough" />
            <input type="hidden" asp-for="StatisticsModel.LocationLevel" />
            <input type="hidden" asp-for="ProductLevel" />
            <input type="hidden" asp-for="StatisticsModel.GroupedBy" />
            <input type="hidden" asp-for="StatisticsModel.NumberOfRows" />
            <input type="hidden" id="goBackToIndexPageUrl" value="@Url.Action("Index")" />
            <input type="hidden" id="calculateResultsUrl" value="@Url.Action("CalculateResults")" />
            <input type="hidden" id="groupByMaxLevelUrl" value="@Url.Action("GroupByMaxLevel")" />
            <input type="hidden" id="applyFilterUrl" value="@Url.Action("ApplyFilter")" />
            <input type="hidden" id="unapplyFilterUrl" value="@Url.Action("UnApplyFilter")" />
            <input type="hidden" id="getStatisticsDataTableUrl" value="@Url.Action("GetStatisticsDataTable")" />
            <input type="hidden" id="getDataBridgeTableUrl" value="@Url.Action("GetDataBridgeModel")" />
            <input type="hidden" id="downloadXlsxUrl" value="@Url.Action("Download")" />
            <input type="hidden" id="downloadRawXlsxUrl" value="@Url.Action("DownloadRaw")" />
            <input type="hidden" id="downloadRawDatabridgeXlsxUrl" value="@Url.Action("DownloadDataBridge")" />
            <input type="hidden" id="checkDownloadStatusUrl" value="@Url.Action("CheckDownloadStatus")" />
        </div>
    </div>

    @Html.Hidden("applyFilterPath", Url.Action("ProcessStatistics"))
</section>

<section class="content"></section>

@section styles {
    <link href="~/Modules/ProfitOptics.Modules.Reporting/Content/css/jstree/jsStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Modules/ProfitOptics.Modules.Reporting/Content/css/simplePagination.css" rel="stylesheet" type="text/css" />
    <link href="~/Modules/ProfitOptics.Modules.Reporting/Content/css/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/hicharts.js"></script>

    <style type="text/css">
        #chart-container {
            padding: 25px;
        }

        .middle-content {
            display: none;
        }

        .popover {
            font-size: 14px !important;
            font-family: 'Roboto Condensed', sans-serif !important;
        }

        .light-blue {
            background-color: #F0FAFF !important;
        }

        .light-gray {
            background-color: #f0f0f0 !important;
        }

        .NegativeValueColor {
            color: red;
        }

        .popover {
            max-width: 400px;
        }

        .middle-content-wrapper {
            width: fit-content;
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        app.activeMenus =
            ["menuReporting", "menuMarginBridge"]; // List all menus that should be activated when this page is opened

        var formatStringPositive = "<span class='datacell'>{0}</span>";
        var formatStringNegative = "<span class='datacell NegativeValueColor'>{0}</span>";

        function getMarginBridgeFilters() {
            blockUI("Getting statistics table data...");

            var url = '@Url.Action("ProcessStatistics", "MarginBridge", new {area = "Reporting"})';

            var firstPeriodFrom = moment($(".first-period .from-date").datepicker('getDate')).startOf('month').format('MM-DD-YYYY');
            var firstPeriodTo = moment($(".first-period .to-date").datepicker('getDate')).endOf('month').format('MM-DD-YYYY');
            var secondPeriodFrom = moment($(".second-period .from-date").datepicker('getDate')).startOf('month').format('MM-DD-YYYY');
            var secondPeriodTo = moment($(".second-period .to-date").datepicker('getDate')).endOf('month').format('MM-DD-YYYY');

            var marginBridgeType = $("#view-by-percent").hasClass("btn-primary")
                ? $("#view-by-percent").val()
                : $("#view-by-dollar").val();
            var model = {
                PeriodId: $('.period-range:checked').val(),
                FirstPeriod: {
                    StartDate: firstPeriodFrom,
                    EndDate: firstPeriodTo
                },
                SecondPeriod: {
                    StartDate: secondPeriodFrom,
                    EndDate: secondPeriodTo
                },
                ProductSelectionLevel: $(".product-selection-levels input:checked").val(),
                LocationSelectionLevel: $(".location-selection-levels input:checked").val(),
                MarginBridgeType: marginBridgeType
            }

            $.ajax({
                type: "POST",
                url: url,
                data: model,
                success: function(data) {
                    if (data.Success === false) {
                        alert(data.ErrorMessage);
                        $.unblockUI();
                    }
                },
                error: function() {
                    $.unblockUI();
                },
            }).done(function(model) {
                if (model.Success === true) {
                    $("#StatisticsModel_MarginBridgeType").val(model.MarginBridgeType);

                    getStatisticsData(model);

                    renderStatisticsTable();

                    $(".hichart-container").show();

                    fillHierarchySelection();

                }

                $.unblockUI();
            });
        }

        function getStatisticsData(statisticsData) {
            if (statisticsData.MarginBridgeType === 0) {
                $('#chartStartMargin').val((statisticsData.Data.StartMargin * 100).toFixed(2));
                $('#chartPrice').val((statisticsData.Data.Price * 100).toFixed(3));
                $('#chartCost').val((statisticsData.Data.Cost * 100).toFixed(3));
                $('#chartVolume').val((statisticsData.Data.Volume * 100).toFixed(3));
                $('#chartProductMix').val((statisticsData.Data.ProductMix * 100).toFixed(3));
                $('#chartRebateRate').val((statisticsData.Data.RebateRate * 100).toFixed(3));
                $('#chartRebateVol').val((statisticsData.Data.RebateVol * 100).toFixed(3));
                $('#chartRebateProdMix').val((statisticsData.Data.RebateProdMix * 100).toFixed(3));
                $('#chartEndMargin').val((statisticsData.Data.EndMargin * 100).toFixed(2));
            } else {
                $('#chartStartMargin').val((statisticsData.Data.StartMargin).toFixed());
                $('#chartPrice').val((statisticsData.Data.Price).toFixed());
                $('#chartCost').val((statisticsData.Data.Cost).toFixed());
                $('#chartVolume').val((statisticsData.Data.Volume).toFixed());
                $('#chartProductMix').val((statisticsData.Data.ProductMix).toFixed());
                $('#chartRebateRate').val((statisticsData.Data.RebateRate).toFixed());
                $('#chartRebateVol').val((statisticsData.Data.RebateVol).toFixed());
                $('#chartRebateProdMix').val((statisticsData.Data.RebateProdMix).toFixed());
                $('#chartEndMargin').val((statisticsData.Data.EndMargin).toFixed());
            }
            renderHicharts();
        }

        $(document).ready(function() {
            Tree.Init();
            let statTable = null;

            $("#apply-filter-btn").remove();
            $("#execute-margin-bridge").click(function() {
                page.onApplyFilterClicked("", getMarginBridgeFilters);
            });

            $("#viewByType").select2();
            $("#comparisonType").select2();

            $(".first-period .from-date").datepicker({
                format: "mm-yyyy",
                viewMode: "months",
                minViewMode: "months"
            }).on("hide",
                function(e) {
                    $(".date0").text(($(this).val()));
                }).on("change", function() { validateInputFields() });

            $(".first-period .to-date").datepicker({
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months"
        }).on("hide",
            function(e) {
                $(".date1").text(($(this).val()));
            }).on("change", function () { validateInputFields() });

        $(".second-period .from-date").datepicker({
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months"
        }).on("hide",
            function(e) {
                $(".date2").text(($(this).val()));
            }).on("change", function () { validateInputFields() });

        $(".second-period .to-date").datepicker({
            format: "mm-yyyy",
            viewMode: "months",
            minViewMode: "months"
        }).on("hide",
            function(e) {
                $(".date3").text(($(this).val()));
            }).on("change", function () { validateInputFields() });

        $(".hierarchy-level input:radio").on("change",
            function() {
                validateInputFields();

                fillHierarchySelection();
        });

        $('.period-range').on('change', function() {
            var periodRange = $(this);

            unbindPeriodChangeEvents();
            $('.first-period .from-date').datepicker('setDate', moment(periodRange.data('first-period-start')).toDate());
            $('.first-period .to-date').datepicker('setDate', moment(periodRange.data('first-period-end')).toDate());
            $('.second-period .from-date').datepicker('setDate', moment(periodRange.data('second-period-start')).toDate());
            $('.second-period .to-date').datepicker('setDate', moment(periodRange.data('second-period-end')).toDate());
            bindPeriodChangeEvents();

            $(".date0").text(moment(periodRange.data('first-period-start')).format('MM-YYYY'));
            $(".date1").text(moment(periodRange.data('first-period-end')).format('MM-YYYY'));
            $(".date2").text(moment(periodRange.data('second-period-start')).format('MM-YYYY'));
            $(".date3").text(moment(periodRange.data('second-period-end')).format('MM-YYYY'));
        });

            $('.period-range').parent().popover({
                content: function() {
                    let url = `@Url.Content("~/Modules/ProfitOptics.Modules.Reporting/Content/img/MarginBridge")/${$(this).find('input').val()}.jpg`;

                    return `<img width='300' src='${url}' />`;
                },
                trigger: 'hover',
                placement: 'bottom',
                html: true
            });

            var firstPeriodStart = '@firstPeriodStart';
            var firstPeriodEnd = '@firstPeriodEnd';
            var secondPeriodStart = '@secondPeriodStart';
            var secondPeriodEnd = '@secondPeriodEnd';
            if (firstPeriodStart !== '') {
                $('.first-period .from-date').datepicker('setDate', moment(firstPeriodStart).toDate());
                $('.date0').text(moment(firstPeriodStart).format('MM-YYYY'));
            }
            if (firstPeriodEnd !== '') {
                $('.first-period .to-date').datepicker('setDate', moment(firstPeriodEnd).toDate());
                $('.date1').text(moment(firstPeriodEnd).format('MM-YYYY'));
            }
            if (secondPeriodStart !== '') {
                $('.second-period .from-date').datepicker('setDate', moment(secondPeriodStart).toDate());
                $('.date2').text(moment(secondPeriodStart).format('MM-YYYY'));
            }
            if (secondPeriodEnd !== '') {
                $('.second-period .to-date').datepicker('setDate', moment(secondPeriodEnd).toDate());
                $('.date3').text(moment(secondPeriodEnd).format('MM-YYYY'));
            }

            bindPeriodChangeEvents();

        if (@isHierarchyChecked) {

            $(".location-selection-levels input[value='" + @locationSelectionChecked + "']").prop("checked", true);
            $(".product-selection-levels input[value='" + @productSelectionChecked + "']").prop("checked", true);
        } else {

            $(".product-selection-levels input").prop("checked", false);
            $(".location-selection-levels input").prop("checked", false);
        }


        $("#comparisonType").on('select2:select',
            function(e) {
                var id = e.params.data.id;

                if (id === '@((int) ComparisonType.CustomDateRangeYearOverYear)') {
                    $("#customDateRangeContainer").show();
                } else {
                    $("#customDateRangeContainer").hide();
                }
            });

        $('#view-by-btn-group button').click(function() {
            if ($(this).hasClass("btn-primary")) {
                return;
            }

            $(this).addClass('btn-primary').siblings().removeClass('btn-primary').addClass('btn-default');
            page.onApplyFilterClicked("", getMarginBridgeFilters);
        });

        page.loadDefaultFilters();
        fillHierarchySelection();
        validateInputFields();
        Statistics.Init();
        });

        function fillHierarchySelection() {
            var selectedLocation = $(".location-selection-levels input:checked").attr("id");

            var selectedProduct = $(".product-selection-levels input:checked").attr("id");

            $(".location-hierarchy-selected").text(selectedLocation);
            $(".product-hierarchy-selected").text(selectedProduct);
        }

        function bindPeriodChangeEvents() {
            $(".first-period .to-date").on('change', onPeriodChange);
            $(".first-period .from-date").on('change', onPeriodChange);
            $(".second-period .from-date").on('change', onPeriodChange);
            $(".second-period .to-date").on('change', onPeriodChange);
        }

        function unbindPeriodChangeEvents() {
            $(".first-period .to-date").off('change', onPeriodChange);
            $(".first-period .from-date").off('change', onPeriodChange);
            $(".second-period .from-date").off('change', onPeriodChange);
            $(".second-period .to-date").off('change', onPeriodChange);
        }

        function onPeriodChange() {
            $('.period-range:checked').prop('checked', false);
        }

        let renderStatisticsTable = function() {
            var priceClass = "";
            var costClass = "";
            var volumeClass = "";
            var productMixClass = "";
            var rebateRateClass = "";
            var rebateVolClass = "";
            var rebateProdMixClass = "";
            var totalImpactClass = "";
            var canDrillThrough = $("#canDrillThrough").val();
            var url = "@Url.Action("GetStatisticsDataTable", "MarginBridge", new {area = "Reporting"})";

            if (typeof statTable === 'undefined' || statTable === null) {

                statTable = $("#tblStatisticsTable").DataTable({
                    "sAjaxSource": url,
                    "aLengthMenu": [10, 25, 50, 100],
                    "iDisplayLength": 10,
                    "bFilter": true,
                    "bProcessing": false,
                    "bPaginate": true,
                    "bServerSide": true,
                    "bStateSave": true,
                    "sDom": '<"pull-left"><"pull-right">t<"pull-left"l><"pull-right"ip>',
                    "sPaginationType": "full_numbers",
                    "aaSorting": [[0, 'asc']],
                    "fnServerData": function(sSource, aoData, fnCallback) {


                        var newAoData = {
                            sEcho: getAoDataVal(aoData, "sEcho"),
                            iDisplayLength: getAoDataVal(aoData, "iDisplayLength"),
                            iDisplayStart: getAoDataVal(aoData, "iDisplayStart"),
                            sColumnName: getAoDataVal(aoData, "mDataProp_" + getAoDataVal(aoData, "iSortCol_0")),
                            sSortColDir: getAoDataVal(aoData, "sSortDir_0"),
                            sSearch: getAoDataVal(aoData, "sSearch")
                        };

                        $.postJSON(sSource,
                            newAoData,
                            function(data) {
                                fnCallback(data);
                                $("#Period1Sales").text("$ " +
                                    ((data.aaSummaryRow.Period1Sales).toFixed(0)).replace(/(\d)(?=(\d{3})+$)/g, '$1,'));
                                $("#Period2Sales").text("$ " +
                                    (data.aaSummaryRow.Period2Sales).toFixed(0).replace(/(\d)(?=(\d{3})+$)/g, '$1,'));
                                $("#TotalStartMargin")
                                    .text(tableCellFormatByMarginType(data.aaSummaryRow.StartMargin, 2));
                                $("#TotalPrice").text(tableCellFormatByMarginType(data.aaSummaryRow.Price, 3));
                                $("#TotalCost").text(tableCellFormatByMarginType(data.aaSummaryRow.Cost, 3));
                                $("#TotalVolume").text(tableCellFormatByMarginType(data.aaSummaryRow.Volume, 3));
                                $("#TotalProductMix")
                                    .text(tableCellFormatByMarginType(data.aaSummaryRow.ProductMix, 3));
                                $("#TotalRebateRate")
                                    .text(tableCellFormatByMarginType(data.aaSummaryRow.RebateRate, 3));
                                $("#TotalRebateVol").text(tableCellFormatByMarginType(data.aaSummaryRow.RebateVol, 3));
                                $("#TotalRebateProdMix")
                                    .text(tableCellFormatByMarginType(data.aaSummaryRow.RebateProdMix, 3));
                                $("#TotalTotalImpact")
                                    .text(tableCellFormatByMarginType(data.aaSummaryRow.TotalImpact, 3));
                                $("#TotalEndMargin").text(tableCellFormatByMarginType(data.aaSummaryRow.EndMargin, 2));

                                $.unblockUI();
                            });
                    },

                    "aoColumnDefs": [
                        {
                            "fnRender": function(oObj) {
                                return oObj;
                            },
                        }
                    ],

                    "aoColumns": [
                        {
                            "mData": "Result.Description",
                            "mRender": function(data, display, row) {
                                if (canDrillThrough === "True") {
                                    return "<a href='javascript:;' style='max-width: 175px;display: block;overflow: hidden;text-overflow: ellipsis;' >" +
                                        row.Description +
                                        "</a>" +
                                        "<input class='caption-link' type='hidden' value='" +
                                        row.Caption +
                                        "'/>";
                                } else {
                                    return "<span style='max-width: 175px;display: block;overflow: hidden;text-overflow: ellipsis;' >" +
                                        row.Description +
                                        "</span><input class='caption-link' type='hidden' value='" +
                                        row.Caption +
                                        "'/>";
                                }
                            },
                            "sClass": "text-left brd-sepoarator-light",
                            "sWidth": "220px"
                        },
                        {
                            "mData": "Result.Period1Sales",
                            "mRender": function(data, display, row) {
                                return "$  " + row.Period1Sales.toFixed(0).replace(/(\d)(?=(\d{3})+$)/g, '$1,');
                            },
                            "sClass": "text-right",
                            "sWidth": "100px"
                        },
                        {
                            "mData": "Result.Period2Sales",
                            "mRender": function(data, display, row) {
                                return "$  " + row.Period2Sales.toFixed(0).replace(/(\d)(?=(\d{3})+$)/g, '$1,');
                            },
                            "sClass": "text-right",
                            "sWidth": "100px"
                        },
                        {
                            "mData": "Result.StartMargin",
                            "mRender": function(data, display, row) {
                                return tableCellFormatByMarginType(row.StartMargin, 2);
                            },
                            "sClass": "text-right",
                            "sWidth": "100px"
                        },
                        {
                            "mData": "Result.Price",
                            "mRender": function(data, display, row) {
                                return tableCellFormatByMarginType(row.Price, 3);
                            },
                            "sClass": "text-right",
                            "sWidth": "100px"
                        },
                        {
                            "mData": "Result.Cost",
                            "mRender": function(data, display, row) {
                                return tableCellFormatByMarginType(row.Cost, 3);
                            },
                            "sClass": "text-right",
                            "sWidth": "100px"
                        },
                        {
                            "mData": "Result.Volume",
                            "mRender": function(data, display, row) {
                                return tableCellFormatByMarginType(row.Volume, 3);
                            },
                            "sClass": "text-right",
                            "sWidth": "100px"
                        },
                        {
                            "mData": "Result.ProductMix",
                            "mRender": function(data, display, row) {
                                return tableCellFormatByMarginType(row.ProductMix, 3);
                            },
                            "sClass": "text-right",
                            "sWidth": "110px"
                        },
                        {
                            "mData": "Result.RebateRate",
                            "mRender": function(data, display, row) {
                                return tableCellFormatByMarginType(row.RebateRate, 3);
                            },
                            "sClass": "text-right",
                            "sWidth": "110px"
                        },
                        {
                            "mData": "Result.RebateVol",
                            "mRender": function(data, display, row) {
                                return tableCellFormatByMarginType(row.RebateVol, 3);
                            },
                            "sClass": "text-right",
                            "sWidth": "110px"
                        },
                        {
                            "mData": "Result.RebateProdMix",
                            "mRender": function(data, display, row) {
                                return tableCellFormatByMarginType(row.RebateProdMix, 3);
                            },
                            "sClass": "text-right",
                            "sWidth": "110px"
                        },
                        {
                            "mData": "Result.TotalImpact",
                            "mRender": function(data, display, row) {
                                return tableCellFormatByMarginType(row.TotalImpact, 3);
                            },
                            "sClass": "text-right",
                            "sWidth": "100px"
                        },
                        {
                            "mData": "Result.EndMargin",
                            "mRender": function(data, display, row) {
                                return tableCellFormatByMarginType(row.EndMargin, 2);
                            },
                            "sClass": "text-right",
                            "sWidth": "110px"
                        }
                    ],
                    "fnRowCallback": function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        priceClass = aData.Price > 0 ? "arrow-up" : aData.Price < 0 ? "arrow-down" : "";
                        costClass = aData.Cost > 0 ? "arrow-up" : aData.Cost < 0 ? "arrow-down" : "";
                        volumeClass = aData.Volume > 0 ? "arrow-up" : aData.Volume < 0 ? "arrow-down" : "";
                        productMixClass = aData.ProductMix > 0 ? "arrow-up" : aData.ProductMix < 0 ? "arrow-down" : "";
                        rebateRateClass = aData.RebateRate > 0 ? "arrow-up" : aData.RebateRate < 0 ? "arrow-down" : "";
                        rebateVolClass = aData.RebateVol > 0 ? "arrow-up" : aData.RebateVol < 0 ? "arrow-down" : "";
                        rebateProdMixClass =
                            aData.RebateProdMix > 0 ? "arrow-up" : aData.RebateProdMix < 0 ? "arrow-down" : "";
                        totalImpactClass =
                            aData.TotalImpact > 0 ? "arrow-up" : aData.TotalImpact < 0 ? "arrow-down" : "";

                        if (aData.Description.length > 25) {
                            $('td:eq(0)', nRow).prop("title", aData.Description);
                        }
                        $('td:eq(4)', nRow).addClass(priceClass);
                        $('td:eq(5)', nRow).addClass(costClass);
                        $('td:eq(6)', nRow).addClass(volumeClass);
                        $('td:eq(7)', nRow).addClass(productMixClass);
                        $('td:eq(8)', nRow).addClass(rebateRateClass);
                        $('td:eq(9)', nRow).addClass(rebateVolClass);
                        $('td:eq(10)', nRow).addClass(rebateProdMixClass);
                        $('td:eq(11)', nRow).addClass(totalImpactClass);
                    }
                });
            } else {

                statTable.ajax.reload();
            }

            $(".middle-content").css("display", "initial");
            $(".main-box").css("display", "block");

            var locationType = $(".location-selection-levels input:checked").attr('id');
            var productType = $(".product-selection-levels input:checked").attr('id');

            $("#allLocations").text("All " + locationType);
            $("#allProducts").text("All " + productType);
            $("#allLocations").addClass("selected");
            $("#allProducts").removeClass("selected");

            $(".table-caption").text(locationType);
        };

        function tableCellFormatByMarginType(a, numberOfDecimals) {
            var mbType = $("#StatisticsModel_MarginBridgeType").val();

            //Gp Percentage = 0, Gp Dollar = 1
            if (mbType === "0") {
                return (a * 100).toFixed(numberOfDecimals) + " %";
            }

            if (a < 0) {
                return "-$  " + (Math.abs(a) / 1000).toFixed(0).replace(/(\d)(?=(\d{3})+$)/g, '$1,') + "K";
            }

            return "$  " + (a / 1000).toFixed(0).replace(/(\d)(?=(\d{3})+$)/g, '$1,') + "K";
        }

        function validateInputFields() {
            if (hasValue($(".first-period .from-date").val()) &&
                hasValue($(".first-period .to-date").val()) &&
                hasValue($(".second-period .from-date")) &&
                hasValue($(".second-period .to-date").val()) &&
                $("input:radio[name=locationSelection]").is(":checked") &&
                $("input:radio[name=productSelection]").is(":checked")) {
                $("#execute-margin-bridge").attr("disabled", false).attr("title", "");
            } else {
                $("#execute-margin-bridge").attr("disabled", true).attr("title", "Please select periods and hierarchy filter in order to generate a report.");
            }
        }

        function hasValue(value) {
            return value != "" && value != undefined && value != null;
        }

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function(page, $, undefined) {
            page.onApplyFilterClicked = function(filterName, callback) {
                page.saveOrUpdateUserFilter(filterName, callback);
            };
        }(window.page = window.page || {}, jQuery));
    </script>

    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/common.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/constants.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/jquery.postjson.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/date.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/respond.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/jquery.simplePagination.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/jstree.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/main.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/tree.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/statistics.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/jquery.notify.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/modernizr-2.6.2.js"></script>
}
