﻿@model ProfitOptics.Modules.Employee.Models.EmployeeModel
<div class="modal"  id="CreateOrUpdateEmployeeDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">

            <form asp-action="@((Model.updateFlag == false) ? "OnCreate" : "OnUpdate")" asp-controller="Employee" method="post" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">@((Model.updateFlag == false) ? "Create Employee" : "Update Employee")</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        <input asp-for="Id" type="hidden" />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="FirstName">First Name:</label>
                                <input asp-for="FirstName" class="form-control loginline" placeholder="First Name" value="@Model.FirstName" />
                            </div>
                            <div class="col-md-3">
                                <label asp-for="LastName">Last Name:</label>
                                <input asp-for="LastName" class="form-control loginline" placeholder="Last Name" value="@Model.LastName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="ManagerId">Manager:</label>
                                <select asp-for="ManagerId" asp-items="@Model.AllManagers"></select>
                            </div>
                            <div class="col-md-3">
                                <label asp-for="ManagerId">Skills:</label>
                                <select asp-for="EmployeeSkillIds" asp-items="@Model.AllSkills"></select>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="@((Model.updateFlag == false) ? "Create" : "Update")" />
                </div>
            </form>

        </div>
    </div>
</div>