﻿@model ProfitOptics.Modules.Employee.Models.EmployeeModel
<div class="modal" id="DeleteEmployeeConfirmationDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">

            <form asp-action="OnDelete" asp-controller="Employee" method="get" role="form">

                @*Ovako prenosimo id u akciju kontrolera*@
                <input asp-for="Id" type="hidden" />

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Warrning!</h4>
                </div>
                <div class="modal-body">
                    <div>Are you sure you want to delete @Model.FirstName @Model.LastName?</div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </div>

            </form>

        </div>
    </div>
</div>