﻿@model ProfitOptics.Modules.Employee.Models.EmployeeModel
@{
    ViewBag.Title = "Edit Employee";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>@ViewBag.Title.</h2>
        <form asp-controller="Employee" asp-action="@((Model.updateFlag == false) ? "OnCreate" : "OnUpdate")" method="post" class="form-horizontal" role="form">
            <input asp-for="Id" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-3">
                    <label asp-for="FirstName">First Name:</label>
                    <input asp-for="FirstName" class="form-control loginline" placeholder="First Name" value="@Model.FirstName" />
                </div>
                <div class="col-md-3">
                    <label asp-for="LastName">Last Name:</label>
                    <input asp-for="LastName" class="form-control loginline" placeholder="Last Name" value="@Model.LastName" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label asp-for="ManagerId">Manager:</label>
                    <select asp-for="ManagerId" asp-items="@Model.AllManagers"></select>
                </div>
                <div class="col-md-3">
                    <label asp-for="ManagerId">Skills:</label>
                    <select asp-for="EmployeeSkillIds" asp-items="@Model.AllSkills"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-default" value="@((Model.updateFlag == false) ? "Create" : "Update")" />
                </div>
            </div>
        </form>
    </div>
</div>

@section styles {
    <style type="text/css">
        /*Some customer styles for this page*/
    </style>
}

@section scripts {
    <script type="text/javascript">
        //app.activeMenus = ["menuEmployee"]; // List all menus that should be activated when this page is opened
   .     // Document Ready
        $(document).ready(function () {

        });

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {

        }(window.page = window.page || {}, jQuery));
    </script>
}
