﻿@model ProfitOptics.Modules.Employee.Models.AllEmployeesModel
@{
    ViewBag.Title = "All Eployees";
    @*@Scripts.Render("~/bundles/modernizr")*@
}

<div>
    @*<a asp-controller="Employee" asp-action="CreateEmployee" class="btn btn-default">Create New Eployee</a>*@
    <a class="btn btn-default" onclick="createEmployee()">Create New Eployee</a>
</div>
<div>
    <table class="table" style="width:50%">
        <thead>
            <tr>
                <th class="col-lg-1 col-gray">Id</th>
                <th class="col-lg-5 col-gray">FirstName</th>
                <th class="col-lg-5 col-gray">LastName</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @*dodaj uslov za null*@
            @foreach (var e in Model.Employees)
            {

                <tr>
                    <td class="col-lg-1">@e.Id</td>
                    <td class="col-lg-5">@e.FirstName</td>
                    <td class="col-lg-5">@e.LastName</td>
                    <td>
                        @*TODO: Povezi objekat za on click*@
                        @*<a asp-controller="Employee" asp-action="EditEmployee" asp-route-id="@e.Id " class="btn btn-primary">Update</a>*@
                        <a class="btn btn-primary" onclick="updateEmployee(@e.Id)">Update</a>
                    </td>
                    <td>
                        @*<a asp-controller="Employee" asp-action="OnDelete" asp-route-id="@e.Id" class="btn btn-danger">Delete</a>*@
                        <a class="btn btn-danger" onclick="deleteEmployee(@e.Id)">Delete</a>
                        @*<asp:Button ID="BtnDelete" runat="server" Text="Button" OnClick="BTNDeleteClick" OnClientClick="return confirm('Are you sure you want to delete ?')" />*@
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<div>
    <h3>All Managers</h3>
    <br />
    @*<a href="" id="btnShowAllManagers" class="btn btn-default" >Show All Managers</a>*@
    <button class="btn btn-default" onclick="getAllManagers()" value="Show All Managers">Show All Managers</button>
    <div id="divManagers"></div>
</div>
<div>
    <h3>Add Manager</h3>
    <br />
    <div class="form-group">
        <div class="col-md-3">
            <label>First Name:</label>
            <input id="txtFirstName" class="form-control loginline" data-val-required="You must enter manager name." placeholder="First Name" />
        </div>
        <div class="col-md-3">
            <label>Last Name:</label>
            <input id="txtLastName" class="form-control loginline" data-val-required="You must enter manager last name." placeholder="Last Name" />
        </div>
        <div class="col-md-3">
            <label>Title:</label>
            <input id="txtTitle" class="form-control loginline" placeholder="Title" />
        </div>
    </div>
    @*<a href="" id="btnAddManager" class="btn btn-default">Show All Managers</a>*@
    <button class="btn btn-primary" onclick="addManager()">Add Manager</button>
    <div id="divManagers"></div>
</div>

<div id="CreateOrUpdateEmployeeDialogHolder"></div>
<div id="DeleteEmployeeConfirmationDialogHolder"></div>

<input type="hidden" id="UpdateEmployeeDialogUrl" value="@Url.Action("EditEmployeeDialog", "Employee")" />
<input type="hidden" id="CreateEmployeeDialogUrl" value="@Url.Action("CreateEmployeeDialog", "Employee")" />
<input type="hidden" id="DeleteEmployeeConfirmationUrl" value="@Url.Action("DeleteEmployeeDialog", "Employee")" />
<input type="hidden" id="addManagerUrl" value="@Url.Action("AddManager", "Employee")" />



@section styles {
    <style type="text/css">
        /*Some customer styles for this page*/
    </style>
}

@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuEmployee"]; // List all menus that should be activated when this page is opened
        // Document Ready
        $(document).ready(function () {

        });

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {

        }(window.page = window.page || {}, jQuery));


    </script>

    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Employee/Content/js/employee.js"></script>

    @*<script src="/AdminLTE/plugins/timepicker/bootstrap-timepicker.js"></script>*@
}

