﻿
.font-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

table {
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid #cecece !important
}

th,
td {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    border-left: 1px solid #cecece !important
}

th:first-child,
td:first-child {
    border-left: 0px solid #cecece !important
}

thead {
    background: #eeeeee !important;
    color: #03377a !important
}

td {
    font-size: 13px !important
}

tfoot tr th,
thead tr th {
    background: #eeeeee none repeat scroll 0 0;
    border-bottom: 1px solid #cecece !important;
    font-size: 14px;
    font-weight: bold !important
}

.table.dataTable thead .sorting_asc::after {
    content: url(/img/sort-up.png) !important;
}

table.dataTable thead .sorting_desc::after {
    content: url(/img/sort-down.png) !important;
}

table.dataTable thead .sorting::after {
    content: url(/img/sort-both.png) !important;
}

table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
    top: -3px !important;
    opacity: 1 !important
}

.pagination > li > a, .pagination > li > span {
    padding: 2px 8px !important;
}

div.dataTables_info {
    padding-top: 0 !important;
}

.dataTables_length select {
    padding: 0 !important;
    height: 24px;
    line-height: 24px;
}

.dataTables_length {
    margin-top: 0px !important;
}

.dataTables_filter input {
    width: 120px !important;
    height: 24px;
    line-height: 24px;
}

table.dataTable thead > tr > th {
    padding-left: 17px !important;
    padding-right: 17px !important;
}
