﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section master_styles{
    <link href="~/Modules/ProfitOptics.Modules.Reporting/Content/css/main.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminLTE/plugins/highcharts/css/highcharts.css" rel="stylesheet" />
    @RenderSection("styles", false)
}

@section master_scripts{
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/filterWidget.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/jstree.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/tree.js"></script>
    <script src="~/AdminLTE/plugins/highcharts/highcharts.js"></script>
    <script src="~/AdminLTE/plugins/highcharts/highcharts-more.js"></script>

    <script type="text/javascript" src="~/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
    @RenderSection("scripts", false)
}

@RenderBody()