﻿@model ProfitOptics.Framework.Web.Areas.UserManagement.Models.AddUserModel

<style>
</style>

@*<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>*@

<div class="example-modal container">
    <div id="AddNewUserDialog" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="AddNewUser" asp-controller="Users" method="post" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 id="UpdateUserDialogHeader" class="modal-title">Add new User</h4>
                    </div>
                    <div class="modal-body">
                        @*@if (Model.ShouldShowModal)
                            {
                                <div asp-validation-summary="All" class="text-danger"></div>
                            }*@
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input placeholder="Email/Username" asp-for="Email" type="email" class="form-control" />
                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input placeholder="First Name" asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input placeholder="Last Name" asp-for="LastName" type="text" class="form-control " />
                                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input placeholder="Phone" asp-for="PhoneNumber" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 43" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <select class="select2-user-roles form-control" name="SelectedUserRoles" style="width: 100%" asp-for="SelectedUserRoles">
                                    <option></option>
                                    @foreach (var role in Model.RegisterModelRoles)
                                    {
                                        <option value="@role.Value">@role.Text</option>
                                        
                                    }
                                </select>
                                <span asp-validation-for="@Model.SelectedUserRoles" class="text-danger"></span>
                            </div>
                            <div id="companies" class="col-md-12">
                                <select class="select2-user-parentCompanies form-control  companyList" multiple="multiple" name="SelectedGCParentCompanies" asp-for="SelectedGCParentCompanies" style="width: 100%" disabled>
                                    @foreach (var company in Model.GCParentCompanies)
                                    {
                                        <option value="@company.Value">@company.Text</option>
                                    }
                                </select>
                                <div id="companyWarning"></div>
                            </div>
                        </div>
                        @await Html.PartialAsync("_CompanyPermissions.cshtml")
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="saveUserBtn" type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>



            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.example-modal -->
@*<input type="hidden" id="getChildrenForParentCompanyUrl" value="@Url.Action("GetChildrenForGCParentCompany", "Users", new { area="Users" })" />*@


<script type="text/javascript" src="/AdminLTE/plugins/jquery-validation/jquery.validate.js"></script>
<script type="text/javascript" src="/AdminLTE/plugins/jquery-validation/jquery.validate.unobtrusive.js"></script>

<script>
    $("a[id^=show_]").click(function (event) {
        $("#collapse_" + $(this).attr('id').substr(5)).slideToggle("slow");
        event.preventDefault();
    })

    $(document).on('change', '#SelectedUserRoles', function () {
        var value = $('#SelectedUserRoles').val();
        if (value == 'vendoruser' || value == 'customeruser') {
            document.getElementById('companyWarning').innerHTML = "The Select Company field is required."
            document.getElementById('companyWarning').style.color = "#a94442";
            $('#saveUserBtn').prop('disabled', true);
        }
        else {
            document.getElementById('companyWarning').innerHTML = ""
            $('#saveUserBtn').prop('disabled', false);
        }
    });

    $(document).on('change', '#SelectedGCParentCompanies', function () {
        var value = $('#SelectedGCParentCompanies').val();
        if (value != null) {
            document.getElementById('companyWarning').innerHTML = ""
            $('#saveUserBtn').prop('disabled', false);
        }
    });
</script>