﻿<div class="row companyPermissionsDiv" hidden>
    <hr />
    <div class="col-md-12">
        <div style="padding-top:20px">
            <div>
                <div class="col-md-12">
                    <table id="companyPermissionsTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="40%"></th>
                                <th width="15%">View</th>
                                @*<th width="15%">Edit</th>*@
                                <th width="15%">Add</th>
                                @*<th width="15%">Delete</th>*@
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
</div>