﻿<br /><br />
<div class="col-md-12">
    <div id="password-validations" style="display: none" class="validation-summary-errors text-danger">
        <ul>
            <li id="password-length-error">Passwords must be at least 8 characters long. &nbsp;<span class="glyphicon glyphicon-remove"></span></li>
            <li id="password-regex-error-uppercaselowercase">Passwords must have at least one uppercase or at least one lowercase letter. &nbsp;<span class="glyphicon glyphicon-remove"></span></li>
            <li id="password-regex-error-number">Passwords must have at least one number. &nbsp;<span class="glyphicon glyphicon-remove"></span></li>
            <li id="password-regex-error-special">Passwords must have at least one special character. &nbsp;<span class="glyphicon glyphicon-remove"></span></li>
            <li id="password-match-error">Passwords must match. &nbsp;<span class="glyphicon glyphicon-remove"></span></li>
        </ul>
    </div>
</div>