﻿
@using ProfitOptics.Framework.Web.Framework.Identity
@model ProfitOptics.Framework.Web.Models.Common.ApplicationUserModel

<style>

    .select2-selection__choice {
        color: #333 !important;
    }

    .form-control {
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    }

    .select2-container--default .select2-selection--multiple {
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        outline: 0;
    }

    .select2-search__field {
        width: auto !important
    }
</style>

<div class="example-modal container">
    <div id="UpdateUserDialog" class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="updateUser" asp-action="SaveUser" asp-controller="Users" method="post" role="form">
                    @*asp-action="SaveUser"*@
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="UserName" type="hidden" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 id="UpdateUserDialogHeader" class="modal-title">Update information for the user @Model.UserName</h4>
                    </div>
                    <div class="modal-body">
                        @*<div asp-validation-summary="All" class="text-danger"></div>*@
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="FirstName"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Phone"></label>
                                    <input asp-for="Phone" class="form-control" placeholder="The user has no phone number." />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="UserRoles"></label>
                                    <select data-val="true" data-val-required="User role must be selected." class="select2-user-roles" asp-for="SelectedRoles" name="SelectedRoles" style="width: 100%">
                                        <option></option>
                                        @foreach (var role in Model.UserRoles)
                                        {
                                            <option selected="@role.Selected" value="@role.Value">@role.Text</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.SelectedRoles" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="AllParentCompanies"></label>
                                    <select data-val="true" data-val-required="User role must be selected." class="select2-user-parentCompanies form-control loginline companyList" asp-for="SelectedParentCompanies" name="SelectedParentCompanies" style="width: 100%">
                                        @foreach (var company in Model.AllParentCompanies)
                                        {
                                            <option selected="@company.Selected" value="@company.Value">@company.Text</option>
                                        }
                                    </select>
                                    <div id="companyWarning"></div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.ChildCompanyPermissionValues)
                        @await Html.PartialAsync("_CompanyPermissions.cshtml")
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="btnUpdateUser" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.example-modal -->

<script type="text/javascript" src="/AdminLTE/plugins/jquery-validation/jquery.validate.js"></script>
<script type="text/javascript" src="/AdminLTE/plugins/jquery-validation/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">

    // Document Ready
    //$(document).ready(function () {

    //    $(".select2-user-parentCompanies").select2({
    //        placeholder: "Select company"
    //    });
    //});

    $(document).on('change', '#SelectedRoles', function () {
        var value = $('#SelectedRoles').val();
        if (value == 'vendoruser' || value == 'customeruser') {
            document.getElementById('companyWarning').innerHTML = "The Select Company field is required."
            document.getElementById('companyWarning').style.color = "#a94442";
            $('#btnUpdateUser').prop('disabled', true);
        }
        else {
            document.getElementById('companyWarning').innerHTML = ""
            $('#btnUpdateUser').prop('disabled', false);
        }
    });

    $(document).on('change', '#SelectedParentCompanies', function () {
        var value = $('#SelectedParentCompanies').val();
        if (value != null) {
            document.getElementById('companyWarning').innerHTML = ""
            $('#btnUpdateUser').prop('disabled', false);
        }
    });

</script>

