﻿@model ProfitOptics.Framework.Web.Areas.Account.Models.ResetPasswordModel
@{
    ViewBag.Title = "Add password";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}

<h2>@ViewBag.Title</h2>
<form asp-action="AddPassword" asp-controller="Users" asp-area="UserManagement" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <h4>Add Password</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Email" type="hidden" />
    <input asp-for="Code" type="hidden" />
    <div class="form-group">
        <label asp-for="Password" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="Password" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <input asp-for="ConfirmPassword" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-10">
            <input type="submit" class="btn btn-default" value="Set Password" />
        </div>
    </div>
    @{await Html.RenderPartialAsync("_PasswordValidationMessages");}
</form>

@section master_scripts {
    <script type="text/javascript" src="/Areas/Account/js/passwordValidator.js"></script>
    <script>
        $(document).ready(function () {
            passwordValidator.create("Password", "ConfirmPassword");
        });
    </script>
}
