﻿@*@model ProfitOptics.Framework.Web.Areas.UserManagement.Models.AddUserModel*@
@model ProfitOptics.Framework.Web.Framework.Models.ParentsWithChildCompaniesModel
@{
    ViewBag.Title = "Company Management";
    string active;
    string childActive;
}
<style>
    @@import url('/css/new-design.css');
    .subCompany {
        list-style: none
    }

        .subCompany li {
            border-bottom: 1px solid #ececec;
            padding: 16px 0;
        }
</style>
<section class="content-header">
    <h1 class="pull-left" style="margin-top:7px;">
        Company Management
    </h1>
    <div class="pull-right">
        <button style="margin:5px 0 " class="btn btn-default btn-outline" onclick="AddParentCompany()">Add New Company</button>
        <button style="margin:5px 0" class="btn btn-default btn-outline" onclick="UpdateParentCompany()">Edit Company</button>
        <button style="margin:5px 0" class="btn btn-default btn-outline" onclick="DeleteParentCompany()">Delete Company</button>
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6" id="parentDiv">
                            <ul class="nav nav-pills nav-stacked" role="tablist">
                                @for (var i = 0; i < Model.ParentCompanies.Count(); i++)
                                {
                                    if (i == 0)
                                    {
                                        active = "active";
                                    }
                                    else
                                    {
                                        active = "";
                                    }
                                    <li role="presentation" class="@active">
                                        <a href="#parentCompany_@i" aria-controls="parentCompany_1" role="tab" data-toggle="tab">
                                            @Model.ParentCompanies[i].Title
                                        </a>
                                        @Html.HiddenFor(m => m.ParentCompanies[i].Id)
                                    </li>
                                }

                                @*<li role="presentation">
                                        <a href="#parentCompany_2" aria-controls="parentCompany_2" role="tab" data-toggle="tab">
                                            NameParentCompany_2
                                        </a>
                                    </li>*@
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="tab-content">
                                @for (var i = 0; i < Model.ParentCompanies.Count(); i++)
                                {
                                    if (i == 0)
                                    {
                                        active = "active";
                                    }
                                    else
                                    {
                                        active = "";
                                    }

                                    <div role="tabpanel" class="tab-pane @active" id="parentCompany_@i">
                                        <div class="col-md-6">
                                            <h4 style="margin-top: 10px; color: #337ab7;">Child Company</h4>
                                        </div>
                                        <div class="col-md-6 text-right" style="padding-top:7px;">
                                            <div class="btn-group btn-group-sm">
                                                @*<button class="btn btn-default">
                                                    <i class="fa fa-fw fa-eye"></i> Preview
                                                </button>*@
                                                @*<button class="btn btn-default" onclick="AddChildCompany()">
                                                    <i class="fa fa-fw fa-plus"></i> Add
                                                </button>
                                                <button class="btn btn-default" onclick="UpdateChildCompany()">
                                                    <i class="fa fa-fw fa-pencil"></i> Edit
                                                </button>
                                                <button class="btn btn-default" onclick="DeleteChildCompany()">
                                                    <i class="fa fa-fw fa-trash"></i> Delete
                                                </button>*@

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div id="childDiv-@Model.ParentCompanies[i].Id">
                                            <ul class="subCompany nav nav-pills nav-stacked" role="tablist">
                                                @if (Model.ParentCompanies[i].ChildCompanies != null)
                                                {

                                                    for (var j = 0; j < Model.ParentCompanies[i].ChildCompanies.Count(); j++)
                                                    {
                                   
                                                        <li role="presentation" class="">
                                                            <a href="#parentCompany_@i" aria-controls="parentCompany_1" role="tab" data-toggle="tab">
                                                                @Model.ParentCompanies[i].ChildCompanies[j].Title
                                                            </a>
                                                            @Html.HiddenFor(m => m.ParentCompanies[i].ChildCompanies[j].Id)
                                                        </li>
                                                        @*<li>
                                                                <input name="name" value="@company.Id" style="margin:0 10px 0 -10px" /> @company.Title
                                                            </li>*@
                                                    }
                                                }

                                            </ul>
                                        </div>

                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div id="UpdateParentCompanyDialogHolder"></div>
<div id="AddParentCompanyDialogHolder"></div>
<div id="DeleteParentCompanyDialogHolder"></div>

<div id="UpdateChildCompanyDialogHolder"></div>
<div id="AddChildCompanyDialogHolder"></div>

<script>
	app.activeMenus = ["menuAdmin", "menuAdminPartnerManagement"];
    $(document).ready(function () {

    });
</script>