﻿@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="text-center col-md-12">
            <a href="/"><img class="img-responsive" src="/img/loginlogo.jpg" style="display:inline-block;margin-bottom:50px" /></a>
        </div>
        <h2>@ViewBag.Title.</h2>
        <h4> Please check your email and confirm your email address.</h4>
    </div>
</div>