﻿@model ProfitOptics.Framework.Web.Areas.UserManagement.Models.AddUserModel
@{
    ViewBag.Title = "User Management";
}
<style>
    @@import url('/css/new-design.css');
    .tableUsers th, .tableUsers td {
        font-family: Arial, sans-serif;
        padding: 12px 10px !important
    }

    table.tableUsers {
        border-collapse: separate !important;
    }

    .tableUsers th {
        background: white;
        border-bottom-width: 1px;
    }

    thead tr th {
        border-color: white !important;
    }

    .select2-selection__choice {
        color: #333 !important;
    }

    .form-control {
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    }

    .select2-container--default .select2-selection--multiple,
    .select2-container--default .select2-selection--single {
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        outline: 0;
    }

    .select2-search__field {
        width: auto !important
    }

    .padding-left-30 {
        padding-left: 30px;
    }

    .table-responsive div.row {
        margin: 0 !important;
    }
</style>




<section class="content-header">
    <h1 class="pull-left">
        User Management
    </h1>
    <div class="pull-right">
        <button id="addNewUserButton" class="btn btn-default btn-outline" type="button">
            <i class="fa fa-user"></i> Add User
        </button>
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="dt-table" class="table tableUsers table-hover">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>First</th>
                                    <th>Last</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Role</th>
                                    <th>Is Locked</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

<div id="UpdateUserDialogHolder"></div>
<div class="fixed-alert">
    <div id="success-alert" class="alert alert-success alert-dismissible" style="display:none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Alert!</h4>
        Success
    </div>
</div>
@await Html.PartialAsync("_AddNewUserDialog.cshtml", Model)
<input type="hidden" id="usersListUrl" value="@Url.Action("GetAllUsers", "Users", new { area="UserManagement" })" />
<input type="hidden" id="impersonateUserUrl" value="@Url.Action("ImpersonateUser", "Users", new { Area = "UserManagement" })?userId=" />
@Html.Hidden("hdnUserDialogName")

<script>
    app.activeMenus = ["menuAdmin", "menuAdminUserManagement"];

    $(document).ready(function () {
        @if (ViewBag.ShowModel == true)
        {
            <text>
                app.showAlert("User successful edited!");
            </text>
        }


        @if (Model.ShouldShowModal)
        {
            <text>
                $("#AddNewUserDialog").modal({ show: true });
            </text>
        }

        $("#addNewUserButton").click(function () {
            var $parentDialog = $("#AddNewUserDialog");
            // Reseting form:
            $parentDialog.find('form').trigger("reset");
            $("#AddNewUserDialog").find('#Email').val('');
            $("#AddNewUserDialog").find('#FirstName').val('');
            $("#AddNewUserDialog").find('#LastName').val('');
            $("#AddNewUserDialog").find('#PhoneNumber').val('');
            $parentDialog.find($('.select2-user-roles')).val('');
            $parentDialog.find($('.select2-user-roles')).trigger('change');
            $parentDialog.find($('.select2-user-parentCompanies')).trigger('change');
            $('#hdnUserDialogName').val('AddNewUserDialog');
            $('#ChildCompanyPermissionValues').val('');
            $parentDialog.find($('#companyPermissionsTable tbody').empty());
            $parentDialog.modal({ show: true });
        });
        RegisterSelect2Dropdowns($("#AddNewUserDialog"));

    });
</script>