﻿@*@model ProfitOptics.Framework.Web.Areas.UserManagement.Models.AddUserModel*@
@model ProfitOptics.Framework.Web.Framework.Models.ParentsWithChildCompaniesModel
@using  ProfitOptics.Framework.Web.Framework.Identity
@{
	ViewBag.Title = "Partner Management";
}
<link href="/AdminLTE/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
<style>
	@@import url('/css/new-design.css');

	.nav-tabs-custom > .nav-tabs > li.active {
		border-color: #13336a !important
	}
</style>
<section class="content-header">
	<h1 class="pull-left">
		Partner Management
	</h1>
	<div class="pull-right">
		<button class="btn btn-default btn-outline" onclick="AddParentCompany()">Add New Company</button>
		<button class="btn btn-default btn-outline" onclick="AddCustomerDialog()">Add New Provider</button>
		<button class="btn btn-default btn-outline" onclick="AddVendorDialog()">Add New Vendor</button>
	</div>
	<div class="clearfix"></div>
</section>
<section class="content">

	<div class="row">
		<div class="col-md-12">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab_providers" data-toggle="tab" aria-expanded="false">Providers</a></li>
					<li class=""><a href="#tab_vendors" data-toggle="tab" aria-expanded="false">Vendors</a></li>
					<li class=""><a href="#tab_empty" data-toggle="tab" aria-expanded="false">Empty</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_providers">


						<div class="accordion" id="accordiona">
							@for (var i = 0; i < Model.ParentCompanies.Count(); i++)
							{
								if (Model.ParentCompanies[i].HasCustomers)
								{
									<div class="card">
										<div class="card-header" id="headerparentCompanyId_@i">
											<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#parentCompanyCustomers_@i" aria-expanded="true" aria-controls="#parentCompanyCustomers_@i">
												@Model.ParentCompanies[i].Title
												@Html.HiddenFor(m => m.ParentCompanies[i].Id)
											</button>
											<span class="glyphicon glyphicon-pencil hover_pointer" style="margin-left:10px" onclick="UpdateParentCompany(@Model.ParentCompanies[i].Id)"></span>
											<span class="glyphicon glyphicon-trash hover_pointer" style="margin-left:10px" onclick="DeleteParentCompany(@Model.ParentCompanies[i].Id)"></span>
										</div>

										<div id="parentCompanyCustomers_@i" class="collapse" aria-labelledby="headerparentCompanyId_@i" data-parent="#accordiona">
											<div id="childDiv-@Model.ParentCompanies[i].Id" style="margin-top:10px">
												@if (Model.ParentCompanies[i].ChildCompanies != null)
												{
													for (var j = 0; j < Model.ParentCompanies[i].ChildCompanies.Count(); j++)
													{

														@*<div role="presentation" class="col-md-3" style="text-align: center">
																<a href="#parentCompanyCustomers_@i" aria-controls="parentCompanyCustomers_1" role="tab" data-toggle="tab">
																	@Model.ParentCompanies[i].ChildCompanies[j].Title
																	@Html.HiddenFor(m => m.ParentCompanies[i].ChildCompanies[j].Id)
																</a>
															</div>*@

														@if (Model.ParentCompanies[i].ChildCompanies[j].GCCustomer != null)
														{
															<div class="row" style="border-bottom: 1px solid #e2e2e2; margin: 0; padding: 7px 0;">
																<div class="col-md-11">
																	<div class="row">
																		@if (Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.Active)
																		{
																			<div class="col-md-2" style="text-align: center">
																				@Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.CustomerName
																			</div>
																		}
																		else
																		{
																			<div class="col-md-2" style="text-align: center; color:red;">
																				@Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.CustomerName
																			</div>
																		}

																		<div class="col-md-2 text-center">@Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.FacilityCode</div>
																		<div class="col-md-2 text-center">@Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.APContactName</div>
																		<div class="col-md-2 text-center">@Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.APPhone</div>
																		<div class="col-md-4 text-center">
																			@if (@Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.QBCustomerId.HasValue && @Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.QBCustomerId.Value > 0)
																			{
																				<button class="btn btn-default" onclick="UpdateCustomerFromQB(@Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.Id)"><span>Update from QB</span></button>
																				<button class="btn btn-default" onclick="UpdateCustomerToQB(@Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.Id)"><span>Update to QB</span></button>
																				if (Model.QBCusomerExternalUrl != null)
																				{
																					<a href="@string.Format("{0}/app/customerdetail?nameId={1}", Model.QBCusomerExternalUrl, Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.QBCustomerId.Value)" target="_blank" class="btn btn-default">View in QB</a>
																				}
																			}
																			else
																			{
																				<button class="btn btn-default" onclick="SubmitCustomerToQB(@Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.Id)"><span>Create in QB</span></button>
																			}
																		</div>
																	</div>
																</div>
																<div class="col-md-1" style="text-align: right">
																	<button class="btn btn-link btn-sm" style="padding:0; margin-right:5px" onclick="location.href='@Url.Action("Index", "Accountings", new { Area = "Sox", id=Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.Id })'"><span class="glyphicon glyphicon-usd"></span></button>
																	@if (Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.Active)
																	{
																		<button class="btn btn-link btn-sm" style="padding:0" data-toggle="modal" onclick="EditCustomerDialog(@Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.Id)"><span class="glyphicon glyphicon-pencil"></span></button>
																		@if (User.IsInRole(ApplicationRoleNames.SuperAdmin))
																		{
																			<button class="btn btn-link btn-sm" style="padding:0" onclick="DeactivateCustomerDialog(@Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.Id)"><span class="glyphicon glyphicon-remove-sign"></span></button>
																		}

																	}
																	else
																	{
																		@if (User.IsInRole(ApplicationRoleNames.SuperAdmin))
																		{
																			<button class="btn btn-link btn-sm" style="padding:0" onclick="DeactivateCustomerDialog(@Model.ParentCompanies[i].ChildCompanies[j].GCCustomer.Id)"><span class="glyphicon glyphicon-ok-sign"></span></button>
																		}

																	}
																</div>
															</div>
														}

													}
												}
											</div>
										</div>
									</div>
								}

							}
						</div>
					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="tab_vendors">
						<div class="accordion" id="accordiona">
							@for (var i = 0; i < Model.ParentCompanies.Count(); i++)
							{
								if (Model.ParentCompanies[i].HasVendors)
								{
									<div class="card">
										<div class="card-header" id="headerparentCompanyId_@i">
											<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#parentCompanyVendors_@i" aria-expanded="true" aria-controls="#parentCompanyVendors_@i">
												@Model.ParentCompanies[i].Title
												@Html.HiddenFor(m => m.ParentCompanies[i].Id)
											</button>
											<span class="glyphicon glyphicon-pencil hover_pointer" style="margin-left:10px" onclick="UpdateParentCompany(@Model.ParentCompanies[i].Id)"></span>
											<span class="glyphicon glyphicon-trash hover_pointer" style="margin-left:10px" onclick="DeleteParentCompany(@Model.ParentCompanies[i].Id)"></span>
										</div>

										<div id="parentCompanyVendors_@i" class="collapse" aria-labelledby="headerparentCompanyId_@i" data-parent="#accordiona">
											<div id="childDiv-@Model.ParentCompanies[i].Id" style="margin-top:10px">
												@if (Model.ParentCompanies[i].ChildCompanies != null)
												{
													for (var j = 0; j < Model.ParentCompanies[i].ChildCompanies.Count(); j++)
													{

														@*<div role="presentation" class="col-md-3" style="text-align: center">
																<a href="#parentCompanyVendors_@i" aria-controls="parentCompanyVendors_1" role="tab" data-toggle="tab">
																	@Model.ParentCompanies[i].ChildCompanies[j].Title
																	@Html.HiddenFor(m => m.ParentCompanies[i].ChildCompanies[j].Id)
																</a>
															</div>*@

														@if (Model.ParentCompanies[i].ChildCompanies[j].Vendor != null)
														{
															<div class="row" style="border-bottom: 1px solid #e2e2e2; margin: 0; padding: 7px 0;">
																<div class="col-md-11">
																	<div class="row">
																		@if (Model.ParentCompanies[i].ChildCompanies[j].Vendor.Active)
																		{
																			<div class="col-md-3" style="text-align: center">
																				@Model.ParentCompanies[i].ChildCompanies[j].Vendor.Title
																			</div>
																		}
																		else
																		{
																			<div class="col-md-3" style="text-align: center; color:red">
																				@Model.ParentCompanies[i].ChildCompanies[j].Vendor.Title
																			</div>
																		}

																		<div class="col-md-3 text-center">@Model.ParentCompanies[i].ChildCompanies[j].Vendor.Abbreviation</div>
																		<div class="col-md-6 text-center">
																			@if (Model.ParentCompanies[i].ChildCompanies[j].Vendor.QBVendorId.HasValue && Model.ParentCompanies[i].ChildCompanies[j].Vendor.QBVendorId.Value > 0)
																			{
																				<button class="btn btn-default"><span onclick="UpdateVendorFromQB(@Model.ParentCompanies[i].ChildCompanies[j].Vendor.Id)">Update from QB</span></button>
																				<button class="btn btn-default"><span onclick="UpdateVendorToQB(@Model.ParentCompanies[i].ChildCompanies[j].Vendor.Id)">Update to QB</span></button>
																				if (Model.QBCusomerExternalUrl != null)
																				{
																					<a href="@string.Format("{0}/app/vendordetail?nameId={1}", Model.QBCusomerExternalUrl, @Model.ParentCompanies[i].ChildCompanies[j].Vendor.QBVendorId.Value)" target="_blank" class="btn btn-default">View in QB</a>
																				}
																			}
																			else
																			{
																				<button class="btn btn-default"><span onclick="SubmitVendorToQB(@Model.ParentCompanies[i].ChildCompanies[j].Vendor.Id)">Create in QB</span></button>
																			}
																		</div>
																	</div>
																</div>

																<div class="col-md-1" style="text-align: right">
																	@if (Model.ParentCompanies[i].ChildCompanies[j].Vendor.Active)
																	{
																		<button class="btn btn-link btn-sm" style="padding:0" data-toggle="modal" onclick="EditVendorDialog(@Model.ParentCompanies[i].ChildCompanies[j].Vendor.Id)"><span class="glyphicon glyphicon-pencil"></span></button>
																		@if (User.IsInRole(ApplicationRoleNames.SuperAdmin))
																		{
																			<button class="btn btn-link btn-sm" style="padding:0" onclick="DeactivateVendorDialog(@Model.ParentCompanies[i].ChildCompanies[j].Vendor.Id)"><span class="glyphicon glyphicon-remove-sign"></span></button>
																		}

																	}
																	else
																	{
																		@if (User.IsInRole(ApplicationRoleNames.SuperAdmin))
																		{
																			<button class="btn btn-link btn-sm" style="padding:0" onclick="DeactivateVendorDialog(@Model.ParentCompanies[i].ChildCompanies[j].Vendor.Id)"><span class="glyphicon glyphicon-ok-sign"></span></button>
																		}

																	}
																</div>
															</div>
														}

													}
												}
											</div>
										</div>
									</div>
								}

							}
						</div>
					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="tab_empty">
						<div class="accordion" id="accordiona">
							@for (var i = 0; i < Model.ParentCompanies.Count(); i++)
							{
								if (Model.ParentCompanies[i].HasVendors == false && Model.ParentCompanies[i].HasCustomers == false)
								{
									<div class="card">
										<div class="card-header" id="headerparentCompanyId_@i">
											<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#parentCompanyEmpty_@i" aria-expanded="true" aria-controls="#parentCompanyEmpty_@i">
												@Model.ParentCompanies[i].Title
												@Html.HiddenFor(m => m.ParentCompanies[i].Id)
											</button>
											<span class="glyphicon glyphicon-pencil hover_pointer" style="margin-left:10px" onclick="UpdateParentCompany(@Model.ParentCompanies[i].Id)"></span>
											<span class="glyphicon glyphicon-trash hover_pointer" style="margin-left:10px" onclick="DeleteParentCompany(@Model.ParentCompanies[i].Id)"></span>
										</div>

										<div id="parentCompanyEmpty_@i" class="collapse" aria-labelledby="headerparentCompanyId_@i" data-parent="#accordiona">
											<div id="childDiv-@Model.ParentCompanies[i].Id" style="margin-top:10px">
												No data
											</div>
										</div>
									</div>
								}

							}
						</div>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div>
		</div>
	</div>

</section>

<div id="EditCustomerDialogHolder"></div>
<div id="AddCustomerDialogHolder"></div>
<div id="DeactivateCustomerDialogHolder"></div>

<div id="AddVendorDialogHolder"></div>
<div id="EditVendorDialogHolder"></div>
<div id="DeactivateVendorDialogHolder"></div>

<div id="UpdateParentCompanyDialogHolder"></div>
<div id="AddParentCompanyDialogHolder"></div>
<div id="DeleteParentCompanyDialogHolder"></div>

<input type="hidden" id="DeactivateCustomerDialogUrl" value="@Url.Action("DeactivateCustomerDialog", "Sox", new { Area = "Sox" })" />
<input type="hidden" id="AddCustomerDialogUrl" value="@Url.Action("AddCustomerDialog", "Sox", new { Area = "Sox" })" />
<input type="hidden" id="UpdateCustomerToQBUrl" value="@Url.Action("UpdateCustomerToQB", "Sox", new { Area = "Sox" })" />
<input type="hidden" id="UpdateCustomerFromQBUrl" value="@Url.Action("UpdateCustomerFromQB", "Sox", new { Area = "Sox" })" />
<input type="hidden" id="AddVendorDialogUrl" value="@Url.Action("AddVendorDialog", "Sox", new { Area = "Sox" })" />

<input type="hidden" id="DeactivateVendorDialogUrl" value="@Url.Action("DeactivateVendorDialog", "Sox", new { Area = "Sox" })" />
<input type="hidden" id="UpdateVendorFromQBUrl" value="@Url.Action("UpdateVendorFromQB", "Sox", new { Area = "Sox" })" />
<input type="hidden" id="SubmitVendorToQBUrl" value="@Url.Action("SubmitVendorToQB", "Sox", new { Area = "Sox" })" />
@section scripts{
	<script src="/AdminLTE/plugins/timepicker/bootstrap-timepicker.js"></script>
}


<script>

	function EditVendorDialog(vendorId) {
		if (enableDialog == false) {
			return;
		}
		enableDialog = false;

		$.ajax({
			type: "GET",
			url: "EditVendorDialog",
			contentType: 'application/json',
			data: { vendorId: vendorId },
			dataType: "html",
			success: function (response) {
				$("#EditVendorDialogHolder").html(response);
				$("#EditVendorDialog").modal({ show: true });
				//$('.updateTimepickerInput').timepicker();
				enableDialog = true;
			},
			error: function (response) {
				var error = 400;
				enableDialog = true;
			}
		});
	}

	function EditCustomerDialog(customerId) {
		if (enableDialog == false) {
			return;
		}
		enableDialog = false;

		$.ajax({
			type: "GET",
			url: "EditCustomerDialog",
			contentType: 'application/json',
			data: { customerId: customerId },
			dataType: "html",
			success: function (response) {
				$("#EditCustomerDialogHolder").html(response);
				$("#EditCustomerDialog").modal({ show: true });
				$('.updateTimepickerInput').timepicker();
				enableDialog = true;
			},
			error: function (response) {
				var error = 400;
				enableDialog = true;
			}
		});
	}
	function DeactivateCustomerDialog(customerId) {
		if (enableDialog == false) {
			return;
		}
		enableDialog = false;

		$.ajax({
			type: "GET",
			url: $("#DeactivateCustomerDialogUrl").val(),
			contentType: 'application/json',
			data: { customerId: customerId },
			dataType: "html",
			success: function (response) {
				$("#DeactivateCustomerDialogHolder").html(response);
				$("#DeactivateCustomerDialog").modal({ show: true });
				enableDialog = true;
			},
			error: function (response) {
				var error = 400;
				enableDialog = true;
			}
		});
	}
	function AddCustomerDialog() {

		$.ajax({
			type: "GET",
			url: $("#AddCustomerDialogUrl").val(),
			contentType: 'application/json',
			dataType: "html",
			success: function (response) {
				$("#AddCustomerDialogHolder").html(response);
				$("#AddCustomerDialog").modal({ show: true });

			},
			error: function (response) {
				var error = 400;
			}
		});
	}
	$(document).on('change', '#timepicker0', function () {
		var start = $("#timepicker0").val();
		var end = $("#timepicker1").val();

		var defaultDate = '1/1/0001';
		var startDateTime = new Date(defaultDate + ' ' + start);
		var endDateTime = new Date(defaultDate + ' ' + end);

		//var startTime = new Date(startDateTime).getTime();
		//var endTime = new Date(endDateTime).getTime();

		if (startDateTime < endDateTime) {
			$('#addCustomerBtn').prop('disabled', false);
			document.getElementById('deliveryTimeWarning').innerHTML = "";
		}
		else {
			$('#addCustomerBtn').prop('disabled', true);
			document.getElementById('deliveryTimeWarning').innerHTML = "'Delivery Start' must be lower than 'Delivery End'."
			document.getElementById('deliveryTimeWarning').style.color = "#a94442";
		}
	});

	$(document).on('change', '#timepicker1', function () {
		var start = $("#timepicker0").val();
		var end = $("#timepicker1").val();

		var defaultDate = '1/1/0001';
		var startDateTime = new Date(defaultDate + ' ' + start);
		var endDateTime = new Date(defaultDate + ' ' + end);

		//var startTime = new Date(startDateTime).getTime();
		//var endTime = new Date(endDateTime).getTime();

		if (startDateTime < endDateTime) {
			$('#addCustomerBtn').prop('disabled', false);
			document.getElementById('deliveryTimeWarning').innerHTML = "";
		}
		else {
			$('#addCustomerBtn').prop('disabled', true);
			document.getElementById('deliveryTimeWarning').innerHTML = "'Delivery Start' must be lower than 'Delivery End'."
			document.getElementById('deliveryTimeWarning').style.color = "#a94442";
		}
	});

	$(document).on('change', '#timepicker2', function () {
		var start = $("#timepicker2").val();
		var end = $("#timepicker3").val();

		var defaultDate = '1/1/0001';
		var startDateTime = new Date(defaultDate + ' ' + start);
		var endDateTime = new Date(defaultDate + ' ' + end);

		if (startDateTime < endDateTime) {
			$('#addCustomerBtn').prop('disabled', false);
			document.getElementById('deliveryTimeWarning').innerHTML = "";
		}
		else {
			$('#addCustomerBtn').prop('disabled', true);
			document.getElementById('deliveryTimeWarning').innerHTML = "'Delivery Start' must be lower than 'Delivery End'."
			document.getElementById('deliveryTimeWarning').style.color = "#a94442";
		}
	});

	$(document).on('change', '#timepicker3', function () {
		var start = $("#timepicker2").val();
		var end = $("#timepicker3").val();

		var defaultDate = '1/1/0001';
		var startDateTime = new Date(defaultDate + ' ' + start);
		var endDateTime = new Date(defaultDate + ' ' + end);

		if (startDateTime < endDateTime) {
			$('#addCustomerBtn').prop('disabled', false);
			document.getElementById('deliveryTimeWarning').innerHTML = "";
		}
		else {
			$('#addCustomerBtn').prop('disabled', true);
			document.getElementById('deliveryTimeWarning').innerHTML = "'Delivery Start' must be lower than 'Delivery End'."
			document.getElementById('deliveryTimeWarning').style.color = "#a94442";
		}
	});
	function UpdateCustomerFromQB(customerId) {
		$.blockUI();
		$.ajax({
			type: "POST",
			url: $("#UpdateCustomerFromQBUrl").val(),
			data: { customerId: customerId },
			dataType: "json",
			success: function (response) {
				$.unblockUI();
				if (response.success) {
					app.showAlert(response.message);
					setTimeout(function () {
						location.reload();
					}, 2500);
				} else {
					app.showAlert(response.message);
				}
			},
			error: function (response) {
				var error = 400;
			}
		});
	}

	function UpdateCustomerToQB(customerId) {
		$.blockUI();
		$.ajax({
			type: "POST",
			url: $("#UpdateCustomerToQBUrl").val(),
			data: { customerId: customerId },
			dataType: "json",
			success: function (response) {
				$.unblockUI();
				app.showAlert(response.message);
			},
			error: function (response) {
				var error = 400;
				$.unblockUI();
			}
		});
	}

	function AddVendorDialog() {

		if (enableDialog == false) {
			return;
		}
		enableDialog = false;
		$.blockUI();
		$.ajax({
			type: "GET",
			url: $("#AddVendorDialogUrl").val(),
			contentType: 'application/json',
			dataType: "html",
			success: function (response) {
				$("#AddVendorDialogHolder").html(response);
				$("#AddVendorDialog").modal({ show: true });
				enableDialog = true;
			},
			error: function (response) {
				var error = 400;
				enableDialog = true;
			}
		});
	}
	function UpdateVendorFromQB(vendorId) {
		$.blockUI();
		$.ajax({
			type: "POST",
			url: $("#UpdateVendorFromQBUrl").val(),
			data: { vendorId: vendorId },
			dataType: "json",
			success: function (response) {
				if (response.success) {
					location.reload();
				} else {
					alert(response.message);
				}
				$.unblockUI();
			},
			error: function (response) {
				var error = 400;
				$.unblockUI();
			}
		});
	}
	function SubmitVendorToQB(vendorId) {
		$.blockUI();
		$.ajax({
			type: "POST",
			url: $("#SubmitVendorToQBUrl").val(),
			data: { vendorId: vendorId },
			dataType: "json",
			success: function (response) {
				if (response.success) {
					location.reload();
				} else {
					alert(response.message);
				}
				$.unblockUI();
			},
			error: function (response) {
				var error = 400;
				$.unblockUI();
			}
		});
	}
	function DeactivateVendorDialog(vendorId) {
		if (enableDialog == false) {
			return;
		}
		enableDialog = false;
		$.blockUI();
		$.ajax({
			type: "GET",
			url: $("#DeactivateVendorDialogUrl").val(),
			contentType: 'application/json',
			data: { vendorId: vendorId },
			dataType: "html",
			success: function (response) {
				$("#DeactivateVendorDialogHolder").html(response);
				$("#DeactivateVendorDialog").modal({ show: true });
				enableDialog = true;
				$.unblockUI();
			},
			error: function (response) {
				var error = 400;
				enableDialog = true;
				$.unblockUI();
			}
		});
	}

</script>