﻿@{
    ViewBag.Title = "Add password confirmation";
    Layout = "~/Views/Shared/_LayoutLogFiles.cshtml";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="text-center col-md-12">
            <img class="img-responsive" src="/img/loginlogo.jpg" style="display:inline-block;margin-bottom:50px" />
        </div>
        <h2>@ViewBag.Title.</h2>
        <h4>Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: new { Area = "Account" }, htmlAttributes: new { id = "loginLink" })</h4>
    </div>
</div>