﻿.playbook-h3 {
    color: #367fa9;
    font-size: 17px;
    font-weight: bold;
    margin: 15px 20px;
}

ul.playbook-ul {
    margin-top: 0px;
    margin-bottom: 30px;
}

ul.playbook-ul li {
    line-height: 24px
}
