﻿@model PriceListCodeModel

<!-- Add Items From Price List Modal -->
<div class="modal fade" id="AddItemFromPriceListModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="priceListModalLabel">Add New Item(s) From Price List</h4>
            </div>
            <div class="modal-body">
                <div style="margin-bottom: 10px">
                    @Html.DropDownList("search-plc-item-select-box", Model.PricingList,
                            "Select", new { @class = "required form-control", style = "width:100%;" })
                </div>
                <div class="box">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="ItemFromPriceListTable" style="width: 100% !important" class="table table-bordered table-striped table-hover font-condensed">
                                <thead>
                                    <tr>
                                        <th>ItemId</th>
                                        <th style="width: 90px !important">Part No.</th>
                                        <th>Description</th>
                                        <th style="width: 40px !important">Last Price</th>
                                        <th style="width: 40px !important">UOM</th>
                                        <th style="width: 40px !important">
                                            <input type='checkbox' class='' id='selectAllPlcItems' />
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="overlay plc-table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closePlcListWindow" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="addPlcItems" class="btn btn-primary addItems">Add Item(s)</button>
                    <button type="button" id="addPlcItemsAndClose" class="btn btn-primary addItemsAndClose" data-dismiss="modal">Add Item(s) Return to Details Page</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section styles {
    <style type="text/css">
        .dataTables_empty {
            display: none;
        }
    </style>
}


<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function(event) {
        (function(quotes, $, undefined) {
            app.activeMenus = ["menuQuotes"]; // List all menus that should be activated when this page is opened

            var initItemsFromPriceListTable = function (plcCode) {
                quotes.quoteItemsFromPriceListTable = $('#ItemFromPriceListTable')
                    .on('preXhr.dt', function (e, settings, data) {
                        // callback before ajax call
                        $('.plc-table-overlay').show();
                    }).on('xhr.dt', function (e, settings, json, xhr) {
                        // callback after ajax call
                        $('.plc-table-overlay').hide();
                    }).DataTable({
                        lengthChange: true,
                        autoWidth: false,
                        processing: true,
                        serverSide: true,
                        searching: true,
                        ordering: true,
                        paging: true,
                        info: true,
                        pageLength: 10,
                        lengthMenu: [10, 25, 50, 100, 250, 500],
                        searchDelay: 1500,
                        dom: '<"row"<"col-sm-6"l><"col-sm-6"<"toolbar">f >>rt<"row"<"col-sm-6"i><"col-sm-6"p>>',
                        ajax: {
                            url: '@Url.Action("GetItemsFromPriceListData", "QuoteItems", new {area = "Quotes"})',
                            data: function (d) {
                                d.quoteId = "@Model.QuoteId";
                                d.plcCode = plcCode;
                            },
                            type: "POST"
                        },
                        language: {
                            processing: ''
                        },
                        createdRow: function (row, data, index) {
                        },
                        initComplete: function (settings, json) {
                            adjustColumns();
                        },
                        columns: [{
                            data: "ItemId",
                            orderable: false,
                            visible: false,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ItemId != null ? full.ItemId : "") + "</span>";
                            }
                        }, {
                            data: "ItemNum",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + full.ItemNum + "</span>";
                            }
                        }, {
                            data: "ItemDescription",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ItemDescription != null ? full.ItemDescription : "") + "</span>";
                            }
                        }, {
                            data: "LastPrice",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.LastPrice != null ? full.LastPrice : "") + "</span>";
                            }
                        }, {
                            data: "ItemUoM",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ItemUoM != null ? full.ItemUoM : "") + "</span>";
                            }
                        }, {
                            data: "",
                            orderable: false,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                return "<input type='checkbox' class='plcItem' onchange='onCheckBoxClicked(this, " + full.ItemId + ")' />";
                            }
                        }]
                    });
            }

            var adjustColumns = function () {
                if (quotes.quoteItemsFromPriceListTable != null) {
                    $("#AddItemFromPriceListModal").find(".dataTables_scrollHeadInner").removeAttr("style");
                    $("#AddItemFromPriceListModal").css("width", "100%");
                    $("#ItemFromPriceListTable_wrapper .row").css("width", "100%");
                    quotes.quoteItemsFromPriceListTable.columns.adjust();
                }
            }
            $('.plc-table-overlay').hide();

            $('#AddItemFromPriceListModal').on('shown.bs.modal', function () {
                adjustColumns();
            });

            $("#search-plc-item-select-box").select2({
                placeholder: "Choose a Price List"
            });

            $("#search-plc-item-select-box").on('change', function (event) {
                event.stopImmediatePropagation();
                if (quotes.quoteItemsFromPriceListTable != null) {
                    $('#ItemFromPriceListTable').dataTable().fnDestroy();
                }
                initItemsFromPriceListTable($(this).val());
            });

            $("#selectAllPlcItems").on('change', function (event) {
                if (this.checked) {
                    $('.plcItem').prop('checked', false).trigger('click');
                } else {
                    $('.plcItem').prop('checked', true).trigger('click');
                }
            });

        }(window.quotes || {}, jQuery));
    });
</script>

