﻿@model StandingOrderListModel


<div class="modal fade" id="AddFromStandingOrderModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 950px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="standingOrderModalLabel">Add New Item(s) From Standing Order</h4>
            </div>
            <div class="modal-body">
                <div style="margin-bottom: 10px">
                    @Html.DropDownList("search-so-item-select-box", Model.StandingOrderList,
                        "Select", new { @class = "required form-control", style = "width:100%;" })
                </div>
                <div class="box">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="AddFromStandingOrderTable" style="width: 100% !important" class="table table-bordered table-striped table-hover font-condensed">
                                <thead>
                                    <tr>
                                        <th>ItemId</th>
                                        <th style="width: 90px !important">Part No.</th>
                                        <th>Description</th>
                                        <th>BillTo 12MoQty</th>
                                        <th>ShipTo 12MoQty</th>
                                        <th style="width: 40px !important">Last Price</th>
                                        <th style="width: 40px !important">UOM</th>
                                        <th style="width: 40px !important">Vendor</th>
                                        <th style="width: 40px !important">Private Label</th>
                                        <th style="width: 40px !important">Freight Class</th>
                                        <th style="width: 40px !important">QOH</th>
                                        <th style="width: 40px !important">QOO</th>
                                        <th style="width: 40px !important">
                                            <input type='checkbox' class='' id='selectAllSoItems' />
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="overlay so-table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closeSoListWindow" class="btn btn-default closeListWindow" data-dismiss="modal">Close</button>
                    <button type="button" id="addSoItems" class="btn btn-primary addItems">Add Item(s)</button>
                    <button type="button" id="addSoItemsAndClose" class="btn btn-primary addItemsAndClose" data-dismiss="modal">Add Item(s) Return to Details Page</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section styles {
    <style type="text/css">
        .dataTables_empty {
            display: none;
        }
    </style>
}


<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function(event) {
        (function(quotes, $, undefined) {
            app.activeMenus = ["menuQuotes"]; // List all menus that should be activated when this page is opened

            var initAddFromStandingOrderTable = function (orderNum) {
                quotes.quoteItemsFromStandingOrderTable = $('#AddFromStandingOrderTable')
                    .on('preXhr.dt', function (e, settings, data) {
                        // callback before ajax call
                        $('.so-table-overlay').show();
                    }).on('xhr.dt', function (e, settings, json, xhr) {
                        // callback after ajax call
                        $('.so-table-overlay').hide();
                    }).DataTable({
                        lengthChange: true,
                        autoWidth: false,
                        processing: true,
                        serverSide: true,
                        searching: true,
                        ordering: true,
                        paging: true,
                        info: true,
                        pageLength: 10,
                        lengthMenu: [10, 25, 50, 100, 250, 500],
                        searchDelay: 1500,
                        dom: '<"row"<"col-sm-6"l><"col-sm-6"<"toolbar">f >>rt<"row"<"col-sm-6"i><"col-sm-6"p>>',
                        ajax: {
                            url: '@Url.Action("GetItemsFromStandingOrderData", "QuoteItems", new {area = "Quotes"})',
                            data: function (d) {
                                d.quoteId = "@Model.QuoteId";
                                d.orderNum = orderNum;
                            },
                            type: "POST"
                        },
                        language: {
                            processing: ''
                        },
                        createdRow: function (row, data, index) {
                        },
                        initComplete: function (settings, json) {
                            adjustColumns();
                        },
                        columns: [{
                            data: "ItemId",
                            orderable: false,
                            visible: false,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ItemId != null ? full.ItemId : "") + "</span>";
                            }
                        }, {
                            data: "ItemNum",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + full.ItemNum + "</span>";
                            }
                        }, {
                            data: "ItemDescription",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ItemDescription != null ? full.ItemDescription : "") + "</span>";
                            }
                        }, {
                            data: "BillTo12MoQty",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.BillTo12MoQty != null ? full.BillTo12MoQty : "") + "</span>";
                            }
                        }, {
                            data: "ShipTo12MoQty",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ShipTo12MoQty != null ? full.ShipTo12MoQty : "") + "</span>";
                            }
                        }, {
                            data: "LastPrice",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.LastPrice != null ? full.LastPrice : "") + "</span>";
                            }
                        }, {
                            data: "ItemUoM",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ItemUoM != null ? full.ItemUoM : "") + "</span>";
                            }
                        }, {
                            data: "ItemVendor",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ItemVendor != null ? full.ItemVendor : "") + "</span>";
                            }
                        }, {
                            data: "ItemPrivateLabel",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ItemPrivateLabel == true ? "Y" : "") + "</span>";
                            }
                        }, {
                            data: "FreightClass",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.FreightClass != null ? full.FreightClass : "") + "</span>";
                            }
                        }, {
                            data: "ItemQa",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ItemQa != null ? full.ItemQa : "") + "</span>";
                            }
                        }, {
                            data: "ItemQoo",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ItemQoo != null ? full.ItemQoo : "") + "</span>";
                            }
                        }, {
                            data: "",
                            orderable: false,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                return "<input type='checkbox' class='soItem' onchange='onCheckBoxClicked(this, " + full.ItemId + ")' />";
                            }
                        }]
                    });
            }
            var adjustColumns = function () {
                if (quotes.quoteItemsFromStandingOrderTable != null) {
                    $("#AddFromStandingOrderModal").find(".dataTables_scrollHeadInner").removeAttr("style");
                    $("#AddFromStandingOrderModal").css("width", "100%");
                    $("#AddFromStandingOrderTable_wrapper .row").css("width", "100%");
                    quotes.quoteItemsFromStandingOrderTable.columns.adjust();
                }
            }
            $('.so-table-overlay').hide();

            $('#AddFromStandingOrderModal').on('shown.bs.modal', function () {
                adjustColumns();
            });

            $("#search-so-item-select-box").select2({
                placeholder: "Choose a Standing Order"
            });

            $("#search-so-item-select-box").on('change', function (event) {
                event.stopImmediatePropagation();
                if (quotes.quoteItemsFromStandingOrderTable != null) {
                    $('#AddFromStandingOrderTable').dataTable().fnDestroy();
                }
                initAddFromStandingOrderTable($(this).val());
            });

            $("#selectAllSoItems").on('change', function (event) {
                if (this.checked) {
                    $('.soItem').prop('checked', false).trigger('click');
                } else {
                    $('.soItem').prop('checked', true).trigger('click');
                }
            });

        }(window.quotes || {}, jQuery));
    });
</script>
