﻿@model CreateQuoteModel
@{
    ViewBag.Title = "Quotes - Create";
}

<section class="content-header">
    <h1>
        Create Quotes
    </h1>
</section>
<section class="content">
    <div class="row">
        <form asp-controller="QuotesMain" asp-action="CreateQuote" asp-area="Quotes" method="post" id="createQuoteForm">
            @Html.HiddenFor(m => m.CustomerId)
            @Html.HiddenFor(m => m.CustomerBillToId)
            @Html.HiddenFor(m => m.CustomerShipToId)
            <div class="col-md-3">
                <div class="box">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Quote Name <span class="red-warning">*</span></label>
                            @Html.TextBoxFor(m => m.QuoteName, new { @class = "form-control yellow-input" })
                            @Html.ValidationMessageFor(x => x.QuoteName)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Quote Notes</label>
                            @Html.TextAreaFor(m => m.QuoteDescription, new { @class = "form-control yellow-input", cols = "4", rows = "4" })
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <div class="col-xs-9">
                <div class="box">
                    <div class="box-body">
                        <table id="QuotesTable" class="table table-bordered table-striped table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th style="width:60px !important">CustID</th>
                                    <th>BillToId</th>
                                    <th>ShipToId</th>
                                    <th>Customer Name</th>
                                    <th>ShipTo</th>
                                    <th>BillTo Address</th>
                                    <th>BillTo City</th>
                                    <th style="width:80px !important">BillTo ZipCode</th>
                                    <th style="width:60px !important">Select</th>
                                </tr>
                            </thead>
                        </table>
                        <hr />
                        <div class="row">
                            @*todo: add 'create customer' functionality*@
                            @*<div class="col-md-2 pull-left"><button class="btn btn-primary btn-block">New Customer</button>
                                </div>*@
                            <div class="col-md-2 pull-right">
                                <button class="btn btn-primary btn-block" id="createQuote" type="button">Create Quote</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </form>
    </div>
</section>

@*@section styles {*@
<style type="text/css">
    .dataTables_empty {
        display: none;
    }
</style>
@*}*@
@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuQuoting","menuAdminCreateQuotes"]; // List all menus that should be activated when this page is opened

        (function(app, quotes, $, undefined) {

            var selectedCustomer;

            var initTable = function () {
                if (quotes.customerTable == null) {
                    quotes.customerTable = $('#QuotesTable')
                        .DataTable({
                            order: [[0, "asc"]],
                            processing: true,
                            serverSide: true,
                            searching: true,
                            paging: true,
                            scrollX: false,
                            pageLength: 50,
                            lengthMenu: [50, 100],
                            scrollY: "50vh",
                            searchDelay: 1500,
                            dom: '<"row"<"col-sm-6"l><"col-sm-6"<"toolbar">f >>rt<"row"<"col-sm-6"i><"col-sm-6"p>>',
                            ajax: {
                                url: '@Url.Action("GetCustomersData", "QuotesMain")',
                                data: function (d) {

                                },
                                type: "POST"
                            },
                            language: {
                                processing: 'Loading...'
                            },
                            initComplete: function (settings, json) {
                                $("#QuotesTable").css("width", "100%");
                                quotes.customerTable.columns.adjust();
                            },
                            columns: [{
                                data: "CustId",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.CustId != null ? full.CustId : "") + "</span>";
                                }
                            }, {
                                data: "BillToId",
                                visible: false,
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.BillToId != null ? full.BillToId : "") + "</span>";
                                }
                            }, {
                                data: "ShipToId",
                                visible: false,
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.ShipToId != null ? full.ShipToId : "") + "</span>";
                                }
                            }, {
                                data: "CustName",
                                orderable: true,
                                className: "text-left",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.CustName != null ? full.CustName : "") + "</span>";
                                }
                            }, {
                                data: "ShipToName",
                                orderable: true,
                                visible: false,
                                className: "text-left",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.ShipToName != null ? full.ShipToName : "") + "</span>";
                                }
                            }, {
                                data: "BillToAddress",
                                orderable: true,
                                className: "text-left",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.BillToAddress != null ? full.BillToAddress : "") + "</span>";
                                }
                            }, {
                                data: "City",
                                orderable: true,
                                className: "text-left",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.City != null ? full.City : "") + "</span>";
                                }
                            }, {
                                data: "ZipCode",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.ZipCode != null ? full.ZipCode : "") + "</span>";
                                }
                            }, {
                                data: "selected",
                                orderable: false,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    var cellValue = "";
                                    if (full.BillToId === selectedCustomer) {
                                        cellValue = "<input type='radio' name='IsSelected' checked onclick='quotes.setQuoteCustomer(" + full.BillToId + "," + full.ShipToId + "," + full.CustId + ")' />";
                                    } else {
                                        cellValue = "<input type='radio' name='IsSelected' onclick='quotes.setQuoteCustomer(" + full.BillToId + "," + full.ShipToId + "," + full.CustId + ")' />";
                                    }

                                    return cellValue;
                                }
                            }]
                        });

                } else {
                    quotes.customerTable.ajax.reload();
                }
            };

            quotes.setQuoteCustomer = function (billToId, shipToId, customerId) {
                $('#CustomerBillToId').val(billToId);
                $('#CustomerId').val(customerId);
                selectedCustomer = billToId;
            }

            $(document).ready(function () {
                $(window).resize(function () {
                    $("#QuotesTable").css("width", "100%");
                    quotes.customerTable.columns.adjust();
                });

                $("#createQuote").on('click', function() {
                    quotes.beforeCreateQuote();
                });

                initTable();
            });
        }(window.app, window.quotes, jQuery));
    </script>
}
