﻿@model QuoteDetailsModel

@{
    ViewBag.Title = "Quotes - Quote Details";
}

@await Html.PartialAsync("../QuoteItems/_QuoteDetailPageHeader.cshtml", Model)

<section class="content">
    <div class="row">
        @await Html.PartialAsync("../QuoteItems/_QuoteLevelInfo.cshtml", Model)
    </div>
    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("HeaderQuotePartial", Model)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="QuotesTable" class="table table-bordered table-striped table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th colspan="10"></th>
                                    <th colspan="2">Weight</th>
                                    <th colspan="6">Current</th>
                                    <th colspan="2">Quote</th>
                                    <th colspan="3">
                                        <select id="guidanceDropdown" style="background: transparent none repeat scroll 0 0; border: 0 none;">
                                            <option value="priceGuidanceGMDolar" selected>Guidance ($)</option>
                                            <option value="priceGuidanceGMPercent">Guidance (GM%)</option>
                                        </select>
                                    </th>
                                    <th colspan="3">Quote Extended</th>
                                    <th colspan="5">Competitor</th>
                                    <th colspan="3">Freight Extended</th>
                                    <th colspan="5">Floor</th>
                                    <th></th>
                                </tr>

                                <tr>
                                    <th>#</th>
                                    <th><div style="display:inline-block;width:65px !important">Part No</div></th>
                                    <th><div style="display:inline-block;width:175px !important">Item Description</div></th>
                                    <th>UOM</th>
                                    <th>Freight<br />Class</th>
                                    <th title='Units expressed as "Per Shipment"'><abbr>Units</abbr></th>

                                    <th>3 Mo Qty </th>
                                    <th>Last Price</th>
                                    <th>Last Date</th>
                                    <th>Last GP%</th>

                                    <th>Product</th>
                                    <th>Total</th>

                                    <th>Cost</th>
                                    <th>Price</th>
                                    <th title="Price List Code"><abbr>PLC</abbr></th>
                                    <th title="Contract"><abbr>C</abbr></th>
                                    <th title="Blitzed Enabled"><abbr>B</abbr></th>
                                    <th title="Curr Margin %"><abbr>GM%</abbr></th>

                                    <th title="List Price if available otherwise Unit Price">Price</th>
                                    <th title="Margin %"><abbr>GM%</abbr></th>

                                    <th>Floor</th>
                                    <th>Target</th>
                                    <th>List</th>

                                    <th>Product<br /> Costs</th>
                                    <th>Product<br /> Revenue</th>
                                    <th title="Ext Margin $ Before Freight"><abbr>M$ Product<br />Only</abbr></th>

                                    <th>Price</th>
                                    <th>UOM</th>
                                    <th title="Multiplier to normalize Competitor Price to Quote Price UOM"><abbr>CF</abbr> <span style="font-size:12px; cursor:pointer" data-toggle="modal" data-target="#CF-Modal" class="glyphicon glyphicon-info-sign"></span></th>
                                    <th title="Normalized Competitor Price - Quote Price"><abbr>Price Var $</abbr></th>
                                    <th>Ext Price Var $</th>

                                    <th title="Freight allocated as a % of Total Item Weight to Total Weight for the Item Class">
                                        <abbr>Net Shipping<br />Profit</abbr>
                                    </th>
                                    <th title="Ext Margin $ After Freight"><abbr>Adjusted<br />Margin$</abbr></th>
                                    <th title="Margin % After Freight"><abbr>Adjusted<br />Margin%</abbr></th>

                                    <th>Product Revenue</th>
                                    <th>Costs</th>
                                    <th>M$</th>
                                    <th>M%</th>

                                    <th>Start Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr class="myclass-foot">
                                    <th></th>
                                    <th id="new-partNo"><select id='search-item-select-box-'></select></th>
                                    <th id="new-itemDesc"></th>
                                    <th id="new-uom"></th>
                                    <th id="new-freightClass"></th>
                                    <th id="new-units"></th>
                                    <th id="new-3moQty"></th>
                                    <th id="new-lastPrice"></th>
                                    <th id="new-lastDate"></th>
                                    <th id="new-lastGPPct"></th>
                                    <th id="new-productWeight"></th>
                                    <th id="new-totalWeight"></th>
                                    <th id="new-unitCost"></th>
                                    <th id="new-unitPrice"></th>
                                    <th id="new-plc"></th>
                                    <th id="new-c"></th>
                                    <th id="new-b"></th>
                                    <th id="new-curGmPct"></th>
                                    <th id="new-quotePrice"></th>
                                    <th id="new-quoteGmPct"></th>
                                    <th id="new-guidanceFloor"></th>
                                    <th id="new-guidanceTarget"></th>
                                    <th id="new-guidanceList"></th>
                                    <th id="new-qeCosts"></th>
                                    <th id="new-qeRevenue"></th>
                                    <th id="new-qeMDolarBFreight"></th>
                                    <th id="new-competitorPrice"></th>
                                    <th id="new-competitorUom"></th>
                                    <th id="new-competitorCF"></th>
                                    <th id="new-competitorPriceVar"></th>
                                    <th id="new-competitorExtPriceVar"></th>
                                    <th id="new-qeNetShippingCost"></th>
                                    <th id="new-qeAdjMDollar"></th>
                                    <th id="new-qeAdjMPct"></th>
                                    <th id="new-floorRevenue"></th>
                                    <th id="new-floorCosts"></th>
                                    <th id="new-floorMdollar"></th>
                                    <th id="new-floorMPct"></th>
                                    <th id="new-start-date"></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th colspan="11" style="text-align: right !important; font-weight: bold !important">Total</th>
                                    <th><strong><span id="quoteTotalWeight"></span></strong></th>
                                    <th colspan="11"></th>
                                    <th style="text-align: right !important"><strong><span id="quoteExtendedTotalCost"></span></strong></th>
                                    <th style="text-align: right !important"><strong><span id="quoteExtendedTotalRavenue"></span></strong></th>
                                    <th style="text-align: right !important"><strong><span id="quoteExtendedMDollarBeforeFreight"></span></strong></th>
                                    <th style="text-align: right !important"><strong>-</strong></th>
                                    <th style="text-align: right !important"><strong>-</strong></th>
                                    <th style="text-align: right !important"><strong>-</strong></th>
                                    <th style="text-align: right !important"><strong>-</strong></th>
                                    <th style="text-align: right !important"><strong>-</strong></th>
                                    <th style="text-align: right !important"><strong><span id="quoteExtendedNetShippingProfit"></span></strong></th>
                                    <th style="text-align: right !important"><strong><span id="quoteExtendedAdjustMarginAmt"></span></strong></th>
                                    <th style="text-align: right !important"><strong><span id="quoteExtendedAdjustMarginPct"></span></strong></th>
                                    <th style="text-align: right !important"><strong><span id="floorTotalRevenue"></span></strong></th>
                                    <th style="text-align: right !important"><strong><span id="floorTotalCost"></span></strong></th>
                                    <th style="text-align: right !important"><strong><span id="mDollar"></span></strong></th>
                                    <th><strong><span id="mPercent"></span></strong></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section styles {
    <style type="text/css">
        .dataTables_empty {
            display: none;
        }

        #QuotesTable_filter, .toolbar {
            float: right;
        }

        table, .dataTables_scrollHeadInner {
            width: 100% !important;
        }

        .toolbar {
            color: #9f9f9f;
            font-size: 21px;
            margin: 1px 4px;
        }

        .select2-container .select2-selection--single .select2-selection__rendered {
            padding-left: 0 !important;
            padding-right: 8px !important;
        }

        .myclass-foot {
            background-color: #fbfbd0;
            color: #333;
            font-size: 13px !important;
        }
    </style>
}

<script type="text/javascript">

        var selectedItems = {};
        var addItemsFilter;

        function onCheckBoxClicked(checkbox, itemId) {
            if (checkbox.checked) {
                selectedItems[itemId] = 1;
            } else {
                delete selectedItems[itemId];
            }
        }

        (function(app, quotes, $, undefined) {
            app.activeMenus = ["menuQuotes"]; // List all menus that should be activated when this page is opened

            var initTable = function () {
                if (quotes.itemsTable == null) {
                    quotes.itemsTable = $('#AddNewItemTable')
                        .DataTable({
                            order: [[0, "asc"]],
                            processing: true,
                            serverSide: true,
                            searching: true,
                            filter: true,
                            paging: true,
                            pageLength: 50,
                            lengthMenu: [10, 20, 50, 100],
                            scrollY: "300px",
                            autoWidth: false,
                            searchDelay: 1500,
                            dom: '<"row"<"col-sm-4"l><"col-sm-4 threebuttons"><"col-sm-4" f>>rt<"row"<"col-sm-6"i><"col-sm-6"p>>',
                            ajax: {
                                url: '@Url.Action("GetItemsData", "QuoteItems", new { area = "Quotes" })',
                                data: function (d) {
                                    d.quoteId = "@Model.QuoteId";
                                    d.filter = addItemsFilter
                                },
                                type: "POST"
                            },
                            initComplete: function(settings, json) {
                                itemsTableAdjustColmunWidths();
                            },
                            language: {
                                processing: 'Loading...'
                            },
                            columns: [{
                                data: "ItemNum",
                                orderable: true,
                                className: "text-left",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.ItemNum != null ? full.ItemNum : "") + "</span>";
                                }
                            }, {
                                data: "ItemDescription",
                                orderable: true,
                                className: "text-left",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.ItemDescription != null ? full.ItemDescription : "") + "</span>";
                                }
                            }, {
                                data: "BillTo12MoQty",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.BillTo12MoQty != null ? full.BillTo12MoQty : "") + "</span>";
                                }
                            }, {
                                data: "ShipTo12MoQty",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.ShipTo12MoQty != null ? full.ShipTo12MoQty : "") + "</span>";
                                }
                            }, {
                                data: "ItemUoM",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.ItemUoM != null ? full.ItemUoM : "") + "</span>";
                                }
                            }, /*{
                                data: "ItemVendor",
                                orderable: true,
                                className: "text-left",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.ItemVendor != null ? full.ItemVendor : "") + "</span>";
                                }
                            }, */{
                                data: "ItemPrivateLabel",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.ItemPrivateLabel == true ? "Y" : "") + "</span>";
                                }
                            }, {
                                data: "FreightClass",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.FreightClass != null ? full.FreightClass.toFixed(1) : "") + "</span>";
                                }
                            }, {
                                data: "ItemQa",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.ItemQa != null ? full.ItemQa: "") + "</span>";
                                }
                            }, {
                                data: "ItemQoo",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.ItemQoo != null ? full.ItemQoo : "") + "</span>";
                                }
                            }, {
                                data: "IsSelected",
                                orderable: false,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    if (selectedItems.hasOwnProperty(full.ItemId)) {
                                        return "<input type='checkbox' class='isItemSelected' checked onchange='onCheckBoxClicked(this, " + full.ItemId + ")'" +
                                            " data-value='" + full.ItemId + "' />";
                                    }
                                    return "<input type='checkbox' class='isItemSelected' onchange='onCheckBoxClicked(this, " + full.ItemId + ")'" +
                                        " data-value='" + full.ItemId + "' />";
                                }
                            }
                            ]
                        });

                } else {
                    quotes.itemsTable.ajax.reload();
                }
                $(".threebuttons").html('Filter: <button class="btn btn-default btn-sm" type="button" id="allItems">All Items</button><button style="margin-left:5px; margin-right:5px" class="btn btn-default btn-sm" type="button" id="previouslySold">Previously Sold</button><button class="btn btn-default btn-sm" type="button" id="newItems">New Items</button>');
            };

            var itemsTableAdjustColmunWidths = function() {
                $("#AddNewItem-Modal").find(".dataTables_scrollHeadInner").removeAttr("style");
                $("#AddNewItem-Modal").css("width", "100%");
                quotes.itemsTable.columns.adjust();
            }

            var resetCheckboxesToDefault = function () {
                var defaultToShow = ["2", "3", "5", "12", "13", "14","17", "18", "19", "20", "22", "23", "24", "25", "31-33"];

                $('#quoteItemColumnsSettings input').each(function () {
                    var val = $(this).val();
                    if (defaultToShow.indexOf(val) != -1) {
                        $(this).prop("checked", true);
                    } else {
                        $(this).prop("checked", false);
                    }
                });
            }

            var updateHeaderTotals = function(headerTotal)
            {
                $('#quoteTotalWeight').text(headerTotal.QuoteTotalWeight.toFixed(1));
                $('#quoteExtendedTotalCost').text(headerTotal.QuoteExtendedTotalCost.formatMoney(0, '.', ','));
                $('#quoteExtendedTotalRavenue').text(headerTotal.QuoteExtendedTotalRevenue.formatMoney(0, '.', ','));
                $('#quoteExtendedMDollarBeforeFreight').text(headerTotal.QuoteExtendedMDollarBeforeFreight.formatMoney(0, '.', ','));
                var netShippingProfit =
                    headerTotal.QuoteExtendedNetShippingRevenue - headerTotal.QuoteExtendedNetShippingCost;
                $('#quoteExtendedNetShippingProfit').text(netShippingProfit.formatMoney(0, '.', ','));
                $('#quoteExtendedAdjustMarginAmt').text(headerTotal.QuoteExtendedAdjustMarginAmt.formatMoney(0, '.', ','));
                $('#quoteExtendedAdjustMarginPct').text(headerTotal.QuoteExtendedAdjustMarginPct == null ? "N/A" : headerTotal.QuoteExtendedAdjustMarginPct.formatPercent(0));
                $('#floorTotalRevenue').text(headerTotal.FloorTotalRevenue.formatMoney(0, '.', ','));
                $('#floorTotalCost').text(headerTotal.FloorTotalCost.formatMoney(0, '.', ','));
                $('#mDollar').text(headerTotal.MDollar.formatMoney(0, '.', ','));
                $('#mPercent').text(headerTotal.MPercent.formatPercent(0));
            }

            var initQuoteItemsTable = function () {
                var eventOnFocusOut = true;
                quotes.quoteItemsTable = $('#QuotesTable')
                    .on('preXhr.dt', function (e, settings, data) {
                        // callback before ajax call
                        $('.table-overlay').show();
                    }).on('xhr.dt', function (e, settings, json, xhr) {
                        // callback after ajax call
                        $('.table-overlay').hide();

                        var headerTotal = json.total;
                        updateHeaderTotals(headerTotal);

                        setTimeout(function () {
                            json.data.forEach(function (p) {
                                itemsNumLookupSetup(p.ItemNum);
                            });
                        }, 500);

                        itemsNumLookupSetup("");
                    }).DataTable({
                        //rowReorder: true,
                        lengthChange: true,
                        autoWidth: false,
                        processing: true,
                        serverSide: true,
                        searching: true,
                        ordering: true,
                        paging: true,
                        info: true,
                        pageLength: 10,
                        lengthMenu: [10, 25, 50, 100, 250, 500],
                        searchDelay: 1500,
                        dom: '<"row"<"col-sm-6"l><"col-sm-6"<"toolbar">f >>rt<"row"<"col-sm-6"i><"col-sm-6"p>>',
                        ajax: {
                            url: '@Url.Action("GetQuoteItemsData", "QuoteItems", new {area = "Quotes"})',
                            data: function (d) {
                                d.quoteId = "@Model.QuoteId";
                            },
                            type: "POST"
                        },
                        language: {
                            processing: 'Loading...'
                        },
                        createdRow: function (row, data, index) {
                            $(row).find('.removeItemBtn').on('click', function () {
                                var quoteId = "@Model.QuoteId";
                                var itemId = data.ItemId;
                                quotes.removeItemFromQuote(quoteId, itemId);
                            });
                            $(row).find('.itemUnits').on('change', function () {
                                var itemId = data.ItemId;
                                var quoteId = "@Model.QuoteId";
                                quotes.updateItemQty(quoteId, itemId, this.value, row);
                            });
                            $(row).find('.quoteGMPerc').on('change', function () {
                                var itemId = data.ItemId;
                                var quoteId = "@Model.QuoteId";
                                quotes.updateItemGMPerc(quoteId, itemId, this.value, row);
                            });
                            $(row).find('.quoteGMPrice').on('change', function () {
                                var itemId = data.ItemId;
                                var quoteId = "@Model.QuoteId";
                                quotes.updateItemGMPrice(quoteId, itemId, this.value, row);
                            });
                            $(row).find('#CompetitorPrice').on('change', function () {
                                var itemId = data.ItemId;
                                var quoteId = "@Model.QuoteId";
                                quotes.updateCompetitorPrice(quoteId, itemId, this.value, row);
                            });
                            $(row).find('#CompetitorUoM').on('change', function () {
                                var itemId = data.ItemId;
                                var quoteId = "@Model.QuoteId";
                                quotes.updateCompetitorUoM(quoteId, itemId, this.value, row);
                            });
                            $(row).find('#CompetitorCf').on('change', function () {
                                var itemId = data.ItemId;
                                var quoteId = "@Model.QuoteId";
                                quotes.updateCompetitorCf(quoteId, itemId, this.value, row);
                            });
                            $(row).find('#revertPriceToPlcPrice').on('click', function () {
                                var itemId = data.ItemId;
                                var quoteId = "@Model.QuoteId";
                                quotes.revertPriceToPlcPrice(quoteId, itemId, this.value, row);
                            });
                        },
                        initComplete: function (settings, json) {
                            json.data.forEach(function (p) {
                                itemsNumLookupSetup(p.ItemNum);
                            });

                            $("#QuotesTable_wrapper .row").css("width", "100%");
                            quotes.quoteItemsTable.columns.adjust();

                            $("#QuotesTable").on("focusout keyup", ".lineNumber", function (e) {
                                var currentInput = $(e.target);
                                var newLineNumber = currentInput.val();
                                var currentLineNumber = currentInput.parent().find(".currentLineNumber").val();
                                var quoteItemId = currentInput.parent().find(".quoteItemId").val();

                                if ((e.type == "focusout" && eventOnFocusOut) || e.which == 13) {
                                    eventOnFocusOut = false;
                                    $.ajax({
                                        url: '@Url.Action("UpdateLineNumbers", "QuoteItems", new {area = "Quotes" })',
                                        dataType: 'json',
                                        type: "POST",
                                        data: {
                                            quoteItemId: quoteItemId,
                                            currentLineNumber: currentLineNumber,
                                            newLineNumber: newLineNumber
                                        },
                                        success: function (data) {
                                            if (data.success) {
                                                quotes.quoteItemsTable.ajax.reload();
                                            } else {
                                                alert(data.message);
                                            }
                                        },
                                        error: function(res) {
                                        }
                                    });
                                }
                            });
                        },
                        fnDrawCallback: function () {
                            eventOnFocusOut = true;
                        },
                        columns: [{
                            data: "LineNumber",
                            orderable: true,
                            render: function (data, type, full, meta) {
                                console.log(full);
                                return "<input type='hidden' class='currentLineNumber' value='" + full.LineNumber + "' />" +
                                    "<input type='hidden' class='quoteItemId' value='" + full.QuoteItemId + "' />" +
                                    "<input type='number' min='1' max='9999' class='input-writable text-right width50 font-bold lineNumber' value='" + full.LineNumber + "' />";
                            }
                        }, {
                            data: "ItemNum",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>"
                                    + "<select id='search-item-select-box-" + full.ItemNum.replace(' ', '_') + "'></select>"
                                    + "</span>";
                            }
                        }, {
                            data: "ItemDescription",
                            orderable: true,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ItemDescription != null ? full.ItemDescription : "") + "</span>";
                            }
                        }, {
                            data: "ItemUoM",
                            orderable: true,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ItemUoM != null ? full.ItemUoM : "") + "</span>";
                            }
                        }, {
                            data: "FreightClass",
                            orderable: true,
                            visible: false,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.FreightClass != null ? full.FreightClass.toFixed(1) : "") + "</span>";
                            }
                        }, {
                            data: "Units",
                            orderable: true,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" +
                                    "<input type='text' onClick='this.select();' value='" + full.Units + "' data-itemId='" + full.ItemId + "' class='input-writable text-right width37 font-bold itemUnits' />" +
                                    "</span>";
                            }
                        }, {
                            data: "MoQty",
                            orderable: true,
                            visible: false,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.MoQty != null ? full.MoQty : "") + "</span>";
                            }
                        }, {
                            data: "LastPrice",
                            orderable: true,
                            visible: false,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.LastPrice != null ? full.LastPrice.formatMoney(2, '.', ',') : "") + "</span>";
                            }
                        }, {
                            data: "LastDate",
                            orderable: true,
                            visible: false,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.LastDate != null ? full.LastDate.formatUTCJsonDate(true) : "") + "</span>";
                            }
                        }, {
                            data: "LastGpPct",
                            orderable: true,
                            visible: false,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.LastGpPct != null ? full.LastGpPct.formatPercent(1) : "") + "</span>";
                            }
                        }, {
                            data: "WeightProduct",
                            orderable: true,
                            visible: false,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.WeightProduct != null ? full.WeightProduct.toFixed(1) : "") + "</span>";
                            }
                        }, {
                            data: "WeightTotal",
                            orderable: true,
                            visible: false,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.WeightTotal != null ? full.WeightTotal.toFixed(1) : "") + "</span>";
                            }
                        }, {
                            data: "CurrentCost",
                            orderable: true,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.CurrentCost != null ? full.CurrentCost.formatMoney(2, '.', ',') : "") + "</span>";
                            }
                        }, {
                            data: "CurrentPrice",
                            visible: false,
                            orderable: true,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.CurrentPrice != null ? full.CurrentPrice.formatMoney(2, '.', ',') : "") + "</span>";
                            }
                        }, {
                            data: "CurrentSource",
                            orderable: true,
                            //visible: false,
                            className: "text-left",
                            render: function (data, type, full, meta) {
                                var source = full.CurrentSource != null ? full.CurrentSource : "";
                                var value = "";
                                if (full.PlcPrice != null && full.PlcPrice != full.QuotePrice && source != "") {
                                    value = "<a href='javascript:void(0)' id='revertPriceToPlcPrice' " +
                                        "data-toggle='tooltip' data-placement='top' data-html='true' " +
                                        "title='<b>Revert price back to Price List Base Price</b>' >"
                                        + full.CurrentSource + "</a>";
                                } else {
                                    value = source;
                                }

                                return "<span class='datacell'>" + value + "</span>";
                            }
                        }, {
                            data: "CurrentC",
                            orderable: true,
                            visible: false,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.CurrentC == true ? "Y" : "") + "</span>";
                            }
                        }, {
                            data: "CurrentB",
                            orderable: true,
                            visible: false,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.CurrentB == true ? "Y" : "") + "</span>";
                            }
                        }, {
                            data: "CurrentGmPercent",
                            visible: false,
                            orderable: true,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.CurrentGmPercent != null ? full.CurrentGmPercent.formatPercent(1) : "") + "</span>";
                            }
                        }, {
                            data: "QuotePrice",
                            orderable: true,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                var value = full.QuotePrice != null ? full.QuotePrice.formatMoney(2, '.', ',') : "";
                                return "<span class='datacell'>"
                                    + "<input type='text' onClick='this.select();' value='" + value + "' class='input-writable text-right font-bold quoteGMPrice' />"
                                    + "</span>";
                            }
                        }, {
                            data: "QuoteGmPercent",
                            orderable: true,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                var value = full.QuoteGmPercent != null ? full.QuoteGmPercent.formatPercent(1) : "";
                                return "<span class='datacell'>"
                                    + "<input type='text' onClick='this.select();' value='" + value + "' class='input-writable text-right quoteGMPerc' />"
                                    + "</span>";
                            }
                        }, {
                            data: "PriceGuidanceFloor",
                            orderable: true,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                // dollars 2 decimal places, % one decimal place
                                var guidanceSelectedOption = $('#guidanceDropdown option:selected').val();
                                var value = "";
                                if (guidanceSelectedOption == "priceGuidanceGMDolar") {
                                    value = full.PriceGuidanceFloor != null ? full.PriceGuidanceFloor.toFixed(2) : "";
                                } else {
                                    value = full.PriceGuidanceFloorGmPercent != null ? full.PriceGuidanceFloorGmPercent.formatPercent(1) : "";
                                }
                                return "<span class='datacell'>" + value + "</span>";
                            }
                        }, {
                            data: "PriceGuidanceTarget",
                            orderable: true,
                            visible: false,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                // dollars 2 decimal places, % one decimal place
                                var guidanceSelectedOption = $('#guidanceDropdown option:selected').val();
                                var value = "";
                                if (guidanceSelectedOption == "priceGuidanceGMDolar") {
                                    value = full.PriceGuidanceTarget != null ? full.PriceGuidanceTarget.toFixed(2) : "";
                                } else {
                                    value = full.PriceGuidanceTargetGmPercent != null ? full.PriceGuidanceTargetGmPercent.formatPercent(1) : "";
                                }
                                return "<span class='datacell'>" + value + "</span>";
                            }
                        }, {
                            data: "PriceGuidanceList",
                            orderable: true,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                // dollars 2 decimal places, % one decimal place
                                var guidanceSelectedOption = $('#guidanceDropdown option:selected').val();
                                var value = "";
                                if (guidanceSelectedOption == "priceGuidanceGMDolar") {
                                    value = full.PriceGuidanceList != null ? full.PriceGuidanceList.toFixed(2) : "";
                                } else {
                                    value = full.PriceGuidanceListGmPercent != null ? full.PriceGuidanceListGmPercent.formatPercent(1) : "";
                                }
                                return "<span class='datacell'>" + value + "</span>";
                            }
                        }, {
                            data: "QuoteExtendedCost",
                            orderable: true,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>"
                                    + (full.QuoteExtendedCost != null ? full.QuoteExtendedCost.formatMoney(0, '.', ',') : "N/A")
                                    + "</span>";
                            }
                        }, {
                            data: "QuoteExtendedRevenue",
                            orderable: true,
                            className: "text-right text-bold",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>"
                                    + (full.QuoteExtendedRevenue != null ? full.QuoteExtendedRevenue.formatMoney(0, '.', ',') : "N/A")
                                    + "</span>";
                            }
                        }, {
                            data: "QuoteExtendedMBeforeFreight",
                            orderable: true,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>"
                                    + (full.QuoteExtendedMBeforeFreight != null ? full.QuoteExtendedMBeforeFreight.formatMoney(0, '.', ',') : "N/A")
                                    + "</span>";
                            }
                        }, {
                            data: "CompetitorPrice",
                            orderable: true,
                            visible: false,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                var value = full.CompetitorPrice != null ? full.CompetitorPrice.formatMoney(0, '.', ',') : "";
                                return "<span class='datacell'>"
                                    + "<input type='text' id='CompetitorPrice' onClick='this.select();' value='" + value + "' class='input-writable text-right width50' />"
                                    + "</span>";
                            }
                        }, {
                            data: "CompetitorUoM",
                            orderable: true,
                            visible: false,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                var value = full.CompetitorUoM != null ? full.CompetitorUoM : "";
                                return "<span class='datacell'>"
                                    + "<input type='text' id='CompetitorUoM' onClick='this.select();' value='" + value + "' class='input-writable text-right width30' />"
                                    + "</span>";
                            }
                        }, {
                            data: "CompetitorCf",
                            orderable: true,
                            visible: false,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                var value = full.CompetitorCf != null ? full.CompetitorCf : "";
                                return "<span class='datacell'>"
                                    + "<input type='text' id='CompetitorCf' onClick='this.select();' value='" + value + "' class='input-writable text-right width30' />"
                                    + "</span>";
                            }
                        }, {
                            data: "CompetitorPriceVarDollar",
                            orderable: true,
                            visible: false,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.CompetitorPriceVarDollar != null ? full.CompetitorPriceVarDollar : "") + "</span>";
                            }
                        }, {
                            data: "CompetitorExtPriceVarDollar",
                            orderable: true,
                            visible: false,
                            className: "text-right text-bold",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.CompetitorExtPriceVarDollar != null ? full.CompetitorExtPriceVarDollar : "") + "</span>";
                            }
                        }, {
                            data: null,
                            orderable: true,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                var revenue = full.QuoteExtendedNetShippingRevenue;
                                var cost = full.QuoteExtendedNetShippingCost;
                                if (cost == null || revenue == null) {
                                    return "<span class='datacell'>N/A</span>";
                                }
                                var netShippingProfit = revenue - cost;
                                return "<span class='datacell'>" +
                                    netShippingProfit.formatMoney(0, '.', ',') +
                                    "</span>";
                            }
                        }, {
                            data: "QuoteExtendedAdjustedMarginDollar",
                            orderable: true,
                            className: "text-right text-bold",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>"
                                    + (full.QuoteExtendedAdjustedMarginDollar != null ? full.QuoteExtendedAdjustedMarginDollar.formatMoney(0, '.', ',') : "N/A")
                                    + "</span>";
                            }
                        }, {
                            data: "QuoteExtendedAdjustedMarginPercent",
                            orderable: true,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                var spanClass = full.QuoteExtendedAdjustedMarginPercent > full.FloorMPercent ? "acceptable-margin" : "notacceptable-margin";

                                return "<span class='datacell " + spanClass + "'><strong>"
                                    + (full.QuoteExtendedAdjustedMarginPercent != null ? full.QuoteExtendedAdjustedMarginPercent.formatPercent(1) : "N/A")
                                    + "</strong></span>";
                            }
                        }, {
                            data: "FloorRevenue",
                            orderable: true,
                            visible: false,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.FloorRevenue != null ? full.FloorRevenue.formatMoney(0, '.', ',') : "N/A") + "</span>";
                            }
                        }, {
                            data: "FloorCost",
                            orderable: true,
                            visible: false,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.FloorCost != null ? full.FloorCost.formatMoney(0, '.', ',') : "N/A") + "</span>";
                            }
                        }, {
                            data: "FloorMDollar",
                            orderable: true,
                            visible: false,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.FloorMDollar != null ? full.FloorMDollar.formatMoney(0, '.', ',') : "N/A") + "</span>";
                            }
                        }, {
                            data: "FloorMPercent",
                            orderable: true,
                            visible: false,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.FloorMPercent != null ? full.FloorMPercent.formatPercent(1) : "N/A") + "</span>";
                            }
                        }, {
                            data: "ItemStartDate",
                            orderable: true,
                            visible: false,
                            className: "text-right",
                            render: function (data, type, full, meta) {
                                return "<span class='datacell'>" + (full.ItemStartDate != null ? full.ItemStartDate.formatUTCJsonDate(true) : "N/A") + "</span>";
                            }
                        }, {
                            data: "ItemId",
                            orderable: true,
                            className: "text-center",
                            render: function (data, type, full, meta) {
                                return "<div class='btn-group btn-group-xs' role='group' aria-label='...'>" +
                                    //"<button type='button' data-value='" + full.ItemId + "' class='btn btn-default removeItemBtn'>" +
                                    //    "<span class='glyphicon glyphicon-trash'></span>" +
                                    //"</button>" +
                                    "<input type='checkbox' class='' onchange='onCheckBoxClicked(this, " + full.ItemId + ")' />" +
                                    "</div>";
                            }
                        }]
                    });
            }

            var select2Setup = function (itemNum, callback) {
                var itemNumEscaped = itemNum.replace('/', '\\/')
                                            .replace('.', '\\.')
                                            .replace(' ', '_')
                                            .replace('(', '\\(')
                                            .replace(')', '\\)')
                                            .replace('+', '\\+');

                $("#search-item-select-box-" + itemNumEscaped).select2({
                    placeholder: itemNum,
                    ajax: {
                        url: '@Url.Action("SessionLookupAutocomplete", "QuoteItems", new {area = "Quotes"})',
                        dataType: 'json',
                        type: "POST",
                        quietMillis: 50,
                        data: function (term) {
                            return {
                                quoteId: "@Model.QuoteId",
                                term: term.term
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data.items
                            };
                        },
                        cache: true
                    },
                    minimumInputLength: 1,
                    templateResult: formatResult,
                    templateSelection: formatResultSelection
                });
            };

            function formatResult(result) {
                return result.text;
            }

            function formatResultSelection(result) {
                return result.text;
            }

            var updateItemForQuote = function (oldItemNum, newItemNum) {

                if (!areRequiredFieldsValid()) {
                    return;
                }

                app.blockUI("Please wait...");
                $.ajax({
                    url: '@Url.Action("ReplaceItemInQuote", "QuoteItems", new {area = "Quotes" })',
                    dataType: 'json',
                    type: "POST",
                    data: {
                        quoteId: "@Model.QuoteId",
                        oldItemNum: oldItemNum,
                        newItemNum: newItemNum
                    },
                    success: function(data) {
                        quotes.calculateFreight("@Model.QuoteId", function (freightCost, totAdjMarginPerc, totFloorMarginPerc) {
                            quotes.updateFreightCalcValues(freightCost, totAdjMarginPerc, totFloorMarginPerc);
                            reloadTablesAfterAddingItem();
                        });
                    },
                    error: function(res) {
                        app.showAlertMessage("Error", "Error occurred while adding items!", "error");
                    }
                });
            };
            var populeteItemValues = function (newItemNum) {

                if (!areRequiredFieldsValid()) {
                    return;
                }

                app.blockUI("Please wait...");
                var quoteId = "@Model.QuoteId";
                $.ajax({
                    url: '@Url.Action("AddItemToQuote", "QuoteItems", new {area = "Quotes" })',
                    dataType: 'json',
                    type: "POST",
                    data: {
                        quoteId: quoteId,
                        itemNum: newItemNum
                    },
                    success: function(data) {
                        $("#search-item-select-box-").text("");
                        app.unblockUI();
                        quotes.calculateFreight(quoteId, function (freightCost, totAdjMarginPerc, totFloorMarginPerc) {
                            quotes.updateFreightCalcValues(freightCost, totAdjMarginPerc, totFloorMarginPerc);
                            var startDateColumnNumber = 38;
                            quotes.itemsTable.ajax.reload();
                            quotes.quoteItemsTable.order(startDateColumnNumber, 'asc');
                            reloadTablesAfterAddingItem();
                            app.unblockUI();
                        });

                        //app.showAlertMessage("Success", "Item added successfully", "success");
                        //var theAlert = $('.alert-success');
                        //theAlert.fadeOut(5000, function () {
                        //    theAlert.remove();
                        //});

                        //var item = data.item;
                        //$("#new-itemDesc").text(item.ItemDescription);
                        //$("#new-uom").text(item.ItemUoM);
                        //$("#new-freightClass").text(item.FreightClass);
                        //$("#new-units").text(item.Units);
                        //$("#new-productWeight").text(item.WeightProduct);
                        //$("#new-totalWeight").text(item.WeightTotal);
                        //$("#new-unitCost").text(item.CurrentCost);
                        //$("#new-unitPrice").text(item.CurrentPrice);
                        //$("#new-curGmPct").text(item.CurrentGmPercent);
                        //$("#new-quotePrice").text(item.QuotePrice);
                    }
                });
            };

            var itemsNumLookupSetup = function(itemNum) {
                select2Setup(itemNum);
                if (itemNum != "") {
                    var itemNumEscaped = itemNum.replace('/', '\\/')
                                                .replace('.', '\\.')
                                                .replace(' ', '_')
                                                .replace('(', '\\(')
                                                .replace(')', '\\)')
                                                .replace('+', '\\+');;
                    $("#search-item-select-box-" + itemNumEscaped).on('change', function(event) {
                        event.stopImmediatePropagation();
                        updateItemForQuote(itemNum, $(this).val());
                    });
                } else {
                    $('#search-item-select-box-').unbind().on('change', function(event) {
                        event.stopImmediatePropagation();
                        populeteItemValues($(this).val());
                    });
                }

            };

            var areRequiredFieldsValid = function () {
                var shipToValue = $("#customerShipTo").find(":selected").text();
                var toZipValue = $("#toZipInput").val();

                if (shipToValue === null || shipToValue === "" || toZipValue == "") {
                    app.showAlert({
                        title: "Error occurred while adding items!",
                        message: 'Please select a ShipTo or enter a ToZip prior to adding items to the quote!'
                    });

                    return false;
                }

                return true;
            }

            var reloadTablesAfterAddingItem = function() {
                quotes.quoteItemsTable.ajax.reload();
                if (quotes.quoteItemsFromPriceListTable != null) {
                    quotes.quoteItemsFromPriceListTable.ajax.reload();
                }
                if (quotes.quoteItemsFromStandingOrderTable != null) {
                    quotes.quoteItemsFromStandingOrderTable.ajax.reload();
                }
            }

            $(document).ready(function () {
                initQuoteItemsTable();
                $("div.toolbar").html('<span data-toggle="modal" data-target="#TableConfig-Modal" ' +
                    'class="glyphicon glyphicon-cog" style="cursor:pointer"></span>' +
                    '<button type="button" class="btn btn-default" style="margin-left: 15px; margin-right: -34px;" id="removeItemsBtn" title="Delete selected items">' +
                    '<span class="glyphicon glyphicon-trash"></span></button>');

                initTable();

                $('#removeItemsBtn').on('click', function() {
                    var quoteId = "@Model.QuoteId";
                    var selectedItemIds = [];

                    for (var itemId in selectedItems) {
                        if (selectedItems.hasOwnProperty(itemId)) {
                            selectedItemIds.push(itemId);
                        }
                    }
                    quotes.removeItemListFromQuote(quoteId, selectedItemIds);
                    selectedItems = {};
                });

                $('#saveTableSetting').on('click', function () {
                    var selected = [];
                    $('#quoteItemColumnsSettings input:checked').each(function () {
                        var val = $(this).val();
                        if (val.indexOf('-') != -1) {
                            var valStart = val.split('-')[0];
                            var valEnd = val.split('-')[1];
                            for (var i = valStart; i <= valEnd; i++) {
                                selected.push(parseInt(i));
                            }
                        } else {
                            selected.push(parseInt(val));
                        }
                    });

                    for (var i = 2; i < 38; i++) {
                        var column = quotes.quoteItemsTable.column(i);
                        if (selected.indexOf(i) == -1 || i == 13 || i == 17) {
                            column.visible(false);
                        } else {
                            column.visible(true);
                        }
                    }

                });

                var itemsHaveBeenAdded = false;
                $('.addItems, .addItemsAndClose').on('click', function () {

                    if (!areRequiredFieldsValid()) {
                        return;
                    }

                    var selectedItemIds = [];

                    for (var itemId in selectedItems) {
                        if (selectedItems.hasOwnProperty(itemId)) {
                            selectedItemIds.push(itemId);
                        }
                    }

                    selectedItems = {};

                    var btnId = this.id;

                    app.blockUI("Please wait...");
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("AddItemsToQuote", "QuoteItems", new {area = "Quotes"})',
                        data: {
                            quoteId : "@Model.QuoteId",
                            items : selectedItemIds
                        },
                        dataType: 'json',
                        cache: false,
                        timeout: 1000000,
                        success: function (data) {
                            initTable();
                            var startDateColumnNumber = 38;
                            quotes.quoteItemsTable.order(startDateColumnNumber, 'asc');
                            reloadTablesAfterAddingItem();
                            app.unblockUI();
                        },
                        error: function (xr, data) {
                            app.unblockUI();
                            app.showAlert({
                                title: "Error",
                                message: "Error occurred while adding items to the quote!"
                            });
                        }
                    });
                });
                $('#AddNewItem-Modal, #AddItemFromPriceListModal, #AddFromStandingOrderModal').on('hidden.bs.modal', function() {
                    if (itemsHaveBeenAdded) {
                        quotes.calculateFreight(@Model.QuoteId, function (freightCost, totAdjMarginPerc, totFloorMarginPerc) {
                            quotes.updateFreightCalcValues(freightCost, totAdjMarginPerc, totFloorMarginPerc);
                            reloadTablesAfterAddingItem();
                        });
                        itemsHaveBeenAdded = false;
                    }
                });

                $("#allItems").on('click', function () {
                    addItemsFilter = "AllItems";
                    quotes.itemsTable.ajax.reload();
                    quotes.itemsTable.column(2).visible(true);
                    quotes.itemsTable.column(3).visible(true);
                });

                $("#previouslySold").on('click', function () {
                    addItemsFilter = "PreviouslySold";
                    quotes.itemsTable.ajax.reload();
                    quotes.itemsTable.column(2).visible(true);
                    quotes.itemsTable.column(3).visible(true);
                });

                $("#newItems").on('click', function () {
                    addItemsFilter = "NewItems";
                    quotes.itemsTable.ajax.reload();
                    quotes.itemsTable.column(2).visible(false);
                    quotes.itemsTable.column(3).visible(false);
                });

                $('#deleteQuoteBtn').on('click', function () {
                    quotes.archiveQuote(@Model.QuoteId);
                });

                $('#unarchiveQuoteBtn').on('click', function () {
                    quotes.unarchiveQuote(@Model.QuoteId, function() {
                        // hide the unarchive button
                        $('[data-target="#UnarchiveQuote-Modal"]').addClass('hidden');
                        // show the archive button
                        $('[data-target="#DeleteQuote-Modal"]').removeClass('hidden');
                    });
                });

                $('#customerFacingXls').on('click', function() {
                    quotes.customerFacingXls("@Model.QuoteId");
                });
                $('#customerFacingNotExtended').on('click', function() {
                    var quoteId = '@Model.QuoteId';
                    window.location.href = '@Url.Action("CustomerFacingNotExtended", "QuotesMain", new { area = "Quotes" })' + "?quoteId=" + quoteId;
                });
                $('#customerFacingExtended').on('click', function() {
                    var quoteId = '@Model.QuoteId';
                    window.location.href = '@Url.Action("CustomerFacingExtended", "QuotesMain", new { area = "Quotes" })' + "?quoteId=" + quoteId;
                });

                $('#guidanceDropdown').on('change', function() {
                    quotes.quoteItemsTable.ajax.reload();
                });

                $('#resetCheckboxes').on('click', function() {
                    resetCheckboxesToDefault();
                });
                $('#addItemsFromList').on('click', function() {
                    var text = $("#AddItemsFromListModal").find('textarea').val();
                    var quoteId = "@Model.QuoteId";
                    quotes.validateAndAddItemsFromList(quoteId, text);
                });

                $('#closeItemWindow, #closePlcItemWindow').on('click', function () {
                    selectedItems = {};
                    quotes.itemsTable.ajax.reload();
                });

                $("#addItemsFromList-confirm").on('click', function() {
                    var text = $("#AddItemsFromListModal").find('textarea').val();
                    var quoteId = "@Model.QuoteId";
                    quotes.addItemsFromList(quoteId, text);
                });

                $('#AddNewItem-Modal').on('shown.bs.modal', function() {
                    itemsTableAdjustColmunWidths();
                });

            });
        }(window.app, window.quotes, jQuery));
</script>

<!-- Modal -->
<div class="modal fade" id="AddNewItem-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 1100px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Item(s)</h4>
            </div>
            <div class="modal-body">

                <table id="AddNewItemTable" style="width: 100% !important" class="table table-bordered table-striped table-hover font-condensed">
                    <thead>
                        <tr>
                            <th style="width: 90px !important">Part</th>
                            <th>Description</th>
                            <th style="width: 40px !important">BillTo 12MoQty</th>
                            <th style="width: 40px !important">ShipTo 12MoQty </th>
                            <th style="width: 40px !important">UOM</th>
                            @*<th style="width:220px !important">Vendor</th>*@
                            <th style="width: 40px !important">Private<br />Label</th>
                            <th style="width: 40px !important">Freight<br />Class</th>
                            <th title="Quantity On Hand" style="width: 40px !important">QOH</th>
                            <th title="Quantity On Order" style="width: 40px !important">QOO</th>
                            <th style="width: 40px !important">Select</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeItemWindow" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="addItems" class="btn btn-primary addItems">Add Item(s)</button>
                <button type="button" id="addItemsAndClose" class="btn btn-primary addItemsAndClose" data-dismiss="modal">Add Item(s) Return to Details Page</button>
            </div>
        </div>
    </div>
</div>

<!-- other Delete -->
<div class="modal fade" id="UploadEpicor-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">ERP</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center">
                    Are you sure you want to upload quote pricing to ERP?
                </h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Upload Quote to ERP</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DownloadEpicor-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">ERP</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center">
                    Retrieving Current Pricing….
                </h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ArchiveModals")
@await Html.PartialAsync("_StandingOrder", Model.StandingOrders)
@await Html.PartialAsync("_PriceListCodePartial", Model.PriceListModel)

<div class="modal fade" id="CF-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Example of How to Calculate CF</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>StatLab</th>
                            <th>Competitor</th>
                            <th>CF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Units/UOM</td>
                            <td class="text-center"><input value="10" class="input-writable text-right" type="text"></td>
                            <td class="text-center"><input value="8" class="input-writable text-right" type="text"></td>
                            <td class="text-center">1.250</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td class="text-center"><input value="10.49" class="input-writable text-right" type="text"></td>
                            <td class="text-center"><input value="9.29" class="input-writable text-right" type="text"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td>Normalized Price</td>
                            <td class="text-center"></td>
                            <td class="text-right">11.61</td>
                            <td class="text-center"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Table Config Modal -->
<div class="modal fade" id="TableConfig-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:600px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Displayed Fields</h4>
            </div>
            <div class="modal-body" id="quoteItemColumnsSettings">
                <div class="col-md-4">
                    <label><input type="checkbox" value="2" checked /> Item Description </label><br />
                    <label><input type="checkbox" value="3" checked /> UOM </label><br />
                    <label><input type="checkbox" value="4" /> Freight Class </label><br />
                    <label><input type="checkbox" value="5" checked /> Units </label><br />
                    <label><input type="checkbox" value="6" /> 3Mo Qty </label><br />
                    <label><input type="checkbox" value="7-9" /> Last Values </label><br />
                    <label><input type="checkbox" value="10" /> Product Weight </label><br />
                    <label><input type="checkbox" value="11" /> Total Weight </label><br />
                </div>
                <div class="col-md-4">
                    <label><input type="checkbox" value="12" checked /> Current Cost</label><br />
                    <label><input type="checkbox" value="14" checked /> Current Price List Code</label><br />
                    <label><input type="checkbox" value="15" /> Current Contract</label><br />
                    <label><input type="checkbox" value="16" /> Current Blitzed Enable</label><br />
                    <label><input type="checkbox" value="18" checked /> Quote Price</label><br />
                    <label><input type="checkbox" value="19" checked /> Quote GM%</label><br />
                    <label><input type="checkbox" value="20" checked /> Floor</label><br />
                    <label><input type="checkbox" value="21" /> Target</label><br />
                </div>
                <div class="col-md-4">
                    <label><input type="checkbox" value="22" checked /> List</label><br />
                    <label><input type="checkbox" value="23" checked /> Quote Ext Product Cost</label><br />
                    <label><input type="checkbox" value="24" checked /> Quote Ext Product Revenue</label><br />
                    <label><input type="checkbox" value="25" checked /> M$ Product Only</label><br />
                    <label><input type="checkbox" value="31-33" checked /> Freight Extended</label><br />
                    <label><input type="checkbox" value="34-37" /> Floor Values</label><br />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-default" id="resetCheckboxes">Reset</button>
                <button type="button" class="btn btn-primary" id="saveTableSetting" data-dismiss="modal">Save Settings</button>
            </div>
        </div>
    </div>
</div>

<!-- Request Approval Modal-->

<div class="modal fade" id="RequestApprovalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Approval Request Notes</h4>
            </div>
            <div class="modal-body">
                <textarea cols="5" rows="5" class="form-control"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit Request to Manager</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Items From List Modal-->

<div class="modal fade" id="AddItemsFromListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Paste Item Numbers</h4>
            </div>
            <div class="modal-body">
                <textarea cols="5" rows="10" class="form-control"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addItemsFromList">Validate</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ValidateItemsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="validateModalTitle">Title</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="addItemsFromList-confirm">Add Items To Quote</button>
            </div>
        </div>
    </div>
</div>