﻿
@{
    ViewBag.Title = "Quotes - Quotes";
}

<section class="content-header">
    <h1 class="pull-left">
        Drop Down
    </h1>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-2">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">From Zip Codes</h3>
                    <div class="box-tools">
                        <button class="pull-right btn btn-primary btn-xs" style="margin-top:4px;">Add New</button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Zip Codes</th>
                                <th style="width:70px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>75068</td>
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>60453</td>
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>01821</td>
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>92236</td>
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>32566</td>
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>22041</td>
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>52001</td>
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>77016</td>
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>29301</td>
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>60030</td>
                                <td>
                                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Rules</h3>
                </div>
                <div class="box-body">
                    [placeholder Approval criteria by Account]
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Rules</h3>
                </div>
                <div class="box-body">
                    [placeholder Approval criteria by Item]
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>













