﻿@{
    ViewBag.Title = "Quotes - Quote Header";
}
<section class="content-header">
    <h1 class="pull-left">
        Quotes
    </h1>
    <div class="pull-right">
        <a href="/Quotes/QuotesMain/CreateQuote" class="btn btn-primary">Create Quotes </a>
        @if (ViewBag.QuoteId != null && ViewBag.QuoteId != 0)
        {
            <a class="btn btn-default" href="@Url.Action("HeaderQuote", "QuotesMain", new { area = "Quotes" })">View All Quotes</a>
        }
        <button class="btn btn-default" id="showArchivedQuotes">Show Archived Quotes</button>
        <button class="btn btn-default" id="showActiveQuotes" style="display: none">Show Active Quotes</button>
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div>
                        <table id="QuotesTable" class="table table-bordered table-striped table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th>Quote Name</th>
                                    <th>Notes</th>
                                    <th style="width: 60px !important">CustID</th>
                                    <th>CustName</th>
                                    <th style="width: 95px !important">3Mo Sales</th>
                                    <th style="width: 95px !important">3Mo M%</th>
                                    <th style="width: 80px !important">Created</th>
                                    <th style="width: 80px !important">Last Modified</th>
                                    <th style="width: 55px !important">Presented<br />to Cust</th>
                                    <th style="width: 55px !important">Items</th>
                                    <th style="width: 55px !important">Floor M%</th>
                                    <th style="width: 55px !important">Status</th>
                                    <th style="width: 55px !important">Quote <br />Ext M% </th>
                                    <th style="width: 55px !important">Quote<br /> Revenue</th>
                                    @*<th style="width:55px !important">Select</th>*@
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>
    <div class="row bottom-box hidden">

    </div>
</section>

@section styles {
    <style type="text/css">
        .dataTables_empty {
            display: none;
        }

        td {
            cursor: pointer;
        }

        abbr {
            border-bottom: 1px dotted #bcbcbc;
        }

        #updateQuoteForm .form-horizontal .control-label {
            text-align: left;
        }

        .archiveButtonContainer {
            text-align: right;
            margin-bottom: 20px;
        }
    </style>
}
@section scripts {
    <script type="text/javascript">
        (function (app, quotes, $) {
            var urlQuoteId = @ViewBag.QuoteId;
            app.activeMenus = ["menuQuoting", "menuAdminQuotes"]; // List all menus that should be activated when this page is opened
            quotes.showArchived = false;
            var initTable = function () {
                if (quotes.headerTable == null) {
                    quotes.headerTable = $('#QuotesTable')
                        .on('preXhr.dt', function (e, settings, data) {
                            // callback before ajax call
                            $('.table-overlay').show();
                            data.showArchived = quotes.showArchived;
                        }).on('xhr.dt', function (e, settings, json, xhr) {
                            // callback after ajax call
                            $('.table-overlay').hide();
                        })
                        .DataTable({
                            order: [[0, "asc"]],
                            processing: true,
                            serverSide: true,
                            searching: true,
                            paging: true,
                            filter: true,
                            scrollX: false,
                            autoWidth: false,
                            pageLength: 25,
                            lengthMenu: [5, 10, 25, 50],
                            searchDelay: 1500,
                            "columnDefs": [{
                                "type": "currency",
                                "targets": 4
                            }],
                            dom: '<"row"<"col-sm-6"l><"col-sm-6"<"toolbar">f >>rt<"row"<"col-sm-6"i><"col-sm-6"p>>',
                            ajax: {
                                url: '@Url.Action("GetQuotesData", "QuotesMain")',
                                data: function (d) {
                                    d.showArchived = quotes.showArchived;
                                    d.urlQuoteId = urlQuoteId;
                                },
                                type: "POST"
                            },
                            language: {
                                processing: 'Loading...'
                            },
                            createdRow: function (row, data, index) {
                                var quoteId = data.QuoteId;
                                if (urlQuoteId == quoteId) {
                                    $("#QuotesTable tr").removeClass("qoute-active");
                                    $(row).addClass("qoute-active");
                                    showQuoteDetails(quoteId);
                                    $(".bottom-box").removeClass("hidden");
                                }
                                $(row).click(function () {
                                    $("#QuotesTable tr").removeClass("qoute-active");
                                    $(this).addClass("qoute-active");
                                    showQuoteDetails(quoteId);
                                    $(".bottom-box").removeClass("hidden");
                                });
                                $(row).find('.itemslink').on('click', function(e) {
                                    e.stopPropagation();
                                });
                            },
                            columns: [{
                                data: "QuoteName",
                                orderable: true,
                                className: "text-left",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.QuoteName != null ? full.QuoteName : "") + "</span>";
                                }
                            }, {
                                data: "Notes",
                                orderable: true,
                                className: "text-left",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.Notes != null ? full.Notes : "") + "</span>";
                                }
                            }, {
                                data: "CustomerNum",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.CustomerNum != null ? full.CustomerNum : "") + "</span>";
                                }
                            }, {
                                data: "CustomerName",
                                orderable: true,
                                className: "text-left",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.CustomerName != null ? full.CustomerName : "") + "</span>";
                                }
                            }, {
                                data: "Sales3Mo",
                                orderable: true,
                                visible: false,
                                className: "text-right",
                                render: function (data, type, full, meta) {
                                    var arrow = "status-arrow-3.png";
                                    if (full.SalesChange > 0) {
                                        arrow = "status-arrow-1.png";
                                    } else if (full.SalesChange < 0) {
                                        arrow = "status-arrow-2.png";
                                    }
                                    var result = "<img style='float:right; margin-left:5px;' height='20' src='/Modules/ProfitOptics.Modules.Quotes/Content/img/" + arrow + "' />";
                                    result += "<span class='datacell pull-right'>" + (full.Sales3Mo != null ? full.Sales3Mo.formatMoney(0, '.', ',') : "") + "</span>";
                                    return result;
                                }
                            }, {
                                data: "GPPct3Mo",
                                orderable: true,
                                visible: false,
                                className: "text-left",
                                render: function (data, type, full, meta) {
                                    var arrow = "status-arrow-3.png";
                                    if (full.SalesChange > 0) {
                                        arrow = "status-arrow-1.png";
                                    } else if (full.SalesChange < 0) {
                                        arrow = "status-arrow-2.png";
                                    }
                                    var result = "<img style='float:right; margin-left:5px;' height='20' src='/Modules/ProfitOptics.Modules.Quotes/Content/img/" + arrow + "' />";
                                    result += "<span class='datacell pull-right'>" + (full.GPPct3Mo != null ? full.GPPct3Mo.formatPercent(0) : "") + "</span>";
                                    return result;
                                }
                            }, {
                                data: "CreatedDate",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    var value = moment(full.CreatedDate).format('MM/DD/YYYY');
                                    return "<span class='datacell'>" + (full.CreatedDate != null ? value : "") + "</span>";
                                }
                            }, {
                                data: "LastModifiedDate",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    var value = moment(full.LastModifiedDate).format('MM/DD/YYYY');
                                    return "<span class='datacell'>" + (full.LastModifiedDate != null ? value : "") + "</span>";
                                }
                            }, {
                                data: "PresentedToCustomer",
                                orderable: true,
                                visible: false,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.PresentedToCustomer == true ? "Y" : "N") + "</span>";
                                }
                            }, {
                                data: "Items",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    @*var link = "@(Url.Action("DetailQuote", "QuotesMain", new { area = "Quotes", quoteId =  }))";*@
                                    return "<span class='datacell'><a class='itemslink' href='/Quotes/QuotesMain/DetailQuote?quoteId=" + full.QuoteId + "'>"
                                        + (full.Items != null ? full.Items : "") + "</a></span>";
                                }
                            }, {
                                data: "FloorPct",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.FloorPct != null ? full.FloorPct.formatPercent(0) : "") + "</span>";
                                }
                            }, {
                                data: "Status",
                                orderable: true,
                                visible: false,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<abbr title='Quote in process where freight calculated'>" + (full.Status != null ? full.Status : "") + "</abbr>";
                                }
                            }, {
                                data: "QuoteExtGPPct",
                                orderable: true,
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.QuoteExtGPPct != null ? full.QuoteExtGPPct.formatPercent(1) : "") + "</span>";
                                }
                            }, {
                                data: "QuoteRevenue",
                                orderable: true,
                                className: "text-right",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.QuoteRevenue != null ? full.QuoteRevenue.formatMoney(0, '.', ',') : "") + "</span>";
                                }
                            }]
                        });

                } else {
                    quotes.headerTable.ajax.reload();
                }
            };

            function showQuoteDetails(quoteId) {
                window.location.href = '@Url.Action("DetailQuote", "QuotesMain", new {area = "Quotes" })' + "?quoteId=" + quoteId;
            }

            $(document).ready(function () {
                initTable();

                $("#showArchivedQuotes").on("click", function () {
                    $(".content-header h1").text("Archived Quotes");
                    quotes.showArchived = true;
                    initTable();
                    $("#showArchivedQuotes").hide();
                    $("#showActiveQuotes").show();
                });
                $("#showActiveQuotes").on("click", function () {
                    $(".content-header h1").text("Quotes");
                    quotes.showArchived = false;
                    initTable();
                    $("#showActiveQuotes").hide();
                    $("#showArchivedQuotes").show();
                });
            });
        }(window.app, window.quotes, jQuery));
    </script>
}
