﻿@model QuoteDetailsModel

<div class="modal fade" id="CloneQuote-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Clone Quote. Please, select a Customer:</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Clone Quote Name:</label>
                        <div class="col-sm-5">
                            <input type="text" id="clone-quote-name" class="form-control">
                        </div>
                    </div>
                </form>

                <br />

                <div>
                    <table id="customersTable" class="table table-bordered table-striped table-hover font-condensed">
                        <thead>
                            <tr>
                                <th style="width:60px !important">CustID</th>
                                <th>Customer Name</th>
                                <th style="width:60px !important">Select</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="cloneQuoteBtn" class="btn btn-primary">Clone</button>
            </div>
        </div>
    </div>
</div>

<div class="box box-primary collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title">Supplemental Quote Details</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="display: none;">
        <form id="updateQuoteForm">
            <div id="supplementalQuoteDetails">
                <div class="panel-body">
                    <div class="col-md-4">
                        <div class="box-body form-horizontal">
                            <div class="form-group">
                                <label class="col-md-5 control-label">Status</label>
                                <div class="col-md-7">
                                    <select class="form-control" name="Status">
                                        @* TODO what are all possible values, what is the initial value, and can it be null? *@
                                        <option value="">Select</option>
                                        <option selected=@(Model.Status == "In Process" ? "selected" : "")>In Process</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Valid Thru Date</label>
                                <div class="col-md-4">
                                    <input class="form-control updateQuoteDatePicker" type="text" placeholder="Date" name="ValidThroughDate" value="@(Model.ValidThroughDate?.ToString("MM'/'dd'/'yyyy") ?? "")">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Contact Email</label>
                                <div class="col-md-7">
                                    <input class="form-control" type="text" name="ContactEmail" value="@Model.ContactEmail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Customer Reference</label>
                                <div class="col-md-7">
                                    <input class="form-control" type="text" name="CustomerReference" value="@Model.CustomerReference">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Notes:</label>
                                <div class="col-md-7">
                                    <textarea cols="4" rows="2" style="height:55px;" class="form-control" name="QuoteDescription">@Model.QuoteDescription</textarea>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <div class="col-md-3">
                        <div class="box-body form-horizontal">
                            <div class="form-group">
                                <label class="col-md-5 control-label">Presented to Customer</label>
                                <div class="col-md-5">
                                    <select class="form-control" id="presentedToCustomerSelect">
                                        <option selected=@(Model.PresentedToCustomer != null ? "selected" : "")>Yes</option>
                                        <option selected=@(Model.PresentedToCustomer == null ? "selected" : "")>No</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control updateQuoteDatePicker" type="text" placeholder="Date" name="PresentedToCustomer" value="@(Model.PresentedToCustomer?.ToString("MM'/'dd'/'yyyy") ?? "")">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">New Business</label>
                                <div class="col-md-5">
                                    <select class="form-control" name="NewBusiness">
                                        <option value="true" selected=@(Model.NewBusiness == true ? "selected" : "")>Yes</option>
                                        <option value="false" selected=@(Model.NewBusiness != true ? "selected" : "")>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Est First Order Date</label>
                                <div class="col-md-7">
                                    <input class="form-control updateQuoteDatePicker" type="text" placeholder="Date" name="EstimatedFirstOrderDate" value="@(Model.EstimatedFirstOrderDate?.ToString("MM'/'dd'/'yyyy") ?? "")" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">Probability</label>
                                <div class="col-md-7">
                                    <select class="form-control" name="Probability">
                                        <option value="">Select</option>
                                        <option value="0.10" selected=@(Model.Probability == 0.10M ? "selected" : "")>10%</option>
                                        <option value="0.25" selected=@(Model.Probability == 0.25M ? "selected" : "")>25%</option>
                                        <option value="0.50" selected=@(Model.Probability == 0.50M ? "selected" : "")>50%</option>
                                        <option value="0.75" selected=@(Model.Probability == 0.75M ? "selected" : "")>75%</option>
                                        <option value="0.90" selected=@(Model.Probability == 0.90M ? "selected" : "")>90%</option>
                                        <option value="1.00" selected=@(Model.Probability == 1.00M ? "selected" : "")>100%</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="box-body form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12 col-md-offset-3">To Appear on Quote (when selected):</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Shipping Cost $</label>
                                <div class="col-md-3">
                                    <input class="form-control" type="text" name="ShippingCost" value="@(Model.ShippingCost?.ToString("0.00") ?? "")" />
                                </div>
                                <label class="col-md-3 control-label">Tax $</label>
                                <div class="col-md-3">
                                    <input class="form-control" type="text" name="TaxAmount" value="@(Model.TaxAmount?.ToString("0.00") ?? "")" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Order Header</label>
                                <div class="col-md-9">
                                    <textarea cols="4" rows="2" class="form-control" name="HeaderComments">@Model.HeaderComments</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    Order Footer
                                    <span style="margin-top:19px; display:block">
                                        <input type="checkbox" style="margin-right:10px" />Use Default
                                    </span>
                                </label>
                                <div class="col-md-9">
                                    <textarea cols="4" rows="2" class="form-control" name="FooterComments">@Model.FooterComments</textarea>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </form>
    </div>
    <!-- /.box-body -->
</div>


@await Html.PartialAsync("_ArchiveModals")

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function (event) {

        (function (quotes, $, undefined) {

            var customerIdForCloning;

            var initTable = function () {
                if (quotes.customerTable == null) {
                    quotes.customerTable = $('#customersTable')
                        .DataTable({
                            order: [[0, "asc"]],
                            processing: true,
                            serverSide: true,
                            autoWidth: false,
                            searching: true,
                            paging: true,
                            scrollX: false,
                            scrollY: "300px",
                            pageLength: 50,
                            lengthMenu: [50, 100],
                            searchDelay: 1500,
                            ajax: {
                                url: '@Url.Action("GetCustomersData", "QuotesMain")',
                                data: function (d) {

                                },
                                type: "POST"
                            },
                            language: {
                                processing: 'Loading...'
                            },
                            initComplete: function (settings, json) {
                                $("#CloneQuote-Modal").find(".dataTables_scrollHeadInner").removeAttr("style");
                                $("#CloneQuote-Modal").css("width", "100%");
                                quotes.customerTable.columns.adjust();
                            },
                            columns: [{
                                data: "CustId",
                                orderable: true,
                                width: "100px",
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.CustId != null ? full.CustId : "") + "</span>";
                                }
                            }, {
                                data: "CustName",
                                orderable: true,
                                className: "text-left",
                                render: function (data, type, full, meta) {
                                    return "<span class='datacell'>" + (full.CustName != null ? full.CustName : "") + "</span>";
                                }
                            }, {
                                data: "selected",
                                orderable: false,
                                width: "100px",
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return "<input type='radio' name='IsSelected' onclick='quotes.setCustomerForCloning(" + full.BillToId + ")' />";
                                }
                            }]
                        });

                } else {
                    quotes.customerTable.ajax.reload();
                    $("#CloneQuote-Modal").find(".dataTables_scrollHeadInner").removeAttr("style");
                    $("#CloneQuote-Modal").css("width", "100%");
                    quotes.customerTable.columns.adjust();
                }
            };

            quotes.setCustomerForCloning = function (customerId) {
                customerIdForCloning = customerId;
            }

            var dateRangePickerConfig = {
                timePicker: false,
                singleDatePicker: true,
                locale: { format: 'MM/DD/YYYY' }
            };

            // first parameter is config, second is callback when the date is changed
            $('input[name="ValidThroughDate"], input[name="EstimatedFirstOrderDate"]').daterangepicker(dateRangePickerConfig, function () {
                quotes.autosave(saveFunction);
            });
            // for PresentedToCustomer, copy the config, and add a maxDate
            var presentedToCustomerConfig = Object.assign({}, dateRangePickerConfig);
            presentedToCustomerConfig.maxDate = moment();
            $('input[name="PresentedToCustomer"]').daterangepicker(presentedToCustomerConfig, function () {
                quotes.autosave(saveFunction);
            });

            function updatePresentedToCustomerInput() {
                var theSelect = $('#presentedToCustomerSelect');
                var theInput = $('input[name="PresentedToCustomer"]');
                if (theSelect.val() === 'Yes') {
                    theInput.show();
                } else {
                    theInput.val('').hide();
                }
            }

            updatePresentedToCustomerInput();
            $('#presentedToCustomerSelect').on('change', updatePresentedToCustomerInput);

            var updateForm = $('#updateQuoteForm');
            function saveFunction() {
                // serialize the whole form, add the QuoteId, and call the updateQuote method
                var quote = updateForm.serializeObject();
                quote.QuoteId = @Model.QuoteId;
                quote.QuoteName = "@Model.QuoteName";
                quotes.updateQuote(quote);
            }
            // on input (typing a character), we don't want to autosave every time,
            // so do debounce, which means schedule an autosave for later
            updateForm.on('input', 'input:not(.updateQuoteDatePicker), textarea', function () {
                quotes.scheduleAutosave(saveFunction);
            });
            // on change, do an autosave immediately
            updateForm.on('propertychange change', 'input:not(.updateQuoteDatePicker), select, textarea', function () {
                quotes.autosave(saveFunction);
            });
            // on submit (enter key or button click), cancel the submit and do an autosave immediately
            updateForm.on('submit', function (e) {
                e.preventDefault();
                quotes.autosave(saveFunction);
                return false;
            });

            $("body").on("show.bs.modal", ".modal", function (evt) {
                $('#Customers')
                    .select2()
                    .closest('.modal-dialog')
                    .parent()
                    .removeAttr("tabindex");
            });

            $('#cloneQuoteBtn').on('click', function () {
                if (customerIdForCloning === undefined) {
                    app.showAlert({
                        title: "Error occurred while cloning quote!",
                        message: 'Please select a customer from the list!'
                    });
                } else {
                    var cloneName = $("#clone-quote-name").val();
                    if (cloneName === undefined || cloneName === "") {
                        app.showAlert({
                            title: "Error occurred while cloning quote!",
                            message: 'Please choose clone name!'
                        });

                        return;
                    }

                    quotes.cloneQuote("@Model.QuoteId", cloneName, customerIdForCloning);
                }
            });

            $('#CloneQuote-Modal').on('shown.bs.modal', function () {

                $('#clone-quote-name').val("Clone of " + "@Model.QuoteName");
                $('#clone-quote-name').select();

                $("#CloneQuote-Modal").find(".dataTables_scrollHeadInner").removeAttr("style");
                $("#CloneQuote-Modal").css("width", "100%");
                quotes.customerTable.columns.adjust();
            });

            initTable();

        }(window.quotes || {}, jQuery));
    });
</script>