﻿@model PrintModel.CustomerFacingExtendedModel

@{
    ViewBag.Title = "Quotes - Output";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="col-md-3 logo_image" style="margin-bottom:30px;">
                        <img src="~/img/statlab-logo.svg" class="img-responsive" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 detail-section" style="float: left;">
                            <p class="quote-p">
                                2090 Commerce St<br />
                                McKinney, TX 75069 USA<br />
                                P: 972.436.1010 | F: 972.436.1369<br />
                                www.statlab.com
                            </p>
                        </div>
                        <div class="col-md-6 detail-section" style="float: left;">
                            <p class="quote-p">
                                Date: @(Model.Date?.ToString("d") ?? "")<br />
                                <strong>Sales Representative:</strong><br />
                                @Model.SalesRepName<br />
                                @Model.SalesRepEmail<br />
                            </p>
                        </div>
                        <div class="col-md-6 detail-section" style="float: left;">
                            <p class="quote-p"><strong>Quote to:</strong></p>
                            <p class="quote-p">
                                @Model.QuoteToAddress1<BR>
                                @Model.QuoteToAddress2<BR>
                                @Model.QuoteToAddress3<BR>
                                Customer Number: @Model.CustomerNumber
                            </p>
                        </div>
                        <div class="col-md-6 detail-section" style="float: left;">
                            <p class="quote-p"><strong>Regional Manager:</strong></p>
                            <p class="quote-p">
                                @Model.ManagerName<BR>
                                @Model.ManagerEmail<BR>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="col-md-10 col-md-offset-1">
                        <p class="quote-p"><strong>Comments:</strong></p>
                        <p class="quote-p">@Model.HeaderComment </p>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="col-md-10 col-md-offset-1">
                        <table class="table table-bordered font17">
                            <thead>
                                <tr>
                                    <th>Part Number</th>
                                    <th>Part Description</th>
                                    @if (Model.IsNotExtended == false)
                                    {
                                        <th>Qty</th>
                                    }
                                    <th>UofM</th>
                                    <th>Price</th>
                                    @if (Model.IsNotExtended == false)
                                    {
                                        <th>Total</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>@item.ItemNum</td>
                                        <td>@item.ItemDescription</td>
                                        @if (Model.IsNotExtended == false)
                                        {
                                            <td class="text-center">@item.Units</td>
                                        }
                                        <td class="text-center">@item.ItemUoM</td>
                                        <td class="text-right">@(item.CurrentPrice?.ToString("C") ?? "")</td>
                                        @if (Model.IsNotExtended == false)
                                        {
                                            <td class="text-right">@(item.QuotePrice?.ToString("C") ?? "")</td>
                                        }

                                    </tr>
                                }
                            </tbody>
                            @if (Model.IsNotExtended == false)
                            {
                                <tfoot style="border-top:2px solid black !important">
                                    <tr>
                                        <th colspan="5"></th>
                                        <th style="text-align: right !important; background: #f8f8f8; font-size: 24px !important">
                                            @(Model.TotalAmount?.ToString("C") ?? "")
                                        </th>
                                    </tr>
                                </tfoot>
                            }
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="col-md-12">
                        <p style="font-size:13px !important">
                            Please indicate part numbers when ordering. Price quotation is valid until the end of the year if product(s) are
                            purchased within 90 days of quote date. After 90 days, any products not purchased may revert back to "list" price.
                            Prices are subject to change at any time depending upon changes in raw material costs, packing costs, etc. Fixed
                            pricing is available if product is placed on a standing order with automatic release. This price quotation
                            supersedes any previous quotations made for those speciﬁc products.
                        </p>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>
</section>
<button class="no-print btn btn-default pull-right" type="button" onclick="window.print()">Print</button>

@section styles {
    <style type="text/css">
        .dataTables_empty {
            display: none;
        }

        .no-print {
            margin-top: -25px;
            margin-right: 15px;
        }

        @@page {
            size: A4;
            margin: 0;
        }

        @@media print {
            .no-print {
                visibility: hidden !important;
            }

            .logo_image {
                width: 280px;
            }

            .detail-section {
                width: 50%;
            }
        }
    </style>
}
@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuQuotes"]; // List all menus that should be activated when this page is opened
        $(document).ready(function () {
            $('#QuotesTable').DataTable();
        });

    </script>
}
