﻿
@{
    ViewBag.Title = "QuoteApprovalRules";
}
<section class="content-header">
    <h1 class="pull-left">
        Quote Approval Rules
    </h1>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Sales Rep Approval Rules</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Quote Approval Rules</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <h4 style="margin-bottom:15px;">Sales Rep Approval Rules</h4>
                        <table id="SRepApprovalTable" class="table table-bordered table-striped table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th>SalesRep Username</th>
                                    <th>Last</th>
                                    <th>First</th>
                                    <th>Rule</th>
                                    <th>Authorized By</th>
                                    <th>Date Updated</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="act">
                                    <td>TonyP</td>
                                    <td>Pericle</td>
                                    <td>Tony</td>
                                    <td>1</td>
                                    <td>System</td>
                                    <td>5/1/2017</td>
                                    <td></td>
                                </tr>
                                <tr class="act">
                                    <td>JonL</td>
                                    <td>Ladle</td>
                                    <td>Jon</td>
                                    <td>2</td>
                                    <td>Dan</td>
                                    <td>6/2/2017</td>
                                    <td></td>
                                </tr>
                                <tr class="act">
                                    <td>BradJ</td>
                                    <td>Johnson</td>
                                    <td>Brad</td>
                                    <td>Exempt</td>
                                    <td>Tim</td>
                                    <td>7/3/2017</td>
                                    <td>He’s a junior manager</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <h4 style="margin-bottom:15px;">Quote Detail Rules</h4>
                        <table id="QuoteDetailRulesTable" class="table table-bordered table-striped table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th>Rule</th>
                                    <th>Description</th>
                                    <th>Quote GP% <= Floor GP%</th>
                                    <th>Cust Profit Exception</th>
                                    <th>Cust 3Mo M% Threshold</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="act">
                                    <td>1</td>
                                    <td>Requires approval when quote GP% < Floor GP%</td>
                                    <td class="text-center">Y</td>
                                    <td class="text-center">N</td>
                                    <td></td>
                                </tr>
                                <tr class="act">
                                    <td>2</td>
                                    <td>Requires approval when quote GP% < Floor GP% w/exception</td>
                                    <td class="text-center">Y</td>
                                    <td class="text-center">Y</td>
                                    <td class="text-center"><input value="> 50%" class="input-writable text-right width50" type="text"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
        </div>

    </div>

</section>

@section styles {
}
@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuAdminQuoteApprovalRulest"]; // List all menus that should be activated when this page is opened
        $(document).ready(function () {
            $('#SRepApprovalTable').DataTable();
            $('#QuoteDetailRulesTable').DataTable();

        });
    </script>
}
