﻿.header-filter {
    font-size:13px;
    /*border-top:1px dotted #ebebeb;*/
    margin-top:10px;
    color:#2e3e55;
    margin-bottom:0;
}
.brd-formgroup {
    margin-bottom: 0;
    border-top: 1px solid #ebebeb;
    padding-top: 15px;
    padding-bottom: 15px;
}

tr.highlight {
    background-color: #f4f3c3;
}
tr.highlight:hover {
    background-color:#f0e8a5 !important
}

/* _Filter widget styles */
.select2-selection__choice {
    color: #333 !important
}

.select2-selection--single {
    border-radius: 0 !important
}

.box-title.fa-minus::before,
.box-title.fa-plus::before {
    display: none
}
/* End of _Filter widget styles */
@charset "UTF-8";
/*GENERIC CLASSES*/

.display-hidden {
    display: none !important;
}

.display-block {
    display: block !important;
}

.marginBridgeWrapper {
    padding-left: 3px;
    margin-top: 25px;
 
}

#tblDataBridgeTable th span, #tblDataBridgeTable th {
    cursor: default !important;
}



.marginBridgeWrapper button:hover {
    background-color: #2e6da4 !important;
}

.marginBridgeWrapper .left-side {
    padding-right: 0;
}

    .marginBridgeWrapper .left-side h3 {
        width: 360px;
        text-align: center;
        margin-bottom: 60px;
    }

.marginBridgeWrapper .right-side {
    padding-left: 0;
    margin-left: -13px;
}

.marginBridgeWrapper .table-filters, .marginBridgeWrapper .compare-periods, .marginBridgeWrapper .selection-levels {
    margin-top: 25px;
    background: #ffffff none repeat scroll 0 0;
    width: 360px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

    .marginBridgeWrapper .table-filters h4, .marginBridgeWrapper .compare-periods h4, .marginBridgeWrapper .selection-levels h4 {
        font-weight: bold;
        margin-bottom: 10px;
        padding-top: 13px;
        font-size: 20px !important;
        line-height: 1;
        margin-left: 0;
        margin-top: 0;
    }

    .marginBridgeWrapper .table-filters p, .marginBridgeWrapper .compare-periods p, .marginBridgeWrapper .selection-levels p {
        font-size: 14px;
        margin-bottom: 6px;
        color: #6c6c6c;
        line-height: 1;
    }

    .marginBridgeWrapper .table-filters .jstree, .marginBridgeWrapper .compare-periods .jstree, .marginBridgeWrapper .selection-levels .jstree {
        border-right: 1px solid #e7e7e7;
        height: 365px;
        margin-right: 10px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .marginBridgeWrapper .table-filters .initial-tree-nodes, .marginBridgeWrapper .compare-periods .initial-tree-nodes, .marginBridgeWrapper .selection-levels .initial-tree-nodes {
        display: none;
        height: 150px;
    }

.marginBridgeWrapper .table-filters {
    border: medium none;
    box-shadow: none;
    display: inline-block;
    margin-top: 0;
    width: 49%;
}

.marginBridgeWrapper .statistics-table {
    width: 22%;
    border: 1px solid #e7e7e7;
    margin-top: 25px;
    float: left;
}

    .marginBridgeWrapper .statistics-table .jstree {
        margin-right: 0;
        border-bottom: 1px solid #e7e7e7;
        height: 184px;
    }

.marginBridgeWrapper .statistics .left-side {
    float: left;
    padding-right: 15px;
}

    .marginBridgeWrapper .statistics .left-side > div {
        clear: both;
        float: left;
        height: 100%;
        width: 1670px;
    }

.marginBridgeWrapper .collapsed-tab:after {
    content: "\2013";
    color: #000000;
    font-size: 30px;
    float: right;
    margin-top: -6px;
}

.marginBridgeWrapper .collapsed-tab {
    cursor: pointer;
}

.marginBridgeWrapper .opened-tab {
    content: "\271A";
    color: #000000;
    font-size: 20px;
    position: absolute;
    right: 35px;
    top: 29px;
}

.marginBridgeWrapper .statistics .middle-content-wrapper {
    clear: both;
}

.marginBridgeWrapper .statistics .compare-periods {
    height: 250px;
}

    .marginBridgeWrapper .statistics .compare-periods .compare-periods-box {
        border-bottom: 1px solid #e7e7e7;
        height: 247px;
    }

        .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-1 > div:not(.compare-periods-header), .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-2 > div:not(.compare-periods-header), .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-3 > div:not(.compare-periods-header) {
            display: none;
        }

            .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-1 > div:not(.compare-periods-header).second-period, .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-2 > div:not(.compare-periods-header).second-period, .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-3 > div:not(.compare-periods-header).second-period {
                border-bottom: none;
            }

            .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-1 > div:not(.compare-periods-header).initial-tree-nodes, .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-2 > div:not(.compare-periods-header).initial-tree-nodes, .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-3 > div:not(.compare-periods-header).initial-tree-nodes {
                margin-right: 0;
                border-right: 0;
            }

                .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-1 > div:not(.compare-periods-header).initial-tree-nodes .jstree-checkbox, .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-2 > div:not(.compare-periods-header).initial-tree-nodes .jstree-checkbox, .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-3 > div:not(.compare-periods-header).initial-tree-nodes .jstree-checkbox {
                    display: none !important;
                }

            .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-1 > div:not(.compare-periods-header).nl-items-label, .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-2 > div:not(.compare-periods-header).nl-items-label, .marginBridgeWrapper .statistics .compare-periods .compare-periods-box .tab-3 > div:not(.compare-periods-header).nl-items-label {
                border-top: 1px solid #e7e7e7;
                margin-top: 10px;
                padding-left: 21px;
                padding-top: 10px;
            }

    .marginBridgeWrapper .statistics .compare-periods .change-dataset-filters {
        margin: 15px auto;
    }

.marginBridgeWrapper .table-filters-header, .marginBridgeWrapper .compare-periods-header {
    position: relative;
    padding-left: 21px;
    border-bottom: 1px solid #E7E7E7;
}

    .marginBridgeWrapper .table-filters-header:before, .marginBridgeWrapper .compare-periods-header:before {
        position: absolute;
        content: "";
        width: 5px;
        left: 0;
        height: 100%;
        background: #2e6da4;
    }

    .marginBridgeWrapper .compare-periods-header:not(.header) {
        cursor: pointer;
    }

        .marginBridgeWrapper .compare-periods-header:not(.header):hover {
            background-color: #f7f7f7;
        }

        .marginBridgeWrapper .compare-periods-header:not(.header):after {
            color: #000000;
            content: "\271A";
            font-size: 20px;
            position: absolute;
            right: 31px;
            top: 17px;
        }

        .marginBridgeWrapper .compare-periods-header:not(.header):before {
            background: none;
        }

        .marginBridgeWrapper .compare-periods-header:not(.header) p {
            display: block;
        }

            .marginBridgeWrapper .compare-periods-header:not(.header) p:last-of-type {
                display: none;
            }

        .marginBridgeWrapper .compare-periods-header:not(.header).selected {
            height: 64px;
        }

            .marginBridgeWrapper .compare-periods-header:not(.header).selected h4 {
                padding-top: 13px;
            }

            .marginBridgeWrapper .compare-periods-header:not(.header).selected:after {
                font-size: 30px;
                content: "\2013";
            }

            .marginBridgeWrapper .compare-periods-header:not(.header).selected:before {
                background: #2e6da4 none repeat scroll 0 0;
            }

            .marginBridgeWrapper .compare-periods-header:not(.header).selected p {
                display: block;
            }

                .marginBridgeWrapper .compare-periods-header:not(.header).selected p:first-of-type {
                    display: none;
                }

        .marginBridgeWrapper .compare-periods-header:not(.header) h4 {
            margin-bottom: 10px;
            padding-top: 10px;
        }

        .marginBridgeWrapper .compare-periods-header:not(.header) p {
            margin-bottom: 6px;
        }

.marginBridgeWrapper .table-filters .table-filters-buttons {
    text-align: center;
}

    .marginBridgeWrapper .table-filters .table-filters-buttons .apply-checked-nodes, .marginBridgeWrapper .table-filters .table-filters-buttons .reset-checked-nodes {
        background: #337ab7 none repeat scroll 0 0;
        border: 1px solid #2e6da4;
        border-radius: 30px;
        color: #ffffff;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        height: 31px;
        margin: 10px auto 10px;
        width: 102px;
    }

    .marginBridgeWrapper .table-filters .table-filters-buttons .reset-checked-nodes {
        margin-right: 10px;
    }

.marginBridgeWrapper .compare-periods {
    float: left;
    margin-right: 0;
    width: 22%;
}

    .marginBridgeWrapper .compare-periods .first-period, .marginBridgeWrapper .compare-periods .second-period {
        padding-left: 25px;
        border-bottom: 1px solid #E7E7E7;
        padding-top: 15px;
        padding-bottom: 15px;
    }

        .marginBridgeWrapper .compare-periods .first-period > p, .marginBridgeWrapper .compare-periods .second-period > p {
            font-size: 16px;
            color: #424242;
            margin-bottom: 14px;
        }

        .marginBridgeWrapper .compare-periods .first-period .date-range > p, .marginBridgeWrapper .compare-periods .second-period .date-range > p {
            font-size: 14px;
        }

        .marginBridgeWrapper .compare-periods .first-period .date-range p, .marginBridgeWrapper .compare-periods .second-period .date-range p {
            display: inline-block;
            font-size: 16px;
            font-style: italic;
            font-weight: bold;
            margin-bottom: 14px;
        }

            .marginBridgeWrapper .compare-periods .first-period .date-range p .datepicker, .marginBridgeWrapper .compare-periods .second-period .date-range p .datepicker {
                max-width: 120px;
            }

        .marginBridgeWrapper .compare-periods .first-period .date-range span, .marginBridgeWrapper .compare-periods .second-period .date-range span {
            display: inline-block;
            font-size: 16px;
            margin: 0 22px;
            color: #424242;
        }

    .marginBridgeWrapper .compare-periods .tab-3 .first-period .date-range > p, .marginBridgeWrapper .compare-periods .tab-3 .second-period .date-range > p {
        font-size: 16px;
    }

    .marginBridgeWrapper .compare-periods button {
        background: #337ab7 none repeat scroll 0 0;
        border: 1px solid #2e6da4;
        border-radius: 30px;
        height: 31px;
        width: 200px;
        margin: 26px auto;
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
    }

        .marginBridgeWrapper .compare-periods button:hover {
            background: #2e6da4 none repeat scroll 0 0;
        }

.data-bridge .middle-content {
    display: none;
}

.marginBridgeWrapper .data-bridge button {
    background: #337ab7 none repeat scroll 0 0;
    border: 1px solid #2e6da4;
    border-radius: 30px;
    height: 31px;
    width: 200px;
    margin: 0 auto;
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

    .marginBridgeWrapper .data-bridge button:hover {
        background: #2e6da4 none repeat scroll 0 0;
    }


.marginBridgeWrapper .hichart {
    margin-top: 25px;
    margin-bottom: 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    width: 52%;
}

    .marginBridgeWrapper .hichart .highcharts-container {
        border: 1px solid #e7e7e7;
    }

.marginBridgeWrapper .middle-content {
    margin-top: 20px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #e7e7e7;
    /*width: auto;*/
}

.marginBridgeWrapper .breadcrumbs-view-wrapper {
    display: table;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #E7E7E7;
}

    .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .products-breadcrumbs, .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .locations-breadcrumbs {
        padding: 10px 24px;
        /*.selected a {
          color: #2e6da4;
      }*/
        /*.selected:after {
          border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #b6b6b6;
      }*/
        /*.selected ~ span:after {
          border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #b6b6b6;
      }*/
        /*.selected ~ span a {
          color: #b6b6b6;
      }*/
    }

        .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .products-breadcrumbs .selected a, .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .locations-breadcrumbs .selected a {
            color: #2e6da4 !important;
        }

        .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .products-breadcrumbs .selected:after, .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .locations-breadcrumbs .selected:after {
            border-color: transparent transparent transparent #b6b6b6;
        }

        .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .products-breadcrumbs .selected ~ span:after, .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .locations-breadcrumbs .selected ~ span:after {
            border-color: transparent transparent transparent #b6b6b6;
        }

        .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .products-breadcrumbs .selected ~ span a, .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .locations-breadcrumbs .selected ~ span a {
            color: #b6b6b6;
        }

            .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .products-breadcrumbs .selected ~ span a:hover, .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .locations-breadcrumbs .selected ~ span a:hover {
                color: #8e8e8e !important;
            }

        .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .products-breadcrumbs > span, .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .locations-breadcrumbs > span {
            font-size: 14px;
            font-weight: bold;
            position: relative;
            margin-right: 16px;
        }

            .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .products-breadcrumbs > span a, .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .locations-breadcrumbs > span a {
                color: #424242;
                font-size: 14px;
                font-weight: bold;
                position: relative;
                text-transform: uppercase;
                text-decoration: none;
            }

                .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .products-breadcrumbs > span a:hover, .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .locations-breadcrumbs > span a:hover {
                    color: #000000;
                }

            .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .products-breadcrumbs > span:after, .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .locations-breadcrumbs > span:after {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 3.5px 0 3.5px 6px;
                border-color: transparent transparent transparent #424242;
                position: absolute;
                right: -13px;
                top: 6px;
            }

            .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .products-breadcrumbs > span:last-child:after, .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .locations-breadcrumbs > span:last-child:after {
                display: none;
            }

    .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs .products-breadcrumbs {
        border-bottom: 1px solid #E7E7E7;
    }

    .marginBridgeWrapper .breadcrumbs-view-wrapper .breadcrumbs, .marginBridgeWrapper .breadcrumbs-view-wrapper .download-xlsx {
        /*display: table-cell;
      vertical-align: middle;*/
    }

    .marginBridgeWrapper .breadcrumbs-view-wrapper .view-filter {
        background: #FFFFFF;
    }

.marginBridgeWrapper .view-filter {
    /*display: table;*/
    padding: 16px 24px;
    /*width: 100%;*/
}

    .marginBridgeWrapper .view-filter .view-filter-buttons {
        display: inline-block;
        width: 50%;
    }
        .marginBridgeWrapper .view-filter .view-filter-buttons > span {
            margin-right: 14px;
        }

        .marginBridgeWrapper .view-filter .view-filter-buttons > button {
            background: #F0F0F0;
            height: 40px;
            line-height: 35px;
            border:1px solid white
        }

        .marginBridgeWrapper .view-filter .view-filter-buttons > button.selected {
            background: #337ab7 !important;
            color:white !important
        }

            .marginBridgeWrapper .view-filter .view-filter-buttons > button:first-of-type, .marginBridgeWrapper .view-filter .view-filter-buttons > button:nth-of-type(3) {

                min-width: 119px;
            }

            .marginBridgeWrapper .view-filter .view-filter-buttons > button:hover {
                background: #337ab7 !important;
                color: white !important
            }

            .marginBridgeWrapper .view-filter .view-filter-buttons > button:last-of-type, .marginBridgeWrapper .view-filter .view-filter-buttons > button:nth-of-type(2) {
                min-width: 119px;
            }

            .marginBridgeWrapper .view-filter .view-filter-buttons > button:nth-of-type(2) {
                margin-right: 30px;
            }

            .marginBridgeWrapper .view-filter .view-filter-buttons > button:last-of-type, .marginBridgeWrapper .view-filter .view-filter-buttons > button:nth-of-type(3) {
                min-width: 150px;
            }

    .marginBridgeWrapper .view-filter .download-xlsx {
        display: inline-block;
        width: 49%;
        text-align: right;
    }

.marginBridgeWrapper .view-filter .download-xlsx > button {
    background: #337ab7 none repeat scroll 0 0;
    background-image: url("/Modules/ProfitOptics.Modules.Reporting/Content/img/ExcelIco.png");
    background-position: 15px center;
    background-repeat: no-repeat;
    border: 1px solid #2e6da4;
    text-indent: 15px;
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
    height: 31px;
    width: 135px;
    margin: auto;
}

            .marginBridgeWrapper .view-filter .download-xlsx > button:first-of-type {
                margin-right: 10px;
            }

            .marginBridgeWrapper .view-filter .download-xlsx > button:last-of-type {
                margin-right: 0px;
            }

.marginBridgeWrapper tr:first-child th {
    border-left: 0 none;
    border-right: 0 none;
}

.marginBridgeWrapper .brd-sepoarator-light {
    border-right: 1px solid #3e3e3e !important;
}

.marginBridgeWrapper .brd-sepoarator-light {
    border-right: 1px solid #3e3e3e !important;
}

.marginBridgeWrapper table.dataTable tbody th, .marginBridgeWrapper table.dataTable tbody td {
    padding: 8px 10px;
}

.marginBridgeWrapper table.dataTable tbody th, .marginBridgeWrapper table.dataTable tbody td {
    padding: 8px 2px !important;
}

.marginBridgeWrapper tfoot {
    background: #f6f6f6 none repeat scroll 0 0;
}

.marginBridgeWrapper table.dataTable tfoot th, .marginBridgeWrapper table.dataTable tfoot td {
    padding: 8px 2px !important;
}

 

.marginBridgeWrapper .dataTables_wrapper .dataTables_length {
    float: left;
}

.marginBridgeWrapper .dataTables_wrapper .dataTables_length, .marginBridgeWrapper .dataTables_wrapper .dataTables_filter, .marginBridgeWrapper .dataTables_wrapper .dataTables_info, .marginBridgeWrapper .dataTables_wrapper .dataTables_processing, .marginBridgeWrapper .dataTables_wrapper .dataTables_paginate {
    color: #333333;
}

.marginBridgeWrapper div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

.marginBridgeWrapper .dataTables_length select {
    border: 1px solid #c0c0c0;
    border-radius: 3px !important;
}

.marginBridgeWrapper div.dataTables_wrapper div.dataTables_length select {
    display: inline-block;
    width: 75px;
}

.marginBridgeWrapper .dataTables_wrapper .dataTables_info {
    clear: none;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.marginBridgeWrapper div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
}

.marginBridgeWrapper .dataTables_wrapper .dataTables_paginate {
    float: right;
    padding-top: 0.25em;
    text-align: right;
}

.marginBridgeWrapper div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    text-align: right;
    white-space: nowrap;
}

.marginBridgeWrapper .background-green {
    background-color: #e1fae1 !important;
}

.marginBridgeWrapper tfoot > tr > td {
    border-bottom: 2px solid #000000 !important;
    border-top: 2px solid #000000 !important;
}

.marginBridgeWrapper thead {
    background: #e0e0e0 none repeat scroll 0 0;
}

.marginBridgeWrapper td {
    border-right: 1px solid #dddddd;
}

.marginBridgeWrapper table.table thead > tr > th {
    padding: 2px 24px 5px 24px !important;
    font-size: 14px !important;
}

.marginBridgeWrapper .table tbody > tr > td {
    padding: 8px 24px !important;
}

.marginBridgeWrapper .table tfoot > tr > td {
    font-weight: bold;
    padding: 8px 24px !important;
}

.marginBridgeWrapper .arrow-up {
    position: relative;
}

    .marginBridgeWrapper .arrow-up:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 3px 7px 3px;
        border-color: transparent transparent #56e80d transparent;
        position: absolute;
        content: "";
        left: 12px;
        top: 13px;
    }

.marginBridgeWrapper .arrow-down {
    position: relative;
}

    .marginBridgeWrapper .arrow-down:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 3px 0 3px;
        border-color: #ff0000 transparent transparent transparent;
        position: absolute;
        content: "";
        left: 12px;
        top: 13px;
    }

.marginBridgeWrapper table.dataTable {
    margin-top: -1px !important;
    font-size: 14px !important;
}

.marginBridgeWrapper .filtered-table-wrapper .dataTables_wrapper .pull-left {
    margin-left: 3px;
}

.marginBridgeWrapper .filtered-table-wrapper .dataTables_wrapper .pull-right {
    margin-right: 34px !important;
}

.marginBridgeWrapper #jstree, .marginBridgeWrapper #jstree1 {
    display: none;
}

.marginBridgeWrapper .jstree-default .jstree-node, .marginBridgeWrapper .jstree-default .jstree-icon {
    background-image: url("/Modules/ProfitOptics.Modules.Reporting/Content/img/32px.png");
    background-repeat: no-repeat;
}

.marginBridgeWrapper .jstree-default .jstree-node {
    background-position: 1000px 0;
}

.marginBridgeWrapper .jstree-default .jstree-leaf > .jstree-ocl {
    background-position: 34px -4px;
}

.marginBridgeWrapper .jstree-default .jstree-open > .jstree-ocl {
    background-position: -32px -4px;
}

.marginBridgeWrapper .jstree-default .jstree-closed > .jstree-ocl {
    background-position: -2px -4px;
}

.marginBridgeWrapper.filters h3 {
    margin-bottom: 60px;
    text-align: center;
}

.marginBridgeWrapper.filters .left-side {
    max-width: 375px;
    width: 22%;
}

.marginBridgeWrapper.filters .middle-side {
    width: 55%;
}

    .marginBridgeWrapper.filters .middle-side .table-filters {
        float: left;
        margin-left: 15px;
        margin-top: 0;
        min-width: 420px;
    }

        .marginBridgeWrapper.filters .middle-side .table-filters:last-child {
            margin-left: 30px;
        }

.marginBridgeWrapper.filters .right-side {
    width: 22%;
    margin-left: -25px;
    padding-left: 15px;
}

.marginBridgeWrapper .product-selection-levels, .marginBridgeWrapper .location-selection-levels {
    padding: 10px;
}

    .marginBridgeWrapper .product-selection-levels input, .marginBridgeWrapper .location-selection-levels input {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 7px;
    }

    .marginBridgeWrapper .product-selection-levels label, .marginBridgeWrapper .location-selection-levels label {
        font-weight: normal;
    }

.marginBridgeWrapper #accordionFilters .ui-state-disabled {
    opacity: 0.3;
}

.marginBridgeWrapper #accordionFilters h3 {
    position: relative;
    padding-left: 21px;
    border-bottom: 1px solid #E7E7E7;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: none;
    cursor: pointer;
}

    .marginBridgeWrapper #accordionFilters h3:before {
        position: absolute;
        content: "";
        width: 5px;
        left: 0;
        height: 100%;
        background: #2e6da4;
        top: 0;
    }

    .marginBridgeWrapper #accordionFilters h3 .title {
        display: block;
        width: 100%;
        padding-bottom: 5px;
        text-align: left;
        line-height: 1;
    }

    .marginBridgeWrapper #accordionFilters h3 .subtitle {
        display: block;
        font-size: 14px;
        text-align: left;
        line-height: 1px;
    }

        .marginBridgeWrapper #accordionFilters h3 .subtitle.selected-range, .marginBridgeWrapper #accordionFilters h3 .subtitle.selected-nodes, .marginBridgeWrapper #accordionFilters h3 .subtitle.selected-level {
            display: none;
        }

        .marginBridgeWrapper #accordionFilters h3 .subtitle .locations-level, .marginBridgeWrapper #accordionFilters h3 .subtitle .locations {
            margin-right: 15px;
        }

.marginBridgeWrapper #accordionFilters .periods {
    /*padding-left: 27px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;*/
    border: 1px solid #e7e7e7;
    border-top: none;
}

    .marginBridgeWrapper #accordionFilters .periods > div:first-child {
        padding-left: 27px;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }

    .marginBridgeWrapper #accordionFilters .periods .first-period {
        display: inline-block;
        margin-right: 54px;
        margin-bottom: 45px;
        padding-top: 30px;
    }

        .marginBridgeWrapper #accordionFilters .periods .first-period > p {
            margin-bottom: 8px;
        }

        .marginBridgeWrapper #accordionFilters .periods .first-period .date-range p, .marginBridgeWrapper #accordionFilters .periods .first-period .date-range span {
            display: inline-block;
        }

        .marginBridgeWrapper #accordionFilters .periods .first-period .date-range span {
            padding: 0 7px;
        }

        .marginBridgeWrapper #accordionFilters .periods .first-period .date-range p {
            position: relative;
        }

            .marginBridgeWrapper #accordionFilters .periods .first-period .date-range p:after {
                background: #e7e7e7 none repeat scroll 0 0;
                content: "";
                height: 40px;
                position: absolute;
                right: 31px;
                width: 1px;
                top: 0;
            }

.marginBridgeWrapper #accordionFilters .periods .first-period .date-range .datepicker {
    background-image: url("/Modules/ProfitOptics.Modules.Reporting/Content/img/CalendarIco.png");
    background-position: 142px center;
    background-repeat: no-repeat;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    padding-right: 27px;
    width: 168px;
    height: 40px;
}

    .marginBridgeWrapper #accordionFilters .periods .second-period {
        display: inline-block;
        margin-bottom: 45px;
        padding-top: 30px;
    }

        .marginBridgeWrapper #accordionFilters .periods .second-period > p {
            margin-bottom: 8px;
        }

        .marginBridgeWrapper #accordionFilters .periods .second-period .date-range p, .marginBridgeWrapper #accordionFilters .periods .second-period .date-range span {
            display: inline-block;
        }

        .marginBridgeWrapper #accordionFilters .periods .second-period .date-range span {
            padding: 0 7px;
        }

        .marginBridgeWrapper #accordionFilters .periods .second-period .date-range p {
            position: relative;
        }

            .marginBridgeWrapper #accordionFilters .periods .second-period .date-range p:after {
                background: #e7e7e7 none repeat scroll 0 0;
                content: "";
                height: 40px;
                position: absolute;
                right: 31px;
                width: 1px;
                top: 0;
            }

.marginBridgeWrapper #accordionFilters .periods .second-period .date-range .datepicker {
    background-image: url("/Modules/ProfitOptics.Modules.Reporting/Content/img/CalendarIco.png");
    background-position: 142px center;
    background-repeat: no-repeat;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    padding-right: 27px;
    width: 168px;
    height: 40px;
}

    .marginBridgeWrapper #accordionFilters .periods .table-filters {
        display: inline-block;
        width: 49%;
        padding-top: 30px;
        border-left: 1px solid #e7e7e7;
    }

        .marginBridgeWrapper #accordionFilters .periods .table-filters .jstree {
            border: none;
            margin-right: 0;
        }

        .marginBridgeWrapper #accordionFilters .periods .table-filters:first-of-type {
            border-left: none;
        }

    .marginBridgeWrapper #accordionFilters .periods .hierarchy-level {
        display: table;
    }

    .marginBridgeWrapper #accordionFilters .periods .selection-levels {
        background: #ffffff none repeat scroll 0 0;
        padding-top: 30px;
        border-left: 1px solid #e7e7e7;
        border-right: none;
        border-top: none;
        border-bottom: none;
        box-shadow: none;
        display: table-cell;
        margin-top: 0;
        padding-bottom: 20px;
        width: 14%;
    }

        .marginBridgeWrapper #accordionFilters .periods .selection-levels:first-child {
            border-left: none;
        }

        .marginBridgeWrapper #accordionFilters .periods .selection-levels:last-of-type {
            padding-left: 27px;
        }

        .marginBridgeWrapper #accordionFilters .periods .selection-levels h4 {
            padding-top: 0;
            margin-left: 0;
            font-size: 20px !important;
        }

.marginBridgeWrapper .action-buttons {
    width: 100%;
    float: left;
    padding: 35px 24px;
    box-shadow: none;
}

    .marginBridgeWrapper .action-buttons .left-holder {
        float: left;
    }

    .marginBridgeWrapper .action-buttons .right-holder {
        float: right;
    }

        .marginBridgeWrapper .action-buttons .right-holder button {
            margin-left: 15px;
        }

    .marginBridgeWrapper .action-buttons button {
        display: inline-block;
        width: 160px;
        height: 50px;
        margin: 0;
        /*&.step3[disabled] {
           background: #337ab7 none repeat scroll 0 0 !important;
          opacity: 0.5;
      }*/
    }

        .marginBridgeWrapper .action-buttons button.go-back {
            display: none;
            /*&.visible{
            display:block;
        }*/
        }

        .marginBridgeWrapper .action-buttons button[disabled] {
            background: #337ab7 none repeat scroll 0 0 !important;
            opacity: 0.5;
        }

    .marginBridgeWrapper .action-buttons.error-info {
        display: none;
        border: 2px solid #337ab7;
        color: #337ab7;
        text-align: center;
        box-shadow: 0 0 5px #337ab7;
    }

.marginBridgeWrapper #tblManager_paginate {
    display: inline-block;
    float: none;
}

.marginBridgeWrapper .pagination li.active .current {
    background: #c0c0c0 none repeat scroll 0 0 !important;
    cursor: no-drop !important;
}

 
.marginBridgeWrapper .marginBridgeWrapper .left-side {
    float: left;
    width: 404px !important;
}

.marginBridgeWrapper .marginBridgeWrapper .right-side {
    float: left;
    width: 1242px !important;
}

.marginBridgeWrapper .statistics {
    /*min-width: 1677px !important;*/
}

.marginBridgeWrapper .filters .container {
    min-width: 1140px !important;
}

.marginBridgeWrapper #tblManager_paginate li input {
    height: 13px;
    font-size: 10px;
    font-weight: normal;
}

.marginBridgeWrapper .node-name {
    display: none;
}

.marginBridgeWrapper #jstree3 {
    display: none;
}

.marginBridgeWrapper .container {
    width: 1170px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .marginBridgeWrapper .view-filter .view-filter-buttons > button:nth-of-type(2) {
        margin-left: -5px;
    }

    #allProducts {
        margin-left: -4px;
    }
}

@media all and (min--moz-device-pixel-ratio: 0) and (min-resolution: 30dpcm) {
    .marginBridgeWrapper .view-filter .view-filter-buttons > button:nth-of-type(2) {
        margin-left: -1px;
    }

    #allProducts {
        margin-left: -1px;
    }
}

@media screen and (min-width: 0\0) {
    .marginBridgeWrapper .view-filter .view-filter-buttons > button {
        display: inline;
        margin-left: -5px;
    }

    #allProducts {
        margin-left: -4px;
    }
}

.clear:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.marginBridgeWrapper {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}

a:focus, a:active, a:visited, button:focus, button:active, button:visited {
    outline: none !important;
}


.button-red {
    background: #337ab7 none repeat scroll 0 0;
    border: 1px solid #2e6da4;
    border-radius: 30px;
    height: 31px;
    width: 200px;
    margin: 10px auto;
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.button-white {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #2e6da4;
    border-radius: 30px;
    height: 31px;
    width: 200px;
    margin: 10px auto;
    display: block;
    color: #2e6da4;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.dialog-button {
    height: 50px;
    width: 150px;
    border-width: 2px;
}


/*# sourceMappingURL=main.css.map */
