﻿@using ProfitOptics.Framework.Web.Framework.Helpers.Extensions
@using ProfitOptics.Modules.Reporting.Models.BusinessReview
@model BusinessReviewViewModel
@{
    ViewBag.Title = "Business Review";
}

<section class="content-header">
    <h1>Business Review</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs ui-sortable-handle">
                    @for (var i = 0; i < Model.ReportTypes.Count; i++)
                    {
                        if (i == 0)
                        {
                            <text>
                                <li class="active"><a href="@Model.ReportTypes[i].NavigationTabId.ToJQueryIdSelector()" data-toggle="tab">@Model.ReportTypes[i].MessageClassName</a></li>      </text>
                        }
                        else
                        {
                            <text>
                                <li><a href="@Model.ReportTypes[i].NavigationTabId.ToJQueryIdSelector()" data-toggle="tab">@Model.ReportTypes[i].MessageClassName</a></li>      </text>
                        }

                    }
                </ul>

                <div class="tab-content">
                    @foreach (var item in Model.ReportTypes)
                    {
                        <div class="tab-pane " id="@item.NavigationTabId">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <select class="form-control select2 select2-no-close @item.SelectControlClassName" name="@item.MessageClassName" style="width: 100%">
                                            <option selected="selected" value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-primary @item.ReportButtonClassName">Download XLS</button>
                                        <button class="btn btn-primary @item.PdfButtonClassName">Preview PDF</button>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="col-md-12 text-left" style="margin-top:20px">Notes</label>
                                        <textarea class="col-md-12 @item.NotesClassName" type="text" style="margin: 0px; height: 190px; width: 778px;"></textarea>
                                        <div><b>Characters remaining: <span id="@item.NotesCharacterClassName">@Model.MaxNumberOfCharactersInNote</span>/@Model.MaxNumberOfCharactersInNote</b></div>
                                    </div>
                                    <div class="col-md-12" style="padding-top:30px">
                                        <div class="col-md-12" id="@item.PdfPreviewIdName"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


@section styles {
    <style type="text/css">
        /*Some customer styles for this page*/
        li > a {
            text-decoration: none;
            cursor: pointer;
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuReporting", "menuBusinessReview"]; // List all menus that should be activated when this page is opened

        // Document Ready
        $(document).ready(function () {
            $('@Model.ReportTypes[0].NavigationTabId.ToJQueryIdSelector()').addClass("active");
            var items = [];

            @foreach(var item in Model.ReportTypes)
            {
                @:items.push({ reportType: @Convert.ToInt32(item.ReportType), classSelector: '@item.SelectControlClassName.ToJQueryClassSelector()' });
            }
            $.each(items, function (index, value) {
                $(value.classSelector).select2({
                    ajax: {
                        url: '@Url.Action("GetBusinessReviewDropdownDataForReport", "BusinessReview", new { area = "Reporting" })',
                        type: "POST",
                        data: function (params) {
                            var query = {
                                search: params.term,
                                page: params.page || 1,
                                take: 10,
                                reportType: value.reportType
                            }

                            // Query parameters will be ?search=[term]&page=[page]
                            return query;
                        },
                        processResults: function (data, params) {
                            params.page = params.page || 1;

                            return {
                                results: data.results,
                                pagination: {
                                    more: (params.page * 10) < data.count_filtered
                                }
                            };
                        }
                    }
                });
            });

            @foreach(var item in Model.ReportTypes)
            {
                <text>
                    
                    selectControlSelector = '@item.SelectControlClassName.ToJQueryClassSelector()';
                    notesSelector = '@item.NotesClassName.ToJQueryClassSelector()';
                    message = '@item.MessageClassName';
                    reportType = '@item.ReportType';
                    pdfPreviewSelector = '@item.PdfPreviewIdName.ToJQueryIdSelector()';
                    notesCharacterSelector = '@item.NotesCharacterClassName.ToJQueryIdSelector()';
                    maxNumberOfCharactersInNote = '@Model.MaxNumberOfCharactersInNote';

                    $('@item.ReportButtonClassName.ToJQueryClassSelector()').click(function () {
                        generateExcelReport('@item.SelectControlClassName.ToJQueryClassSelector()', '@item.NotesClassName.ToJQueryClassSelector()', '@item.MessageClassName', '@item.ReportType')
                    });

                    $('@item.PdfButtonClassName.ToJQueryClassSelector()').click(function () {
                        generatePdf('@item.SelectControlClassName.ToJQueryClassSelector()', '@item.NotesClassName.ToJQueryClassSelector()', '@item.MessageClassName', '@item.ReportType', '@item.PdfPreviewIdName.ToJQueryIdSelector()')
                    });

                    $('@item.NotesClassName.ToJQueryClassSelector()').keyup(function (e) {
                        var currentLength = $('@item.NotesClassName.ToJQueryClassSelector()').val().length;

                        $('@item.NotesCharacterClassName.ToJQueryIdSelector()').html('@Model.MaxNumberOfCharactersInNote' - currentLength);
                    });

                </text>
            }
        });

        function generateExcelReport(selectControlSelector, noteSelector, message, reportType) {
            var customer = $(selectControlSelector).val();
            var notes = $(noteSelector).val().replace(/\n\r?/g, '<br/>');
            if (customer == "") {
                bootbox.alert({
                    message: "Please choose a " + message + ".",
                    title: "Error"
                });
                return;
            }
            var url = '@Url.Action("DownloadBusinessReviewExcel", "BusinessReview", new { area = "Reporting" })';
            url += "?customerId=" + encodeURIComponent(customer) + "&reportType=" + reportType + "&notes=" + encodeURIComponent(notes);
            document.location = url;
        }

        function generatePdf(selectControlSelector, noteSelector, message, reportType, pdfPreviewSelector) {
            var customer = $(selectControlSelector).val();
            var notes = $(noteSelector).val().replace(/\n\r?/g, '<br/>');
            if (customer == "") {
                bootbox.alert({
                    message: "Please choose a " + message + ".",
                    title: "Error"
                });
                return;
            }
            var url = '@Url.Action("DownloadBusinessReviewPdf", "BusinessReview", new { area="Reporting" })';
            url += "?customerId=" + encodeURIComponent(customer) + "&reportType=" + reportType + "&notes=" + encodeURIComponent(notes);
            app.blockUI("Generating preview...");
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    $(pdfPreviewSelector).html(result);
                    app.unblockUI();
                },
                error: function (result) {
                    app.unblockUI();
                }
            });

        }

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {
            $(".select2-no-close").select2({
                width: 'resolve', // need to override the changed default,
                closeOnSelect: false
            });
        }(window.page = window.page || {}, jQuery));
    </script>
}
