﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.GCInvoiceMonthVM
<!-- Modal -->
<div class="modal fade" id="gcInvoiceMonth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Generate invoice info for: @Model.CustomerName</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Month
                        </label>
                        <div class="col-md-6">
                            <select data-val="true" id="lastThreeMonthsList" data-val-required="Month must be selected." class="select2-procedure-lastThreeMonths form-control lastThreeMonthsList" style="width: 100%">
                                <option value="@DateTime.Now.ToString("yyyy-MM")">@DateTime.Now.ToString("MMMM yyyy") - Current</option>
                                <option value="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM")">@DateTime.Now.AddMonths(-1).ToString("MMMM yyyy")</option>
                                <option value="@DateTime.Now.AddMonths(-2).ToString("yyyy-MM")">@DateTime.Now.AddMonths(-2).ToString("MMMM yyyy")</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="submit" class="btn btn-primary">Save changes</button>*@
                <button class="btn btn-default"><span onclick="PullTraysOrCasesInvoiceInfo(@Model.CustomerId)">Submit</span></button>
            </div>
        </div>
    </div>
</div>