﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.AccountingsMainInvoiceVM
<!-- Modal -->
<div class="modal fade" id="viewGcInvoiceItems-@Model.GCInvoice.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Document Number: @Model.GCInvoice.DocNumber</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <input type="hidden" class="form-control" asp-for="@Model.GCInvoice.Id" />
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <table class="table tableUsers table-hover" id="gcCases">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th style="width:120px">SKU</th>
                                                <th>Qty</th>
                                                <th>Description</th>
                                                <th>Amount</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.GCInvoice.GCInvoiceLines)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.ItemDisplayName</td>
                                                    <td>@item.SalesItemQty</td>
                                                    <td style="white-space:pre-wrap">@Html.Raw(item.Description.Replace("\\n", "<br/>"))</td>
                                                    <td>@item.Amount</td>
                                                    <td>
                                                        @if (item.QBInvoiceLineId.HasValue)
                                                        {
                                                            <span>Pushed to QB</span>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-default"><span onclick="RemoveGCInvoiceLine(@item.Id)">Remove</span></button>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align:right">Total:</td>
                                                <td>@Model.GCInvoice.TotalAmt</td>
                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>