﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.ProcedureModel
<!-- Modal -->
<div class="modal fade" id="EditProcedureDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">

            <form asp-action="UpdateProcedure" asp-controller="Accountings" method="post" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" class="form-control" asp-for="@Model.Id" />
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Procedure
                            </label>
                            <label class="col-md-8" style="margin-top: 10px">
                                @Model.Name
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Procedure Type
                            </label>
                            <div class="col-md-4">
                                <select data-val="true" data-val-required="Procedure type must be selected." class="select2-procedure-procedureTypes form-control  procedureTypeList" asp-for="@Model.GCProcedureTypeId" style="width: 100%">
                                    @foreach (var company in Model.ProcdureTypes)
                                    {
                                        <option value="@company.Value">@company.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Procedure code (ICD9)</label>
                            <div class="col-md-2">
                                <input type="text" asp-for="@Model.ICD9" class="form-control" />
                                <span asp-validation-for="@Model.ICD9" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Procedure code (ICD10)</label>
                            <div class="col-md-2">
                                <input type="text" asp-for="@Model.ICD10" class="form-control" />
                                <span asp-validation-for="@Model.ICD10" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="editProcedureBtn" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>

@*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>*@
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<script>
   
</script>

<script>
    jQuery.fn.preventDoubleSubmission = function () {

        var last_clicked, time_since_clicked;

        $(this).bind('submit', function (event) {

            if (last_clicked)
                time_since_clicked = event.timeStamp - last_clicked;

            last_clicked = event.timeStamp;

            if (time_since_clicked < 2000)
                return false;

            return true;
        });
    };

    $('#editCustomerBtn').preventDoubleSubmission();
</script>