﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.ProcedureTypeModel
<!-- Modal -->
<div class="modal fade" @*id="editModal-@Model.Customer.Id"*@ id="EditProcedureTypeDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">

            <form asp-action="UpdateProcedureType" asp-controller="Accountings" method="post" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" class="form-control" asp-for="@Model.Id" />
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Procedure Type
                            </label>
                            <div class="col-md-8">
                                <input type="text" asp-for="@Model.Title" class="form-control" />
                                <span asp-validation-for="@Model.Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">
                                Abbreviation
                            </label>
                            <div class="col-md-3">
                                <input asp-for="@Model.Abbreviation" type="text" class="form-control" />
                                <span asp-validation-for="@Model.Abbreviation" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">ICD10</label>
                            <div class="col-md-2">
                                <input type="text" asp-for="@Model.ICD10" class="form-control" />
                                <span asp-validation-for="@Model.ICD10" class="text-danger"></span>
                            </div>
                            <label class="control-label col-md-4">ICD9</label>
                            <div class="col-md-2">
                                <input type="text" asp-for="@Model.ICD9" class="form-control" />
                                <span asp-validation-for="@Model.ICD9" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Capped Number of Trays Per Procedure</label>
                            <div class="col-md-2">
                                <input type="text" asp-for="@Model.TrayCount" class="form-control" />
                                <span asp-validation-for="@Model.TrayCount" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Price Per Procedure (OEM Trays)</label>
                            <div class="col-md-2">
                                <input type="text" asp-for="@Model.ProcedurePriceOEM" class="form-control" />
                                <span asp-validation-for="@Model.ProcedurePriceOEM" class="text-danger"></span>
                            </div>
                            <label class="control-label col-md-4">Price Per Tray Above Cap</label>
                            <div class="col-md-2">
                                <input type="text" asp-for="@Model.TrayPriceAboveCap" class="form-control" />
                                <span asp-validation-for="@Model.TrayPriceAboveCap" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Price Per Procedure (Customer Trays)</label>
                            <div class="col-md-2">
                                <input type="text" asp-for="@Model.ProcedurePriceCustomer" class="form-control" />
                                <span asp-validation-for="@Model.ProcedurePriceCustomer" class="text-danger"></span>
                            </div>
                            <label class="control-label col-md-4">Active</label>
                            <div class="col-md-2">
                                @*<input type="checkbox" asp-for="@Model.IsActive" class="form-control" />*@
                                @Html.CheckBoxFor(m => m.IsActive, new { style="margin-top:10px;" })
                                @*<span asp-validation-for="@Model.IsActive" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="editProcedureTypeBtn" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>

@*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>*@
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<script>
   
</script>

<script>
    jQuery.fn.preventDoubleSubmission = function () {

        var last_clicked, time_since_clicked;

        $(this).bind('submit', function (event) {

            if (last_clicked)
                time_since_clicked = event.timeStamp - last_clicked;

            last_clicked = event.timeStamp;

            if (time_since_clicked < 2000)
                return false;

            return true;
        });
    };

    $('#editCustomerBtn').preventDoubleSubmission();
</script>