﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.AccountingsMainVM
@using  ProfitOptics.Modules.Sox.Models.ViewModels
@{
    ViewBag.Title = "Accountings";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="/AdminLTE/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
<style>
    .tableUsers th, .tableUsers td {
        font-family: Arial, sans-serif;
        padding: 12px 10px !important
    }

    table.tableUsers {
        border-collapse: separate !important;
    }

    .tableUsers th {
        background: white;
        border-bottom-width: 1px;
    }

    thead tr th {
        border-color: white !important;
        text-align: left !important
    }

    .bootstrap-timepicker-meridian.form-control {
        padding: 0 !important;
    }
</style>

<section class="content-header">
    <h1>
        @Model.Title
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="form-horizontal">
                    <div class="form-group" style="margin-bottom:0; padding-top:10px;">
                        <label class="col-md-1 control-label">Customer</label>
                        <div class="col-md-3"style="margin-bottom:5px">
                            <select data-val="true" class="select2-customers form-control" id="customerList" name="customerList" style="width: 100%">
                                <option></option>
                                @foreach (var customer in Model.Customers)
                                {
                                    <option selected="@customer.Selected" value="@customer.Value">@customer.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-8 text-right">
                            @if (Model.SelectedCustomer.HasValue && Model.SelectedCustomer.Value > 0)
                            {
                                <button style="margin-bottom:5px" class="btn btn-default" data-toggle="modal" data-target="#gcInvoiceMonth">Pull info & update draft Invoice</button>
                                <button style="margin-bottom:5px" class="btn btn-default"><span onclick="PushInvoiceDataToQB(@Model.SelectedCustomer.Value)">Push invoice data to QB</span></button>
                            }

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
        @if (Model.GCInvoices != null && Model.GCInvoices.Count > 0)
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table tableUsers table-hover" id="gcCases">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Doc Number</th>
                                        <th>Transaction Period</th>
                                        <th>Due Date</th>
                                        <th>Total Amount</th>
                                        <th>QBO Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.GCInvoices)
                                        {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.DocNumber</td>
                                        <td>@item.TxnDate.ToString("MMMM")</td>
                                        <td>@item.DueDate</td>
                                        <td>@item.TotalAmt</td>
                                        <td>@(item.QBInvoiceId.HasValue ? "Submitted" : "Not submitted")</td>
                                        <td>
                                            <button class="btn btn-default" data-toggle="modal" data-target="#viewGcInvoiceItems-@item.Id">View Items</button>
                                            @if (item.QBInvoiceId.HasValue && Model.QBExternalUrl != null)
                                            {
                                                <a href="@string.Format("{0}/app/invoice?txnId={1}", Model.QBExternalUrl, item.QBInvoiceId.Value)" target="_blank" class="btn btn-default">View in QB</a>
                                            }
                                        </td>
                                    </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var item in Model.GCInvoices)
            {
                <partial name="_QBInvoiceLines.cshtml" model="new AccountingsMainInvoiceVM { GCInvoice = item }" />
            }
        }
        @if (Model.SelectedCustomer.HasValue)
        {
                <partial name="_GCInvoiceMonth.cshtml" model="new GCInvoiceMonthVM { CustomerId = (int?)Model.SelectedCustomer.Value, CustomerName = Model.SelectedCustomerName }" />
        }
</section>
@section scripts
{
    <script type="text/javascript" src="/Modules/ProfitOptics.Modules.Sox/Content/js/Accountings.js"></script>
}

<script>
    app.activeMenus = ["menuAdmin", "menuAdminAccountings"];
    $(document).ready(function () {

    });
</script>