﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.ProceduresModel
@using  ProfitOptics.Modules.Sox.Models.ViewModels
@{
    ViewBag.Title = "Procedures";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="/AdminLTE/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
<style>
    .tableUsers th, .tableUsers td {
        font-family: Arial, sans-serif;
        padding: 12px 10px !important
    }

    table.tableUsers {
        border-collapse: separate !important;
    }

    .tableUsers th {
        background: white;
        border-bottom-width: 1px;
    }

    thead tr th {
        border-color: white !important;
        text-align: left !important
    }

    .bootstrap-timepicker-meridian.form-control {
        padding: 0 !important;
    }
</style>

<section class="content-header">
    <h1 class="pull-left">
        @Model.Title
    </h1>
    <div class="pull-right">

    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-2">
            <label class="col-md-1 control-label">Customer</label>
        </div>
        <br />
        @if (Model.Procedures != null && Model.Procedures.Count > 0)
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <table class="table tableUsers table-hover" id="gcCases">
                                <thead>
                                    <tr>
                                        <th>Procedure</th>
                                        <th>Procedure Type</th>
                                        <th>ICD9</th>
                                        <th>ICD10</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Procedures)
                                    {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.ProcedureTypeName</td>
                                        <td>@item.ICD9</td>
                                        <td>@item.ICD10</td>
                                        <td class="text-right">
                                            <div class="btn-group btn-group-sm">
                                                <button class="btn btn-default" data-toggle="modal" onclick="EditProcedure(@item.Id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<div id="EditProcedureDialogHolder"></div>

@section scripts
{
    <script type="text/javascript" src="/Modules/ProfitOptics.Modules.Sox/Content/js/Accountings.js"></script>
}

<script>
    app.activeMenus = ["menuAdmin", "menuAdminProcedures"];
    $(document).ready(function () {

    });

    function EditProcedure(procedureId) {
        if (enableDialog == false) {
            return;
        }
        enableDialog = false;

        $.ajax({
            type: "GET",
            url: "EditProcedureDialog",
            contentType: 'application/json',
            data: { procedureId: procedureId},
            dataType: "html",
            success: function (response) {
                $("#EditProcedureDialogHolder").html(response);
                $("#EditProcedureDialog").modal({ show: true });
                enableDialog = true;
            },
            error: function (response) {
                var error = 400;
                enableDialog = true;
            }
        });
    }
</script>