﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.ProcedureTypesModel
@using  ProfitOptics.Modules.Sox.Models.ViewModels
@{
    ViewBag.Title = "Procedure Types";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="/AdminLTE/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
<style>
    .tableUsers th, .tableUsers td {
        font-family: Arial, sans-serif;
        padding: 12px 10px !important
    }

    table.tableUsers {
        border-collapse: separate !important;
    }

    .tableUsers th {
        background: white;
        border-bottom-width: 1px;
    }

    thead tr th {
        border-color: white !important;
        text-align: left !important
    }

    .bootstrap-timepicker-meridian.form-control {
        padding: 0 !important;
    }
</style>

<section class="content-header">
    <h1 class="pull-left">
        @Model.Title
    </h1>
    <div class="pull-right">

    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-2">
            <label class="col-md-1 control-label">Customer</label>
        </div>
        <div class="col-xs-4">
            @*<select data-val="true" class="select2-customers form-control loginline" id="customerList" name="customerList" style="width: 100%">
                <option></option>
                @foreach (var customer in Model.Customers)
                {
                    <option selected="@customer.Selected" value="@customer.Value">@customer.Text</option>
                }
            </select>*@
        </div>
        @*@if (Model.SelectedCustomer.HasValue && Model.SelectedCustomer.Value > 0)
        {
            <div class="col-xs-6">
                <button class="btn btn-default"><span onclick="PullTraysOrCasesInvoiceInfo(@Model.SelectedCustomer.Value)">Pull info & update draft Invoice</span></button>
                <button class="btn btn-default"><span onclick="PushInvoiceDataToQB(@Model.SelectedCustomer.Value)">Push invoice data to QB</span></button>
            </div>
            <br />
            <div class="col-xs-12">
                <label class="col-md-12 control-label">
                    Invoice data is being genereated on a
                    @if (Model.QBBillingType == ProfitOptics.Modules.Sox.Enums.QBBillingType.Tray)
                    {<text>tray</text>}
                else
                {<text>case</text>}
                    level.
                </label>
            </div>
        }*@
        <br />
        @if (Model.ProcedureTypes != null && Model.ProcedureTypes.Count > 0)
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <table class="table tableUsers table-hover" id="gcCases">
                                <thead>
                                    <tr>
                                        <th>Appreviation</th>
                                        <th>Procedure Type</th>
                                        <th>Capped<br />Number of<br />Trays Per<br />Procedure</th>
                                        <th>Price Per<br />Procedure<br />(OEM Trays)</th>
                                        <th>Price Per Tray<br />Above Cap</th>
                                        <th>Price Per<br />Procedure<br />(Customer Trays)</th>
                                        <th>ICD10</th>
                                        <th>ICD9</th>
                                        <th>Active</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ProcedureTypes)
                                    {
                                    <tr>
                                        <td>@item.Abbreviation</td>
                                        <td>@item.Title</td>
                                        <td>@item.TrayCount</td>
                                        <td>@item.ProcedurePriceOEM</td>
                                        <td>@item.TrayPriceAboveCap</td>
                                        <td>@item.ProcedurePriceCustomer</td>
                                        <th>@item.ICD10</th>
                                        <th>@item.ICD9</th>
                                        <td>@item.IsActive</td>
                                        <td class="text-right">
                                            <div class="btn-group btn-group-sm">
                                                <button class="btn btn-default" data-toggle="modal" onclick="EditProcedureType(@item.Id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<div id="EditProcedureTypeDialogHolder"></div>

@section scripts
{
    <script type="text/javascript" src="/Modules/ProfitOptics.Modules.Sox/Content/js/Accountings.js"></script>
}

<script>
    app.activeMenus = ["menuAdmin", "menuAdminProcedureTypes"];
    $(document).ready(function () {

    });

    function EditProcedureType(procedureTypeId) {
        if (enableDialog == false) {
            return;
        }
        enableDialog = false;

        $.ajax({
            type: "GET",
            url: "EditProcedureTypeDialog",
            contentType: 'application/json',
            data: { procedureTypeId: procedureTypeId},
            dataType: "html",
            success: function (response) {
                $("#EditProcedureTypeDialogHolder").html(response);
                $("#EditProcedureTypeDialog").modal({ show: true });
                enableDialog = true;
            },
            error: function (response) {
                var error = 400;
                enableDialog = true;
            }
        });
    }
</script>