﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.QbCustomerTestVM

@{
    ViewBag.Title = "Accountings";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="/AdminLTE/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
<style>
    .tableUsers th, .tableUsers td {
        font-family: Arial, sans-serif;
        padding: 12px 10px !important
    }

    table.tableUsers {
        border-collapse: separate !important;
    }

    .tableUsers th {
        background: white;
        border-bottom-width: 1px;
    }

    thead tr th {
        border-color: white !important;
        text-align: left !important
    }

    .bootstrap-timepicker-meridian.form-control {
        padding: 0 !important;
    }
</style>

<section class="content-header">
    <h1 class="pull-left">
        @Model.Status
    </h1>
    <div class="pull-right">

    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <table style="width:50%">
                <thead>
                    <tr>
                        <th>Customer ID</th>
                        <th>Display Name</th>
                        <th>Notes</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Customers != null)
                    {
                        for (int i = 0; i < Model.Customers.Count; i++)
                        {
                        <tr>
                            <td>@Model.Customers[i].Id</td>
                            <td>@Model.Customers[i].DisplayName</td>
                            <td>@Model.Customers[i].Notes</td>
                            <td>@Model.Customers[i].Active</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>

            @*<p>Id: @Model.Id</p>
            <p>Taxable: @Model.Taxable</p>
            <p>Notes: @Model.Notes</p>
            <p>Job: @Model.Job</p>
            <p>BillWithParent: @Model.BillWithParent</p>
            <p>Balance: @Model.Balance</p>
            <p>BalanceWithJobs: @Model.BalanceWithJobs</p>
            <p>PreferredDeliveryMethod: @Model.PreferredDeliveryMethod</p>
            <p>Domain: @Model.Domain</p>
            <p>Sparse: @Model.Sparse</p>
            <p>SyncToken: @Model.SyncToken</p>
            <p>FullyQualifiedName: @Model.FullyQualifiedName</p>
            <p>DisplayName: @Model.DisplayName</p>
            <p>PrintOnCheckName: @Model.PrintOnCheckName</p>
            <p>Active: @Model.Active</p>*@
        </div>
    </div>
</section>
<script>

</script>