﻿@model ProfitOptics.Modules.Sox.Models.ViewModels.AccountingsVM
@{
    ViewBag.Title = "Quick Books";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="/AdminLTE/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
<style>
    .tableUsers th, .tableUsers td {
        font-family: Arial, sans-serif;
        padding: 12px 10px !important
    }

    table.tableUsers {
        border-collapse: separate !important;
    }

    .tableUsers th {
        background: white;
        border-bottom-width: 1px;
    }

    thead tr th {
        border-color: white !important;
        text-align: left !important
    }

    .bootstrap-timepicker-meridian.form-control {
        padding: 0 !important;
    }
</style>

<section class="content-header">
    <h1 class="pull-left">
        @Model.Title
    </h1>
    <div class="pull-right">
        
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-2"style="margin-bottom:10px">
            @Html.ActionLink("Authorize QB", "Authorize", "Accountings", null, new { @class = (Model.QBAuthorized ? "btn  btn-default disabled" : "btn btn-default") })
        </div>
        <div class="col-md-2"style="margin-bottom:10px">
            @Html.ActionLink("Revoke QB Access", "Revoke", "Accountings", null, new { @class = (Model.QBAuthorized ? "btn  btn-default" : "btn btn-default disabled") })
        </div>
        <div class="col-md-2"style="margin-bottom:10px">
            @Html.ActionLink("Test authorization", "QbCustomerTest", "Accountings", null, new { @class = "btn  btn-default" })
        </div>
    </div>
</section>
<script>
	app.activeMenus = ["menuAdmin", "menuAdminQuickBooks"];
	$(document).ready(function () {

	});
</script>