﻿.node {
    cursor: pointer;
}
.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1px;
}
.node text {
	font: 12px sans-serif;
	/*fill: red;*/
}
    .node text:first-child {
        border:1px solid red !important
    }
.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}
.nodeBox {
	fill: white;
	fill-opacity: 1;
	stroke:#bfc1c2;
	stroke-width:1;
}

.rectMask {
	fill: white;
}

rect.btn {
    fill:white;
    	stroke: #c6d4da;
	stroke-width: 1;

}
.userTag {
	fill: #00a6ef;
}

.controlBtnText{
	text-anchor: middle;
	alignment-baseline: central;
}
.controlBtnText.styleclass {
	fill: #57bdea;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.styleTextclass {
    fill:black;
	font-size: 18px !important;
	font-weight: 500 !important;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
.styleSmallTextclass {
    fill:#7a7a7a;
	font-size: 14px !important;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}