﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section master_styles{
    <link href="/css/site.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", false)
}

@section master_scripts{
    <script type="text/javascript" src="/js/site.js"></script>
    @RenderSection("scripts", false)
}

@*@{IgnoreSection("scripts"); }
    @{IgnoreSection("styles"); }*@

@RenderBody()