﻿@using ProfitOptics.Modules.Reporting.Enums
@using ProfitOptics.Modules.Reporting.Models.ReportFilter
@model FilterWidgetViewModel

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary collapsed-box">
            <div class="box-header with-border" data-widget="collapse" style="cursor:pointer">
                <h3 class="box-title">
                    <strong>Filter:</strong>
                    Zone: <span class="zoneFilterTitle">All</span>
                    - Region: <span class="regionFilterTitle">All</span>
                    - Item Category: <span class="itemCategoryFilterTitle">All</span>
                    - Buy Group: <span class="buyGroupFilterTitle">All</span>
                    - Vendor: <span class="vendorFilterTitle">All</span>
                    - Customer Class: <span class="customerClassFilterTitle">All</span>
                    - Ship To: <span class="shipToFilterTitle">All</span>
                    - Sales Rep: <span class="salesRepFilterTitle">All</span>
                    - Bill To: <span class="billToFilterTitle">All</span>
                </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display: none;">
                <div class="form-horizontal">
                    <div class="col-md-10">
                        <div class="form-group brd-formgroup" style="border:0">
                            <div class="col-md-1">
                                <h3 class="header-filter"></h3>
                            </div>
                            <label class="col-md-2 control-label">Zone</label>
                            <div class="col-md-3">
                                <select class="form-control select2 select2-no-close dynamic-select2" name="zone[]" data-filter-type="@((int)FilterType.Zone)" multiple style="width: 100%" onchange="page.updateZoneFilterTitles()"></select>
                            </div>
                            
                            <label class="col-md-2 control-label">Region</label>
                            <div class="col-md-3">
                                <select class="form-control select2 select2-no-close dynamic-select2" name="region[]" data-filter-type="@((int)FilterType.Region)" multiple style="width: 100%" onchange="page.updateRegionFilterTitles()"></select>
                            </div>
                            <div class="clearfix" style="margin: 12px 0;"></div>
                            <div class="col-md-1">
                                <h3 class="header-filter"></h3>
                            </div>
                            <label class="col-md-2 control-label">Customer Class</label>
                            <div class="col-md-3">
                                <select class="form-control select2 select2-no-close dynamic-select2" name="customerClass[]" data-filter-type="@((int)FilterType.CustomerClass)" multiple style="width: 100%" onchange="page.updateCustomerClassFilterTitles()"></select>
                            </div>
                        </div>
                        <div class="form-group brd-formgroup">
                            <div class="col-md-1">
                                <h3 class="header-filter"></h3>
                            </div>
                            <label class="col-md-2 control-label">Bill To</label>
                            <div class="col-md-3">
                                <select class="form-control select2 select2-no-close dynamic-select2" name="billTo[]" data-filter-type="@((int)FilterType.BillTo)" multiple style="width: 100%" onchange="page.updateBillToFilterTitles()"></select>
                            </div>

                            <label class="col-md-2 control-label">Ship To</label>
                            <div class="col-md-3">
                                <select class="form-control select2 select2-no-close dynamic-select2" name="shipTo[]" data-filter-type="@((int)FilterType.ShipTo)" multiple style="width: 100%" onchange="page.updateShipToFilterTitles()"></select>
                            </div>
                            <div class="clearfix" style="margin: 12px 0;"></div>
                            <div class="col-md-1">
                                <h3 class="header-filter"></h3>
                            </div>
                            <label class="col-md-2 control-label">Sales Rep</label>
                            <div class="col-md-3">
                                <select class="form-control select2 select2-no-close dynamic-select2" name="salesRep[]" data-filter-type="@((int)FilterType.SalesRep)" multiple style="width: 100%" onchange="page.updateSalesRepFilterTitles()"></select>
                            </div>
                        </div>
                        <div class="form-group brd-formgroup">
                            <div class="col-md-1">
                                <h3 class="header-filter"></h3>
                            </div>
                            <label class="col-md-2 control-label">Vendor</label>
                            <div class="col-md-3">
                                <select class="form-control select2 select2-no-close dynamic-select2" name="vendor[]" data-filter-type="@((int)FilterType.Vendor)" multiple style="width: 100%" onchange="page.updateVendorFilterTitles()"></select>
                            </div>
                            <label class="col-md-2 control-label">Item Category</label>
                            <div class="col-md-3">
                                <select class="form-control select2 select2-no-close dynamic-select2" name="itemCategory[]" data-filter-type="@((int)FilterType.ItemCategory)" multiple style="width: 100%" onchange="page.updateItemCategoryFilterTitles()"></select>
                            </div>
                            <div class="clearfix" style="margin: 12px 0;"></div>
                            <div class="col-md-1">
                                <h3 class="header-filter"></h3>
                            </div>
                            <label class="col-md-2 control-label">Buy Group</label>
                            <div class="col-md-3">
                                <select class="form-control select2 select2-no-close dynamic-select2" name="buyGroup[]" data-filter-type="@((int)FilterType.BuyGroup)" multiple style="width: 100%" onchange="page.updateSalesRepFilterTitles()"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <br />
                        <button id="clear-filter-btn" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-trash"></span> Clear Filter</button>
                        <button data-toggle="modal" data-target="#loadFilterModal" class="btn btn-success btn-block"><span class="glyphicon glyphicon-download"></span> Load Filter</button>
                        <button data-toggle="modal" data-target="#saveFilterModal" class="btn btn-success btn-block"><span class="glyphicon glyphicon-upload"></span> Save Filter</button>
                        <button id="apply-filter-btn" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-ok"></span> Apply Filter</button>
                    </div>
                </div>
            </div>
            <div class="overlay filter-widget-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
        </div>
    </div>
</div>
<input type="hidden" id="clearFilters" value="false" />
<input type="hidden" id="getFilterOptionsUrl" value="@Html.Raw(Url.Action("GetFilterOptions", "BaseReporting", new { area = "Reporting" }))" />

<!--MODALS-->

<!-- Save Filter Modal -->
<div class="modal fade" id="saveFilterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Save current filter configuration as:</h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Filter name</label>
                    <div class="col-md-9">
                        <input name="userFilterName" type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="save-user-filter-btn" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Load Filter Modal -->
<div class="modal fade" id="loadFilterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Load saved filter</h4>
            </div>
            <div class="modal-body">
                <table id="user-filters-tbl" class="table table-bordered table-hover font-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width:250px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UserFilters)
                        {
                            <tr data-filterId="@item.Id">
                                <td class="filter-name">@item.Name</td>
                                <td class="filter-actions text-center">
                                    <button class="btn btn-default btn-xs load-user-filter-btn"><span class="glyphicon glyphicon-download"></span> Load</button>
                                    <button class="btn btn-default btn-xs rename-user-filter-btn"><span class="glyphicon glyphicon-pencil"></span> Rename</button>
                                    <button class="btn btn-default btn-xs delete-user-filter-btn"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="save-filters-btn" type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>