﻿@model ProfitOptics.Framework.Web.Models.ReleaseNotes.ReleaseNotesViewModel
@{
    ViewBag.Title = "Release Notes";
}

<section class="content-header">
    <h1>
        Release notes
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @if (Model.List.Count > 0)
            {
                <div class="box">
                    @foreach (var file in Model.List)
                    {
                        <div class="box-header with-border">
                            <h3 class="box-title">@file.Version.ToString()<small>(@file.Date.ToString("MM/dd/yyyy"))</small></h3>
                        </div>
                        <div class="box-body">
                            @Html.Raw(System.Net.WebUtility.HtmlDecode(file.FileBody))
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="box">
                    <div class="box-body">
                        <p>No release notes so far. Release notes can be found in ~/wwwroot/Releases directory. Please ask the developer to update release notes.</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

