﻿@using ProfitOptics.Modules.Reporting
@using ProfitOptics.Modules.Reporting.Enums
@using ProfitOptics.Modules.Reporting.Models.TrendVariance
@model TrendVarianceCustomerDrillThroughViewModel
@{
    ViewBag.Title = "Trend Variance Analysis";
}

<section class="content">
    @await Component.InvokeAsync("FilterWidget")

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Item Category
                    </h3>
                    <div class="pull-right">
                        <div class="pull-left" style="width: 350px">
                            <h3 class="box-title pull-left" style="margin: 9px 6px 0 10px; font-size: 15px;">
                                Comparison
                            </h3>
                            @Html.DropDownList("comparisonType",
                                Html.GetEnumSelectList<ComparisonType>(),new { @class = "form-control pull-left select2", style = "width: 250px; float: left !important" })
                        </div>
                        <div id="customDateRangeContainer" class="pull-left" style="display: none">
                            <h3 class="box-title pull-left" style="margin: 9px 6px 0 0px; font-size: 15px;">Period</h3>
                            <div class="input-group" style="width: 220px; margin-top: 2px; float: left">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" id="daterange" class="form-control" style="margin-right: 10px; height: 30px" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="chart-container" class="box-body">
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <input type="hidden" value="@Url.Action(Model.IsBillTo ? "BillToDrillThroughItemCategory" : "ShipToDrillThroughItemCategory", "Reporting", new {area = "Reporting"})" id="chartRedirectURL">
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border" style="padding-bottom: -5px;">
                    <h3 class="box-title">
                        Item Category
                    </h3>
                    <div class="box-tools pull-right">
                        <button id="download-excel" class="btn btn-primary" style="margin-top: -2px;"><span class="glyphicon glyphicon-save"></span></button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="add-scroll-small-res">
                        <table id="drill-through-tbl" class="table table-bordered table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th colspan="1"></th>
                                    <th colspan="@(Model.IsCorporate ? 5 : 4)">Prior Period</th>
                                    <th colspan="@(Model.IsCorporate ? 5 : 4)">Current Period</th>
                                    <th colspan="@(Model.IsCorporate ? 5 : 3)">Variance</th>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <th>Sales</th>
                                    <th class="column-units">Units</th>
                                    <th>ASP</th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th>GP</th>
                                    }
                                    <th>GP%</th>
                                    <th>Sales</th>
                                    <th class="column-units">Units</th>
                                    <th>ASP</th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th>GP</th>
                                    }
                                    <th>GP%</th>
                                    <th id="salesCurrency">Sales ($)</th>
                                    <th>Sales (%)</th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th id="gpCurrency">GP ($)</th>
                                        <th>GP (%)</th>
                                    }
                                    <th>GP%</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="1"></th>
                                    <th id="variance-tbl-prior-th" colspan="@(Model.IsCorporate ? 5 : 4)"></th>
                                    <th id="variance-tbl-current-th" colspan="@(Model.IsCorporate ? 5 : 4)"></th>
                                    <th colspan="@(Model.IsCorporate ? 5 : 3)"></th>
                                </tr>
                                <tr>
                                    <th>Totals</th>
                                    <th id="foot-prior-sales" style="text-align: right !important"></th>
                                    <th id="foot-prior-qty" style="text-align: right !important"></th>
                                    <th id="foot-prior-asp" style="text-align: right !important"></th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th id="foot-prior-gp" style="text-align: right !important"></th>
                                    }
                                    <th id="foot-prior-gp-pct"></th>
                                    <th id="foot-current-sales" style="text-align: right !important"></th>
                                    <th id="foot-current-qty" style="text-align: right !important"></th>
                                    <th id="foot-current-asp" style="text-align: right !important"></th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th id="foot-current-gp" style="text-align: right !important"></th>
                                    }
                                    <th id="foot-current-gp-pct"></th>
                                    <th id="foot-variance-sales" class="column-sales" style="text-align: right !important"></th>
                                    <th id="foot-variance-sales-pct" class="column-sales"></th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th id="foot-variance-gp-amount" style="text-align: right !important"></th>
                                        <th id="foot-variance-gp-amount-pc"></th>
                                    }
                                    <th id="foot-variance-gp-pct"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section styles {
    <style type="text/css">
        #chart-container {
            padding: 25px;
        }

        .NegativeValueColor {
            color: red;
        }

        .popover {
            max-width: 400px
        }

        .highcharts-legend-item rect {
            display: none;
        }
    </style>
}

@section scripts {
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/customerDrillThroughChart.js"></script>

    <script type="text/javascript">
        var customerId = '@Model.CustomerId';
        var formatStringPositive = "<span class='datacell'>{0}</span>";
        var formatStringNegative = "<span class='datacell NegativeValueColor'>{0}</span>";

        app.activeMenus = ["menuReporting", "menuTrendReports"]; // List all menus that should be activated when this page is opened

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {
            page.onApplyFilterClicked = function () {
                page.reloadTablesAndCharts();
            }

            page.reloadTablesAndCharts = function () {
                $("#drill-through-tbl").DataTable().ajax.reload();
            }
        }(window.page = window.page || {}, jQuery));

        var startDateDefault = '@Model.StartDateDefault';

        var endDateDefault = '@Model.EndDateDefault';

        var dataTableColumns = [
            {
                data: "Name",
                orderable: true,
                className: "text-left",
                render: function (data, type, full, meta) {
                    return String.format("{0}", full.Name);
                }
            }, {
                data: "PriorSales",
                orderable: true,
                width: "7%",
                className: "text-right",
                render: function (data, type, full, meta) {
                    return helpers.formatMoney(full.PriorSales, 0, 0.00, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "PriorQty",
                orderable: true,
                width: "7%",
                className: "text-right",
                render: function (data, type, full, meta) {
                    return full.PriorQty;
                }
            }, {
                data: "PriorAsp",
                orderable: true,
                width: "7%",
                className: "text-right",
                render: function (data, type, full, meta) {
                    return helpers.formatMoney(full.PriorAsp, 0, 0.00, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "PriorGrossProfit",
                orderable: true,
                width: "7%",
                className: "text-right",
                render: function (data, type, full, meta) {
                    return helpers.formatMoney(full.PriorGrossProfit, 0, 0.00, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "PriorGrossProfitPercent",
                orderable: true,
                width: "7%",
                className: "text-center",
                render: function (data, type, full, meta) {
                    return helpers.formatPercent(full.PriorGrossProfitPercent, 0, 0.00, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "CurrentSales",
                orderable: true,
                width: "7%",
                className: "text-right",
                render: function (data, type, full, meta) {
                    return helpers.formatMoney(full.CurrentSales, 0, 0.00, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "CurrentQty",
                orderable: true,
                width: "7%",
                className: "text-right",
                render: function (data, type, full, meta) {
                    return full.CurrentQty;
                }
            }, {
                data: "CurrentAsp",
                orderable: true,
                width: "7%",
                className: "text-right",
                render: function (data, type, full, meta) {
                    return helpers.formatMoney(full.CurrentAsp, 0, 0.00, formatStringPositive, formatStringNegative);
                }
            },{
                data: "CurrentGrossProfit",
                orderable: true,
                width: "7%",
                className: "text-right",
                render: function (data, type, full, meta) {
                    return helpers.formatMoney(full.CurrentGrossProfit, 0, 0.00, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "CurrentGrossProfitPercent",
                orderable: true,
                width: "7%",
                className: "text-center",
                render: function (data, type, full, meta) {
                    return helpers.formatPercent(full.CurrentGrossProfitPercent, 0, 0.00, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "VarianceSales",
                orderable: true,
                width: "7%",
                className: "text-right",
                render: function (data, type, full, meta) {
                    return helpers.formatMoney(full.VarianceSales, 0, 0.0, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "VarianceSalesPercent",
                orderable: true,
                width: "7%",
                className: "text-center",
                render: function (data, type, full, meta) {
                    return helpers.formatPercent(full.VarianceSalesPercent, 0, 0.0, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "VarianceGrossProfit",
                orderable: true,
                width: "7%",
                className: "text-right",
                render: function (data, type, full, meta) {
                    return helpers.formatMoney(full.VarianceGrossProfit, 0, 0.0, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "VarianceGrossProfitPercent",
                orderable: true,
                width: "7%",
                className: "text-center",
                render: function (data, type, full, meta) {
                    return helpers.formatPercent(full.VarianceGrossProfitPercent, 0, 0.0, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "VarianceGrossProfitGrowthPercent",
                orderable: true,
                width: "7%",
                className: "text-center",
                render: function (data, type, full, meta) {
                    return helpers.formatPercent(full.VarianceGrossProfitGrowthPercent, 0, 0.0, formatStringPositive, formatStringNegative);
                }
            }
        ];

        function getVarianceColumns(varianceColumns, isAdmin) {
            var filteredColumns = varianceColumns;

            if (!isAdmin) {
                filteredColumns = filteredColumns.filter(function (column) {
                    return column.data !== "PriorGrossProfit" &&
                        column.data !== "CurrentGrossProfit" &&
                        column.data !== "VarianceGrossProfit" &&
                        column.data !== "VarianceGrossProfitPercent";
                });
            }

            return filteredColumns;
        }

        $(document).ready(function () {
            customerDrillThroughChart.init("#chart-container",
                "#comparisonType",
                "#daterange",
                "@Url.Action(Model.IsBillTo ? "ItemCategoryDrillThroughForBillTo" : "ItemCategoryDrillThroughForShipTo", "TrendVariance", new { area = ReportingSettings.AreaName })",
                formatStringPositive,
                formatStringNegative,
                @((int)ComparisonType.CustomDateRangeYearOverYear));

            const userIsAdmin = @(Model.IsCorporate ? "true" : "false");

            $("#comparisonType").select2();

            $("#comparisonType").on('select2:select',
                function (e) {
                    const id = e.params.data.id;

                    if (id === '@((int)ComparisonType.CustomDateRangeYearOverYear)') {
                        $("#customDateRangeContainer").show();
                    } else {
                        $("#customDateRangeContainer").hide();

                        page.onApplyFilterClicked();
                    }
                });

            $('#daterange').daterangepicker({
                startDate: startDateDefault,
                endDate: endDateDefault,
                format: 'MM/DD/YYYY'
            });

            if ("@Model.ComparisonType" === "@ComparisonType.CustomDateRangeYearOverYear")
            {
                $("#customDateRangeContainer").show();
            }

            $("#download-excel").click(function () {
                const comparisonType = $("#comparisonType option:selected").val();
                const startDate = $("#daterange").data("daterangepicker").startDate.format("MM/DD/YYYY");
                const endDate = $("#daterange").data("daterangepicker").endDate.format("MM/DD/YYYY");
                
                const url = '@Html.Raw(Url.Action("ExportItemCategoryVariancesForCustomer", "TrendVariance", 
                                 new { area = ReportingSettings.AreaName, isBillTo= Model.IsBillTo, customerId = Model.CustomerId, customerName = Model.CustomerName }))'
                    + "&comparisonType=" + comparisonType + "&comparisonStartDate=" + startDate + "&comparisonEndDate=" + endDate;

                document.location = url;
            });

            $('#daterange').on('apply.daterangepicker', function () { page.onApplyFilterClicked() });

            var dataTable = $('#drill-through-tbl').on('preXhr.dt', function (e, settings, data) {
                $('#drill-through-tbl').parents(".row").find(".table-overlay").show();
            }).on('xhr.dt', function (e, settings, json, xhr) {
                $('#drill-through-tbl').parents(".row").find(".table-overlay").hide();

                customerDrillThroughChart.render(customerId,
                    "@Html.Raw(Model.CustomerName)",
                    "@Html.Raw(Model.CustomerNum)",
                    json.data,
                    userIsAdmin);
            }).DataTable({
                lengthChange: true,
                autoWidth: false,
                processing: true,
                serverSide: true,
                searching: false,
                ordering: true,
                paging: true,
                info: true,
                pageLength: 100,
                //lengthMenu: [3, 10, 25, 50, 100, 250, 500],
                ajax: {
                    url: '@Model.DataUrl',
                    data: function (data) {
                        if ('@Model.IsBillTo' === 'True') {
                            data.billToId = customerId;
                        } else {
                            data.shipToId = customerId;
                        }
                        data.comparisonType = $("#comparisonType").val();
                        data.startDate = $("#daterange").data("daterangepicker").startDate.format("DD/MM/YYYY");
                        data.endDate = $("#daterange").data("daterangepicker").endDate.format("DD/MM/YYYY");
                    },
                    type: "POST"
                },
                footerCallback: function (row, data, start, end, display) {
                    // Total over this page
                    var priorSalesTotal = helpers.getTotalFromArray(data, "PriorSales");
                    var priorQtyTotal = helpers.getTotalFromArray(data, "PriorQty");
                    var priorGpTotal = helpers.getTotalFromArray(data, "PriorGrossProfit");
                    var priorAspTotal = helpers.getTotalFromArray(data, "PriorAsp");

                    var currentSalesTotal = helpers.getTotalFromArray(data, "CurrentSales");
                    var currentQtyTotal = helpers.getTotalFromArray(data, "CurrentQty");
                    var currentGpTotal = helpers.getTotalFromArray(data, "CurrentGrossProfit");
                    var currentAspTotal = helpers.getTotalFromArray(data, "CurrentAsp");

                    $("#foot-prior-sales").html(helpers.formatMoney(priorSalesTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                    $("#foot-prior-qty").html(priorQtyTotal);
                    $("#foot-prior-gp").html(helpers.formatMoney(priorGpTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                    $("#foot-prior-asp").html(helpers.formatMoney(priorAspTotal, 0, 0.0, formatStringPositive, formatStringNegative));

                    $("#foot-current-sales").html(helpers.formatMoney(currentSalesTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                    $("#foot-current-qty").html(currentQtyTotal);
                    $("#foot-current-gp").html(helpers.formatMoney(currentGpTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                    $("#foot-current-asp").html(helpers.formatMoney(currentAspTotal, 0, 0.0, formatStringPositive, formatStringNegative));

                    $("#foot-variance-sales").html(helpers.formatMoney(currentSalesTotal - priorSalesTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                    $("#foot-variance-sales-pct").html(helpers.formatPercent(priorSalesTotal === 0 ? 1 : (currentSalesTotal - priorSalesTotal) / priorSalesTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                    $("#foot-variance-gp-amount").html(helpers.formatMoney(currentGpTotal - priorGpTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                    $("#foot-variance-gp-amount-pct").html(helpers.formatPercent(priorGpTotal === 0 ? 1 : (currentGpTotal - priorGpTotal) / priorGpTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                },
                language: {
                    processing: ''
                },
                columns: getVarianceColumns(dataTableColumns, userIsAdmin)
            });
        });
    </script>
}