﻿@using ProfitOptics.Modules.Reporting
@using ProfitOptics.Modules.Reporting.Enums
@using ProfitOptics.Modules.Reporting.Models.TrendVariance
@model TrendVarianceViewModel
@{
    ViewBag.Title = "Trend Variance Analysis";
}

<section class="content-header">
    <h1 class="pull-left">
        Trend Variance Analysis
    </h1>

    @if (Model.IsCorporate)
    {
        <div class="pull-right">
            <label>View:</label>
            <div id="view-by-btn-group" class="btn-group  btn-group-sm" style="margin:0 10px;">
                <button id="view-by-sales" type="button" class="btn btn-primary">Sales</button>
                <button id="view-by-gp" type="button" class="btn btn-default">GP</button>
            </div>
        </div>
    }

    <div class="clearfix"></div>
</section>
<section class="content">
    @await Component.InvokeAsync("FilterWidget")

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        3 Year <span id="3year-tbl-title" class="datatype-text">Sales</span>
                    </h3>
                </div>
                <div class="box-body">
                    <div class="add-scroll-small-res">
                        <table id="yearly-variance-table" class="table table-bordered table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th colspan="15"><span class="datatype-text">Sales</span> Actual - Company</th>
                                </tr>
                                <tr>
                                    <th>Year</th>
                                    <th style="text-align: right !important">Jan</th>
                                    <th style="text-align: right !important">Feb</th>
                                    <th style="text-align: right !important">Mar</th>
                                    <th style="text-align: right !important">Apr</th>
                                    <th style="text-align: right !important">May</th>
                                    <th style="text-align: right !important">Jun</th>
                                    <th style="text-align: right !important">Jul</th>
                                    <th style="text-align: right !important">Aug</th>
                                    <th style="text-align: right !important">Sep</th>
                                    <th style="text-align: right !important">Oct</th>
                                    <th style="text-align: right !important">Nov</th>
                                    <th style="text-align: right !important">Dec</th>
                                    <th style="text-align: right !important">YTD</th>
                                    <th style="text-align: right !important">Total</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span id="reporting-chart-title" class="datatype-text">Sales</span> Chart
                    </h3>
                    @if (Model.IsCorporate)
                    {
                        <div class="box-tools pull-right">
                            <label>Show GP% &nbsp; <input id="show-gp" type="checkbox" /></label>
                        </div>
                    }
                </div>
                <div id="chart-container" class="box-body">
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="pull-left">
                        <h3 class="box-title pull-left" style="margin: 9px 6px 0 0px; font-size: 15px;">
                            View By
                        </h3>
                        @Html.DropDownList("viewByType",
                            Html.GetEnumSelectList<ViewByType>(),new { @class = "form-control pull-left select2", style = "width: 250px; float: left !important" })
                    </div>
                    <div class="pull-left" style="width: 350px">
                        <h3 class="box-title pull-left" style="margin: 9px 6px 0 10px; font-size: 15px;">
                            Comparison
                        </h3>
                        @Html.DropDownList("comparisonType",
                            Html.GetEnumSelectList<ComparisonType>(),new { @class = "form-control pull-left select2", style = "width: 250px; float: left !important" })
                    </div>
                    <div id="customDateRangeContainer" class="pull-left" style="display: none">
                        <h3 class="box-title pull-left" style="margin: 9px 6px 0 0px; font-size: 15px;">Period</h3>
                        <div class="input-group" style="width: 220px; margin-top: 2px; float: left">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" id="daterange" class="form-control" style="margin-right: 10px; height: 30px" />
                        </div>
                    </div>
                    <div class="box-tools pull-right">
                        <button title="Download" id="DownloadAll" class="btn btn-primary" style="margin-top: 3px;"><span class="glyphicon glyphicon-save"></span></button>
                    </div>
                </div>
                <div class="box-body dynamic-table" id="tableContainer-varianceTable">
                    <div class="add-scroll-small-res">
                        <table id="varianceTable" class="table table-bordered  table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th colspan="1"></th>
                                    <th id="variance-tbl-prior-th" colspan="5">Prior Period</th>
                                    <th id="variance-tbl-current-th" colspan="5">Current Period</th>
                                    <th colspan="5">Variance</th>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <th class="column-sales">Sales</th>
                                    <th class="column-qty">Units</th>
                                    <th class="column-asp">ASP</th>
                                    <th class="column-gp">GP</th>
                                    <th>GP%</th>
                                    <th class="column-sales">Sales</th>
                                    <th class="column-qty">Units</th>
                                    <th class="column-asp">ASP</th>
                                    <th class="column-gp">GP</th>
                                    <th>GP%</th>
                                    <th class="column-sales" id="salesCurrency">Sales ($)</th>
                                    <th class="column-sales">Sales (%)</th>
                                    <th class="column-gp" id="gpCurrency">GP ($)</th>
                                    <th class="column-gp">GP (%)</th>
                                    <th>GP%</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="1"></th>
                                    <th id="variance-tbl-prior-th" colspan="5"></th>
                                    <th id="variance-tbl-current-th" colspan="5"></th>
                                    <th colspan="5"></th>
                                </tr>
                                <tr>
                                    <th>Totals</th>
                                    <th id="foot-prior-sales" class="column-sales" style="text-align: right !important"></th>
                                    <th id="foot-prior-qty" class="footer-qty" style="text-align: right !important"></th>
                                    <th id="foot-prior-asp" class="footer-asp" style="text-align: right !important"></th>
                                    <th class="column-gp"></th>
                                    <th id="foot-prior-gp-pct"></th>
                                    <th id="foot-current-sales" class="column-sales" style="text-align: right !important"></th>
                                    <th id="foot-current-qty" class="footer-qty" style="text-align: right !important"></th>
                                    <th id="foot-current-asp" class="footer-asp" style="text-align: right !important"></th>
                                    <th class="column-gp"></th>
                                    <th id="foot-current-gp-pct"></th>
                                    <th id="foot-variance-sales" class="column-sales" style="text-align: right !important"></th>
                                    <th id="foot-variance-sales-pct" class="column-sales"></th>
                                    <th class="column-gp"></th>
                                    <th class="column-gp"></th>
                                    <th id="foot-variance-gp-pct"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section styles {
    <style type="text/css">
        #chart-container {
            padding: 25px;
        }

        .popover {
            font-size: 14px !important;
            font-family: 'Roboto Condensed', sans-serif !important;
        }

        .light-blue {
            background-color: #F0FAFF !important;
        }

        .light-gray {
            background-color: #f0f0f0 !important;
        }

        .NegativeValueColor {
            color: red;
        }

        .popover {
            max-width: 400px;
        }
    </style>
}


<script type="text/javascript">
    app.activeMenus = ["menuReporting", "menuTrendReports"]; // List all menus that should be activated when this page is opened

    var formatStringPositive = "<span class='datacell'>{0}</span>";
    var formatStringNegative = "<span class='datacell NegativeValueColor'>{0}</span>";
    var userIsAdmin = @(Model.IsCorporate ? "true" : "false");

    var startDateDefault = '@Model.StartDateDefault';
    var endDateDefault = '@Model.EndDateDefault';

    var varianceColumns = [
        {
            data: "Name",
            orderable: true,
            render: function (data, type, full, meta) {
                var name = full.Name;

                if ($("#viewByType").val() === '@((int)ViewByType.ShipTo)') {
                    name += " (" + full.Code + ")";
                }

                if ($("#viewByType").val() === "@((int)ViewByType.BillTo)" ||
                    $("#viewByType").val() === "@((int)ViewByType.ShipTo)") {
                    var url = ($("#viewByType").val() === "@((int)ViewByType.BillTo)" ?
                            '@Url.Action("CustomerDrillThroughForBillTo", "TrendVariance", new { area = "Reporting" })/' :
                            '@Url.Action("CustomerDrillThroughForShipTo", "TrendVariance", new { area = "Reporting" })/') +
                        full.Id +
                        "?comparisonType=" +
                        $("#comparisonType").val();

                    if ($("#comparisonType").val() ===
                        "@((int)ComparisonType.CustomDateRangeYearOverYear)") {
                        url += "&comparisonStartDate=" +
                            $("#daterange").data("daterangepicker").startDate.format("DD/MM/YYYY") +
                            "&comparisonEndDate=" +
                            $("#daterange").data("daterangepicker").endDate.format("DD/MM/YYYY");
                    }

                    return "<a href='" + url + "' target='_blank'>" + name + "</a>";
                } else {
                    return name;
                }
            }
        }, {
            data: "PriorSales",
            orderable: true,
            width: "7%",
            className: "text-right",
            render: function(data, type, full, meta) {
                return helpers.formatMoney(full.PriorSales,
                    0,
                    0.0,
                    formatStringPositive,
                    formatStringNegative);
            }
        }, {
            data: "PriorQty",
            orderable: true,
            width: "7%",
            className: "text-right",
            render: function (data, type, full, meta) {
                return full.PriorQty;
            }
        }, {
            data: "PriorAsp",
            orderable: true,
            width: "7%",
            className: "text-right",
            render: function (data, type, full, meta) {
                return helpers.formatMoney(full.PriorAsp,
                    0,
                    0.0,
                    formatStringPositive,
                    formatStringNegative);
            }
        },{
            data: "PriorGrossProfit",
            orderable: true,
            width: "7%",
            className: "text-right",
            render: function(data, type, full, meta) {
                return helpers.formatMoney(full.PriorGrossProfit,
                    0,
                    0.0,
                    formatStringPositive,
                    formatStringNegative);
            }
        }, {
            data: "PriorGrossProfitPercent",
            orderable: true,
            width: "7%",
            className: "text-center",
            render: function(data, type, full, meta) {
                return helpers.formatPercent(full.PriorGrossProfitPercent,
                    0,
                    0.0,
                    formatStringPositive,
                    formatStringNegative);
            }
        }, {
            data: "CurrentSales",
            orderable: true,
            width: "7%",
            className: "text-right",
            render: function(data, type, full, meta) {
                return helpers.formatMoney(full.CurrentSales,
                    0,
                    0.0,
                    formatStringPositive,
                    formatStringNegative);
            }
        }, {
            data: "CurrentQty",
            orderable: true,
            width: "7%",
            className: "text-right",
            render: function (data, type, full, meta) {
                return full.CurrentQty;
            }
        }, {
            data: "CurrentAsp",
            orderable: true,
            width: "7%",
            className: "text-right",
            render: function (data, type, full, meta) {
                return helpers.formatMoney(full.CurrentAsp,
                    0,
                    0.0,
                    formatStringPositive,
                    formatStringNegative);
            }
        }, {

            data: "CurrentGrossProfit",
            orderable: true,
            width: "7%",
            className: "text-right",
            render: function(data, type, full, meta) {
                return helpers.formatMoney(full.CurrentGrossProfit,
                    0,
                    0.0,
                    formatStringPositive,
                    formatStringNegative);
            }
        }, {
            data: "CurrentGrossProfitPercent",
            orderable: false,
            width: "7%",
            className: "text-center",
            render: function(data, type, full, meta) {
                return helpers.formatPercent(full.CurrentGrossProfitPercent,
                    0,
                    0.0,
                    formatStringPositive,
                    formatStringNegative);
            }
        }, {
            data: "VarianceSales",
            orderable: true,
            width: "7%",
            className: "text-right",
            render: function(data, type, full, meta) {
                return helpers.formatMoney(full.VarianceSales,
                    0,
                    0.0,
                    formatStringPositive,
                    formatStringNegative);
            }
        }, {
            data: "VarianceSalesPercent",
            orderable: true,
            width: "7%",
            className: "text-center",
            render: function(data, type, full, meta) {
                return helpers.formatPercent(full.VarianceSalesPercent,
                    0,
                    0.0,
                    formatStringPositive,
                    formatStringNegative);
            }
        }, {
            data: "VarianceGrossProfit",
            orderable: true,
            width: "7%",
            className: "text-right",
            render: function(data, type, full, meta) {
                return helpers.formatMoney(full.VarianceGrossProfit,
                    0,
                    0.0,
                    formatStringPositive,
                    formatStringNegative);
            }
        }, {
            data: "VarianceGrossProfitGrowthPercent",
            orderable: true,
            width: "7%",
            className: "text-center",
            render: function(data, type, full, meta) {
                return helpers.formatPercent(full.VarianceGrossProfitGrowthPercent,
                    0,
                    0.0,
                    formatStringPositive,
                    formatStringNegative);
            }
        }, {
            data: "VarianceGrossProfitPercent",
            orderable: true,
            width: "7%",
            className: "text-center",
            render: function(data, type, full, meta) {
                return helpers.formatPercent(full.VarianceGrossProfitPercent,
                    0,
                    0.0,
                    formatStringPositive,
                    formatStringNegative);
            }
        }
    ];

    function formatVarianceTable(showQtyColumns) {
        if (showQtyColumns) {
            $('#varianceTable').DataTable().columns('.column-qty').visible(true);

            $('#varianceTable').DataTable().columns('.column-asp').visible(true);

            $(".footer-qty").show();

            $(".footer-asp").show();

            $("#variance-tbl-prior-th").prop("colspan", 4);

            $("#variance-tbl-current-th").prop("colspan", 4);
        } else {
            $('#varianceTable').DataTable().columns('.column-qty').visible(false);

            $('#varianceTable').DataTable().columns('.column-asp').visible(false);

            $(".footer-qty").hide();

            $(".footer-asp").hide();

            $("#variance-tbl-prior-th").prop("colspan", 2);

            $("#variance-tbl-current-th").prop("colspan", 2);
        }
    }

    function getVarianceColumns(dataTblColumns) {
        var filteredColumns = dataTblColumns;

        if ($("#changeTableDropdown").val() === '@((int)ViewByType.Vendor)' ||
            $("#changeTableDropdown").val() === '@((int)ViewByType.ItemCategory)') {
            return filteredColumns;
        }

        return filteredColumns.filter(function(column) {
            return column.data !== "PriorQty" || column.data !== "CurrentQty";
        });
    }

    $(document).ready(function () {
        varianceChart.init(
            "@Html.Raw(Url.Action("GetVariancesForChart", "TrendVariance", new { area = ReportingSettings.AreaName }))",
            userIsAdmin,
            "#chart-container",
            "#show-gp",
            "#view-by-sales");

        varianceChart.render();

        $("#viewByType").select2();

        $("#comparisonType").select2();

        $('#daterange').daterangepicker({
            startDate: startDateDefault,
            endDate: endDateDefault,
            format: 'MM/DD/YYYY'
        });

        $("#comparisonType").on('select2:select',
            function (e) {
                var id = e.params.data.id;

                if (id === '@((int)ComparisonType.CustomDateRangeYearOverYear)') {
                    $("#customDateRangeContainer").show();
                } else {
                    $("#customDateRangeContainer").hide();

                    $("#varianceTable").DataTable().ajax.reload();
                }
            });

        $('#daterange').on('apply.daterangepicker', function () { $("#varianceTable").DataTable().ajax.reload() });

        $("#DownloadAll").click(function () {
            var url = '@Url.Action("ExportVariancesByTypeForParameters", "TrendVariance", new { area="Reporting" })';
            url += "?viewBySales=" + $("#view-by-sales").hasClass("btn-primary");
            url += "&viewByType=" + $("#viewByType").val();
            url += "&comparisonType=" + $("#comparisonType").val();
            url += "&startDate=" + $("#daterange").data("daterangepicker").startDate.format("DD/MM/YYYY");
            url += "&endDate=" + $("#daterange").data("daterangepicker").endDate.format("DD/MM/YYYY");
            document.location = url;
        });

        $("#comparisonType").change(function () {
            $("#varianceTable").DataTable().ajax.reload();
        });

        $("#viewByType").change(function () {
            $("#varianceTable").DataTable().ajax.reload();
        });

        $('#view-by-btn-group button').click(function () {
            if ($(this).hasClass("btn-primary")) {
                return;
            }

            $(this).addClass('btn-primary').siblings().removeClass('btn-primary').addClass('btn-default');

            page.reloadTablesAndCharts();
            page.updateDataTypeTitles();
        });

        page.loadDefaultFilters();

        $('#yearly-variance-table').on('preXhr.dt', function (e, settings, data) {
            $('#yearly-variance-table').parents(".row").find(".table-overlay").show();
        }).on('xhr.dt', function (e, settings, json, xhr) {
            $('#yearly-variance-table').parents(".row").find(".table-overlay").hide();
        }).DataTable({
            lengthChange: true,
            autoWidth: false,
            processing: true,
            serverSide: true,
            searching: false,
            ordering: false,
            paging: false,
            info: false,
            pageLength: 100,
            ajax: {
                url: '@Url.Action("GetYearOverYearVariances", "TrendVariance", new { area  = ReportingSettings.AreaName })',
                data: function (data) {
                    data.viewBySales = $("#view-by-sales").hasClass("btn-primary");
                },
                type: "POST"
            },
            language: {
                processing: ''
            },
            createdRow: function (row, data, index) {
                if (index >= 3) {
                    $(row).addClass('highlight');
                }
            },
            columns: [{
                data: "Year",
                orderable: true,
                className: "text-center",
                render: function (data, type, full, meta) {
                    return "<span class='datacell'>" + (full.Year != null ? full.Year : "") + "</span>";
                }
            }, {
                data: "Jan",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.Jan, 0, null, formatStringPositive, formatStringNegative);
                    }

                    return helpers.formatMoney(full.Jan, 0, null, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "Feb",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.Feb, 0, null, formatStringPositive, formatStringNegative);
                    }
                    return helpers.formatMoney(full.Feb, 0, null, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "Mar",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.Mar, 0, null, formatStringPositive, formatStringNegative);
                    }
                    return helpers.formatMoney(full.Mar, 0, null, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "Apr",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.Apr, 0, null, formatStringPositive, formatStringNegative);
                    }
                    return helpers.formatMoney(full.Apr, 0, null, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "May",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.May, 0, null, formatStringPositive, formatStringNegative);
                    }
                    return helpers.formatMoney(full.May, 0, null, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "Jun",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.Jun, 0, null, formatStringPositive, formatStringNegative);
                    }
                    return helpers.formatMoney(full.Jun, 0, null, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "Jul",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.Jul, 0, null, formatStringPositive, formatStringNegative);
                    }
                    return helpers.formatMoney(full.Jul, 0, null, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "Aug",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.Aug, 0, null, formatStringPositive, formatStringNegative);
                    }
                    return helpers.formatMoney(full.Aug, 0, null, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "Sep",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.Sep, 0, null, formatStringPositive, formatStringNegative);
                    }
                    return helpers.formatMoney(full.Sep, 0, null, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "Oct",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.Oct, 0, null, formatStringPositive, formatStringNegative);
                    }
                    return helpers.formatMoney(full.Oct, 0, null, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "Nov",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.Nov, 0, null, formatStringPositive, formatStringNegative);
                    }
                    return helpers.formatMoney(full.Nov, 0, null, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "Dec",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.Dec, 0, null, formatStringPositive, formatStringNegative);
                    }
                    return helpers.formatMoney(full.Dec, 0, null, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "Ytd",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.Ytd, 0, 0.0, formatStringPositive, formatStringNegative);
                    }
                    return helpers.formatMoney(full.Ytd, 0, 0.0, formatStringPositive, formatStringNegative);
                }
            }, {
                data: "Total",
                orderable: true,
                className: "text-right",
                render: function (data, type, full, meta) {
                    if (full.Year.indexOf("Growth") >= 0) {
                        return helpers.formatPercent(full.Total, 0, 0.0, formatStringPositive, formatStringNegative);
                    }
                    return helpers.formatMoney(full.Total, 0, 0.0, formatStringPositive, formatStringNegative);
                }
            }]
        });

        $('#varianceTable').on('preXhr.dt', function (e, settings, data) {
            // callback before ajax call
            $('#varianceTable').parents(".row").find(".table-overlay").show();
        }).on('xhr.dt', function (e, settings, json, xhr) {
            if ($("#view-by-sales").hasClass("btn-primary") || !userIsAdmin) {
                $('#varianceTable').DataTable().columns('.column-gp').visible(false);

                $('#varianceTable').DataTable().columns('.column-sales').visible(true);
            }
            else {
                $('#varianceTable').DataTable().columns('.column-gp').visible(true);

                $('#varianceTable').DataTable().columns('.column-sales').visible(false);
            }

            if ($("#view-by-sales").hasClass("btn-primary") || !userIsAdmin) {
                if ($("#viewByType").val() === '@((int)ViewByType.Vendor)' ||
                    $("#viewByType").val() === '@((int)ViewByType.ItemCategory)') {
                    formatVarianceTable(true);
                } else {
                    formatVarianceTable(false);
                }
            }
            else {
                formatVarianceTable(false);
            }

            $('#varianceTable').parents(".row").find(".table-overlay").hide();
        }).DataTable({
            lengthChange: true,
            autoWidth: false,
            processing: true,
            serverSide: true,
            searching: false,
            ordering: true,
            paging: true,
            info: true,
            pageLength: 100,
            ajax: {
                url: '@Url.Action("GetVariancesByTypeForParameters", "TrendVariance", new { area = ReportingSettings.AreaName })',
                data: function (data) {
                    data.viewBySales = $("#view-by-sales").hasClass("btn-primary");
                    data.viewByType = $("#viewByType").val();
                    data.comparisonType = $("#comparisonType").val();
                    data.startDate = $("#daterange").data("daterangepicker").startDate.format("DD/MM/YYYY");
                    data.endDate = $("#daterange").data("daterangepicker").endDate.format("DD/MM/YYYY");
                },
                type: "POST"
            },
            footerCallback: function (row, data, start, end, display) {
                // Total over this page
                var priorSalesTotal = helpers.getTotalFromArray(data, "PriorSales");
                var priorQtyTotal = helpers.getTotalFromArray(data, "PriorQty");
                var priorAspTotal = helpers.getTotalFromArray(data, "PriorAsp");

                var currentSalesTotal = helpers.getTotalFromArray(data, "CurrentSales");
                var currentQtyTotal = helpers.getTotalFromArray(data, "CurrentQty");
                var currentAspTotal = helpers.getTotalFromArray(data, "CurrentAsp");

                // Update footer
                $("#foot-prior-sales").html(helpers.formatMoney(priorSalesTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                $("#foot-prior-qty").html(priorQtyTotal);
                $("#foot-prior-asp").html(helpers.formatMoney(priorAspTotal, 0, 0.0, formatStringPositive, formatStringNegative));

                $("#foot-current-sales").html(helpers.formatMoney(currentSalesTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                $("#foot-current-qty").html(currentQtyTotal);
                $("#foot-current-asp").html(helpers.formatMoney(currentAspTotal, 0, 0.0, formatStringPositive, formatStringNegative));

                $("#foot-variance-sales").html(helpers.formatMoney(currentSalesTotal - priorSalesTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                $("#foot-variance-sales-pct").html(helpers.formatPercent(priorSalesTotal === 0 ? 1 : (currentSalesTotal - priorSalesTotal) / priorSalesTotal, 0, 0.0, formatStringPositive, formatStringNegative));
            },
            language: {
                processing: ''
            },
            columns: getVarianceColumns(varianceColumns)
        });
    });

    // Encapsulate page logic. Check out page.js for example of public and private methods and properties
    (function (page, $, undefined) {
        page.setContainerTitles = function() {
            if ($("#view-by-sales").hasClass("btn-primary") && !$("#view-by-gp").hasClass("btn-primary")) {
                $("#reporting-chart-title").text("Sales");

                $("#3year-tbl-title").text("Sales");
            }
            if ($("#view-by-gp").hasClass("btn-primary") && !$("#view-by-sales").hasClass("btn-primary")) {
                $("#reporting-chart-title").text("GP");

                $("#3year-tbl-title").text("GP");
            }
        };

        page.updateDataTypeTitles = function() {
            if ($("#view-by-sales").hasClass("btn-primary")) {
                $(".datatype-text-allcaps").text("SALES");

                $(".datatype-text").text("Sales");
            } else if ($("#view-by-gp").hasClass("btn-primary")) {
                $(".datatype-text-allcaps").text("GP");

                $(".datatype-text").text("GP");
            }
        };

        page.onApplyFilterClicked = function() {
            page.setContainerTitles();
            page.reloadTablesAndCharts();
            page.updateDataTypeTitles();
        };

        page.reloadTablesAndCharts = function() {
            $('#yearly-variance-table').DataTable().ajax.reload();

            $('#varianceTable').DataTable().ajax.reload();

            varianceChart.render();
        };
    }(window.page = window.page || {}, jQuery));
</script>

<script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/varianceChart.js"></script>
