﻿@using ProfitOptics.Modules.Reporting.Enums
@using ProfitOptics.Modules.Reporting.Models.TrendVariance
@model TrendVarianceItemCategoryDrillThroughViewModel
@{
    ViewBag.Title = "Trend Variance Analysis";
}

<section class="content">
    @await Component.InvokeAsync("FilterWidget")

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Sales Trend
                    </h3>
                </div>
                <div id="chart-container" class="box-body"></div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        @Model.ItemCategoryName Items
                    </h3>
                    <div class="pull-right">
                        <div class="pull-left" style="width: 350px">
                            <h3 class="box-title pull-left" style="margin: 9px 6px 0 10px; font-size: 15px;">
                                Comparison
                            </h3>
                            @Html.DropDownList("comparisonType",
                                Html.GetEnumSelectList<ComparisonType>(), new { @class = "form-control pull-left select2", style = "width: 250px; float: left !important" })
                        </div>
                        <div id="customDateRangeContainer" class="pull-left" style="display: none">
                            <h3 class="box-title pull-left" style="margin: 9px 6px 0 0px; font-size: 15px;">Period</h3>
                            <div class="input-group" style="width: 220px; margin-top: 2px; float: left">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" id="daterange" class="form-control" style="margin-right: 10px; height: 30px" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="add-scroll-small-res">
                        <table id="drill-through-tbl" class="table table-bordered table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th colspan="2"></th>
                                    <th colspan="@(Model.IsCorporate ? 3 : 2)">Prior Period</th>
                                    <th colspan="@(Model.IsCorporate ? 3 : 2)">Current Period</th>
                                    <th colspan="@(Model.IsCorporate ? 5 : 3)">Variance</th>
                                </tr>
                                <tr>
                                    <th>Item</th>
                                    <th>Description</th>
                                    <th>Sales</th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th>GP</th>
                                    }
                                    <th>GP%</th>
                                    <th>Sales</th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th>GP</th>
                                    }
                                    <th>GP%</th>
                                    <th>Sales ($)</th>
                                    <th>Sales (%)</th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th>GP ($)</th>
                                        <th>GP (%)</th>
                                    }
                                    <th>GP%</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="2"></th>
                                    <th id="variance-tbl-prior-th" colspan="@(Model.IsCorporate ? 3 : 2)"></th>
                                    <th id="variance-tbl-current-th" colspan="@(Model.IsCorporate ? 3 : 2)"></th>
                                    <th colspan="@(Model.IsCorporate ? 5 : 3)"></th>
                                </tr>
                                <tr>
                                    <th colspan="2">Totals</th>
                                    <th id="foot-prior-sales" style="text-align: right !important"></th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th id="foot-prior-gp" style="text-align: right !important"></th>
                                    }
                                    <th id="foot-prior-gp-pct"></th>
                                    <th id="foot-current-sales" style="text-align: right !important"></th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th id="foot-current-gp" style="text-align: right !important"></th>
                                    }
                                    <th id="foot-current-gp-pct"></th>
                                    <th id="foot-variance-sales" class="column-sales" style="text-align: right !important"></th>
                                    <th id="foot-variance-sales-pct" class="column-sales"></th>
                                    @if (Model.IsCorporate)
                                    {
                                        <th id="foot-variance-gp-amount" style="text-align: right !important"></th>
                                        <th id="foot-variance-gp-amount-pc"></th>
                                    }
                                    <th id="foot-variance-gp-pct"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section styles {
    <style type="text/css">
        #chart-container {
            padding: 25px;
        }

        .NegativeValueColor {
            color: red;
        }

        .popover {
            max-width: 400px
        }
    </style>
}

@section scripts {
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Reporting/Content/js/itemCategoryDrillThroughChart.js"></script>

    <script type="text/javascript">
        var customerId = "@Model.CustomerId";
        var formatStringPositive = "<span class='datacell'>{0}</span>";
        var formatStringNegative = "<span class='datacell NegativeValueColor'>{0}</span>";
        var userIsAdmin = @(Model.IsCorporate ? "true" : "false");

        app.activeMenus = ["menuReporting", "menuTrendReports"]; // List all menus that should be activated when this page is opened

        function renderChart() {
            itemCategoryDrillThroughChart.render(@Model.CustomerId,
                "@Html.Raw(Model.CustomerName)",
                "@Html.Raw(Model.CustomerNum)",
                @Model.ItemCategoryId,
                "@Html.Raw(Model.ItemCategoryName)",
                userIsAdmin);
        }

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {
            page.onApplyFilterClicked = function () {
                renderChart();

                $("#drill-through-tbl").DataTable().ajax.reload();
            }
        }(window.page = window.page || {}, jQuery));

        var startDateDefault = '@Model.StartDateDefault';

        var endDateDefault = '@Model.EndDateDefault';

        // document.ready
        $(document).ready(function () {
            itemCategoryDrillThroughChart.init("#chart-container", "@Html.Raw(Model.ChartDataUrl)");
            
            renderChart();

            $("#comparisonType").select2();

            $('#daterange').daterangepicker({
                startDate: startDateDefault,
                endDate: endDateDefault,
                format: 'MM/DD/YYYY'
            });

            if (@((int)Model.ComparisonType) === @((int)ComparisonType.CustomDateRangeYearOverYear))
            {
                $("#customDateRangeContainer").show();
            }

            $("#comparisonType").on('select2:select',
                function (e) {
                    var id = e.params.data.id;

                    if (id === '@((int)ComparisonType.CustomDateRangeYearOverYear)') {
                        $("#customDateRangeContainer").show();
                    } else {
                        $("#customDateRangeContainer").hide();

                        page.onApplyFilterClicked();
                    }
                });

            $('#daterange').on('apply.daterangepicker', function() {
                page.onApplyFilterClicked();
            });

            var dataTable = $('#drill-through-tbl').on('preXhr.dt', function (e, settings, data) {
                $('#drill-through-tbl').parents(".row").find(".table-overlay").show();
            }).on('xhr.dt', function (e, settings, json, xhr) {
                $('#drill-through-tbl').parents(".row").find(".table-overlay").hide();
            }).DataTable({
                lengthChange: true,
                autoWidth: false,
                processing: true,
                serverSide: true,
                searching: false,
                ordering: true,
                paging: true,
                info: true,
                pageLength: 100,
                //lengthMenu: [3, 10, 25, 50, 100, 250, 500],
                ajax: {
                    url: '@Model.DataUrl',
                    data: function (data) {
                        if ('@Model.IsBillTo' === 'True') {
                            data.billToId = customerId;
                        } else {
                            data.shipToId = customerId;
                        }
                        data.comparisonType = $("#comparisonType").val();
                        data.itemCategoryId = @Model.ItemCategoryId;
                        data.startDate = $("#daterange").data("daterangepicker").startDate.format("DD/MM/YYYY");
                        data.endDate = $("#daterange").data("daterangepicker").endDate.format("DD/MM/YYYY");
                    },
                    type: "POST"
                },
                footerCallback: function (row, data, start, end, display) {
                    // Total over this page
                    var priorSalesTotal = helpers.getTotalFromArray(data, "PriorSales");
                    var priorGpTotal = helpers.getTotalFromArray(data, "PriorGrossProfit");

                    var currentSalesTotal = helpers.getTotalFromArray(data, "CurrentSales");
                    var currentGpTotal = helpers.getTotalFromArray(data, "CurrentGrossProfit");

                    // Update footer
                    $("#foot-prior-sales").html(helpers.formatMoney(priorSalesTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                    $("#foot-prior-gp").html(helpers.formatMoney(priorGpTotal, 0, 0.0, formatStringPositive, formatStringNegative));

                    $("#foot-current-sales").html(helpers.formatMoney(currentSalesTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                    $("#foot-current-gp").html(helpers.formatMoney(currentGpTotal, 0, 0.0, formatStringPositive, formatStringNegative));

                    $("#foot-variance-sales").html(helpers.formatMoney(currentSalesTotal - priorSalesTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                    $("#foot-variance-sales-pct").html(helpers.formatPercent(priorSalesTotal === 0 ? 1 : (currentSalesTotal - priorSalesTotal) / priorSalesTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                    $("#foot-variance-gp-amount").html(helpers.formatMoney(currentGpTotal - priorGpTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                    $("#foot-variance-gp-amount-pct").html(helpers.formatPercent(priorGpTotal === 0 ? 1 : (currentGpTotal - priorGpTotal) / priorGpTotal, 0, 0.0, formatStringPositive, formatStringNegative));
                },
                language: {
                    processing: ''
                },
                columns: [{
                    data: "ItemNum",
                    orderable: true,
                    width: "10%",
                    className: "text-left",
                    render: function (data, type, full, meta) {
                        return String.format("{0}", full.ItemNum);
                    }
                }, {
                    data: "ItemDescription",
                    orderable: true,
                    className: "text-left",
                    render: function (data, type, full, meta) {
                        return String.format("{0}", full.ItemDescription);
                    }
                }, {
                    data: "PriorSales",
                    orderable: true,
                    width: "7%",
                    className: "text-right",
                    render: function (data, type, full, meta) {
                        return helpers.formatMoney(full.PriorSales, 0, 0.00, formatStringPositive, formatStringNegative);
                    }
                }, {
                    data: "PriorGrossProfit",
                    orderable: true,
                    width: "7%",
                    className: "text-right",
                    render: function (data, type, full, meta) {
                        return helpers.formatMoney(full.PriorGrossProfit, 0, 0.00, formatStringPositive, formatStringNegative);
                    }
                }, {
                    data: "PriorGrossProfitPercent",
                    orderable: true,
                    width: "7%",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return helpers.formatPercent(full.PriorGrossProfitPercent, 0, 0.00, formatStringPositive, formatStringNegative);
                    }
                }, {
                    data: "CurrentSales",
                    orderable: true,
                    width: "7%",
                    className: "text-right",
                    render: function (data, type, full, meta) {
                        return helpers.formatMoney(full.CurrentSales, 0, 0.00, formatStringPositive, formatStringNegative);
                    }
                }, {
                    data: "CurrentGrossProfit",
                    orderable: true,
                    width: "7%",
                    className: "text-right",
                    render: function (data, type, full, meta) {
                        return helpers.formatMoney(full.CurrentGrossProfit, 0, 0.00, formatStringPositive, formatStringNegative);
                    }
                }, {
                    data: "CurrentGrossProfitPercent",
                    orderable: true,
                    width: "7%",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return helpers.formatPercent(full.CurrentGrossProfitPercent, 0, 0.00, formatStringPositive, formatStringNegative);
                    }
                }, {
                    data: "VarianceSales",
                    orderable: true,
                    width: "7%",
                    className: "text-right",
                    render: function (data, type, full, meta) {
                        return helpers.formatMoney(full.VarianceSales, 0, 0.0, formatStringPositive, formatStringNegative);
                    }
                }, {
                    data: "VarianceSalesPercent",
                    orderable: true,
                    width: "7%",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return helpers.formatPercent(full.VarianceSalesPercent, 0, 0.0, formatStringPositive, formatStringNegative);
                    }
                }, {
                    data: "VarianceGrossProfit",
                    orderable: true,
                    width: "7%",
                    className: "text-right",
                    render: function (data, type, full, meta) {
                        return helpers.formatMoney(full.VarianceGrossProfit, 0, 0.0, formatStringPositive, formatStringNegative);
                    }
                }, {
                    data: "VarianceGrossProfitPercent",
                    orderable: true,
                    width: "7%",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return helpers.formatPercent(full.VarianceGrossProfitPercent, 0, 0.0, formatStringPositive, formatStringNegative);
                    }
                }, {
                    data: "VarianceGrossProfitGrowthPercent",
                    orderable: true,
                    width: "7%",
                    className: "text-center",
                    render: function (data, type, full, meta) {
                        return helpers.formatPercent(full.VarianceGrossProfitGrowthPercent, 0, 0.0, formatStringPositive, formatStringNegative);
                    }
                }].filter(function (column) {
                    return userIsAdmin ||
                        (column.data !== "PriorGrossProfit" &&
                            column.data !== "CurrentGrossProfit" &&
                            column.data !== "VarianceGrossProfit" &&
                            column.data !== "VarianceGrossProfitGrowthPercent");
                })
            });
        });
    </script>
}
