﻿@model ProfitOptics.Framework.Web.Framework.Models.ParentCompanyModel

<div class="example-modal container">
    <div id="AddNewParentCompanyDialog" class="modal fade in" role="dialog">
        <div class="modal-dialog" >
            <div class="modal-content">
                <form id="addParentCompany" asp-action="AddNewParentCompany" asp-controller="Users" method="post" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 id="UpdateUserDialogHeader" class="modal-title">Add new parent company</h4>
                    </div>
                    <div class="modal-body">
                        @*@if (Model.ShouldShowModal)
                            {
                                <div asp-validation-summary="All" class="text-danger"></div>
                            }*@
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input placeholder="Title" asp-for="Title" type="text" class="form-control"
                                           data-val="true" data-val-length-max="100"
                                           data-val-length-min="6" data-val-required="The Title field is required." />
                                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>



            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.example-modal -->

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<script>
    jQuery.fn.preventDoubleSubmission = function () {

        var last_clicked, time_since_clicked;

        $(this).bind('submit', function (event) {

            if (last_clicked)
                time_since_clicked = event.timeStamp - last_clicked;

            last_clicked = event.timeStamp;

            if (time_since_clicked < 2000)
                return false;

            return true;
        });
    };

    $('#addParentCompany').preventDoubleSubmission();
</script>
