﻿@model ProfitOptics.Framework.Web.Framework.Models.ChildCompanyModel

<div class="example-modal container">
    <div id="AddNewChildCompanyDialog" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="AddNewChildCompany" asp-controller="Users" method="post" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 id="UpdateUserDialogHeader" class="modal-title">Add new parent company</h4>
                    </div>
                    <div class="modal-body">
                        @*@if (Model.ShouldShowModal)
                            {
                                <div asp-validation-summary="All" class="text-danger"></div>
                            }*@
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input placeholder="Title" asp-for="Title" type="text" class="form-control loginline"
                                           data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-length-max="100"
                                           data-val-length-min="6" data-val-required="The title field is required." />
                                    @Html.HiddenFor(m => m.ParentCompanyId)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <select data-val="true" data-val-required="Customer must be selected." class="select2-customers form-control" name="SelectedCustomer" style="width: 100%" asp-for="SelectedCustomer">
                                    <option></option>
                                    @foreach (var customer in Model.Customers)
                                    {
                                        <option value="@customer.Value">@customer.Text</option>
                                    }
                                </select>
                            </div>
                            <div id="companies" class="col-md-6">
                                <select data-val="true" data-val-required="Vendor must be selected." class="select2-user-vendors form-control loginline companyList" name="SelectedVendor" asp-for="SelectedVendor" style="width: 100%">
                                    @foreach (var vendor in Model.Vendors)
                                    {
                                        <option value="@vendor.Value">@vendor.Text</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>



            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.example-modal -->

<script type="text/javascript">

    // Document Ready
    $(document).ready(function () {

        $(".select2-customers").select2({
            placeholder: "Select customer"
        });

        $(".select2-vendors").select2({
            placeholder: "Select vendor"
        });
    });

</script>