﻿@model ProfitOptics.Framework.Web.Framework.Models.ParentCompanyModel

<div class="example-modal container">
    <div id="UpdateParentCompanyDialog" class="modal fade in">
        <div class="modal-dialog" style="width:850px">
            <div class="modal-content">
                <form asp-action="EditParentCompany" asp-controller="Users" method="post" role="form">
                    <input asp-for="Id" type="hidden" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 id="UpdateParentCompanyDialogHeader" class="modal-title">Update information for the company @Model.Title</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Title"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>

                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<!-- /.example-modal -->

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>