﻿<style>
    table.table-bordered {
        border-collapse: separate !important;
    }

    table.table-bordered thead th,
    table.table-bordered thead td {
        border-left-width: 1px;
        border-top-width: 1px;
    }

    table.table-bordered tbody th,
    table.table-bordered tbody td {
        border-left-width: 1px;
        border-bottom-width: 1px;
    }

    table.table-bordered tfoot th,
    table.table-bordered tfoot td {
        border-left-width: 1px;
        border-bottom-width: 1px;
    }

    table.table-bordered th:last-child,
    table.table-bordered td:last-child {
        border-right-width: 1px;
    }

    tfoot tr th, thead tr th {
        background: #003B5C !important;
        color: white !important;
        border-bottom: 1px solid #CECECE !important;
        font-size: 14px;
        font-weight: bold !important;
    }

    th, td {
        vertical-align: middle !important;
    }

    th {
        text-align: center !important;
    }

    th, td {
        padding: 5px !important;
        border-left: 1px solid #CECECE !important;
    }
</style>

<table id="exceptionQueueTable" class="table table-bordered">
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Received Date</th>
            <th>File Name</th>
            <th>Exception</th>
            <th>Order Amount</th>
            <th>Reviewer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Vendor</td>
            <td>@item.ReceivedDate.ToString("MM/dd/yyyy")</td>
            <td>@item.FileName</td>
            <td>@item.Exception</td>
            <td>$@item.OrderAmount</td>
            <td>@item.Reviewer</td>
        </tr>
        }
    </tbody>
</table>