﻿@model EmptyModel

@{
    ViewBag.Title = "EmployeeTracker";
}

<h2>EmployeeTracker Page</h2>
<h3>@Model.Message</h3>

@section styles {
    <style type="text/css">
        /*Some customer styles for this page*/
    </style>
}

@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuEmployeeTracker"]; // List all menus that should be activated when this page is opened

        // Document Ready
        $(document).ready(function () {

        });

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {

        }(window.page = window.page || {}, jQuery));
    </script>
}
