﻿@{
    ViewBag.Title = "Showcase - Miscellaneous";
}
@model ProfitOptics.Modules.Showcase.Models.MiscViewModel
<section class="content-header">
    <h1>
        Miscellaneous
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Client Side Error Logging</h3>
                </div>
                <div class="box-body">
                    <button class="btn btn-primary" onclick="app.logError('TestError')">Write 'TestError' to elmah log. Elmah log can be seen @@ /elmah.axd. We have centralized Elmah errors on elmah.io</button>
                </div>
                <div class="box-body">
                    <button class="btn btn-primary" onclick="asdfadfa">Click here to get one syntax error.</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Ajax Helpers</h3>
                </div>
                <div class="box-body">
                    <button class="btn btn-primary" onclick="page.testAjax({ id: 3, name: 'Test case' }); ">Click here to test AJAX call.</button>
                </div>
                <div class="box-body">
                    <button class="btn btn-primary" onclick="page.ajaxError(); ">Cause deliberate AJAX server error.</button>
                </div>
                <div class="box-body">
                    <button class="btn btn-primary" onclick="page.ajaxLogoff(); ">AJAX logoff.</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Block UI</h3>
                </div>
                <div class="box-body">
                    <button class="btn btn-primary" onclick="page.testBlockUI(); ">Test for 3s.</button>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-body">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                        Danger alert preview. This alert is dismissable.
                    </div>
                    <div class="alert alert-info alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-info"></i> Alert!</h4>
                        Info alert preview. This alert is dismissable.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-body">
                    <div class="alert alert-warning alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                        Warning alert preview. This alert is dismissable.
                    </div>
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Alert!</h4>
                        Success alert preview. This alert is dismissable.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Popover</h3>
                </div>
                <div class="box-body">
                    <select name="xxx" class="select-element">
                        <option value="1" title="Explanation" data-toggle="popover">1</option>
                        <option value="2" title="Explanation" data-toggle="popover">2</option>
                        <option value="3" title="Explanation" data-toggle="popover">3</option>
                        <option value="4" title="Explanation" data-toggle="popover">4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Select2 generics demo</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-6">
                        <label>Basic dropdown: </label>
                        <select id="delegate-display">
                            @foreach (var option in Model.DropdownData)
                            {
                                <option value="@option.id">@option.text</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Dynamic dropdown: </label>
                        <select id="dynamic-select2"></select>
                    </div>
                    <div class="col-md-6">
                        <label>Dynamic dropdown: </label>
                        <select id="dynamic-select2-2"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*FIXED ALERT*@

<div class="fixed-alert">
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-warning"></i> Alert!</h4>
        Warning alert preview. This alert is dismissable.
    </div>
</div>

@*@Html.Repeat(10, "test")*@

@section styles {
    <style type="text/css">
        .popover {
            max-width: 400px
        }
    </style>
}

<script type="text/javascript">
        app.activeMenus = ["menuShowcase", "menuShowcaseMisc"]; // List all menus that should be activated when this page is opened

        // Document Ready
        $(document).ready(function () {
            $(".select-element").select2({
                width: "100%",
            });

            $("#delegate-display").select2({
                width: "100%",
            });
            var take = 9;
            $("#dynamic-select2").select2({
                width: "100%",
                minimumInputLength: 0,
                ajax: {
                    url: '@Url.Action("GetDropdownDelegateVariant", "Misc")',
                    dataType: 'json',
                    data: function (params) {
                        var query = {
                            filterName: $(this).attr("name"),
                            search: params.term,
                            page: params.page || 1
                        }

                        return query;
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * take) < data.count_filtered
                            }
                        };
                    },
                    delay: 500
                }
            });
            $("#dynamic-select2-2").select2({
                width: "100%",
                minimumInputLength: 0,
                ajax: {
                    url: '@Url.Action("GetDropdownAttributeVariant", "Misc")',
                    dataType: 'json',
                    data: function (params) {
                        var query = {
                            filterName: $(this).attr("name"),
                            search: params.term,
                            page: params.page || 1
                        }

                        return query;
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * take) < data.count_filtered
                            }
                        };
                    },
                    delay: 500
                }
            });

            $(".select-element").on('select2:open', function (e) {
                setTimeout(function () {
                    $(".select2-results__option").each(function (i, obj) {
                        $(obj).popover({
                            content: function () {
                                switch (i) {
                                    case 0:
                                        return "<img width='300' src='https://patriotsca.profitoptics.com/dashboard/Content/Images/periods/mtd.jpg' />";
                                        break;
                                    case 1:
                                        return "<img width='300' src='https://patriotsca.profitoptics.com/dashboard/Content/Images/periods/3motd.jpg' />";
                                        break;
                                    case 2:
                                        return "<img width='300' src='https://patriotsca.profitoptics.com/dashboard/Content/Images/periods/ytd.jpg' />";
                                        break;
                                    case 3:
                                        return "<img width='300' src='https://patriotsca.profitoptics.com/dashboard/Content/Images/periods/3motdyr.jpg' />";
                                        break;
                                }
                            },
                            trigger: 'hover',
                            placement: 'right',
                            html: true,

                        });
                    });
                }, 100);
            });
        });

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {
            page.testAjax = function (data) {
                app.AjaxShowcase(data).done(function (returnData) {
                    app.showAlert(returnData.result);
                });
            };

            page.ajaxError = function () {
                app.AjaxError();
            };

            page.ajaxLogoff = function () {
                app.AjaxLogoff();
            };

            page.testBlockUI = function () {
                app.blockUI("Block for 3s.");
                setTimeout(function () { app.unblockUI(); }, 3000);
            };

            window.onerror = function (msg, source, lineno, colno, error){
                app.logError(msg, arguments.callee.trace())
            };

        }(window.page = window.page || {}, jQuery));
</script>