﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section master_styles{
    <link href="~/Areas/UserManagement/css/main.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", false)
}

@section master_scripts{
    <script type="text/javascript" src="~/Areas/UserManagement/js/main.js"></script>
    <script type="text/javascript" src="~/Areas/UserManagement/js/passwordValidator.js"></script>
    @RenderSection("scripts", false)
}

@RenderBody()