﻿@await Html.PartialAsync("_Modal", new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(),
 new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary()) {
    { "id", "DeleteQuote-Modal" },
    { "title", "Archive Quote" },
    { "text", "Are you sure you want to archive this quote?" },
    { "confirmBtn", "<button type=\"button\" id=\"deleteQuoteBtn\" class=\"btn btn-danger\" data-dismiss=\"modal\">Archive</button>" },
})

@await Html.PartialAsync("_Modal", new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(),
 new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary()) {
    { "id", "UnarchiveQuote-Modal" },
    { "title", "Unarchive Quote" },
    { "text", "Are you sure you want to unarchive this quote?" },
    { "confirmBtn", "<button type=\"button\" id=\"unarchiveQuoteBtn\" class=\"btn btn-danger\" data-dismiss=\"modal\">Unarchive</button>" },
})
