﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section master_styles{
    <link href="~/Modules/ProfitOptics.Modules.Quotes/Content/css/main.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", false)
}

@section master_scripts{
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Quotes/Content/js/main.js"></script>
    <script>
        (function (quotes) {
            quotes.urls = {
                "createQuote": "@Url.Action("CreateQuote", "QuotesMain", new {area = "Quotes"})",
                "getShipToZip": "@Url.Action("GetShipToZip", "QuotesMain", new {area = "Quotes"})",
                "updateQuote": "@Url.Action("UpdateQuote", "QuotesMain", new {area = "Quotes"})",
                "deleteQuote": "@Url.Action("DeleteQuote", "QuotesMain", new { area = "Quotes" })",
                "cloneQuote": "@Url.Action("CloneQuote", "QuotesMain", new { area = "Quotes"})",
                "HeaderQuotePartial": "@Url.Action("HeaderQuotePartial", "QuotesMain", new {area = "Quotes"})",
                "unarchiveQuote": "@Url.Action("UnarchiveQuote", "QuotesMain", new {area = "Quotes"})",
                "calculateFreight": "@Url.Action("CalculateFreight", "FreightCalculation", new {area = "Quotes"})",
                "updateQuoteItemQty": "@Url.Action("UpdateQuoteItemQty", "QuoteItems", new {area = "Quotes"})",
                "updateQuoteItemPrice": "@Url.Action("UpdateQuoteItemPrice", "QuoteItems", new {area = "Quotes"})",
                "updateQuoteItemGmPerc": "@Url.Action("UpdateQuoteItemGmPerc", "QuoteItems", new {area = "Quotes"})",
                "updateQuoteDetails": "@Url.Action("UpdateQuoteDetails", "QuotesMain", new {area = "Quotes"})",
                "removeItemFromQuote": "@Url.Action("RemoveItemFromQuote", "QuoteItems", new { area = "Quotes" })",
                "removeItemListFromQuote": "@Url.Action("RemoveItemListFromQuote", "QuoteItems", new { area = "Quotes" })",
                "validateItemsFromList": "@Url.Action("ValidateItemsFromList", "QuoteItems", new { area = "Quotes" })",
                "addItemsFromList": "@Url.Action("AddItemsFromList", "QuoteItems", new { area = "Quotes" })",
                "customerFacingXls": "@Url.Action("CustomerFacingXls", "QuotesMain", new { area = "Quotes" })",
                "customerFacingNotExtended": "@Url.Action("CustomerFacingNotExtended", "QuotesMain", new { area = "Quotes" })",
                "customerFacingExtended": "@Url.Action("CustomerFacingExtended", "QuotesMain", new { area = "Quotes" })",
                "downloadFile": '@Html.Raw(Url.Action("Download", "QuotesMain", new { area = "Quotes", handle = "__handle__", filename = "__filename__" }))',
                "updateCompetitorPrice": "@Url.Action("UpdateCompetitorPrice", "QuoteItems", new {area = "Quotes"})",
                "updateCompetitorUoM": "@Url.Action("updateCompetitorUoM", "QuoteItems", new {area = "Quotes"})",
                "updateCompetitorCf": "@Url.Action("updateCompetitorCf", "QuoteItems", new {area = "Quotes"})",
                "revertPriceToPlcPrice": "@Url.Action("RevertPriceToPlcPrice", "QuoteItems", new {area = "Quotes"})"

            }
        }(window.quotes));
    </script>
    @RenderSection("scripts", false)
}

@RenderBody()