﻿<div class="modal fade" id="@(ViewData["id"])" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@(Html.Raw(ViewData["title"]))</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center">
                    @(Html.Raw(ViewData["text"]))
                </h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @(Html.Raw(ViewData["confirmBtn"]))
            </div>
        </div>
    </div>
</div>
