﻿@using System.Globalization
@model DbCheckViewModel
@{
    var cultureInfo = new CultureInfo("en-US");
}

@if (Model.EtlStatuses.Any())
{
    <div style="margin-bottom: 20px">
        <strong>
            ETL Log Status Report (previous 24 hours):
        </strong>
        <br />
    </div>
    <div style="margin: 20px 0; width: 100%;">
        <table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; border: 1px solid #b5b6b7 !important; width: 100%;">
            <thead bgcolor="#b5b6b7" border="1" style="border-width: 1px; border-color: #b5b6b7; border-style: solid; color: #03377a !important">
                <tr border="1">
                    <th bgcolor="#f4f4f4" border="1" style="background: #f4f4f4 !important; border-left: 1px solid #b5b6b7 !important">Table name</th>
                    <th bgcolor="#f4f4f4" border="1" style="background: #f4f4f4 !important; border-left: 1px solid #b5b6b7 !important">Status</th>
                    <th bgcolor="#f4f4f4" border="1" style="background: #f4f4f4 !important; border-left: 1px solid #b5b6b7 !important">Processing time</th>
                </tr>
            </thead>
            <tbody border="1">
                @foreach (var etlLogStatus in Model.EtlStatuses)
                {
                    <tr border="1" style="border: 1px solid #b5b6b7">
                        <td border="1" style="text-align: left; border-left: 1px solid #b5b6b7 !important">@etlLogStatus.TableName</td>
                        <td border="1" style="text-align: left; border-left: 1px solid #b5b6b7 !important">@etlLogStatus.Status</td>
                        <td border="1" style="text-align: left; border-left: 1px solid #b5b6b7 !important">@etlLogStatus.ProcessingTime.ToString(cultureInfo)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
}

@if (Model.DbTableStatuses.Any())
{
    <div style="margin-bottom: 20px">
        <strong>
            Portal QA Checks Report:
        </strong>
        <br />
    </div>
    <div style="margin: 20px 0; width: 100%;">
        <table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; border: 1px solid #b5b6b7 !important; width: 100%;">
            <thead bgcolor="#b5b6b7" border="1" style="border-width: 1px; border-color: #b5b6b7; border-style: solid; color: #03377a !important">
                <tr border="1">
                    <th bgcolor="#f4f4f4" border="1" style="background: #f4f4f4 !important; border-left: 1px solid #b5b6b7 !important">Table name</th>
                    <th bgcolor="#f4f4f4" border="1" style="background: #f4f4f4 !important; border-left: 1px solid #b5b6b7 !important">Constraint broken</th>
                    <th bgcolor="#f4f4f4" border="1" style="background: #f4f4f4 !important; border-left: 1px solid #b5b6b7 !important">Count</th>
                </tr>
            </thead>
            <tbody border="1">
                @foreach (var dbTableStatus in Model.DbTableStatuses)
                {
                    <tr border="1" style="border: 1px solid #b5b6b7">
                        <td border="1" style="text-align: left; border-left: 1px solid #b5b6b7 !important">@dbTableStatus.TableName</td>
                        <td border="1" style="text-align: left; border-left: 1px solid #b5b6b7 !important">@dbTableStatus.ConstraintBroken</td>
                        <td border="1" style="text-align: center; border-left: 1px solid #b5b6b7 !important">@dbTableStatus.RecordsThatBrokeConstraintCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
