﻿@using ProfitOptics.Modules.Reporting.Models.CustomerReport
@model CustomerReportTableModel
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 id="@Model.TableId-title" class="box-title">
                    @Model.TableName
                </h3>
            </div>
            <div class="box-body">
                <div class="add-scroll-small-res">
                    <table id="@Model.TableId" class="table table-bordered table-hover font-condensed">
                        <thead>
                        <tr>
                            @foreach (string name in Model.ColumnNames)
                            {
                                <th title="@name">@name</th>
                            }
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
        </div>
    </div>
</div>