﻿@using ProfitOptics.Modules.Reporting.Models.CustomerReport
@model CustomerReportViewModel

@{
    ViewData["Title"] = "Customer Report";
}

<section class="content-header">
    <h1 class="pull-left" style="margin-bottom: 10px">
        Customer Reports
    </h1>

    <div class="pull-right" style="margin: 0 10px;">
        <label>View By:</label>
        <div id="viewby-btn-group" class="btn-group  btn-group-sm" style="margin: 0 10px;">
            <button id="view-by-billto" type="button" class="btn @(!Model.IsShipTo ? "btn-warning" : "btn-default")">Customer</button>
            <button id="view-by-shipto" type="button" class="btn @(Model.IsShipTo ? "btn-warning" : "btn-default")">ShipTo</button>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    @await Component.InvokeAsync("FilterWidget")

    @await Html.PartialAsync("_CustomerReportTable", Model.TopCustomers)

    @await Html.PartialAsync("_CustomerReportTable", Model.BottomCustomers)
</section>

<input type="hidden" id="isShipToString" value="@Model.IsShipTo">

@section styles {
    <style type="text/css">
        .NegativeValueColor {
            color: red;
        }

        .popover {
            max-width: 400px
        }
    </style>
}

@section scripts {
    <script type="text/javascript">

        var isAdmin = @(Model.IsCorporate ? "true" : "false");

        // List all menus that should be activated when this page is opened
        app.activeMenus = ["menuReporting", "menuCustomerReport"];

        var isShipTo = $("#isShipToString").val() === "true" ? true : false;

        var topCustomersTableId = '#' + '@Model.TopCustomers.TableId';
        var topCustomersTableTitleSelector = topCustomersTableId + "-title";
        var bottomCustomersTableId = '#' + '@Model.BottomCustomers.TableId';
        var bottomCustomersTableTitleSelector = bottomCustomersTableId + "-title";

        var formatStringPositive = "<span class='datacell'>{0}</span>";
        var formatStringNegative = "<span class='datacell NegativeValueColor'>{0}</span>";

        var dataTableColumns = [
            {
                data: "CustomerName",
                orderable: false,
                className: "text-left",
                render: function (data, type, full, meta) {
                    return full.CustomerName;
                }
            },
            {
                data: "PreviousLtmSales",
                orderable: false,
                className: "text-center",
                render: function (data, type, full, meta)
                {
                    return helpers.formatMoney(full.PreviousLtmSales,
                        0,
                        0.0,
                        formatStringPositive,
                        formatStringNegative,
                        $("#current-currency-type").val());
                }
            },
            {
                data: "LtmSales",
                orderable: false,
                className: "text-center",
                render: function (data, type, full, meta)
                {
                    return helpers.formatMoney(full.LtmSales,
                        0,
                        0.0,
                        formatStringPositive,
                        formatStringNegative,
                        $("#current-currency-type").val());
                }
            },
            {
                data: "LtmSalesPercent",
                orderable: false,
                className: "text-center",
                render: function (data, type, full, row)
                {
                    return helpers.formatPercent(full.LtmSalesPercent,
                        1,
                        0.0,
                        formatStringPositive,
                        formatStringNegative);
                }
            }
        ];

        var topCustomersTable;
        var bottomCustomersTable;

        $(document).ready(function () {

            $("#view-by-billto").click(function () {
                if (isShipTo)
                {
                    isShipTo = false;

                    $("#view-by-billto").addClass("btn-warning").removeClass("btn-default");
                    $("#view-by-shipto").addClass("btn-default").removeClass("btn-warning");

                    $(topCustomersTableTitleSelector).text($(topCustomersTableTitleSelector).text().replace("ShipTos", "Customers"));
                    $(bottomCustomersTableTitleSelector).text($(bottomCustomersTableTitleSelector).text().replace("ShipTos", "Customers"));

                    page.reloadTablesAndCharts();
                }
            });

            $("#view-by-shipto").click(function () {
                if (!isShipTo)
                {
                    isShipTo = true;

                    $("#view-by-shipto").addClass("btn-warning").removeClass("btn-default");
                    $("#view-by-billto").addClass("btn-default").removeClass("btn-warning");

                    $(topCustomersTableTitleSelector).text($(topCustomersTableTitleSelector).text().replace("Customers", "ShipTos"));
                    $(bottomCustomersTableTitleSelector).text($(bottomCustomersTableTitleSelector).text().replace("Customers", "ShipTos"));

                    page.reloadTablesAndCharts();
                }
            });

            topCustomersTable = $(topCustomersTableId).on('preXhr.dt', function (e, settings, data) {
                    $(topCustomersTableId).parents(".row").find(".table-overlay").show();
                }).on('xhr.dt', function (e, settings, json, xhr) {
                    $(topCustomersTableId).parents(".row").find(".table-overlay").hide();
                }).DataTable({
                lengthChange: true,
                autoWidth: false,
                processing: true,
                serverSide: true,
                searching: false,
                ordering: false,
                paging: true,
                info: true,
                order: [[0, "desc"]],
                pageLength: 15,
                lengthMenu: [15, 25, 50, 100],
                ajax: {
                    url: '@Url.Action(Model.TopCustomers.ActionName, Model.TopCustomers.ControllerName, new {area = Model.TopCustomers.AreaName})',
                    data: function (data) {
                        data.isShipTo = isShipTo;
                    },
                    type: "POST"
                },
                language: {
                    processing: 'Please wait ...'
                },
                columns: dataTableColumns
            });

        bottomCustomersTable = $(bottomCustomersTableId).on('preXhr.dt', function (e, settings, data) {
                $(bottomCustomersTableId).parents(".row").find(".table-overlay").show();
            }).on('xhr.dt', function (e, settings, json, xhr) {
                $(bottomCustomersTableId).parents(".row").find(".table-overlay").hide();
            }).DataTable({
            lengthChange: true,
            autoWidth: false,
            processing: true,
            serverSide: true,
            searching: false,
            ordering: false,
            paging: true,
            info: true,
            order: [[0, "desc"]],
            pageLength: 15,
            lengthMenu: [15, 25, 50, 100],
            ajax: {
                url: '@Url.Action(Model.BottomCustomers.ActionName, Model.BottomCustomers.ControllerName, new { area = Model.BottomCustomers.AreaName })',
                data: function (data) {
                    data.isShipTo = isShipTo;
                },
                type: "POST"
            },
            language: {
                processing: 'Please wait ...'
            },
            columns: dataTableColumns
            });

            page.loadDefaultFilters();
    });

    // Encapsulate page logic. Check out page.js for example of public and private methods and properties
    (function(page, $, undefined) {
        page.onApplyFilterClicked = function() {
            page.reloadTablesAndCharts();
        }

        page.reloadTablesAndCharts = function() {
            bottomCustomersTable.ajax.reload();
            topCustomersTable.ajax.reload();
        }
    }(window.page = window.page || {}, jQuery));
    </script>
}