﻿@using ProfitOptics.Framework.Web.Models;
@model SideBarModel

<!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <a href="#" class="sidebar-toggle pull-right" data-toggle="offcanvas" role="button" style="margin-right:10px">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.97 264.67" width="2.2em" height="2.2em"><title>menu</title><g id="Menu"><path d="M12,84.21H372.94a12,12,0,0,0,0-24.06H12A12,12,0,1,0,12,84.21Z" transform="translate(0 -60.15)" /><path d="M372.94,180.46H12a12,12,0,1,0,0,24.06H372.94A12,12,0,0,0,372.94,180.46Z" transform="translate(0 -60.15)" /><path d="M372.94,300.76H12a12,12,0,1,0,0,24.06H372.94A12,12,0,0,0,372.94,300.76Z" transform="translate(0 -60.15)" /></g></svg>
        </a>
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel (optional) -->
            @if (User.Identity.IsAuthenticated)
            {
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="data:image/png;base64,@Model.Base64ProfilePicture" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        @Model.FullName
                        <!-- Status -->
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
            }

            <!-- search form (Optional) -->
            @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input autofocus type="text" name="q" id="menu-filter-input" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>*@
            <!-- /.search form -->
            <!-- Sidebar Menu -->
            @await Html.PartialAsync("_Menu")
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>