﻿@model ProfitOptics.Modules.Support.Models.ViewModels.BoardColumnViewModel

@{
    var columnId = $"issuesTbl{Model.ColumnName.Replace(" ", "")}";
}

<div class="col-md-3">
    <div class="box">
        <div class="box-body">
            <table id="@columnId" cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped table-hover issue-table">
                <thead>
                <tr>
                    <th>@Model.ColumnName</th>
                </tr>
                </thead>
                <tbody class="dragula-container ddrop" data-container="@Model.ColumnName"></tbody>
            </table>
        </div>
        <div class="overlay table-overlay js_ready-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
        <!-- /.box-body -->
    </div>
</div>

<script>

    if ($.fn.DataTable.isDataTable('#@columnId') === false) {

        $('#@(columnId)').on('preXhr.dt',
            function(e, settings, data) {
                // callback before ajax call
                $('.js_ready-overlay').show();
                //screenBlockCounter++;
            }).on('xhr.dt',
            function(e, settings, json, xhr) {
                // callback after ajax call
                $('.js_ready-overlay').hide();
                //if (--screenBlockCounter == 0) {
                //    screenBlockCounter = 0;
                onAllTablesLoaded();
                //}
            }).DataTable({
            lengthChange: true,
            autoWidth: true,
            processing: true,
            serverSide: true,
            searching: false,
            ordering: false,
            paging: true,
            info: true,
            pageLength: 10,
            lengthMenu: [10, 25, 50, 100],
            searchDelay: 1500,
            ajax: {
                url: '@Url.Action("IssuesData", "Jira", new {area = "Support"})',
                data: function(d) {
                    d.statuses = '[' + "@string.Join(",", Model.Statuses)" + ']';
                    d.project = $("#Project").val();
                    d.components = getComponents();
                    d.assignee = $('#Assignee').val();
                    d.reporter = $('#Reporter').val();
                },
                type: "POST"
            },
            language: {
                processing: 'Loading...'
            },
            columns: [
                {
                    data: "Key",
                    orderable: false,
                    render: function(data, type, full, meta) {
                        var watchLink = '';
                        if (full.IsGlobalWatcher) {
                            watchLink =
                                '<a href="javascript:void(0);"><span class="glyphicon glyphicon glyphicon-eye-close" title="Global Watcher (email notifications for all issues)"></span></a>';
                        } else {
                            watchLink =
                                '<a href="javascript:void(0);" data-issueid="_ISSUEID_" data-projectid="_PROJECTID_" data-action="remove" class="js_watcherButton"><span class="glyphicon glyphicon glyphicon-eye-close" title="Remove Watch (email notifications)"></span></a>';
                            if (!full.IsWatching) {
                                watchLink =
                                    '<a href="javascript:void(0);" data-issueid="_ISSUEID_" data-projectid="_PROJECTID_" data-action="add" class="js_watcherButton"><span class="glyphicon glyphicon glyphicon-eye-open" title="Add Watch (email notifications)"></span></a>';
                            }
                        }
                        var toReturn = `<div class="ddrop-box" data-issueid="` +
                            full.Key +
                            `">
                            <div class="ddrop-task">` +
                            full.Key +
                            `</div>
                            <div class="ddrop-summary">` +
                            full.Summary +
                            `</div>
                            <div class="ddrop-creator">` +
                            full.LocalCreator +
                            `</div>
                            <div class="ddrop-name">` +
                            full.Assignee +
                            `</div>
                            <div class="ddrop-status">
                                <span class="label label-success">` +
                            full.Status +
                            `</span>
                            </div>
                            <div class="ddrop-action">` +
                            watchLink +
                            `<a href="` +
                            '@Url.Action("EditIssue", "Jira", new {area = "Support", id = "_ISSUEID_"})' +
                            `"><span class="glyphicon glyphicon-pencil" title="Edit Issue or Add Comment"></span></a>
                            </div>
                        </div>`;

                        return toReturn.replace(/_ISSUEID_/g, full.Key).replace(/_PROJECTID_/g, $("#Project").val());
                    }
                }
            ]
        });
    } else {
        $('#@columnId').DataTable().draw(false);
    }

</script>