﻿@model ProfitOptics.Modules.Support.Models.ViewModels.IssuesViewModel

<style>
    #assigneesWrapper > .btn-group.bootstrap-select {
        width: 90% !important
    }

    #reportersWrapper > .btn-group.bootstrap-select {
        width: 90% !important
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-md-3">
                    <label>Reporter</label>
                    <div id="reportersWrapper">
                        <select class="selectpicker" asp-items="Model.ReporterSelectList" id="Reporter" asp-for="SelectedReporter" name="Reporter"></select>
                    </div>
                    <br />
                    <label for="Assignee">Assignee</label>
                    <div id="assigneesWrapper">
                        <select class="selectpicker" asp-items="Model.AssigneesSelectList" asp-for="SelectedAssignee" id="Assignee" name="Assignee" placeholder="Please select an Assignee"></select>
                    </div>
                    <br />
                    <button id="applyFiltersButton" class="btn btn-primary" style="width:200px">Apply Filters</button>
                </div>

                <div class="col-md-9" style="padding-bottom:0">
                    <label for="Project" title="Statuses and Components are per Project, you have to select one first">Project</label><br />
                    <select asp-for="SelectedProjectKey" asp-items="Model.ProjectSelectList" id="Project" name="Project" class="selectpicker form-control" placeholder="Please select a Project" style="width:300px"></select>
                    @*@Html.DropDownList("Project", Model.ProjectNames, new { @id = "Project", @name = "Project", @class = "selectpicker form-control", @placeholder = "Please select a Project", @style = "width:300px" })*@
                    <br />
                    <label>Component</label>
                    <button id="selectAllCompButton" class="pull-right btn btn-xs btn-primary" style="width:150px; margin-left:10px">Select All Components</button>
                    <button id="clearAllCompButton" class="pull-right btn btn-xs btn-default" style="width:150px">Clear All Components</button>
                </div>
                <div class="col-md-9 component-holder">
                    <div style="margin-top: 0;" id="componentsWrapper">
                        @foreach (var component in Model.AllComponents)
                        {
                            var isComponentSelected = Model.SelectedComponents?.Contains(component.Value) ?? false;
                            <div class="col-md-2">
                                <button class="btn btn-xs btn-block js_componentButton @(isComponentSelected ? "btn-primary" : "btn-default")"
                                        data-active="@isComponentSelected"
                                        data-componentid="@component.Value"
                                        onclick="toggleSelectedComponent(this)">
                                    @component.Text
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var toggleSelectedComponent = function (object) {
        var selected = $(object).attr("data-active").toLowerCase() === 'true' ? true : false;

        var newClass = !selected ? 'btn-primary' : 'btn-default';

        $(object).removeClass('btn-primary').removeClass('btn-default').addClass(newClass)
            .attr('data-active', !selected);

        //TODO: FrameworkCore: Add backend handler;
    }

</script>