﻿@using SupportModuleConstants = ProfitOptics.Modules.Support.SupportModuleConstants
@model ProfitOptics.Modules.Support.Models.ViewModels.IssuesViewModel

@{
    ViewBag.Title = "Support - Closed Issues";
    var columnName = SupportModuleConstants.Jira.BoardColumnNames.Closed;
}

<section class="content-header">
    <h1 class="pull-left">
        Closed Issues
    </h1>
    <div class="pull-right">
        <a class="btn btn-primary" href="@Url.Action("CreateIssue", "Jira", new {area="Support"})">Create a Ticket</a>
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">

    @await Html.PartialAsync("_Filter", Model)

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-md-4 text-left">
                        <div id="backlogButtonWrapper">
                            <button onclick="document.location='@Url.Action("BacklogIssues", "Jira", new {area="Support"})'" class="btn btn-default" style="width:200px">View Backlog</button>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <button onclick="document.location='@Url.Action("ViewIssues", "Jira", new {area="Support"})'" class="btn btn-default" style="width:200px">View Issues</button>
                    </div>
                    <div class="col-md-4 text-right">
                        <button onclick="document.location='@Url.Action("ClosedIssues", "Jira", new {area="Support"})'" class="btn btn-primary" style="width:200px">View Closed</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <table id="issuesTbl" cellpadding="0" cellspacing="0" border="0" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Type</th>
                                <th>Component</th>
                                <th>Summary</th>
                                <th>Assignee</th>
                                <th>Reporter</th>
                                <th>Updated</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="dragula-container ddrop" data-container="@columnName"></tbody>
                    </table>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="transitionsModal" tabindex="false" role="dialog" aria-labelledby="transitionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="transitionsModalLabel">Available Statuses</h4>
            </div>
            <div class="modal-body">
                <div id="transitionsModalButtonWrapper" class="col-md-12" style="margin-bottom: 35px">

                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button id="transitionsModalCancelButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script type="text/javascript">
    app.activeMenus = ["menuAdmin", "menuAdminJiraSupport"];

    var onAllTablesLoaded = function () {
        if (typeof (drake) != 'undefined' && drake != null) {
            drake.destroy();
        }

        support.setupDragNDrop();
    };

    var issuesTbl = null;
    var InitTables = function () {
        components = [];
        $('.js_componentButton').each(function () {
            var $this = $(this);
            var isActive = $this.attr('data-active').toLowerCase() === 'true' ? true : false;
            if (isActive) {
                components.push($this.attr('data-componentid'));
            }
        });
        if (issuesTbl == null) {
            issuesTbl = $('#issuesTbl').on('preXhr.dt', function (e, settings, data) {
                // callback before ajax call
                $('.table-overlay').show();
            }).on('xhr.dt', function (e, settings, json, xhr) {
                // callback after ajax call
                $('.table-overlay').hide();
                onAllTablesLoaded();
            }).DataTable({
                lengthChange: true,
                autoWidth: false,
                processing: true,
                serverSide: true,
                searching: false,
                ordering: false,
                paging: true,
                info: true,
                pageLength: 10,
                lengthMenu: [10, 25, 50, 100],
                searchDelay: 1500,
                ajax: {
                    url: '@Url.Action("IssuesData", "Jira", new {area = "Support"})',
                    data: function (d) {
                        d.statuses =  '["closed"]';
                        d.project = $("#Project").val();
                        d.components = JSON.stringify(components);
                        d.assignee = $('#Assignee').val();
                        d.reporter = $('#Reporter').val();
                    },
                    type: "POST"
                },
                language: {
                    processing: 'Loading...'
                },
                columns: [
                    {
                        data: "Key",
                        orderable: false,
                        width: "120",
                        render: function (data, type, full, meta) {
                            return "<span class='datacell'>" + full.Key + "</span>";
                        }
                    }, {
                        data: "Type",
                        orderable: false,
                        width: "100",
                        render: function (data, type, full, meta) {
                            return "<span class='datacell'>" + full.Type + "</span>";
                        }
                    }, {
                        data: "Component",
                        orderable: false,
                        width: "120",
                        render: function (data, type, full, meta) {
                            return "<span class='datacell'>" + full.Component + "</span>";
                        }
                    }, {
                        data: "Summary",
                        orderable: false,
                        render: function (data, type, full, meta) {
                            return "<span class='datacell'>" + full.Summary + "</span>";
                        }
                    }, {
                        data: "Assignee",
                        orderable: false,
                        width: "150",
                        render: function (data, type, full, meta) {
                            return "<span class='datacell'>" + full.Assignee + "</span>";
                        }
                    }, {
                        data: "Reporter",
                        orderable: false,
                        width: "150",
                        render: function (data, type, full, meta) {
                            return "<span class='datacell'>" + full.Reporter + '/' + full.LocalCreator + "</span>";
                        }
                    }, {
                        data: "Updated",
                        orderable: false,
                        width: "90",
                        render: function (data, type, full, meta) {
                            return "<span class='datacell'>" + full.Updated + "</span>";
                        }
                    }, {
                        data: "Key",
                        orderable: false,
                        width: "50",
                        render: function (data, type, full, meta) {
                            var toReturn =
                                `<div class="ddrop-box" data-issueid="` + full.Key + `">
                                    <div class="ddrop-action">

                                        <a href="` + '@Url.Action("EditIssue", "Jira", new { area = "Support", id = "_ISSUEID_" })' + `"><span class="glyphicon glyphicon-pencil" title="Edit Issue or Add Comment"></span></a>
                                    </div>
                                </div>`;

                            return toReturn.replace(/_ISSUEID_/g, full.Key);
                        }
                    }]
            });
        }
        else {
            issuesTbl.draw();
        }
    };

    var getComponents = function() {
        components = [];
        $('.js_componentButton').each(function () {
            var $this = $(this);
            var isActive = $this.attr('data-active').toLowerCase() === 'true' ? true : false;
            if (isActive) {
                components.push($this.attr('data-componentid'));
            }
        });

        return JSON.stringify(components);
    }

    $(document).ready(function () {
        var message = '@Model.SupportMessage';
        if (message != '') {
            bootbox.alert(message);
        }

        InitTables();

        var drake = null;
        var components = [];
        var screenBlockCounter = 0;

        support.onReady();
    });
    </script>
}
