﻿@model ProfitOptics.Modules.Support.Models.ViewModels.CreateIssueViewModel

@{
    ViewBag.Title = "Support - Create Issue";
}
<style>
    p {
        font-size: 12px;
        color: gray !important;
    }

    label {
        color: #428bca !important
    }

    .bootstrap-select {
        width: 100% !important;
    }
</style>


<section class="content-header">
    <h1 class="pull-left">
        Create a Ticket
    </h1>
    <div class="pull-right">
        <a class="btn btn-primary" href="@Url.Action("ViewIssues", "Jira", new {area="Support"})">View issues</a>
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-body">
                    <form asp-action="CreateIssue" asp-controller="Jira" method="post" id="form" class="form-horizontal" enctype="multipart/form-data">

                        @Html.ValidationSummary(true)
                        <div class="form-horizontal col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Project, new {@class = "col-md-12"})
                                <div class="col-md-12">
                                    <select asp-for="Project" asp-items="Model.ProjectList" id="Project" name="Project" class="selectpicker form-control" placeholder="Please select a Project"></select>
        
                                    @Html.ValidationMessageFor(m => m.Project)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Component, new {@class = "col-md-12"})
                                <div id="componentsWrapper" class="col-md-12">
                                    <select asp-for="Component" asp-items="Model.ComponentList" id="Component" name="Component" class="selectpicker form-control" placeholder="Please select a Component"></select>
                              
                                    @Html.ValidationMessageFor(m => m.Component)
                                </div>
                            </div>
                            <div class="form-group">
                                <div id="type-wrapper" class="col-md-6">
                                    @Html.LabelFor(m => m.Type)
                                    @Html.DropDownListFor(m => m.Type, Model.TypeList, new {@class = "selectpicker form-control"}) @Html.ValidationMessageFor(m => m.Type)
                                </div>
                                <div id="priority-wrapper" class="col-md-6">
                                    @Html.LabelFor(m => m.Priority)
                                    @Html.DropDownListFor(m => m.Priority, Model.PriorityList, new {@class = "selectpicker form-control"}) @Html.ValidationMessageFor(m => m.Priority)
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.Environment)
                                    @Html.TextBoxFor(m => m.Environment, new {@class = "form-control", placeholder = "Url address..."}) @Html.ValidationMessageFor(m => m.Environment)
                                </div>
                            </div>
                            <div class="form-group" id="parent-field">
                                <div id="parent-key-wrapper" class="col-md-12">
                                    @Html.LabelFor(m => m.ParentIssueKey)
                                    @Html.TextBoxFor(m => m.ParentIssueKey, new {@class = "form-control", placeholder = "Parent Issue..."}) @Html.ValidationMessageFor(m => m.ParentIssueKey)
                                </div>
                            </div>
                            <div class="form-group" id="epic-field">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.EpicName)
                                    @Html.TextBoxFor(m => m.EpicName, new {@class = "form-control", placeholder = "Epic name..."}) @Html.ValidationMessageFor(m => m.EpicName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.Summary)
                                    @Html.TextBoxFor(m => m.Summary, new {@class = "form-control", placeholder = "Short summary..."}) @Html.ValidationMessageFor(m => m.Summary)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.Description)
                                    @Html.TextAreaFor(m => m.Description, new {@class = "form-control", placeholder = "Full description...", rows = "5"}) @Html.ValidationMessageFor(m => m.Description)
                                    <p class="text-info">
                                        If you want to embed your image (you also need to attach the file) in description text, you can do so by surrounding the file name with exclamation marks (!).<br/> Example: <strong>!myimage.jpg!</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.Attachments)
                                    <input type="file" id="Attachments" name="Attachments" accept="image/*,video/*" multiple="multiple"/>
                                    <p class="text-info" style="margin-top: 10px">
                                        You can attach multiple files (images or video). They should be in the same folder, so you can select them in one go - if you open the dialog again, the previous files are removed. Hold down CTRL key while selecting several files to allow multiple selection.
                                    </p>
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group">
                                <div class="col-sm-3 pull-right">
                                    <input type="submit" class="btn btn-primary btn-block" value="Create"/>
                                </div>
                                <div class="col-sm-3 pull-right">
                                    <a class="btn btn-default btn-block" href="@Url.Action("ViewIssues", "Jira", new {area = "Support"})">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



@section scripts
    {
    <script type="text/javascript">
        app.activeMenus = ["menuAdmin", "menuAdminJiraSupport"];
        $(document).ready(function () {

            var message = '@Model.SupportMessage';
            if (message != '') {
                bootbox.alert(message);
            }

            var onProjectChange = function (callback) {
                app.blockUI("Persisting project...");

                $.ajax({
                    url: '@Url.Action("ChangeProject", "Jira", new {area = "Support"})',
                    data: { project: $("#Project").val() },
                    type: 'POST',
                    cache: false,
                    success: function (data) {
                        if (typeof (data) != 'undefined' && data != null && data != '' && data.Status == 'OK') {

                            fetchComponents();
                            fetchTypes();
                            fetchPriority();
                            fetchIssues();
                            if (typeof (callback) != 'undefined' && callback != null && typeof (callback) === 'function') {
                                callback();
                            }
                        } else {
                            bootbox.alert('Error while persisting project.');
                        }
                        app.unblockUI();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        app.unblockUI();
                        bootbox.alert('Error while persisting project.');
                    }
                });
            };

            var onComponentChange = function (callback) {
                app.blockUI("Persisting component...");

                $.ajax({
                    url: '@Url.Action("ChangeComponent", "Jira", new {area = "Support"})',
                    data: { component: $("#Component").val() },
                    type: 'POST',
                    cache: false,
                    success: function (data) {
                        if (typeof (data) != 'undefined' && data != null && data != '' && data.Status == 'OK') {
                            if (typeof (callback) != 'undefined' && callback != null && typeof (callback) === 'function') {
                                callback();
                            }
                        } else {
                            bootbox.alert('Error while persisting component.');
                        }
                        app.unblockUI();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        app.unblockUI();
                        bootbox.alert('Error while persisting component.');
                    }
                });
            };

            var fetchComponents = function(){
                app.blockUI("Loading Components...");

                $.ajax({
                    url: '@Url.Action("GetComponentsForProject", "Jira", new {area = "Support"})',
                    data: { projectKey: $("#Project").val() },
                    type: 'POST',
                    cache: false,
                    success: function (data) {
                        if (typeof (data) != 'undefined' && data != null && data != '' && data.Status == 'OK') {
                            var toAdd = '<select class="selectpicker" id="Component" name="Component" placeholder="Please select a Component"">';
                            for (var i = 0; i < data.Components.length; i++) {
                                toAdd += '<option value="_COMPONENT_ID_" _IS_CHECKED_>_COMPONENT_DESC_</option>'
                                    .replace(/_COMPONENT_ID_/g, data.Components[i].Text)
                                    .replace(/_COMPONENT_DESC_/g, data.Components[i].Text)
                                    .replace(/_IS_CHECKED_/g, data.Components[i].Value === "@Model.Component" ? 'selected' : '');
                            }
                            toAdd += '</select>';
                            $('#componentsWrapper').html(toAdd);
                            $('#Component').selectpicker();
                            $('#Component').change(function () {
                                onComponentChange();
                            });

                        } else {
                            bootbox.alert('Error while getting data.');
                        }
                        app.unblockUI();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        app.unblockUI();
                        bootbox.alert('Error while getting data.');
                    }
                });
            };

            var fetchTypes = function() {
                app.blockUI("Loading Types...");

                $.ajax({
                    url: '@Url.Action("GetIssueTypesForProject", "Jira", new {area = "Support"})',
                    type: 'POST',
                    data: { projectKey: $("#Project").val() },
                    cache: false,
                    success: function (data) {
                        if (typeof (data) != 'undefined' && data != null && data != '' && data.Status == 'OK') {
                            var toAdd = ' <label for="Type">Type</label> <select class="selectpicker" id="Type" name="Type" placeholder="Please select a type"">';
                            for (var i = 0; i < data.Types.length; i++) {
                                toAdd += '<option value="_TYPE_ID_" _IS_CHECKED_>_TYPE_DESC_</option>'
                                    .replace(/_TYPE_ID_/g, data.Types[i].Value)
                                    .replace(/_TYPE_DESC_/g, data.Types[i].Text)
                                    .replace(/_IS_CHECKED_/g, data.Types[i].Text === "@Model.Type" ? 'selected' : '');
                            }
                            toAdd += '</select>';
                            $('#type-wrapper').html(toAdd);
                            $('#Type').selectpicker();
                            $('#Type').change(function () {
                                onTypeChange();
                            });

                            onTypeChange();
                        } else {
                            bootbox.alert('Error while getting data.');
                        }
                        app.unblockUI();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        app.unblockUI();
                        bootbox.alert('Error while getting data.');
                    }
                });
            };

            var onTypeChange = function (callback) {
                app.blockUI("Persisting type...");

                if ($("#Type").find(":selected").text().toLowerCase() === "epic") {
                    $("#epic-field").show();
                } else {
                    $("#epic-field").hide();
                    $("#EpicName").val('');
                }

                if ($("#Type").find(":selected").text().toLowerCase() === "sub-task") {
                    $("#parent-field").show();
                } else {
                    $("#parent-field").hide();
                    $("#ParentIssueKey").val('');
                }

                app.unblockUI();
            };

            var fetchPriority = function() {
                app.blockUI("Loading Priorities...");

                $.ajax({
                    url: '@Url.Action("GetPrioritiesForProject", "Jira", new {area = "Support"})',
                    type: 'POST',
                    data: { projectKey: $("#Project").val() },
                    cache: false,
                    success: function (data) {
                        if (typeof (data) != 'undefined' && data != null && data != '' && data.Status == 'OK') {
                            var toAdd = ' <label for="Priority">Priority</label> <select class="selectpicker" id="Priority" name="Priority" placeholder="Please select a priority"">';
                            for (var i = 0; i < data.Priorities.length; i++) {
                                toAdd += '<option value="_PRIORITIES_ID_" _IS_CHECKED_>_PRIORITIES_DESC_</option>'
                                    .replace(/_PRIORITIES_ID_/g, data.Priorities[i].Value)
                                    .replace(/_PRIORITIES_DESC_/g, data.Priorities[i].Text)
                                    .replace(/_IS_CHECKED_/g, data.Priorities[i].Text == "@Model.Priority" ? 'selected' : '');
                            }
                            toAdd += '</select>';
                            $('#priority-wrapper').html(toAdd);
                            $('#Priority').selectpicker();

                        } else {
                            bootbox.alert('Error while getting data.');
                        }
                        app.unblockUI();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        app.unblockUI();
                        bootbox.alert('Error while getting data.');
                    }
                });
            };

            var fetchIssues = function() {
                app.blockUI("Loading Issues...");

                $.ajax({
                    url: '@Url.Action("GetIssuesForProject", "Jira", new {area = "Support"})',
                    data: { projectKey: $("#Project").val() },
                    type: 'POST',
                    cache: false,
                    success: function (data) {
                        if (typeof (data) != 'undefined' && data != null && data != '' && data.Status == 'OK') {
                            var toAdd = ' <label for="ParentIssueKey">Parent Issue</label> <select class="selectpicker" id="ParentIssueKey" name="ParentIssueKey" placeholder="Please select an issue"">';
                            for (var i = 0; i < data.Issues.length; i++) {
                                toAdd += '<option value="_PARENTISSUEKEY_ID_" _IS_CHECKED_>_PARENTISSUEKEY_DESC_</option>'
                                    .replace(/_PARENTISSUEKEY_ID_/g, data.Issues[i].Value)
                                    .replace(/_PARENTISSUEKEY_DESC_/g, data.Issues[i].Text)
                                    .replace(/_IS_CHECKED_/g, data.Issues[i].Value == "@Model.ParentIssueKey" ? 'selected' : '');
                            }
                            toAdd += '</select>';
                            $('#parent-key-wrapper').html(toAdd);
                            $('#ParentIssueKey').selectpicker();



                        } else {
                            bootbox.alert('Error while getting data.');
                        }
                        app.unblockUI();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        app.unblockUI();
                        bootbox.alert('Error while getting data.');
                    }
                });
            };

            $('#Project').change(function () {
                onProjectChange();
            });

            if ($('#Project').val() !== '') {
                fetchComponents();
                fetchIssues();
                fetchTypes();
                onTypeChange();
                fetchPriority();
            }
        });

    </script>
}