﻿@model ProfitOptics.Modules.Support.Models.ViewModels.UpdateIssueViewModel

@{
    ViewBag.Title = "Support - Edit Issue";
    Model.CanEdit = true;
}

<style>
    p {
        font-size: 12px;
        color: gray !important;
    }

    label {
        color: #428bca !important
    }
</style>

<section class="content-header">
    <h1 class="pull-left">
        Edit problem
    </h1>
    <div class="pull-right">
        <a class="btn btn-primary" href="@Url.Action("ViewIssues", "Jira", new {area="Support"})">View issues</a>
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-body">

                    @using (Html.BeginForm("EditIssue", "Jira", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(m => m.IssueId)
                        @Html.HiddenFor(m => m.IssueKey)
                        <div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Summary)
                                @if (Model.CanEdit)
                                {
                                    @Html.TextBoxFor(m => m.Summary, new { @class = "form-control", placeholder = "Short summary..." })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.Summary, new { @class = "form-control", placeholder = "Short summary...", @readonly = "readonly" })
                                }
                                @Html.ValidationMessageFor(m => m.Summary)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Type)<br />
                                @if (Model.CanEdit)
                                {
                                    <select id="Type" name="Type" class="selectpicker form-control" style="width:300px">
                                        @foreach (var issueType in Model.TypeList)
                                        {
                                            <option value="@issueType.Value" selected="@(issueType.Selected ? "selected" : null)">@issueType.Text</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.Type, new { @class = "form-control", @readonly = "readonly" })
                                }
                                @Html.ValidationMessageFor(m => m.Type)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Priority)<br />
                                @if (Model.CanEdit)
                                {
                                    <select id="Priority" name="Priority" class="selectpicker form-control" style="width:300px">
                                        @foreach (var prType in Model.PriorityList)
                                        {
                                            <option value="@prType.Value" selected="@(prType.Selected ? "selected" : null)">@prType.Text</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.Priority, new { @class = "form-control", @readonly = "readonly" })
                                }
                                @Html.ValidationMessageFor(m => m.Priority)
                            </div>
                            <div class="form-group" id="epic-field">
                                @Html.LabelFor(m => m.EpicName)
                                @if (Model.CanEdit)
                                {
                                    @Html.TextBoxFor(m => m.EpicName, new { @class = "form-control", placeholder = "Epic Name..." })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => m.EpicName, new { @class = "form-control", placeholder = "Epic Name...", @readonly = "readonly" })
                                }
                                @Html.ValidationMessageFor(m => m.EpicName)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Description)
                                @if (Model.CanEdit)
                                {
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Full description...", rows = "5" })
                                }
                                else
                                {
                                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Full description...", rows = "5", @readonly = "readonly" })
                                }
                                @Html.ValidationMessageFor(m => m.Description)
                                <p class="text-info">
                                    If you want to embed your image (you also need to attach the file) in description text, you can do so by surrounding the file name with exclamation marks (!).<br /> Example: <strong>!myimage.jpg!</strong>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="Attachment">Attachments</label>
                                @for (var i = 0; i < Model.Attachments.Count; i++)
                                {
                                    var attachment = Model.Attachments[i];
                                    string attachmentId = attachment.Id;
                                    string attachmentElementId = "deleteatt_" + attachmentId;
                                    <p id="p_@attachmentId" style="font-size:14px;">
                                        @(i + 1). @attachment.FileName &nbsp;
                                        <a href="@Url.Action("DownloadAttachment", "Jira", new { area = "Support", issueKey = Model.IssueKey, attachmentId = attachment.Id })" title="Download Attachment">Download Attachment</a> &nbsp;
                                        @if (Model.CanEdit)
                                        {
                                            <a id="@attachmentElementId" onclick="deleteAttachment('@Model.IssueKey','@attachment.Id');" style="cursor: pointer;">Delete Attachment</a>
                                        }
                                    </p>
                                }

                                <input type="file" id="NewAttachments" name="NewAttachments" accept="image/*,video/*" multiple="multiple" />

                                <p class="text-info" style="margin-top:10px">
                                    You can attach multiple files (images or video). They should be in the same folder, so you can select them in one go - if you open the dialog again, the previous files are removed. Hold down CTRL key while selecting several files to allow multiple selection.
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Comments</label><br /><br />
                                @for (var i = 0; i < Model.Comments.Count; i++)
                                {
                                    var comment = Model.Comments[i];
                                    <p style="border-bottom: #3a87ad; border-style: solid; border-width: 2px; border-right: none; border-left: none; border-top: none; font-size: 14px;">
                                        <b>@comment.CommentAuthor</b> added a comment - @comment.CommentUpdated?.ToString("yyyy/MM/dd HH:mm") <br /> <br />
                                        <i>@comment.CommentBody</i>
                                    </p>
                                }
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PostComment)
                                @Html.TextAreaFor(m => m.PostComment, new { @class = "form-control", placeholder = "Post comment...", rows = "5" })
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="col-sm-3 pull-right">
                                    <input type="submit" class="btn btn-primary btn-block" value="Update" />
                                </div>
                                <div class="col-sm-3 pull-right">
                                    <a class="btn btn-default btn-block" href="@Url.Action("ViewIssues", "Jira", new { area = "Support" })">Cancel</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div><div class="clearfix"></div>
    </div>
</section>
@section scripts
    {
    <script type="text/javascript">
        app.activeMenus = ["menuAdmin", "menuAdminJiraSupport"];
        $(document).ready(function() {
            var message = '@Model.SupportMessage';
            if (message != '') {
                bootbox.alert(message);
            }

            var onTypeChange = function() {
                app.blockUI("Persisting type...");

                if ($("#Type").find(":selected").text().toLowerCase() === "epic") {
                    $("#epic-field").show();
                    $("#EpicName").val('@Model.EpicName');
                } else {
                    $("#epic-field").hide();
                    $("#EpicName").val('');
                }

                app.unblockUI();
            };

            $("#Type").change( function() {
                onTypeChange();
            });

            onTypeChange();
        });


        function deleteAttachment(issueKey, attachmentId) {
            //if (confirm('Do you want to delete attachment?')) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteAttachment", "Jira", new {area = "Support"})",
                    data: {
                        'issueKey': issueKey,
                        'attachmentId': attachmentId
                    }
            }).done(function (data) {
                if (typeof (data) != 'undefined' && data != null && typeof data.Status != 'undefined' && data.Status == "OK") {
                    bootbox.alert("Attachment is successfully deleted.");
                    $("#p_" + attachmentId).remove();
                } else if (typeof (data) != 'undefined' && data != null && typeof data.Message != 'undefined' && data.Message != null && data.Message != '') {
                    bootbox.alert('There was a problem removing attachment: ' + data.Message);
                } else {
                    bootbox.alert('There was a problem removing attachment. Please try later.');
                }
            });
            //}
        }
    </script>
}