﻿@{
    ViewBag.Title = "Support - Global Watchers";
}

<section class="content-header">
    <h1 class="pull-left">
        Setup Global Email Notifications
    </h1>
    <div class="pull-right">
        <a class="btn btn-primary" href="@Url.Action("ViewIssues", "Jira", new {area="Support"})">View issues</a>
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-body">
                @using (Html.BeginForm("GlobalEmailNotifications", "Jira", FormMethod.Post, new { area = "Support", id = "globalEmailNotificationsForm", @class = "form" }))
                {
                    <div class="form-group js_emailNotification">
                        <label>Email: </label>
                        <input name="Emails[0]" type="email" class="form-control" />
                        <a href="javascript:void(0);" class="js_removeEmailField">Remove</a>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-primary" href="javascript:void(0);" id="addEmailField">Add</a>
                        <input type="submit" class="btn btn-default" value="Save">
                    </div>
                }
            </div>
        </div>
    </div>
</section>



@section scripts
    {
    <script type="text/javascript">
    app.activeMenus = ["menuAdmin", "menuAdminJiraSupport"];

    $(document).ready(function () {
        app.blockUI('Loading Global Watchers...');
        app.postJson('@Url.Action("GetGlobalEmailNotifications", "Jira", new { Area = "Support" })', {}).done(function (response) {
            if (typeof response != 'undefined' && response != null) {
                if (response.Status == "OK") {
                    $('.js_emailNotification').remove();
                    if (typeof response.Emails != 'undefined' && response.Emails != null && response.Emails.length > 0) {
                        for (var i = 0, len = response.Emails.length; i < len; i++) {
                            addEmailRow(response.Emails[i]);
                        }
                    }
                    addEmailRow();
                    setupEmailFieldRemoval();
                } else {
                    bootbox.alert(response.Message);
                }
            }
            app.unblockUI();
        });

        $("#globalEmailNotificationsForm").bind('submit', function (e) {
            app.blockUI('Updating Global Watchers...');

            e.preventDefault();
            $(this).ajaxSubmit({
                success: function (data) {
                    app.unblockUI();

                    if (typeof data !== "undefined" && data !== null) {
                        if (data.Status === 'OK') {
                            if (typeof data.Message !== 'undefined' && data.Message !== null && data.Message !== '') {
                                bootbox.alert(data.Message);
                            }
                        } else {
                            bootbox.alert(data.Message);
                        }
                    } else {
                        bootbox.alert("An error occured during update. Try again later.");
                    }
                },
                error: function () {
                    app.unblockUI();

                    bootbox.alert('An error occured during update. Try again later.');
                }
            });
            return false;
        });

        $('#addEmailField').click(function () {
            addEmailRow();
        });

        setupEmailFieldRemoval();
    });

    var setupEmailFieldRemoval = function () {
        $('.js_removeEmailField').click(function () {
            $(this).parent().remove();
            refreshEmailFieldsNumbering();
        });
    };
    var addEmailRow = function (value) {
        if (typeof value == 'undefined' || value == null) {
            value = '';
        }
        var next = 0;
        var existing = $('#globalEmailNotificationsForm').find('input[type="email"]');
        if (typeof existing != 'undefined' && existing != null && existing.length > 0) {
            existing.sort(function (a, b) {
                return $(a).attr('name') - $(b).attr('name');
            });
            next = parseInt($(existing[existing.length - 1]).attr('name').replace('Emails[', '').replace(']', '')) + 1;
        }
        var $html = $('<div class="form-group js_emailNotification"><label style="padding-top:5px" class="col-md-1 text-right">Email: </label><div  class=" col-md-3"><input name="Emails[' + next + ']" type="email" class="form-control" value="' + value + '" /></div><a style="margin-top:5px" href="javascript:void(0);" class="col-md-1 btn btn-danger btn-xs js_removeEmailField">Remove</a></div><div class="clearfix"></div>');
        $html.insertBefore($('#addEmailField'));
        setupEmailFieldRemoval();
    };
    var refreshEmailFieldsNumbering = function () {
        var existing = $('#globalEmailNotificationsForm').find('input[type="email"]');
        if (typeof existing != 'undefined' && existing != null && existing.length > 0) {
            existing.sort(function (a, b) {
                return $(a).attr('name') - $(b).attr('name');
            });
            for (var i = 0, len = existing.length; i < len; i++) {
                $(existing[i]).attr('name', 'Emails[' + i + ']');
            }
        }
    };
    </script>
}