﻿@model ProfitOptics.Modules.Support.Models.ViewModels.IssuesViewModel

@{
    ViewBag.Title = "Support - View Issues";
}

<section class="content-header">
    <h1 class="pull-left">View Issues</h1>
    <div class="pull-right">
        @if (User.IsInRole("admin"))
        {
            <a class="btn btn-warning" href="@Url.Action("GlobalWatchers", "Jira", new { area = "Support" })">Global Watchers</a>
        }
        <a class="btn btn-primary" href="@Url.Action("CreateIssue", "Jira", new {area="Support"})">Create a Ticket</a>
    </div>
    <div class="clearfix"></div>
</section>
<section class="content">
    @await Html.PartialAsync("_Filter", Model)

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-md-4 text-left">
                        @if (Model.HasBacklog)
                        {
                            <div id="backlogButtonWrapper">
                                <button onclick="document.location = '@Url.Action("BacklogIssues", "Jira", new {area = "Support"})'" class="btn btn-default" style="width: 200px">View Backlog</button>
                            </div>
                        }
                    </div>
                    <div class="col-md-4 text-center">
                        <button onclick="document.location='@Url.Action("ViewIssues", "Jira", new {area="Support"})'" class="btn btn-primary" style="width:200px">View Issues</button>
                    </div>
                    <div class="col-md-4 text-right">
                        <button onclick="document.location='@Url.Action("ClosedIssues", "Jira", new {area="Support"})'" class="btn btn-default" style="width:200px">View Closed</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @{
            if (Model.Board?.Columns != null && Model.Board.Columns.Count > 0)
            {
                foreach (var column in Model.Board?.Columns)
                {
                    @await Html.PartialAsync("_Column", column)
                }
            }
            else
            {
                <p>No data!</p>
            }
        }
    </div>

    <!-- Modal -->
    <div class="modal fade" id="transitionsModal" tabindex="false" role="dialog" aria-labelledby="transitionsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="transitionsModalLabel">Available Statuses</h4>
                </div>
                <div class="modal-body">
                    <div id="transitionsModalButtonWrapper" class="col-md-12" style="margin-bottom: 35px">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button id="transitionsModalCancelButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section styles {

}

@section scripts
    {
    <script type="text/javascript">
    app.activeMenus = ["menuAdmin", "menuAdminJiraSupport"];

        var setupWatchers = function () {

            $(document).off('click', '.js_watcherButton').on('click', '.js_watcherButton', function () {
            var $this = $(this);
            var projectId = $this.attr('data-projectid');
            var issueId = $this.attr('data-issueid');
            var action = $this.attr('data-action');
            var url = '';
            var updateLinkSpan = '';
            var blockScreenText = '';
            if (action == 'add') {
                url = '@Url.Action("AddWatch", "Jira", new { area = "Support" })';
                updateLinkSpan = '<span class="glyphicon glyphicon glyphicon-eye-close" title="Remove Watch (email notifications)"></span>';
                updateAction = 'remove';
                onSuccessMessage = 'Email Notifications Added.';
                blockScreenText = 'Adding Email Notifications...';
            } else if (action == 'remove') {
                url = '@Url.Action("RemoveWatch", "Jira", new { area = "Support" })';
                updateLinkSpan = '<span class="glyphicon glyphicon glyphicon-eye-open" title="Add Watch (email notifications)"></span>';
                updateAction = 'add';
                onSuccessMessage = 'Email Notifications Removed.';
                blockScreenText = 'Removing Email Notifications...';
            }

            app.blockUI(blockScreenText);
            $.ajax({
                url: url,
                data: {
                    projectId: projectId,
                    issueId: issueId
                },
                type: 'POST',
                cache: false,
                success: function (data) {
                    app.unblockUI();
                    if (typeof (data) != 'undefined' && data != null && data != '' && data.Status == 'OK') {
                        $this.attr('data-action', updateAction);
                        $this.html(updateLinkSpan);
                        bootbox.alert(onSuccessMessage);
                    } else {
                        bootbox.alert('Error while updating watcher.');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    app.unblockUI();
                    bootbox.alert('Error while updating watcher.');
                }
            });

        });
    };

    var getComponents = function() {
        components = [];
        $('.js_componentButton').each(function () {
            var $this = $(this);
            var isActive = $this.attr('data-active').toLowerCase() === 'true' ? true : false;
            if (isActive) {
                components.push($this.attr('data-componentid'));
            }
        });

        return JSON.stringify(components);
    }

    var onAllTablesLoaded = function () {
        if (typeof (drake) != 'undefined' && drake != null) {
            drake.destroy();
        }

        support.setupDragNDrop();
        setupWatchers();
    };

    var InitTables = function () {
            var tables = $(".issue-table");
            for (var i = 0; i < tables.length; i++) {
                $(tables[i]).DataTable().draw(false);
            }
    };

    $(document).ready(function () {
        var message = '@Model.SupportMessage';
        if (message != '') {
            bootbox.alert(message);
        }

        var drake = null;
        var components = [];
        var screenBlockCounter = 0;

        support.onReady();
    });
    </script>
}