﻿@using SupportSettings = ProfitOptics.Modules.Support.SupportSettings

@inject SupportSettings Settings
@model ProfitOptics.Modules.Support.Models.JiraRestModels.WebhookEvent

<table cellspacing="0" width="600" style="font-family:sans-serif; font-size:14px; border:1px solid #222222;box-shadow: 5px 5px 6px #ebebeb;">
    <tr style="background:#222222">
        <td colspan="2" style="text-align:center; padding:5px">
            <img src="@Settings.SupportJiraLogoImg" style="max-height: 100px;" />
        </td>
    </tr>
    <tr>
        <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Event:</td>
        <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.webhookEvent</td>
    </tr>
    @if (Model.changelog != null && Model.issue != null) // regular updates have changelog and issue, comments have only comment section and issue within that section
    {
        <tr style="background:#f3f3f3">
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Updated By:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.user.displayName</td>
        </tr>
        <tr>
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Project:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.fields.project.name</td>
        </tr>
        <tr style="background:#f3f3f3">
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Component:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@(Model.issue.fields.components[0] != null ? Model.issue.fields.components[0].name : "-")</td>
        </tr>
        <tr>
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Key:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.key</td>
        </tr>
        <tr style="background:#f3f3f3">
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Summary:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.fields.summary</td>
        </tr>
        <tr>
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Type:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.fields.issuetype.name</td>
        </tr>
        <tr style="background:#f3f3f3">
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Priority:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.fields.priority.name</td>
        </tr>
        <tr>
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Assignee:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.fields.assignee.displayName</td>
        </tr>
        <tr style="background:#f3f3f3">
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Reporter:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.fields.reporter.displayName</td>
        </tr>
        <tr>
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Status:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.fields.status.name</td>
        </tr>
        foreach (var log in Model.changelog.items)
        {
            <tr>
                <td colspan="2">
                    <div style="width:100%; margin:10px 0; height:1px; background:#dbdbdb"></div>
                </td>
            </tr>
            <tr style="background:#d3e8d3">
                <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Field:</td>
                <td style="text-align:left; font-weight:bold; font-style: italic; color:#000000; padding:5px">@log.field changed from @(!string.IsNullOrEmpty(log.fromString) ? log.fromString : "-") to @(!string.IsNullOrEmpty(log.toString) ? log.toString : "-")</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="width:100%; margin:10px 0; height:1px; background:#dbdbdb"></div>
                </td>
            </tr>
        }
    }
    else if (Model.comment != null)
    {
        <tr style="background:#f3f3f3">
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Project:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.fields.project.name</td>
        </tr>
        <tr>
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Key:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.key</td>
        </tr>
        <tr style="background:#f3f3f3">
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Summary:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.fields.summary</td>
        </tr>
        <tr>
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Type:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.fields.issuetype.name</td>
        </tr>
        <tr style="background:#f3f3f3">
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Priority:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.fields.priority.name</td>
        </tr>
        <tr>
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Assignee:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.fields.assignee.displayName</td>
        </tr>
        <tr style="background:#f3f3f3">
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Status:</td>
            <td style="text-align:left; font-weight:bold; color:#000000; padding:5px">@Model.issue.fields.status.name</td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="width:100%; margin:10px 0; height:1px; background:#dbdbdb"></div>
            </td>
        </tr>
        <tr style="background:#d3e8d3;">
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Author:</td>
            <td style="text-align:left; font-weight:bold; font-style: italic; color:#000000; padding:5px">@Model.comment.author.displayName</td>
        </tr>
        <tr style="background:#d3e8d3;">
            <td style="text-align:right;width:180px; color:#6b6b6b; padding:5px">Comment:</td>
            <td style="text-align:left; font-weight:bold; font-style: italic; color:#000000; padding:5px">@(Model.comment.body ?? "-")</td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="width:100%; margin:10px 0; height:1px; background:#dbdbdb"></div>
            </td>
        </tr>
    }
    <tr style="background:#222222;">
        <td colspan="2" style="color:#929292; padding:5px; font-size:12px; text-align:right">
            Ticket Support
        </td>
    </tr>
</table>