﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section master_styles{
    <link href="~/Modules/ProfitOptics.Modules.Support/Content/css/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Modules/ProfitOptics.Modules.Support/Content/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="~/Modules/ProfitOptics.Modules.Support/Content/css/dragula.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", false)
}

@section master_scripts{
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Support/Content/js/main.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Support/Content/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/Modules/ProfitOptics.Modules.Support/Content/js/dragula.min.js"></script>
    <script>
        (function (support) {
            support.urls = {
                "changeReporter": "@Url.Action("ChangeReporter", "Jira", new {area = "Support"})",
                "changeProject": "@Url.Action("ChangeProject", "Jira", new {area = "Support" })",
                "changeMultipleComponent": "@Url.Action("ChangeMultipleComponent", "Jira", new {area = "Support" })",
                "changeAssignee": "@Url.Action("ChangeAssignee", "Jira", new {area = "Support" })",
                "moveToBacklog": "@Url.Action("MoveToBacklog", "Jira", new {area = "Support" })",
                "updateStatus": "@Url.Action("UpdateStatus", "Jira", new {area = "Support" })",
                "rankBeforeIssue": "@Url.Action("RankBeforeIssue", "Jira", new {area = "Support" })",
                "rankAfterIssue": "@Url.Action("RankAfterIssue", "Jira", new {area = "Support" })",
                "getPossibleTransitions": "@Url.Action("GetPossibleTransitions", "Jira", new {area = "Support" })",
                "userSearch": "@Url.Action("UserSearch", "Jira", new {area = "Support" })"
            }
        }(window.support));
    </script>
    @RenderSection("scripts", false)
}

@RenderBody()