﻿@page
@{ Layout = null; }


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
    <link href="~/css/app.css" rel="stylesheet" />
</head>

<body style="background-image: url('/img/sox-background-login.png'); background-size: cover">
    <div style="background:rgba(0,0,0,.4); text-align:center;">
        <a href="/">
            <img src="/img/sox-logo-login.png" alt="" style="margin:20px" class="logo-sox">
        </a>
    </div>
    <div style="padding: 50px; background: rgba(0,0,0,.4); margin:30px auto; max-width:600px; border-radius: 30px; border: 1px solid rgba(0,0,0,0.1)">
        <div style="text-align:center">
            <p style="color:white; font-size:72px;margin:0">ERROR 404</p>
            <p style="color:white; font-size:30px;margin:0">Page Not Found.<br>Sorry Document or file requested was not found.</p>
            <a href="/" style="font-family: sans-serif;color: white;margin:30px; display:block">Back To Main page</a>
        </div>
    </div>
 
</body>

@await Html.PartialAsync("_GoogleAnalytics")
</html>