﻿@model ManualUploadViewModel
@{
    ViewBag.Title = "Load Data";
}

<section class="content-header">
    <h1>
        Upload Files
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">

                <div class="box-body">
                    <div class="add-scroll-small-res">
                        <table id="dt-table" class="table table-bordered table-striped table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Last Import By</th>
                                    <th>Last Import</th>
                                    <th>Record Count</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.FileTypes.Any())
                                {
                                    foreach (var fileType in Model.FileTypes)
                                    {
                                        <tr>
                                            <td>@fileType.FileTypeName</td>
                                            <td>@fileType.LastImportUsername</td>
                                            <td class="text-center">@(fileType.LastImportTime == null ? "Never" : fileType.LastImportTime.ToString())</td>
                                            <td class="text-right">@(fileType.RecordCount == null ? "-" : fileType.RecordCount.Value.ToString("N0"))</td>
                                            <td class="text-center"><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#UploadModal" onclick="page.FileTypeId = '@fileType.FileTypeId'">Upload New File</button></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>There was no data retrieved from the server.</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

</section>
<!-- Upload Modal -->
<div class="modal fade" id="UploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload Files</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Single File Upload:</label>
                        <div class="col-md-9">
                            <input type="file" id="uploadFiles" style="margin-top:4px;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnUpload">Upload</button>
            </div>
        </div>
    </div>
</div>

@section styles {
    <style type="text/css">
        /*Some customer styles for this page*/
    </style>
}

@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuManualEtl", "menuManualEtlLoadData"]; // List all menus that should be activated when this page is opened

        // Document Ready
        $(document).ready(function () {
            @if (Model.FileTypes.Any())
            {
                <text>
                    var table1 = $('#dt-table').DataTable({
                        pageLength: 25,
                    paging: true,
                    ordering: true,
                    responsive: true,
                    searching: false,
                    lengthChange: false,
                    columns: [
                            { orderable: true },
                        { orderable: true },
                        { orderable: true },
                        { orderable: true },
                        { orderable: false }]
                    });
                </text>
            }

            $("#btnUpload").click(function () {
                var files = $('#uploadFiles').prop('files');
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }

                        app.blockUI();
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Upload", "Upload", new { Area = "ManualETL" })?fileTypeId=' + page.FileTypeId,
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                location.reload();
                            },
                            error: function (xhr, status, p3, p4) {
                                $("#UploadModal").modal('hide');
                                app.unblockUI();
                                app.showAlertMessage("Error", "There was an error processing this file.", "error");
                            }
                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            });
        });

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {
            page.FileTypeId = '';
        }(window.page = window.page || {}, jQuery));
    </script>
}
