﻿@model List<DropdownItemModel>

@{
    ViewBag.Title = "Manual ETL - Control center";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <p>ETL Sources</p>
                    </h3>
                </div>
                <div class="box-body">
                    <div class="col-md-2">
                        <select class="form-control select2 select2-no-close source-select" name="source[]" style="width: 100%">
                            <option value="ALL">ALL</option>
                            @foreach (var option in Model)
                            {
                                <option value="@option.Value">@option.Text</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary view-by-source">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        ETL Logs
                    </h3>
                </div>
                <div class="box-body">
                    <div class="add-scroll-small-res">
                        <table id="etl-log-tbl" class="table table-bordered table-hover font-condensed">
                            <thead>
                                <tr>
                                    <th>Source</th>
                                    <th>File name</th>
                                    <th>Username</th>
                                    <th>Processing time</th>
                                    <th>Status</th>
                                    <th>Status message</th>
                                    <th>Row count</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="overlay table-overlay" hidden><i class="fa fa-refresh fa-spin"></i></div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

@section styles {
    <style type="text/css">
        /*Some customer styles for this page*/
        li > a {
            text-decoration: none;
            cursor: pointer;
        }
    </style>
}

@section scripts {
    <script type="text/javascript">
        app.activeMenus = ["menuManualEtl", "menuManualEtlControlCenter"]; // List all menus that should be activated when this page is opened

        function formatDate(jsonDate) {
            var date = new Date(parseInt(jsonDate.substring(6)));

            var dateStr = [
                    date.getMonth() + 1,
                    date.getDate(),
                    date.getFullYear()
                ].join('/') +
                ' ' +
                [
                    date.getHours(),
                    date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes(),
                    date.getSeconds()
                ].join(':');

            return dateStr;
        }

        // Document Ready
        $(document).ready(function () {
            $(".view-by-source").click(function() {
                $("#etl-log-tbl").DataTable().ajax.reload();
            });

            var dataTable = $('#etl-log-tbl').on('preXhr.dt',
                function(e, settings, data) {
                    $('#etl-log-tbl').parents(".row").find(".table-overlay").show();
                }).on('xhr.dt',
                function(e, settings, json, xhr) {
                    $('#etl-log-tbl').parents(".row").find(".table-overlay").hide();
                }).DataTable({
                lengthChange: true,
                autoWidth: false,
                processing: true,
                serverSide: true,
                searching: false,
                ordering: true,
                paging: true,
                info: true,
                order: [[0, "desc"]],
                pageLength: 10,
                lengthMenu: [10, 25, 50, 100, 250, 500],
                ajax: {
                    url: '@Url.Action("GetEtlLogData", "ControlCenter", new {area = "ManualEtl"})',
                    data: function (data) {
                        data.source = $(".source-select option:selected").val();
                    },
                    type: "POST"
                },
                language: {
                    processing: 'Please wait ...'
                },
                columns: [
                    {
                        data: "Source",
                        orderable: true,
                        className: "text-left",
                        render: function(data, type, full, meta) {
                            return full.Source;
                        }
                    },{
                        data: "FileName",
                        orderable: true,
                        className: "text-left",
                        render: function(data, type, full, meta) {
                            return full.FileName;
                        }
                    },
                    {
                        data: "Username",
                        orderable: true,
                        className: "text-left",
                        render: function (data, type, full, meta) {
                            return full.Username;
                        }
                    },{
                        data: "ProcessingTime",
                        orderable: true,
                        className: "text-left",
                        render: function(data, type, full, meta) {
                            return full.ProcessingTimeString;
                        }
                    },{
                        data: "Status",
                        orderable: true,
                        className: "text-left",
                        render: function(data, type, full, meta) {
                            return full.Status;
                        }
                    }, {
                        data: "StatusMessage",
                        orderable: true,
                        className: "text-left",
                        render: function (data, type, full, meta) {
                            return full.StatusMessage;
                        }
                    }, {
                        data: "RowCount",
                        orderable: true,
                        className: "text-left",
                        render: function (data, type, full, meta) {
                            return full.RowCount;
                        }
                    }
                ]
            });
            $(window).on('resize', function () {
                setTimeout(function () { dataTable.columns.adjust(); }, 800);
            });
        });

        // Encapsulate page logic. Check out page.js for example of public and private methods and properties
        (function (page, $, undefined) {
            $(".select2-no-close").select2({
                width: 'resolve', // need to override the changed default,
                closeOnSelect: false
            });
        }(window.page = window.page || {}, jQuery));
    </script>
}