﻿@using ProfitOptics.Modules.BackgroundTasks.Models;
@model List<BackgroundTaskViewModel>

<li class="dropdown tasks-menu">
    <!-- Menu Toggle Button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-flag-o"></i>
        <span class="label label-danger">@(Model.Count)</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">There are @(Model.Count) running tasks</li>
        <li>
            <!-- Inner menu: contains the tasks -->
            <ul class="menu">
                <li>
                    <!-- Task item -->
                    @foreach (var o in Model)
                    {
                        <a href="#">
                            <!-- Task title and progress text -->
                            <h3>
                                @(o.Description)
                                <small class="pull-right">@(o.Progress)%</small>
                            </h3>
                            <!-- The progress bar -->
                            <div class="progress xs">
                                <!-- Change the css width attribute to simulate progress -->
                                <div class="progress-bar progress-bar-aqua" style="width: @(o.Progress)%" role="progressbar" aria-valuenow="@(o.Progress)" aria-valuemin="0" aria-valuemax="100">
                                    <span class="sr-only">@(o.Progress)% Complete</span>
                                </div>
                            </div>
                        </a>
                    }
                </li>
                <!-- end task item -->
            </ul>
        </li>
        <li class="footer">
            <a href="#">View all tasks</a>
        </li>
    </ul>
</li>